Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [pre-commit]

default_language_version:
    python: python3

files: |
    (?x)^(
        .github/|
        cobalt/|
        media/starboard/|
        starboard/|
        .pre-commit-config.yaml|
        .pylintrc|
        docker-compose.yaml
    )

repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-case-conflict
    -   id: check-xml
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace

-   repo: https://cobalt.googlesource.com/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        name: Spell Check
        args: [-x, cobalt/precommit/.codespellignorelines,
               # The --ignore-words-list argument has a bug where it needs to
               # be lowercase, see
               # https://github.com/codespell-project/codespell/issues/1390
               --ignore-words-list, "atleast,varius,assertIn,requestor",
               ]
        exclude: |
            (?x)^(
                starboard/content/ssl/certs/|
                starboard/shared/starboard/player/testdata/|
                starboard/android/apk/app/src/app/assets/web/link_android_splash_screen.html
            )

-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: clang-format
        language: python
        types: [c++]
        args: [-i, -style=file]
        additional_dependencies: ['clang-format==17.0.1']
    -   id: yapf
        name: yapf
        entry: yapf
        language: python
        types: [python]
        args: [-i, -vv]
        additional_dependencies: ['yapf==0.40.2']
    -   id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [python]
        args: [-d W0201]
        additional_dependencies: ['pylint==3.3.1']
    -   id: python3-compatibility-check
        name: Python 3 Compatibility Check
        entry: python3 ./cobalt/precommit/python3_check.py
        language: python
        types: [python]
    -   id: google-java-format
        name: google-java-format
        entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
        language: python
        exclude: |
            (?x)^(
                starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java
            )
        types: [java]
    -   id: gn-format
        name: gn-format
        entry: gn format
        language: system
        files: '.*\.gni?$'

[POSIX] Add perror from musl to Chrobalt (#6052)
  starboard/tools/api_leak_detector/api_leak_detector.py
  third_party/musl/BUILD.gn
  third_party/musl/src/stdio/perror.c
Due: yapf, pylint, python3-compatibility-check

Secure nav throttle unit tests and HTTPS switch (#5962)
  cobalt/browser/cobalt_secure_navigation_throttle.cc
  cobalt/browser/cobalt_secure_navigation_throttle.h
  cobalt/browser/cobalt_secure_navigation_throttle_unittest.cc
  cobalt/browser/switches.h
Due: clang-format

Disable concurrent-marking through gn args (#6120)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
  cobalt/build/configs/common.gn
Due: google-java-format, gcheckstyle, gn-format

[POSIX] Add fstatfs stub in //third_party/musl (#6099)
  starboard/tools/api_leak_detector/api_leak_detector.py
  third_party/musl/BUILD.gn
  third_party/musl/src/starboard/statfs/statfs_stub.c
Due: yapf, pylint, python3-compatibility-check

.github/CODEOWNERS: Update some folders and categories. (#6121)
  .github/CODEOWNERS
Due: none

Clean up runtime deps for modular build (#6066)
  cobalt/build/modular_executable.gni
Due: gn-format

Refactor StarboardBridge JNI: Streamline System Property Retrieval (#6112)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/application_android.cc
  starboard/android/shared/application_android.h
  starboard/android/shared/file_internal.cc
  starboard/android/shared/file_internal.h
  starboard/android/shared/starboard_bridge.cc
  starboard/android/shared/starboard_bridge.h
Due: clang-format, google-java-format, gcheckstyle

CobaltA11yHelper always reports focus to WebContent (#6123)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltA11yHelper.java
Due: google-java-format, gcheckstyle

Remove duplicated code by redefining function name (#6111)
  ui/events/keycodes/cobalt/keyboard_code_conversion_android_cobalt.cc
Due: none

Add api_leak_detector to CI jobs (#6022)
  .github/actions/api_leak_detector/action.yaml
  .github/config/evergreen-x64.json
  .github/workflows/evergreen.yaml
  .github/workflows/main.yaml
  build/config/compiler/BUILD.gn
  cobalt/build/configs/linux-x64x11-modular/args.gn
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/api_leak_detector/evergreen/manifest
Due: yapf, pylint, python3-compatibility-check, gn-format

Fix gold UA condition (#6122)
  cobalt/browser/user_agent/user_agent_platform_info.cc
Due: clang-format

Remove contentview_holder FrameLayout (#6100)
  cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java
  cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
Due: google-java-format, gcheckstyle

Migrate AudioTrackBridge to jni_generator (#6010)
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  starboard/android/shared/audio_track_bridge.cc
  starboard/android/shared/audio_track_bridge.h
Due: clang-format, google-java-format, gcheckstyle, gn-format

[atv] Refine type/function names in MediaDecoder (#6134)
  starboard/android/shared/audio_decoder.cc
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/video_decoder.cc
Due: clang-format

[android] Add a delay for MediaCodec during Reset() and Flush() (#6068)
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/player_components_factory.cc
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
Due: clang-format

Build almost all linux targets hermetically (#6097)
  .github/config/evergreen-x64.json
  .github/config/linux-modular.json
  build/config/compiler/BUILD.gn
  cobalt/build/configs/linux-x64x11-modular/args.gn
  cobalt/build/modular_executable.gni
  cobalt/build/testing/targets/evergreen-x64/test_targets.json
  cobalt/build/testing/targets/linux-x64x11-modular/test_targets.json
  content/shell/BUILD.gn
  gpu/ipc/service/gpu_channel_manager_unittest.cc
  media/capture/BUILD.gn
  services/service_manager/public/cpp/service_executable/BUILD.gn
  skia/public/mojom/test/mojom_traits_unittest.cc
  starboard/BUILD.gn
  starboard/client_porting/wrap_main/wrap_main.h
  starboard/common/BUILD.gn
  starboard/shared/starboard/player/filter/testing/wsola_internal_test.cc
  starboard/testing/run_all_unittests_starboard.cc
  third_party/blink/renderer/platform/text/layout_locale_test.cc
Due: clang-format, gn-format

[media] Include Header Explicitly for usleep (#6137)
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/video_decoder.cc
Due: clang-format

Update BUILD.gn
  starboard/common/BUILD.gn
Due: gn-format

Remove unneeded Shape Detection (#7105)
  cobalt/android/BUILD.gn
  content/public/android/BUILD.gn
Due: gn-format

Fix clang warnings for android builds (#6141)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltTextToSpeechHelper.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/accessibility_get_caption_settings.cc
  starboard/android/shared/android_media_session_client.cc
  starboard/android/shared/audio_decoder.cc
  starboard/android/shared/egl_swap_buffers.cc
  starboard/android/shared/max_media_codec_output_buffers_lookup_table.cc
  starboard/android/shared/media_capabilities_cache.cc
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_drm_bridge.cc
  starboard/android/shared/microphone_impl.cc
  starboard/android/shared/platform_info.cc
  starboard/android/shared/runtime_resource_overlay.cc
  starboard/android/shared/system_get_locale_id.cc
  starboard/android/shared/system_get_property.cc
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_frame_tracker.cc
  starboard/android/shared/video_window.cc
  starboard/nplb/file_atomic_replace_test.cc
  starboard/nplb/posix_compliance/posix_socket_resolve_test.cc
  starboard/nplb/posix_compliance/posix_usleep_test.cc
  starboard/shared/egl/system_egl.cc
  starboard/shared/linux/cpu_features_get.cc
  starboard/shared/linux/system_get_random_data.cc
  starboard/shared/linux/system_is_debugger_attached.cc
  starboard/shared/signal/crash_signals_sigaction.cc
  starboard/shared/signal/suspend_signals.cc
  starboard/shared/starboard/accessibility_internal.h
  starboard/shared/starboard/application.cc
  starboard/shared/starboard/log_mutex.cc
  starboard/shared/starboard/player/filter/adaptive_audio_decoder_internal.cc
  starboard/shared/starboard/player/filter/audio_channel_layout_mixer_impl.cc
  starboard/shared/starboard/player/input_buffer_internal.cc
  starboard/shared/starboard/player/player_worker.cc
Due: clang-format, google-java-format, gcheckstyle, gn-format

Revert "Fix missing Feature flags initialization" (#6092)
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_content_browser_client.cc
Due: clang-format, gn-format

Remove clang warning suppressions (#6139)
  base/test/run_all_unittests.cc
  cc/test/run_all_unittests.cc
  cobalt/browser/cobalt_secure_navigation_throttle.cc
  cobalt/browser/metrics/cobalt_metrics_services_manager_client_test.cc
  cobalt/browser/migrate_storage_record/migration_manager_unittest.cc
  components/viz/test/run_all_unittests.cc
  media/starboard/bidirectional_fit_reuse_allocator_test.cc
  media/starboard/decoder_buffer_allocator_test.cc
  media/starboard/progressive/mp4_map_unittest.cc
  media/starboard/progressive/rbsp_stream_unittest.cc
  net/base/network_change_notifier_passive_starboard_stub.cc
  starboard/BUILD.gn
  starboard/raspi/shared/player_components_factory.cc
  starboard/shared/modular/starboard_layer_posix_socket_abi_wrappers.cc
  starboard/testing/run_all_unittests_starboard.cc
  third_party/llvm-project/libunwind/BUILD.gn
Due: clang-format, gn-format

cobalt/shell: Removing dependency on ShellContentBrowserClient (#6076)
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/cobalt_browser_main_parts.h
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/browser/cobalt_web_contents_observer.h
  cobalt/shell/BUILD.gn
  cobalt/shell/android/shell_manager.cc
  cobalt/shell/android/shell_manager.h
  cobalt/shell/app/shell_main_delegate.cc
  cobalt/shell/app/shell_main_delegate.h
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell_browser_context.cc
  cobalt/shell/browser/shell_content_browser_client.cc
  cobalt/shell/browser/shell_content_browser_client.h
  cobalt/shell/browser/shell_devtools_bindings.cc
Due: clang-format, gn-format

Remove Shell and ShellManager from native UI (#6074)
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/res/layout/content_shell_activity.xml
  cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java
  cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
Due: google-java-format, gcheckstyle, gn-format

Remove starboard-only default switches code from non-SB builds (#6125)
  cobalt/BUILD.gn
Due: gn-format

[Cleanup] Remove `starboard/.../concurrency_debug.h` (#6038)
  starboard/common/BUILD.gn
  starboard/common/experimental/concurrency_debug.cc
  starboard/common/experimental/concurrency_debug.h
Due: clang-format, gn-format

Keep screen saver the same as Cobalt 25. (#6153)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: google-java-format, gcheckstyle

Add nplb for evergreen (#6132)
  .github/actions/on_host_tests/action.yaml
  .github/config/evergreen-x64.json
  cobalt/build/archive_test_artifacts.py
  cobalt/build/modular_executable.gni
  cobalt/build/testing/targets/evergreen-x64/test_targets.json
  cobalt/testing/filters/evergreen-x64/nplb_loader_filter.json
  starboard/content/fonts/BUILD.gn
  starboard/loader_app/BUILD.gn
Due: yapf, pylint, python3-compatibility-check, gn-format

Partially fix stack traces for Evergreen (#6145)
  cobalt/build/configs/initialize_variables.gni
  cobalt/build/configs/variables.gni
  starboard/elf_loader/evergreen_info.cc
  starboard/linux/x64x11/shared/platform_configuration/configuration.gni
  third_party/llvm-project/libunwind/BUILD.gn
Due: clang-format, gn-format

Copy content/shell/renderer/ to cobalt/shell/renderer (#6150)
  cobalt/shell/BUILD.gn
  cobalt/shell/app/shell_main_delegate.cc
  cobalt/shell/renderer/DEPS
  cobalt/shell/renderer/render_frame_test_helper.cc
  cobalt/shell/renderer/render_frame_test_helper.h
  cobalt/shell/renderer/shell_content_renderer_client.cc
  cobalt/shell/renderer/shell_content_renderer_client.h
  cobalt/shell/renderer/shell_render_frame_observer.cc
  cobalt/shell/renderer/shell_render_frame_observer.h
Due: clang-format, gn-format

[media] Add SbPlayerInterface for Testing StarboardRenderer (#6160)
  media/starboard/starboard_renderer.cc
  media/starboard/starboard_renderer.h
Due: clang-format

Revert "cobalt/shell: Removing dependency on ShellContentBrowserClient (#6076)" (#6164)
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/cobalt_browser_main_parts.h
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/browser/cobalt_web_contents_observer.h
  cobalt/shell/BUILD.gn
  cobalt/shell/android/shell_manager.cc
  cobalt/shell/android/shell_manager.h
  cobalt/shell/app/shell_main_delegate.cc
  cobalt/shell/app/shell_main_delegate.h
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell_browser_context.cc
  cobalt/shell/browser/shell_content_browser_client.cc
  cobalt/shell/browser/shell_content_browser_client.h
  cobalt/shell/browser/shell_devtools_bindings.cc
Due: clang-format, gn-format

reportFullyDrawn() to Android Performance Console (#6162)
  cobalt/renderer/BUILD.gn
  cobalt/renderer/cobalt_render_frame_observer.cc
  cobalt/renderer/cobalt_render_frame_observer.h
  cobalt/renderer/cobalt_render_frame_observer_unittest.cc
Due: clang-format, gn-format

Revert "Clean up runtime deps for modular build " (#6167)
  cobalt/build/modular_executable.gni
Due: gn-format

Remove some unused functions in //starboard/ (#6142)
  starboard/common/socket.h
  starboard/nplb/posix_compliance/posix_socket_helpers.cc
  starboard/nplb/posix_compliance/posix_socket_helpers.h
  starboard/shared/alsa/alsa_util.h
  starboard/shared/input/key_charcode_conversion_internal.cc
  starboard/shared/input/key_charcode_conversion_internal.h
Due: clang-format

[media] Fix nullptr in StarboardRenderer::Initialize() (#6172)
  media/starboard/starboard_renderer.cc
Due: clang-format

net/quic/ + net/socket/: Read multiple packets per call for QUIC connections (#6109)
  net/quic/quic_chromium_packet_reader.cc
  net/quic/quic_chromium_packet_reader.h
  net/socket/socket.cc
  net/socket/socket.h
  net/socket/udp_client_socket.cc
  net/socket/udp_client_socket.h
  net/socket/udp_socket_posix.cc
  net/socket/udp_socket_posix.h
  starboard/elf_loader/exported_symbols.cc
  starboard/tools/api_leak_detector/api_leak_detector.py
Due: clang-format, yapf, pylint, python3-compatibility-check

[media] Reject CDM Switching if |cdm_context_| is valid (#6177)
  media/starboard/starboard_renderer.cc
Due: clang-format
