Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, internal-file-check, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

yapf:
  name: yapf
  description: Run yapf (the python formatter) in-place on changed files.
  entry: yapf
  language: system
  args:
  - -i
  - -vv

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

google-java-format:
  name: google-java-format
  entry: python ./precommit_hooks/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: Lint Java With gcheckstyle
  entry: python ./precommit_hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-copyright-year:
  name: check copyright year
  entry: python ./precommit_hooks/check_copyright_year.py
  language: python
  stages:
  - push
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: python ./precommit_hooks/warn_that_starboard_interface_changed_wrapper.py
  language: python
  stages:
  - push

test-python3-compatibility:
  name: Test Python 3 Compatibility
  description: Checks that scripts can be run in Python 3
  entry: python precommit_hooks/python3_check.py
  language: python
  verbose: true

internal-file-check:
  name: Internal File Check
  entry: python precommit_hooks/internal_file_check_wrapper.py
  language: python

gn-format:
  name: GN format
  entry: gn format
  language: system

Updating //build for cobalt.
  build/BUILD.gn
  build/android/docs/coverage.md
  build/android/pylib/gtest/gtest_test_instance_test.py
  build/android/pylib/local/device/local_device_test_run.py
  build/android/pylib/results/json_results_test.py
  build/build_config.h
  build/config/BUILD.gn
  build/config/android/internal_rules.gni
  build/config/apple/sdk_info.py
  build/config/arm.gni
  build/config/clang/clang.gni
  build/config/compiler/BUILD.gn
  build/config/compiler/compiler.gni
  build/config/dcheck_always_on.gni
  build/config/fuchsia/test/web_instance_host_capabilities.test-cmx
  build/config/mac/mac_sdk.gni
  build/config/ozone.gni
  build/config/pch.gni
  build/config/sanitizers/BUILD.gn
  build/config/sysroot.gni
  build/config/ui.gni
  build/config/win/BUILD.gn
  build/config/win/visual_studio_version.gni
  build/lacros/lacros_resource_sizes.pydeps
  build/lacros/test_runner.py
  build/toolchain/BUILD.gn
  build/toolchain/apple/toolchain.gni
  build/toolchain/cc_wrapper.gni
  build/toolchain/concurrent_links.gni
  build/toolchain/gcc_toolchain.gni
  build/toolchain/ios/compile_xcassets.py
  build/toolchain/win/msvc_toolchain.gni
  build/win/BUILD.gn
  build_overrides/crypto.gni
  crypto/BUILD.gn
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/util/is_python2.py
  starboard/linux/x64x11/clang/3.9/platform_configuration/BUILD.gn
  third_party/angle/gni/angle.gni
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check, gn-format

Fix include paths for windows platforms
  build/toolchain/win/msvc_toolchain.gni
  starboard/build/config/win/BUILD.gn
  starboard/build/toolchain/win/BUILD.gn
  starboard/build/toolchain/win/variables.gni
  starboard/win/shared/platform_configuration/BUILD.gn
  starboard/win/win32/toolchain/BUILD.gn
  starboard/xb1/toolchain/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Fix ImportantFileWriterTest.
  base/files/file_util.cc
  base/files/important_file_writer.cc
  base/files/important_file_writer_cleaner_unittest.cc
  base/files/important_file_writer_unittest.cc
Due: none

Enable more passed tests
  base/BUILD.gn
Due: none

Disable EG tests after SbTime API deprecation
  starboard/evergreen/testing/run_all_tests.sh
Due: check-copyright-year, internal-file-check

Fix redirect location to handle /
  cobalt/site/deploy/main.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Disable EG tests after SbTime API deprecation (#2203)
  starboard/evergreen/testing/run_all_tests.sh
Due: check-copyright-year, internal-file-check

Fix redirect location to handle / (#2204)
  cobalt/site/deploy/main.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Revert "Disable EG tests after SbTime API deprecation"
  starboard/evergreen/testing/run_all_tests.sh
Due: check-copyright-year, internal-file-check

Use base::TimeDelta in DecoderBuffer::Allocator
  cobalt/media/decoder_buffer_allocator.cc
  cobalt/media/decoder_buffer_allocator.h
  third_party/chromium/media/base/decoder_buffer.h
  third_party/chromium/media/filters/source_buffer_stream.cc
Due: clang-format, cpplint, internal-file-check

Disable MediaPlaybackService by default (#2184)
  cobalt/demos/content/enable-background-playback/enable-background-playback-test.html
  cobalt/media/BUILD.gn
  cobalt/media/media_module.cc
  cobalt/media/media_module_test.cc
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/CobaltMediaSession.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/h5vcc_config.cc
  starboard/android/shared/h5vcc_config.h
  starboard/android/shared/system_get_extensions.cc
  starboard/extension/extension_test.cc
  starboard/extension/h5vcc_config.h
Due: clang-format, cpplint, google-java-format, gcheckstyle, check-copyright-year, internal-file-check, gn-format

Use base::TimeDelta in DecoderBuffer::Allocator (#2209)
  cobalt/media/decoder_buffer_allocator.cc
  cobalt/media/decoder_buffer_allocator.h
  third_party/chromium/media/base/decoder_buffer.h
  third_party/chromium/media/filters/source_buffer_stream.cc
Due: clang-format, cpplint, internal-file-check

Revert "Disable MediaPlaybackService by default"
  cobalt/demos/content/enable-background-playback/enable-background-playback-test.html
  cobalt/media/BUILD.gn
  cobalt/media/media_module.cc
  cobalt/media/media_module_test.cc
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/CobaltMediaSession.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/h5vcc_config.cc
  starboard/android/shared/h5vcc_config.h
  starboard/android/shared/system_get_extensions.cc
  starboard/extension/extension_test.cc
  starboard/extension/h5vcc_config.h
Due: clang-format, cpplint, google-java-format, gcheckstyle, check-copyright-year, internal-file-check, gn-format

Revert "Disable MediaPlaybackService by default" (#2211)
  cobalt/demos/content/enable-background-playback/enable-background-playback-test.html
  cobalt/media/BUILD.gn
  cobalt/media/media_module.cc
  cobalt/media/media_module_test.cc
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/CobaltMediaSession.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/h5vcc_config.cc
  starboard/android/shared/h5vcc_config.h
  starboard/android/shared/system_get_extensions.cc
  starboard/extension/extension_test.cc
  starboard/extension/h5vcc_config.h
Due: clang-format, cpplint, google-java-format, gcheckstyle, check-copyright-year, internal-file-check, gn-format

Adapt libpng GN configuration for Starboard
  third_party/libpng/BUILD.gn
Due: none

[XB1] Replace mft av1 decoder by sw dav1d based decoder in XBOX Series
  starboard/shared/uwp/extended_resources_manager.cc
  starboard/shared/uwp/media_is_video_supported.cc
  starboard/xb1/shared/video_decoder_uwp.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

[XB1] Replace mft av1 decoder by sw dav1d based decoder in XBOX Series
  starboard/shared/uwp/extended_resources_manager.cc
  starboard/shared/uwp/media_is_video_supported.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Remove redundant declaration of enum
  net/third_party/quic/core/tls_handshaker.h
Due: none

Adapt BoringSSL GN configuration
  third_party/boringssl/BUILD.gn
Due: none

Remove usages of no-op POEMs (libjpeg)
  starboard/client_porting/poem/include_all.c
  starboard/client_porting/poem/strings_poem.h
  third_party/libjpeg-turbo/jcstest.c
  third_party/libjpeg-turbo/jinclude.h
  third_party/libjpeg-turbo/simd/arm/aarch32/jsimd.c
  third_party/libjpeg-turbo/simd/arm/aarch64/jsimd.c
  third_party/libjpeg-turbo/tjutil.h
  third_party/libjpeg-turbo/turbojpeg.c
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Remove usages of no-op POEMs (libjpeg) (#2214)
  starboard/client_porting/poem/include_all.c
  starboard/client_porting/poem/strings_poem.h
  third_party/libjpeg-turbo/jcstest.c
  third_party/libjpeg-turbo/jinclude.h
  third_party/libjpeg-turbo/simd/arm/aarch32/jsimd.c
  third_party/libjpeg-turbo/simd/arm/aarch64/jsimd.c
  third_party/libjpeg-turbo/tjutil.h
  third_party/libjpeg-turbo/turbojpeg.c
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Revert "Disable EG tests after SbTime API deprecation" (#2206)
  starboard/evergreen/testing/run_all_tests.sh
Due: check-copyright-year, internal-file-check

Reapply "Deprecate SbMemoryMap APIs. (#2064)" (#2136)
  starboard/CHANGELOG.md
  starboard/build/config/modular/BUILD.gn
  starboard/build/config/starboard_target_type.gni
  starboard/elf_loader/BUILD.gn
  starboard/elf_loader/exported_symbols.cc
  starboard/elf_loader/program_table.cc
  starboard/memory.h
  starboard/nplb/BUILD.gn
  starboard/nplb/nplb_evergreen_compat_tests/executable_memory_test.cc
  starboard/nplb/posix_compliance/posix_memory_map_test.cc
  starboard/shared/modular/BUILD.gn
  starboard/shared/modular/posix_mmap_wrappers.cc
  starboard/shared/modular/posix_mmap_wrappers.h
  starboard/shared/posix/memory_map.cc
  starboard/shared/posix/memory_protect.cc
  starboard/shared/posix/memory_unmap.cc
  starboard/shared/posix/page_internal.cc
  starboard/shared/posix/page_internal.h
  starboard/shared/win32/memory_flush.cc
  starboard/shared/win32/memory_map.cc
  starboard/shared/win32/memory_protect.cc
  starboard/shared/win32/posix_emu/include/posix_force_include.h
  starboard/shared/win32/posix_emu/include/sys/mman.h
  starboard/shared/win32/posix_emu/include/time.h
  starboard/shared/win32/posix_emu/mman.cc
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/win/shared/BUILD.gn
  starboard/win/shared/platform_configuration/BUILD.gn
  third_party/icu/source/common/umapfile.cpp
  third_party/musl/BUILD.gn
  third_party/musl/src/starboard/mman/mman.c
  third_party/v8/src/base/platform/platform-starboard.cc
Due: clang-format, cpplint, yapf, pylint, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, internal-file-check, gn-format

Move added cflags entries
  build/config/compiler/BUILD.gn
Due: none

Restore some Cobalt customizations
  build/BUILD.gn
  build/config/android/internal_rules.gni
  build/config/apple/sdk_info.py
  build/config/compiler/compiler.gni
  build/config/dcheck_always_on.gni
  build/config/ozone.gni
  build/config/pch.gni
  build/config/ui.gni
  build/toolchain/BUILD.gn
Due: none

Fix ImportantFileWriterTest. (#2200)
  base/files/file_util.cc
  base/files/important_file_writer.cc
  base/files/important_file_writer_cleaner_unittest.cc
  base/files/important_file_writer_unittest.cc
Due: none

Revert "Revert "Disable MediaPlaybackService by default""
  cobalt/demos/content/enable-background-playback/enable-background-playback-test.html
  cobalt/media/BUILD.gn
  cobalt/media/media_module.cc
  cobalt/media/media_module_test.cc
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/CobaltMediaSession.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/h5vcc_config.cc
  starboard/android/shared/h5vcc_config.h
  starboard/android/shared/system_get_extensions.cc
  starboard/extension/extension_test.cc
  starboard/extension/h5vcc_config.h
Due: clang-format, cpplint, google-java-format, gcheckstyle, check-copyright-year, internal-file-check, gn-format

Implement memory_mapped_file_starboard
  base/BUILD.gn
  base/files/file.cc
  base/files/file.h
  base/files/file_starboard.cc
  base/files/memory_mapped_file_starboard.cc
  base/metrics/persistent_memory_allocator.cc
  base/metrics/persistent_memory_allocator.h
Due: none

Disable MediaPlaybackService (#2212)
  cobalt/demos/content/enable-background-playback/enable-background-playback-test.html
  cobalt/media/BUILD.gn
  cobalt/media/media_module.cc
  cobalt/media/media_module_test.cc
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/CobaltMediaSession.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/h5vcc_config.cc
  starboard/android/shared/h5vcc_config.h
  starboard/android/shared/system_get_extensions.cc
  starboard/extension/extension_test.cc
  starboard/extension/h5vcc_config.h
Due: clang-format, cpplint, google-java-format, gcheckstyle, check-copyright-year, internal-file-check, gn-format

Fix JSONReaderTest.ReadFromFile
  base/BUILD.gn
  base/base_paths.cc
  base/json/json_reader_unittest.cc
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^internal/starboard/shared/uikit/.*\.h$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  yapf: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  pylint: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  google-java-format: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gcheckstyle: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not ((?x)^(
    .pre-commit-config.yaml$|
    cobalt/media/|
    cobalt/layout_tests/testdata/|
    nb/|
    starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.cc$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.h$|
    starboard/shared/starboard/player/filter/wsola_internal.cc$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  check-if-starboard-interface-changed: any of: ^starboard/[^/]+\.h$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  test-python3-compatibility: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  internal-file-check: any of: not ((^docker-compose-windows(-internal)?.yml|EXCLUDE\.FILES(\.RECURSIVE)?|codereview\.settings)$), but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gn-format: any of: .*\.gni?$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

