Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, run-py2-tests, internal-file-check, gn-format

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  description: Run yapf (the python formatter) in-place on changed files.
  entry: yapf
  language: system
  args:
  - -i
  - -vv

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: python ./precommit_hooks/clang_format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: python ./precommit_hooks/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: Lint Java With gcheckstyle
  entry: python ./precommit_hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-copyright-year:
  name: check copyright year
  entry: python ./precommit_hooks/check_copyright_year.py
  language: python
  stages:
  - push

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: python ./precommit_hooks/warn_that_starboard_interface_changed_wrapper.py
  language: python
  stages:
  - push

test-python3-compatibility:
  name: Test Python 3 Compatibility
  description: Checks that scripts can be run in Python 3
  entry: python precommit_hooks/python3_check.py
  language: python
  verbose: true

run-py2-tests:
  name: Run Python 2 Tests
  description: Run Python 2 unittests
  entry: python precommit_hooks/run_python2_unittests.py
  language: python
  language_version: python2
  additional_dependencies:
  - mock

internal-file-check:
  name: Internal File Check
  entry: python precommit_hooks/internal_file_check_wrapper.py
  language: python

gn-format:
  name: GN format
  entry: gn format
  language: system

[GN] migrate cobalt/script/script.gyp to GN
  cobalt/BUILD.gn
  cobalt/script/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

[GN] Don't build url_unittests
  url/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

[GN] Add back common win32 gn flags
  starboard/win/shared/platform_configuration/BUILD.gn
  starboard/win/win32/platform_configuration/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

[android] Refine error message in setOpusConfigurationData
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: google-java-format, gcheckstyle, check-copyright-year, internal-file-check

[GN] Migrate darwin-tvos-simulator
  starboard/build/platforms.gni
Due: check-copyright-year, internal-file-check, gn-format

[android] Refactor codec detection in media stack
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecUtil.java
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_is_video_supported.cc
  starboard/android/shared/player_components_factory.h
Due: cpplint, clang-format, google-java-format, gcheckstyle, check-copyright-year, internal-file-check

Add .codespellignorelines
  .codespellignorelines
  .pre-commit-config.yaml
Due: check-copyright-year, internal-file-check

[android] Change white/black list to allow/deny
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecUtil.java
Due: google-java-format, gcheckstyle, check-copyright-year, internal-file-check

[GN] Migrate cobalt_build_id to gn
  cobalt/BUILD.gn
  cobalt/build/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Refine player creation error reporting
  cobalt/media/base/sbplayer_pipeline.cc
  starboard/android/shared/player_create.cc
  starboard/shared/starboard/player/player_create.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

[GN] Migrate net/net.gyp to GN
  base/BUILD.gn
  cobalt/network_bridge/BUILD.gn
  net/BUILD.gn
  net/BUILD.gn.orig
  net/METADATA
Due: check-copyright-year, internal-file-check, gn-format

[raspi] Improve comment for disabled drm tests
  starboard/raspi/shared/gyp_configuration.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, run-py2-tests, internal-file-check

[GN] Migrate cobalt/loader/origin.gyp to GN
  cobalt/loader/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

[GN] Migrate cobalt/network/network.gyp to GN
  cobalt/BUILD.gn
  cobalt/network/BUILD.gn
  starboard/build/config/base_configuration.gni
  starboard/linux/shared/platform_configuration/configuration.gni
Due: check-copyright-year, internal-file-check, gn-format

[GN] Migrate cobalt/storage
  cobalt/BUILD.gn
  cobalt/storage/store/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Fix missing six.py package for windows containers
  docker/windows/base/build/Dockerfile
Due: check-copyright-year, internal-file-check

Re-layer windows images to use servercore image
  docker/windows/base/build/Dockerfile
  docker/windows/base/visualstudio2017/Dockerfile
  docker/windows/win32/Dockerfile
Due: check-copyright-year, internal-file-check

Fix typos and style formatting.
  components/update_client/component.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

[GN] Migrate third_party/musl.
  cobalt/BUILD.gn
  third_party/musl/BUILD.gn
  third_party/musl/METADATA
Due: check-copyright-year, internal-file-check, gn-format

Cancel Ping and UpdateCheck requests.
  components/update_client/ping_manager.cc
  components/update_client/ping_manager.h
  components/update_client/request_sender.cc
  components/update_client/request_sender.h
  components/update_client/update_checker.cc
  components/update_client/update_checker.h
  components/update_client/update_engine.cc
  components/update_client/update_engine.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

[android] Enable platform Opus decoder
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecUtil.java
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_common.h
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_is_audio_supported.cc
  starboard/android/shared/media_is_supported.cc
  starboard/android/shared/player_components_factory.h
Due: cpplint, clang-format, google-java-format, gcheckstyle, check-copyright-year, internal-file-check

Fix updater crash in TaskUpdate.
  components/update_client/task_update.cc
  components/update_client/task_update.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

[GN] Remove BUILD.gn starter code
  BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

[GN] Build evergreen *_sys loaders
  starboard/build/config/BUILDCONFIG.gn
  starboard/elf_loader/BUILD.gn
  starboard/loader_app/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

[GN] Build evergreen sys loaders in image
  docker/linux/raspi/gn/Dockerfile
Due: check-copyright-year, internal-file-check

[GN] Use thin archive by default for all targets
  starboard/build/config/BUILDCONFIG.gn
Due: check-copyright-year, internal-file-check, gn-format

Give verbose error for missing requests package
  .pre-commit-config.yaml
  starboard/tools/download_clang.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, run-py2-tests, internal-file-check

[GN] Change pedantic warnings config ordering
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/doc/migration_changes.md
  starboard/raspi/shared/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Remove src/ from paths in documentation
  cobalt/site/docs/codelabs/cobalt_extensions/codelab.md
  cobalt/site/docs/development/setup-android.md
  cobalt/site/docs/development/setup-linux.md
  cobalt/site/docs/development/setup-raspi.md
  cobalt/site/docs/starboard/porting.md
  cobalt/site/docs/starboard/testing.md
  starboard/android/apk/app/cobalt-ninja.sh
  starboard/build/doc/migrating_gyp_to_gn.md
Due: check-copyright-year, internal-file-check

[GN] Use (no_)rtti configs instead of flags
  starboard/android/shared/platform_configuration/BUILD.gn
  starboard/build/config/BUILDCONFIG.gn
  starboard/linux/shared/platform_configuration/BUILD.gn
  starboard/raspi/shared/platform_configuration/BUILD.gn
  starboard/stub/platform_configuration/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Update cobalt.dev with latest content
  cobalt/site/docs/gen/starboard/build/doc/migrating_gyp_to_gn.md
  cobalt/site/docs/gen/starboard/build/doc/migration_changes.md
  cobalt/site/docs/gen/starboard/doc/c99.md
Due: internal-file-check

[GN] Make sure to rebase action path
  starboard/android/apk/BUILD.gn
  starboard/android/shared/install_target.gni
Due: check-copyright-year, internal-file-check, gn-format

[GN] Remove duplicate -fno-exceptions from android
  starboard/android/shared/platform_configuration/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Fix upstream on cobalt.dev
  cobalt/site/docs/development/setup-linux.md
Due: internal-file-check

[GN] Add appropriate type configs for components
  starboard/build/config/components.gni
Due: check-copyright-year, internal-file-check, gn-format

Add note on cobalt.dev about external directory structure
  cobalt/site/docs/development/setup-linux.md
Due: internal-file-check

[GN] Only add -Wno-reorder to cflags_cc
  starboard/raspi/shared/platform_configuration/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((^cobalt/bindings/(templates|generated)/|tests?.(cc|h)$)) and not (^(base|build|testing|third_party|tools/gyp)/)
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^(base|build|testing|third_party|tools/gyp)/)
  yapf: any of: \.py$ and not (\.gypi?$) and not (^(base|build|testing|third_party|tools/gyp)/)
  pylint: any of: \.py$ and not (\.gypi?$) and not (^(base|build|testing|third_party|tools/gyp)/)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(base|build|testing|third_party|tools/gyp)/
  google-java-format: any of: \.java$, but not: ^(base|build|testing|third_party|tools/gyp)/
  gcheckstyle: any of: \.java$, but not: ^(base|build|testing|third_party|tools/gyp)/
  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not (^cobalt/layout_tests/testdata/) and not (^(base|build|testing|third_party|tools/gyp)/)
  check-if-starboard-interface-changed: any of: ^starboard/*.h$, but not: ^(base|build|testing|third_party|tools/gyp)/
  test-python3-compatibility: any of: \.py$, but not: ^(base|build|testing|third_party|tools/gyp)/
  run-py2-tests: any of: \.py$, but not: ^(base|build|testing|third_party|tools/gyp)/
  internal-file-check: any of: not (EXCLUDE\.FILES(\.RECURSIVE)?$), but not: ^(base|build|testing|third_party|tools/gyp)/
  gn-format: any of: .*\.gni?$, but not: ^(base|build|testing|third_party|tools/gyp)/
