Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=4
  - --quiet
  additional_dependencies:
  - cpplint

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./chrobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./chrobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./chrobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

MOARRRR Style
  cobalt/browser/BUILD.gn
  cobalt/browser/metrics/cobalt_metrics_service_client_test.cc
Due: none

MOARRRR Style
  starboard/content/ssl/BUILD.gn
Due: gn-format

MOARRRR Style -- now also spell checked
  starboard/content/fonts/BUILD.gn
Due: gn-format

MOARRRR Style -- now also spell checked
  cobalt/browser/metrics/cobalt_metrics_service_client.h
Due: none

Move wpt_internal/h5vcc/h5vcc-runtime to wpt_internal/cobalt folder
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-runtime/h5vcc-runtime-getInitialDeepLink.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-runtime/resources/automation.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-runtime/resources/mock-h5vcc-runtime.js
Due: none

Change 'device type' field in UA string from ATV to TV|STB|OTT
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/system_get_property.cc
Due: clang-format, cpplint, google-java-format, gcheckstyle

[CONFLICT] Original Commit: 1181c53348335e9e1a6611f753535c4cd2ee10ba
  base/BUILD.gn
  base/allocator/partition_allocator/src/partition_alloc/partition_alloc_unittest.cc
  base/allocator/partition_allocator/src/partition_alloc/shim/allocator_shim_default_dispatch_to_partition_alloc_unittest.cc
  base/allocator/partition_allocator/src/partition_alloc/shim/allocator_shim_unittest.cc
  base/base_paths_posix.cc
  base/debug/stack_trace.cc
  base/files/file_util_unittest.cc
  base/files/important_file_writer_cleaner.cc
  base/process/memory_unittest.cc
  base/profiler/module_cache.cc
  base/test/BUILD.gn
  base/threading/platform_thread_posix.cc
  third_party/fontconfig/include/config.h
  third_party/libevent/BUILD.gn
Due: none

Disable siso for all builds (#4979)
  cobalt/build/gn.py
Due: none

Build base_unittests hermetically.
  base/BUILD.gn
  base/allocator/partition_allocator/partition_alloc_unittest.cc
  base/allocator/partition_allocator/shim/allocator_shim_default_dispatch_to_partition_alloc_unittest.cc
  base/allocator/partition_allocator/shim/allocator_shim_unittest.cc
  base/base_paths_posix.cc
  base/debug/stack_trace.cc
  base/files/file_util_unittest.cc
  base/files/important_file_writer_cleaner.cc
  base/process/memory_unittest.cc
  base/profiler/module_cache.cc
  base/test/BUILD.gn
  base/threading/platform_thread_posix.cc
  third_party/fontconfig/include/config.h
  third_party/libevent/BUILD.gn
Due: none

Pass symbol files through to print log step
  .github/actions/build/action.yaml
  .github/actions/print_logs/action.yaml
  .github/workflows/main.yaml
Due: none

Update nplb tests to match Cobalt's Angle config
  cobalt/build/configs/linux-x64x11/args.gn
  cobalt/docker/unittest/Dockerfile
  starboard/shared/egl/system_egl.cc
  starboard/testing/fake_graphics_context_provider.cc
Due: clang-format, cpplint

[Ozone] Disable all non-starboard backends
  cobalt/build/configs/linux-x64x11/args.gn
  cobalt/cobalt.cc
Due: none

Fix type mismatch for android builds
  starboard/egl.h
Due: clang-format, cpplint

Add cobalt build flags for linux-x64x11 to disable unused featured and support Forge environment
  cobalt/build/configs/linux-x64x11/args.gn
Due: none

add bluez and dbus GN args to build to fix broken device_unittests
  cobalt/build/configs/linux-x64x11/args.gn
Due: none

Build base_unittests hermetically. (#4935)
  base/BUILD.gn
  base/allocator/partition_allocator/partition_alloc_unittest.cc
  base/allocator/partition_allocator/shim/allocator_shim_default_dispatch_to_partition_alloc_unittest.cc
  base/allocator/partition_allocator/shim/allocator_shim_unittest.cc
  base/base_paths_posix.cc
  base/debug/stack_trace.cc
  base/files/file_util_unittest.cc
  base/files/important_file_writer_cleaner.cc
  base/process/memory_unittest.cc
  base/profiler/module_cache.cc
  base/test/BUILD.gn
  base/threading/platform_thread_posix.cc
  third_party/fontconfig/include/config.h
  third_party/libevent/BUILD.gn
Due: none

tested locally that H5vccRuntime::OnDeepLink received the warm deeplink
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/h5vcc_runtime/BUILD.gn
  cobalt/browser/h5vcc_runtime/deeplink_manager.cc
  cobalt/browser/h5vcc_runtime/deeplink_manager.h
  cobalt/browser/h5vcc_runtime/h5vcc_runtime_impl.cc
  cobalt/browser/h5vcc_runtime/h5vcc_runtime_impl.h
  cobalt/browser/h5vcc_runtime/public/mojom/h5vcc_runtime.mojom
  starboard/android/shared/starboard_bridge.cc
  starboard/android/shared/starboard_bridge.h
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/h_5_vcc_runtime.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/h_5_vcc_runtime.h
Due: clang-format, cpplint

Fix param to upload-action
  .github/actions/build/action.yaml
Due: none

Allow filtering of entire targets in json
  .github/actions/on_host_tests/action.yaml
  cobalt/testing/filters/android-arm/sql_unittests_filter.json
  cobalt/testing/filters/linux-x64x11/trace_processor_minimal_smoke_tests_filter.json
  cobalt/testing/filters/linux-x64x11/zip_unittests_filter.json
Due: none

Declare MUSL API's needed to run nplb
  third_party/musl/include/pthread.h
  third_party/musl/src/starboard/pthread/pthread.h
Due: none

Reorganize is_test_target to make code clearer
  cobalt/build/test_targets.py
Due: none

Add h5vcc.system.concealOrStop().
  cobalt/browser/h5vcc_system/h5vcc_system_impl.cc
  cobalt/browser/h5vcc_system/h5vcc_system_impl.h
  cobalt/browser/h5vcc_system/public/mojom/h5vcc_system.mojom
  cobalt/configuration/BUILD.gn
  cobalt/configuration/configuration.cc
  cobalt/configuration/configuration.h
  third_party/blink/renderer/bindings/generated_in_modules.gni
  third_party/blink/renderer/modules/cobalt/h5vcc_system/h_5_vcc_system.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_system/h_5_vcc_system.h
  third_party/blink/renderer/modules/cobalt/h5vcc_system/h_5_vcc_system.idl
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-system/h5vcc-system-concealOrStop.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-system/resources/mock-h5vcc-system.js
Due: none

Migrating localStorage and cookies from StorageRecord.
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_web_contents_observer.cc
  cobalt/browser/cobalt_web_contents_observer.h
  cobalt/browser/migrate_storage_record/BUILD.gn
  cobalt/browser/migrate_storage_record/migration_manager.cc
  cobalt/browser/migrate_storage_record/migration_manager.h
  cobalt/browser/migrate_storage_record/storage.proto
  cobalt/browser/switches.h
Due: none

Add all the filters (maybe)
  cobalt/testing/filters/android-arm/net_unittests_filter.json
  cobalt/testing/filters/android-arm64/blink_platform_perftests_filter.json
  cobalt/testing/filters/android-arm64/blink_platform_unittests_filter.json
  cobalt/testing/filters/android-arm64/cobalt_unittests_filter.json
  cobalt/testing/filters/android-arm64/net_unittests_filter.json
  cobalt/testing/filters/linux-x64x11/blink_platform_perftests_filter.json
  cobalt/testing/filters/linux-x64x11/blink_platform_unittests_filter.json
  cobalt/testing/filters/linux-x64x11/trace_processor_minimal_smoke_tests_filter.json
Due: none

Split Android and Linux behavior
  starboard/shared/egl/system_egl.cc
  starboard/testing/fake_graphics_context_provider.cc
Due: clang-format, cpplint

Fix if condition for odt job
  .github/workflows/main.yaml
Due: none

[android] Explicitly stop callbacks in MediaCodec (#4978)
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_decoder.cc
Due: clang-format, cpplint

Add tv-engprod-team to allow LUCI pool usage for TV Eng.
  cobalt/devinfra/luci/generated/project.cfg
  cobalt/devinfra/luci/generated/realms.cfg
  cobalt/devinfra/luci/main.star
Due: none

Migrating old localStorage and cookies from StorageRecord. (#4613)
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_web_contents_observer.cc
  cobalt/browser/cobalt_web_contents_observer.h
  cobalt/browser/migrate_storage_record/BUILD.gn
  cobalt/browser/migrate_storage_record/migration_manager.cc
  cobalt/browser/migrate_storage_record/migration_manager.h
  cobalt/browser/migrate_storage_record/storage.proto
  cobalt/browser/switches.h
Due: none

Fix compiler errors
  third_party/musl/src/starboard/pthread/pthread.h
Due: none

Replace step reference with input
  .github/actions/print_logs/action.yaml
Due: none

Attempt to fix symbolization command
  .github/actions/print_logs/action.yaml
Due: none

Move cat to top of block
  .github/actions/print_logs/action.yaml
Due: none

Migrate functions in MediaCodecBridge to jni_generator
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/video_decoder.cc
Due: clang-format, cpplint

Add tv-engprod-team to allow LUCI pool usage for TV Eng. (#4983)
  cobalt/devinfra/luci/generated/project.cfg
  cobalt/devinfra/luci/generated/realms.cfg
  cobalt/devinfra/luci/main.star
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  yapf: any of: \.py$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  pylint: any of: \.py$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  python3-compatibility-check: any of: \.py$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  google-java-format: any of: \.java$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  gcheckstyle: any of: \.java$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  gn-format: any of: .*\.gni?$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

