Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)

Disable BackupRefPtr support on Chrobalt (#10826)
  cobalt/build/configs/common.gn
Due: gn-format

media: Add low-latency playback H5VCC setting (#10751)
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  cobalt/renderer/cobalt_content_renderer_client.cc
  media/base/ipc/media_param_traits_macros.h
  media/base/starboard/starboard_renderer_config.cc
  media/base/starboard/starboard_renderer_config.h
  media/starboard/sbplayer_bridge.cc
  starboard/android/shared/media_codec.cc
  starboard/android/shared/media_codec.h
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_decoder.cc
  starboard/android/shared/media_codec_decoder.h
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/media_codec_video_decoder.h
  starboard/extension/experimental/experimental_features.h
  starboard/shared/starboard/experimental_features.cc
  starboard/shared/starboard/experimental_features.h
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

cobalt: Prune CLD3 Language Detection (#10798)
  ui/accessibility/BUILD.gn
  ui/accessibility/ax_language_detection.cc
  ui/accessibility/ax_language_detection.h
Due: none

Cherry pick PR #10696: Add platform dialog option for 3p
  cobalt/browser/cobalt_web_contents_observer.cc
  cobalt/browser/cobalt_web_contents_observer.h
  cobalt/browser/cobalt_web_contents_observer_unittest.cc
  cobalt/shell/browser/shell_platform_delegate_views.cc
Due: clang-format, cpplint

Cherry pick PR #10475: [nplb] Fix signedness test of enum in C++17
  starboard/build/config/sabi/BUILD.gn
  starboard/nplb/nplb_evergreen_compat_tests/sabi_test.cc
  starboard/nplb/sabi/signedness_and_size_of_enum_test.cc
  starboard/sabi/arm/hardfp/sabi-v18.json
  starboard/sabi/arm/softfp/sabi-v18.json
  starboard/sabi/arm64/sabi-v18.json
  starboard/sabi/x64/sysv/sabi-v18.json
Due: clang-format, cpplint, gn-format

Cherry pick PR #10772: android: Replace error-prone env->New* calls with jni_zero helpers
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/speech_synthesis_speak.cc
Due: clang-format, cpplint

Cherry pick PR #10826: Disable BackupRefPtr support on Chrobalt
  cobalt/build/configs/common.gn
Due: gn-format

Cherry pick PR #10751: media: Add low-latency playback H5VCC setting
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  cobalt/renderer/cobalt_content_renderer_client.cc
  media/base/ipc/media_param_traits_macros.h
  media/base/starboard/starboard_renderer_config.cc
  media/base/starboard/starboard_renderer_config.h
  media/starboard/sbplayer_bridge.cc
  starboard/android/shared/media_codec.cc
  starboard/android/shared/media_codec.h
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_decoder.cc
  starboard/android/shared/media_codec_decoder.h
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/media_codec_video_decoder.h
  starboard/extension/experimental/experimental_features.h
  starboard/shared/starboard/experimental_features.cc
  starboard/shared/starboard/experimental_features.h
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

Cherry pick PR #10798: cobalt: Prune CLD3 Language Detection
  ui/accessibility/BUILD.gn
  ui/accessibility/ax_language_detection.cc
  ui/accessibility/ax_language_detection.h
Due: none

Fix infinite recursion from emulated TLS during early thread creation on Android ARM32
  base/memory/cobalt_memory_attribution_observer.cc
  cobalt/tools/memory_verification_rig/verify_all_cujs.py
  components/viz/service/main/viz_compositor_thread_runner_impl.cc
  content/renderer/in_process_renderer_thread.cc
  content/renderer/render_thread_impl.cc
  copied_base/base/memory/cobalt_memory_context.cc
  starboard/shared/starboard/player/job_thread.cc
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check

Setup staging branch.
  .github/CODEOWNERS
  .github/actions/depot_tools/action.yaml
  .github/workflows/android_staging.yaml
  .github/workflows/aosp.yaml
  .github/workflows/autoroll_lts.yaml
  .github/workflows/deflake_tests.yml
  .github/workflows/diff_chromium_branches.yaml
  .github/workflows/evergreen_staging.yaml
  .github/workflows/gemini-commit-message.yml
  .github/workflows/label-cherry-pick.yaml
  .github/workflows/lint_staging.yaml
  .github/workflows/linux_staging.yaml
  .github/workflows/nightly_trigger.yaml
  .github/workflows/nightly_trigger_24.lts.1+.yaml
  .github/workflows/nightly_trigger_25.lts.1+.yaml
  .github/workflows/nightly_trigger_26.android.yaml
  .github/workflows/nightly_trigger_27.lts.yaml
  .github/workflows/nightly_trigger_main.yaml
  .github/workflows/outside_collaborator.yaml
  .github/workflows/scorecards.yaml
  .github/workflows/sync_chromium_branches.yaml
  .github/workflows/tvos.yaml
  .github/workflows/tvos_staging.yaml
  .github/workflows/workflow_debug.yaml
Due: none

Change include
  starboard/elf_loader/exported_symbols.cc
Due: clang-format, cpplint

Cherry pick PR #10225: starboard/tests: wire test_opus_padding target
  cobalt/build/testing/targets/evergreen-arm-hardfp-rdk/test_targets.json
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/test_opus_padding_loader_filter.json
  third_party/opus/BUILD.gn
Due: none

evergreen: Suspend and Resume UpdaterModule on Freeze and Unfreeze (#10650)
  cobalt/BUILD.gn
  cobalt/app/app_event_runner.cc
  cobalt/updater/updater_module.cc
  cobalt/updater/updater_module.h
Due: clang-format, cpplint, gn-format

Add back comment
  cobalt/updater/updater_module.h
Due: clang-format, cpplint

Fix comment formatting in updater_module.h
  cobalt/updater/updater_module.h
Due: clang-format, cpplint

evergreen: Fix explicit keyword warnings on multi-argument constructors
  cobalt/updater/configurator.h
  cobalt/updater/updater_module.h
Due: clang-format, cpplint

Fix include statement for updater utility
  cobalt/browser/user_agent/user_agent_platform_info.cc
Due: clang-format, cpplint

evergreen: Integrate User Agent and Evergreen Metadata in Updater (PR 8309, PR 9126)
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/user_agent/BUILD.gn
  cobalt/browser/user_agent/user_agent_platform_info.cc
  cobalt/updater/configurator.cc
  cobalt/updater/configurator.h
  cobalt/updater/updater_module.cc
  cobalt/updater/updater_module.h
Due: clang-format, cpplint, gn-format

make running autoninja easier in agent mode
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk.py
Due: none

Improve RDK deployment script functionality and unit tests
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk.py
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk_test.py
Due: none

Minor tweaks to SABI doc
  starboard/doc/starboard_abi.md
Due: none

copied_base: remove shouldAddCobaltPrefix() from jni_android (#10795)
  copied_base/base/android/jni_android.cc
Due: none

Improve RDK deployment script functionality (#10817)
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk.py
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk_test.py
Due: none

evergreen: add EG info to ua string and send it to the updater (#10531)
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/user_agent/BUILD.gn
  cobalt/browser/user_agent/user_agent_platform_info.cc
  cobalt/updater/configurator.cc
  cobalt/updater/configurator.h
  cobalt/updater/updater_module.cc
  cobalt/updater/updater_module.h
Due: clang-format, cpplint, gn-format

Cherry pick PR #10650: evergreen: Suspend and Resume UpdaterModule on Freeze and Unfreeze
  cobalt/BUILD.gn
  cobalt/app/app_event_runner.cc
  cobalt/updater/updater_module.cc
  cobalt/updater/updater_module.h
Due: clang-format, cpplint, gn-format

Cherry pick PR #10795: copied_base: remove shouldAddCobaltPrefix() from jni_android
  copied_base/base/android/jni_android.cc
Due: none

Cherry pick PR #10817: Improve RDK deployment script functionality
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk.py
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk_test.py
Due: none

Cherry pick PR #10531: evergreen: add EG info to ua string and send it to the updater
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/user_agent/BUILD.gn
  cobalt/browser/user_agent/user_agent_platform_info.cc
  cobalt/updater/configurator.cc
  cobalt/updater/configurator.h
  cobalt/updater/updater_module.cc
  cobalt/updater/updater_module.h
Due: clang-format, cpplint, gn-format

Fix TLS allocation cycle and thread context scopes
  base/memory/cobalt_memory_context.cc
  cobalt_uma_histograms.txt
  content/renderer/in_process_renderer_thread.cc
  fix_includes.py
Due: none

Remove sync service from Chrobalt
  components/BUILD.gn
  components/sync/BUILD.gn
  components/variations/service/BUILD.gn
  components/variations/service/google_groups_manager.cc
  components/variations/service/google_groups_manager.h
  components/variations/service/google_groups_manager_unittest.cc
Due: none

Implement Hook-Based TLS Memory Attribution for Cobalt
  cobalt/BUILD.gn
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/features.cc
  cobalt/browser/features.h
  cobalt/memory/BUILD.gn
  cobalt/memory/cobalt_memory_attribution_manager.cc
  cobalt/memory/cobalt_memory_attribution_manager.h
  cobalt/memory/cobalt_memory_attribution_manager_unittest.cc
  media/starboard/BUILD.gn
  media/starboard/decoder_buffer_allocator.cc
  media/starboard/starboard_renderer.cc
  third_party/blink/renderer/bindings/core/v8/v8_script_runner.cc
  third_party/blink/renderer/core/BUILD.gn
  third_party/blink/renderer/core/frame/local_frame_view.cc
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: clang-format, cpplint, gn-format

Implement MemoryAttributionBrowserTest and add to cobalt_browsertests
  cobalt/browser/memory_attribution_browsertest.cc
  cobalt/memory/cobalt_memory_attribution_manager.h
  cobalt/testing/browser_tests/BUILD.gn
Due: clang-format, cpplint, gn-format
