Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=4
  - --quiet
  additional_dependencies:
  - cpplint

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./chrobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./chrobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./chrobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

[media] Pass full mime type to SbPlayer via MojoRenderer (#6110)
  media/mojo/clients/mojo_demuxer_stream_impl.cc
  media/mojo/mojom/demuxer_stream.mojom
  media/mojo/services/mojo_demuxer_stream_adapter.cc
  media/mojo/services/mojo_demuxer_stream_adapter.h
Due: none

Disable concurrent-marking through gn args (#6120)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
  cobalt/build/configs/common.gn
Due: none

[media] Support decode-to-texture mode
  base/BUILD.gn
  base/threading/thread_restrictions.h
  content/renderer/media/media_factory.cc
  gpu/command_buffer/service/BUILD.gn
  gpu/command_buffer/service/shared_image/starboard/starboard_video_image_backing.cc
  gpu/command_buffer/service/shared_image/starboard/starboard_video_image_backing.h
  media/gpu/BUILD.gn
  media/gpu/android/starboard/starboard_codec_image.cc
  media/gpu/android/starboard/starboard_codec_image.h
  media/gpu/starboard/starboard_gpu_factory.h
  media/gpu/starboard/starboard_gpu_factory_impl.cc
  media/gpu/starboard/starboard_gpu_factory_impl.h
  media/mojo/services/BUILD.gn
  media/mojo/services/starboard/gpu_mojo_media_client_starboard.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.h
  media/starboard/BUILD.gn
  media/starboard/sbplayer_bridge.cc
  media/starboard/sbplayer_bridge.h
  media/starboard/starboard_renderer.cc
  media/starboard/starboard_renderer.h
  starboard/android/shared/decode_target.cc
Due: clang-format, cpplint

[POSIX] Add fstatfs stub in //third_party/musl (#6099)
  starboard/tools/api_leak_detector/api_leak_detector.py
  third_party/musl/BUILD.gn
  third_party/musl/src/starboard/statfs/statfs_stub.c
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #6110: [media] Pass full mime type to SbPlayer via MojoRenderer (#6113)
  media/mojo/clients/mojo_demuxer_stream_impl.cc
  media/mojo/mojom/demuxer_stream.mojom
  media/mojo/services/mojo_demuxer_stream_adapter.cc
  media/mojo/services/mojo_demuxer_stream_adapter.h
Due: none

Moar owners?
  .github/CODEOWNERS
Due: none

[CONFLICT] Original Commit: 3dbd451bf7737f339fb57481931615eb27172ffe
  DEPS
  cobalt/build/modular_executable.gni
Due: none

Update code comment
  starboard/android/shared/application_android.cc
  starboard/android/shared/file_internal.cc
Due: clang-format, cpplint

Remove TestEnabledStateProvider, shell_content_browser_client, and merge fieldtrial init into Cobalt.
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_web_contents_observer.h
  cobalt/shell/BUILD.gn
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell_browser_context.cc
  cobalt/shell/browser/shell_content_browser_client.cc
  cobalt/shell/browser/shell_content_browser_client.h
  cobalt/shell/browser/shell_devtools_bindings.cc
Due: none

Remove starboard/.../microphone entry
  .github/CODEOWNERS
Due: none

Cherry pick PR #6104: Remove json Cobalt license format (#6116)
  cobalt/BUILD.gn
  cobalt/build/android/package.json
  cobalt/build/build_info.py
  cobalt/build/linux/package.json
Due: none

.github/CODEOWNERS: Update some folders and categories. (#6121)
  .github/CODEOWNERS
Due: none

Roll gn version
  DEPS
Due: none

Clean up runtime deps for modular build
  cobalt/build/modular_executable.gni
Due: none

Add cobalt comment to DEPS
  DEPS
Due: none

Fix gold UA condition
  cobalt/browser/user_agent/user_agent_platform_info.cc
Due: none

Clean up runtime deps for modular build (#6066)
  DEPS
  cobalt/build/modular_executable.gni
Due: none

Add api_leak_detector to CI jobs
  .github/actions/api_leak_detector/action.yaml
  .github/workflows/evergreen.yaml
  .github/workflows/main.yaml
  starboard/tools/api_leak_detector/api_leak_detector.py
Due: yapf, pylint, python3-compatibility-check

Add src to action path
  .github/actions/api_leak_detector/action.yaml
  .github/workflows/main.yaml
Due: none

Add sb_api_version
  .github/actions/api_leak_detector/action.yaml
  .github/config/evergreen-x64.json
  .github/workflows/main.yaml
Due: none

Add leak manifest
  .github/actions/api_leak_detector/action.yaml
  .github/workflows/evergreen.yaml
  .github/workflows/main.yaml
  starboard/tools/api_leak_detector/evergreen/x64/manifest
Due: none

Rename manifest
  starboard/tools/api_leak_detector/evergreen-x64/x64/manifest
Due: none

Resolve different symbols in different configs
  .github/actions/api_leak_detector/action.yaml
  .github/workflows/evergreen.yaml
  .github/workflows/main.yaml
  build/config/compiler/BUILD.gn
  cobalt/build/configs/linux-x64x11-modular/args.gn
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/api_leak_detector/evergreen-x64/x64/manifest
  starboard/tools/api_leak_detector/evergreen/manifest
Due: yapf, pylint, python3-compatibility-check

Remove unnecessary manifest arg
  .github/actions/api_leak_detector/action.yaml
Due: none

Refactor StarboardBridge JNI: Streamline System Property Retrieval (#6112)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/application_android.cc
  starboard/android/shared/application_android.h
  starboard/android/shared/file_internal.cc
  starboard/android/shared/file_internal.h
  starboard/android/shared/starboard_bridge.cc
  starboard/android/shared/starboard_bridge.h
Due: clang-format, cpplint

CobaltA11yHelper always reports focus to WebContent
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltA11yHelper.java
Due: none

Push features and params from chrobalt to starboard
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/common/features/BUILD.gn
  cobalt/common/features/feature_list.cc
  cobalt/common/features/features.cc
  cobalt/common/features/features.h
  starboard/android/shared/BUILD.gn
  starboard/android/shared/features.cc
  starboard/android/shared/features.h
  starboard/common/feature_config.h
  starboard/shared/starboard/feature_list.cc
  starboard/shared/starboard/feature_list.h
Due: clang-format, cpplint, gn-format

Clarify error message
  .github/actions/process_test_results/action.yaml
Due: none

Building raspi-2
  base/allocator/partition_allocator/partition_alloc_base/cpu.cc
  base/cpu.cc
  cobalt/build/configs/BUILD.gn
  third_party/lzma_sdk/C/CpuArch.c
  third_party/zlib/cpu_features.c
  v8/src/base/cpu.cc
  v8/src/base/cpu.h
Due: none

Refactor to remove starboard-only cobalt switch defaults source from Android builds
  cobalt/BUILD.gn
Due: none

CobaltA11yHelper always reports focus to WebContent (#6123)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltA11yHelper.java
Due: none

Remove some symbols
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/api_leak_detector/evergreen/manifest
Due: yapf, pylint, python3-compatibility-check

remove FrameLayout as much as possible
  cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java
  cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  yapf: any of: \.py$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  pylint: any of: \.py$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  python3-compatibility-check: any of: \.py$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  google-java-format: any of: \.java$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  gcheckstyle: any of: \.java$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  gn-format: any of: .*\.gni?$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

