Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, yapf, pylint, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, gn-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^starboard/shared/uikit/.*\.h$
)
) and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  yapf: any of: \.py$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  pylint: any of: \.py$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  google-java-format: any of: \.java$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  gcheckstyle: any of: \.java$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not ((?x)^(
    .pylintrc$|
    .pre-commit-config.yaml$|
    cobalt/base/unicode/|
    cobalt/demos/content/|
    cobalt/layout_tests/testdata/|
    cobalt/math/|
    cobalt/media/|
    cobalt/streams/|
    cobalt/webdriver/screencast/|
    cobalt/websocket/|
    components/crx_file/|
    content/|
    internal/starboard/shared/glimp/|
    starboard/contrib/RDK/|
    nb/|
    starboard/content/fonts/LICENSES.txt |
    starboard/android/apk/gradlew|
    starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.cc$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.h$|
    starboard/shared/starboard/player/testdata/licences/|
    starboard/shared/starboard/player/filter/wsola_internal.cc$
)
) and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  check-if-starboard-interface-changed: any of: ^starboard/[^/]+\.h$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  test-python3-compatibility: any of: \.py$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)

Add BUILD_STATUS.md to Chrobalt. (#4192)
  chrobalt/BUILD_STATUS.md
Due: none

Add nightly trigger workflows (#4203)
  .github/workflows/nightly_trigger.yaml
  .github/workflows/nightly_trigger_24.lts.1+.yaml
  .github/workflows/nightly_trigger_25.lts.1+.yaml
Due: check-copyright-year

Update README.md (#4196)
  README.md
Due: none

Update README.md (#4208)
  README.md
Due: none

starboard/types.h: Remove unused kSbInt64Min, kSbUInt64Max (#4200)
  starboard/types.h
Due: cpplint, check-copyright-year, check-if-starboard-interface-changed

Update BUILD_STATUS.md (#4209)
  chrobalt/BUILD_STATUS.md
Due: none

Restore references to base/third_party/symbolize
  starboard/android/shared/BUILD.gn
  starboard/linux/shared/BUILD.gn
  starboard/raspi/shared/BUILD.gn
  starboard/shared/linux/system_symbolize.cc
Due: cpplint, check-copyright-year, gn-format

Remove unnecessary args.gn (#4211)
  chrobalt/linux/args.gn
  chrobalt/linux/last_working.gn
Due: none

Install Starboard clang toolchain (#4219)
  chrobalt/docker/linux/Dockerfile
  docker-compose.yaml
Due: check-copyright-year

Revert "Install Starboard clang toolchain" (#4226)
  chrobalt/docker/linux/Dockerfile
  docker-compose.yaml
Due: check-copyright-year

USe RBE while building locally with gn.py (#4222)
  chrobalt/build/gn.py
Due: none

Skip runtime_deps for cobalt_browsertests afrter rebase
  cobalt/build/archive_test_artifacts.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility

Add Chrobalt build configs (#4248)
  .github/actions/build/action.yaml
  .github/actions/docker/action.yaml
  .github/config/android-chrobalt-arm.json
  .github/config/android-chrobalt-arm64.json
  .github/config/android-chrobalt-x86.json
  .github/config/linux-chrobalt.json
  .github/workflows/android.yaml
  .github/workflows/linux.yaml
  .github/workflows/main.yaml
  chrobalt/build/configs/android-chrobalt-arm/args.gn
  chrobalt/build/configs/android-chrobalt-arm64/args.gn
  chrobalt/build/configs/android-chrobalt-x86/args.gn
  chrobalt/build/configs/linux-chrobalt-x64x11/args.gn
  chrobalt/build/configs/linux-x64/args.gn
  chrobalt/build/gn.py
Due: check-copyright-year

Setup pre-commit hooks. (#4250)
  .pre-commit-config.yaml
  chrobalt/precommit/.codespellignorelines
  chrobalt/precommit/gcheckstyle_wrapper.py
  chrobalt/precommit/google_java_format_wrapper.py
  chrobalt/precommit/python3_check.py
Due: none

Restore scorecards workflow
  .github/workflows/scorecards.yaml
Due: check-copyright-year

Cleanup codebase by running pre-commit. (#4273)
  starboard/build/config/BUILD.gn
  starboard/common/experimental/concurrency_debug.cc
  starboard/common/instance_counter.h
  starboard/common/optional.h
  starboard/common/spin_lock.cc
  starboard/elf_loader/elf_loader.cc
  starboard/elf_loader/evergreen_info.cc
  starboard/loader_app/drain_file_test.cc
  starboard/nplb/media_set_audio_write_duration_test.cc
  starboard/shared/starboard/application.cc
  starboard/shared/starboard/lazy_initialization_internal.h
  starboard/shared/starboard/media/avc_util_test.cc
  starboard/shared/starboard/thread_checker.h
Due: cpplint, check-copyright-year, gn-format

Restore SbPlayer-related files from Cobalt
  media/starboard/sbplayer_bridge.cc
  media/starboard/sbplayer_bridge.h
  media/starboard/sbplayer_interface.cc
  media/starboard/sbplayer_interface.h
  media/starboard/sbplayer_set_bounds_helper.cc
  media/starboard/sbplayer_set_bounds_helper.h
  media/starboard/starboard_utils.cc
  media/starboard/starboard_utils.h
  media/starboard/starboard_utils_test.cc
Due: none

Add Posix tests for sockets (#4201) (#4262)
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_socket_accept_test.cc
  starboard/nplb/posix_compliance/posix_socket_bind_test.cc
  starboard/nplb/posix_compliance/posix_socket_connect_test.cc
  starboard/nplb/posix_compliance/posix_socket_helpers.cc
  starboard/nplb/posix_compliance/posix_socket_helpers.h
  starboard/nplb/posix_compliance/posix_socket_join_multicast_group_test.cc
  starboard/nplb/posix_compliance/posix_socket_listen_test.cc
  starboard/nplb/posix_compliance/posix_socket_receive_test.cc
  starboard/nplb/posix_compliance/posix_socket_recvfrom_test.cc
  starboard/nplb/posix_compliance/posix_socket_send_test.cc
  starboard/nplb/posix_compliance/posix_socket_sendto_test.cc
  starboard/nplb/posix_compliance/posix_socket_waiter_wait_test.cc
  starboard/nplb/posix_compliance/posix_socket_waiter_wait_timed_test.cc
  starboard/nplb/socket_clear_last_error_test.cc
  starboard/nplb/socket_get_interface_address_test.cc
  starboard/nplb/socket_get_last_error_test.cc
  starboard/nplb/socket_get_local_address_test.cc
  starboard/nplb/socket_helpers.cc
  starboard/nplb/socket_helpers.h
  starboard/nplb/socket_is_connected_and_idle_test.cc
  starboard/nplb/socket_is_connected_test.cc
  starboard/nplb/socket_receive_from_test.cc
  starboard/nplb/socket_wrapper_test.cc
Due: cpplint, check-copyright-year, gn-format

Add lint github workflow. (#4272)
  .github/actions/pre_commit/action.yaml
  .github/config/android-arm.json
  .github/config/android-chrobalt-arm.json
  .github/workflows/lint.yaml
  .github/workflows/main.yaml
Due: check-copyright-year

Create README.md for cobalt/devinfra/luci (#4284)
  cobalt/devinfra/luci/README.md
Due: none

[media] Setup code formatting for //media/starboard (#4285)
  .github/CODEOWNERS
  .pre-commit-config.yaml
  media/starboard/sbplayer_bridge.cc
  media/starboard/sbplayer_bridge.h
  media/starboard/sbplayer_interface.cc
  media/starboard/sbplayer_interface.h
  media/starboard/starboard_utils.cc
  media/starboard/starboard_utils.h
Due: check-copyright-year

Create main.star for LUCI - initial config (#4291)
  cobalt/devinfra/luci/main.star
Due: check-copyright-year

Add Cobalt buildflags (#4294)
  starboard/build/BUILD.gn
Due: check-copyright-year, gn-format

Add generated LUCI configs (#4295)
  cobalt/devinfra/luci/generated/README.md
  cobalt/devinfra/luci/generated/cr-buildbucket.cfg
  cobalt/devinfra/luci/generated/luci-logdog.cfg
  cobalt/devinfra/luci/generated/project.cfg
  cobalt/devinfra/luci/generated/realms.cfg
  cobalt/devinfra/luci/main.star
Due: check-copyright-year

Add cobalt:gn_all to cobalt github actions only (#4302)
  .github/config/android-cobalt-arm.json
  .github/config/android-cobalt-arm64.json
  .github/config/android-cobalt-x86.json
  .github/config/linux-cobalt.json
  .github/config/linux.json
Due: check-copyright-year

Fix chromium builds with is_cobalt = false (#4298)
  build/config/clang/clang.gni
  cobalt/build/configs/android-arm/args.gn
  cobalt/build/configs/android-arm64/args.gn
  cobalt/build/configs/android-cobalt-arm/args.gn
  cobalt/build/configs/android-cobalt-arm64/args.gn
  cobalt/build/configs/android-cobalt-x86/args.gn
  cobalt/build/configs/android-x86/args.gn
  cobalt/build/configs/cobalt.gni
  cobalt/build/configs/linux-cobalt-x64x11/args.gn
  cobalt/build/configs/linux-x64/args.gn
  cobalt/build/configs/linux-x64x11/args.gn
Due: check-copyright-year, gn-format

Poor man's cobalt target (#4277)
  cobalt/BUILD.gn
  cobalt/cobalt.cc
  cobalt/cobalt_content_browser_client.cc
  cobalt/cobalt_content_browser_client.h
  cobalt/cobalt_main_delegate.cc
  cobalt/cobalt_main_delegate.h
Due: cpplint, check-copyright-year, gn-format

Update README build matrix link. (#4306)
  README.md
Due: none

Propagate starboard configs to Chromium on linux (#4301)
  starboard/linux/x64x11/toolchain/BUILD.gn
  starboard/shared/toolchain/overridable_gcc_toolchain.gni
Due: check-copyright-year, gn-format

Fix to allow single-process on Linux. (#4290)
  base/BUILD.gn
  cobalt/cobalt.cc
Due: cpplint, check-copyright-year

Move cobalt variables to build_config.h (#4313)
  build/build_config.h
  cobalt/build/configs/BUILD.gn
  starboard/build/BUILD.gn
  starboard/build/buildflags.gni
Due: check-copyright-year, gn-format

Fix overlapping defines (#4319)
  build/build_config.h
  cobalt/build/configs/BUILD.gn
Due: check-copyright-year, gn-format

Remove unnecessary build flags (#4323)
  cobalt/build/configs/linux-cobalt-x64x11/args.gn
  cobalt/build/configs/linux-x64x11/args.gn
Due: check-copyright-year, gn-format

Build nplb test (#4299)
  cobalt/BUILD.gn
  cobalt/docker/linux/Dockerfile
  starboard/BUILD.gn
  starboard/android/shared/BUILD.gn
  starboard/android/shared/platform_configuration/BUILD.gn
  starboard/common/BUILD.gn
  starboard/common/test_main.cc
  starboard/linux/shared/BUILD.gn
  starboard/nplb/BUILD.gn
  starboard/nplb/compiler_compliance/BUILD.gn
  starboard/nplb/maximum_player_configuration_explorer_test.cc
  starboard/nplb/posix_compliance/posix_directory_create_test.cc
  starboard/nplb/posix_compliance/posix_directory_get_next_test.cc
  starboard/nplb/posix_compliance/posix_socket_bind_test.cc
  starboard/nplb/posix_compliance/posix_socket_helpers.h
  starboard/nplb/posix_compliance/posix_socket_send_test.cc
  starboard/nplb/testdata/file_tests/BUILD.gn
  starboard/shared/ffmpeg/BUILD.gn
Due: cpplint, check-copyright-year, gn-format

Fix starboard toolchain when multiple are used (#4322)
  build/toolchain/android/BUILD.gn
  cobalt/build/configs/initialize_variables.gni
  starboard/build/config/BUILD.gn
Due: check-copyright-year, gn-format

Pin clang-format, yapf, and pylint versions. (#4339)
  .pre-commit-config.yaml
  media/starboard/starboard_renderer.cc
  media/starboard/starboard_renderer.h
  starboard/common/optional.h
  starboard/elf_loader/program_table.cc
  starboard/loader_app/drain_file_test.cc
  starboard/nplb/posix_compliance/posix_socket_resolve_test.cc
  starboard/shared/starboard/media/avc_util_test.cc
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.cc
  starboard/tools/lz4_compress/lz4_compress.cc
Due: cpplint, check-copyright-year

[android] Add command line parameters to Cobalt.apk (#4329)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: google-java-format, gcheckstyle, check-copyright-year

[android] Support full-screen on Cobalt.apk (#4327)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: google-java-format, gcheckstyle, check-copyright-year
