Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, internal-file-check, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

yapf:
  name: yapf
  description: Run yapf (the python formatter) in-place on changed files.
  entry: yapf
  language: system
  args:
  - -i
  - -vv

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

google-java-format:
  name: google-java-format
  entry: python ./precommit_hooks/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: Lint Java With gcheckstyle
  entry: python ./precommit_hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-copyright-year:
  name: check copyright year
  entry: python ./precommit_hooks/check_copyright_year.py
  language: python
  stages:
  - push
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: python ./precommit_hooks/warn_that_starboard_interface_changed_wrapper.py
  language: python
  stages:
  - push

test-python3-compatibility:
  name: Test Python 3 Compatibility
  description: Checks that scripts can be run in Python 3
  entry: python precommit_hooks/python3_check.py
  language: python
  verbose: true

internal-file-check:
  name: Internal File Check
  entry: python precommit_hooks/internal_file_check_wrapper.py
  language: python

gn-format:
  name: GN format
  entry: gn format
  language: system

Partially Revert Revert PR#554 and only leave the part of adding logs (#634) (#703)
  base/single_thread_task_runner.cc
Due: none

Disable deadlock logs for debugger build (#700)
  base/single_thread_task_runner.cc
Due: none

[nplb] Add tests for partial audio frames (#545)
  starboard/nplb/multiple_player_test.cc
  starboard/nplb/player_get_audio_configuration_test.cc
  starboard/nplb/player_test_fixture.cc
  starboard/nplb/player_test_fixture.h
  starboard/nplb/player_test_util.cc
  starboard/nplb/player_test_util.h
  starboard/nplb/player_write_sample_test.cc
  starboard/nplb/vertical_video_test.cc
  starboard/shared/starboard/player/decoded_audio_internal.cc
  starboard/shared/starboard/player/decoded_audio_test_internal.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Fix issue where only one metrics upload was occurring
  cobalt/browser/metrics/cobalt_metrics_service_client.cc
  cobalt/demos/content/telemetry/index.html
Due: clang-format, cpplint, check-copyright-year, internal-file-check

[nplb] Refine DmpReader video mime handling
  starboard/shared/starboard/player/video_dmp_reader.cc
  starboard/shared/starboard/player/video_dmp_reader.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

This change allows the use of GoogleTest's ASSERT() and EXPECT() macros on multiple threads. The failures will be correctly reported and no longer crashes the app.
  third_party/googletest/src/googletest/include/gtest/internal/gtest-port.h
Due: none

[nplb] Enable SbMediaSetAudioWriteDurationTests (#633)
  starboard/nplb/BUILD.gn
  starboard/nplb/media_set_audio_write_duration_test.cc
  starboard/win/win32/test_filters.py
Due: clang-format, cpplint, yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check, gn-format

[Service Worker] SW shouldn't start control the page when activating
  cobalt/black_box_tests/testdata/service_worker_controller_activation_test_worker.js
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
  cobalt/worker/service_worker_context.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

[nplb] Add tests for partial audio frames (#545) (#719)
  starboard/nplb/multiple_player_test.cc
  starboard/nplb/player_get_audio_configuration_test.cc
  starboard/nplb/player_test_fixture.cc
  starboard/nplb/player_test_fixture.h
  starboard/nplb/player_test_util.cc
  starboard/nplb/player_test_util.h
  starboard/nplb/player_write_sample_test.cc
  starboard/nplb/vertical_video_test.cc
  starboard/shared/starboard/player/decoded_audio_internal.cc
  starboard/shared/starboard/player/decoded_audio_test_internal.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

[nplb] Enable SbMediaSetAudioWriteDurationTests (#633) (#720)
  starboard/nplb/BUILD.gn
  starboard/nplb/media_set_audio_write_duration_test.cc
  starboard/win/win32/test_filters.py
Due: clang-format, cpplint, yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check, gn-format

Pin Choco to 1.4.0 (#525)
  docker/windows/base/build/Dockerfile
Due: check-copyright-year, internal-file-check

24.lts.1+ cherry-pick: 6803a2d763 "Pin Choco to 1.4.0 (#525)" (#722)
  docker/windows/base/build/Dockerfile
Due: check-copyright-year, internal-file-check

Fix coverage warnings (#692)
  .github/actions/on_host_test/action.yaml
Due: check-copyright-year, internal-file-check

Enable evergreen black box tests for x64 (#642)
  .github/actions/on_host_test/action.yaml
  .github/config/evergreen-x64.json
  cobalt/black_box_tests/black_box_tests.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Resolve merge conflict in action.yaml
  .github/actions/on_host_test/action.yaml
Due: check-copyright-year, internal-file-check

Disable deadlock logs for debugger build (#700) (#710)
  base/single_thread_task_runner.cc
Due: none

Update external contributing guidelines (#650)
  CONTRIBUTING.md
Due: internal-file-check

Cherry pick PR #650: Update external contributing guidelines (#727)
  CONTRIBUTING.md
Due: internal-file-check

Requisite ukm changes to get it building (#548)
  components/ukm/BUILD.gn
Due: none

First implementation of Cobalt Telemetry core logic (#551)
  cobalt/browser/idl_files.gni
  cobalt/browser/metrics/BUILD.gn
  cobalt/browser/metrics/cobalt_enabled_state_provider.cc
  cobalt/browser/metrics/cobalt_enabled_state_provider.h
  cobalt/browser/metrics/cobalt_h5vcc_metrics_uploader_callback.cc
  cobalt/browser/metrics/cobalt_h5vcc_metrics_uploader_callback.h
  cobalt/browser/metrics/cobalt_metrics_log_uploader.cc
  cobalt/browser/metrics/cobalt_metrics_log_uploader.h
  cobalt/browser/metrics/cobalt_metrics_log_uploader_test.cc
  cobalt/browser/metrics/cobalt_metrics_service_client.cc
  cobalt/browser/metrics/cobalt_metrics_service_client.h
  cobalt/browser/metrics/cobalt_metrics_service_client_test.cc
  cobalt/browser/metrics/cobalt_metrics_services_manager.h
  cobalt/browser/metrics/cobalt_metrics_services_manager_client.cc
  cobalt/browser/metrics/cobalt_metrics_services_manager_client.h
  cobalt/browser/metrics/cobalt_metrics_services_manager_client_test.cc
  cobalt/browser/metrics/cobalt_metrics_uploader_callback.h
  cobalt/h5vcc/BUILD.gn
  cobalt/h5vcc/dial/dial_server.h
  cobalt/h5vcc/h5vcc.cc
  cobalt/h5vcc/h5vcc.h
  cobalt/h5vcc/h5vcc.idl
  cobalt/h5vcc/h5vcc_metric_type.idl
  cobalt/h5vcc/h5vcc_metrics.cc
  cobalt/h5vcc/h5vcc_metrics.h
  cobalt/h5vcc/h5vcc_metrics.idl
  cobalt/h5vcc/metric_event_handler_wrapper.h
  cobalt/h5vcc/script_callback_wrapper.h
  components/crash/core/common/BUILD.gn
  components/crash/core/common/crash_key.h
  components/metrics/BUILD.gn
  components/metrics_services_manager/BUILD.gn
  components/metrics_services_manager/metrics_services_manager.cc
  components/metrics_services_manager/metrics_services_manager.h
  components/metrics_services_manager/metrics_services_manager_client.h
  components/update_client/BUILD.gn
  components/variations/BUILD.gn
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Updating Cobalt documentation to match code changes. (#682)
  cobalt/doc/cvals.md
Due: internal-file-check

Updating Cobalt documentation to match code changes. (#682) (#730)
  cobalt/doc/cvals.md
Due: internal-file-check

Revert a change that overwrites a previous CP
  components/ukm/BUILD.gn
Due: none

Cherry pick PR #548: Requisite ukm changes to get it building (#728)
  components/ukm/BUILD.gn
Due: none

Cherry pick PR #551: First implementation of Cobalt Telemetry core logic (#729)
  cobalt/browser/idl_files.gni
  cobalt/browser/metrics/BUILD.gn
  cobalt/browser/metrics/cobalt_enabled_state_provider.cc
  cobalt/browser/metrics/cobalt_enabled_state_provider.h
  cobalt/browser/metrics/cobalt_h5vcc_metrics_uploader_callback.cc
  cobalt/browser/metrics/cobalt_h5vcc_metrics_uploader_callback.h
  cobalt/browser/metrics/cobalt_metrics_log_uploader.cc
  cobalt/browser/metrics/cobalt_metrics_log_uploader.h
  cobalt/browser/metrics/cobalt_metrics_log_uploader_test.cc
  cobalt/browser/metrics/cobalt_metrics_service_client.cc
  cobalt/browser/metrics/cobalt_metrics_service_client.h
  cobalt/browser/metrics/cobalt_metrics_service_client_test.cc
  cobalt/browser/metrics/cobalt_metrics_services_manager.h
  cobalt/browser/metrics/cobalt_metrics_services_manager_client.cc
  cobalt/browser/metrics/cobalt_metrics_services_manager_client.h
  cobalt/browser/metrics/cobalt_metrics_services_manager_client_test.cc
  cobalt/browser/metrics/cobalt_metrics_uploader_callback.h
  cobalt/h5vcc/BUILD.gn
  cobalt/h5vcc/dial/dial_server.h
  cobalt/h5vcc/h5vcc.cc
  cobalt/h5vcc/h5vcc.h
  cobalt/h5vcc/h5vcc.idl
  cobalt/h5vcc/h5vcc_metric_type.idl
  cobalt/h5vcc/h5vcc_metrics.cc
  cobalt/h5vcc/h5vcc_metrics.h
  cobalt/h5vcc/h5vcc_metrics.idl
  cobalt/h5vcc/metric_event_handler_wrapper.h
  cobalt/h5vcc/script_callback_wrapper.h
  components/crash/core/common/BUILD.gn
  components/crash/core/common/crash_key.h
  components/metrics/BUILD.gn
  components/metrics_services_manager/BUILD.gn
  components/metrics_services_manager/metrics_services_manager.cc
  components/metrics_services_manager/metrics_services_manager.h
  components/metrics_services_manager/metrics_services_manager_client.h
  components/update_client/BUILD.gn
  components/variations/BUILD.gn
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Add new metrics_test references to appropriate targets (#651)
  cobalt/BUILD.gn
  cobalt/build/cobalt_configuration.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check, gn-format

Bootstrap and initialize telemetry in application startup (#645)
  cobalt/browser/BUILD.gn
  cobalt/browser/application.cc
  cobalt/browser/application.h
  cobalt/browser/metrics/cobalt_metrics_services_manager.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Cherry pick PR #645: Bootstrap and initialize telemetry in application startup (#733)
  cobalt/browser/BUILD.gn
  cobalt/browser/application.cc
  cobalt/browser/application.h
  cobalt/browser/metrics/cobalt_metrics_services_manager.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Cherry pick PR #651: Add new metrics_test references to appropriate targets (#732)
  cobalt/BUILD.gn
  cobalt/build/cobalt_configuration.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check, gn-format

Update h5vcc_metrics.idl interface (#652)
  cobalt/browser/metrics/cobalt_metrics_service_client.cc
  cobalt/browser/metrics/cobalt_metrics_service_client.h
  cobalt/browser/metrics/cobalt_metrics_service_client_test.cc
  cobalt/h5vcc/h5vcc_metrics.cc
  cobalt/h5vcc/h5vcc_metrics.h
  cobalt/h5vcc/h5vcc_metrics.idl
Due: clang-format, cpplint, check-copyright-year, internal-file-check

This change allows the use of GoogleTest's ASSERT() and EXPECT() macros (#715)
  third_party/googletest/src/googletest/include/gtest/internal/gtest-port.h
Due: none

Fix tvOS build (#657)
  components/crash/core/common/BUILD.gn
  components/metrics/BUILD.gn
Due: none

Delete crashing CobaltMetricsLogUploader test (#660)
  cobalt/browser/metrics/cobalt_metrics_log_uploader_test.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^internal/starboard/shared/uikit/.*\.h$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  yapf: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  pylint: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  google-java-format: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gcheckstyle: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not ((?x)^(
    .pre-commit-config.yaml$|
    cobalt/media/|
    cobalt/layout_tests/testdata/|
    nb/|
    starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.cc$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.h$|
    starboard/shared/starboard/player/filter/wsola_internal.cc$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  check-if-starboard-interface-changed: any of: ^starboard/[^/]+\.h$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  test-python3-compatibility: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  internal-file-check: any of: not ((^docker-compose-windows(-internal)?.yml|EXCLUDE\.FILES(\.RECURSIVE)?|codereview\.settings)$), but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gn-format: any of: .*\.gni?$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

