Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, internal-file-check, gn-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^internal/starboard/shared/uikit/.*\.h$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  yapf: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  pylint: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  google-java-format: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gcheckstyle: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not ((?x)^(
    .pre-commit-config.yaml$|
    cobalt/media/|
    cobalt/layout_tests/testdata/|
    nb/|
    starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.cc$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.h$|
    starboard/shared/starboard/player/filter/wsola_internal.cc$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  check-if-starboard-interface-changed: any of: ^starboard/[^/]+\.h$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  test-python3-compatibility: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  internal-file-check: any of: not ((^docker-compose-windows(-internal)?.yml|EXCLUDE\.FILES(\.RECURSIVE)?|codereview\.settings)$), but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gn-format: any of: .*\.gni?$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)


Use SetKey instead of SetPath when path is a key
  components/prefs/json_pref_store.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Revert "Add a timeout to postBlockingTask() (#554)" (#631)
  base/single_thread_task_runner.cc
Due: none

Revert "Add a timeout to postBlockingTask() (#554) (#556)" (#632)
  base/single_thread_task_runner.cc
Due: none

Enable evergreen black box tests for x64
  cobalt/black_box_tests/black_box_tests.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Remove Android internal input_events_filter
  starboard/android/shared/BUILD.gn
  starboard/android/shared/application_android.cc
  starboard/android/shared/application_android.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Add Acquire-Release ordering to InjectAndProcess
  starboard/shared/starboard/queue_application.cc
  starboard/shared/starboard/queue_application.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Update queue_application.h
  starboard/shared/starboard/queue_application.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Update lifecycle_console_commands.cc
  cobalt/browser/lifecycle_console_commands.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Update lifecycle console commands and add to devtools.
  cobalt/browser/lifecycle_console_commands.cc
  cobalt/browser/lifecycle_console_commands.h
  third_party/devtools/front_end/cobalt/cobalt.js
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Allow controlling Client Hint Headers based on request type.
  cobalt/h5vcc/h5vcc_settings.cc
  cobalt/loader/cors_preflight.cc
  cobalt/loader/net_fetcher.cc
  cobalt/media/url_fetcher_data_source.cc
  cobalt/network/net_poster.cc
  cobalt/network/network_module.cc
  cobalt/network/network_module.h
  cobalt/updater/network_fetcher.cc
  cobalt/xhr/xml_http_request.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

[android] Support decode to texture for Shorts
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/player_components_factory.h
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
Due: clang-format, cpplint, google-java-format, gcheckstyle, check-copyright-year, internal-file-check

Add Acquire-Release ordering to InjectAndProcess (#575)
  starboard/shared/starboard/queue_application.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Cherry pick PR #575: Add Acquire-Release ordering to InjectAndProcess (#639)
  starboard/shared/starboard/queue_application.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Update lifecycle console commands and add to devtools. (#567)
  cobalt/browser/lifecycle_console_commands.cc
  cobalt/browser/lifecycle_console_commands.h
  third_party/devtools/front_end/cobalt/cobalt.js
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Allow controlling Client Hint Headers based on request type. (#619)
  cobalt/h5vcc/h5vcc_settings.cc
  cobalt/loader/cors_preflight.cc
  cobalt/loader/net_fetcher.cc
  cobalt/media/url_fetcher_data_source.cc
  cobalt/network/net_poster.cc
  cobalt/network/network_module.cc
  cobalt/network/network_module.h
  cobalt/updater/network_fetcher.cc
  cobalt/xhr/xml_http_request.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Cherry pick PR #619: Allow controlling Client Hint Headers based on request type. (#641)
  cobalt/h5vcc/h5vcc_settings.cc
  cobalt/loader/cors_preflight.cc
  cobalt/loader/net_fetcher.cc
  cobalt/media/url_fetcher_data_source.cc
  cobalt/network/net_poster.cc
  cobalt/network/network_module.cc
  cobalt/network/network_module.h
  cobalt/updater/network_fetcher.cc
  cobalt/xhr/xml_http_request.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Resolve first round of PR comments.
  cobalt/browser/metrics/cobalt_enabled_state_provider.h
  cobalt/browser/metrics/cobalt_metrics_service_client.cc
  cobalt/browser/metrics/cobalt_metrics_service_client.h
  cobalt/browser/metrics/cobalt_metrics_services_manager_client.cc
  cobalt/h5vcc/h5vcc_metrics.cc
  cobalt/h5vcc/h5vcc_metrics.h
  cobalt/h5vcc/h5vcc_metrics.idl
  cobalt/h5vcc/script_callback_wrapper.h
  components/crash/core/common/crash_key.h
  components/metrics_services_manager/metrics_services_manager.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Make sure metrics are in a disabled state by default.
  cobalt/browser/metrics/cobalt_metrics_services_manager_client.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

First implementation of Cobalt Telemetry core logic, see go/cobalt-telemetry.
  cobalt/browser/idl_files.gni
  cobalt/browser/metrics/BUILD.gn
  cobalt/browser/metrics/cobalt_enabled_state_provider.cc
  cobalt/browser/metrics/cobalt_enabled_state_provider.h
  cobalt/browser/metrics/cobalt_metrics_log_uploader.cc
  cobalt/browser/metrics/cobalt_metrics_log_uploader.h
  cobalt/browser/metrics/cobalt_metrics_service_client.cc
  cobalt/browser/metrics/cobalt_metrics_service_client.h
  cobalt/browser/metrics/cobalt_metrics_services_manager.h
  cobalt/browser/metrics/cobalt_metrics_services_manager_client.cc
  cobalt/browser/metrics/cobalt_metrics_services_manager_client.h
  cobalt/h5vcc/BUILD.gn
  cobalt/h5vcc/dial/dial_server.h
  cobalt/h5vcc/h5vcc.cc
  cobalt/h5vcc/h5vcc.h
  cobalt/h5vcc/h5vcc.idl
  cobalt/h5vcc/h5vcc_metric_type.idl
  cobalt/h5vcc/h5vcc_metrics.cc
  cobalt/h5vcc/h5vcc_metrics.h
  cobalt/h5vcc/h5vcc_metrics.idl
  cobalt/h5vcc/metric_event_handler_wrapper.h
  cobalt/h5vcc/script_callback_wrapper.h
  components/crash/core/common/BUILD.gn
  components/crash/core/common/crash_key.h
  components/metrics/BUILD.gn
  components/metrics_services_manager/BUILD.gn
  components/metrics_services_manager/metrics_services_manager.cc
  components/metrics_services_manager/metrics_services_manager.h
  components/metrics_services_manager/metrics_services_manager_client.h
  components/update_client/BUILD.gn
  components/variations/BUILD.gn
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Improve metric toggle idl docs
  cobalt/h5vcc/h5vcc_metrics.idl
Due: check-copyright-year, internal-file-check

Add unit tests
  cobalt/browser/metrics/BUILD.gn
  cobalt/browser/metrics/cobalt_h5vcc_metrics_uploader_callback.cc
  cobalt/browser/metrics/cobalt_h5vcc_metrics_uploader_callback.h
  cobalt/browser/metrics/cobalt_metrics_log_uploader.cc
  cobalt/browser/metrics/cobalt_metrics_log_uploader.h
  cobalt/browser/metrics/cobalt_metrics_log_uploader_test.cc
  cobalt/browser/metrics/cobalt_metrics_service_client.cc
  cobalt/browser/metrics/cobalt_metrics_service_client.h
  cobalt/browser/metrics/cobalt_metrics_service_client_test.cc
  cobalt/browser/metrics/cobalt_metrics_services_manager_client.cc
  cobalt/browser/metrics/cobalt_metrics_services_manager_client.h
  cobalt/browser/metrics/cobalt_metrics_services_manager_client_test.cc
  cobalt/browser/metrics/cobalt_metrics_uploader_callback.h
  cobalt/h5vcc/h5vcc_metrics.cc
  cobalt/h5vcc/h5vcc_metrics.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Remove Android internal input_events_filter (#629)
  starboard/android/shared/BUILD.gn
  starboard/android/shared/application_android.cc
  starboard/android/shared/application_android.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

First implementation of Cobalt Telemetry core logic (#551)
  cobalt/browser/idl_files.gni
  cobalt/browser/metrics/BUILD.gn
  cobalt/browser/metrics/cobalt_enabled_state_provider.cc
  cobalt/browser/metrics/cobalt_enabled_state_provider.h
  cobalt/browser/metrics/cobalt_h5vcc_metrics_uploader_callback.cc
  cobalt/browser/metrics/cobalt_h5vcc_metrics_uploader_callback.h
  cobalt/browser/metrics/cobalt_metrics_log_uploader.cc
  cobalt/browser/metrics/cobalt_metrics_log_uploader.h
  cobalt/browser/metrics/cobalt_metrics_log_uploader_test.cc
  cobalt/browser/metrics/cobalt_metrics_service_client.cc
  cobalt/browser/metrics/cobalt_metrics_service_client.h
  cobalt/browser/metrics/cobalt_metrics_service_client_test.cc
  cobalt/browser/metrics/cobalt_metrics_services_manager.h
  cobalt/browser/metrics/cobalt_metrics_services_manager_client.cc
  cobalt/browser/metrics/cobalt_metrics_services_manager_client.h
  cobalt/browser/metrics/cobalt_metrics_services_manager_client_test.cc
  cobalt/browser/metrics/cobalt_metrics_uploader_callback.h
  cobalt/h5vcc/BUILD.gn
  cobalt/h5vcc/dial/dial_server.h
  cobalt/h5vcc/h5vcc.cc
  cobalt/h5vcc/h5vcc.h
  cobalt/h5vcc/h5vcc.idl
  cobalt/h5vcc/h5vcc_metric_type.idl
  cobalt/h5vcc/h5vcc_metrics.cc
  cobalt/h5vcc/h5vcc_metrics.h
  cobalt/h5vcc/h5vcc_metrics.idl
  cobalt/h5vcc/metric_event_handler_wrapper.h
  cobalt/h5vcc/script_callback_wrapper.h
  components/crash/core/common/BUILD.gn
  components/crash/core/common/crash_key.h
  components/metrics/BUILD.gn
  components/metrics_services_manager/BUILD.gn
  components/metrics_services_manager/metrics_services_manager.cc
  components/metrics_services_manager/metrics_services_manager.h
  components/metrics_services_manager/metrics_services_manager_client.h
  components/update_client/BUILD.gn
  components/variations/BUILD.gn
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Use SetKey instead of SetPath when path is a key (#635)
  components/prefs/json_pref_store.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Bootstrap and initialize telemetry in application startup
  cobalt/browser/BUILD.gn
  cobalt/browser/application.cc
  cobalt/browser/application.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Cherry pick PR #629: Remove Android internal input_events_filter (#643)
  starboard/android/shared/BUILD.gn
  starboard/android/shared/application_android.cc
  starboard/android/shared/application_android.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

[nplb] Add tests for multiple players
  starboard/android/shared/test_filters.py
  starboard/android/x86/test_filters.py
  starboard/evergreen/x64/test_filters.py
  starboard/linux/shared/test_filters.py
  starboard/nplb/BUILD.gn
  starboard/nplb/multiple_player_test.cc
  starboard/nplb/player_get_audio_configuration_test.cc
  starboard/nplb/player_test_fixture.cc
  starboard/nplb/player_test_fixture.h
  starboard/nplb/player_write_sample_test.cc
  starboard/raspi/shared/test_filters.py
  starboard/win/win32/test_filters.py
Due: clang-format, cpplint, yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check, gn-format

Create test xml files pre-emptively
  starboard/tools/testing/test_runner.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Update external contributing guidelines
  CONTRIBUTING.md
Due: internal-file-check

Don't construct the StorageManager when not needed.
  cobalt/browser/application.cc
  cobalt/network/network_module.cc
  cobalt/network/network_module.h
  cobalt/storage/storage_manager.cc
  cobalt/storage/storage_manager.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

23.lts.1+ service worker cherry-picks (#627)
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
  cobalt/worker/service_worker_jobs.cc
  third_party/web_platform_tests/service-workers/service-worker/registration-service-worker-attributes.https.html
  third_party/web_platform_tests/service-workers/service-worker/resources/test-helpers.sub.js
  third_party/web_platform_tests/service-workers/service-worker/update-no-cache-request-headers.https.html
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Update h5vcc_metrics.idl interface
  cobalt/browser/metrics/cobalt_metrics_service_client.cc
  cobalt/browser/metrics/cobalt_metrics_service_client.h
  cobalt/browser/metrics/cobalt_metrics_service_client_test.cc
  cobalt/h5vcc/h5vcc_metrics.cc
  cobalt/h5vcc/h5vcc_metrics.h
  cobalt/h5vcc/h5vcc_metrics.idl
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Fix 30 tests from PlayerComponentsTests testcase in player_filter_tests.
  starboard/shared/starboard/player/filter/testing/player_components_test.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check
