Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [pre-commit]

default_language_version:
    python: python3

files: |
    (?x)^(
        .github/|
        cobalt/|
        media/starboard/|
        starboard/|
        .pre-commit-config.yaml|
        .pylintrc|
        docker-compose.yaml
    )

repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-case-conflict
    -   id: check-xml
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace

-   repo: https://cobalt.googlesource.com/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        name: Spell Check
        args: [-x, cobalt/precommit/.codespellignorelines,
               # The --ignore-words-list argument has a bug where it needs to
               # be lowercase, see
               # https://github.com/codespell-project/codespell/issues/1390
               --ignore-words-list, "atleast,varius,assertIn,requestor",
               ]
        exclude: |
            (?x)^(
                starboard/content/ssl/certs/|
                starboard/shared/starboard/player/testdata/|
                starboard/android/apk/app/src/app/assets/web/link_android_splash_screen.html
            )

-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: clang-format
        language: python
        types: [c++]
        args: [-i, -style=file]
        additional_dependencies: ['clang-format==17.0.1']
    -   id: yapf
        name: yapf
        entry: yapf
        language: python
        types: [python]
        args: [-i, -vv]
        additional_dependencies: ['yapf==0.40.2']
    -   id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [python]
        args: [-d W0201]
        additional_dependencies: ['pylint==3.3.1']
    -   id: python3-compatibility-check
        name: Python 3 Compatibility Check
        entry: python3 ./cobalt/precommit/python3_check.py
        language: python
        types: [python]
    -   id: google-java-format
        name: google-java-format
        entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
        language: python
        exclude: |
            (?x)^(
                starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java
            )
        types: [java]
    -   id: gn-format
        name: gn-format
        entry: gn format
        language: system
        files: '.*\.gni?$'

GN invocation workaround for Kokoro builds (#5210)
  cobalt/devinfra/kokoro/bin/dind_build.sh
Due: none

Add @youtube/nplb-filters as nplb filter reviewers (#5076)
  .github/CODEOWNERS
Due: none

Exclude vulkan headers from ui/gl. (#5212)
  ui/gl/gl_switches.cc
Due: none

[Ozone] Remove content border and hide toolbar (#5199)
  cobalt/cobalt_switch_defaults.cc
  content/shell/browser/shell_platform_delegate_views.cc
Due: clang-format

Remove libvulkan.so from 3P builds and disable linux installer (#5205)
  chrome/BUILD.gn
  cobalt/build/configs/linux_common.gn
Due: gn-format

Fix comment on #5201 (#5209)
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/h_5_vcc_runtime.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/h_5_vcc_runtime.h
Due: none

Implement mediasource MemoryInfo extension (#4960)
  content/renderer/render_thread_impl.cc
  content/renderer/render_thread_impl.h
  content/renderer/renderer_blink_platform_impl.cc
  content/renderer/renderer_blink_platform_impl.h
  media/base/media_client.cc
  media/base/media_client.h
  media/starboard/decoder_buffer_allocator.cc
  media/starboard/decoder_buffer_allocator.h
  third_party/blink/public/platform/platform.h
  third_party/blink/renderer/bindings/idl_in_core.gni
  third_party/blink/renderer/core/BUILD.gn
  third_party/blink/renderer/core/cobalt/build.gni
  third_party/blink/renderer/core/cobalt/memory_info/memory_info_extensions.cc
  third_party/blink/renderer/core/cobalt/memory_info/memory_info_extensions.h
  third_party/blink/renderer/core/cobalt/memory_info/memory_info_extensions.idl
Due: clang-format

Add Boreal to the smoke test (#7083)
  .github/config/android-arm.json
Due: none

Use cache directory to store user data. Delete old cache directory af… (#5186)
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/cobalt_browser_main_parts.h
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/migrate_storage_record/migration_manager.cc
  cobalt/cobalt.cc
Due: clang-format

Add volume button and mute button key events (#5227)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/VolumeStateReceiver.java
Due: google-java-format, gcheckstyle

Enable base_unittests on the CI. (#5159)
  .github/config/linux-evergreen.json
  cobalt/build/testing/targets/linux-x64x11-evergreen/test_targets.json
  cobalt/testing/filters/linux-x64x11-evergreen/base_unittests.json
Due: none

Delete ChromeDebug project
  third_party/webrtc_overrides/LICENSE
Due: none

Add web api for used device memory (#5226)
  cobalt/browser/performance/performance_impl.cc
  cobalt/browser/performance/performance_impl.h
  cobalt/browser/performance/public/mojom/performance.mojom
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.cc
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.h
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.idl
Due: clang-format

Delete unused methods in dev.cobalt.media.MediaCodecBridge (#5181)
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: google-java-format, gcheckstyle

[Build] Add optional platform arg to packaging script (#5237)
  cobalt/build/android/package.py
Due: yapf, pylint, python3-compatibility-check

[Cobalt] Changing the log prefixes to "cobalt" (#5223)
  base/logging.cc
Due: none

Add unit tests for cobalt_trusted_header_client (#5246)
  cobalt/BUILD.gn
  cobalt/browser/client_hint_headers/cobalt_header_value_provider_test.cc
  cobalt/browser/client_hint_headers/cobalt_trusted_header_client_test.cc
  cobalt/browser/client_hint_headers/cobalt_trusted_url_loader_header_client_test.cc
Due: clang-format, gn-format

Ensure GCS buckets are publicly accessible mirrors (#5236)
  starboard/shared/starboard/player/BUILD.gn
Due: gn-format

[Ozone] Remove angle_use_x11 flag (#5238)
  cobalt/build/configs/linux-x64x11-evergreen/args.gn
  cobalt/build/configs/linux-x64x11/args.gn
  cobalt/docker/unittest/Dockerfile
  cobalt/testing/filters/linux-x64x11/cc_unittests_filter.json
  cobalt/testing/filters/linux-x64x11/gl_tests_filter.json
  cobalt/testing/filters/linux-x64x11/nplb_filter.json
  cobalt/testing/filters/linux-x64x11/viz_unittests_filter.json
  ui/gl/init/gl_display_initializer.cc
Due: gn-format

Mojom implementation of window.h5vcc.accessibility (#5214)
  cobalt/browser/cobalt_browser_interface_binders.cc
  cobalt/browser/h5vcc_accessibility/h5vcc_accessibility_impl.cc
  cobalt/browser/h5vcc_accessibility/h5vcc_accessibility_impl.h
  cobalt/browser/h5vcc_accessibility/public/mojom/h5vcc_accessibility.mojom
  starboard/android/shared/BUILD.gn
  starboard/android/shared/accessibility_get_text_to_speech_settings.cc
  starboard/android/shared/text_to_speech_helper.cc
  starboard/android/shared/text_to_speech_helper.h
  starboard/android/shared/text_to_speech_observer.h
  third_party/blink/renderer/modules/cobalt/h5vcc_accessibility/h_5_vcc_accessibility.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_accessibility/h_5_vcc_accessibility.h
Due: clang-format, gn-format

[Build] Add platform arg to build script (#5250)
  cobalt/build/android/package.py
Due: yapf, pylint, python3-compatibility-check

[android] Fix missing return value in DecodeTarget::GetInfo (#5240)
  starboard/android/shared/decode_target.cc
Due: clang-format

Add thread annotations (#5224)
  media/starboard/decoder_buffer_allocator.h
  media/starboard/sbplayer_bridge.h
  media/starboard/sbplayer_set_bounds_helper.h
  media/starboard/starboard_renderer.h
Due: clang-format

Enable //media/starboard:unit_tests (#5206)
  media/BUILD.gn
  media/starboard/bidirectional_fit_reuse_allocator_test.cc
  media/starboard/progressive/mock_data_source_reader.h
  media/starboard/progressive/mp4_map_unittest.cc
  media/starboard/progressive/rbsp_stream_unittest.cc
Due: clang-format

[media] Replace std::size_t with size_t (#5264)
  starboard/common/allocator.h
  starboard/common/fixed_no_free_allocator.cc
  starboard/common/fixed_no_free_allocator.h
  starboard/common/fixed_no_free_allocator_test.cc
  starboard/common/memory_pool.h
  starboard/common/reuse_allocator_base.cc
  starboard/common/reuse_allocator_base.h
Due: clang-format

Fix loader_app, crashpad_handler build instructions (#5242) (#5265)
  starboard/BUILD.gn
  starboard/content/fonts/scripts/filter_fonts.py
  starboard/doc/evergreen/cobalt_evergreen_reference_port_raspi2.md
  starboard/raspi/shared/platform_configuration/configuration.gni
Due: yapf, pylint, python3-compatibility-check, gn-format

[media] Report media bytes decoded in statistics (#5135)
  media/starboard/sbplayer_bridge.cc
  media/starboard/sbplayer_bridge.h
  media/starboard/starboard_renderer.cc
Due: clang-format

Bringing back network disconnected error dialog popup (#5235)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/PlatformError.java
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_web_contents_observer.cc
  cobalt/browser/cobalt_web_contents_observer.h
Due: clang-format, google-java-format, gcheckstyle, gn-format

Flesh out UMA initialization (#5198)
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/cobalt_browser_main_parts.h
  cobalt/browser/metrics/cobalt_enabled_state_provider.cc
  cobalt/browser/metrics/cobalt_enabled_state_provider.h
  cobalt/browser/metrics/cobalt_metrics_service_client.cc
  cobalt/browser/metrics/cobalt_metrics_service_client.h
  cobalt/browser/metrics/cobalt_metrics_service_client_test.cc
  cobalt/browser/metrics/cobalt_metrics_services_manager_client.cc
  cobalt/browser/metrics/cobalt_metrics_services_manager_client.h
Due: clang-format, gn-format

Reapply "Import platform args.gn and refactor gn.py" (#5143) (#5173)
  cobalt/build/gn.py
Due: yapf, pylint, python3-compatibility-check

Run 5K+ media_unittests during PR submit (#5260)
  cobalt/testing/filters/linux-x64x11/media_unittests_filter.json
  media/test/run_all_unittests.cc
Due: none

Add web tests build config to GitHub CI (#5253)
  .github/config/linux-web-tests.json
  .github/workflows/linux.yaml
  .github/workflows/main.yaml
  cobalt/renderer/BUILD.gn
  media/BUILD.gn
Due: gn-format

Run TTS cb with stub value for Starboard platforms (#5279)
  cobalt/browser/h5vcc_accessibility/h5vcc_accessibility_impl.cc
Due: clang-format

Distinguish between KEY_MAX_INPUT_SIZE log (#5273)
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: google-java-format, gcheckstyle

Fix tests not running for linux-eg (#5220)
  .github/actions/build/action.yaml
  .github/actions/test_targets_json/action.yaml
  .github/workflows/main.yaml
  cobalt/testing/filters/linux-x64x11-evergreen/base_unittests_filter.json
Due: none

Add performance.getAppStartupTime() (#5245)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  cobalt/browser/performance/BUILD.gn
  cobalt/browser/performance/performance_impl.cc
  cobalt/browser/performance/performance_impl.h
  cobalt/browser/performance/public/mojom/performance.mojom
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.cc
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.h
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.idl
  third_party/musl/src/starboard/stdlib/strtod_l.c
Due: clang-format, google-java-format, gcheckstyle, gn-format
