Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, internal-file-check, gn-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^internal/starboard/shared/uikit/.*\.h$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  yapf: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  pylint: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  google-java-format: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gcheckstyle: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not ((?x)^(
    .pre-commit-config.yaml$|
    cobalt/media/|
    cobalt/layout_tests/testdata/|
    nb/|
    starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.cc$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.h$|
    starboard/shared/starboard/player/filter/wsola_internal.cc$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  check-if-starboard-interface-changed: any of: ^starboard/[^/]+\.h$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  test-python3-compatibility: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  internal-file-check: any of: not ((^docker-compose-windows(-internal)?.yml|EXCLUDE\.FILES(\.RECURSIVE)?|codereview\.settings)$), but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gn-format: any of: .*\.gni?$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)


Support Cobalt modular toolchain defintion for NX
  starboard/build/toolchain/cobalt_toolchains.gni
Due: check-copyright-year, internal-file-check, gn-format

Web Media Player unit tests
  cobalt/media/BUILD.gn
  cobalt/media/player/web_media_player_impl_unittest.cc
Due: clang-format, cpplint, internal-file-check, gn-format

Initial setup test.
  cobalt/media/player/web_media_player_impl_unittest.cc
Due: clang-format, cpplint, internal-file-check

Cleanup mime attribute of enableaudiodevicecallback
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioOutputManager.java
  starboard/android/shared/audio_renderer_passthrough.cc
  starboard/android/shared/audio_renderer_passthrough.h
  starboard/android/shared/audio_sink_min_required_frames_tester.cc
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type.h
  starboard/android/shared/audio_track_bridge.cc
  starboard/android/shared/audio_track_bridge.h
  starboard/android/shared/player_components_factory.h
Due: clang-format, cpplint, google-java-format, gcheckstyle, check-copyright-year, internal-file-check

Cleanup mime attribute of enableaudiodevicecallback
  starboard/android/shared/media_is_audio_supported.cc
  starboard/android/shared/player_components_factory.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Cleanup mime attribute of enableaudiodevicecallback
  starboard/android/shared/player_components_factory.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Cleanup mime attribute of enableaudiodevicecallback (#1518)
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioOutputManager.java
  starboard/android/shared/audio_renderer_passthrough.cc
  starboard/android/shared/audio_renderer_passthrough.h
  starboard/android/shared/audio_sink_min_required_frames_tester.cc
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type.h
  starboard/android/shared/audio_track_bridge.cc
  starboard/android/shared/audio_track_bridge.h
  starboard/android/shared/media_is_audio_supported.cc
  starboard/android/shared/player_components_factory.h
Due: clang-format, cpplint, google-java-format, gcheckstyle, check-copyright-year, internal-file-check

Remove special case for raspi-2 modular build. (#1493)
  starboard/shared/ffmpeg/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Better test logging for service worker tests.
  cobalt/black_box_tests/testdata/service_worker_add_to_cache_test.html
  cobalt/black_box_tests/testdata/service_worker_cache_keys_test.html
Due: check-copyright-year, internal-file-check

Skip fetch intercept logic when no active service worker is present.
  cobalt/xhr/xml_http_request.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

[Watchdog] Support non-unique client names. (#1446)
  cobalt/watchdog/watchdog.cc
  cobalt/watchdog/watchdog.h
  cobalt/watchdog/watchdog_test.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Remove raspi-2 -fno-exception hack. (#1490)
  build/config/compiler/BUILD.gn
  starboard/nplb/BUILD.gn
  starboard/raspi/shared/platform_configuration/configuration.gni
  third_party/llvm-project/libcxxabi/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Add container to symbolize crashpad crashes
  docker-compose.yml
  docker/crashpad_symbolize/Dockerfile
Due: check-copyright-year, internal-file-check

Fixes to crashpad container
  docker-compose.yml
  docker/crashpad_symbolize/Dockerfile
Due: check-copyright-year, internal-file-check

Add instructions for symbolizing crashes with container
  docker-compose.yml
  docker/crashpad_symbolize/Dockerfile
  starboard/doc/evergreen/symbolizing_minidumps.md
Due: check-copyright-year, internal-file-check

Better test logging for service worker tests. (#1499)
  cobalt/black_box_tests/testdata/service_worker_add_to_cache_test.html
  cobalt/black_box_tests/testdata/service_worker_cache_keys_test.html
Due: check-copyright-year, internal-file-check

[media] Pass PlayerWorker::Handler error messages (#1468)
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.cc
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.h
  starboard/shared/starboard/player/player_worker.cc
  starboard/shared/starboard/player/player_worker.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Support Cobalt modular toolchain defintion for NX (#1522)
  starboard/build/toolchain/cobalt_toolchains.gni
Due: check-copyright-year, internal-file-check, gn-format

Cleanup mime attribute of enablepcmcontenttypemovie
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioOutputManager.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  starboard/android/shared/audio_renderer_passthrough.cc
  starboard/android/shared/audio_sink_min_required_frames_tester.cc
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type.h
  starboard/android/shared/audio_track_bridge.cc
  starboard/android/shared/audio_track_bridge.h
  starboard/android/shared/media_is_audio_supported.cc
  starboard/android/shared/player_components_factory.h
Due: clang-format, cpplint, google-java-format, gcheckstyle, check-copyright-year, internal-file-check

Fix GN helper script PYTHONPATH assert misfiring
  cobalt/build/gn.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Cleanup mime attribute of enablepcmcontenttypemovie (#1526)
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioOutputManager.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  starboard/android/shared/audio_renderer_passthrough.cc
  starboard/android/shared/audio_sink_min_required_frames_tester.cc
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type.h
  starboard/android/shared/audio_track_bridge.cc
  starboard/android/shared/audio_track_bridge.h
  starboard/android/shared/media_is_audio_supported.cc
  starboard/android/shared/player_components_factory.h
Due: clang-format, cpplint, google-java-format, gcheckstyle, check-copyright-year, internal-file-check

Add check for starboard python module
  build/util/has_starboard.py
  starboard/build/config/BUILDCONFIG.gn
Due: check-copyright-year, internal-file-check, gn-format

Remove gn.py PYTHONPATH check
  cobalt/build/gn.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Avoid reading audio configurations for url player
  cobalt/media/base/sbplayer_pipeline.cc
Due: clang-format, cpplint, internal-file-check

Add defensive null checks and fix unprotected signal.
  starboard/android/shared/audio_decoder.cc
  starboard/android/shared/media_decoder.cc
  starboard/shared/ffmpeg/ffmpeg_audio_decoder_impl.cc
  starboard/shared/libfdkaac/fdk_aac_audio_decoder.cc
  starboard/shared/starboard/player/filter/audio_frame_discarder.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Remove root lbshell directory
  lbshell/build/copy_and_filter_out_dir.py
  lbshell/build/package_application.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Separate modular configs from evergreen b/294267479
  starboard/build/config/modular/shared/BUILD.gn
  starboard/evergreen/shared/platform_configuration/BUILD.gn
  starboard/evergreen/shared/platform_configuration/configuration.gni
Due: check-copyright-year, internal-file-check, gn-format

Replace modp_b64 with tree at Chrome tag 114.0.5735.331
  third_party/modp_b64/BUILD.gn
  third_party/modp_b64/DEPS
  third_party/modp_b64/DIR_METADATA
  third_party/modp_b64/METADATA
  third_party/modp_b64/OWNERS
  third_party/modp_b64/README.chromium
  third_party/modp_b64/modp_b64.cc
  third_party/modp_b64/modp_b64.h
  third_party/modp_b64/modp_b64_data.h
Due: none

Refactor the check to be more robust
  build/util/has_starboard.py
  starboard/build/config/BUILDCONFIG.gn
Due: check-copyright-year, internal-file-check, gn-format

Revert "Remove raspi-2 -fno-exception hack. (#1490)"
  build/config/compiler/BUILD.gn
  starboard/nplb/BUILD.gn
  starboard/raspi/shared/platform_configuration/configuration.gni
  third_party/llvm-project/libcxxabi/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Remove Service worker persistent setting origin url check
  cobalt/browser/browser_module.cc
  cobalt/browser/service_worker_registry.cc
  cobalt/browser/service_worker_registry.h
  cobalt/layout_tests/web_platform_tests.cc
  cobalt/worker/service_worker_context.cc
  cobalt/worker/service_worker_context.h
  cobalt/worker/service_worker_persistent_settings.cc
  cobalt/worker/service_worker_persistent_settings.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Rename script to better fit with its purpose
  build/util/is_on_path.py
  starboard/build/config/BUILDCONFIG.gn
Due: check-copyright-year, internal-file-check, gn-format
