Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=4
  - --quiet
  additional_dependencies:
  - cpplint

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./chrobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./chrobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./chrobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

Remove redundant functionalities in cobalt/shell/browser (#6214)
  cobalt/shell/BUILD.gn
  cobalt/shell/browser/shell_browser_context.cc
  cobalt/shell/browser/shell_browser_context.h
  cobalt/shell/browser/shell_content_browser_client.cc
Due: none

Import check_op.h (e.g SB_CHECK_EQ) to starboard/ (from base/) (#6274)
  starboard/android/shared/video_decoder.cc
  starboard/common/BUILD.gn
  starboard/common/check.h
  starboard/common/check_op.cc
  starboard/common/check_op.h
Due: clang-format, cpplint, gn-format

Make ContentViewRenderView 's background color Transparent (#6285)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/shell/ShellManager.java
Due: none

[android] Fix crash in VideoDecoder with decode-to-texture mode
  content/renderer/media/media_factory.cc
  starboard/android/shared/video_decoder.cc
Due: clang-format, cpplint

Downgrade the log to info level (#6311)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
Due: none

Update video_decoder.cc
  starboard/android/shared/video_decoder.cc
Due: clang-format, cpplint

Update BUILD.gn
  starboard/common/BUILD.gn
Due: gn-format

[Cobalt Shell] Remove unsupported platforms from cobalt_shell (#6073)
  cobalt/build/configs/initialize_variables.gni
  cobalt/shell/BUILD.gn
  cobalt/shell/app/shell_main_delegate.cc
  cobalt/shell/app/shell_main_delegate.h
  cobalt/shell/browser/DEPS
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell.h
  cobalt/shell/browser/shell_browser_context.cc
  cobalt/shell/browser/shell_browser_main_parts.cc
  cobalt/shell/browser/shell_browser_main_parts.h
  cobalt/shell/browser/shell_content_browser_client.cc
  cobalt/shell/browser/shell_content_browser_client.h
  cobalt/shell/browser/shell_download_manager_delegate.cc
  cobalt/shell/browser/shell_javascript_dialog.h
  cobalt/shell/browser/shell_javascript_dialog_manager.cc
  cobalt/shell/browser/shell_javascript_dialog_manager.h
  cobalt/shell/browser/shell_paths.cc
  cobalt/shell/browser/shell_platform_delegate.h
  cobalt/shell/browser/shell_platform_delegate_views.cc
  cobalt/shell/browser/shell_web_contents_view_delegate.h
Due: none

Copy content/shell/renderer/ to cobalt/shell/renderer (#6150)
  cobalt/shell/BUILD.gn
  cobalt/shell/app/shell_main_delegate.cc
  cobalt/shell/renderer/DEPS
  cobalt/shell/renderer/render_frame_test_helper.cc
  cobalt/shell/renderer/render_frame_test_helper.h
  cobalt/shell/renderer/shell_content_renderer_client.cc
  cobalt/shell/renderer/shell_content_renderer_client.h
  cobalt/shell/renderer/shell_render_frame_observer.cc
  cobalt/shell/renderer/shell_render_frame_observer.h
Due: none

Fix copyrights in cobalt/shell/renderer (#6163)
  cobalt/shell/renderer/render_frame_test_helper.cc
  cobalt/shell/renderer/render_frame_test_helper.h
  cobalt/shell/renderer/shell_content_renderer_client.cc
  cobalt/shell/renderer/shell_content_renderer_client.h
  cobalt/shell/renderer/shell_render_frame_observer.cc
  cobalt/shell/renderer/shell_render_frame_observer.h
Due: none

Remove libtest_trace_processor.so (#6249)
  cobalt/shell/BUILD.gn
Due: none

Reapply "Cherry pick PR #6257: Refactor Shell into cobalt directory." (#6288)
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/shell/Shell.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/shell/ShellManager.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/shell/ShellViewAndroidDelegate.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/shell/Util.java
  cobalt/shell/android/shell_manager.cc
  cobalt/shell/browser/shell_platform_delegate_android.cc
Due: none

feat: ODT gateway E2E testing upgrade - b/416339892
  .github/actions/e2e_tests/action.yaml
  .github/config/android-arm.json
  .github/config/android-arm64.json
  .github/workflows/main.yaml
  cobalt/tools/on_device_tests_gateway.proto
  cobalt/tools/on_device_tests_gateway_client.py
Due: none

feat: ODT gateway E2E testing upgrade - fix conflict
  .github/actions/e2e_tests/action.yaml
  .github/actions/on_device_tests/action.yaml
Due: none

ODT gateway - address review comments
  .github/config/android-arm.json
  .github/config/android-arm64.json
  cobalt/tools/on_device_tests_gateway.proto
  cobalt/tools/on_device_tests_gateway_client.py
Due: none

feat: ODT gateway E2E testing upgrade - fix conflict
  cobalt/tools/on_device_tests_gateway_client.py
Due: none

Update manifest
  starboard/tools/api_leak_detector/evergreen/manifest
Due: none

[android] Fix crash in VideoDecoder with decode-to-texture mode (#6305)
  content/renderer/media/media_factory.cc
  starboard/android/shared/video_decoder.cc
Due: clang-format, cpplint

apply check_op
  starboard/android/shared/audio_sink_min_required_frames_tester.cc
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_bridge.cc
  starboard/android/shared/continuous_audio_track_sink.cc
  starboard/android/shared/decode_target.cc
  starboard/android/shared/drm_system.cc
  starboard/android/shared/file_internal.cc
  starboard/android/shared/input_events_generator.cc
  starboard/android/shared/jni_env_ext.cc
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_common.h
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/microphone_impl.cc
  starboard/android/shared/player_components_factory.cc
  starboard/android/shared/video_max_video_input_size.cc
  starboard/android/shared/video_render_algorithm.cc
  starboard/shared/starboard/player/player_internal.cc
Due: clang-format, cpplint

cobalt/shell: Remove components/metrics:test_support & ShellContentBrowserClient (#6070)
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/shell/BUILD.gn
  cobalt/shell/browser/shell_content_browser_client.cc
Due: none

Revert "cobalt/shell: Remove components/metrics:test_support & ShellContentBrowserClient" (#6088)
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/shell/browser/shell_content_browser_client.cc
Due: none

cobalt/shell: Removing dependency on ShellContentBrowserClient (#6076)
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/cobalt_browser_main_parts.h
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/browser/cobalt_web_contents_observer.h
  cobalt/shell/BUILD.gn
  cobalt/shell/android/shell_manager.cc
  cobalt/shell/android/shell_manager.h
  cobalt/shell/app/shell_main_delegate.cc
  cobalt/shell/app/shell_main_delegate.h
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell_browser_context.cc
  cobalt/shell/browser/shell_devtools_bindings.cc
Due: none

Remove keys remapping and dispatch all key events to IME (#6236)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: none

[POSIX] Add pathconf in Starboard API (#6115)
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_file_pathconf_test.cc
  starboard/shared/modular/cobalt_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.h
Due: clang-format, cpplint, gn-format

Remove content_shell_apk_java from build.gn (#6237)
  cobalt/android/BUILD.gn
Due: none

Set FLAG_KEEP_SCREEN_ON flag when Media Playback is playing (#6219)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltMediaSession.java
Due: none

Add runfile gen for evergreen (#6244)
  .github/actions/on_host_tests/action.yaml
  cobalt/build/modular_executable.gni
  cobalt/build/testing/targets/evergreen-x64/test_targets.json
  starboard/build/util/generate_runfile.py
Due: yapf, pylint, python3-compatibility-check

[POSIX] Add support for process-related POSIX functions (#6234)
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_process_test.cc
  starboard/shared/modular/cobalt_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.h
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/api_leak_detector/evergreen/manifest
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check, gn-format

[Refactor] Replace starboard::mutex in starboard (#6040)
  starboard/shared/starboard/application.cc
  starboard/shared/starboard/application.h
  starboard/shared/starboard/player/filter/stub_audio_decoder.cc
  starboard/shared/starboard/player/filter/stub_audio_decoder.h
  starboard/shared/starboard/player/player_internal.cc
  starboard/shared/starboard/player/player_internal.h
  starboard/shared/starboard/queue_application.cc
  starboard/shared/starboard/queue_application.h
  starboard/shared/widevine/drm_system_widevine.cc
  starboard/shared/widevine/drm_system_widevine.h
Due: clang-format, cpplint

[media] Add doc for StarboardRenderer (#6250)
  media/starboard/README.md
Due: none

[Refactor] Replace starboard::mutex in starboard/raspi (#6029)
  starboard/raspi/shared/open_max/dispmanx_resource_pool.cc
  starboard/raspi/shared/open_max/dispmanx_resource_pool.h
  starboard/raspi/shared/open_max/video_decoder.cc
  starboard/raspi/shared/open_max/video_decoder.h
  starboard/raspi/shared/video_renderer_sink_impl.cc
  starboard/raspi/shared/video_renderer_sink_impl.h
Due: clang-format, cpplint

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  yapf: any of: \.py$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  pylint: any of: \.py$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  python3-compatibility-check: any of: \.py$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  google-java-format: any of: \.java$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  gcheckstyle: any of: \.java$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  gn-format: any of: .*\.gni?$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

