Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)

Cherry pick PR #12896: aosp: route Android Activity lifecycle into the Starboard event queue
  .github/AUTOROLL
  cobalt/aosp/apk/app/java/dev/cobalt/app/MainActivity.java
  starboard/aosp/shared/BUILD.gn
  starboard/aosp/shared/application_aosp.cc
  starboard/aosp/shared/application_aosp.h
  starboard/aosp/shared/main_activity.cc
  starboard/aosp/shared/window_get_platform_handle.cc
  starboard/aosp/shared/window_get_size.cc
  starboard/aosp/shared/window_internal.cc
  starboard/aosp/shared/window_internal.h
  starboard/aosp/shared/window_surface.cc
  starboard/aosp/shared/window_surface.h
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

[RDK] media: Use time-based queue size in RDK player
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/player/player_internal.cc
Due: none

aosp: Expose the LoaderAppMetrics extension via SbSystemGetExtension
  cobalt/testing/filters/evergreen-arm-softfp-aosp/nplb_loader_filter.json
  cobalt/testing/filters/evergreen-arm64-aosp/nplb_loader_filter.json
  starboard/android/shared/system_get_extensions.cc
Due: clang-format, cpplint

starboard: Normalize CRLF line endings to LF
  starboard/.gitattributes
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/microphone/local_aows_server.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/microphone/local_aows_server.h
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/microphone/microphone_impl.cc
  starboard/nplb/posix_compliance/posix_file_delete_test.cc
  starboard/nplb/posix_compliance/posix_file_fsync_test.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.h
Due: clang-format, cpplint

starboard: Pass ucontext_t through to SA_SIGINFO handlers in modular builds (#12888)
  cobalt/BUILD.gn
  cobalt/browser/v8_cpu_profiler_unittest.cc
  starboard/nplb/posix_compliance/posix_signal_test.cc
  starboard/shared/modular/starboard_layer_posix_signal_abi_wrappers.cc
Due: clang-format, cpplint, gn-format

aosp: Expose the LoaderAppMetrics extension via SbSystemGetExtension (#12951)
  cobalt/testing/filters/evergreen-arm-softfp-aosp/nplb_loader_filter.json
  cobalt/testing/filters/evergreen-arm64-aosp/nplb_loader_filter.json
  starboard/android/shared/system_get_extensions.cc
Due: clang-format, cpplint

Cherry pick PR #12888: starboard: Pass ucontext_t through to SA_SIGINFO handlers in modular builds
  .github/AUTOROLL
  cobalt/BUILD.gn
  cobalt/browser/v8_cpu_profiler_unittest.cc
  starboard/nplb/posix_compliance/posix_signal_test.cc
  starboard/shared/modular/starboard_layer_posix_signal_abi_wrappers.cc
Due: clang-format, cpplint, gn-format

Cherry pick PR #12951: aosp: Expose the LoaderAppMetrics extension via SbSystemGetExtension
  .github/AUTOROLL
  cobalt/testing/filters/evergreen-arm-softfp-aosp/nplb_loader_filter.json
  cobalt/testing/filters/evergreen-arm64-aosp/nplb_loader_filter.json
  starboard/android/shared/system_get_extensions.cc
Due: clang-format, cpplint

cobalt: Always disable BackForwardCache
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/util/JavaSwitchesTest.java
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell.h
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

starboard: Check the send thread's errno in RainyDaySendToClosedSocket
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/nplb_loader_filter.json
  cobalt/testing/filters/evergreen-x64/nplb_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/nplb_loader_filter.json
  cobalt/testing/filters/linux-x64x11/nplb_filter.json
  starboard/nplb/posix_compliance/posix_socket_send_test.cc
  starboard/nplb/posix_compliance/posix_socket_sendto_test.cc
Due: clang-format, cpplint

starboard: Normalize CRLF line endings to LF (#12952)
  starboard/.gitattributes
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/microphone/local_aows_server.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/microphone/local_aows_server.h
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/microphone/microphone_impl.cc
  starboard/nplb/posix_compliance/posix_file_delete_test.cc
  starboard/nplb/posix_compliance/posix_file_fsync_test.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.h
Due: clang-format, cpplint

aosp: Report ENOTTY from isatty() for non-terminal descriptors
  cobalt/testing/filters/evergreen-arm-softfp-aosp/nplb_loader_filter.json
  cobalt/testing/filters/evergreen-arm64-aosp/nplb_loader_filter.json
  starboard/elf_loader/exported_symbols.cc
  starboard/shared/modular/cobalt_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.h
Due: clang-format, cpplint

Cherry pick PR #12952: starboard: Normalize CRLF line endings to LF
  .github/AUTOROLL
  starboard/.gitattributes
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/microphone/local_aows_server.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/microphone/local_aows_server.h
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/microphone/microphone_impl.cc
  starboard/nplb/posix_compliance/posix_file_delete_test.cc
  starboard/nplb/posix_compliance/posix_file_fsync_test.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.h
Due: clang-format, cpplint

infra: Add cobalt-ci-owners for CI, Kokoro, and build scripts
  .github/CODEOWNERS
Due: none

ci(rebase): update AI rebase agent workflow to production reasoning engine (#12885)
  .github/workflows/ai_rebase_resolver.yaml
  cobalt/docker/linux/Dockerfile
Due: none

aosp: Add Fire TV end-to-end smoke test targets and packaging
  .github/actions/internal_tests/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
  .github/config/evergreen-arm-softfp-aosp.json
  cobalt/build/evergreen-arm-softfp-aosp/package.json
  cobalt/build/evergreen-arm64-aosp/package.json
  cobalt/tools/on_device_tests_gateway_client.py
Due: yapf, pylint, python3-compatibility-check

[Blink] Fast-path DOM event listener dispatch for callable functions
  third_party/blink/renderer/bindings/bindings.gni
  third_party/blink/renderer/bindings/core/v8/js_based_event_listener.cc
  third_party/blink/renderer/bindings/core/v8/js_event_listener.cc
  third_party/blink/renderer/bindings/core/v8/js_event_listener_test.cc
Due: none

ci: Suffix test result artifacts with run_attempt to avoid re-run collisions
  .github/actions/generate_retry_filter/action.yaml
  .github/actions/linux_browser_tests/action.yaml
  .github/actions/on_device_tests/action.yaml
  .github/actions/on_host_tests/action.yaml
  .github/actions/prepare_test_filters/action.yaml
  .github/workflows/main.yaml
Due: none

Add integration tests for SbMediaInterface
  cobalt/browser/custom_mime_type_browsertest.cc
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/cobalt_browsertests_loader_filter.json
  media/base/BUILD.gn
  media/base/starboard/sbmedia_interface_unittest.cc
  media/starboard/BUILD.gn
  media/starboard/sbplayer_bridge_test.cc
Due: clang-format, cpplint, gn-format

Renamed unit test file to be more accurate
  media/base/BUILD.gn
  media/base/starboard/mime_util_starboard_unittest.cc
Due: clang-format, cpplint

test refinement
  cobalt/browser/custom_mime_type_browsertest.cc
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/cobalt_browsertests_loader_filter.json
  media/starboard/sbplayer_bridge_test.cc
Due: clang-format, cpplint

additions
  cobalt/browser/custom_mime_type_browsertest.cc
Due: clang-format, cpplint

remove unneeded filter
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/cobalt_browsertests_loader_filter.json
Due: none

Address PR feedback
  cobalt/browser/custom_mime_type_browsertest.cc
  media/starboard/sbplayer_bridge_test.cc
Due: clang-format, cpplint

fix issues
  cobalt/browser/custom_mime_type_browsertest.cc
  cobalt/testing/browser_tests/content_browser_test.cc
  cobalt/testing/browser_tests/content_browser_test.h
  media/starboard/sbplayer_bridge_test.cc
Due: clang-format, cpplint

fixes
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/cobalt_browsertests_loader_filter.json
  media/starboard/sbplayer_bridge_test.cc
Due: clang-format, cpplint

fix bot comments
  media/base/starboard/mime_util_starboard_unittest.cc
  media/starboard/sbplayer_bridge_test.cc
Due: clang-format, cpplint

docker(linux): pre-install python3-pip in linux build image
  cobalt/docker/linux/Dockerfile
Due: none

aosp: Report ENOTTY from isatty() for non-terminal descriptors (#12956)
  cobalt/testing/filters/evergreen-arm-softfp-aosp/nplb_loader_filter.json
  cobalt/testing/filters/evergreen-arm64-aosp/nplb_loader_filter.json
  starboard/elf_loader/exported_symbols.cc
  starboard/shared/modular/cobalt_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.h
Due: clang-format, cpplint

infra: initialize CI Shepherd anchor comment in PR automation workflow
  .github/workflows/pull_request.yml
Due: none

starboard: Check the send thread's errno in RainyDaySendToClosedSocket (#12953)
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/nplb_loader_filter.json
  cobalt/testing/filters/evergreen-x64/nplb_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/nplb_loader_filter.json
  cobalt/testing/filters/linux-x64x11/nplb_filter.json
  starboard/nplb/posix_compliance/posix_socket_send_test.cc
  starboard/nplb/posix_compliance/posix_socket_sendto_test.cc
Due: clang-format, cpplint

build: Inherit libunwind config from Chromium
  cobalt/testing/filters/evergreen-arm64-aosp/nplb_loader_filter.json
  third_party/llvm-project/libunwind/BUILD.gn
  third_party/musl/src/starboard/include/syscall_arch.h
Due: clang-format, cpplint

Address review: drop E2E browser test, rename TestSbMedia, add GUARDED_BY
  cobalt/browser/custom_mime_type_browsertest.cc
  cobalt/testing/browser_tests/content_browser_test.cc
  cobalt/testing/browser_tests/content_browser_test.h
Due: clang-format, cpplint

Combine Conceal, Freeze, and Stop RunLoop synchronization in HandleEvent
  cobalt/app/app_event_delegate.cc
Due: clang-format, cpplint

Cherry pick PR #12956: aosp: Report ENOTTY from isatty() for non-terminal descriptors
  .github/AUTOROLL
  cobalt/testing/filters/evergreen-arm-softfp-aosp/nplb_loader_filter.json
  cobalt/testing/filters/evergreen-arm64-aosp/nplb_loader_filter.json
  starboard/elf_loader/exported_symbols.cc
  starboard/shared/modular/cobalt_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.h
Due: clang-format, cpplint

Cherry pick PR #12953: starboard: Check the send thread's errno in RainyDaySendToClosedSocket
  .github/AUTOROLL
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/nplb_loader_filter.json
  cobalt/testing/filters/evergreen-x64/nplb_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/nplb_loader_filter.json
  cobalt/testing/filters/linux-x64x11/nplb_filter.json
  starboard/nplb/posix_compliance/posix_socket_send_test.cc
  starboard/nplb/posix_compliance/posix_socket_sendto_test.cc
Due: clang-format, cpplint

docker(linux): pre-install python3-pip in linux build image (#12960)
  cobalt/docker/linux/Dockerfile
Due: none

[CI] Simplify XML deduplication in validate-result
  .github/workflows/main.yaml
Due: none

infra: reset existing CI statuses on PR synchronize
  .github/workflows/pull_request.yml
Due: none
