Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=4
  - --quiet
  additional_dependencies:
  - cpplint

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./chrobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./chrobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./chrobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

Skip test artifact upload if no tests were built
  .github/actions/build/action.yaml
Due: none

Remove unnecessary rtti config (#5021)
  third_party/googletest/BUILD.gn
Due: none

Use fallback value if step was skipped
  .github/actions/build/action.yaml
Due: none

Add wpt test
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-runtime/h5vcc-runtime-deeplink-interaction.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-runtime/h5vcc-runtime-onDeepLink.https.any.js
Due: none

Add more types and functions
  third_party/musl/src/starboard/pthread/pthread.h
Due: none

Move local_ip to be close to where it's used (#5024)
  third_party/blink/renderer/core/frame/build.gni
  third_party/blink/renderer/core/frame/csp/local_ip.cc
  third_party/blink/renderer/core/frame/csp/local_ip.h
  third_party/blink/renderer/core/frame/csp/source_list_directive.cc
  third_party/blink/renderer/platform/network/BUILD.gn
Due: none

Add descriptions for Cobalt buildflags (#5020)
  build/build_config.h
  cobalt/build/configs/BUILD.gn
Due: none

Add build_info.json to android packages
  cobalt/build/android/package.py
  cobalt/build/linux/package.py
Due: none

Fix pre-commit file patterns
  .pre-commit-config.yaml
Due: none

Cut out Sb atomics, merge main changes and run nplb
  .github/actions/on_host_tests/action.yaml
  cobalt/build/testing/cobalt_test_templates.gni
  cobalt/build/testing/targets/linux-x64x11-evergreen/test_targets.json
  starboard/common/test_main.cc
  starboard/directory.h
  starboard/linux/x64x11/run_starboard_main.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/file_helpers.cc
  starboard/shared/modular/BUILD.gn
  starboard/shared/modular/cobalt_layer_posix_pthread_abi_wrappers.cc
  starboard/shared/x11/application_x11.cc
Due: clang-format, cpplint, gn-format

Remove more diffs
  starboard/common/test_main.cc
  starboard/shared/x11/application_x11.cc
Due: clang-format, cpplint

Remove more diffs
  starboard/nplb/file_helpers.cc
  starboard/shared/modular/cobalt_layer_posix_pthread_abi_wrappers.cc
Due: clang-format, cpplint

Remove starboard/directory.h
  starboard/directory.h
Due: clang-format, cpplint

Remove more logging comments
  starboard/linux/x64x11/run_starboard_main.cc
Due: clang-format, cpplint

Fix android build error
  starboard/common/test_main.cc
Due: clang-format, cpplint

Add media nplb test filters due to runtime crashes
  cobalt/testing/filters/linux-x64x11-evergreen/nplb_filter.json
  starboard/nplb/BUILD.gn
Due: gn-format

Add on-host tests to github workflows
  .github/config/linux-evergreen.json
Due: none

Add more on-device tests
  starboard/nplb/BUILD.gn
Due: gn-format

Fix github action error
  .github/actions/on_host_tests/action.yaml
Due: none

Fix more github action errors
  .github/actions/on_host_tests/action.yaml
Due: none

Add build_info.json to android packages (#5025)
  cobalt/build/android/package.py
  cobalt/build/linux/package.py
Due: none

Fix comment
  cobalt/browser/h5vcc_runtime/deep_link_manager.h
  cobalt/browser/h5vcc_runtime/public/mojom/h5vcc_runtime.mojom
Due: none

Update action.yaml to run evergreen on host tests
  .github/actions/on_host_tests/action.yaml
Due: none

Add DeepLinkManager, move startDeepLink out of StarboardBridge (#5002)
  cobalt/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  cobalt/browser/h5vcc_runtime/BUILD.gn
  cobalt/browser/h5vcc_runtime/deep_link_manager.cc
  cobalt/browser/h5vcc_runtime/deep_link_manager.h
  cobalt/browser/h5vcc_runtime/deep_link_manager_unittest.cc
  cobalt/browser/h5vcc_runtime/h5vcc_runtime_impl.cc
  cobalt/browser/h5vcc_runtime/h5vcc_runtime_impl.h
  cobalt/browser/h5vcc_runtime/public/mojom/h5vcc_runtime.mojom
  starboard/android/shared/BUILD.gn
  starboard/android/shared/android_main.cc
  starboard/android/shared/starboard_bridge.cc
  starboard/android/shared/starboard_bridge.h
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/h_5_vcc_runtime.cc
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-runtime/h5vcc-runtime-getInitialDeepLink.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-runtime/resources/mock-h5vcc-runtime.js
Due: clang-format, cpplint, gn-format

Update test_targets.json
  cobalt/build/testing/targets/linux-x64x11-evergreen/test_targets.json
Due: none

Some tweaks to starboard/BUILD.gn to see if it works in CI
  cobalt/build/testing/targets/linux-x64x11/test_targets.json
  starboard/BUILD.gn
Due: gn-format

starboard: Create starboard_unittest and fold in a few test targets (#4831)
  cobalt/build/testing/targets/linux-x64x11/test_targets.json
  starboard/BUILD.gn
  starboard/client_porting/eztime/BUILD.gn
  starboard/client_porting/eztime/eztime_test.cc
  starboard/common/BUILD.gn
  starboard/elf_loader/BUILD.gn
  starboard/elf_loader/elf_header_test.cc
  starboard/elf_loader/program_table_test.cc
  starboard/extension/BUILD.gn
  starboard/loader_app/BUILD.gn
  starboard/loader_app/app_key_files_test.cc
  starboard/shared/ffmpeg/ffmpeg_demuxer_test.cc
Due: clang-format, cpplint, gn-format

Designate CVE-2024-31852 as mitigated
  third_party/llvm-project/compiler-rt/METADATA
Due: none

Designate CVE-2021-3116 as mitigated
  third_party/proxy_py/METADATA
Due: none

Fix liblouis CPE version.
  third_party/liblouis/README.chromium
Due: none

Designate CVE-2018-6406 as mitigated
  third_party/libwebm/METADATA
Due: none

Declare pthread API's needed to build evergreen.
  third_party/musl/src/starboard/pthread/pthread.h
Due: none

Matching change to duplicate definition
  starboard/shared/modular/starboard_layer_posix_pthread_abi_wrappers.h
Due: clang-format, cpplint

Two more defines
  third_party/musl/src/starboard/pthread/pthread.h
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  yapf: any of: \.py$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  pylint: any of: \.py$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  python3-compatibility-check: any of: \.py$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  google-java-format: any of: \.java$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  gcheckstyle: any of: \.java$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  gn-format: any of: .*\.gni?$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

