Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, run-py2-tests, internal-file-check, gn-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((^cobalt/bindings/(templates|generated)/|tests?.(cc|h)$)) and not (^(base|build|testing|third_party|tools/gyp)/)
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^(base|build|testing|third_party|tools/gyp)/)
  yapf: any of: \.py$ and not (\.gypi?$) and not (^(base|build|testing|third_party|tools/gyp)/)
  pylint: any of: \.py$ and not (\.gypi?$) and not (^(base|build|testing|third_party|tools/gyp)/)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(base|build|testing|third_party|tools/gyp)/
  google-java-format: any of: \.java$, but not: ^(base|build|testing|third_party|tools/gyp)/
  gcheckstyle: any of: \.java$, but not: ^(base|build|testing|third_party|tools/gyp)/
  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not (^cobalt/layout_tests/testdata/) and not (^(base|build|testing|third_party|tools/gyp)/)
  check-if-starboard-interface-changed: any of: ^starboard/*.h$, but not: ^(base|build|testing|third_party|tools/gyp)/
  test-python3-compatibility: any of: \.py$, but not: ^(base|build|testing|third_party|tools/gyp)/
  run-py2-tests: any of: \.py$, but not: ^(base|build|testing|third_party|tools/gyp)/
  internal-file-check: any of: not (EXCLUDE\.FILES(\.RECURSIVE)?$), but not: ^(base|build|testing|third_party|tools/gyp)/
  gn-format: any of: .*\.gni?$, but not: ^(base|build|testing|third_party|tools/gyp)/

[GN] Add i18n install content
  cobalt/browser/BUILD.gn
  starboard/build/convert_i18n_data.gni
  starboard/win/shared/platform_configuration/configuration.gni
Due: check-copyright-year, internal-file-check, gn-format

[GN] Compile the evergreen platforms with Clang.
  starboard/evergreen/arm/hardfp/toolchain/BUILD.gn
  starboard/evergreen/arm/softfp/toolchain/BUILD.gn
  starboard/evergreen/arm64/toolchain/BUILD.gn
  starboard/evergreen/x64/toolchain/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

[GN] Correct app launcher zip inputs
  starboard/tools/app_launcher_packager.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, run-py2-tests, internal-file-check

Add SkTLS_cobalt.cc to skia library sources conditionally.
  cobalt/renderer/rasterizer/skia/skia/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

[GN] Enable gold evergreen binaries to be stripped
  starboard/evergreen/arm/shared/install_target.gni
  starboard/evergreen/arm/shared/toolchain/strip.gni
  starboard/evergreen/arm/softfp/platform_configuration/configuration.gni
  starboard/evergreen/arm64/install_target.gni
  starboard/evergreen/arm64/platform_configuration/configuration.gni
  starboard/evergreen/arm64/toolchain/strip.gni
  starboard/evergreen/x86/install_target.gni
  starboard/evergreen/x86/platform_configuration/configuration.gni
  starboard/evergreen/x86/toolchain/strip.gni
Due: check-copyright-year, internal-file-check, gn-format

Switch docsite to ruby:2.7-buster
  docker/docsite/Dockerfile
Due: check-copyright-year, internal-file-check

Fix PS shader compilation
  glimp/shaders/generate_glsl_shader_map.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, run-py2-tests, internal-file-check

Add EVENT_TRACE() to MediaSource and SourceBuffer
  cobalt/dom/media_source.cc
  cobalt/dom/source_buffer.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Refine trace event in EventTarget::DispatchEvent()
  cobalt/dom/event_target.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

[Performance API]: Format PerformanceResourceTiming files.
  cobalt/dom/performance_resource_timing.cc
  cobalt/dom/performance_resource_timing.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

[Performance API]: Implement responseEnd of Resource timing.
  cobalt/dom/performance_resource_timing.cc
  cobalt/dom/performance_resource_timing.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Fix log formatting.
  components/update_client/update_client.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Revert "[Performance API]: Implement responseEnd of Resource timing."
  cobalt/dom/performance_resource_timing.cc
  cobalt/dom/performance_resource_timing.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

[GN] Compile base with SB optimizations
  base/BUILD.gn
Due: none

[GN] Disable -fno-exceptions on raspi globally
  build/config/compiler/BUILD.gn
  starboard/raspi/shared/platform_configuration/configuration.gni
Due: check-copyright-year, internal-file-check, gn-format

[GN] Use old deploy/ structure for raspi install target
  starboard/build/config/install.gni
  starboard/raspi/shared/install_target.gni
  starboard/raspi/shared/launcher.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, run-py2-tests, internal-file-check, gn-format

[GN] Disable -f*-sections for debug/devel on raspi
  starboard/raspi/shared/BUILD.gn
  starboard/raspi/shared/platform_configuration/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

[GN] Add missing content deps
  base/BUILD.gn
  cobalt/dom/BUILD.gn
  cobalt/encoding/BUILD.gn
  starboard/elf_loader/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

[GN] migrate disable_v8_pointer_compression to GN.
  cobalt/script/v8c/BUILD.gn
  starboard/build/config/base_configuration.gni
  third_party/v8/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

[GN] Fix enable_exceptions_override check
  build/config/compiler/BUILD.gn
Due: none

Remove ICU tables from SLOT_0 in Evergreen documentation
  starboard/doc/evergreen/cobalt_evergreen_overview.md
Due: internal-file-check

Add service_worker IDL component
  cobalt/browser/browser_bindings_gen.gyp
  cobalt/browser/idl_files.gni
  cobalt/worker/BUILD.gn
  cobalt/worker/service_worker.cc
  cobalt/worker/service_worker.h
  cobalt/worker/service_worker.idl
  cobalt/worker/service_worker_state.idl
Due: cpplint, clang-format, check-copyright-year, internal-file-check, gn-format

Add service_worker_registration IDL component
  cobalt/base/tokens.h
  cobalt/browser/browser_bindings_gen.gyp
  cobalt/browser/idl_files.gni
  cobalt/worker/BUILD.gn
  cobalt/worker/service_worker_registration.cc
  cobalt/worker/service_worker_registration.h
  cobalt/worker/service_worker_registration.idl
  cobalt/worker/service_worker_update_via_cache.idl
Due: cpplint, clang-format, check-copyright-year, internal-file-check, gn-format

Add navigation_preload_state IDL component
  cobalt/browser/browser_bindings_gen.gyp
  cobalt/browser/idl_files.gni
  cobalt/worker/BUILD.gn
  cobalt/worker/navigation_preload_manager.cc
  cobalt/worker/navigation_preload_manager.h
  cobalt/worker/navigation_preload_manager.idl
  cobalt/worker/navigation_preload_state.idl
  cobalt/worker/service_worker_registration.cc
  cobalt/worker/service_worker_registration.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check, gn-format

[Bindings] Support ImplementedAs for Interfaces.
  cobalt/bindings/code_generator_cobalt.py
  cobalt/bindings/contexts.py
  cobalt/bindings/path_generator.py
  cobalt/bindings/v8c/templates/interface.cc.template
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, run-py2-tests, internal-file-check

Dedicated Worker stubs.
  cobalt/base/tokens.h
  cobalt/browser/browser_bindings_gen.gyp
  cobalt/browser/idl_files.gni
  cobalt/script/environment_settings.h
  cobalt/worker/BUILD.gn
  cobalt/worker/abstract_worker.h
  cobalt/worker/abstract_worker.idl
  cobalt/worker/dedicated_worker.cc
  cobalt/worker/dedicated_worker.h
  cobalt/worker/structured_serialize_options.idl
  cobalt/worker/worker.cc
  cobalt/worker/worker.h
  cobalt/worker/worker.idl
  cobalt/worker/worker_options.idl
  cobalt/worker/worker_settings.cc
  cobalt/worker/worker_settings.h
  cobalt/worker/worker_type.idl
Due: cpplint, clang-format, check-copyright-year, internal-file-check, gn-format

Bring the first update check earlier.
  cobalt/updater/updater_module.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Add flags for compression and memory mapped file.
  starboard/elf_loader/elf_loader.cc
  starboard/elf_loader/elf_loader.h
  starboard/elf_loader/elf_loader_impl.cc
  starboard/elf_loader/elf_loader_impl.h
  starboard/elf_loader/elf_loader_sys_impl.cc
  starboard/elf_loader/elf_loader_sys_impl.h
  starboard/elf_loader/program_table.cc
  starboard/loader_app/loader_app.cc
  starboard/loader_app/loader_app_switches.cc
  starboard/loader_app/loader_app_switches.h
  starboard/loader_app/slot_management.cc
  starboard/loader_app/slot_management.h
  starboard/loader_app/slot_management_test.cc
Due: cpplint, cpplint_test, clang-format, check-copyright-year, internal-file-check

Add Evergreen test for MemoryMappedFile.
  starboard/evergreen/testing/tests/use_mmap_file_test.sh
Due: check-copyright-year, internal-file-check

Revert "Dedicated Worker stubs."
  cobalt/base/tokens.h
  cobalt/browser/browser_bindings_gen.gyp
  cobalt/browser/idl_files.gni
  cobalt/script/environment_settings.h
  cobalt/worker/BUILD.gn
  cobalt/worker/abstract_worker.h
  cobalt/worker/abstract_worker.idl
  cobalt/worker/dedicated_worker.cc
  cobalt/worker/dedicated_worker.h
  cobalt/worker/structured_serialize_options.idl
  cobalt/worker/worker.cc
  cobalt/worker/worker.h
  cobalt/worker/worker.idl
  cobalt/worker/worker_options.idl
  cobalt/worker/worker_settings.cc
  cobalt/worker/worker_settings.h
  cobalt/worker/worker_type.idl
Due: cpplint, clang-format, check-copyright-year, internal-file-check, gn-format

Revert "Revert "Dedicated Worker stubs.""
  cobalt/base/tokens.h
  cobalt/browser/browser_bindings_gen.gyp
  cobalt/browser/idl_files.gni
  cobalt/script/environment_settings.h
  cobalt/worker/BUILD.gn
  cobalt/worker/abstract_worker.h
  cobalt/worker/abstract_worker.idl
  cobalt/worker/dedicated_worker.cc
  cobalt/worker/dedicated_worker.h
  cobalt/worker/structured_serialize_options.idl
  cobalt/worker/worker.cc
  cobalt/worker/worker.h
  cobalt/worker/worker.idl
  cobalt/worker/worker_options.idl
  cobalt/worker/worker_settings.cc
  cobalt/worker/worker_settings.h
  cobalt/worker/worker_type.idl
Due: cpplint, clang-format, check-copyright-year, internal-file-check, gn-format

Add default implementations for new pure virutal methods in Skia m97.
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFontMgr_cobalt.cc
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFontMgr_cobalt.h
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkTypeface_cobalt.cc
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkTypeface_cobalt.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Fix the Evergreen Lite parameters.
  starboard/loader_app/loader_app.cc
  starboard/loader_app/slot_management.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check
