Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)

Cherry pick PR #12138: cobalt: Implement zero-copy in-process image transfer path
  .github/AUTOROLL
  base/features.cc
  base/features.h
  cc/paint/image_transfer_cache_entry.cc
  cc/paint/image_transfer_cache_entry.h
  cc/tiles/gpu_image_decode_cache.cc
  cc/tiles/gpu_image_decode_cache.h
  gpu/command_buffer/client/raster_implementation.cc
  gpu/command_buffer/client/shared_memory_limits.h
Due: none

Cherry pick PR #12277: media: Remove storage_type parameter from DecodedAudio constructors
  .github/AUTOROLL
  starboard/android/shared/audio_decoder_passthrough.h
  starboard/android/shared/media_codec_audio_decoder.cc
  starboard/shared/ffmpeg/ffmpeg_audio_decoder_impl.cc
  starboard/shared/libfdkaac/fdk_aac_audio_decoder.cc
  starboard/shared/opus/opus_audio_decoder.cc
  starboard/shared/starboard/player/decoded_audio_internal.cc
  starboard/shared/starboard/player/decoded_audio_internal.h
  starboard/shared/starboard/player/decoded_audio_test_internal.cc
  starboard/shared/starboard/player/filter/audio_channel_layout_mixer_impl.cc
  starboard/shared/starboard/player/filter/audio_resampler_impl.cc
  starboard/shared/starboard/player/filter/audio_time_stretcher.cc
  starboard/shared/starboard/player/filter/stub_audio_decoder.cc
  starboard/shared/starboard/player/filter/testing/audio_channel_layout_mixer_test.cc
  starboard/shared/starboard/player/filter/testing/audio_decoder_test.cc
  starboard/shared/starboard/player/filter/testing/audio_frame_discarder_test.cc
  starboard/shared/starboard/player/filter/testing/audio_renderer_internal_test.cc
  starboard/shared/starboard/player/filter/testing/audio_resampler_test.cc
  starboard/shared/starboard/player/filter/testing/decoded_audio_benchmark.cc
  starboard/shared/starboard/player/filter/testing/wsola_internal_test.cc
  starboard/tvos/shared/media/audio_decoder.mm
  starboard/tvos/shared/media/av_audio_sample_buffer_builder.mm
Due: clang-format, cpplint

Cherry pick PR #12320: media: Ignore MediaCodec callbacks during flush
  .github/AUTOROLL
  starboard/shared/starboard/experimental_features.h
Due: clang-format, cpplint

Enable WPT-Tests for Cobalt presubmit.
  .github/workflows/main.yaml
Due: none

Clean implementation of deadlock prevention
  starboard/android/shared/video_window.cc
  starboard/android/shared/video_window.h
  starboard/extension/feature_config.h
Due: clang-format, cpplint

move surface_destroy_notifier to its own file
  starboard/android/shared/BUILD.gn
  starboard/android/shared/surface_destroy_notifier.cc
  starboard/android/shared/surface_destroy_notifier.h
  starboard/android/shared/video_window.h
Due: clang-format, cpplint, gn-format

cobalt: Restore launch=preload query on startup
  cobalt/shell/browser/lifecycle_unittest.cc
  cobalt/shell/browser/shell_browser_main_parts.cc
  cobalt/shell/browser/shell_browser_main_parts.h
Due: clang-format, cpplint

fix failing cobalt browsertest
  cobalt/testing/browser_tests/browsertests_apk/content_browser_tests_jni_onload.cc
Due: clang-format, cpplint

fix(rebase): add anti-loop protection and CIPD token matching in DEPS healing
  .github/rebase/base_resolver.py
  .github/rebase/gclient_sync.py
Due: yapf, pylint, python3-compatibility-check

RESOLVED: AI automated rebase conflict healing
  DEPS
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/shell/browser/h5vcc_scheme_url_loader_factory.cc
  cobalt/shell/browser/h5vcc_scheme_url_loader_factory.h
  cobalt/shell/browser/migrate_storage_record/migration_manager.cc
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell.h
  cobalt/shell/browser/shell_content_browser_client.cc
  components/update_client/op_puffin.cc
  components/update_client/op_xz.cc
  components/update_client/op_xz.h
  components/update_client/op_zucchini.cc
  content/browser/renderer_host/render_frame_host_impl.cc
  content/public/common/content_features.cc
  media/audio/android/audio_manager_android.cc
  media/base/starboard/demuxer_memory_limit_starboard.cc
  media/formats/mp4/mp4_stream_parser.cc
  net/http/http_cache_transaction.cc
  services/network/network_context.cc
  services/on_device_model/safety/BUILD.gn
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/file_internal.cc
  starboard/android/shared/log_format.cc
  starboard/android/shared/memfd_media_buffer_pool.cc
  starboard/android/shared/memfd_media_buffer_pool.h
  starboard/common/log.cc
  starboard/shared/signal/suspend_signals.cc
  starboard/shared/starboard/experimental_features.cc
  third_party/android_deps/additional_readme_paths.json
  third_party/blink/renderer/bindings/generated_in_modules.gni
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/web_tests/TestExpectations
  third_party/jni_zero/jni_registration_generator.py
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

Disable E2E tests on RDK
  .github/config/evergreen-arm-hardfp-rdk.json
Due: none

Bug 555649507: skip NavigationBrowserTest.FromNavigationHandleTranslatesNavigationParamsCorrectly on android-arm
  cobalt/testing/filters/android-arm/cobalt_browsertests_filter.json
Due: none

ci: Checkout full repo on postsubmit in Scorecards workflow
  .github/workflows/scorecards.yaml
Due: none

player: apply volume directly on the audio sink (#12070)
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/player/player_internal.cc
Due: none

performance: Fix application memory bounds and usage APIs
  cobalt/browser/performance/performance_impl.cc
  cobalt/browser/performance/performance_impl.h
  cobalt/browser/performance/public/mojom/performance.mojom
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/BUILD.gn
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/system/system_get_total_cpu_memory.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/system/system_get_used_cpu_memory.cc
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.cc
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.h
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.idl
Due: clang-format, cpplint

Roll src/cobalt/internal to f7def3270058e9eb155cbb0140ffdf6633aef04b
  DEPS
Due: none

Cherry pick PR #12070: player: apply volume directly on the audio sink
  .github/AUTOROLL
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/player/player_internal.cc
Due: none

[cobalt] Centralize lifecycle and multi-WebContents state management in CobaltLifecycleManager
  cobalt/app/app_event_runner.cc
  cobalt/app/app_event_runner_unittest.cc
  cobalt/browser/lifecycle/cobalt_lifecycle_manager.cc
  cobalt/browser/lifecycle/cobalt_lifecycle_manager.h
  cobalt/browser/lifecycle/cobalt_lifecycle_manager_unittest.cc
  cobalt/shell/browser/lifecycle_unittest.cc
  cobalt/shell/browser/shell_platform_delegate.cc
  cobalt/shell/browser/shell_platform_delegate.h
  cobalt/shell/browser/shell_platform_delegate_android.cc
  cobalt/shell/browser/shell_platform_delegate_aura.cc
  cobalt/shell/browser/shell_platform_delegate_ios.mm
  cobalt/shell/browser/shell_platform_delegate_views.cc
  cobalt/shell/browser/shell_test_support.h
  content/test/BUILD.gn
Due: clang-format, cpplint

build: Update base Docker image for Linux (#12315)
  docker/linux/base/Dockerfile
Due: none

Address PR feedback: Include application usage memory in SystemMemoryInfo
  cobalt/browser/performance/performance_impl.cc
  cobalt/browser/performance/public/mojom/performance.mojom
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.cc
  third_party/blink/renderer/core/cobalt/performance/system_memory_info.idl
Due: clang-format, cpplint

starboard: Revert PR 11809 and guard Android features with !IS_STARBOARD
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/media_capabilities_cache.cc
  starboard/android/shared/media_get_video_buffer_budget.cc
  starboard/android/shared/player_components_factory.cc
  starboard/android/shared/video_render_algorithm_android.cc
  starboard/extension/feature_config.h
  starboard/shared/starboard/player/filter/player_components.cc
Due: clang-format, cpplint

Address review comments
  content/browser/storage_partition_impl.cc
  content/browser/storage_partition_impl.h
  content/public/browser/content_browser_client.cc
  content/public/browser/content_browser_client.h
  content/public/browser/storage_partition.h
Due: none

fix failing cobalt browsertest
  cobalt/testing/browser_tests/browsertests_apk/content_browser_tests_jni_onload.cc
  cobalt/testing/browser_tests/content_browser_test_shell_main_delegate.cc
Due: clang-format, cpplint

Cherry pick PR #12312: tvos: Enable video splash by default
  .github/AUTOROLL
  cobalt/browser/features.cc
Due: clang-format, cpplint

Cherry pick PR #12304: starboard: Add acquire barrier and use strong CAS in EnsureInitialized
  .github/AUTOROLL
  starboard/shared/starboard/lazy_initialization_internal.h
Due: clang-format, cpplint

Cherry pick PR #12337: fix: Remove reference to removed closure member
  .github/AUTOROLL
  cobalt/renderer/cobalt_content_renderer_client.cc
Due: clang-format, cpplint

cleanup: Remove DumpInputHash from worker handler
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.cc
Due: clang-format, cpplint

Address PR feedback: Add TODO for Android/iOS memory API implementation
  cobalt/browser/performance/performance_impl.cc
Due: clang-format, cpplint

Revert "Disable E2E tests on all platforms" (#12170)
  .github/config/android-arm.json
  .github/config/android-arm64.json
Due: none

ci: Remove flaky tests and fix pylint import position errors
  base/strings/strcat_unittest.cc
  cobalt/devinfra/github/test_filter_test.py
  cobalt/tools/junit_mini_parser_test.py
  cobalt/tools/on_device_tests_gateway_client.py
  starboard/nplb/undefined_behavior_test.cc
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check

Enable WPT-Tests for Cobalt presubmit. (#12343)
  .github/workflows/main.yaml
Due: none

fix build error
  cobalt/testing/browser_tests/content_browser_test_shell_main_delegate.cc
Due: clang-format, cpplint

Rename NotifyLowMemory to OnLowMemory and add a doc comment
  cobalt/browser/h5vcc_memory/low_memory_manager.cc
  cobalt/browser/h5vcc_memory/low_memory_manager_unittest.cc
  cobalt/browser/h5vcc_memory/public/mojom/h5vcc_memory.mojom
  third_party/blink/renderer/modules/cobalt/h5vcc_memory/h_5_vcc_memory.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_memory/h_5_vcc_memory.h
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-memory/h5vcc-memory-onLowMemory.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-memory/resources/mock-h5vcc-memory.js
Due: clang-format, cpplint

Cherry pick PR #12170: Revert "Disable E2E tests on all platforms"
  .github/AUTOROLL
  .github/config/android-arm.json
  .github/config/android-arm64.json
Due: none

Cherry pick PR #12343: Enable WPT-Tests for Cobalt presubmit.
  .github/AUTOROLL
  .github/workflows/main.yaml
Due: none
