Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, internal-file-check, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

yapf:
  name: yapf
  description: Run yapf (the python formatter) in-place on changed files.
  entry: yapf
  language: system
  args:
  - -i
  - -vv

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

google-java-format:
  name: google-java-format
  entry: python ./precommit_hooks/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: Lint Java With gcheckstyle
  entry: python ./precommit_hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-copyright-year:
  name: check copyright year
  entry: python ./precommit_hooks/check_copyright_year.py
  language: python
  stages:
  - push
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: python ./precommit_hooks/warn_that_starboard_interface_changed_wrapper.py
  language: python
  stages:
  - push

test-python3-compatibility:
  name: Test Python 3 Compatibility
  description: Checks that scripts can be run in Python 3
  entry: python precommit_hooks/python3_check.py
  language: python
  verbose: true

internal-file-check:
  name: Internal File Check
  entry: python precommit_hooks/internal_file_check_wrapper.py
  language: python

gn-format:
  name: GN format
  entry: gn format
  language: system

[Win] Move references to the XDK to internal (#1342)
  starboard/win/shared/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Cherry pick PR #1643: Add missing cstdint includes (#1659)
  third_party/angle/include/GLSLANG/ShaderVars.h
  third_party/angle/src/common/angleutils.h
Due: none

Refactor SbMediaIsSupported()
  starboard/android/shared/BUILD.gn
  starboard/android/shared/media_is_key_system_supported.cc
  starboard/linux/shared/BUILD.gn
  starboard/raspi/shared/BUILD.gn
  starboard/shared/starboard/media/media_support_internal.h
  starboard/shared/starboard/media/mime_util.cc
  starboard/shared/stub/media_is_key_system_supported.cc
  starboard/shared/widevine/media_is_key_system_supported.cc
  starboard/shared/win32/media_is_key_system_supported.cc
  starboard/stub/BUILD.gn
  starboard/win/win32/BUILD.gn
  starboard/xb1/BUILD.gn
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Fix typo in log statements: Crashapd -> Crashpad
  starboard/elf_loader/sandbox.cc
  starboard/loader_app/loader_app.cc
  starboard/loader_app/slot_management.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

[DO NOT SUBMIT] Demo for alternative to hybrid nav.
  cobalt/demos/content/hybrid-navigation/hybrid-navigation-grid.html
Due: check-copyright-year, internal-file-check

Add getOpenedCobaltService method on StarboardBridge.
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
Due: google-java-format, gcheckstyle, check-copyright-year, internal-file-check

Add black box tests to linux modular build (#1398)
  .github/config/linux-modular.json
  starboard/linux/x64x11/cobalt/configuration.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Separate out modular and evergreen test targets
  starboard/elf_loader/BUILD.gn
  starboard/loader_app/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Update and rename auto_assign.yaml to outside_collaborator.yaml
  .github/workflows/outside_collaborator.yaml
Due: check-copyright-year, internal-file-check

Remove raspi 2 monolithic builders
  .github/config/raspi-2-modular.json
  .github/config/raspi-2-skia.json
  .github/config/raspi-2.json
  .github/workflows/raspi-2.yaml
  starboard/raspi/2/args.gn
  starboard/raspi/2/skia/BUILD.gn
  starboard/raspi/2/skia/starboard_loader.cc
  starboard/raspi/2/skia/toolchain/BUILD.gn
  starboard/raspi/shared/launcher.py
  starboard/raspi/shared/test_filters.py
Due: clang-format, cpplint, yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check, gn-format

Separate out modular and evergreen test targets (#1662)
  starboard/elf_loader/BUILD.gn
  starboard/loader_app/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Add getOpenedCobaltService method on StarboardBridge. (#1861)
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
Due: google-java-format, gcheckstyle, check-copyright-year, internal-file-check

[media] Add more log for output mode
  cobalt/dom/html_media_element.cc
  cobalt/media/base/sbplayer_bridge.cc
  starboard/android/shared/video_decoder.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Fix typo in log statements: Crashapd -> Crashpad (#1859)
  starboard/elf_loader/sandbox.cc
  starboard/loader_app/loader_app.cc
  starboard/loader_app/slot_management.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Remove raspi 2 monolithic builders (#1858)
  .github/config/raspi-2-modular.json
  .github/config/raspi-2-skia.json
  .github/config/raspi-2.json
  .github/workflows/raspi-2.yaml
  starboard/raspi/2/args.gn
  starboard/raspi/2/skia/BUILD.gn
  starboard/raspi/2/skia/starboard_loader.cc
  starboard/raspi/2/skia/toolchain/BUILD.gn
  starboard/raspi/shared/launcher.py
  starboard/raspi/shared/test_filters.py
Due: clang-format, cpplint, yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check, gn-format

Remove raspi 2 monolithic builders (#1858)
  .github/config/raspi-2-modular.json
  .github/config/raspi-2-skia.json
  .github/config/raspi-2.json
  .github/workflows/raspi-2_24.lts.1+.yaml
  starboard/raspi/2/args.gn
  starboard/raspi/2/skia/BUILD.gn
  starboard/raspi/2/skia/starboard_loader.cc
  starboard/raspi/2/skia/toolchain/BUILD.gn
  starboard/raspi/shared/launcher.py
  starboard/raspi/shared/test_filters.py
Due: clang-format, cpplint, yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check, gn-format

[media] Add more logs for output mode (#1865)
  cobalt/dom/html_media_element.cc
  cobalt/media/base/sbplayer_bridge.cc
  starboard/android/shared/video_decoder.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Fix the xml path separator for ps4/5
  starboard/tools/testing/test_runner.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Update Dockerfile
  docker/linux/android/Dockerfile
Due: check-copyright-year, internal-file-check

Cherry pick PR #1858: Remove raspi 2 monolithic builders (#1866)
  .github/config/raspi-2-modular.json
  .github/config/raspi-2-skia.json
  .github/config/raspi-2.json
  .github/workflows/raspi-2_24.lts.1+.yaml
  starboard/raspi/2/args.gn
  starboard/raspi/2/skia/BUILD.gn
  starboard/raspi/2/skia/starboard_loader.cc
  starboard/raspi/2/skia/toolchain/BUILD.gn
  starboard/raspi/shared/launcher.py
  starboard/raspi/shared/test_filters.py
Due: clang-format, cpplint, yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check, gn-format

Add flag to include integration test in app_launcher
  starboard/tools/app_launcher_packager.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Cherry pick PR #1861: Add getOpenedCobaltService method on StarboardBridge. (#1864)
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
Due: google-java-format, gcheckstyle, check-copyright-year, internal-file-check

Minor formatting cleanups
  cobalt/samples/simple_example/testdata/test_cases/case1.txt
  cobalt/samples/simple_example/testdata/test_cases/case1.txt.expected
  cobalt/samples/simple_example/testdata/test_cases/case2.txt
  cobalt/samples/simple_example/testdata/test_cases/case2.txt.expected
  cobalt/samples/simple_example/testdata/test_cases/case3.txt
  cobalt/samples/simple_example/testdata/test_cases/case3.txt.expected
  components/test/data/update_client/ihfokbkgjpifnbbojhneepfflplebdkc/ihfokbkgjpifnbbojhneepfflplebdkc_1to2/commands.json
  components/test/data/update_client/ihfokbkgjpifnbbojhneepfflplebdkc/ihfokbkgjpifnbbojhneepfflplebdkc_1to2_bad/commands.json
  starboard/common/common.cc
  starboard/common/flat_map.h
  starboard/elf_loader/elf.h
  starboard/shared/win32/memory_flush.cc
  starboard/shared/win32/system_symbolize.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Minor formatting cleanups (#1871)
  cobalt/samples/simple_example/testdata/test_cases/case1.txt
  cobalt/samples/simple_example/testdata/test_cases/case1.txt.expected
  cobalt/samples/simple_example/testdata/test_cases/case2.txt
  cobalt/samples/simple_example/testdata/test_cases/case2.txt.expected
  cobalt/samples/simple_example/testdata/test_cases/case3.txt
  cobalt/samples/simple_example/testdata/test_cases/case3.txt.expected
  components/test/data/update_client/ihfokbkgjpifnbbojhneepfflplebdkc/ihfokbkgjpifnbbojhneepfflplebdkc_1to2/commands.json
  components/test/data/update_client/ihfokbkgjpifnbbojhneepfflplebdkc/ihfokbkgjpifnbbojhneepfflplebdkc_1to2_bad/commands.json
  starboard/common/common.cc
  starboard/common/flat_map.h
  starboard/elf_loader/elf.h
  starboard/shared/win32/memory_flush.cc
  starboard/shared/win32/system_symbolize.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Exclude Kokoro brew packages from precommit.
  .pre-commit-config.yaml
Due: internal-file-check

Cherry pick PR #1342: [Win] Move references to the XDK to internal (#1856)
  starboard/win/shared/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Exclude Kokoro brew packages from precommit. (#1872)
  .pre-commit-config.yaml
Due: internal-file-check

Revert "Separate out modular and evergreen test targets (#1662)"
  starboard/elf_loader/BUILD.gn
  starboard/loader_app/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Revert "Separate out modular and evergreen test targets" (#1873)
  starboard/elf_loader/BUILD.gn
  starboard/loader_app/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Install ca-certificates-java before java
  docker/linux/android/Dockerfile
Due: check-copyright-year, internal-file-check

Remove auto assign from name of workflow (#1862)
  .github/workflows/outside_collaborator.yaml
Due: check-copyright-year, internal-file-check

[XB1] Replace the av1 decoder with dav1d based GPU decoder
  starboard/shared/uwp/extended_resources_manager.cc
  starboard/shared/uwp/player_components_factory.cc
  starboard/xb1/BUILD.gn
  starboard/xb1/shared/gpu_base_video_decoder.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Amend key management for WideVine
  starboard/shared/widevine/drm_system_widevine.cc
  starboard/shared/widevine/drm_system_widevine.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Include symbols into install/lib/libcobalt.so
  starboard/build/config/modular/BUILD.gn
  starboard/evergreen/shared/strip_install_target.gni
Due: check-copyright-year, internal-file-check, gn-format

[XB1] Replace the av1 decoder with dav1d based GPU decoder (#1540)
  starboard/shared/uwp/extended_resources_manager.cc
  starboard/shared/uwp/player_components_factory.cc
  starboard/xb1/BUILD.gn
  starboard/xb1/shared/gpu_base_video_decoder.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

[android] Refine video decoder for tunnel mode
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/audio_decoder.h
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
  starboard/android/shared/video_frame_tracker.cc
  starboard/android/shared/video_frame_tracker.h
  starboard/android/shared/video_render_algorithm.cc
Due: clang-format, cpplint, google-java-format, gcheckstyle, check-copyright-year, internal-file-check, gn-format

Revert "Revert "Separate out modular and evergreen test targets" (#1873)"
  starboard/elf_loader/BUILD.gn
  starboard/loader_app/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^internal/starboard/shared/uikit/.*\.h$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  yapf: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  pylint: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  google-java-format: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gcheckstyle: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not ((?x)^(
    .pre-commit-config.yaml$|
    cobalt/media/|
    cobalt/layout_tests/testdata/|
    nb/|
    starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.cc$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.h$|
    starboard/shared/starboard/player/filter/wsola_internal.cc$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  check-if-starboard-interface-changed: any of: ^starboard/[^/]+\.h$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  test-python3-compatibility: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  internal-file-check: any of: not ((^docker-compose-windows(-internal)?.yml|EXCLUDE\.FILES(\.RECURSIVE)?|codereview\.settings)$), but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gn-format: any of: .*\.gni?$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

