Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)

Fix fix sbmainargs switch duplication for heap profiling in deploy_rdk.py
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk.py
Due: none

Add more stubs for
  content/browser/devtools/devtools_preload_storage.h
  content/browser/devtools/devtools_throttle_handle.h
  content/browser/devtools/devtools_url_loader_interceptor.h
  content/browser/devtools/network_service_devtools_observer.h
  content/browser/devtools_stubs.cc
  content/browser/fenced_frame/fenced_frame_reporter.cc
  content/browser/preloading/preloading_decider.cc
  content/browser/ssl/ssl_manager.cc
  content/renderer/BUILD.gn
  content/renderer/media/inspector_media_event_handler.h
  content/renderer/media/media_factory.cc
  content/renderer/renderer_blink_platform_impl.cc
Due: none

hasHideSplashScreen on CobaltActivity
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
Due: gcheckstyle, check-java-strings-have-locale

Filter flaky vertical video tests on linux modular builds (#11502)
  cobalt/testing/filters/linux-x64x11-modular/nplb_loader_filter.json
Due: none

Move
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: gcheckstyle, check-java-strings-have-locale

Stub WorkerDevToolsManager
  content/browser/devtools/worker_devtools_manager.h
  content/browser/devtools_stubs.cc
  content/browser/service_worker/embedded_worker_instance.cc
  content/browser/worker_host/dedicated_worker_host_factory_impl.cc
Due: none

Revert more unneeded changes
  content/browser/fenced_frame/fenced_frame_reporter.cc
  content/browser/ssl/ssl_manager.cc
  content/browser/storage_partition_impl.h
  content/renderer/media/media_factory.cc
  content/renderer/renderer_blink_platform_impl.cc
Due: none

cobalt: Disable NetworkServiceDedicatedThread feature in ShellTestBase (#11500)
  cobalt/shell/browser/shell_test_support.h
  content/browser/network_service_instance_impl.cc
  content/public/browser/network_service_instance.h
Due: clang-format, cpplint

Remove Cobalt webrtc
  third_party/webrtc/BUILD.gn
  third_party/webrtc/docs/monorail-bug-tracker-migration/monorail-issue-tracker-map.csv
  third_party/webrtc/media/BUILD.gn
  third_party/webrtc/media/engine/internal_decoder_factory.cc
  third_party/webrtc/media/engine/internal_encoder_factory_starboard_stub.cc
  third_party/webrtc/rtc_base/BUILD.gn
  third_party/webrtc/rtc_base/physical_socket_server.cc
  third_party/webrtc/rtc_base/platform_thread_types.cc
  third_party/webrtc/rtc_tools/BUILD.gn
  third_party/webrtc/rtc_tools/rtp_generator/rtp_generator.cc
  third_party/webrtc/sdk/android/BUILD.gn
  third_party/webrtc/system_wrappers/BUILD.gn
  third_party/webrtc/test/BUILD.gn
  third_party/webrtc/test/testsupport/ivf_video_frame_generator.cc
Due: none

Add updated webrtc
  third_party/webrtc/media/engine/webrtc_voice_engine.cc
  third_party/webrtc/modules/audio_coding/BUILD.gn
  third_party/webrtc/modules/audio_coding/DEPS
  third_party/webrtc/modules/audio_coding/acm2/acm_resampler.cc
  third_party/webrtc/modules/video_coding/codecs/av1/dav1d_decoder.cc
  third_party/webrtc/modules/video_coding/codecs/av1/dav1d_decoder_unittest.cc
  third_party/webrtc/modules/video_coding/codecs/h264/h264_encoder_impl.cc
  third_party/webrtc/modules/video_coding/codecs/h264/h264_encoder_impl_unittest.cc
Due: none

Revert "Remove Cobalt webrtc"
  third_party/webrtc/BUILD.gn
  third_party/webrtc/media/BUILD.gn
  third_party/webrtc/media/engine/internal_decoder_factory.cc
  third_party/webrtc/media/engine/internal_encoder_factory_starboard_stub.cc
  third_party/webrtc/rtc_base/BUILD.gn
  third_party/webrtc/rtc_base/physical_socket_server.cc
  third_party/webrtc/rtc_base/platform_thread_types.cc
  third_party/webrtc/rtc_tools/BUILD.gn
  third_party/webrtc/rtc_tools/rtp_generator/rtp_generator.cc
  third_party/webrtc/sdk/android/BUILD.gn
  third_party/webrtc/system_wrappers/BUILD.gn
  third_party/webrtc/test/BUILD.gn
  third_party/webrtc/test/testsupport/ivf_video_frame_generator.cc
Due: none

Use stubs in StoragePartitionImpl
  content/browser/devtools/devtools_url_loader_interceptor.h
  content/browser/storage_partition_impl.cc
Due: none

Cherry pick PR #11502: Filter flaky vertical video tests on linux modular builds
  .github/AUTOROLL
  cobalt/testing/filters/linux-x64x11-modular/nplb_loader_filter.json
Due: none

Cherry pick PR #11500: cobalt: Disable NetworkServiceDedicatedThread feature in ShellTestBase
  .github/AUTOROLL
  cobalt/shell/browser/shell_test_support.h
  content/browser/network_service_instance_impl.cc
  content/public/browser/network_service_instance.h
Due: clang-format, cpplint

Fix fix sbmainargs switch duplication for heap profiling in deploy_rdk.py (#11504)
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk.py
Due: none

Use stubs in //third_party/blink/renderer/modules/modules_initializer.cc
  third_party/blink/renderer/modules/accessibility/BUILD.gn
  third_party/blink/renderer/modules/accessibility/inspector_accessibility_agent.h
  third_party/blink/renderer/modules/modules_initializer.cc
  third_party/blink/renderer/modules/storage/BUILD.gn
  third_party/blink/renderer/modules/storage/inspector_dom_storage_agent.h
Due: none

Use stubs in //third_party/blink/renderer/modules/storage/storage_namespace.cc
  third_party/blink/renderer/modules/accessibility/BUILD.gn
  third_party/blink/renderer/modules/accessibility/inspector_accessibility_agent.h
  third_party/blink/renderer/modules/modules_initializer.cc
  third_party/blink/renderer/modules/storage/BUILD.gn
  third_party/blink/renderer/modules/storage/inspector_dom_storage_agent.h
Due: none

Use stubs in //third_party/blink/renderer/modules/accessibility/ax_object_cache_impl.cc
  third_party/blink/renderer/modules/accessibility/BUILD.gn
  third_party/blink/renderer/modules/accessibility/ax_object_cache_impl.cc
  third_party/blink/renderer/modules/accessibility/inspector_accessibility_agent.h
  third_party/blink/renderer/modules/modules_initializer.cc
  third_party/blink/renderer/modules/storage/BUILD.gn
  third_party/blink/renderer/modules/storage/inspector_dom_storage_agent.h
  third_party/blink/renderer/modules/storage/storage_namespace.cc
Due: none

Revert include reordering in //content/browser/storage_partition_impl.cc
  content/browser/storage_partition_impl.cc
Due: none

JavaSwtich update
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
Due: gcheckstyle, check-java-strings-have-locale

Port and enable update_client_unittests for Evergreen on RDK target
  components/update_client/BUILD.gn
  components/update_client/op_xz_unittest.cc
  components/update_client/test_configurator.cc
  components/update_client/test_configurator.h
  components/update_client/unpacker_unittest.cc
  components/update_client/update_client_unittest.cc
Due: none

Remove diagnostic print statement from update_client BUILD.gn
  components/update_client/BUILD.gn
Due: none

Bypass desktop Mesa FBO capability probe on Starboard to prevent fatal DCHECK aborts in devel builds.
  gpu/command_buffer/service/feature_info.cc
  gpu/command_buffer/service/test_helper.cc
Due: none

Clarify comments on platform-specific GL support
  gpu/command_buffer/service/test_helper.cc
Due: none

Refactoring
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/WindowSurfaceDelegate.java
  cobalt/shell/android/java/src/dev/cobalt/shell/ContentViewRenderView.java
Due: gcheckstyle, gn-format, check-java-strings-have-locale

android: Wait for media resources during shutdown (#11376)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/BaseStarboardBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/shell/android/java/src/dev/cobalt/shell/ShellManager.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/audio_track_bridge.cc
  starboard/android/shared/base_starboard_bridge.cc
  starboard/android/shared/media_drm_bridge.cc
  starboard/android/shared/media_resource_tracker.cc
  starboard/android/shared/media_resource_tracker.h
  starboard/android/shared/media_resource_tracker_test.cc
  starboard/android/shared/player_create.cc
  starboard/android/shared/player_destroy.cc
  starboard/extension/feature_config.h
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

Rebase refresh on 2026-07-23 for m144.
  DEPS
  chrome/browser/media/cast_mirroring_service_host.cc
  chrome/browser/new_tab_page/one_google_bar/one_google_bar_loader_impl.cc
  chrome/browser/new_tab_page/one_google_bar/one_google_bar_loader_impl_unittest.cc
  chromeos/CHROMEOS_LKGM
  net/spdy/spdy_buffer.cc
  net/spdy/spdy_read_queue_unittest.cc
  services/network/public/mojom/network_context.mojom
Due: none

Address review polish: honor Unzipper callback contract in TestUnzipper::DecodeXz, align TestNetworkFetcher failure behavior with production, tidy nogncheck and BUILD.gn conditionals
  components/update_client/BUILD.gn
  components/update_client/op_xz_unittest.cc
  components/update_client/test_configurator.cc
  components/update_client/unpacker_unittest.cc
  components/update_client/update_client_unittest.cc
Due: none

Support heap profiler on 3P platforms
  starboard/build/config/modular/BUILD.gn
  starboard/build/config/modular/arm/BUILD.gn
Due: gn-format

Remove IP Protection from Cobalt
  services/network/BUILD.gn
  services/network/network_context.cc
  services/network/network_context.h
  services/network/network_service.cc
  services/network/network_service.h
Due: none

Support heap profiler on 3P devel and debug builds (#11474)
  starboard/build/config/modular/BUILD.gn
  starboard/build/config/modular/arm/BUILD.gn
Due: gn-format

Fix build error
  services/network/BUILD.gn
  services/network/network_service.cc
  services/network/network_service.h
Due: none

Prune fenced frame and Private state tokens
  content/browser/BUILD.gn
  services/network/BUILD.gn
Due: none

rdk, evergreen: clean up remaining dangling raspi references
  cobalt/build/evergreen-arm-hardfp-raspi/package.json
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/BUILD.gn
Due: none

Support --proxy-server command line flag
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_content_browser_client.cc
Due: clang-format, cpplint, gn-format

Save local changes for UMA on RDK project.
  base/memory/cobalt_memory_attribution_observer_unittest.cc
  base/process/internal_linux.cc
  cobalt/browser/h5vcc_metrics/h5vcc_metrics_impl.cc
  cobalt/browser/h5vcc_metrics/h5vcc_metrics_impl.h
  cobalt/browser/h5vcc_metrics/public/mojom/h5vcc_metrics.mojom
  cobalt/browser/metrics/cobalt_memory_attribution_manager.cc
  cobalt/browser/metrics/cobalt_memory_attribution_manager.h
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_metrics_service_client.cc
  cobalt/browser/metrics/cobalt_metrics_service_client.h
  cobalt/doc/openspec/sitemap.md
  cobalt/doc/openspec/specs/configurable_display_lock_margin/design.md
  cobalt/doc/openspec/specs/configurable_display_lock_margin/spec.md
  cobalt/doc/openspec/specs/configurable_preraster_distance/design.md
  cobalt/doc/openspec/specs/configurable_preraster_distance/spec.md
  cobalt/tools/performance/memory/diff_in_process_heaps.py
  cobalt/tools/performance/memory/navigate_automation.py
  cobalt/tools/performance/memory/persistent_soak_collector.py
  cobalt/tools/performance/memory/run_soak.sh
  cobalt/tools/performance/memory/run_sqlite_soak.sh
  cobalt/tools/performance/memory/soak_collector.py
  cobalt/tools/performance/memory/sqlite_realtime_collector.py
  cobalt/tools/performance/memory/sqlite_soak_collector.py
  cobalt/tools/performance/memory/symbolize_in_process_heap.py
  services/resource_coordinator/public/cpp/memory_instrumentation/os_metrics_linux.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_metrics/h_5_vcc_metrics.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_metrics/h_5_vcc_metrics.h
  third_party/blink/renderer/modules/cobalt/h5vcc_metrics/h_5_vcc_metrics.idl
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check

nplb: Increase NPLB vertical video tolerance (#11503)
  starboard/nplb/vertical_video_test.cc
Due: clang-format, cpplint

Revert "Filter flaky vertical video tests on linux modular builds (#11502)"
  cobalt/testing/filters/linux-x64x11-modular/nplb_loader_filter.json
Due: none

docs: add platforms overview index and custom evergreen setup guide
  cobalt/site/docs/development/index.md
Due: none
