Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

chromium-pre-commit:
  name: Chromium presubmit bridge
  entry: ./third_party/depot_tools/vpython3 --vpython-spec=./third_party/depot_tools/.vpython3 ./cobalt/precommit/run_chromium_presubmits.py
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==21.1.0

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=5
  - --quiet
  additional_dependencies:
  - cpplint==2.0.2

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

check-java-strings-have-locale:
  name: Check Java String.format includes Locale
  entry: python3 ./cobalt/precommit/check_java_strings_have_locale.py
  language: python

CL2: Implement SmapsCategorizer for high-performance smaps parsing
  services/resource_coordinator/BUILD.gn
  services/resource_coordinator/public/cpp/memory_instrumentation/BUILD.gn
  services/resource_coordinator/public/cpp/memory_instrumentation/detailed_metrics_delegate.cc
  services/resource_coordinator/public/cpp/memory_instrumentation/detailed_metrics_delegate_unittest.cc
  services/resource_coordinator/public/cpp/memory_instrumentation/smaps_categorizer.cc
  services/resource_coordinator/public/cpp/memory_instrumentation/smaps_categorizer.h
  services/resource_coordinator/public/cpp/memory_instrumentation/smaps_categorizer_unittest.cc
Due: none

Plumb collect_test_artifacts for cobalt_browsertests for tvOS (#10252)
  cobalt/testing/browser_tests/tools/collect_test_artifacts.py
Due: yapf, pylint, python3-compatibility-check

Update header_dir for debugging_buildflags
  copied_base/base/BUILD.gn
Due: none

Clean linux modular test filters
  cobalt/testing/filters/linux-x64x11-modular/base_perftests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/base_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/boringssl_crypto_tests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/capture_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/cc_perftests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/cc_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/cobalt_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/gcm_unit_tests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/google_apis_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/gpu_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/media_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/mojo_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/nplb_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/sql_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/viz_perftests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/viz_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/zlib_unittests_loader_filter.json
Due: none

aosp: temporarily disable some Cobalt features (#10118)
  build/build_config.h
  cobalt/build/configs/BUILD.gn
  starboard/android/shared/BUILD.gn
  starboard/android/shared/starboard_bridge.cc
  starboard/android/shared/text_to_speech_helper.cc
Due: clang-format, cpplint, gn-format

tvOS: Respect --disable-splash-screen, change initialization flow (#9959)
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell_platform_delegate_ios.mm
Due: clang-format, cpplint

aosp: skip bionic futex path on hermetic builds
  third_party/abseil-cpp/absl/synchronization/internal/futex.h
Due: none

Remove starboard/version.h (#10242)
  starboard/version.h
Due: clang-format, cpplint

aosp: Fix assumptions about Android (#10228)
  base/BUILD.gn
  content/browser/BUILD.gn
  device/bluetooth/BUILD.gn
Due: none

tvos: Convert DrmSystemPlatform to pure abstract interface (#10185)
  starboard/tvos/shared/media/drm_system_platform.h
  starboard/tvos/shared/media/drm_system_platform.mm
Due: clang-format, cpplint

tvOS: Add stub decode_target_get_info.cc to the build (#10103)
  starboard/tvos/shared/BUILD.gn
Due: gn-format

tvOS: Rename some deprecated app lifecycle functions in main.mm (#10230)
  cobalt/app/tvos/main.mm
Due: none

is_cobalt_hermetic_build => is_starboard
  starboard/build/config/toolchain_variables.gni
Due: gn-format

Update link
  starboard/shared/starboard/thread_checker.h
Due: clang-format, cpplint

Optimize binary size for evergreen-arm-hardfp-rdk
  cobalt/build/configs/evergreen-arm-hardfp-rdk/args.gn
Due: gn-format

starboard: Update Starboard API versions (#10243)
  starboard/configuration.h
Due: clang-format, cpplint

starboard: Remove SbThreadSampler and associated APIs (#10240)
  starboard/CHANGELOG.md
  starboard/android/shared/BUILD.gn
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/BUILD.gn
  starboard/elf_loader/exported_symbols.cc
  starboard/linux/shared/BUILD.gn
  starboard/nplb/BUILD.gn
  starboard/nplb/thread_sampler_test.cc
  starboard/raspi/shared/BUILD.gn
  starboard/shared/pthread/thread_context_get_pointer.cc
  starboard/shared/pthread/thread_context_internal.cc
  starboard/shared/pthread/thread_context_internal.h
  starboard/shared/pthread/thread_sampler_create.cc
  starboard/shared/pthread/thread_sampler_destroy.cc
  starboard/shared/pthread/thread_sampler_freeze.cc
  starboard/shared/pthread/thread_sampler_internal.cc
  starboard/shared/pthread/thread_sampler_internal.h
  starboard/shared/pthread/thread_sampler_is_supported.cc
  starboard/shared/pthread/thread_sampler_thaw.cc
  starboard/shared/stub/thread_context_get_pointer.cc
  starboard/shared/stub/thread_sampler_create.cc
  starboard/shared/stub/thread_sampler_destroy.cc
  starboard/shared/stub/thread_sampler_freeze.cc
  starboard/shared/stub/thread_sampler_is_supported.cc
  starboard/shared/stub/thread_sampler_thaw.cc
  starboard/stub/BUILD.gn
  starboard/thread.h
Due: clang-format, cpplint, gn-format

[POSIX] Register if_indextoname
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_if_indextoname_test.cc
  starboard/tools/api_leak_detector/evergreen/manifest
Due: clang-format, cpplint, gn-format

Use a wrapper for if_indextoname
  starboard/elf_loader/exported_symbols.cc
  starboard/shared/modular/cobalt_layer_posix_socket_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_socket_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_socket_abi_wrappers.h
Due: clang-format, cpplint

Add `if_indextoname` to allowed symbols
  starboard/tools/api_leak_detector/api_leak_detector.py
Due: yapf, pylint, python3-compatibility-check

Add if_nametoindex wrapper
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_if_indextoname_test.cc
  starboard/nplb/posix_compliance/posix_if_nametoindex_test.cc
  starboard/shared/modular/cobalt_layer_posix_socket_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_socket_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_socket_abi_wrappers.h
  starboard/tools/api_leak_detector/evergreen/dev_manifest
Due: clang-format, cpplint, gn-format

starboard: Optimize ThreadChecker by caching thread ID in TLS (#10146)
  starboard/benchmark/BUILD.gn
  starboard/benchmark/thread_id_benchmark.cc
  starboard/shared/starboard/thread_checker.h
Due: clang-format, cpplint, gn-format

Fix benchmark infrastructure for Starboard platforms
  starboard/BUILD.gn
  starboard/benchmark/BUILD.gn
  starboard/benchmark/memory_benchmark.cc
  starboard/benchmark/thread_benchmark.cc
  starboard/build/config/base_configuration.gni
  starboard/common/benchmark_main.cc
Due: clang-format, cpplint, gn-format

Address comments
  starboard/common/benchmark_main.cc
Due: clang-format, cpplint

Add comment
  starboard/benchmark/BUILD.gn
  starboard/common/benchmark_main.cc
Due: clang-format, cpplint, gn-format

tvOS: Remove some deprecated and empty app lifecycle functions (#10229)
  cobalt/app/tvos/main.mm
Due: none

Forcing benchmark target to be an executable and defining main for modular builds
  starboard/benchmark/BUILD.gn
  starboard/common/benchmark_main.cc
Due: clang-format, cpplint, gn-format

Update tools/metrics/histograms/metadata/cobalt/histograms.xml
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: none

Update cobalt/browser/metrics/cobalt_metrics_browsertest.cc
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
Due: clang-format, cpplint

Revert change to upstream style for 3p code (#10116)
  third_party/zlib/google/compression_utils.cc
Due: none

feat(performance): Add memory metrics verification tools
  cobalt/tools/performance/memory/README.md
  cobalt/tools/performance/memory/analyze_cumulative_memory.py
  cobalt/tools/performance/memory/compare_accuracy.py
  cobalt/tools/performance/memory/compare_histograms.py
Due: yapf, pylint, python3-compatibility-check

Fix build on cl2 branch by adding missing method
  services/resource_coordinator/public/cpp/memory_instrumentation/os_metrics.h
  services/resource_coordinator/public/cpp/memory_instrumentation/os_metrics_linux.cc
Due: none

Modifications on kokoro configs files and build_mac.sh to get CI to build.
  cobalt/devinfra/kokoro/bin/build_mac.sh
  cobalt/devinfra/kokoro/build/tvos/arm64/common.gcl
  cobalt/devinfra/kokoro/build/tvos/arm64/gold.gcl
  cobalt/devinfra/kokoro/build/tvos/arm64/qa.gcl
Due: none

Refactor proc_maps_linux to use SplitStringPiece and HexStringToUInt
  base/debug/proc_maps_linux.cc
  base/debug/proc_maps_linux.h
Due: none

Integrate Granular Memory tracking into OSMetrics
  services/resource_coordinator/public/cpp/memory_instrumentation/os_metrics.h
  services/resource_coordinator/public/cpp/memory_instrumentation/os_metrics_linux.cc
  services/resource_coordinator/public/cpp/memory_instrumentation/os_metrics_unittest.cc
Due: none

Remove duplicate definition of Cobalt.Storage.Exit.LocalStorageFlushSchedulingDuration in histograms.xml
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: none

CL4: Wire granular memory tracking in memory instrumentation service
  services/resource_coordinator/memory_instrumentation/queued_request.cc
  services/resource_coordinator/memory_instrumentation/queued_request_dispatcher.cc
  services/resource_coordinator/public/cpp/memory_instrumentation/client_process_impl.cc
  services/resource_coordinator/public/cpp/memory_instrumentation/client_process_impl.h
  services/resource_coordinator/public/cpp/memory_instrumentation/memory_instrumentation.cc
  services/resource_coordinator/public/cpp/memory_instrumentation/memory_instrumentation.h
  services/resource_coordinator/public/cpp/memory_instrumentation/memory_instrumentation_features.cc
  services/resource_coordinator/public/cpp/memory_instrumentation/memory_instrumentation_features.h
Due: none

CL5: Implement CobaltDetailedMetricsDelegate and wire it in Cobalt
  cobalt/BUILD.gn
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/metrics/cobalt_detailed_metrics_delegate.cc
  cobalt/browser/metrics/cobalt_detailed_metrics_delegate.h
  cobalt/browser/metrics/cobalt_detailed_metrics_delegate_unittest.cc
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: clang-format, cpplint, gn-format

Address review findings for compare_accuracy.py
  cobalt/tools/performance/memory/compare_accuracy.py
Due: yapf, pylint, python3-compatibility-check

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
