Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==17.0.1

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

Add e2e smoke test on TCL and Kirkwood (#6893)
  .github/config/android-arm.json
Due: none

Fix: Set initial focus on DidStopLoading (#6845)
  cobalt/browser/cobalt_web_contents_observer.cc
  cobalt/browser/cobalt_web_contents_observer.h
Due: clang-format

media: Fix missing conditions in MojoDecoderBuffer{Reader/Writer} (#7480)
  media/mojo/common/mojo_decoder_buffer_converter.cc
Due: none

Separate switches for test and gate renderer test logics in non-official builds (#6881)
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/shell/BUILD.gn
  cobalt/shell/app/shell_main_delegate.cc
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell_browser_main_parts.cc
  cobalt/shell/browser/shell_content_browser_client.cc
  cobalt/shell/browser/shell_web_contents_view_delegate_views.cc
  cobalt/shell/common/shell_content_client.cc
  cobalt/shell/common/shell_switches.cc
  cobalt/shell/common/shell_test_switches.cc
  cobalt/shell/common/shell_test_switches.h
  cobalt/shell/renderer/shell_content_renderer_client.cc
  cobalt/shell/renderer/shell_content_renderer_client.h
  cobalt/shell/renderer/shell_render_frame_observer.cc
Due: clang-format, gn-format

Embed icudata in libcobalt.so (#6817)
  cobalt/build/configs/linux_common.gn
  cobalt/build/linux/package.json
  cobalt/build/modular_executable.gni
  cobalt/common/icu_init/init.cc
Due: clang-format, gn-format

android: Use Starboard features for use_stub_{audio/video}_decoder (#6890)
  starboard/extension/feature_config.h
  starboard/shared/starboard/player/filter/player_components.cc
Due: clang-format

Fix: Align non-public, non-static field names to Chromium style (#6910)
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/Holder.java
Due: google-java-format, gcheckstyle

Fix: Align non-public, non-static field names to Chromium style (#6911)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/ErrorDialog.java
Due: google-java-format, gcheckstyle

Fix: Align field names and simplify expression (#6923)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/ArtworkLoader.java
Due: google-java-format, gcheckstyle

starboard: Make Application::Get use SB_CHECK, not SB_DCHECK (#6937)
  starboard/shared/starboard/application.h
Due: clang-format

android: deactivate media session in onStop() callback (#6934)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltMediaSession.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
Due: google-java-format, gcheckstyle

Remove the limited depth fetch that was used during testing. (#6926)
  .github/workflows/linearize_main.yaml
Due: none

Hook up focus events to PlatformWindowStarboard (#6853)
  cobalt/app/cobalt.cc
  ui/ozone/platform/starboard/platform_event_observer_starboard.h
  ui/ozone/platform/starboard/platform_event_source_starboard.cc
  ui/ozone/platform/starboard/platform_event_source_starboard.h
  ui/ozone/platform/starboard/platform_window_starboard.cc
  ui/ozone/platform/starboard/platform_window_starboard.h
Due: clang-format

Fix: Align non-public, non-static field names to Chromium style (#6924)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/javabridge/AmatiDeviceInspector.java
Due: google-java-format, gcheckstyle

refactor: Remove dead EVERGREEN_COMPATIBLE code from Android (#6940)
  starboard/android/shared/android_main.cc
  starboard/android/shared/starboard_bridge.cc
  starboard/android/shared/system_get_extensions.cc
  starboard/android/shared/system_get_path.cc
  starboard/android/shared/system_request_freeze_no_freezedone_callback.cc
Due: clang-format

starboard: Add tests for Starboard Extension for Features (#6688)
  starboard/android/shared/BUILD.gn
  starboard/extension/extension_test.cc
  starboard/shared/starboard/starboard_feature_test.cc
Due: clang-format, gn-format

[android] Improve playback rate adjustment (#5684)
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/VideoFrameReleaseTimeHelper.java
Due: google-java-format, gcheckstyle

cleanup: Remove unused JNI volume control methods (#6954)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/VolumeStateReceiver.java
  starboard/android/shared/android_main.cc
Due: clang-format, google-java-format, gcheckstyle

[Rebase M138 - Android fixes] Media / DRM / Jni fixes
  cobalt/android/apk/app/proguard-rules.pro
  cobalt/android/apk/app/src/main/java/dev/cobalt/browser/CobaltInterfaceRegistrar.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/AudioPermissionRequester.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltTextToSpeechHelper.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioOutputManager.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridgeBuilder.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java
  cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java
  cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
  cobalt/shell/browser/shell_platform_delegate_android.cc
  starboard/android/shared/drm_system.h
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_drm_bridge.cc
  starboard/android/shared/media_drm_bridge.h
Due: clang-format, google-java-format, gcheckstyle

Compiler fixes and API updates
  build/config/android/config.gni
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java
  cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell.h
Due: clang-format, google-java-format, gcheckstyle, gn-format

JNI symbol fix
  cobalt/android/BUILD.gn
Due: gn-format

Compiles and runs - no video
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  media/mojo/clients/starboard/starboard_renderer_client.cc
  media/mojo/common/mojo_decoder_buffer_converter.cc
Due: google-java-format, gcheckstyle, gn-format

Disable siso backend config
  DEPS
Due: none

Add play-services-ads-identifier-18.2.0 to our DEPS
  DEPS
  third_party/android_deps/BUILD.gn
  third_party/android_deps/build.gradle
Due: none

Remove aaudio from cobalt/android/BUILD.gn - unneeded
  cobalt/android/BUILD.gn
Due: gn-format

remove unneeded checks
  media/mojo/common/mojo_decoder_buffer_converter.cc
Due: none

Gate test logic in cobalt to official build (#6941)
  cobalt/renderer/cobalt_render_frame_observer.cc
  cobalt/renderer/cobalt_render_frame_observer.h
  cobalt/shell/BUILD.gn
  cobalt/shell/browser/shell_content_browser_client.cc
  cobalt/shell/browser/shell_content_browser_client.h
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/browser_tests/media_browsertest.cc
  cobalt/testing/browser_tests/site_per_process_browsertest.cc
Due: clang-format, gn-format

android: Wire up isReleaseBuild to its native implementation (#6960)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/android_main.cc
Due: clang-format, google-java-format, gcheckstyle

cobalt/test: Re-enable FrameTreeBroserTests (#6946)
  cobalt/testing/browser_tests/frame_tree_browsertest.cc
Due: clang-format

POSIX: Add utimes/futimes support to Starboard (#6631)
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_utimensat_test.cc
  starboard/shared/modular/cobalt_layer_posix_stat_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_stat_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_stat_abi_wrappers.h
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/api_leak_detector/evergreen/manifest
  third_party/musl/BUILD.gn
  third_party/musl/src/internal/syscall_ret.c
  third_party/musl/src/linux/utimes.c
  third_party/musl/src/stat/futimesat.c
Due: clang-format, yapf, pylint, python3-compatibility-check, gn-format

Remove unneeded Chrome diagnostic tools (#6959)
  cobalt/shell/BUILD.gn
Due: gn-format

cleanup: Remove unused nativeOnSearchRequested method (#6958)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/application_android.cc
Due: clang-format, google-java-format, gcheckstyle

cleanup: Remove StarboardBridge::AfterStopped() JNI callback (#6962)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/starboard_bridge.cc
  starboard/android/shared/starboard_bridge.h
Due: clang-format, google-java-format, gcheckstyle

Introduce oom_intervention to Cobalt (#6948)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/NearOomMonitor.java
  cobalt/android/oom_intervention/BUILD.gn
  cobalt/android/oom_intervention/oom_intervention_config.cc
  cobalt/android/oom_intervention/oom_intervention_config.h
  cobalt/android/oom_intervention/oom_intervention_features.cc
  cobalt/android/oom_intervention/oom_intervention_features.h
  cobalt/android/oom_intervention/oom_intervention_tab_helper.cc
  cobalt/android/oom_intervention/oom_intervention_tab_helper.h
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_web_contents_observer.cc
Due: clang-format, google-java-format, gcheckstyle, gn-format

starboard: Remove unnecessary symbol exports for JNI methods (#6971)
  starboard/android/shared/audio_output_manager.cc
  starboard/android/shared/speech_synthesis_internal.cc
  starboard/android/shared/starboard_bridge.cc
  starboard/android/shared/text_to_speech_helper.cc
Due: clang-format

refactor: Handle pthread_t and pthread_create() in the portable way (#6952)
  starboard/android/shared/audio_sink_min_required_frames_tester.cc
  starboard/android/shared/audio_sink_min_required_frames_tester.h
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type.h
  starboard/android/shared/continuous_audio_track_sink.cc
  starboard/android/shared/continuous_audio_track_sink.h
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/common/thread.cc
  starboard/raspi/shared/open_max/video_decoder.cc
  starboard/raspi/shared/open_max/video_decoder.h
  starboard/shared/alsa/alsa_audio_sink_type.cc
  starboard/shared/ffmpeg/ffmpeg_video_decoder_impl.cc
  starboard/shared/ffmpeg/ffmpeg_video_decoder_impl.h
  starboard/shared/linux/system_network_status.cc
  starboard/shared/linux/system_network_status.h
  starboard/shared/pulse/pulse_audio_sink_type.cc
  starboard/shared/starboard/audio_sink/stub_audio_sink_type.cc
  starboard/shared/starboard/player/job_thread.cc
  starboard/shared/starboard/player/player_worker.cc
  starboard/shared/starboard/player/player_worker.h
Due: clang-format

Initialize ICU correctly when ICU is not bundled with the binary (#6957)
  cobalt/common/icu_init/init.cc
Due: clang-format

Remove an outdated comment (#6974)
  .github/workflows/main.yaml
Due: none

Add hermetic localtime, localtime_r, gmtime, gmtime_r, mktime, and timegm (#6748)
  cobalt/common/icu_init/BUILD.gn
  cobalt/common/libc/BUILD.gn
  cobalt/common/libc/time/gmtime.cc
  cobalt/common/libc/time/icu_time_support.cc
  cobalt/common/libc/time/icu_time_support.h
  cobalt/common/libc/time/icu_time_support_test.cc
  cobalt/common/libc/time/localtime.cc
  cobalt/common/libc/time/mktime.cc
  cobalt/common/libc/time/timegm.cc
  starboard/common/BUILD.gn
  starboard/common/source_location.cc
  starboard/common/source_location.h
  starboard/common/starboard_common_time_test.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_time_explosion_test.cc
  starboard/nplb/posix_compliance/posix_time_helper.cc
  starboard/nplb/posix_compliance/posix_time_helper.h
  starboard/nplb/posix_compliance/posix_time_implosion_test.cc
  starboard/nplb/posix_compliance/posix_time_tzset_test.cc
  starboard/nplb/posix_compliance/posix_timezone_test.cc
  starboard/nplb/posix_compliance/posix_timezone_test_helpers.cc
  starboard/nplb/posix_compliance/posix_timezone_test_helpers.h
  starboard/nplb/posix_compliance/posix_timezone_test_iana_format.cc
  starboard/nplb/posix_compliance/posix_timezone_test_posix_format.cc
  starboard/nplb/posix_compliance/scoped_tz_environment.h
  starboard/nplb/posix_compliance/scoped_tz_set.h
  starboard/shared/modular/cobalt_layer_posix_time_abi_wrappers.cc
  starboard/tools/api_leak_detector/evergreen/manifest
  third_party/icu/BUILD.gn
Due: clang-format, gn-format

Change linearization workflow to point to automation/linear_main (#6980)
  .github/workflows/linearize_main.yaml
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  yapf: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  pylint: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  python3-compatibility-check: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  google-java-format: any of: \.java$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java
)
) and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  gn-format: any of: .*\.gni?$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

