Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)

Cherry pick PR #10726: [Cobalt] Add dynamic GPU image decode cache optimization switches
  cc/base/switches.cc
  cc/base/switches.h
  cc/tiles/gpu_image_decode_cache.cc
  cc/tiles/gpu_image_decode_cache.h
  cc/tiles/image_decode_cache_utils.cc
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
Due: gcheckstyle, check-java-strings-have-locale

Cherry pick PR #10736: net: Re-add selective HTTP cache disablement
  cobalt/browser/cobalt_content_browser_client.cc
  net/http/http_cache_transaction.cc
Due: clang-format, cpplint

Cherry pick PR #10659: android: Enable MediaCodec unit testing via dependency injection
  starboard/android/shared/BUILD.gn
  starboard/android/shared/fake_media_codec.cc
  starboard/android/shared/fake_media_codec.h
  starboard/android/shared/media_codec.cc
  starboard/android/shared/media_codec.h
  starboard/android/shared/media_codec_audio_decoder.cc
  starboard/android/shared/media_codec_audio_decoder.h
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_codec_decoder.cc
  starboard/android/shared/media_codec_decoder.h
  starboard/android/shared/media_codec_decoder_test.cc
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/media_codec_video_decoder.h
  starboard/android/shared/media_codec_video_decoder_test.cc
  starboard/android/shared/player_components_factory.cc
Due: clang-format, cpplint, gn-format

Cherry pick PR #10488: Prune Web Bluetooth, WebUSB, WebHID, Web Serial, and Web NFC
  third_party/blink/renderer/bindings/bindings.gni
  third_party/blink/renderer/bindings/modules/v8/BUILD.gn
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/cobalt_modules_stubs.cc
  third_party/blink/renderer/modules/service_worker/BUILD.gn
  third_party/blink/renderer/modules/service_worker/service_worker_global_scope.cc
Due: none

Cherry pick PR #10744: Update SB testing doc
  cobalt/site/docs/starboard/testing.md
Due: none

Cherry pick PR #10747: media: Avoid per-iteration heap allocations in MediaCodecDecoder audio loop
  starboard/android/shared/media_codec_decoder.cc
Due: clang-format, cpplint

Cherry pick PR #10686: refactor(ci): add test subtypes and runs_on to test_targets.json
  .github/actions/on_device_tests/action.yaml
  .github/actions/on_host_tests/action.yaml
  .github/actions/test_targets_json/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
  .github/workflows/main.yaml
  cobalt/build/testing/targets/android-arm/test_targets.json
  cobalt/build/testing/targets/android-arm64/test_targets.json
  cobalt/build/testing/targets/aosp-arm/test_targets.json
  cobalt/build/testing/targets/evergreen-arm-hardfp-raspi/test_targets.json
  cobalt/build/testing/targets/evergreen-arm-hardfp-rdk/test_targets.json
  cobalt/build/testing/targets/evergreen-x64/test_targets.json
  cobalt/build/testing/targets/linux-x64x11-modular/test_targets.json
  cobalt/build/testing/targets/linux-x64x11-no-starboard/test_targets.json
  cobalt/build/testing/targets/linux-x64x11/test_targets.json
  cobalt/build/testing/targets/raspi-2-modular/test_targets.json
  cobalt/build/testing/targets/tvos-arm64-simulator/test_targets.json
Due: none

Cherry pick PR #10753: ci: Set test_attempts to 1
  cobalt/tools/on_device_tests_gateway_client.py
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #10729: Prune WebGPU/Dawn to reduce android binary size
  gpu/command_buffer/service/BUILD.gn
  third_party/blink/renderer/bindings/bindings.gni
  third_party/blink/renderer/bindings/modules/v8/BUILD.gn
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/canvas/BUILD.gn
  third_party/blink/renderer/modules/canvas/canvas2d/base_rendering_context_2d.cc
  third_party/blink/renderer/modules/canvas/canvas2d/base_rendering_context_2d.h
  third_party/blink/renderer/modules/canvas/canvas2d/canvas_2d_recorder_context.cc
  third_party/blink/renderer/modules/cobalt_modules_stubs.cc
  third_party/blink/renderer/modules/modules_initializer.cc
  third_party/blink/renderer/modules/webgpu/BUILD.gn
  third_party/blink/renderer/platform/BUILD.gn
  third_party/blink/renderer/platform/graphics/gpu/cobalt_webgpu_stubs.cc
Due: none

Cherry pick PR #10580: fix: Make VP9 Profile 2 optional for non-HDR devices in MinimumSupport
  starboard/nplb/media_can_play_mime_and_key_system_test.cc
Due: clang-format, cpplint

Cherry pick PR #10671: Add Finch config related UMAs
  cobalt/browser/experiments/experiment_config_manager.cc
  cobalt/browser/experiments/experiment_config_manager.h
  cobalt/browser/experiments/experiment_config_manager_unittest.cc
  cobalt/browser/h5vcc_experiments/h5vcc_experiments_impl.cc
  tools/metrics/histograms/metadata/cobalt/enums.xml
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: clang-format, cpplint

Cherry pick PR #10738: Disable `sigaltstack` and `sched_getcpu`
  third_party/abseil-cpp/absl/base/config.h
  third_party/abseil-cpp/absl/debugging/failure_signal_handler.cc
Due: none

Cherry pick PR #10725: Reland #10539 - 'Implement base MemoryContext TLS mapping and Allocator Observers'
  base/BUILD.gn
  base/memory/cobalt_memory_attribution_observer.cc
  base/memory/cobalt_memory_attribution_observer.h
  base/memory/cobalt_memory_context.cc
  base/memory/cobalt_memory_context.h
Due: none

Cherry pick PR #10749: media: Reuse scratch buffer in MP4StreamParser for Starboard
  media/formats/mp4/mp4_stream_parser.cc
  media/formats/mp4/mp4_stream_parser.h
Due: none

Cherry pick PR #10743: Posix: Add wrappers for `_Exit`
  starboard/elf_loader/exported_symbols.cc
  starboard/shared/modular/BUILD.gn
  starboard/shared/modular/cobalt_layer_posix__Exit_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix__Exit_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix__Exit_abi_wrappers.h
  starboard/tools/api_leak_detector/api_leak_detector.py
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check, gn-format

Cherry pick PR #10766: starboard: Move experiment features
  media/starboard/sbplayer_bridge.cc
  starboard/android/shared/system_get_extensions.cc
  starboard/extension/experimental/README.md
  starboard/extension/experimental/experimental_features.h
  starboard/extension/extension_test.cc
  starboard/shared/starboard/experimental_features.cc
  starboard/shared/starboard/experimental_features.h
Due: clang-format, cpplint

Cherry pick PR #10768: Add `getpriority` to allowed symbols list
  starboard/tools/api_leak_detector/api_leak_detector.py
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #10689: media: Optimize DecodingBuffers deallocation
  media/starboard/sbplayer_bridge.cc
  media/starboard/sbplayer_bridge.h
Due: clang-format, cpplint

Cherry pick PR #10737: Posix: Remove `vswprintf` test
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_string_format_wide_test.cc
  starboard/tools/api_leak_detector/api_leak_detector.py
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check, gn-format

Cherry pick PR #10620: android: Ignore callbacks during MediaCodec.flush()
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridgeBuilder.java
  cobalt/renderer/cobalt_content_renderer_client.cc
  media/base/ipc/media_param_traits_macros.h
  media/base/starboard/starboard_renderer_config.cc
  media/base/starboard/starboard_renderer_config.h
  media/starboard/sbplayer_bridge.cc
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_codec_decoder.cc
  starboard/android/shared/media_codec_decoder.h
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/media_codec_video_decoder.h
  starboard/extension/experimental_features.h
  starboard/shared/starboard/experimental_features.cc
  starboard/shared/starboard/experimental_features.h
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

Cherry pick PR #10719: feat(metrics): Register PartitionAlloc committed size sub-metrics
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
Due: clang-format, cpplint

Cherry pick PR #10639: starboard: Add `SbMediaCanChangeType` and update `SbPlayerWriteSamples`
  starboard/CHANGELOG.md
  starboard/android/shared/BUILD.gn
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/BUILD.gn
  starboard/elf_loader/exported_symbols.cc
  starboard/linux/shared/BUILD.gn
  starboard/media.h
  starboard/nplb/BUILD.gn
  starboard/nplb/media_can_change_type_test.cc
  starboard/nplb/player_test_fixture.cc
  starboard/nplb/player_test_fixture.h
  starboard/nplb/player_test_util.cc
  starboard/nplb/player_test_util.h
  starboard/nplb/player_write_sample_test.cc
  starboard/player.h
  starboard/raspi/shared/BUILD.gn
  starboard/shared/stub/media_can_change_type.cc
  starboard/stub/BUILD.gn
  starboard/tvos/shared/BUILD.gn
Due: clang-format, cpplint, gn-format

Cherry pick PR #10579: cobalt/android: Add JavaSwitches mapping for disable-gpu-memory-buffer
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
Due: gcheckstyle, check-java-strings-have-locale

Cherry pick PR #10631: cobalt/metrics: Use target-specific buildflag COBALT_DETAILED_MEMORY_METRICS
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/metrics/cobalt_detailed_metrics_delegate.cc
  cobalt/browser/metrics/cobalt_detailed_metrics_delegate.h
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/tools/performance/memory/compare_accuracy.py
  services/resource_coordinator/memory_instrumentation/queued_request.cc
  services/resource_coordinator/memory_instrumentation/queued_request_dispatcher.cc
  services/resource_coordinator/public/cpp/memory_instrumentation/BUILD.gn
  services/resource_coordinator/public/cpp/memory_instrumentation/client_process_impl.cc
  services/resource_coordinator/public/cpp/memory_instrumentation/memory_instrumentation.h
  services/resource_coordinator/public/cpp/memory_instrumentation/os_metrics.h
  services/resource_coordinator/public/cpp/memory_instrumentation/os_metrics_linux.cc
  services/resource_coordinator/public/cpp/memory_instrumentation/os_metrics_mac.cc
  services/resource_coordinator/public/cpp/memory_instrumentation/os_metrics_unittest.cc
  services/resource_coordinator/public/cpp/memory_instrumentation/tracing_observer_proto_unittest.cc
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check, gn-format
