Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [pre-commit]

default_language_version:
    python: python3

files: |
    (?x)^(
        .github/|
        chrobalt/|
        starboard/|
        .pre-commit-config.yaml|
        docker-compose.yaml
    )

repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-case-conflict
    -   id: check-xml
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace

-   repo: https://cobalt.googlesource.com/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        name: Spell Check
        args: [-x, chrobalt/precommit/.codespellignorelines,
               # The --ignore-words-list argument has a bug where it needs to
               # be lowercase, see
               # https://github.com/codespell-project/codespell/issues/1390
               --ignore-words-list, "atleast,varius",
               ]
        exclude: |
            (?x)^(
                starboard/content/ssl/certs/|
                starboard/loader_app/app_key_test.cc|
                starboard/shared/starboard/player/testdata
            )

-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: clang-format
        language: python
        types: [c++]
        args: [-i, -style=file]
        additional_dependencies: ['clang-format']
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: python
        types: [c++]
        args: [--verbose=4, --quiet]
        additional_dependencies: ['cpplint']
    -   id: yapf
        name: yapf
        entry: yapf
        language: python
        types: [python]
        args: [-i, -vv]
        additional_dependencies: ['yapf']
    -   id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [python]
        args: [-d W0201]
        additional_dependencies: ['pylint']
    -   id: python3-compatibility-check
        name: Python 3 Compatibility Check
        entry: python3 ./chrobalt/precommit/python3_check.py
        language: python
        types: [python]
    -   id: google-java-format
        name: google-java-format
        entry: python3 ./chrobalt/precommit/google_java_format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: python3 ./chrobalt/precommit/gcheckstyle_wrapper.py
        language: python
        types: [java]
    -   id: gn-format
        name: gn-format
        entry: gn format
        language: system
        files: '.*\.gni?$'

Improve network error dialog UI (#5984)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/ErrorDialog.java
  cobalt/android/apk/app/src/main/res/layout/coat_error_dialog.xml
Due: none

Manual rebase switches.h
  cobalt/browser/switches.h
Due: none

Address comments.
  cobalt/browser/h5vcc_experiments/h5vcc_experiments_impl.cc
  cobalt/browser/h5vcc_experiments/h5vcc_experiments_impl.h
  cobalt/browser/h5vcc_experiments/public/mojom/h5vcc_experiments.mojom
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/h_5_vcc_experiments.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/h_5_vcc_experiments.h
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/h_5_vcc_experiments.idl
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-experiments/h5vcc-experiments-getfeature.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-experiments/h5vcc-experiments-getfeatureparam.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-experiments/h5vcc-experiments-resetExperimentState.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-experiments/h5vcc-experiments-setExperimentState.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-experiments/resources/mock-h5vcc-experiments.js
Due: none

[media] Pass full mime type to SbPlayer via MojoRenderer
  media/mojo/clients/mojo_demuxer_stream_impl.cc
  media/mojo/mojom/demuxer_stream.mojom
  media/mojo/services/mojo_demuxer_stream_adapter.cc
  media/mojo/services/mojo_demuxer_stream_adapter.h
Due: none

Cherry pick PR #5984: Improve network error dialog UI (#6108)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/ErrorDialog.java
  cobalt/android/apk/app/src/main/res/layout/coat_error_dialog.xml
Due: none

Cherry pick PR #6098: cobalt: merge common/shell_switches into cobalt/browser/switches (#6106)
  cobalt/browser/switches.h
  cobalt/common/shell_switches.cc
  cobalt/common/shell_switches.h
  cobalt/renderer/BUILD.gn
  cobalt/renderer/cobalt_render_frame_observer.cc
Due: none

Remove duplicated code by redefining function name
  ui/events/keycodes/cobalt/keyboard_code_conversion_android_cobalt.cc
Due: none

Cherry pick PR #6077: Reduce minSdkVersion to 24 and Downgrade Google Ads Identifier Version (#6107)
  DEPS
  build/config/android/config.gni
  cobalt/android/BUILD.gn
  starboard/android/shared/jni_env_ext.cc
  starboard/common/log.cc
  starboard/nplb/posix_compliance/posix_thread_get_name_test.cc
  starboard/nplb/posix_compliance/posix_thread_set_name_test.cc
  third_party/android_deps/BUILD.gn
  third_party/android_deps/build.gradle
  third_party/android_deps/buildSrc/src/main/groovy/ChromiumDepGraph.groovy
  third_party/android_deps/libs/com_google_android_gms_play_services_ads_identifier/3pp/fetch.py
  third_party/android_deps/libs/com_google_android_gms_play_services_ads_identifier/LICENSE
  third_party/android_deps/libs/com_google_android_gms_play_services_ads_identifier/README.chromium
  third_party/android_deps/libs/com_google_android_gms_play_services_ads_identifier/cipd.yaml
  third_party/android_deps/libs/com_google_android_gms_play_services_ads_identifier/play-services-ads-identifier-18.1.0.aar
  third_party/android_deps/libs/com_google_android_gms_play_services_basement/LICENSE
  third_party/android_deps/libs/com_google_android_gms_play_services_basement/README.chromium
  third_party/android_deps/libs/com_google_android_gms_play_services_basement/cipd.yaml
  third_party/android_deps/libs/org_hamcrest_hamcrest/LICENSE
  third_party/android_deps/libs/org_jsoup_jsoup/LICENSE
Due: clang-format, cpplint

Add tests for poll, ppoll, select
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_poll_test.cc
  starboard/nplb/posix_compliance/posix_ppoll_test.cc
  starboard/nplb/posix_compliance/posix_select_test.cc
  starboard/tools/api_leak_detector/api_leak_detector.py
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check, gn-format

whitespace
  starboard/nplb/posix_compliance/posix_poll_test.cc
  starboard/nplb/posix_compliance/posix_ppoll_test.cc
  starboard/nplb/posix_compliance/posix_select_test.cc
Due: clang-format, cpplint

Add perror from musl to Chrobalt
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_perror_test.cc
  starboard/tools/api_leak_detector/api_leak_detector.py
  third_party/musl/BUILD.gn
  third_party/musl/src/stdio/perror.c
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check, gn-format

Reject pending promises in H5vccExperiments when mojo disconnect (#5864)
  cobalt/browser/h5vcc_experiments/h5vcc_experiments_impl.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/h_5_vcc_experiments.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/h_5_vcc_experiments.h
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/h_5_vcc_experiments.idl
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-experiments/h5vcc-experiments-getfeature.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-experiments/h5vcc-experiments-getfeatureparam.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-experiments/h5vcc-experiments-resetExperimentState.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-experiments/h5vcc-experiments-setExperimentState.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-experiments/resources/mock-h5vcc-experiments.js
Due: none

Remove json Cobalt license format
  cobalt/BUILD.gn
  cobalt/build/android/package.json
  cobalt/build/build_info.py
  cobalt/build/linux/package.json
Due: none

Adding enforcement documentation comments
  cobalt/browser/switches.h
Due: none

Address comments
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_perror_test.cc
  third_party/musl/src/stdio/perror.c
Due: clang-format, cpplint, gn-format

Add evergreen raspi build config (#6051)
  .github/config/evergreen-arm-hardfp-raspi.json
  .github/config/evergreen-x64.json
  .github/workflows/evergreen-arm-hardfp-raspi.yaml
  .github/workflows/evergreen.yaml
  cobalt/build/configs/evergreen-arm-hardfp-raspi/args.gn
  cobalt/build/gn.py
  cobalt/build/testing/targets/evergreen-arm-hardfp-raspi/test_targets.json
Due: none

Refactor constructor of SbFileAndroidInitialize to avoid JNI calls Bug: 416501235
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/application_android.cc
  starboard/android/shared/application_android.h
  starboard/android/shared/file_internal.cc
  starboard/android/shared/file_internal.h
  starboard/android/shared/starboard_bridge.cc
Due: clang-format, cpplint

Move functionality from ShellContentBrowserClient to to CobaltContentBrowserClient and from ShellBrowserMainParts to CobaltBrowserMainParts.
  cobalt/app/cobalt_main_delegate.cc
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/cobalt_browser_main_parts.h
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/shell/BUILD.gn
  cobalt/shell/android/shell_manager.cc
  cobalt/shell/android/shell_manager.h
  cobalt/shell/app/shell_main_delegate.cc
  cobalt/shell/app/shell_main_delegate.h
Due: none

[media] Pass full mime type to SbPlayer via MojoRenderer (#6110)
  media/mojo/clients/mojo_demuxer_stream_impl.cc
  media/mojo/mojom/demuxer_stream.mojom
  media/mojo/services/mojo_demuxer_stream_adapter.cc
  media/mojo/services/mojo_demuxer_stream_adapter.h
Due: none

Fix gemini comment
  starboard/android/shared/file_internal.cc
Due: clang-format, cpplint

Remove json Cobalt license format (#6104)
  cobalt/BUILD.gn
  cobalt/build/android/package.json
  cobalt/build/build_info.py
  cobalt/build/linux/package.json
Due: none

Embed license_cobalt.spdx into binary
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_web_contents_observer.cc
Due: none

[POSIX] Add perror from musl to Chrobalt (#6052)
  starboard/tools/api_leak_detector/api_leak_detector.py
  third_party/musl/BUILD.gn
  third_party/musl/src/stdio/perror.c
Due: yapf, pylint, python3-compatibility-check

Secure nav throttle unit tests and HTTPS switch (#5962)
  cobalt/browser/cobalt_secure_navigation_throttle.cc
  cobalt/browser/cobalt_secure_navigation_throttle.h
  cobalt/browser/cobalt_secure_navigation_throttle_unittest.cc
  cobalt/browser/switches.h
Due: none

Remove unused JNI methods
  starboard/android/shared/starboard_bridge.cc
  starboard/android/shared/starboard_bridge.h
Due: clang-format, cpplint

[POSIX]Implement signal functions in Starboard
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_signal_test.cc
  starboard/shared/modular/BUILD.gn
  starboard/shared/modular/cobalt_layer_posix_pthread_abi_wrappers.cc
  starboard/shared/modular/cobalt_layer_posix_signal_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_pthread_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_pthread_abi_wrappers.h
  starboard/shared/modular/starboard_layer_posix_signal_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_signal_abi_wrappers.h
  starboard/tools/api_leak_detector/api_leak_detector.py
  third_party/musl/BUILD.gn
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check, gn-format

Cherry pick PR #5962: Secure nav throttle unit tests and HTTPS switch (#6118)
  cobalt/browser/cobalt_secure_navigation_throttle.cc
  cobalt/browser/cobalt_secure_navigation_throttle.h
  cobalt/browser/cobalt_secure_navigation_throttle_unittest.cc
  cobalt/browser/switches.h
Due: none

[POSIX] Add realpath and pathconf to Chrobalt
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_file_pathconf_test.cc
  starboard/nplb/posix_compliance/posix_file_realpath_test.cc
  starboard/shared/modular/cobalt_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.h
  starboard/tools/api_leak_detector/api_leak_detector.py
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check, gn-format

Show optimization
  BUILD.gn
  build/config/compiler/BUILD.gn
  build/config/sanitizers/BUILD.gn
  starboard/BUILD.gn
  starboard/tls_symbol.cc
Due: clang-format, cpplint, gn-format

Enable Evergreen sideloading (#6105)
  chrome/updater/configurator.cc
  chrome/updater/updater_module.cc
  cobalt/h5vcc/h5vcc_updater.cc
  starboard/configuration.h
Due: clang-format, cpplint

Disable concurrent-marking through gn args
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
  cobalt/build/configs/common.gn
Due: none

[POSIX] Add fstatfs stub in //third_party/musl
  starboard/tools/api_leak_detector/api_leak_detector.py
  third_party/musl/BUILD.gn
  third_party/musl/src/starboard/statfs/statfs_stub.c
Due: yapf, pylint, python3-compatibility-check
