Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, internal-file-check, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

yapf:
  name: yapf
  description: Run yapf (the python formatter) in-place on changed files.
  entry: yapf
  language: system
  args:
  - -i
  - -vv

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

google-java-format:
  name: google-java-format
  entry: python ./precommit_hooks/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: Lint Java With gcheckstyle
  entry: python ./precommit_hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-copyright-year:
  name: check copyright year
  entry: python ./precommit_hooks/check_copyright_year.py
  language: python
  stages:
  - push
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: python ./precommit_hooks/warn_that_starboard_interface_changed_wrapper.py
  language: python
  stages:
  - push

test-python3-compatibility:
  name: Test Python 3 Compatibility
  description: Checks that scripts can be run in Python 3
  entry: python precommit_hooks/python3_check.py
  language: python
  verbose: true

internal-file-check:
  name: Internal File Check
  entry: python precommit_hooks/internal_file_check_wrapper.py
  language: python

gn-format:
  name: GN format
  entry: gn format
  language: system

V8 agent seems to be working
  cobalt/debug/backend/tracing_controller.cc
  cobalt/debug/backend/tracing_controller.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Refresh cobalt_evergreen_overview.md for Cobalt 23
  starboard/doc/evergreen/cobalt_evergreen_overview.md
Due: internal-file-check

Cleaning up logs and unnecessary changes.
  cobalt/debug/backend/tracing_controller.cc
  cobalt/media/base/sbplayer_pipeline.cc
  third_party/devtools/front_end/timeline_model/TimelineModel.js
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Change ImportKeyAlgorithmParams hash to AlgorithmIdentifier. (#1896)
  cobalt/subtlecrypto/import_key_algorithm_params.idl
  cobalt/subtlecrypto/subtle_crypto.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Remove test retries
  .github/config/android-arm.json
  .github/config/android-arm64.json
  .github/config/android-x86.json
  .github/config/evergreen-arm-hardfp.json
  .github/config/evergreen-arm-softfp.json
  .github/config/raspi-2.json
Due: check-copyright-year, internal-file-check

Fix GN on modular builds (#1735)
  third_party/v8/BUILD.gn
Due: none

Refresh cobalt_evergreen_overview.md for Cobalt 23 (#1971)
  starboard/doc/evergreen/cobalt_evergreen_overview.md
Due: internal-file-check

Prevent a high CPU usage if tunnel mode is enabled (#1843)
  starboard/android/shared/media_decoder.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Disable evergreen_tests to pickup SbMemory changes.
  starboard/evergreen/testing/run_all_tests.sh
Due: check-copyright-year, internal-file-check

Support IAMF Config OBU side data
  starboard/CHANGELOG.md
  starboard/player.h
Due: clang-format, cpplint, check-copyright-year, check-if-starboard-interface-changed, internal-file-check

Install NASM 2.16 for Ubuntu Bionic base images
  docker/linux/base/build/Dockerfile
Due: check-copyright-year, internal-file-check

Updating dates
  cobalt/debug/backend/tracing_controller.cc
  cobalt/debug/backend/tracing_controller.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Move the PPA backport to only the Bionic Dockerfiles
  docker/linux/base/build/Dockerfile
  docker/linux/clang-3-9/Dockerfile
  docker/linux/gcc-6-3/Dockerfile
Due: check-copyright-year, internal-file-check

Condense docker RUN directives together for brevity
  docker/linux/clang-3-9/Dockerfile
  docker/linux/gcc-6-3/Dockerfile
Due: check-copyright-year, internal-file-check

Disable evergreen_tests to pickup SbMemory changes. (#1976)
  starboard/evergreen/testing/run_all_tests.sh
Due: check-copyright-year, internal-file-check

DevTools Performance Timeline revisited (#1972)
  cobalt/debug/BUILD.gn
  cobalt/debug/backend/debug_module.cc
  cobalt/debug/backend/debug_module.h
  cobalt/debug/backend/tracing_agent.cc
  cobalt/debug/backend/tracing_agent.h
  cobalt/debug/backend/tracing_controller.cc
  cobalt/debug/backend/tracing_controller.h
  third_party/devtools/front_end/sdk/TracingModel.js
  third_party/devtools/front_end/timeline_model/TimelineModel.js
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

DevTools Performance Timeline revisited (#1972)
  cobalt/debug/BUILD.gn
  cobalt/debug/backend/debug_module.cc
  cobalt/debug/backend/debug_module.h
  cobalt/debug/backend/tracing_controller.cc
  cobalt/debug/backend/tracing_controller.h
  third_party/devtools/front_end/sdk/TracingModel.js
  third_party/devtools/front_end/timeline_model/TimelineModel.js
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Support IAMF Config OBU side data (#1977)
  starboard/CHANGELOG.md
  starboard/player.h
Due: clang-format, cpplint, check-copyright-year, check-if-starboard-interface-changed, internal-file-check

Change
  cobalt/debug/console/command_manager.cc
  cobalt/dom/on_screen_keyboard.cc
  cobalt/loader/cors_preflight.cc
  cobalt/loader/cors_preflight_cache.cc
  cobalt/loader/cors_preflight_cache.h
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFontMgr_cobalt.cc
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFontStyleSet_cobalt.cc
  starboard/client_porting/poem/strings_poem.h
  starboard/elf_loader/exported_symbols.cc
  starboard/shared/posix/string_compare_no_case.cc
  starboard/shared/posix/string_compare_no_case_n.cc
  starboard/shared/starboard/media/mime_type.cc
  starboard/shared/stub/string_compare_no_case.cc
  starboard/shared/stub/string_compare_no_case_n.cc
  starboard/shared/win32/string_compare_no_case.cc
  starboard/shared/win32/string_compare_no_case_n.cc
  third_party/musl/BUILD.gn
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Install NASM 2.16 for Ubuntu Bionic base images (#1978)
  docker/linux/clang-3-9/Dockerfile
  docker/linux/gcc-6-3/Dockerfile
Due: check-copyright-year, internal-file-check

Removing tracing agent to fix CP issues
  cobalt/debug/backend/tracing_agent.cc
  cobalt/debug/backend/tracing_agent.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Update error message after review
  .github/workflows/label-cherry-pick.yaml
Due: check-copyright-year, internal-file-check

Handle merge commits in cherry-pick workflow
  .github/workflows/label-cherry-pick.yaml
Due: check-copyright-year, internal-file-check

Use full argument name
  .github/workflows/label-cherry-pick.yaml
Due: check-copyright-year, internal-file-check

Handle merge commits in cherry-pick workflow (#1982)
  .github/workflows/label-cherry-pick.yaml
Due: check-copyright-year, internal-file-check

Add CHECK for cobalt::loader::FetcherCache
  cobalt/loader/fetcher_cache.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Add CHECK for cobalt::loader::FetcherCache (#1983)
  cobalt/loader/fetcher_cache.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Add test cases for cobalt::loader::FetcherCache
  cobalt/loader/BUILD.gn
  cobalt/loader/fetcher_cache.h
  cobalt/loader/fetcher_cache_test.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Edit headings of cobalt/site/docs files for DevSite migration (#1854)
  cobalt/site/docs/communication.md
  cobalt/site/docs/overview.md
Due: internal-file-check

Update headings of last two doc files for cobalt.dev migration (#1908)
  cobalt/site/docs/starboard/porting.md
  cobalt/site/docs/starboard/testing.md
Due: internal-file-check

Delete cobalt/site/docs/blog directory (#1853)
  cobalt/site/docs/blog/index.md
Due: internal-file-check

Add Persistent Setting getters and setters to h5vcc_settings.
  cobalt/h5vcc/h5vcc_settings.cc
  cobalt/h5vcc/h5vcc_settings.h
  cobalt/h5vcc/h5vcc_settings.idl
Due: clang-format, cpplint, check-copyright-year, internal-file-check

[media] Enable IAMF MP4 parsing
  third_party/chromium/media/base/audio_codecs.cc
  third_party/chromium/media/base/audio_codecs.h
  third_party/chromium/media/base/supported_types.cc
  third_party/chromium/media/filters/stream_parser_factory.cc
  third_party/chromium/media/formats/mp4/box_definitions.cc
  third_party/chromium/media/formats/mp4/box_definitions.h
  third_party/chromium/media/formats/mp4/fourccs.h
  third_party/chromium/media/formats/mp4/mp4_stream_parser.cc
Due: none

Parse and store Config OBUs
  cobalt/media/sandbox/format_guesstimator.cc
  third_party/chromium/media/filters/chunk_demuxer.cc
  third_party/chromium/media/filters/stream_parser_factory.cc
  third_party/chromium/media/formats/mp4/box_definitions.cc
  third_party/chromium/media/formats/mp4/box_definitions.h
  third_party/chromium/media/formats/mp4/box_reader.h
  third_party/chromium/media/formats/mp4/mp4_stream_parser.cc
Due: clang-format, cpplint, internal-file-check

Parse config OBUs more efficiently
  third_party/chromium/media/base/audio_codecs.cc
  third_party/chromium/media/base/audio_codecs.h
  third_party/chromium/media/base/supported_types.cc
  third_party/chromium/media/filters/chunk_demuxer.cc
  third_party/chromium/media/filters/stream_parser_factory.cc
  third_party/chromium/media/formats/mp4/box_definitions.cc
  third_party/chromium/media/formats/mp4/box_definitions.h
  third_party/chromium/media/formats/mp4/box_reader.h
  third_party/chromium/media/formats/mp4/mp4_stream_parser.cc
  third_party/chromium/media/formats/mp4/mp4_stream_parser.h
Due: none

Remove references to iamd
  third_party/chromium/media/formats/mp4/box_definitions.cc
  third_party/chromium/media/formats/mp4/box_definitions.h
  third_party/chromium/media/formats/mp4/fourccs.h
Due: none

Update starboard utils
  third_party/chromium/media/base/starboard_utils.cc
Due: none

Minor formatting
  third_party/chromium/media/base/starboard_utils.cc
  third_party/chromium/media/formats/mp4/box_definitions.cc
Due: none

Formatting and optimization
  third_party/chromium/media/base/audio_codecs.cc
  third_party/chromium/media/base/audio_codecs.h
  third_party/chromium/media/filters/source_buffer_state.cc
  third_party/chromium/media/filters/stream_parser_factory.cc
  third_party/chromium/media/formats/mp4/box_definitions.cc
  third_party/chromium/media/formats/mp4/box_definitions.h
  third_party/chromium/media/formats/mp4/box_reader.h
  third_party/chromium/media/formats/mp4/mp4_stream_parser.cc
  third_party/chromium/media/formats/mp4/mp4_stream_parser.h
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^internal/starboard/shared/uikit/.*\.h$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  yapf: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  pylint: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  google-java-format: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gcheckstyle: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not ((?x)^(
    .pre-commit-config.yaml$|
    cobalt/media/|
    cobalt/layout_tests/testdata/|
    nb/|
    starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.cc$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.h$|
    starboard/shared/starboard/player/filter/wsola_internal.cc$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  check-if-starboard-interface-changed: any of: ^starboard/[^/]+\.h$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  test-python3-compatibility: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  internal-file-check: any of: not ((^docker-compose-windows(-internal)?.yml|EXCLUDE\.FILES(\.RECURSIVE)?|codereview\.settings)$), but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gn-format: any of: .*\.gni?$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

