Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [pre-commit]

default_language_version:
    python: python3

files: |
    (?x)^(
        .github/|
        cobalt/|
        media/starboard/|
        starboard/|
        .pre-commit-config.yaml|
        .pylintrc|
        docker-compose.yaml
    )

repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-case-conflict
    -   id: check-xml
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace

-   repo: https://cobalt.googlesource.com/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        name: Spell Check
        args: [-x, cobalt/precommit/.codespellignorelines,
               # The --ignore-words-list argument has a bug where it needs to
               # be lowercase, see
               # https://github.com/codespell-project/codespell/issues/1390
               --ignore-words-list, "atleast,varius,assertIn,requestor",
               ]
        exclude: |
            (?x)^(
                starboard/content/ssl/certs/|
                starboard/shared/starboard/player/testdata/|
                starboard/android/apk/app/src/app/assets/web/link_android_splash_screen.html
            )

-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: clang-format
        language: python
        types: [c++]
        args: [-i, -style=file]
        additional_dependencies: ['clang-format==17.0.1']
    -   id: yapf
        name: yapf
        entry: yapf
        language: python
        types: [python]
        args: [-i, -vv]
        additional_dependencies: ['yapf==0.40.2']
    -   id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [python]
        args: [-d W0201]
        additional_dependencies: ['pylint==3.3.1']
    -   id: python3-compatibility-check
        name: Python 3 Compatibility Check
        entry: python3 ./cobalt/precommit/python3_check.py
        language: python
        types: [python]
    -   id: google-java-format
        name: google-java-format
        entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
        language: python
        exclude: |
            (?x)^(
                starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java
            )
        types: [java]
    -   id: gn-format
        name: gn-format
        entry: gn format
        language: system
        files: '.*\.gni?$'

posix: Implement fchown in Starboard API (#6804)
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_unistd_fchown_test.cc
  starboard/shared/modular/cobalt_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_signal_abi_wrappers.h
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.h
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/api_leak_detector/evergreen/manifest
Due: clang-format, yapf, pylint, python3-compatibility-check, gn-format

Revert "Use a copy of ContextLifecycleObserver for exit notifications" (#6805)
  third_party/blink/renderer/platform/context_lifecycle_notifier.cc
Due: none

net/socket: Limit excessive error logging from recvmmsg (#6816)
  net/quic/quic_chromium_packet_reader.cc
  net/socket/udp_socket_posix.cc
Due: none

net: Restrict Cobalt trust store code to Linux (#6759)
  net/BUILD.gn
Due: none

posix: Add tests for link (#6539)
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_link_test.cc
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/api_leak_detector/evergreen/manifest
Due: clang-format, yapf, pylint, python3-compatibility-check, gn-format

[POSIX] Remove all syscalls (#6625)
  base/files/dir_reader_posix.h
  base/files/dir_reader_starboard.h
  base/linux_util.cc
  base/rand_util_posix.cc
  base/threading/platform_thread_unittest.cc
  components/crash/core/app/BUILD.gn
  content/utility/BUILD.gn
  content/utility/utility_main.cc
  printing/BUILD.gn
  sandbox/BUILD.gn
  sandbox/policy/BUILD.gn
  sandbox/policy/linux/sandbox_linux_starboard_stub.cc
  services/network/BUILD.gn
  services/screen_ai/BUILD.gn
  services/service_manager/BUILD.gn
  services/service_manager/service_process_launcher.cc
  starboard/tools/api_leak_detector/evergreen/manifest
  third_party/boringssl/src/crypto/rand/getrandom_fillin.h
  third_party/musl/BUILD.gn
  third_party/musl/src/starboard/misc/syscall.c
Due: none

Speed up git checkout in CI (#6819)
  .github/actions/build/action.yaml
  .github/workflows/lint.yaml
  .github/workflows/main.yaml
  .github/workflows/scorecards.yaml
  .github/workflows/sync_chromium_branches.yaml
Due: none

starboard_unittests: Make checks for some dependencies stricter (#6509)
  starboard/BUILD.gn
  starboard/raspi/shared/platform_configuration/configuration.gni
Due: gn-format

[POSIX] Remove references to ioctl (#6641)
  base/sync_socket_posix.cc
  cobalt/testing/filters/linux-x64x11/gpu_unittests_filter.json
  gpu/BUILD.gn
  starboard/tools/api_leak_detector/evergreen/manifest
  third_party/sqlite/BUILD.gn
  third_party/webrtc/rtc_base/physical_socket_server.cc
  ui/gfx/BUILD.gn
  ui/gfx/gpu_fence.cc
  ui/gl/BUILD.gn
  ui/gl/gl_fence.cc
Due: none

starboard: Remove implementations for deprecated Starboard APIs (#6616)
  starboard/android/shared/BUILD.gn
  starboard/linux/shared/BUILD.gn
  starboard/raspi/shared/BUILD.gn
  starboard/shared/iso/memory_allocate_unchecked.cc
  starboard/shared/iso/memory_free.cc
  starboard/shared/iso/memory_reallocate_unchecked.cc
  starboard/shared/posix/memory_allocate_aligned_unchecked.cc
  starboard/shared/posix/memory_free_aligned.cc
Due: clang-format, gn-format

posix: add tests for close (#6811)
  starboard/nplb/posix_compliance/posix_file_close_test.cc
Due: clang-format

Remove starboard hacks in musl (#6693)
  build/config/c++/BUILD.gn
  third_party/musl/BUILD.gn
  third_party/musl/src/starboard/hacks/linux/types.h
  third_party/musl/src/starboard/hacks/sys/cdefs.h
Due: none

posix: add tests for fstat (#6809)
  starboard/nplb/posix_compliance/posix_file_get_info_test.cc
Due: clang-format

[Posix] Implement fcntl wrapper (#6499)
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_fcntl_test.cc
  starboard/shared/modular/BUILD.gn
  starboard/shared/modular/cobalt_layer_posix_fcntl_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_fcntl_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_fcntl_abi_wrappers.h
  third_party/musl/include/fcntl.h
Due: clang-format, gn-format

cobalt/test: Fix Navigation Browser Tests for Android (#6837)
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/browser_tests/navigation_browsertest.cc
Due: clang-format, gn-format

ci: Rename commit message trigger command (#6788)
  .github/workflows/gemini-commit-message.yml
Due: none

clean up: refactor tests (#6839)
  starboard/nplb/file_atomic_replace_test.cc
  starboard/nplb/file_delete_recursive_test.cc
  starboard/nplb/file_helpers.cc
  starboard/nplb/file_helpers.h
  starboard/nplb/posix_compliance/posix_directory_get_next_readdir_r_test.cc
  starboard/nplb/posix_compliance/posix_directory_open_test.cc
  starboard/nplb/posix_compliance/posix_file_delete_test.cc
  starboard/nplb/system_get_path_test.cc
Due: clang-format

Add back service device test to browsertests sources (#6847)
  cobalt/shell/BUILD.gn
  cobalt/shell/DEPS
  cobalt/shell/utility/shell_content_utility_client.cc
Due: clang-format, gn-format

Override CreateFeatureListAndFieldTrials and separate test logics (#6826)
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/shell/browser/shell_content_browser_client.cc
  cobalt/shell/browser/shell_content_browser_client.h
Due: clang-format

android: Use Starboard Features for the delay during recreating VideoDecoder (#6849)
  starboard/android/shared/player_components_factory.cc
  starboard/extension/feature_config.h
Due: clang-format

android: Fix ConcurrentModificationException for cobaltServices (#6783)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
Due: google-java-format, gcheckstyle

refactor: Use base::TimeDelta type for AudioWriteDuration (#6852)
  media/base/media_switches.cc
  media/base/media_switches.h
  media/mojo/clients/starboard/starboard_renderer_client_factory.cc
Due: none

refactor: Apply a consistent style for null checks (#6867)
  starboard/common/ref_counted.h
  starboard/raspi/shared/open_max/dispmanx_resource_pool.cc
  starboard/raspi/shared/open_max/open_max_component.cc
  starboard/raspi/shared/open_max/open_max_component_base.cc
  starboard/shared/ffmpeg/ffmpeg_audio_decoder_impl.cc
  starboard/shared/ffmpeg/ffmpeg_video_decoder_impl.cc
  starboard/shared/libfdkaac/fdk_aac_audio_decoder.cc
  starboard/shared/linux/system_network_status.cc
  starboard/shared/opus/opus_audio_decoder.cc
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.cc
  starboard/shared/starboard/player/job_queue.h
  starboard/shared/starboard/player/job_thread.cc
  starboard/shared/starboard/player/player_internal.cc
  starboard/shared/starboard/player/player_worker.cc
Due: clang-format

android: Add starboard experiment to Opus codec (#6859)
  starboard/android/shared/player_components_factory.cc
  starboard/extension/feature_config.h
Due: clang-format

android: Move SbAudioSink Init to CobaltActivity (#6848)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/application_android.cc
  starboard/android/shared/starboard_bridge.cc
Due: clang-format, google-java-format, gcheckstyle

cobalt/shell: Remove unused content_test_mojo_bindings (#6755)
  cobalt/shell/BUILD.gn
  cobalt/shell/renderer/shell_content_renderer_client.cc
Due: clang-format, gn-format

Use environmental variables for on-host sharding (#6857)
  .github/actions/on_host_tests/action.yaml
  cobalt/testing/filters/linux-x64x11/blink_platform_unittests_filter.json
  cobalt/testing/filters/linux-x64x11/blink_unittests_filter.json
  cobalt/testing/filters/linux-x64x11/net_unittests_filter.json
  cobalt/testing/filters/linux-x64x11/nplb_filter.json
Due: none

media: Create AndroidOverlayConfig and RequestOverlayInfo (#6582)
  media/base/android/BUILD.gn
  media/mojo/services/gpu_mojo_media_client.cc
  media/mojo/services/gpu_mojo_media_client.h
  media/starboard/BUILD.gn
  media/starboard/starboard_renderer.cc
  media/starboard/starboard_renderer.h
Due: clang-format, gn-format

Reland "[POSIX] Remove all syscalls" (#6873)
  components/crash/core/app/BUILD.gn
  components/crash/core/app/crashpad_starboard.cc
Due: none

media: Fix missing conditions in MojoDecoderBuffer{Reader/Writer}
  media/mojo/common/mojo_decoder_buffer_converter.cc
Due: none

Gate browser test logic in non-official builds (#6851)
  cobalt/shell/BUILD.gn
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell_browser_context.cc
  cobalt/shell/browser/shell_content_browser_client.cc
Due: clang-format, gn-format

refactor: Replace starboard::ConditionVariable in MinRequiredFramesTest (#6775)
  starboard/android/shared/audio_sink_min_required_frames_tester.cc
  starboard/android/shared/audio_sink_min_required_frames_tester.h
Due: clang-format

refactor: Replace starboard::ConditionVariable in OpenMaxComponentBase (#6774)
  starboard/raspi/shared/open_max/open_max_component_base.cc
  starboard/raspi/shared/open_max/open_max_component_base.h
Due: clang-format

refactor: Replace starboard::ConditionVariable in AudioSinkTestEnvironment (#6878)
  starboard/nplb/audio_sink_helpers.cc
  starboard/nplb/audio_sink_helpers.h
Due: clang-format

refactor: replace starboard::ConditionVariable in MediaDecoder (#6882)
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
Due: clang-format

refactor: Remove starboard::Mutex and starboard::ConditionVariable (#6894)
  base/logging.cc
  chrome/services/sharing/nearby/platform/BUILD.gn
  cobalt/third_party/boringssl/src/include/openssl/thread.h
  starboard/android/shared/application_android.cc
  starboard/android/shared/media_common.h
  starboard/android/shared/media_decoder.h
  starboard/common/BUILD.gn
  starboard/common/condition_variable.cc
  starboard/common/condition_variable.h
  starboard/common/mutex.cc
  starboard/common/mutex.h
  starboard/common/queue.h
  starboard/common/thread.cc
  starboard/shared/ffmpeg/ffmpeg_dispatch.h
  starboard/shared/linux/system_get_random_data.cc
  starboard/shared/pulse/pulse_audio_sink_type.cc
  starboard/shared/starboard/application.cc
  starboard/shared/starboard/application.h
  starboard/shared/starboard/player/filter/audio_frame_tracker.cc
  starboard/shared/starboard/player/filter/testing/video_decoder_test.cc
  starboard/shared/starboard/player/filter/testing/video_decoder_test_fixture.cc
  starboard/shared/starboard/player/filter/testing/video_decoder_test_fixture.h
  starboard/shared/starboard/queue_application.cc
  starboard/shared/starboard/queue_application.h
  starboard/shared/widevine/drm_system_widevine.cc
  starboard/shared/widevine/drm_system_widevine.h
  third_party/googletest/src/googletest/include/gtest/internal/gtest-port.h
  ui/ozone/platform/starboard/test/starboard_test_helper.h
  v8/src/base/platform/platform-starboard.cc
Due: clang-format, gn-format

cobalt/testing: Re-Enable SessionHistoryTest (#6884)
  cobalt/testing/browser_tests/session_history_browsertest.cc
Due: clang-format

cobalt/testing: Re-Enable SitePerProcessBrowserTest (#6895)
  cobalt/testing/browser_tests/site_per_process_browsertest.cc
Due: clang-format

Add a linearization workflow to automate linearization for rebase efforts. (#6900)
  .github/workflows/linearize_main.yaml
Due: none
