Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, run-py2-tests, internal-file-check, gn-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((^cobalt/bindings/(templates|generated)/|tests?.(cc|h)$)) and not (^(base|build|testing|third_party|tools/gyp)/)
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^(base|build|testing|third_party|tools/gyp)/)
  yapf: any of: \.py$ and not (\.gypi?$) and not (^(base|build|testing|third_party|tools/gyp)/)
  pylint: any of: \.py$ and not (\.gypi?$) and not (^(base|build|testing|third_party|tools/gyp)/)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(base|build|testing|third_party|tools/gyp)/
  google-java-format: any of: \.java$, but not: ^(base|build|testing|third_party|tools/gyp)/
  gcheckstyle: any of: \.java$, but not: ^(base|build|testing|third_party|tools/gyp)/
  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not (^cobalt/layout_tests/testdata/) and not (^(base|build|testing|third_party|tools/gyp)/)
  check-if-starboard-interface-changed: any of: ^starboard/*.h$, but not: ^(base|build|testing|third_party|tools/gyp)/
  test-python3-compatibility: any of: \.py$, but not: ^(base|build|testing|third_party|tools/gyp)/
  run-py2-tests: any of: \.py$, but not: ^(base|build|testing|third_party|tools/gyp)/
  internal-file-check: any of: not (EXCLUDE\.FILES(\.RECURSIVE)?$), but not: ^(base|build|testing|third_party|tools/gyp)/
  gn-format: any of: .*\.gni?$, but not: ^(base|build|testing|third_party|tools/gyp)/

Revert "Revert "Fix heap use after free when shutting down during fetch intercept.""
  cobalt/loader/fetch_interceptor_coordinator.cc
  cobalt/loader/fetch_interceptor_coordinator.h
  cobalt/loader/net_fetcher.cc
  cobalt/loader/net_fetcher.h
  cobalt/worker/fetch_event.cc
  cobalt/worker/fetch_event.h
  cobalt/worker/service_worker_global_scope.cc
  cobalt/worker/service_worker_global_scope.h
  cobalt/xhr/xml_http_request.cc
  cobalt/xhr/xml_http_request.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Extend lifetime of promises and ExtendableEvent until promises have all resolved.
  cobalt/worker/extendable_event.cc
  cobalt/worker/extendable_event.h
  cobalt/worker/extendable_event.idl
  cobalt/worker/extendable_message_event.cc
  cobalt/worker/extendable_message_event.h
  cobalt/worker/extendable_message_event.idl
  cobalt/worker/fetch_event.cc
  cobalt/worker/service_worker_jobs.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Revert "[android] Fix SbPlayerTest.MultiPlayer failures"
  starboard/android/shared/player_create.cc
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
  starboard/shared/starboard/player/player_internal.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Add a SetupFinished to explicitly signal when a web::Context is ready.
  cobalt/audio/audio_node_input_output_test.cc
  cobalt/browser/web_module.cc
  cobalt/dom/navigator_licenses_test.cc
  cobalt/dom/testing/stub_window.h
  cobalt/web/agent.cc
  cobalt/web/context.h
  cobalt/web/testing/stub_web_context.h
  cobalt/websocket/web_socket_impl_test.cc
  cobalt/worker/service_worker_object.cc
  cobalt/worker/testing/test_with_javascript.h
  cobalt/worker/worker.cc
Due: cpplint, cpplint_test, clang-format, check-copyright-year, internal-file-check

Revert "Extend lifetime of promises and ExtendableEvent until promises have all resolved."
  cobalt/worker/extendable_event.cc
  cobalt/worker/extendable_event.h
  cobalt/worker/extendable_event.idl
  cobalt/worker/extendable_message_event.cc
  cobalt/worker/extendable_message_event.h
  cobalt/worker/extendable_message_event.idl
  cobalt/worker/fetch_event.cc
  cobalt/worker/service_worker_jobs.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Revert "Revert "Revert "Fix heap use after free when shutting down during fetch intercept."""
  cobalt/loader/fetch_interceptor_coordinator.cc
  cobalt/loader/fetch_interceptor_coordinator.h
  cobalt/loader/net_fetcher.cc
  cobalt/loader/net_fetcher.h
  cobalt/worker/fetch_event.cc
  cobalt/worker/fetch_event.h
  cobalt/worker/service_worker_global_scope.cc
  cobalt/worker/service_worker_global_scope.h
  cobalt/xhr/xml_http_request.cc
  cobalt/xhr/xml_http_request.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Revert "Revert "Revert "Revert "Fix heap use after free when shutting down during fetch intercept.""""
  cobalt/loader/fetch_interceptor_coordinator.cc
  cobalt/loader/fetch_interceptor_coordinator.h
  cobalt/loader/net_fetcher.cc
  cobalt/loader/net_fetcher.h
  cobalt/worker/fetch_event.cc
  cobalt/worker/fetch_event.h
  cobalt/worker/service_worker_global_scope.cc
  cobalt/worker/service_worker_global_scope.h
  cobalt/xhr/xml_http_request.cc
  cobalt/xhr/xml_http_request.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Revert "Revert "Extend lifetime of promises and ExtendableEvent until promises have all resolved.""
  cobalt/worker/extendable_event.cc
  cobalt/worker/extendable_event.h
  cobalt/worker/extendable_event.idl
  cobalt/worker/extendable_message_event.cc
  cobalt/worker/extendable_message_event.h
  cobalt/worker/extendable_message_event.idl
  cobalt/worker/fetch_event.cc
  cobalt/worker/service_worker_jobs.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Fix ExtendableMessageEventTest.
  cobalt/worker/extendable_message_event_test.cc
  cobalt/worker/testing/test_with_javascript.h
Due: cpplint, cpplint_test, clang-format, check-copyright-year, internal-file-check

Update SSL certs.
  cobalt/content/ssl/certs/5273a94c.0
  cobalt/network/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Fix memory leak in scroll engine
  cobalt/ui_navigation/scroll_engine/scroll_engine.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Don't listen to new scroll requests during active scroll
  cobalt/ui_navigation/scroll_engine/scroll_engine.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Cancel free scroll when it is manually set
  cobalt/browser/web_module.cc
  cobalt/dom/html_element.cc
  cobalt/dom/testing/stub_window.h
  cobalt/dom/window.cc
  cobalt/dom/window.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

H5vccStorage ClearCache Fix
  cobalt/black_box_tests/testdata/service_worker_cache_keys_test.html
  cobalt/black_box_tests/testdata/service_worker_controller_activation_test_script.js
  cobalt/black_box_tests/testdata/service_worker_csp_test.html
  cobalt/black_box_tests/testdata/service_worker_fetch_test.html
  cobalt/black_box_tests/testdata/service_worker_get_registrations_test.html
  cobalt/black_box_tests/testdata/service_worker_message_test.html
  cobalt/black_box_tests/testdata/service_worker_persist_test_script.js
  cobalt/black_box_tests/testdata/service_worker_test_script.js
  cobalt/cache/cache.cc
  cobalt/h5vcc/BUILD.gn
  cobalt/h5vcc/h5vcc_storage.cc
  cobalt/h5vcc/h5vcc_storage.h
  cobalt/h5vcc/h5vcc_storage.idl
  cobalt/worker/service_worker_consts.cc
  cobalt/worker/service_worker_consts.h
  cobalt/worker/service_worker_persistent_settings.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check, gn-format

Run persisted ServiceWorker
  cobalt/black_box_tests/testdata/service_worker_test_persisted_worker.js
  cobalt/browser/browser_module.cc
  cobalt/browser/service_worker_registry.cc
  cobalt/browser/service_worker_registry.h
  cobalt/layout_tests/web_platform_tests.cc
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
  cobalt/worker/service_worker_persistent_settings.cc
  cobalt/worker/service_worker_persistent_settings.h
  cobalt/worker/service_worker_registration_object.cc
  cobalt/worker/service_worker_registration_object.h
Due: cpplint, cpplint_test, clang-format, check-copyright-year, internal-file-check

Remove the sb_evergreen_compatible_enable_lite flag.
  starboard/android/shared/BUILD.gn
  starboard/build/config/BUILD.gn
  starboard/build/config/base_configuration.gni
  starboard/build/config/build_assertions.gni
  starboard/build/doc/migration_changes.md
  starboard/linux/shared/BUILD.gn
  starboard/loader_app/BUILD.gn
  starboard/nplb/nplb_evergreen_compat_tests/BUILD.gn
  starboard/raspi/shared/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Remove the icu_test from nplb_evergreen_compat_tests.
  starboard/nplb/nplb_evergreen_compat_tests/BUILD.gn
  starboard/nplb/nplb_evergreen_compat_tests/icu_test.cc
Due: cpplint_test, clang-format, check-copyright-year, internal-file-check, gn-format

[BG] Avoid player creation of audioless content in background mode
  cobalt/media/base/sbplayer_pipeline.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

[android] Fix SbPlayerTest.MultiPlayer failures
  starboard/android/shared/player_create.cc
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
  starboard/shared/starboard/player/player_internal.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Revert "Revert "Rewrite cache.match() to carefully manage the traced references.""
  cobalt/web/cache.cc
  cobalt/web/cache_utils.cc
  cobalt/web/cache_utils.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Clarify the decode_target.h and image.h documentation.
  starboard/decode_target.h
  starboard/image.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Added NULL test and clarifications for the SbSocket APIs.
  starboard/nplb/socket_accept_test.cc
  starboard/nplb/socket_set_options_test.cc
  starboard/socket.h
Due: cpplint, cpplint_test, clang-format, check-copyright-year, internal-file-check

Add a check for improper use of SbMemoryReallocate().
  starboard/shared/starboard/memory.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Combine anonymous namespaces in topmost_event_target
  cobalt/layout/topmost_event_target.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Emit pointercancel and related events to correct elements
  cobalt/layout/topmost_event_target.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Add null tests to the SbMutexAcquire,SbMutexAcquireTry and SbMutexRelease.
  starboard/nplb/mutex_acquire_test.cc
  starboard/nplb/mutex_acquire_try_test.cc
  starboard/shared/win32/mutex_acquire.cc
  starboard/shared/win32/mutex_acquire_try.cc
  starboard/shared/win32/mutex_release.cc
Due: cpplint, cpplint_test, clang-format, check-copyright-year, internal-file-check

Add early null checks for SbSpeechSynthesisSpeak implementations.
  starboard/android/shared/speech_synthesis_speak.cc
  starboard/shared/speechd/speech_synthesis_speak.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Fix SbSpeechSynthesisBasicTest_RainyDayNull crash.
  starboard/android/shared/jni_env_ext.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Revert "Unblock Android command processing just before handling Conceal"
  starboard/android/shared/application_android.cc
  starboard/android/shared/application_android.h
  starboard/shared/starboard/application.cc
  starboard/shared/starboard/application.h
  starboard/shared/starboard/queue_application.cc
  starboard/shared/starboard/queue_application.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Service worker: soft update on handle fetch.
  cobalt/dom/html_script_element.cc
  cobalt/dom/window.cc
  cobalt/loader/fetch_interceptor_coordinator.cc
  cobalt/loader/fetch_interceptor_coordinator.h
  cobalt/loader/fetcher_factory.cc
  cobalt/loader/fetcher_factory.h
  cobalt/loader/fetcher_factory_test.cc
  cobalt/loader/net_fetcher.cc
  cobalt/loader/net_fetcher.h
  cobalt/loader/script_loader_factory.cc
  cobalt/speech/sandbox/audio_loader.cc
  cobalt/test/document_loader.h
  cobalt/worker/service_worker_global_scope.cc
  cobalt/worker/service_worker_global_scope.h
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
  cobalt/worker/service_worker_registration_object.h
  cobalt/xhr/xml_http_request.cc
Due: cpplint, cpplint_test, clang-format, check-copyright-year, internal-file-check

Add darwin license file.
  cobalt/content/licenses/platform/android/licenses_cobalt.txt
  cobalt/content/licenses/platform/darwin/licenses_cobalt.txt
  cobalt/content/licenses/platform/evergreen/licenses_cobalt.txt
Due: check-copyright-year, internal-file-check

Add METADATA for dav1d_ps4
  third_party/dav1d_ps4/dav1d/METADATA
Due: none

[media] Optimize Opus audio decoder for batch sample writing
  starboard/shared/opus/opus_audio_decoder.cc
  starboard/shared/opus/opus_audio_decoder.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Service Worker: Cache API: do not cache responses with status not ok.
  cobalt/black_box_tests/black_box_tests.py
  cobalt/black_box_tests/testdata/service_worker_add_to_cache_test.html
  cobalt/black_box_tests/testdata/service_worker_add_to_cache_test.js
  cobalt/black_box_tests/tests/service_worker_add_to_cache_test.py
  cobalt/web/cache.cc
Due: cpplint, yapf, pylint, clang-format, check-copyright-year, test-python3-compatibility, run-py2-tests, internal-file-check

Add cert_scope to CrashpadAnnotations proto
  third_party/crashpad/wrapper/proto/crashpad_annotations.proto
Due: none

Update filters for changed test names
  starboard/win/win32/test_filters.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, run-py2-tests, internal-file-check

Use manifest to support --evergreen_lite flag
  starboard/android/apk/app/src/app/AndroidManifest.xml
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: google-java-format, gcheckstyle, check-copyright-year, internal-file-check

Set cert_scope annotation for Crashpad
  third_party/crashpad/wrapper/wrapper.cc
  third_party/crashpad/wrapper/wrapper.h
  third_party/crashpad/wrapper/wrapper_stub.cc
Due: none

Fix ordering of interpreted pointer events
  cobalt/ui_navigation/scroll_engine/scroll_engine.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check
