Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==17.0.1

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

Enable more now passing tests
  cobalt/common/libc/time/icu_time_support.cc
  cobalt/testing/filters/evergreen-x64/base_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/base_unittests_loader_filter.json
Due: clang-format

Move starboard lib
  starboard/build/config/starboard_target_type.gni
Due: gn-format

Fix: Align non-public, non-static field names to Chromium style
  cobalt/android/apk/app/src/test/java/dev/cobalt/util/HolderTest.java
Due: google-java-format, gcheckstyle

Remove unused egl_swap_buffers.cc and related code (#6984)
  starboard/linux/shared/platform_configuration/BUILD.gn
  starboard/linux/x64x11/clang/3.9/BUILD.gn
  starboard/linux/x64x11/clang/3.9/platform_configuration/BUILD.gn
  starboard/linux/x64x11/gcc/6.3/BUILD.gn
  starboard/linux/x64x11/gcc/6.3/platform_configuration/BUILD.gn
  starboard/linux/x64x11/shared/BUILD.gn
  starboard/shared/x11/application_x11.cc
  starboard/shared/x11/application_x11.h
  starboard/shared/x11/egl_swap_buffers.cc
Due: clang-format, gn-format

Linearization refresh on 2025-08-25.
  linear_main_commit_mapping.json
Due: none

Fix incorrect BUILDFLAG logic for DCHECKs
  components/viz/host/host_gpu_memory_buffer_manager.cc
  gpu/command_buffer/client/gpu_memory_buffer_manager.cc
Due: none

cobalt/testig: Fix missing symbol for cobalt_browsertests
  cobalt/browser/switches.h
  cobalt/testing/browser_tests/BUILD.gn
Due: clang-format, gn-format

More 132 commits
  m126_to_m132_conflicts/3a76d1e/conflict/content/browser/BUILD.gn
  m126_to_m132_conflicts/3a76d1e/patch/BUILD.patch
  m126_to_m132_conflicts/3a76d1e/resolved/content/browser/BUILD.gn
  m126_to_m132_conflicts/7a689b6/conflict/third_party/blink/renderer/bindings/idl_in_modules.gni
  m126_to_m132_conflicts/7a689b6/patch/idl_in_modules.patch
  m126_to_m132_conflicts/7a689b6/resolved/third_party/blink/renderer/bindings/idl_in_modules.gni
  m126_to_m132_conflicts/8b317b2/conflict/media/base/decoder_buffer.h
  m126_to_m132_conflicts/8b317b2/patch/decoder_buffer.patch
  m126_to_m132_conflicts/8b317b2/resolved/media/base/decoder_buffer.h
Due: none

Add commits_m132.json
  commits_m132.json
Due: none

Remove eztime and eztime Starboardizations. (#5847)
  base/BUILD.gn
  base/logging.cc
  base/third_party/nspr/prtime.cc
  base/time/pr_time_unittest.cc
  base/time/time_unittest.cc
  cobalt/BUILD.gn
  cobalt/common/eztime/BUILD.gn
  cobalt/common/eztime/eztime.cc
  cobalt/common/eztime/eztime.h
  cobalt/common/eztime/eztime_test.cc
  cobalt/common/eztime/test_constants.h
  cobalt/common/libc/time/icu_time_support.cc
  cobalt/testing/filters/evergreen-x64/base_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/base_unittests_loader_filter.json
  starboard/elf_loader/exported_symbols.cc
  starboard/shared/modular/cobalt_layer_posix_time_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_time_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_time_abi_wrappers.h
  third_party/googletest/src/googletest/src/gtest.cc
  third_party/musl/BUILD.gn
Due: clang-format, gn-format

Fix: Align non-public, non-static field names to Chromium style (#6908)
  cobalt/android/apk/app/src/test/java/dev/cobalt/util/HolderTest.java
Due: google-java-format, gcheckstyle

Bring 25.lts.1+ base customizations to trunk (#4800)
  base/BUILD.gn
  base/functional/unretained_traits.h
  base/i18n/break_iterator_unittest.cc
  base/immediate_crash.h
  base/logging.cc
  base/task/thread_pool/thread_pool_instance.cc
  base/test/BUILD.gn
  base/third_party/nspr/prtime.cc
  base/threading/post_task_and_reply_impl.cc
  base/time/pr_time_unittest.cc
  base/time/time.h
  base/time/time_now_starboard.cc
  base/time/time_starboard.cc
  base/time/time_unittest.cc
  base/trace_event/malloc_dump_provider.cc
  build/toolchain/linux/BUILD.gn
  cobalt/testing/filters/linux-x64x11/base_unittests_filter.json
  starboard/BUILD.gn
Due: gn-format

Re-enable OSSF scorecard upload (#4803)
  .github/workflows/scorecards.yaml
Due: none

[android] Fix sdk_utils.py path (#4702)
  cobalt/android/apk/app/build.gradle
Due: none

cobalt/browser: trivially extend ShellBrowserMainParts logic (#4808)
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
Due: clang-format

Add build_info.json to archives
  cobalt/build/android/package.py
  cobalt/build/linux/package.py
Due: yapf, pylint, python3-compatibility-check

Fix test result job failing if tests were not run (#4814)
  .github/workflows/main.yaml
Due: none

Point startup url to tv/splash (#4793)
  cobalt/android/apk/app/src/app/AndroidManifest.xml.jinja2
Due: none

Use the Starboard message pump. (#4772)
  base/BUILD.gn
  base/message_loop/message_pump_for_ui.h
  base/message_loop/message_pump_ui_starboard.cc
  base/message_loop/message_pump_ui_starboard.h
  base/run_loop.h
  base/task/current_thread.cc
  base/task/current_thread.h
  base/task/sequence_manager/sequence_manager_impl.cc
  base/task/sequence_manager/thread_controller.h
  base/task/sequence_manager/thread_controller_impl.cc
  base/task/sequence_manager/thread_controller_impl.h
  base/task/sequence_manager/thread_controller_with_message_pump_impl.cc
  base/task/sequence_manager/thread_controller_with_message_pump_impl.h
  base/test/BUILD.gn
  base/test/test_suite.cc
  base/test/test_support_starboard.cc
  base/test/test_support_starboard.h
  base/threading/thread_restrictions.h
  build/config/ozone.gni
  cobalt/BUILD.gn
  cobalt/build/configs/linux-x64x11/args.gn
  cobalt/cobalt.cc
  cobalt/cobalt_main_delegate.cc
  cobalt/cobalt_main_delegate.h
  cobalt/platform_event_source_starboard.cc
  cobalt/platform_event_source_starboard.h
  content/app/content_main.cc
  content/app/content_main_runner_impl.cc
  content/shell/app/shell_main_delegate.cc
  content/shell/browser/shell.cc
  content/zygote/zygote_main_linux.cc
  device/BUILD.gn
  ui/ozone/platform/starboard/BUILD.gn
  ui/ozone/platform/starboard/ozone_platform_starboard.cc
Due: clang-format, gn-format

posix: Implement sendmsg in Starboard API (#6554)
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_socket_sendmsg_test.cc
  starboard/shared/modular/cobalt_layer_posix_socket_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_socket_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_socket_abi_wrappers.h
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/api_leak_detector/evergreen/manifest
Due: clang-format, yapf, pylint, python3-compatibility-check, gn-format

Android: Remove Log.isDebug()
  base/android/java/src/org/chromium/base/Log.java
Due: none

Android: Fix VERBOSE and DEBUG logs not appearing in debug builds
  base/android/java/src/org/chromium/base/Log.java
  build/android/java/templates/BuildConfig.template
  build/config/android/rules.gni
Due: none

Add limitAdTracking attribute under H5vccSystem (#4813)
  third_party/blink/renderer/modules/cobalt/h5vcc_system/h_5_vcc_system.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_system/h_5_vcc_system.h
  third_party/blink/renderer/modules/cobalt/h5vcc_system/h_5_vcc_system.idl
  third_party/blink/web_tests/external/wpt/cobalt/h5vcc-system/h5vcc-system.https.sub.html
Due: none

Use default symbol_level (#4686)
  cobalt/build/gn.py
Due: yapf, pylint, python3-compatibility-check

Add H5vccRuntime WEB IDL, set it as window.h5vcc.runtime (#4817)
  third_party/blink/renderer/bindings/generated_in_modules.gni
  third_party/blink/renderer/bindings/idl_in_modules.gni
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/h_5_vcc_runtime.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/h_5_vcc_runtime.h
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/h_5_vcc_runtime.idl
  third_party/blink/renderer/modules/cobalt/h_5_vcc.cc
  third_party/blink/renderer/modules/cobalt/h_5_vcc.h
  third_party/blink/web_tests/external/wpt/cobalt/h5vcc-runtime/h5vcc-runtime.https.sub.html
  third_party/blink/web_tests/external/wpt/cobalt/h5vcc-system/h5vcc-system.https.sub.html
Due: none

Clean CobaltContentRendererClient and remove unused functions/overrides (#4718)
  cobalt/renderer/cobalt_content_renderer_client.cc
  cobalt/renderer/cobalt_content_renderer_client.h
Due: clang-format

Run nplb on CI (#4799)
  cobalt/build/testing/targets/linux-x64x11/test_targets.json
Due: none

Remove sccache references (#4805)
  .github/workflows/main.yaml
  cobalt/build/gn.py
  cobalt/devinfra/kokoro/bin/common.sh
  cobalt/devinfra/kokoro/build/android/arm/common.gcl
  cobalt/devinfra/kokoro/build/android/arm64/common.gcl
  cobalt/devinfra/kokoro/build/android/x86/common.gcl
  cobalt/devinfra/kokoro/build/common.gcl
  cobalt/devinfra/kokoro/build/evergreen/arm-hardfp/common.gcl
  cobalt/devinfra/kokoro/build/evergreen/arm-softfp/common.gcl
  cobalt/devinfra/kokoro/build/evergreen/arm64/common.gcl
  cobalt/devinfra/kokoro/build/evergreen/x64/common.gcl
  cobalt/devinfra/kokoro/build/linux/internal/common.gcl
  cobalt/devinfra/kokoro/docker-compose.yaml
  starboard/tools/cache.py
Due: yapf, pylint, python3-compatibility-check

Cleanup SB Message pump customizations. (#4825)
  base/test/test_support_starboard.cc
  base/test/test_support_starboard.h
  build/config/ozone.gni
  cobalt/build/configs/linux-x64x11/args.gn
  ui/ozone/platform/starboard/BUILD.gn
Due: gn-format

Turn on _DISABLE_DEBUG_LOGS to avoid Java debug logs (#4818)
  build/config/android/rules.gni
Due: none

Add most build artifacts to Android archive
  cobalt/build/android/package.py
Due: yapf, pylint, python3-compatibility-check

Fix ODT dimensions (#4829)
  .github/actions/on_device_tests/action.yaml
  .github/config/android-arm.json
  .github/workflows/main.yaml
  cobalt/tools/on_device_tests_gateway_client.py
Due: yapf, pylint, python3-compatibility-check

Rename archives and base dirs to <platform_config>
  cobalt/devinfra/kokoro/bin/common.sh
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  yapf: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  pylint: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  python3-compatibility-check: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  google-java-format: any of: \.java$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java
)
) and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  gn-format: any of: .*\.gni?$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

