Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, internal-file-check, gn-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^internal/starboard/shared/uikit/.*\.h$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  yapf: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  pylint: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  google-java-format: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gcheckstyle: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not ((?x)^(
    .pre-commit-config.yaml$|
    cobalt/media/|
    cobalt/layout_tests/testdata/|
    nb/|
    starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.cc$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.h$|
    starboard/shared/starboard/player/filter/wsola_internal.cc$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  check-if-starboard-interface-changed: any of: ^starboard/[^/]+\.h$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  test-python3-compatibility: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  internal-file-check: any of: not ((^docker-compose-windows(-internal)?.yml|EXCLUDE\.FILES(\.RECURSIVE)?|codereview\.settings)$), but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gn-format: any of: .*\.gni?$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)


Publish DEPS for 74.0.3729.169
  LICENSE
  README
  README.chromium
  __init__.py
  lex.py
  license.patch
  yacc.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Publish DEPS for 87.0.4280.142
  BUILD.gn
  DEPS
  LICENSE
  OWNERS
  README.chromium
  modp_b64.cc
  modp_b64.h
  modp_b64_data.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Publish DEPS for 108.0.5359.243
  AUTHORS
  DIR_METADATA
  LICENSE
  MarkupSafe-0.18.tar.gz.md5
  MarkupSafe-0.18.tar.gz.sha512
  OWNERS
  README.chromium
  __init__.py
  _compat.py
  _constants.py
  _native.py
  _speedups.c
  get_markupsafe.sh
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Enable platform-specific sources to compile loader
  starboard/build/config/BUILDCONFIG.gn
Due: check-copyright-year, internal-file-check, gn-format

Fix broken diff by undoing changes
  starboard/build/config/BUILDCONFIG.gn
Due: check-copyright-year, internal-file-check, gn-format

Fix broken diff by redoing changes
  starboard/build/config/BUILDCONFIG.gn
Due: check-copyright-year, internal-file-check, gn-format

fix by undoing
  starboard/build/config/BUILDCONFIG.gn
Due: check-copyright-year, internal-file-check, gn-format

redo change to fix diff
  starboard/build/config/BUILDCONFIG.gn
Due: check-copyright-year, internal-file-check, gn-format

Add platform RDK to launcher framework (#1547)
  starboard/build/platform_configuration.py
  starboard/build/platforms.py
  starboard/evergreen/shared/launcher.py
  starboard/raspi/shared/retry_test.py
  starboard/rdk/gyp_configuration.py
  starboard/rdk/launcher.py
  starboard/rdk/test_filters.py
  starboard/shared/retry.py
  starboard/tools/testing/test_runner.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Add missing cstdint includes (#1643)
  third_party/angle/include/GLSLANG/ShaderVars.h
  third_party/angle/src/common/angleutils.h
  third_party/crashpad/util/misc/reinterpret_bytes.cc
  third_party/v8/src/base/logging.h
  third_party/v8/src/base/macros.h
  third_party/v8/src/inspector/v8-string-conversions.h
Due: none

Add missing cstdint includes (#1643)
  third_party/angle/include/GLSLANG/ShaderVars.h
  third_party/angle/src/common/angleutils.h
  third_party/crashpad/util/misc/reinterpret_bytes.cc
  v8/src/base/logging.h
  v8/src/base/macros.h
  v8/src/inspector/v8-string-conversions.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Add missing cstdint includes (#1643)
  third_party/angle/include/GLSLANG/ShaderVars.h
  third_party/angle/src/common/angleutils.h
  third_party/crashpad/util/misc/reinterpret_bytes.cc
  third_party/v8/src/inspector/v8-string-conversions.h
  v8/src/base/logging.h
  v8/src/base/macros.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Cherry pick PR #1643: Add missing cstdint includes (#1653)
  third_party/angle/include/GLSLANG/ShaderVars.h
  third_party/angle/src/common/angleutils.h
  third_party/crashpad/util/misc/reinterpret_bytes.cc
  third_party/v8/src/base/logging.h
  third_party/v8/src/base/macros.h
  third_party/v8/src/inspector/v8-string-conversions.h
Due: none

Cherry pick PR #1643: Add missing cstdint includes (#1654)
  third_party/angle/include/GLSLANG/ShaderVars.h
  third_party/angle/src/common/angleutils.h
  third_party/crashpad/util/misc/reinterpret_bytes.cc
  third_party/v8/src/base/logging.h
  third_party/v8/src/base/macros.h
  third_party/v8/src/inspector/v8-string-conversions.h
Due: none

Cherry pick PR #1643: Add missing cstdint includes (#1657)
  third_party/angle/include/GLSLANG/ShaderVars.h
  third_party/angle/src/common/angleutils.h
  third_party/crashpad/util/misc/reinterpret_bytes.cc
  third_party/v8/src/base/logging.h
  third_party/v8/src/base/macros.h
  third_party/v8/src/inspector/v8-string-conversions.h
Due: none

Cherry pick PR #1643: Add missing cstdint includes (#1656)
  third_party/angle/include/GLSLANG/ShaderVars.h
  third_party/angle/src/common/angleutils.h
  third_party/crashpad/util/misc/reinterpret_bytes.cc
  v8/src/base/logging.h
  v8/src/base/macros.h
  v8/src/inspector/v8-string-conversions.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Create ScreenShotWriter thread only when necessary.
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/webdriver/testdata/simple_test.py
Due: clang-format, cpplint, yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Enable platform-specific sources to compile loader (#1652)
  starboard/build/config/BUILDCONFIG.gn
Due: check-copyright-year, internal-file-check, gn-format

Remove unused files (#924)
  components/metrics/BUILD.gn
  components/variations/BUILD.gn
Due: none

Cherry pick PR #924: Remove unused files (#1024)
  components/metrics/BUILD.gn
  components/variations/BUILD.gn
Due: none

Cleanup video_stream_ after demuxer_ stops
  cobalt/media/base/sbplayer_pipeline.cc
Due: clang-format, cpplint, internal-file-check

Remove repeated arguments from clang toolchain (#1267)
  starboard/build/toolchain/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Cherry pick PR #1613: [Watchdog] Increase max ping count and length. (#1635)
  cobalt/watchdog/watchdog.cc
  cobalt/watchdog/watchdog_test.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Support Cobalt modular toolchain defintion for NX (#1522)
  starboard/build/toolchain/cobalt_toolchains.gni
Due: check-copyright-year, internal-file-check, gn-format

Cherry pick PR #1267: Remove repeated arguments from clang toolchain (#1667)
  starboard/build/toolchain/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Cleanup video_stream_ & audio_stream_ after demuxer_ stops (#1651)
  cobalt/media/base/sbplayer_pipeline.cc
Due: clang-format, cpplint, internal-file-check

[UWP] Remove potentially problematic logging line
  starboard/common/metrics/stats_tracker.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Increase the timeout for XB1 Net Args service (#1634)
  starboard/shared/uwp/application_uwp.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Modify pythonpath GN check to compare full paths (#1556)
  lbshell/build/package_application.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Fix invoking gn.py within Docker containers (#1562)
  lbshell/build/package_application.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Cherry pick PR #1522: Support Cobalt modular toolchain defintion for NX (#1668)
  starboard/build/toolchain/cobalt_toolchains.gni
Due: check-copyright-year, internal-file-check, gn-format

Add check for starboard python module (#1536)
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/is_on_path.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check, gn-format

Create MUSL specific-rename of finalize and atexit (#1588)
  third_party/musl/src/exit/atexit.c
Due: none

Cherry pick PR #1652: Enable platform-specific sources to compile loader (#1671)
  starboard/build/config/BUILDCONFIG.gn
Due: check-copyright-year, internal-file-check, gn-format

Cherry pick PR #1634: Increase the timeout for XB1 Net Args service (#1670)
  starboard/shared/uwp/application_uwp.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check
