Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, yapf, pylint, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, gn-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^starboard/shared/uikit/.*\.h$
)
) and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  yapf: any of: \.py$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  pylint: any of: \.py$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  google-java-format: any of: \.java$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  gcheckstyle: any of: \.java$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not ((?x)^(
    .pylintrc$|
    .pre-commit-config.yaml$|
    cobalt/base/unicode/|
    cobalt/demos/content/|
    cobalt/layout_tests/testdata/|
    cobalt/math/|
    cobalt/media/|
    cobalt/streams/|
    cobalt/webdriver/screencast/|
    cobalt/websocket/|
    components/crx_file/|
    content/|
    internal/starboard/shared/glimp/|
    starboard/contrib/RDK/|
    nb/|
    starboard/content/fonts/LICENSES.txt |
    starboard/android/apk/gradlew|
    starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.cc$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.h$|
    starboard/shared/starboard/player/testdata/licences/|
    starboard/shared/starboard/player/filter/wsola_internal.cc$
)
) and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  check-if-starboard-interface-changed: any of: ^starboard/[^/]+\.h$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  test-python3-compatibility: any of: \.py$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)

Remove some unused functions in //starboard/ (#6142)
  starboard/common/socket.h
  starboard/nplb/posix_compliance/posix_socket_helpers.cc
  starboard/nplb/posix_compliance/posix_socket_helpers.h
  starboard/shared/alsa/alsa_util.h
  starboard/shared/input/key_charcode_conversion_internal.cc
  starboard/shared/input/key_charcode_conversion_internal.h
Due: cpplint, check-copyright-year

Delete starboard/common/socket.h
  starboard/common/socket.h
Due: cpplint, check-copyright-year

Add the __sched_cpucount() from musl (#6493)
  starboard/tools/api_leak_detector/evergreen/manifest
  third_party/musl/BUILD.gn
Due: check-copyright-year

posix: Fix flaky PosixSysStatvfsTest.UsageChanges test
  cobalt/testing/filters/evergreen-x64/nplb_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/nplb_loader_filter.json
  cobalt/testing/filters/linux-x64x11/nplb_filter.json
  starboard/nplb/posix_compliance/posix_sys_statvfs_test.cc
Due: cpplint, check-copyright-year

Cherry pick PR #6143: Enable safe mode for experiments. (#6464)
  cobalt/BUILD.gn
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/constants/cobalt_experiment_names.h
  cobalt/browser/experiments/experiment_config_manager.cc
  cobalt/browser/experiments/experiment_config_manager.h
  cobalt/browser/experiments/experiment_config_manager_unittest.cc
  cobalt/browser/global_features.cc
  cobalt/browser/global_features.h
  cobalt/browser/global_features_unittest.cc
  cobalt/browser/h5vcc_experiments/BUILD.gn
  cobalt/browser/h5vcc_experiments/h5vcc_experiments_impl.cc
Due: cpplint, check-copyright-year, gn-format

Implement fcntl wrapper
  starboard/elf_loader/exported_symbols.cc
  starboard/shared/modular/BUILD.gn
  starboard/shared/modular/cobalt_layer_posix_fcntl_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_fcntl_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_fcntl_abi_wrappers.h
  third_party/musl/include/fcntl.h
Due: cpplint, check-copyright-year, gn-format

Fix flag
  .github/workflows/main.yaml
Due: check-copyright-year

Bug: 430385989 Bug: 430064317
  cobalt/android/apk/app/proguard-rules.pro
Due: check-copyright-year

Cherry pick PR #6142: Remove some unused functions in //starboard/ (#6498)
  starboard/nplb/posix_compliance/posix_socket_helpers.cc
  starboard/nplb/posix_compliance/posix_socket_helpers.h
  starboard/shared/alsa/alsa_util.h
  starboard/shared/input/key_charcode_conversion_internal.cc
  starboard/shared/input/key_charcode_conversion_internal.h
Due: cpplint, check-copyright-year

Revert "Revert "Remove Shell and ShellManager from native UI" (#6323)"
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/shell/Shell.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/shell/ShellManager.java
  cobalt/android/apk/app/src/main/res/layout/content_shell_activity.xml
Due: google-java-format, gcheckstyle, check-copyright-year, gn-format

Move import
  cobalt/build/build_info.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility

Undo separating gzip and -1
  cobalt/build/archive_test_artifacts.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility

Fix ozone_unittests builds
  ui/ozone/platform/starboard/BUILD.gn
Due: none

[POSIX] Add creat function in musl (#6495)
  starboard/tools/api_leak_detector/evergreen/manifest
  third_party/musl/BUILD.gn
Due: check-copyright-year

More moving things around
  starboard/nplb/BUILD.gn
Due: check-copyright-year, gn-format

gn format
  starboard/nplb/BUILD.gn
Due: check-copyright-year, gn-format

Consolidate cobalt/shell/android/BUILD.gn and cobalt/android/BUILD.gn
  cobalt/android/BUILD.gn
  cobalt/shell/android/BUILD.gn
  cobalt/shell/android/java/src/Shell.java
  cobalt/shell/android/java/src/ShellManager.java
  cobalt/shell/android/java/src/ShellViewAndroidDelegate.java
  cobalt/shell/android/java/src/Util.java
  cobalt/shell/android/shell_descriptors.h
  cobalt/shell/android/shell_manager.cc
  cobalt/shell/android/shell_manager.h
Due: cpplint, google-java-format, gcheckstyle, check-copyright-year, gn-format

Cutting deeper
  starboard/nplb/BUILD.gn
Due: check-copyright-year, gn-format

[POSIX] Add in6addr_any/loopback from musl (#6497)
  starboard/tools/api_leak_detector/evergreen/manifest
  third_party/musl/BUILD.gn
Due: check-copyright-year

Rebase refresh on 2025-07-19 for m138.
  DEPS
  chromeos/CHROMEOS_LKGM
  ui/ozone/platform/wayland/host/wayland_window_drag_controller.cc
Due: check-copyright-year

Rebase refresh on 2025-07-19 for m132.
  chromeos/CHROMEOS_LKGM
Due: none

CDM GetMetrics - Migrate callback to a promise.
  media/base/content_decryption_module.cc
  media/base/content_decryption_module.h
  media/mojo/clients/mojo_cdm.cc
  media/mojo/clients/mojo_cdm.h
  media/mojo/services/mojo_cdm_service.cc
  third_party/blink/public/platform/web_content_decryption_module.h
  third_party/blink/public/platform/web_content_decryption_module_result.h
  third_party/blink/renderer/modules/cobalt/encryptedmedia/media_keys_extensions.idl
  third_party/blink/renderer/modules/cobalt/encryptedmedia/media_keys_get_metrics.cc
  third_party/blink/renderer/modules/cobalt/encryptedmedia/media_keys_get_metrics.h
  third_party/blink/renderer/modules/encryptedmedia/content_decryption_module_result_promise.cc
  third_party/blink/renderer/modules/encryptedmedia/content_decryption_module_result_promise.h
  third_party/blink/renderer/modules/encryptedmedia/encrypted_media_utils.h
  third_party/blink/renderer/modules/encryptedmedia/media_keys.cc
  third_party/blink/renderer/modules/encryptedmedia/media_keys.h
  third_party/blink/renderer/platform/content_decryption_module_result.h
  third_party/blink/renderer/platform/exported/web_content_decryption_module_result.cc
  third_party/blink/renderer/platform/media/cdm_result_promise.h
  third_party/blink/renderer/platform/media/cdm_session_adapter.cc
  third_party/blink/renderer/platform/media/cdm_session_adapter.h
  third_party/blink/renderer/platform/media/web_content_decryption_module_impl.cc
  third_party/blink/renderer/platform/media/web_content_decryption_module_impl.h
Due: none

feat: Use xz compression for faster CI
  .github/actions/on_host_tests/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
  .github/actions/web_tests/action.yaml
  cobalt/build/archive_test_artifacts.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility

feat(drm): Implement application-driven provisioning flow
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java
  starboard/android/shared/drm_system.cc
  starboard/android/shared/drm_system.h
  starboard/android/shared/media_drm_bridge.cc
  starboard/android/shared/media_drm_bridge.h
Due: cpplint, google-java-format, gcheckstyle, check-copyright-year

Fix android test deps
  .github/actions/upload_test_artifacts/action.yaml
  cobalt/build/archive_test_artifacts.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility

media: Fix potential crash on SbPlayerBridge
  media/starboard/sbplayer_bridge.cc
  media/starboard/sbplayer_bridge.h
Due: none

Rebase refresh on 2025-07-20 for m138.
  chrome/VERSION
  chromeos/CHROMEOS_LKGM
Due: none

Support app provisioning
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java
  starboard/android/shared/drm_system.cc
  starboard/android/shared/drm_system.h
  starboard/android/shared/media_drm_bridge.cc
  starboard/android/shared/media_drm_bridge.h
Due: cpplint, google-java-format, gcheckstyle, check-copyright-year

feat(drm): Add Java/JNI support for app-assisted provisioning
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java
  starboard/android/shared/drm_system.cc
  starboard/android/shared/drm_system.h
  starboard/android/shared/media_drm_bridge.cc
  starboard/android/shared/media_drm_bridge.h
Due: cpplint, google-java-format, gcheckstyle, check-copyright-year

Update cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java
Due: google-java-format, gcheckstyle, check-copyright-year
