Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==17.0.1

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

Add modular_executable template (#5686)
  .github/actions/on_host_tests/action.yaml
  cobalt/BUILD.gn
  cobalt/build/archive_test_artifacts.py
  cobalt/build/modular_executable.gni
  cobalt/build/testing/cobalt_test_templates.gni
  cobalt/build/testing/targets/linux-x64x11-evergreen/test_targets.json
  cobalt/testing/filters/linux-x64x11-evergreen/base_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-evergreen/cc_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-evergreen/nplb_loader_filter.json
  cobalt/testing/filters/linux-x64x11-evergreen/viz_unittests_loader_filter.json
  testing/test.gni
Due: yapf, pylint, python3-compatibility-check, gn-format

[POSIX] Implement pthread_attr in Starboard API (#5737)
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/posix_compliance/posix_thread_attr_test.cc
  starboard/shared/modular/cobalt_layer_posix_pthread_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_pthread_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_pthread_abi_wrappers.h
  starboard/tools/api_leak_detector/api_leak_detector.py
  third_party/musl/src/starboard/include/pthread.h
Due: clang-format, yapf, pylint, python3-compatibility-check

Add dup and dup2 POSIX symbols to Starboard (#5752)
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_file_descriptor_duplicate_test.cc
  starboard/tools/api_leak_detector/api_leak_detector.py
Due: clang-format, yapf, pylint, python3-compatibility-check, gn-format

Fix UMA idle bug. (#5764)
  cobalt/browser/metrics/cobalt_metrics_service_client.cc
  cobalt/browser/metrics/cobalt_metrics_service_client.h
  cobalt/browser/metrics/cobalt_metrics_service_client_test.cc
Due: clang-format

Add UMA histogram metadata XML files. (#5770)
  tools/metrics/histograms/metadata/cobalt/enums.xml
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: none

[POSIX] Implement pthread_rwlock functions in Starboard API (#5755)
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_thread_rwlock_test.cc
  starboard/shared/modular/cobalt_layer_posix_pthread_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_pthread_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_pthread_abi_wrappers.h
  starboard/tools/api_leak_detector/api_leak_detector.py
Due: clang-format, yapf, pylint, python3-compatibility-check, gn-format

Removing h5vcc.storage, no longer needed for YTS tests. (#5748)
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_interface_binders.cc
  cobalt/browser/h5vcc_storage/testing/BUILD.gn
  cobalt/browser/h5vcc_storage/testing/h5vcc_storage_for_testing_impl.cc
  cobalt/browser/h5vcc_storage/testing/h5vcc_storage_for_testing_impl.h
  cobalt/browser/h5vcc_storage/testing/public/mojom/BUILD.gn
  cobalt/browser/h5vcc_storage/testing/public/mojom/h5vcc_storage_for_testing.mojom
  third_party/blink/renderer/bindings/generated_in_modules.gni
  third_party/blink/renderer/bindings/idl_in_modules.gni
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/cobalt/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_storage/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_storage/h_5_vcc_storage.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_storage/h_5_vcc_storage.h
  third_party/blink/renderer/modules/cobalt/h5vcc_storage/h_5_vcc_storage.idl
  third_party/blink/renderer/modules/cobalt/h5vcc_storage/testing/h_5_vcc_storage.idl
  third_party/blink/renderer/modules/cobalt/h5vcc_storage/testing/h_5_vcc_storage_for_testing.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_storage/testing/h_5_vcc_storage_for_testing.h
  third_party/blink/renderer/modules/cobalt/h_5_vcc.cc
  third_party/blink/renderer/modules/cobalt/h_5_vcc.h
  third_party/blink/renderer/modules/cobalt/h_5_vcc.idl
Due: clang-format, gn-format

Change MemoryInfo attributes to functions (#5753)
  content/renderer/render_thread_impl.cc
  content/renderer/render_thread_impl.h
  content/renderer/renderer_blink_platform_impl.cc
  content/renderer/renderer_blink_platform_impl.h
  media/base/media_client.cc
  media/base/media_client.h
  third_party/blink/public/platform/platform.h
  third_party/blink/renderer/core/cobalt/memory_info/memory_info_extensions.cc
  third_party/blink/renderer/core/cobalt/memory_info/memory_info_extensions.h
  third_party/blink/renderer/core/cobalt/memory_info/memory_info_extensions.idl
Due: none

Increase precision for Android Monitoring script (#5776)
  cobalt/tools/performance/README.md
  cobalt/tools/performance/android_monitor.py
Due: yapf, pylint, python3-compatibility-check

Add support for chrome://flags during app load (#5779)
  cobalt/tools/performance/README.md
  cobalt/tools/performance/android_monitor.py
Due: yapf, pylint, python3-compatibility-check

Remove sysroot from linux hermetic builds (#5734)
  base/BUILD.gn
  build/config/BUILD.gn
  build/config/sysroot.gni
  cobalt/browser/BUILD.gn
  cobalt/browser/h5vcc_accessibility/BUILD.gn
  cobalt/browser/h5vcc_experiments/BUILD.gn
  cobalt/browser/h5vcc_metrics/BUILD.gn
  cobalt/browser/h5vcc_runtime/BUILD.gn
  cobalt/browser/h5vcc_system/BUILD.gn
  cobalt/browser/performance/BUILD.gn
  cobalt/build/configs/BUILD.gn
  cobalt/build/configs/linux-x64x11-evergreen/args.gn
  cobalt/build/modular_executable.gni
  content/gpu/BUILD.gn
  content/shell/BUILD.gn
  media/base/BUILD.gn
  media/gpu/sandbox/BUILD.gn
  media/starboard/BUILD.gn
  net/BUILD.gn
  starboard/BUILD.gn
  starboard/build/config/modular/BUILD.gn
  starboard/build/config/starboard_target_type.gni
  starboard/linux/shared/platform_configuration/BUILD.gn
  testing/test.gni
  third_party/angle/BUILD.gn
  third_party/blink/renderer/core/BUILD.gn
  third_party/blink/renderer/modules/mediasource/BUILD.gn
  third_party/blink/renderer/platform/media/BUILD.gn
  third_party/fontconfig/BUILD.gn
  third_party/webrtc/system_wrappers/BUILD.gn
  ui/gl/BUILD.gn
  v8/BUILD.gn
Due: gn-format

[Cleanup] Remove duplicated log (#5784)
  media/starboard/starboard_cdm.cc
Due: clang-format

Enable 4k/8k playback on linux-x64x11 (#5780)
  starboard/linux/shared/media_is_video_supported.cc
  starboard/linux/shared/player_components_factory.cc
  starboard/shared/libdav1d/dav1d_video_decoder.cc
  starboard/shared/libdav1d/dav1d_video_decoder.h
Due: clang-format

[media] Optimize DecoderBufferAllocator (#5627)
  media/base/media_switches.cc
  media/base/media_switches.h
  media/starboard/BUILD.gn
  media/starboard/bidirectional_fit_reuse_allocator.cc
  media/starboard/bidirectional_fit_reuse_allocator.h
  media/starboard/bidirectional_fit_reuse_allocator_test.cc
  media/starboard/decoder_buffer_allocator.cc
  media/starboard/decoder_buffer_allocator_strategy.cc
  media/starboard/decoder_buffer_allocator_strategy.h
  media/starboard/decoder_buffer_allocator_test.cc
  starboard/common/BUILD.gn
  starboard/common/allocator.cc
  starboard/common/in_place_reuse_allocator_base.cc
  starboard/common/in_place_reuse_allocator_base.h
  starboard/common/reuse_allocator_base.cc
Due: clang-format, gn-format

Log session_id for MediaDrm as string (#5787)
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java
Due: google-java-format, gcheckstyle

[POSIX] Implement pthread_set/getschedparam and pthread_getattr_np (#5768)
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_thread_attr_test.cc
  starboard/nplb/posix_compliance/posix_thread_kill_test.cc
  starboard/shared/modular/cobalt_layer_posix_pthread_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_pthread_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_pthread_abi_wrappers.h
  starboard/tools/api_leak_detector/api_leak_detector.py
  third_party/musl/src/starboard/include/pthread.h
Due: clang-format, yapf, pylint, python3-compatibility-check, gn-format

Add unit testing for ADB commands in perf monitoring script (#5785)
  cobalt/tools/performance/README.md
  cobalt/tools/performance/__init__.py
  cobalt/tools/performance/adb_command_runner.py
  cobalt/tools/performance/adb_command_runner_unittests.py
  cobalt/tools/performance/android_monitor.py
Due: yapf, pylint, python3-compatibility-check

Move gettimeofday from Starboard into musl (#5791)
  starboard/elf_loader/exported_symbols.cc
  starboard/shared/modular/cobalt_layer_posix_time_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_time_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_time_abi_wrappers.h
  third_party/musl/BUILD.gn
  third_party/musl/src/time/gettimeofday.c
Due: clang-format

Add rate limit info to workflow debug action (#5730)
  .github/workflows/workflow_debug.yaml
Due: none

[Refactor] Extract repeated codes to close drm session into `closeMediaDrmSession` (#5799)
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java
Due: google-java-format, gcheckstyle

[POSIX] Add a few missing symbol to api_leak_detector.py (#5804)
  starboard/tools/api_leak_detector/api_leak_detector.py
Due: yapf, pylint, python3-compatibility-check

Move eztime out of Starboard (#5765)
  base/BUILD.gn
  base/logging.cc
  base/third_party/nspr/prtime.cc
  base/time/pr_time_unittest.cc
  base/time/time_starboard.cc
  base/time/time_unittest.cc
  cobalt/BUILD.gn
  cobalt/common/eztime/BUILD.gn
  cobalt/common/eztime/eztime.cc
  cobalt/common/eztime/eztime.h
  cobalt/common/eztime/eztime_test.cc
  cobalt/common/eztime/test_constants.h
  starboard/BUILD.gn
  starboard/android/shared/posix_emu/stat.cc
  starboard/build/platform_configuration.py
  starboard/client_porting/README.md
  starboard/client_porting/eztime/BUILD.gn
  starboard/client_porting/icu_init/icu_init.cc
  starboard/client_porting/icu_init/icu_init.h
  starboard/common/time.cc
  starboard/common/time.h
  starboard/loader_app/drain_file.h
  starboard/nplb/posix_compliance/posix_file_get_info_test.cc
  starboard/nplb/posix_compliance/posix_file_get_path_info_test.cc
  starboard/nplb/system_get_path_test.cc
  starboard/raspi/shared/launcher_test.py
  third_party/googletest/src/googletest/src/gtest.cc
  third_party/musl/BUILD.gn
Due: clang-format, yapf, pylint, python3-compatibility-check, gn-format

[Refactor] Use dedicated ctor for Success/Failure UpdateSessionResult (#5798)
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java
Due: google-java-format, gcheckstyle

Add raspi github workflow (#5793)
  .github/config/raspi.json
  .github/workflows/raspi.yaml
  cobalt/docker/raspi/Dockerfile
  docker-compose.yaml
Due: none

HTTPS Enforcement in Chrobalt (#5766)
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/browser/cobalt_https_only_navigation_throttle.cc
  cobalt/browser/cobalt_https_only_navigation_throttle.h
Due: clang-format, gn-format

[android] Ensure to SetOverlayMode() after WebContents is created (#5749)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  content/shell/browser/shell.cc
Due: google-java-format, gcheckstyle

[media] Send maxVideoCapabilities to StarboardRenderer (#5756)
  content/renderer/media/media_factory.cc
  content/renderer/media/media_factory.h
  media/base/ipc/media_param_traits_macros.h
  media/base/starboard/renderer_factory_traits.h
  media/base/starboard/starboard_renderer_config.cc
  media/base/starboard/starboard_renderer_config.h
  media/base/starboard/starboard_renderer_config_unittest.cc
  media/mojo/clients/starboard/starboard_renderer_client_factory.cc
  media/mojo/clients/starboard/starboard_renderer_client_factory.h
  media/mojo/services/gpu_mojo_media_client.cc
  media/mojo/services/gpu_mojo_media_client.h
  media/mojo/services/media_service_unittest.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.cc
  media/starboard/starboard_renderer.cc
  media/starboard/starboard_renderer.h
Due: clang-format

Migrate StarboardBridge to jni_generator (#5803)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/graphics.cc
  starboard/android/shared/starboard_bridge.cc
  starboard/android/shared/starboard_bridge.h
  starboard/android/shared/system_network_is_disconnected.cc
  starboard/android/shared/time_zone_get_name.cc
  starboard/android/shared/window_get_diagonal_size_in_inches.cc
  starboard/android/shared/window_get_size.cc
Due: clang-format, google-java-format, gcheckstyle

Avoid running raspi for presubmit checks (#5820)
  .github/workflows/raspi.yaml
Due: none

cobalt/browser: add comment for revisiting SetOverlayMode() (#5817)
  content/shell/browser/shell.cc
Due: none

Create singleton class AudioOutputManager in native (#5810)
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioOutputManager.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/audio_output_manager.cc
  starboard/android/shared/audio_output_manager.h
  starboard/android/shared/media_capabilities_cache.cc
Due: clang-format, google-java-format, gcheckstyle, gn-format

Add separate configuration class to make monitoring script more modular (#5813)
  cobalt/tools/performance/android_monitor.py
  cobalt/tools/performance/configuration.py
Due: yapf, pylint, python3-compatibility-check

Disable V8 concurrent marking (#5805)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: google-java-format, gcheckstyle

[media] Send maxVideoCapabilities to SbPlayer (#5825)
  media/starboard/starboard_renderer.cc
Due: clang-format

Make monitoring script more modular (#5823)
  cobalt/tools/performance/android_monitor.py
  cobalt/tools/performance/data_collector.py
  cobalt/tools/performance/data_store.py
  cobalt/tools/performance/data_store_unittests.py
  cobalt/tools/performance/device_monitor.py
  cobalt/tools/performance/device_monitor_unittests.py
  cobalt/tools/performance/time_provider.py
Due: yapf, pylint, python3-compatibility-check

Use REGISTER_WRAPPER macro for wrappers (#5826)
  starboard/elf_loader/exported_symbols.cc
Due: clang-format

Correct definition for cobalt_toolchain (#5772)
  build/config/BUILDCONFIG.gn
  cobalt/build/configs/initialize_variables.gni
Due: gn-format

Add check for DRM server certificate updatability before applying SetServerCertificate() (#5835)
  media/starboard/starboard_cdm.cc
Due: clang-format

Resolve H5vccMetrics Promises on connection close. (#5801)
  third_party/blink/renderer/modules/cobalt/h5vcc_metrics/h_5_vcc_metrics.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_metrics/h_5_vcc_metrics.h
Due: none

[cobalt/android] Prevent screen from dimming when in use. (#5838)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: google-java-format, gcheckstyle

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  yapf: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  pylint: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  python3-compatibility-check: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  google-java-format: any of: \.java$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java
)
) and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  gn-format: any of: .*\.gni?$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

