Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)

Cherry pick PR #12347: cleanup: Remove DumpInputHash from worker handler
  .github/AUTOROLL
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.cc
Due: clang-format, cpplint

Cherry pick PR #12343: Enable WPT-Tests for Cobalt presubmit.
  .github/AUTOROLL
  .github/workflows/main.yaml
Due: none

Cherry pick PR #12070: player: apply volume directly on the audio sink
  .github/AUTOROLL
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/player/player_internal.cc
Due: none

Cherry pick PR #12277: media: Remove storage_type parameter from DecodedAudio constructors
  .github/AUTOROLL
  starboard/android/shared/audio_decoder_passthrough.h
  starboard/android/shared/media_codec_audio_decoder.cc
  starboard/shared/ffmpeg/ffmpeg_audio_decoder_impl.cc
  starboard/shared/libfdkaac/fdk_aac_audio_decoder.cc
  starboard/shared/opus/opus_audio_decoder.cc
  starboard/shared/starboard/player/decoded_audio_internal.cc
  starboard/shared/starboard/player/decoded_audio_internal.h
  starboard/shared/starboard/player/decoded_audio_test_internal.cc
  starboard/shared/starboard/player/filter/audio_channel_layout_mixer_impl.cc
  starboard/shared/starboard/player/filter/audio_resampler_impl.cc
  starboard/shared/starboard/player/filter/audio_time_stretcher.cc
  starboard/shared/starboard/player/filter/stub_audio_decoder.cc
  starboard/shared/starboard/player/filter/testing/audio_channel_layout_mixer_test.cc
  starboard/shared/starboard/player/filter/testing/audio_decoder_test.cc
  starboard/shared/starboard/player/filter/testing/audio_frame_discarder_test.cc
  starboard/shared/starboard/player/filter/testing/audio_renderer_internal_test.cc
  starboard/shared/starboard/player/filter/testing/audio_resampler_test.cc
  starboard/shared/starboard/player/filter/testing/decoded_audio_benchmark.cc
  starboard/shared/starboard/player/filter/testing/wsola_internal_test.cc
  starboard/tvos/shared/media/audio_decoder.mm
  starboard/tvos/shared/media/av_audio_sample_buffer_builder.mm
Due: clang-format, cpplint

Cherry pick PR #12314: ci: Speed up Scorecard workflow on PRs via sparse checkout
  .github/AUTOROLL
Due: none

Cherry pick PR #12346: starboard: Revert PR 11809 and guard Android features with !IS_STARBOARD
  .github/AUTOROLL
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/media_capabilities_cache.cc
  starboard/android/shared/media_get_video_buffer_budget.cc
  starboard/android/shared/player_components_factory.cc
  starboard/android/shared/video_render_algorithm_android.cc
  starboard/extension/feature_config.h
  starboard/shared/starboard/player/filter/player_components.cc
Due: clang-format, cpplint

Cherry pick PR #12170: Revert "Disable E2E tests on all platforms"
  .github/AUTOROLL
  .github/config/android-arm.json
  .github/config/android-arm64.json
Due: none

Cherry pick PR #12320: media: Ignore MediaCodec callbacks during flush
  .github/AUTOROLL
  starboard/shared/starboard/experimental_features.h
Due: clang-format, cpplint

Cherry pick PR #12317: tvos: Skip test targets on nightly builds
  .github/AUTOROLL
  cobalt/devinfra/kokoro/bin/common.sh
  cobalt/devinfra/kokoro/bin/presubmit_build_mac.sh
Due: none

ci: Add retry_all param to test filter actions and only retry all on push to main
  .github/actions/on_device_tests/action.yaml
  .github/actions/on_host_tests/action.yaml
  .github/actions/prepare_test_filters/action.yaml
  .github/workflows/main.yaml
Due: none

CONFLICTED Cherry pick PR #12209: Use a separate quota manager for cache
  .github/AUTOROLL
  cobalt/browser/cache_storage_browsertest.cc
  cobalt/shell/browser/shell_content_browser_client.cc
  cobalt/shell/browser/shell_content_browser_client.h
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/cobalt_browsertests_loader_filter.json
  content/browser/storage_partition_impl.cc
  content/browser/storage_partition_impl.h
  content/public/browser/content_browser_client.cc
  content/public/browser/content_browser_client.h
  content/public/browser/storage_partition.h
Due: clang-format, cpplint, gn-format

RESOLVED Cherry pick PR #12209: Use a separate quota manager for cache
  .github/AUTOROLL
  content/browser/storage_partition_impl.cc
Due: none

android/jni-zero: Support PrimitiveConvert on C++17 (#12354)
  third_party/jni_zero/type_conversions.h
Due: none

CONFLICTED Cherry pick PR #12209: Use a separate quota manager for cache (#12367)
  .github/AUTOROLL
  cobalt/browser/cache_storage_browsertest.cc
  cobalt/shell/browser/shell_content_browser_client.cc
  cobalt/shell/browser/shell_content_browser_client.h
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/cobalt_browsertests_loader_filter.json
  content/browser/storage_partition_impl.cc
  content/browser/storage_partition_impl.h
  content/public/browser/content_browser_client.cc
  content/public/browser/content_browser_client.h
  content/public/browser/storage_partition.h
Due: clang-format, cpplint, gn-format

Cherry pick PR #12354: android/jni-zero: Support PrimitiveConvert on C++17
  .github/AUTOROLL
  third_party/jni_zero/type_conversions.h
Due: none

aosp: add ApplicationAOSP to handle input and native window creation (#11813)
  cobalt/aosp/apk/app/java/dev/cobalt/app/MainActivity.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/base_starboard_bridge.cc
  starboard/aosp/shared/BUILD.gn
  starboard/aosp/shared/application_aosp.cc
  starboard/aosp/shared/application_aosp.h
  starboard/aosp/shared/key_map.cc
  starboard/aosp/shared/key_map.h
  starboard/aosp/shared/main_activity.cc
  starboard/aosp/shared/run_starboard_main.cc
  starboard/aosp/shared/window_create.cc
  starboard/aosp/shared/window_destroy.cc
  starboard/aosp/shared/window_get_platform_handle.cc
  starboard/aosp/shared/window_get_size.cc
  starboard/aosp/shared/window_internal.h
  starboard/aosp/shared/window_surface.cc
  starboard/aosp/shared/window_surface.h
  starboard/common/thread.cc
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

performance: Add MeasureApplicationUsageMemory API for accurate memory bounds on 3P devices (#12130)
  cobalt/browser/performance/performance_impl.cc
  cobalt/browser/performance/performance_impl.h
  cobalt/browser/performance/public/mojom/performance.mojom
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/BUILD.gn
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/system/system_get_used_cpu_memory.cc
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.cc
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.h
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.idl
  third_party/blink/renderer/core/cobalt/performance/system_memory_info.idl
Due: clang-format, cpplint

Cherry pick PR #11813: aosp: add ApplicationAOSP to handle input and native window creation
  .github/AUTOROLL
  cobalt/aosp/apk/app/java/dev/cobalt/app/MainActivity.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/base_starboard_bridge.cc
  starboard/aosp/shared/BUILD.gn
  starboard/aosp/shared/application_aosp.cc
  starboard/aosp/shared/application_aosp.h
  starboard/aosp/shared/key_map.cc
  starboard/aosp/shared/key_map.h
  starboard/aosp/shared/main_activity.cc
  starboard/aosp/shared/run_starboard_main.cc
  starboard/aosp/shared/window_create.cc
  starboard/aosp/shared/window_destroy.cc
  starboard/aosp/shared/window_get_platform_handle.cc
  starboard/aosp/shared/window_get_size.cc
  starboard/aosp/shared/window_internal.h
  starboard/aosp/shared/window_surface.cc
  starboard/aosp/shared/window_surface.h
  starboard/common/thread.cc
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

Cherry pick PR #12130: performance: Add MeasureApplicationUsageMemory API for accurate memory bounds on 3P devices
  .github/AUTOROLL
  cobalt/browser/performance/performance_impl.cc
  cobalt/browser/performance/performance_impl.h
  cobalt/browser/performance/public/mojom/performance.mojom
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/BUILD.gn
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/system/system_get_used_cpu_memory.cc
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.cc
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.h
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.idl
  third_party/blink/renderer/core/cobalt/performance/system_memory_info.idl
Due: clang-format, cpplint

CONFLICTED Cherry pick PR #11813: aosp: add ApplicationAOSP to handle input and native window creation
  .github/AUTOROLL
  cobalt/aosp/apk/app/java/dev/cobalt/app/MainActivity.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/base_starboard_bridge.cc
  starboard/aosp/shared/BUILD.gn
  starboard/aosp/shared/application_aosp.cc
  starboard/aosp/shared/application_aosp.h
  starboard/aosp/shared/key_map.cc
  starboard/aosp/shared/key_map.h
  starboard/aosp/shared/main_activity.cc
  starboard/aosp/shared/run_starboard_main.cc
  starboard/aosp/shared/window_create.cc
  starboard/aosp/shared/window_destroy.cc
  starboard/aosp/shared/window_get_platform_handle.cc
  starboard/aosp/shared/window_get_size.cc
  starboard/aosp/shared/window_internal.h
  starboard/aosp/shared/window_surface.cc
  starboard/aosp/shared/window_surface.h
  starboard/common/thread.cc
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

RESOLVED Cherry pick PR #11813: aosp: add ApplicationAOSP to handle input and native window creation
  .github/AUTOROLL
  starboard/android/shared/base_starboard_bridge.cc
Due: clang-format, cpplint

CONFLICTED Cherry pick PR #11813: aosp: add ApplicationAOSP to handle input and native window creation (#12372)
  .github/AUTOROLL
  cobalt/aosp/apk/app/java/dev/cobalt/app/MainActivity.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/base_starboard_bridge.cc
  starboard/aosp/shared/BUILD.gn
  starboard/aosp/shared/application_aosp.cc
  starboard/aosp/shared/application_aosp.h
  starboard/aosp/shared/key_map.cc
  starboard/aosp/shared/key_map.h
  starboard/aosp/shared/main_activity.cc
  starboard/aosp/shared/run_starboard_main.cc
  starboard/aosp/shared/window_create.cc
  starboard/aosp/shared/window_destroy.cc
  starboard/aosp/shared/window_get_platform_handle.cc
  starboard/aosp/shared/window_get_size.cc
  starboard/aosp/shared/window_internal.h
  starboard/aosp/shared/window_surface.cc
  starboard/aosp/shared/window_surface.h
  starboard/common/thread.cc
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

security: Remediate Scorecard vulnerabilities in tools and demos (#12331)
  cobalt/demos/content/media-element-demo/osv-scanner.toml
  cobalt/tools/requirements.txt
Due: none

starboard: Fix DecodedAudio moved-from state (#12302)
  starboard/shared/starboard/player/decoded_audio_internal.cc
  starboard/shared/starboard/player/decoded_audio_internal.h
  starboard/shared/starboard/player/decoded_audio_test_internal.cc
Due: clang-format, cpplint

ci: Revert tvos validation job name back to tests_passing
  .github/workflows/tvos.yaml
Due: none

Cherry pick PR #12331: security: Remediate Scorecard vulnerabilities in tools and demos
  .github/AUTOROLL
  cobalt/demos/content/media-element-demo/osv-scanner.toml
  cobalt/tools/requirements.txt
Due: none

Cherry pick PR #12302: starboard: Fix DecodedAudio moved-from state
  .github/AUTOROLL
  starboard/shared/starboard/player/decoded_audio_internal.cc
  starboard/shared/starboard/player/decoded_audio_internal.h
  starboard/shared/starboard/player/decoded_audio_test_internal.cc
Due: clang-format, cpplint
