Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, internal-file-check, gn-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^internal/starboard/shared/uikit/.*\.h$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  yapf: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  pylint: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  google-java-format: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gcheckstyle: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not ((?x)^(
    .pre-commit-config.yaml$|
    cobalt/media/|
    cobalt/layout_tests/testdata/|
    nb/|
    starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.cc$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.h$|
    starboard/shared/starboard/player/filter/wsola_internal.cc$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  check-if-starboard-interface-changed: any of: ^starboard/[^/]+\.h$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  test-python3-compatibility: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  internal-file-check: any of: not ((^docker-compose-windows(-internal)?.yml|EXCLUDE\.FILES(\.RECURSIVE)?|codereview\.settings)$), but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gn-format: any of: .*\.gni?$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)


[linux] Remove yasm from Dockerfile (#667) (#679)
  docker/linux/base/build/Dockerfile
Due: check-copyright-year, internal-file-check

Fix VC version passed from actions
  .github/config/win32.json
Due: check-copyright-year, internal-file-check

Remove hardcoded VS version from actions
  .github/config/win32.json
Due: check-copyright-year, internal-file-check

Remove hardcoded VS version from actions (#860)
  .github/config/win32.json
Due: check-copyright-year, internal-file-check

Remove VS2017
  docker/windows/base/build/Dockerfile
  docker/windows/base/build/list_python_processes.py
  docker/windows/base/build/spin.ps1
  docker/windows/base/visualstudio2017/Dockerfile
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Remove reverse deps from Android Starboard code
  starboard/android/shared/android_media_session_client.cc
  starboard/android/shared/system_get_property.cc
  starboard/shared/stub/accessibility_get_caption_settings.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Remove GCC libwep flags from Win builds
  third_party/libwebp/BUILD.gn
Due: none

Remove VS2017 (#856)
  docker/windows/base/build/Dockerfile
  docker/windows/base/build/list_python_processes.py
  docker/windows/base/build/spin.ps1
  docker/windows/base/visualstudio2017/Dockerfile
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Move symbolize to third_party/
  starboard/android/shared/BUILD.gn
  starboard/linux/shared/BUILD.gn
  starboard/raspi/shared/BUILD.gn
  starboard/shared/linux/system_symbolize.cc
  third_party/symbolize/BUILD.gn
  third_party/symbolize/DEPS
  third_party/symbolize/LICENSE
  third_party/symbolize/README.chromium
  third_party/symbolize/config.h
  third_party/symbolize/demangle.cc
  third_party/symbolize/demangle.h
  third_party/symbolize/glog/logging.h
  third_party/symbolize/glog/raw_logging.h
  third_party/symbolize/patches/001-fix-up-includes.patch
  third_party/symbolize/patches/002-minimal-logging.patch
  third_party/symbolize/patches/003-minimal-utilities.patch
  third_party/symbolize/patches/004-add-missing-symbolize-header.patch
  third_party/symbolize/patches/005-expose-file-helpers.patch
  third_party/symbolize/patches/006-use-sandbox-hook-for-open-object-file.patch
  third_party/symbolize/patches/007-sys-types-h.patch
  third_party/symbolize/patches/008-include-cstdlib.patch
  third_party/symbolize/patches/009-clone-absl-demangle.patch
  third_party/symbolize/patches/010-clang-format.patch
  third_party/symbolize/symbolize.cc
  third_party/symbolize/symbolize.h
  third_party/symbolize/utilities.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Add approximate Metadata
  third_party/symbolize/METADATA
Due: none

Register service_worker_registry as a Watchdog client
  cobalt/browser/service_worker_registry.cc
  cobalt/browser/service_worker_registry.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Remove hardcoded VS version from actions (#860) (#864)
  .github/config/win32.json
Due: check-copyright-year, internal-file-check

Fix a deadlock in IsAnyClientUsingRegistration
  cobalt/worker/service_worker_context.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Update docsite for 24.lts
  cobalt/site/docs/gen/cobalt/doc/cvals.md
  cobalt/site/docs/reference/starboard/configuration-public.md
  cobalt/site/docs/reference/starboard/modules/13/speech_recognizer.md
  cobalt/site/docs/reference/starboard/modules/14/speech_recognizer.md
Due: internal-file-check

Pass RUNNER_LABELS to win runner startup mechanism.
  docker/windows/runner/runner.ps1
Due: check-copyright-year, internal-file-check

Remove GCC libwep flags from Win builds (#863)
  third_party/libwebp/BUILD.gn
Due: none

Register service_worker_registry as a Watchdog client (#861)
  cobalt/browser/service_worker_registry.cc
  cobalt/browser/service_worker_registry.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Pin Choco to 1.4.0 (#525)
  docker/windows/base/build/Dockerfile
Due: check-copyright-year, internal-file-check

Remove GCC libwep flags from Win builds (#863) (#868)
  third_party/libwebp/BUILD.gn
Due: none

Register service_worker_registry as a Watchdog client (#861) (#870)
  cobalt/browser/service_worker_registry.cc
  cobalt/browser/service_worker_registry.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Revert "Revert "Set Visual Studio 2022 as default version" (#820)" (#829)
  build/config/win/BUILD.gn
  build/config/win/visual_studio_version.gni
  docker-compose-windows-internal.yml
  docker-compose-windows.yml
  starboard/build/config/win/BUILD.gn
  third_party/angle/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Fix a deadlock in IsAnyClientUsingRegistration (#851)
  cobalt/worker/service_worker_context.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Update runner.ps1
  docker/windows/runner/runner.ps1
Due: check-copyright-year, internal-file-check

Revert "Revert "Set Visual Studio 2022 as default version" (#820)" (#829) (#873)
  build/config/win/BUILD.gn
  build/config/win/visual_studio_version.gni
  docker-compose-windows-internal.yml
  docker-compose-windows.yml
  starboard/build/config/win/BUILD.gn
  third_party/angle/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Revert "Update docsite container to pass build (#608)"
  docker/docsite/Dockerfile
  docker/docsite/Gemfile.lock
Due: check-copyright-year, internal-file-check

Fix unparseable JSON results error b/141317024
  third_party/wpt/resources/testharnessreport.js
Due: none

Fix hanging tests issue b/141317024
  third_party/wpt/resources/testharnessreport.js
Due: none

Implement adapter layer b/141317024
  third_party/wpt/resources/testharness_cobalt.js
  third_party/wpt/resources/url-search-params-polyfill.js
  third_party/wpt/wpt_cobalt.py
Due: none

Add safe git dir
  docker/docsite/Dockerfile
Due: check-copyright-year, internal-file-check

Fix gem dependency h*ll
  docker/docsite/Dockerfile
  docker/docsite/Gemfile
  docker/docsite/Gemfile.lock
Due: check-copyright-year, internal-file-check

Remove unneeded DCHECK
  starboard/android/shared/video_decoder.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Fix a deadlock in IsAnyClientUsingRegistration (#851) (#874)
  cobalt/worker/service_worker_context.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check
