Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)

Cherry pick PR #12492: [Cobalt] Use BUILDFLAG(COBALT_IS_RELEASE_BUILD) in CobaltContentBrows…
  .github/AUTOROLL
  cobalt/browser/cobalt_content_browser_client.cc
Due: clang-format, cpplint

Cherry pick PR #12483: cobalt: Support memlog command line arguments
  .github/AUTOROLL
  cobalt/browser/cobalt_browser_main_parts.cc
Due: clang-format, cpplint

Cherry pick PR #12479: media: Remove unused audio storage type parameters
  .github/AUTOROLL
  starboard/android/shared/player_components_factory.cc
  starboard/shared/starboard/player/filter/audio_renderer_pcm_internal.cc
  starboard/shared/starboard/player/filter/audio_renderer_sink.h
  starboard/shared/starboard/player/filter/audio_renderer_sink_impl.cc
  starboard/shared/starboard/player/filter/audio_renderer_sink_impl.h
  starboard/shared/starboard/player/filter/audio_time_stretcher.cc
  starboard/shared/starboard/player/filter/mock_audio_decoder.h
  starboard/shared/starboard/player/filter/mock_audio_renderer_sink.h
  starboard/shared/starboard/player/filter/testing/audio_renderer_internal_test.cc
  starboard/shared/starboard/player/filter/testing/wsola_internal_test.cc
  starboard/shared/starboard/player/filter/wsola_internal.cc
  starboard/shared/starboard/player/filter/wsola_internal.h
Due: clang-format, cpplint

Cherry pick PR #12495: android: Fix static splash image scaling on 720P
  .github/AUTOROLL
  cobalt/shell/embedded_resources/loader_embedded_resources/splash.html
Due: none

Cherry pick PR #12447: android: Delay V8 Write Using PostDelayedIdleTask
  .github/AUTOROLL
  third_party/blink/renderer/bindings/core/v8/v8_script_runner.cc
Due: none

Cherry pick PR #12473: cobalt: Fix YUV transfer and adapt GPU cache tests
  .github/AUTOROLL
  cc/paint/image_transfer_cache_entry.cc
  cc/tiles/gpu_image_decode_cache_unittest.cc
Due: none

Cherry pick PR #12507: tvos: Add test targets configuration for tvos-arm64-device
  .github/AUTOROLL
  cobalt/build/testing/targets/tvos-arm64-device/test_targets.json
Due: none

Cherry pick PR #12498: Revert "Run telemetry against cobalt browser"
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
  tools/perf/page_sets/system_health/cobalt/__init__.py
  tools/perf/page_sets/system_health/cobalt/livingroom_stories.py
Due: yapf, pylint, python3-compatibility-check, gcheckstyle, check-java-strings-have-locale

Cherry pick PR #12449: media: Remove audio storage type from audio sink and 1P player
  .github/AUTOROLL
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type.h
  starboard/android/shared/player_components_factory.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/audio_sink/gstreamer_audio_sink_type.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/audio_sink/gstreamer_audio_sink_type.h
  starboard/shared/alsa/alsa_audio_sink_type.cc
  starboard/shared/pulse/pulse_audio_sink_type.cc
  starboard/shared/starboard/audio_sink/audio_sink_create.cc
  starboard/shared/starboard/audio_sink/audio_sink_internal.cc
  starboard/shared/starboard/audio_sink/audio_sink_internal.h
  starboard/shared/starboard/audio_sink/stub_audio_sink_type.cc
  starboard/shared/starboard/audio_sink/stub_audio_sink_type.h
  starboard/shared/starboard/player/filter/audio_renderer_sink_impl.cc
  starboard/shared/starboard/player/filter/audio_renderer_sink_impl.h
  starboard/tvos/shared/media/audio_queue_audio_sink_type.mm
Due: clang-format, cpplint

Cherry pick PR #12455: [ci] Enable RDK test_e2e after SbSystemGetLocaleId fix.
  .github/AUTOROLL
  .github/config/evergreen-arm-hardfp-rdk.json
Due: none

Cherry pick PR #12095: android: fix dual activity leaks
  .github/AUTOROLL
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/BaseCobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/BaseStarboardBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltService.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/VideoSurfaceView.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/Holder.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/BaseStarboardBridgeTest.java
  cobalt/browser/h5vcc_platform_service/platform_service_impl.cc
  cobalt/browser/h5vcc_platform_service/platform_service_impl.h
  starboard/android/shared/base_starboard_bridge.cc
  starboard/android/shared/platform_service.cc
  starboard/android/shared/starboard_bridge.h
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

Cherry pick PR #12503: cobalt: Scope use_relative_vtables_abi evergreen override to starboard
  .github/AUTOROLL
  build/config/compiler/compiler.gni
Due: none

Cherry pick PR #12475: coat: Make CommandLineOverrideHelper flavor-agnostic
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/CobaltActivityTest.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/CommandLineOverrideHelperTest.java
Due: gcheckstyle, check-java-strings-have-locale

Cherry pick PR #12459: build: Remove no-op modular test GN changes
  .github/AUTOROLL
  cobalt/aosp/modular_apk.gni
  cobalt/build/modular_executable.gni
Due: gn-format

Cherry pick PR #12486: starboard: Remove dead Evergreen Lite guards
  .github/AUTOROLL
  starboard/doc/evergreen/cobalt_evergreen_lite.md
  starboard/loader_app/installation_manager.cc
  starboard/shared/signal/suspend_signals.cc
  starboard/shared/signal/system_request_freeze.cc
Due: clang-format, cpplint

CONFLICTED Cherry pick PR #12474: android: Eliminate runtime JNI build type queries using java_cpp_template
  .github/AUTOROLL
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/BaseCobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/BaseStarboardBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltBuildInfo.tmpl
  starboard/android/shared/base_starboard_bridge.cc
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

RESOLVED Cherry pick PR #12474: android: Eliminate runtime JNI build type queries using java_cpp_template
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: gcheckstyle, check-java-strings-have-locale

CONFLICTED Cherry pick PR #12474: android: Eliminate runtime JNI build type queries using java_cpp_template (#12641)
  .github/AUTOROLL
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/BaseCobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/BaseStarboardBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltBuildInfo.tmpl
  starboard/android/shared/base_starboard_bridge.cc
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

Cherry pick PR #11799: build: Use llvm-strip for hermetic Linux builds
  .github/AUTOROLL
  cobalt/build/toolchain/linux/strip.gni
Due: gn-format

CONFLICTED Cherry pick PR #12488: Revert "android: enable custom fonts.xml file by default"
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/util/JavaSwitchesTest.java
  content/browser/font_unique_name_lookup/font_unique_name_lookup_android.cc
  skia/ext/font_utils.cc
  third_party/blink/renderer/platform/fonts/font_fallback_iterator.cc
  third_party/blink/renderer/platform/fonts/font_fallback_iterator_test.cc
Due: gcheckstyle, check-java-strings-have-locale

RESOLVED Cherry pick PR #12488: Revert "android: enable custom fonts.xml file by default"
  .github/AUTOROLL
  skia/ext/font_utils.cc
Due: none

CONFLICTED Cherry pick PR #12488: Revert "android: enable custom fonts.xml file by default" (#12643)
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/util/JavaSwitchesTest.java
  content/browser/font_unique_name_lookup/font_unique_name_lookup_android.cc
  skia/ext/font_utils.cc
  third_party/blink/renderer/platform/fonts/font_fallback_iterator.cc
  third_party/blink/renderer/platform/fonts/font_fallback_iterator_test.cc
Due: gcheckstyle, check-java-strings-have-locale

Cherry pick PR #12478: media: Remove GetMediaAudioStorageTypeName()
  .github/AUTOROLL
  starboard/common/media.cc
  starboard/common/media.h
Due: clang-format, cpplint

Cherry pick PR #12374: cobalt: Fix OSPlatformName regression in UserAgent logic
  .github/AUTOROLL
  base/system/sys_info_starboard.cc
  base/system/sys_info_starboard.h
  base/system/sys_info_starboard_unittest.cc
  cobalt/browser/user_agent/user_agent_platform_info.cc
Due: clang-format, cpplint

Cherry pick PR #12480: tvos: Remove unused and orphaned media files
  .github/AUTOROLL
  starboard/tvos/shared/media/audio_queue_buffer.h
  starboard/tvos/shared/media/audio_queue_buffer.mm
  starboard/tvos/shared/media/audio_sink_get_max_channels.mm
  starboard/tvos/shared/media/audio_sink_get_nearest_supported_sample_frequency.mm
  starboard/tvos/shared/media/audio_sink_is_audio_frame_storage_type_supported.mm
  starboard/tvos/shared/media/audio_sink_is_audio_sample_type_supported.mm
  starboard/tvos/shared/media/player_get_preferred_output_mode.mm
  starboard/tvos/shared/media_get_audio_configuration.mm
Due: clang-format, cpplint

Cherry pick PR #12451: [rdk] Implement SbSystemGetLocaleId via UserPreferences and UserSettings
  .github/AUTOROLL
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/nplb_loader_filter.json
  content/browser/speech/tts_starboard.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/BUILD.gn
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/application_rdk.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/application_rdk.h
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/rdkservices.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/rdkservices.h
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/system/system_get_locale_id.cc
Due: none

Cherry pick PR #12493: cobalt: Fallback to OOP-R for unsupported images
  .github/AUTOROLL
  gpu/command_buffer/client/raster_implementation.cc
  gpu/command_buffer/client/raster_implementation.h
Due: none
