Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

chromium-pre-commit:
  name: Chromium presubmit bridge
  entry: ./third_party/depot_tools/vpython3 --vpython-spec=./third_party/depot_tools/.vpython3 ./cobalt/precommit/run_chromium_presubmits.py
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==21.1.0

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=5
  - --quiet
  additional_dependencies:
  - cpplint==2.0.2

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

check-java-strings-have-locale:
  name: Check Java String.format includes Locale
  entry: python3 ./cobalt/precommit/check_java_strings_have_locale.py
  language: python

Cherry pick PR #11484: cobalt: Stop timer when disabling QuotaDatabase
  .github/AUTOROLL
  storage/browser/quota/quota_database.cc
Due: none

Cherry pick PR #11527: Update gold/qa tvos kokoro build configs.
  .github/AUTOROLL
  cobalt/devinfra/kokoro/build/tvos/arm64/gold.gcl
  cobalt/devinfra/kokoro/build/tvos/arm64/qa.gcl
Due: none

Fix pipefail grep issue and use Bash arrays for library list
  cobalt/devinfra/kokoro/build/tvos/merge_rlibs_tvos_archive.sh
Due: none

Add merge_rlibs_tvos_archive.sh script for tvOS
  cobalt/devinfra/kokoro/build/tvos/merge_rlibs_tvos_archive.sh
Due: none

Add merge_rlibs_tvos_archive GN action wrapper
  cobalt/BUILD.gn
Due: gn-format

Fix GN formatting for merge_rlibs_tvos_archive action wrapper
  cobalt/BUILD.gn
Due: gn-format

rdk: Remove loader_app executable from evergreen-arm-hardfp-rdk package.json
  cobalt/build/evergreen-arm-hardfp-rdk/package.json
Due: none

rdk: Remove obsolete loader_app_rdk_plugin assertion from deploy_rdk_test.py
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk_test.py
Due: none

rdk: Replace hardcoded blocked_flags with generic flag deduplication in deploy_rdk
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk.py
Due: none

Cherry pick PR #11532: media: Add missing utility header
  .github/AUTOROLL
  media/mojo/clients/mojo_renderer.cc
Due: none

rdk: Unfilter passing window/graphics tests in nplb_loader_filter.json
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/nplb_loader_filter.json
Due: none

rdk: Unfilter passing media, player, and vertical video tests in nplb_loader_filter.json
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/nplb_loader_filter.json
Due: none

Filter additional failing audio/video write sample tests due to EGL 1.5
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/nplb_loader_filter.json
Due: none

Remove fedcmp from cobalt
  cobalt/build/configs/cobalt.gni
  cobalt/shell/renderer/shell_content_renderer_client.cc
  content/browser/BUILD.gn
  content/browser/browser_context.cc
  content/browser/browser_context_impl.cc
  content/browser/browser_context_impl.h
  content/browser/devtools/render_frame_devtools_agent_host.cc
  content/browser/loader/url_loader_throttles.cc
  content/browser/renderer_host/render_frame_host_impl.cc
  content/common/BUILD.gn
  third_party/blink/renderer/bindings/bindings.gni
  third_party/blink/renderer/bindings/idl_in_modules.gni
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/payments/BUILD.gn
  third_party/blink/renderer/modules/payments/payment_request.cc
  third_party/blink/renderer/modules/payments/payment_response.cc
Due: clang-format, cpplint, gn-format

Remove btm
  content/browser/BUILD.gn
  content/browser/browser_context.cc
  content/browser/browser_context_impl.cc
  content/browser/browser_context_impl.h
  content/browser/browsing_data/browsing_data_remover_impl.cc
  content/browser/web_contents/web_contents_impl.cc
Due: none

Address comments by Andrew
  starboard/nplb/nplb_evergreen_compat_tests/native_stability_test.cc
Due: clang-format, cpplint

media: Implement URL player for native HLS on tvOS
  cobalt/renderer/cobalt_content_renderer_client.cc
  cobalt/renderer/cobalt_content_renderer_client.h
  cobalt/shell/browser/shell_platform_delegate_ios.mm
  media/base/demuxer.h
  media/base/media_resource.cc
  media/base/media_resource.h
  media/mojo/clients/starboard/starboard_renderer_client.cc
  media/mojo/clients/starboard/starboard_renderer_client_unittest.cc
  media/mojo/mojom/media_types.mojom
  media/mojo/mojom/media_types_enum_mojom_traits.h
  media/mojo/mojom/renderer_extensions.mojom
  media/mojo/services/starboard/starboard_renderer_wrapper.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.h
  media/starboard/BUILD.gn
  media/starboard/starboard_renderer.cc
  media/starboard/starboard_renderer.h
  media/starboard/url_player_demuxer.cc
  media/starboard/url_player_demuxer.h
  third_party/blink/renderer/platform/media/web_media_player_impl.cc
  tools/metrics/histograms/enums.xml
Due: clang-format, cpplint, gn-format

test: Add nplb test for NativeStability extension (#11513)
  starboard/nplb/BUILD.gn
  starboard/nplb/nplb_evergreen_compat_tests/native_stability_test.cc
Due: clang-format, cpplint, gn-format

Cherry pick PR #11513: test: Add nplb test for NativeStability extension
  .github/AUTOROLL
  starboard/nplb/BUILD.gn
  starboard/nplb/nplb_evergreen_compat_tests/native_stability_test.cc
Due: clang-format, cpplint, gn-format

starboard: Rename new NativeStability extension
  cobalt/browser/cobalt_browser_main_parts.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/system/system_get_extensions.cc
  starboard/crashpad_wrapper/wrapper.cc
  starboard/extension/extension_test.cc
  starboard/extension/native_stability.h
  starboard/linux/shared/system_get_extensions.cc
  starboard/nplb/nplb_evergreen_compat_tests/native_stability_test.cc
  starboard/shared/starboard/native_stability.cc
Due: clang-format, cpplint

aosp: fix musl_statvfs layout (#11216)
  starboard/shared/modular/starboard_layer_posix_statvfs_abi_wrappers.h
Due: clang-format, cpplint

starboard: Rename new NativeStability extension (#11537)
  cobalt/browser/cobalt_browser_main_parts.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/system/system_get_extensions.cc
  starboard/crashpad_wrapper/wrapper.cc
  starboard/extension/extension_test.cc
  starboard/extension/native_stability.h
  starboard/linux/shared/system_get_extensions.cc
  starboard/nplb/nplb_evergreen_compat_tests/native_stability_test.cc
  starboard/shared/starboard/native_stability.cc
Due: clang-format, cpplint

aosp: normalize if_indextoname behavior (#11339)
  starboard/android/shared/BUILD.gn
  starboard/android/shared/posix_emu/net_if.cc
  starboard/aosp/shared/platform_configuration/BUILD.gn
Due: clang-format, cpplint, gn-format

Cherry pick PR #11216: aosp: fix musl_statvfs layout
  .github/AUTOROLL
  starboard/shared/modular/starboard_layer_posix_statvfs_abi_wrappers.h
Due: clang-format, cpplint

Cherry pick PR #11537: starboard: Rename new NativeStability extension
  .github/AUTOROLL
  cobalt/browser/cobalt_browser_main_parts.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/system/system_get_extensions.cc
  starboard/crashpad_wrapper/wrapper.cc
  starboard/extension/extension_test.cc
  starboard/extension/native_stability.h
  starboard/linux/shared/system_get_extensions.cc
  starboard/nplb/nplb_evergreen_compat_tests/native_stability_test.cc
  starboard/shared/starboard/native_stability.cc
Due: clang-format, cpplint

Cherry pick PR #11339: aosp: normalize if_indextoname behavior
  .github/AUTOROLL
  starboard/android/shared/BUILD.gn
  starboard/android/shared/posix_emu/net_if.cc
  starboard/aosp/shared/platform_configuration/BUILD.gn
Due: clang-format, cpplint, gn-format

Create child class
  cobalt/shell/android/java/src/dev/cobalt/shell/ContentViewRenderView.java
Due: gcheckstyle, check-java-strings-have-locale

android/mic: return -1 from SbMicrophoneRead for a NULL buffer
  starboard/android/shared/microphone_impl.cc
  starboard/nplb/microphone_read_test.cc
Due: clang-format, cpplint

cobalt: Use activity Window surface for UI rendering
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/shell/android/java/src/dev/cobalt/shell/ContentViewRenderView.java
Due: gcheckstyle, check-java-strings-have-locale

android: Prevent false-positive & preroll frame drops post-seek
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/media_codec_video_decoder.h
  starboard/android/shared/video_frame_tracker.cc
  starboard/android/shared/video_frame_tracker.h
  starboard/android/shared/video_frame_tracker_test.cc
  starboard/android/shared/video_render_algorithm_android.cc
  starboard/android/shared/video_render_algorithm_android.h
  starboard/extension/feature_config.h
  starboard/shared/starboard/experimental_features.h
Due: clang-format, cpplint

demo: add dual pip demo
  cobalt/demos/content/picture-in-picture-demo/dual-pip-demo.html
  cobalt/demos/content/picture-in-picture-demo/dual-pip-demo.js
  cobalt/demos/content/picture-in-picture-demo/vp9-720p.webm
Due: none

Fix crash
  starboard/android/shared/media_codec_audio_decoder.cc
  starboard/android/shared/media_codec_audio_decoder.h
  starboard/android/shared/media_codec_decoder.cc
  starboard/android/shared/media_codec_decoder.h
  starboard/android/shared/media_codec_decoder_test.cc
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/media_codec_video_decoder.h
Due: clang-format, cpplint

android: Add changeType implementation
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/media_codec_video_decoder.h
  starboard/shared/stub/media_can_change_type.cc
Due: clang-format, cpplint

aosp: chdir to the app files dir at startup (#11460)
  starboard/aosp/shared/main_activity.cc
Due: clang-format, cpplint

Cherry pick PR #11460: aosp: chdir to the app files dir at startup
  .github/AUTOROLL
  starboard/aosp/shared/main_activity.cc
Due: clang-format, cpplint

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
