Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==17.0.1

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

[android] Fix media time drifts when playback resumes
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type.h
  starboard/android/shared/audio_track_bridge.cc
  starboard/android/shared/audio_track_bridge.h
  starboard/extension/feature_config.h
Due: clang-format, google-java-format, gcheckstyle

android: Disable flaky MediaCodecVideoDecoderTest (#6782)
  cobalt/testing/filters/android-arm/media_unittests_filter.json
  cobalt/testing/filters/android-arm64/media_unittests_filter.json
Due: none

Add workflow for /gemini-commit-message (#6719)
  .github/workflows/gemini-commit-message.yml
Due: none

fix(media): Use correct lock in MediaCodec callbacks
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: google-java-format, gcheckstyle

Bring 25.lts.1+ base customizations to trunk (#4800)
  base/BUILD.gn
  base/check.h
  base/functional/unretained_traits.h
  base/i18n/break_iterator_unittest.cc
  base/immediate_crash.h
  base/logging.cc
  base/task/thread_pool/thread_pool_instance.cc
  base/test/BUILD.gn
  base/third_party/nspr/prtime.cc
  base/time/pr_time_unittest.cc
  base/time/time.h
  base/time/time_now_starboard.cc
  base/time/time_starboard.cc
  base/time/time_unittest.cc
  base/trace_event/malloc_dump_provider.cc
  build/toolchain/linux/BUILD.gn
  cobalt/testing/filters/linux-x64x11/base_unittests_filter.json
  starboard/BUILD.gn
Due: gn-format

Re-enable OSSF scorecard upload (#4803)
  .github/workflows/scorecards.yaml
Due: none

[android] Fix sdk_utils.py path (#4702)
  cobalt/android/apk/app/build.gradle
Due: none

cobalt/browser: trivially extend ShellBrowserMainParts logic (#4808)
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
Due: clang-format

Add build_info.json to archives
  cobalt/build/android/package.py
  cobalt/build/linux/package.py
Due: yapf, pylint, python3-compatibility-check

Fix test result job failing if tests were not run (#4814)
  .github/workflows/main.yaml
Due: none

Point startup url to tv/splash (#4793)
  cobalt/android/apk/app/src/app/AndroidManifest.xml.jinja2
Due: none

Use the Starboard message pump. (#4772)
  base/BUILD.gn
  base/message_loop/message_pump_for_ui.h
  base/message_loop/message_pump_ui_starboard.cc
  base/message_loop/message_pump_ui_starboard.h
  base/run_loop.h
  base/task/current_thread.cc
  base/task/current_thread.h
  base/task/sequence_manager/sequence_manager_impl.cc
  base/task/sequence_manager/thread_controller.h
  base/task/sequence_manager/thread_controller_impl.cc
  base/task/sequence_manager/thread_controller_impl.h
  base/task/sequence_manager/thread_controller_with_message_pump_impl.cc
  base/task/sequence_manager/thread_controller_with_message_pump_impl.h
  base/test/BUILD.gn
  base/test/test_suite.cc
  base/test/test_support_starboard.cc
  base/test/test_support_starboard.h
  base/threading/thread_restrictions.h
  build/config/ozone.gni
  cobalt/BUILD.gn
  cobalt/build/configs/linux-x64x11/args.gn
  cobalt/cobalt.cc
  cobalt/cobalt_main_delegate.cc
  cobalt/cobalt_main_delegate.h
  cobalt/platform_event_source_starboard.cc
  cobalt/platform_event_source_starboard.h
  content/app/content_main.cc
  content/app/content_main_runner_impl.cc
  content/shell/app/shell_main_delegate.cc
  content/shell/browser/shell.cc
  content/zygote/zygote_main_linux.cc
  device/BUILD.gn
  ui/ozone/platform/starboard/BUILD.gn
  ui/ozone/platform/starboard/ozone_platform_starboard.cc
Due: clang-format, gn-format

Android: Remove Log.isDebug()
  base/android/java/src/org/chromium/base/Log.java
  chrome/android/expectations/monochrome_public_bundle.proguard_flags.expected
Due: none

Create a Starboard Extension to pass SurfaceView from StarboardRenderer to SbPlayer
  media/starboard/sbplayer_bridge.cc
  media/starboard/sbplayer_bridge.h
  starboard/android/shared/player_components_factory.cc
  starboard/android/shared/player_create.cc
  starboard/android/shared/player_set_video_surface_view.cc
  starboard/android/shared/player_set_video_surface_view.h
  starboard/android/shared/system_get_extensions.cc
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
  starboard/android/shared/video_surface_view.cc
  starboard/android/shared/video_surface_view.h
  starboard/extension/extension_test.cc
  starboard/extension/player_set_video_surface_view.h
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.cc
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.h
Due: clang-format

Update command to avoid it being picked up by gemini code assist
  .github/workflows/gemini-commit-message.yml
Due: none

Change location of test file
  starboard/android/shared/BUILD.gn
  starboard/shared/starboard/feature_list_test.cc
Due: clang-format, gn-format

Rename the command to avoid it being picked up by gemini code assist
  .github/workflows/gemini-commit-message.yml
Due: none

Android: Fix VERBOSE and DEBUG logs not appearing in debug builds
  base/android/java/src/org/chromium/base/Log.java
  build/android/java/templates/BuildConfig.template
  build/config/android/rules.gni
Due: none

Add limitAdTracking attribute under H5vccSystem (#4813)
  third_party/blink/renderer/modules/cobalt/h5vcc_system/h_5_vcc_system.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_system/h_5_vcc_system.h
  third_party/blink/renderer/modules/cobalt/h5vcc_system/h_5_vcc_system.idl
  third_party/blink/web_tests/external/wpt/cobalt/h5vcc-system/h5vcc-system.https.sub.html
Due: none

Use default symbol_level (#4686)
  cobalt/build/gn.py
Due: yapf, pylint, python3-compatibility-check

Add H5vccRuntime WEB IDL, set it as window.h5vcc.runtime (#4817)
  third_party/blink/renderer/bindings/generated_in_modules.gni
  third_party/blink/renderer/bindings/idl_in_modules.gni
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/h_5_vcc_runtime.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/h_5_vcc_runtime.h
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/h_5_vcc_runtime.idl
  third_party/blink/renderer/modules/cobalt/h_5_vcc.cc
  third_party/blink/renderer/modules/cobalt/h_5_vcc.h
  third_party/blink/web_tests/external/wpt/cobalt/h5vcc-runtime/h5vcc-runtime.https.sub.html
  third_party/blink/web_tests/external/wpt/cobalt/h5vcc-system/h5vcc-system.https.sub.html
Due: none

Clean CobaltContentRendererClient and remove unused functions/overrides (#4718)
  cobalt/renderer/cobalt_content_renderer_client.cc
  cobalt/renderer/cobalt_content_renderer_client.h
Due: clang-format

Run nplb on CI (#4799)
  cobalt/build/testing/targets/linux-x64x11/test_targets.json
Due: none

Remove sccache references (#4805)
  .github/workflows/main.yaml
  cobalt/build/gn.py
  cobalt/devinfra/kokoro/bin/common.sh
  cobalt/devinfra/kokoro/build/android/arm/common.gcl
  cobalt/devinfra/kokoro/build/android/arm64/common.gcl
  cobalt/devinfra/kokoro/build/android/x86/common.gcl
  cobalt/devinfra/kokoro/build/common.gcl
  cobalt/devinfra/kokoro/build/evergreen/arm-hardfp/common.gcl
  cobalt/devinfra/kokoro/build/evergreen/arm-softfp/common.gcl
  cobalt/devinfra/kokoro/build/evergreen/arm64/common.gcl
  cobalt/devinfra/kokoro/build/evergreen/x64/common.gcl
  cobalt/devinfra/kokoro/build/linux/internal/common.gcl
  cobalt/devinfra/kokoro/docker-compose.yaml
  starboard/tools/cache.py
Due: yapf, pylint, python3-compatibility-check

Cleanup SB Message pump customizations. (#4825)
  base/test/test_support_starboard.cc
  base/test/test_support_starboard.h
  build/config/ozone.gni
  cobalt/build/configs/linux-x64x11/args.gn
  ui/ozone/platform/starboard/BUILD.gn
Due: gn-format

Turn on _DISABLE_DEBUG_LOGS to avoid Java debug logs (#4818)
  build/config/android/rules.gni
Due: none

Add most build artifacts to Android archive
  cobalt/build/android/package.py
Due: yapf, pylint, python3-compatibility-check

Fix ODT dimensions (#4829)
  .github/actions/on_device_tests/action.yaml
  .github/config/android-arm.json
  .github/workflows/main.yaml
  cobalt/tools/on_device_tests_gateway_client.py
Due: yapf, pylint, python3-compatibility-check

Rename archives and base dirs to <platform_config>
  cobalt/devinfra/kokoro/bin/common.sh
Due: none

Don't copy package_dir name under gcs_archive_path
  cobalt/devinfra/kokoro/bin/common.sh
Due: none

Keep Java Bridge class names in release builds (#4843)
  cobalt/android/apk/app/proguard-rules.pro
Due: none

Build shared library binaries instead of executables for test targets (#4771)
  base/BUILD.gn
  base/allocator/partition_allocator/src/partition_alloc/partition_alloc_base/rand_util_posix.cc
  base/allocator/partition_allocator/src/partition_alloc/shim/allocator_shim_default_dispatch_to_partition_alloc.cc
  base/rand_util_posix.cc
  build/config/gcc/BUILD.gn
  cobalt/build/testing/cobalt_test_templates.gni
  device/bluetooth/BUILD.gn
  starboard/linux/x64x11/starboard_loader.cc
  testing/test.gni
Due: clang-format, gn-format

Add support for user on exit strategy. (#4757)
  cobalt/build/testing/targets/linux-x64x11/test_targets.json
  cobalt/configuration/BUILD.gn
  cobalt/configuration/configuration.cc
  cobalt/configuration/configuration.h
  cobalt/docker/linux/Dockerfile
  cobalt/renderer/BUILD.gn
  cobalt/renderer/cobalt_content_renderer_client.cc
  cobalt/renderer/cobalt_render_frame_observer.cc
  cobalt/renderer/cobalt_render_frame_observer.h
  cobalt/renderer/cobalt_render_frame_observer_browsertest.cc
Due: clang-format, gn-format

Add Crashpad handler to built binaries (#4811)
  .github/config/chromium_linux.json
  .github/config/linux.json
Due: none

Remove code owners for build files (#4844)
  .github/CODEOWNERS
Due: none

Enable on-device unit tests on android-arm64 (#4821)
  .github/config/android-arm64.json
  cobalt/build/testing/targets/android-arm64/test_targets.json
  cobalt/testing/filters/android-arm64/sql_unittests_filter.json
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  yapf: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  pylint: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  python3-compatibility-check: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  google-java-format: any of: \.java$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java
)
) and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  gn-format: any of: .*\.gni?$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

