Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, internal-file-check, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

yapf:
  name: yapf
  description: Run yapf (the python formatter) in-place on changed files.
  entry: yapf
  language: system
  args:
  - -i
  - -vv

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

google-java-format:
  name: google-java-format
  entry: python ./precommit_hooks/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: Lint Java With gcheckstyle
  entry: python ./precommit_hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-copyright-year:
  name: check copyright year
  entry: python ./precommit_hooks/check_copyright_year.py
  language: python
  stages:
  - push
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: python ./precommit_hooks/warn_that_starboard_interface_changed_wrapper.py
  language: python
  stages:
  - push

test-python3-compatibility:
  name: Test Python 3 Compatibility
  description: Checks that scripts can be run in Python 3
  entry: python precommit_hooks/python3_check.py
  language: python
  verbose: true

internal-file-check:
  name: Internal File Check
  entry: python precommit_hooks/internal_file_check_wrapper.py
  language: python

gn-format:
  name: GN format
  entry: gn format
  language: system

Remove android-arm test.
  cobalt/black_box_tests/black_box_tests.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Add blocking toggle to SetPersistentSettings. (#896)
  cobalt/persistent_storage/persistent_settings.cc
  cobalt/persistent_storage/persistent_settings.h
  cobalt/persistent_storage/persistent_settings_test.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Shrink Visual Studio base image for windows images (#949)
  docker/windows/base/visualstudio2022/Dockerfile
Due: check-copyright-year, internal-file-check

Another webp build fix (#948)
  third_party/libwebp/BUILD.gn
Due: none

Remove "internal build" flag from win32 (#943)
  starboard/win/win32/args.gn
Due: check-copyright-year, internal-file-check, gn-format

Add blocking toggle to SetPersistentSettings. (#896) (#952)
  cobalt/persistent_storage/persistent_settings.cc
  cobalt/persistent_storage/persistent_settings.h
  cobalt/persistent_storage/persistent_settings_test.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Fix wording nit
  starboard/memory_reporter.h
Due: clang-format, cpplint, check-copyright-year, check-if-starboard-interface-changed, internal-file-check

Add blocking toggle to SetPersistentSettings. (#896) (#951)
  cobalt/persistent_storage/persistent_settings.cc
  cobalt/persistent_storage/persistent_settings.h
  cobalt/persistent_storage/persistent_settings_test.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Remove "internal build" flag from win32 (#943) (#955)
  starboard/win/win32/args.gn
Due: check-copyright-year, internal-file-check, gn-format

Update docsite for 24.lts (#853) (#923)
  cobalt/site/docs/gen/cobalt/doc/cvals.md
  cobalt/site/docs/reference/starboard/configuration-public.md
  cobalt/site/docs/reference/starboard/modules/13/speech_recognizer.md
  cobalt/site/docs/reference/starboard/modules/14/speech_recognizer.md
Due: internal-file-check

[XB] Workaround to fix memory issue for Xbox One X
  starboard/shared/win32/video_decoder.cc
  starboard/xb1/shared/video_decoder_uwp.cc
  starboard/xb1/shared/video_decoder_uwp.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Add compile_commands.json to .gitignore
  .gitignore
Due: check-copyright-year, internal-file-check

Remove call sites to Memory Reporter (#941)
  starboard/CHANGELOG.md
  starboard/memory.h
  starboard/memory_reporter.h
  starboard/shared/posix/memory_map.cc
  starboard/shared/posix/memory_unmap.cc
  starboard/shared/starboard/memory.cc
  starboard/shared/starboard/memory_reporter_internal.h
  starboard/shared/starboard/thread_local_storage_internal.cc
  starboard/shared/win32/memory_map.cc
  starboard/shared/win32/memory_unmap.cc
  starboard/shared/win32/thread_create_local_key.cc
  starboard/shared/win32/thread_destroy_local_key.cc
Due: clang-format, cpplint, check-copyright-year, check-if-starboard-interface-changed, internal-file-check

[XB] Workaround to fix memory issue for Xbox One X (#787)
  starboard/shared/win32/video_decoder.cc
  starboard/xb1/shared/video_decoder_uwp.cc
  starboard/xb1/shared/video_decoder_uwp.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Add script to check build time on windows b/291665088
  tools/windows/win_compile_time_check.ps1
Due: check-copyright-year, internal-file-check

Create c++20 check for designated initializers
  starboard/build/config/base_configuration.gni
  starboard/nplb/BUILD.gn
  starboard/nplb/compiler_compliance/BUILD.gn
  starboard/nplb/compiler_compliance/cpp20_support.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Make gQUIC a persistent setting.
  cobalt/h5vcc/h5vcc_settings.cc
  cobalt/network/network_module.cc
  cobalt/network/network_module.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Simplify PersistentSetting initialization.
  cobalt/persistent_storage/persistent_settings.cc
  cobalt/persistent_storage/persistent_settings.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

[android] Update MediaCodec exception handling (#919)
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: google-java-format, gcheckstyle, check-copyright-year, internal-file-check

[android] Update MediaCodec exception handling (#919) (#960)
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: google-java-format, gcheckstyle, check-copyright-year, internal-file-check

Make warn_if_not_enabled static
  third_party/libwebp/src/dsp/cpu.c
Due: none

Make warn_if_not_enabled inline
  third_party/libwebp/src/dsp/cpu.c
Due: none

Use predicted first audio timestamp
  starboard/android/shared/audio_renderer_passthrough.cc
  starboard/android/shared/audio_renderer_passthrough.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

[android] Adjust media time during 5.1 playback
  starboard/android/shared/audio_renderer_passthrough.cc
  starboard/android/shared/audio_renderer_passthrough.h
  starboard/android/shared/video_render_algorithm.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Remove timestamp prediction
  starboard/android/shared/audio_renderer_passthrough.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Remove main definition in linux modular builds
  starboard/linux/x64x11/BUILD.gn
  starboard/linux/x64x11/clang/3.9/BUILD.gn
  starboard/linux/x64x11/egl/BUILD.gn
  starboard/linux/x64x11/gcc/6.3/BUILD.gn
  starboard/linux/x64x11/main.cc
  starboard/linux/x64x11/run_starboard_main.cc
  starboard/linux/x64x11/skia/BUILD.gn
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Make warn_if_not_enabled static (#962)
  third_party/libwebp/src/dsp/cpu.c
Due: none

Add sanity check to test build time on windows (#953)
  tools/windows/win_compile_time_check.ps1
Due: check-copyright-year, internal-file-check

[android] Adjust media time during 5.1 playback (#899)
  starboard/android/shared/audio_renderer_passthrough.cc
  starboard/android/shared/audio_renderer_passthrough.h
  starboard/android/shared/video_render_algorithm.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Make warn_if_not_enabled static (#962) (#964)
  third_party/libwebp/src/dsp/cpu.c
Due: none

Starboardize asserts
  third_party/libwebp/src/dsp/cost_neon.c
  third_party/libwebp/src/dsp/lossless_common.h
Due: none

Update libwebp_dsp_enc_sources
  third_party/libwebp/libwebp.gni
Due: none

Ignore warnings
  third_party/libwebp/BUILD.gn
Due: none

Add GN configuration for libwebp_sharpyuv
  third_party/libwebp/BUILD.gn
  third_party/libwebp/libwebp.gni
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^internal/starboard/shared/uikit/.*\.h$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  yapf: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  pylint: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  google-java-format: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gcheckstyle: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not ((?x)^(
    .pre-commit-config.yaml$|
    cobalt/media/|
    cobalt/layout_tests/testdata/|
    nb/|
    starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.cc$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.h$|
    starboard/shared/starboard/player/filter/wsola_internal.cc$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  check-if-starboard-interface-changed: any of: ^starboard/[^/]+\.h$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  test-python3-compatibility: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  internal-file-check: any of: not ((^docker-compose-windows(-internal)?.yml|EXCLUDE\.FILES(\.RECURSIVE)?|codereview\.settings)$), but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gn-format: any of: .*\.gni?$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

