Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

chromium-pre-commit:
  name: Chromium presubmit bridge
  entry: ./third_party/depot_tools/vpython3 --vpython-spec=./third_party/depot_tools/.vpython3 ./cobalt/precommit/run_chromium_presubmits.py
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==21.1.0

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=5
  - --quiet
  additional_dependencies:
  - cpplint==2.0.2

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

check-java-strings-have-locale:
  name: Check Java String.format includes Locale
  entry: python3 ./cobalt/precommit/check_java_strings_have_locale.py
  language: python

Cherry pick PR #10628: starboard: Avoid redundant free block scanning
  starboard/common/bidirectional_fit_reuse_allocator.h
Due: clang-format, cpplint

Cherry pick PR #10629: [test] Disable MH retries
  .github/config/raspi-2-modular.json
  cobalt/tools/on_device_tests_gateway_client.py
Due: yapf, pylint, python3-compatibility-check

Run br tests like unit test
  cobalt/tools/on_device_tests_gateway_client.py
Due: yapf, pylint, python3-compatibility-check

Add GPU::Trace stub to complete the WebGPU tracing chain and resolve LTO link-time undefined symbol error
  third_party/blink/renderer/modules/cobalt_modules_stubs.cc
Due: none

Cherry pick PR #10614: nplb: Move WaitForFinish() to AbstractTestThread
  starboard/nplb/BUILD.gn
  starboard/nplb/multiple_player_test.cc
  starboard/nplb/player_write_sample_test.cc
  starboard/nplb/posix_compliance/posix_thread_helpers.cc
  starboard/nplb/posix_compliance/posix_thread_helpers.h
  starboard/nplb/semaphore_test.cc
Due: clang-format, cpplint, gn-format

Cherry pick PR #10498: android: prevent TrustStoreAndroid network thread blocking on Startup
  net/BUILD.gn
  net/cert/internal/trust_store_android.cc
  net/cert/internal/trust_store_android.h
  net/cert/internal/trust_store_android_unittest.cc
Due: none

Cherry pick PR #10513: tvOS: Add app icon and top shelf image to non-official builds
  cobalt/shell/app/ios/resources/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Back.imagestacklayer/Content.imageset/Contents.json
  cobalt/shell/app/ios/resources/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Back.imagestacklayer/Contents.json
  cobalt/shell/app/ios/resources/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Contents.json
  cobalt/shell/app/ios/resources/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Front.imagestacklayer/Content.imageset/Contents.json
  cobalt/shell/app/ios/resources/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Front.imagestacklayer/Contents.json
  cobalt/shell/app/ios/resources/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Middle.imagestacklayer/Content.imageset/Contents.json
  cobalt/shell/app/ios/resources/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Middle.imagestacklayer/Contents.json
  cobalt/shell/app/ios/resources/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Back.imagestacklayer/Content.imageset/Contents.json
  cobalt/shell/app/ios/resources/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Back.imagestacklayer/Content.imageset/bg.png
  cobalt/shell/app/ios/resources/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Back.imagestacklayer/Contents.json
  cobalt/shell/app/ios/resources/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Contents.json
  cobalt/shell/app/ios/resources/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Front.imagestacklayer/Content.imageset/Contents.json
  cobalt/shell/app/ios/resources/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Front.imagestacklayer/Content.imageset/cobalt.png
  cobalt/shell/app/ios/resources/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Front.imagestacklayer/Contents.json
  cobalt/shell/app/ios/resources/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Middle.imagestacklayer/Content.imageset/Contents.json
  cobalt/shell/app/ios/resources/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Middle.imagestacklayer/Content.imageset/bg.png
  cobalt/shell/app/ios/resources/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Middle.imagestacklayer/Contents.json
  cobalt/shell/app/ios/resources/Assets.xcassets/App Icon & Top Shelf Image.brandassets/Contents.json
  cobalt/shell/app/ios/resources/Assets.xcassets/App Icon & Top Shelf Image.brandassets/Top Shelf Image Wide.imageset/Contents.json
  cobalt/shell/app/ios/resources/Assets.xcassets/App Icon & Top Shelf Image.brandassets/Top Shelf Image.imageset/Contents.json
  cobalt/shell/app/ios/resources/Assets.xcassets/App Icon & Top Shelf Image.brandassets/Top Shelf Image.imageset/cobalt.png
  cobalt/shell/app/ios/resources/BUILD.gn
Due: gn-format

Cherry pick PR #10618: Revert "Cherry pick PR #9837: android: Prevent dirty output buffer after flush"
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  cobalt/renderer/cobalt_content_renderer_client.cc
  media/base/ipc/media_param_traits_macros.h
  media/base/starboard/starboard_renderer_config.cc
  media/base/starboard/starboard_renderer_config.h
  media/starboard/sbplayer_bridge.cc
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_codec_decoder.cc
  starboard/android/shared/media_codec_decoder.h
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/media_codec_video_decoder.h
  starboard/extension/experimental_features.h
  starboard/shared/starboard/experimental_features.cc
  starboard/shared/starboard/experimental_features.h
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

Cherry pick PR #10621: media: Pre-allocate vectors in SbPlayerBridge
  media/starboard/sbplayer_bridge.cc
  media/starboard/sbplayer_bridge.h
Due: clang-format, cpplint

Cherry pick PR #10511: Remove Topics API behind disable_privacy_sandbox_apis flag
  content/browser/BUILD.gn
  content/browser/browser_interface_binders.cc
  content/browser/loader/subresource_proxying_url_loader.cc
  content/browser/loader/subresource_proxying_url_loader_service.cc
  content/browser/renderer_host/navigation_request.cc
  content/browser/renderer_host/render_frame_host_impl.cc
  content/browser/storage_partition_impl.cc
  content/browser/storage_partition_impl.h
  content/public/browser/storage_partition.h
  content/public/common/BUILD.gn
  content/public/common/features.gni
  content/public/test/test_storage_partition.cc
  content/public/test/test_storage_partition.h
  content/test/BUILD.gn
  third_party/blink/DEPS
  third_party/blink/public/BUILD.gn
  third_party/blink/renderer/core/BUILD.gn
  third_party/blink/renderer/core/core.gni
  third_party/blink/renderer/core/fetch/fetch_manager.cc
  third_party/blink/renderer/core/fetch/fetch_request_data.cc
  third_party/blink/renderer/core/fetch/fetch_request_data.h
  third_party/blink/renderer/core/fetch/request.cc
  third_party/blink/renderer/core/html/html_iframe_element.cc
  third_party/blink/renderer/core/html/parser/html_preload_scanner.cc
  third_party/blink/renderer/core/html/parser/preload_request.cc
  third_party/blink/renderer/core/html/parser/preload_request.h
  third_party/blink/renderer/core/loader/image_loader.cc
Due: none

Cherry pick PR #10484: Write file name and line number for Jni Java exception
  base/android/java/src/org/chromium/base/JniAndroid.java
  base/android/jni_android.cc
Due: none

Cherry pick PR #10611: evergreen: Add slot selection status to loader app metrics
  cobalt/browser/loader_app_metrics.cc
  tools/metrics/histograms/metadata/cobalt/enums.xml
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: clang-format, cpplint

rdk: Fix memory deallocation mismatch in PlayerImpl::SetBounds (#10632)
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/player/player_internal.cc
Due: none

Prune Web Bluetooth, WebUSB, WebHID, Web Serial, Web NFC, and WebNN/ML from Cobalt Android build
  third_party/blink/renderer/bindings/bindings.gni
  third_party/blink/renderer/bindings/modules/v8/BUILD.gn
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/cobalt_modules_stubs.cc
  third_party/blink/renderer/modules/service_worker/BUILD.gn
  third_party/blink/renderer/modules/service_worker/service_worker_global_scope.cc
Due: none

Define wrapper_type_info_ for linux web tests compilation
  third_party/blink/renderer/modules/cobalt_modules_stubs.cc
Due: none

Refactor Starboard Player bounds pipeline to use starboard::Rect
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/player_set_bounds.cc
  starboard/common/BUILD.gn
  starboard/common/rect.cc
  starboard/common/rect.h
  starboard/common/rect_test.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/player/player_internal.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/player/player_internal.h
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/player/player_set_bounds.cc
  starboard/raspi/shared/application_dispmanx.cc
  starboard/raspi/shared/application_dispmanx.h
  starboard/raspi/shared/video_renderer_sink_impl.cc
  starboard/raspi/shared/video_renderer_sink_impl.h
  starboard/shared/starboard/application.cc
  starboard/shared/starboard/application.h
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.cc
  starboard/shared/starboard/player/filter/punchout_video_renderer_sink.cc
  starboard/shared/starboard/player/filter/punchout_video_renderer_sink.h
  starboard/shared/starboard/player/filter/video_renderer_internal.h
  starboard/shared/starboard/player/filter/video_renderer_internal_impl.cc
  starboard/shared/starboard/player/filter/video_renderer_internal_impl.h
  starboard/shared/starboard/player/filter/video_renderer_sink.h
  starboard/shared/starboard/player/player_internal.cc
  starboard/shared/starboard/player/player_internal.h
  starboard/shared/starboard/player/player_worker.h
  starboard/shared/x11/application_x11.cc
  starboard/shared/x11/application_x11.h
  starboard/shared/x11/player_set_bounds.cc
  starboard/shared/x11/window_internal.cc
  starboard/shared/x11/window_internal.h
  starboard/tvos/shared/media/av_sample_buffer_video_renderer.h
  starboard/tvos/shared/media/av_sample_buffer_video_renderer.mm
  starboard/tvos/shared/media/player_set_bounds.mm
Due: clang-format, cpplint, gn-format

Address comments
  starboard/common/rect.h
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/player/player_internal.cc
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.cc
Due: clang-format, cpplint

Cherry pick PR #10625: Deprecate kSbHasThreadPrioritySupport
  starboard/CHANGELOG.md
  starboard/android/shared/configuration_constants.cc
  starboard/configuration_constants.h
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/configuration_constants.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm64/configuration_constants.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/rpi/configuration_constants.cc
  starboard/elf_loader/exported_symbols.cc
  starboard/linux/shared/configuration_constants.cc
  starboard/nplb/posix_compliance/posix_priority_test.cc
  starboard/raspi/shared/configuration_constants.cc
  starboard/stub/configuration_constants.cc
  starboard/tvos/shared/configuration_constants.cc
Due: clang-format, cpplint

Cherry pick PR #10617: android: Clarify smoke test dependency for browser init log
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: gcheckstyle, check-java-strings-have-locale

Cherry pick PR #10632: rdk: Fix memory deallocation mismatch in PlayerImpl::SetBounds
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/player/player_internal.cc
Due: none

Update cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.cc
Due: clang-format, cpplint

cobalt: Cache GetExperimentConfigType result to avoid duplicate UMA enumeration
  cobalt/browser/experiments/experiment_config_manager.cc
  cobalt/browser/experiments/experiment_config_manager.h
Due: clang-format, cpplint

correct the manifest package name
  cobalt/testing/browser_tests/BUILD.gn
Due: gn-format

resolve webgpu_access_texture_
  third_party/blink/renderer/modules/canvas/canvas2d/base_rendering_context_2d.cc
Due: none

Fix build
  starboard/common/rect.h
Due: clang-format, cpplint

xr compatible build error for linux web tests
  third_party/blink/renderer/modules/cobalt_modules_stubs.cc
Due: none

Address comments
  starboard/common/rect.h
  starboard/common/rect_test.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/player/player_internal.cc
  starboard/raspi/shared/video_renderer_sink_impl.cc
  starboard/shared/starboard/player/filter/punchout_video_renderer_sink.cc
Due: clang-format, cpplint

cobalt: Use std::optional for cached config type (#10636)
  cobalt/browser/experiments/experiment_config_manager.cc
  cobalt/browser/experiments/experiment_config_manager.h
Due: clang-format, cpplint

Rebase refresh on 2026-05-27 for m144.
  DEPS
Due: none

media: Add CodecFinding tests for MediaCapabilitiesCache
  starboard/android/shared/media_capabilities_cache.cc
  starboard/android/shared/media_capabilities_cache.h
  starboard/android/shared/media_capabilities_cache_test.cc
  starboard/android/shared/mock_media_capabilities_cache.h
Due: clang-format, cpplint

Cherry pick PR #10636: cobalt: Use std::optional for cached config type
  cobalt/browser/experiments/experiment_config_manager.cc
  cobalt/browser/experiments/experiment_config_manager.h
Due: clang-format, cpplint

cobalt: Reintroduce window.onScreenKeyboard, use it on tvOS for native search elements
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_interface_binders.cc
  cobalt/browser/on_screen_keyboard/BUILD.gn
  cobalt/browser/on_screen_keyboard/on_screen_keyboard_impl_base.cc
  cobalt/browser/on_screen_keyboard/on_screen_keyboard_impl_base.h
  cobalt/browser/on_screen_keyboard/on_screen_keyboard_impl_stub.cc
  cobalt/browser/on_screen_keyboard/on_screen_keyboard_impl_stub.h
  cobalt/browser/on_screen_keyboard/on_screen_keyboard_impl_tvos.h
  cobalt/browser/on_screen_keyboard/on_screen_keyboard_impl_tvos.mm
  cobalt/browser/on_screen_keyboard/public/mojom/BUILD.gn
  cobalt/browser/on_screen_keyboard/public/mojom/on_screen_keyboard.mojom
  cobalt/shell/browser/shell_platform_delegate_ios.mm
  content/browser/renderer_host/render_widget_host_view_base.h
  content/browser/renderer_host/render_widget_host_view_ios.h
  content/browser/renderer_host/render_widget_host_view_ios.mm
  content/public/browser/render_widget_host_view.h
  starboard/tvos/shared/application_darwin.mm
  starboard/tvos/shared/starboard_application.h
  third_party/blink/renderer/bindings/generated_in_modules.gni
  third_party/blink/renderer/bindings/idl_in_modules.gni
  third_party/blink/renderer/core/events/event_type_names.json5
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/cobalt/BUILD.gn
  third_party/blink/renderer/modules/cobalt/on_screen_keyboard/BUILD.gn
  third_party/blink/renderer/modules/cobalt/on_screen_keyboard/on_screen_keyboard.cc
  third_party/blink/renderer/modules/cobalt/on_screen_keyboard/on_screen_keyboard.h
  third_party/blink/renderer/modules/cobalt/on_screen_keyboard/on_screen_keyboard.idl
  third_party/blink/renderer/modules/cobalt/on_screen_keyboard/window_on_screen_keyboard.idl
  third_party/blink/renderer/modules/event_target_modules_names.json5
Due: clang-format, cpplint, gn-format

Make keyboardManagerDelegate a weak property
  cobalt/shell/browser/shell_platform_delegate_ios.mm
  starboard/tvos/shared/starboard_application.h
Due: clang-format, cpplint

Compare NSString*s correctly
  cobalt/shell/browser/shell_platform_delegate_ios.mm
Due: none

Use a weak reference to _keyboardManagerDelegate in block
  cobalt/shell/browser/shell_platform_delegate_ios.mm
Due: none

Fix weak_ptr_factory_'s type
  cobalt/browser/on_screen_keyboard/on_screen_keyboard_impl_tvos.h
Due: clang-format, cpplint

Create OnScreenKeyboardObserver callbacks with WeakPtr
  cobalt/browser/on_screen_keyboard/on_screen_keyboard_impl_tvos.mm
Due: none

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
