Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

chromium-pre-commit:
  name: Chromium presubmit bridge
  entry: ./third_party/depot_tools/vpython3 --vpython-spec=./third_party/depot_tools/.vpython3 ./cobalt/precommit/run_chromium_presubmits.py
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==21.1.0

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=5
  - --quiet
  additional_dependencies:
  - cpplint==2.0.2

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

check-java-strings-have-locale:
  name: Check Java String.format includes Locale
  entry: python3 ./cobalt/precommit/check_java_strings_have_locale.py
  language: python

use raw_ptr
  starboard/android/shared/drm_system.h
Due: clang-format, cpplint

android: Refactor VolumeStateReceiever
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/VolumeStateReceiver.java
Due: gcheckstyle, check-java-strings-have-locale

media: Convert macros to BUILDFLAGs
  media/starboard/BUILD.gn
  media/starboard/sbplayer_bridge.cc
  media/starboard/sbplayer_bridge.h
  media/starboard/sbplayer_interface.h
  media/starboard/starboard_renderer.cc
Due: clang-format, cpplint, gn-format

Use a little `nm` in API leak detector
  starboard/tools/api_leak_detector/api_leak_detector.py
Due: yapf, pylint, python3-compatibility-check

static_cast->const_cast
  media/audio/android/starboard_audio_input_stream.cc
Due: none

Pretty print cobalt histograms.xml (#10274)
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: none

docs: Add release notes for 24.LTS.60 (#10275)
  cobalt/site/docs/reference/starboard/modules/18/thread.md
  cobalt/site/docs/reference/starboard/modules/thread.md
  cobalt/site/docs/releases/24.LTS.60.md
Due: none

Implement a fifo buffer to handle bursty delivery
  media/audio/starboard/audio_input_stream_starboard.cc
  media/audio/starboard/audio_input_stream_starboard.h
Due: clang-format, cpplint

unify MetricsPollingState
  cobalt/browser/metrics/cobalt_metrics_service_client.cc
Due: clang-format, cpplint

Add buildflag include
  media/starboard/sbplayer_bridge.cc
Due: clang-format, cpplint

starboard: Apply const to member variables in DrmSystem (#10277)
  starboard/android/shared/drm_system.cc
  starboard/android/shared/drm_system.h
Due: clang-format, cpplint

Refactor starboard_platform target into multiple source_sets
  starboard/android/shared/BUILD.gn
  starboard/extension/BUILD.gn
Due: gn-format

Remove remaining is_valid calls and rename internal is_valid in ffmpeg codes
  starboard/linux/shared/player_components_factory.cc
  starboard/raspi/shared/player_components_factory.cc
  starboard/shared/ffmpeg/ffmpeg_audio_decoder.h
  starboard/shared/ffmpeg/ffmpeg_audio_decoder_impl.cc
  starboard/shared/ffmpeg/ffmpeg_audio_decoder_impl.h
  starboard/shared/ffmpeg/ffmpeg_audio_decoder_impl_interface.h
  starboard/shared/ffmpeg/ffmpeg_audio_decoder_test.cc
  starboard/shared/ffmpeg/ffmpeg_dispatch.h
  starboard/shared/ffmpeg/ffmpeg_dynamic_load_audio_decoder_impl.cc
  starboard/shared/ffmpeg/ffmpeg_dynamic_load_dispatch_impl.cc
  starboard/shared/ffmpeg/ffmpeg_dynamic_load_video_decoder_impl.cc
  starboard/shared/ffmpeg/ffmpeg_linked_audio_decoder_impl.cc
  starboard/shared/ffmpeg/ffmpeg_linked_dispatch_impl.cc
  starboard/shared/ffmpeg/ffmpeg_linked_video_decoder_impl.cc
  starboard/shared/ffmpeg/ffmpeg_video_decoder.h
  starboard/shared/ffmpeg/ffmpeg_video_decoder_impl.cc
  starboard/shared/ffmpeg/ffmpeg_video_decoder_impl.h
  starboard/shared/ffmpeg/ffmpeg_video_decoder_impl_interface.h
Due: clang-format, cpplint

Rebase refresh on 2026-04-30 for m144.
  DEPS
Due: none

[Cobalt] Add Cobalt.Network.NavigationTimeout histogram (#10255)
  cobalt/browser/cobalt_web_contents_observer.cc
  cobalt/browser/cobalt_web_contents_observer.h
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: clang-format, cpplint

media: Convert macros to BUILDFLAGs (#10280)
  media/starboard/BUILD.gn
  media/starboard/sbplayer_bridge.cc
  media/starboard/sbplayer_bridge.h
  media/starboard/sbplayer_interface.h
  media/starboard/starboard_renderer.cc
Due: clang-format, cpplint, gn-format

[nplb] Make VP9 Profile 2 optional for non-HDR devices in MinimumSupport
  starboard/nplb/media_can_play_mime_and_key_system_test.cc
Due: clang-format, cpplint

Cherry pick PR #9914: rdk: Pythonic deployment tool
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk.py
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk_test.py
Due: none

Cherry pick PR #10249: autoroll: Ignore PR changing deleted files
  .github/scripts/autoroll_lts.py
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #9945: Cherry pick PR #9940: Add freeze logging to debug on Cobalt ATV.
  base/threading/hang_watcher.cc
  components/crash/core/app/crashpad_android.cc
  third_party/crashpad/crashpad/handler/handler_main.cc
  third_party/crashpad/crashpad/handler/linux/crash_report_exception_handler.cc
Due: none

Cherry pick PR #10103: tvOS: Add stub decode_target_get_info.cc to the build
  starboard/tvos/shared/BUILD.gn
Due: gn-format

Cherry pick PR #10211: starboard: Add Perfetto tracing for media operations
  starboard/android/shared/player_create.cc
  starboard/android/shared/video_decoder.cc
  starboard/linux/shared/BUILD.gn
  starboard/shared/opus/opus_audio_decoder.cc
  starboard/shared/starboard/media/BUILD.gn
  starboard/shared/starboard/media/media_tracing.cc
  starboard/shared/starboard/media/media_tracing.h
  starboard/shared/starboard/player/filter/BUILD.gn
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.cc
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.h
Due: clang-format, cpplint, gn-format

Cherry pick PR #10167: Cherry pick PR #9736: cobalt/metrics: Add granular memory breakdown from smaps
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
  cobalt/browser/metrics/cobalt_metrics_service_client_test.cc
  services/resource_coordinator/memory_instrumentation/queued_request_dispatcher.cc
  services/resource_coordinator/public/cpp/memory_instrumentation/os_metrics_linux.cc
  services/resource_coordinator/public/mojom/memory_instrumentation/memory_instrumentation.mojom
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: clang-format, cpplint

Cherry pick PR #10146: starboard: Optimize ThreadChecker by caching thread ID in TLS
  starboard/benchmark/BUILD.gn
  starboard/benchmark/thread_id_benchmark.cc
  starboard/shared/starboard/thread_checker.h
Due: clang-format, cpplint, gn-format

Cherry pick PR #10251: Fix CobaltMetricsBrowserTest.RecordCpuMetrics
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
Due: clang-format, cpplint

Cherry pick PR #10212: media: Support l3 key system
  cobalt/renderer/cobalt_content_renderer_client.cc
  cobalt/renderer/cobalt_content_renderer_client.h
Due: clang-format, cpplint

Cherry pick PR #10242: Remove starboard/version.h
  starboard/version.h
Due: clang-format, cpplint

Cherry pick PR #10228: aosp: Fix assumptions about Android
  base/BUILD.gn
  content/browser/BUILD.gn
  device/bluetooth/BUILD.gn
Due: none

Cherry pick PR #9959: tvOS: Respect --disable-splash-screen, change initialization flow
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell_platform_delegate_ios.mm
Due: clang-format, cpplint

Cherry pick PR #10160: media: Allow audio writing on pause to reduce latency
  starboard/android/shared/audio_sink_min_required_frames_tester.cc
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type.h
  starboard/android/shared/player_components_factory.cc
  starboard/shared/starboard/experimental_features.h
  starboard/shared/starboard/player/filter/audio_renderer_internal_pcm.cc
Due: clang-format, cpplint

Cherry pick PR #10176: aosp: Rename Android message pump
  copied_base/base/android/java_handler_thread.h
  copied_base/base/message_loop/message_pump_android.cc
  copied_base/base/message_loop/message_pump_android.h
  copied_base/base/message_loop/message_pump_for_ui.h
  copied_base/base/run_loop.h
Due: none

Cherry pick PR #10118: aosp: temporarily disable some Cobalt features
  build/build_config.h
  cobalt/build/configs/BUILD.gn
  starboard/android/shared/BUILD.gn
  starboard/android/shared/starboard_bridge.cc
  starboard/android/shared/text_to_speech_helper.cc
Due: clang-format, cpplint, gn-format

Cherry pick PR #10248: android: Fix SbDecodeTarget memory corruption and GL crash during seek
  starboard/android/shared/video_decoder.cc
Due: clang-format, cpplint

Cherry pick PR #10229: tvOS: Remove some deprecated and empty app lifecycle functions
  cobalt/app/tvos/main.mm
Due: none

Cherry pick PR #10216: media: Remove redundant size_ from DecoderBuffer
  media/base/decoder_buffer.cc
  media/base/decoder_buffer.h
Due: none

Cherry pick PR #10206: media: Fix crash at null AndroidOverlayMojoFactoryCB
  media/mojo/services/gpu_mojo_media_client.cc
  media/mojo/services/gpu_mojo_media_client.h
  media/mojo/services/starboard/starboard_renderer_wrapper_unittest.cc
Due: clang-format, cpplint

Cherry pick PR #10116: Revert change to upstream style for 3p code
  third_party/zlib/google/compression_utils.cc
Due: none

Cherry pick PR #10083: Add musl statx
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/api_leak_detector/evergreen/dev_manifest
  starboard/tools/api_leak_detector/evergreen/manifest
  third_party/musl/BUILD.gn
  third_party/musl/include/sys/stat.h
  third_party/musl/src/linux/statx.c
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #10252: Plumb collect_test_artifacts for cobalt_browsertests for tvOS
  cobalt/testing/browser_tests/tools/collect_test_artifacts.py
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #10227: BACKPORT: ios: Skip swiftdeps in Xcode 26 beta 1 with whole-module-optimization
  build/toolchain/apple/toolchain.gni
Due: none

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
