Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

chromium-pre-commit:
  name: Chromium presubmit bridge
  entry: ./third_party/depot_tools/vpython3 --vpython-spec=./third_party/depot_tools/.vpython3 ./cobalt/precommit/run_chromium_presubmits.py
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==21.1.0

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=5
  - --quiet
  additional_dependencies:
  - cpplint==2.0.2

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

check-java-strings-have-locale:
  name: Check Java String.format includes Locale
  entry: python3 ./cobalt/precommit/check_java_strings_have_locale.py
  language: python

Cherry pick PR #11036: [Profiling] Implement thread-safe in-process heap profiler gated under non-official builds
  .github/AUTOROLL
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_main_parts.cc
Due: clang-format, cpplint, gn-format

Cherry pick PR #10845: Gate Shared Storage under enable_privacy_sandbox_apis
  .github/AUTOROLL
  content/browser/BUILD.gn
  content/browser/devtools/protocol/storage_handler.cc
  content/browser/devtools/shared_storage_worklet_devtools_agent_host.cc
  content/browser/interest_group/auction_shared_storage_host.cc
  content/browser/renderer_host/page_impl.cc
  content/browser/renderer_host/page_impl.h
  content/browser/renderer_host/render_frame_host_impl_interface_binders.cc
  content/browser/shared_storage/shared_storage_runtime_manager.h
  content/browser/storage_partition_impl.cc
  content/browser/storage_partition_impl.h
  content/browser/web_contents/web_contents_impl.cc
  content/public/test/shared_storage_test_utils.cc
  content/public/test/shared_storage_test_utils.h
  content/renderer/agent_scheduling_group.cc
  third_party/blink/renderer/bindings/bindings.gni
  third_party/blink/renderer/bindings/idl_in_modules.gni
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/exported/BUILD.gn
  third_party/blink/renderer/modules/locks/BUILD.gn
  third_party/blink/renderer/modules/locks/lock_manager.cc
  third_party/blink/renderer/modules/permissions/permission_utils.cc
Due: none

Cherry pick PR #11094: BACKPORT: WebContentsViewIOS: Remove native view from hierarchy on destruction
  .github/AUTOROLL
  content/browser/web_contents/web_contents_view_ios.mm
Due: none

Cherry pick PR #10466: cobalt: Reintroduce window.onScreenKeyboard, use it on tvOS for native search elements
  .github/AUTOROLL
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_interface_binders.cc
  cobalt/browser/on_screen_keyboard/BUILD.gn
  cobalt/browser/on_screen_keyboard/on_screen_keyboard_impl.cc
  cobalt/browser/on_screen_keyboard/on_screen_keyboard_impl.h
  cobalt/browser/on_screen_keyboard/platform_on_screen_keyboard.cc
  cobalt/browser/on_screen_keyboard/platform_on_screen_keyboard.h
  cobalt/browser/on_screen_keyboard/public/mojom/BUILD.gn
  cobalt/browser/on_screen_keyboard/public/mojom/on_screen_keyboard.mojom
  cobalt/build/configs/BUILD.gn
  cobalt/build/configs/cobalt.gni
  cobalt/build/configs/tvos_common.gn
  cobalt/shell/BUILD.gn
  cobalt/shell/browser/on_screen_keyboard/tvos/cobalt_search_container_view_controller.h
  cobalt/shell/browser/on_screen_keyboard/tvos/cobalt_search_container_view_controller.mm
  cobalt/shell/browser/on_screen_keyboard/tvos/cobalt_search_controller.h
  cobalt/shell/browser/on_screen_keyboard/tvos/cobalt_search_controller.mm
  cobalt/shell/browser/on_screen_keyboard/tvos/cobalt_search_results_controller.h
  cobalt/shell/browser/on_screen_keyboard/tvos/cobalt_search_results_controller.mm
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell.h
  cobalt/shell/browser/shell_platform_delegate.h
  cobalt/shell/browser/shell_platform_delegate_ios.mm
  content/browser/renderer_host/render_widget_host_view_base.h
  content/browser/renderer_host/render_widget_host_view_ios.h
  content/browser/renderer_host/render_widget_host_view_ios.mm
  content/public/browser/render_widget_host_view.h
  third_party/blink/renderer/bindings/generated_in_modules.gni
  third_party/blink/renderer/bindings/idl_in_modules.gni
  third_party/blink/renderer/core/events/event_type_names.json5
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/cobalt/BUILD.gn
  third_party/blink/renderer/modules/cobalt/on_screen_keyboard/BUILD.gn
  third_party/blink/renderer/modules/cobalt/on_screen_keyboard/on_screen_keyboard.cc
  third_party/blink/renderer/modules/cobalt/on_screen_keyboard/on_screen_keyboard.h
  third_party/blink/renderer/modules/cobalt/on_screen_keyboard/on_screen_keyboard.idl
  third_party/blink/renderer/modules/cobalt/on_screen_keyboard/window_on_screen_keyboard.idl
  third_party/blink/renderer/modules/event_target_modules_names.json5
Due: clang-format, cpplint, gn-format

Cherry pick PR #11202: tvOS: Always invoke GetPlatformWindow() from the main (UI) thread
  .github/AUTOROLL
  starboard/tvos/shared/media/av_sample_buffer_video_renderer.mm
Due: none

Cherry pick PR #11204: tvOS: Fix build after #11029 (ATV stack sanitization)
  .github/AUTOROLL
  cobalt/app/cobalt_crash_reporter_client.cc
  cobalt/app/cobalt_crash_reporter_client.h
Due: clang-format, cpplint

Cherry pick PR #10942: android: Enforce ANGLE to use GL ES backend
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
Due: gcheckstyle, check-java-strings-have-locale

Cherry pick PR #11174: [starboard] Deprecate Raspberry Pi 2: Clean up CI and infrastructure
  .github/AUTOROLL
  .github/actions/depot_tools/action.yaml
  .github/actions/internal_tests/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
  .github/config/evergreen-arm-hardfp-raspi.json
  .github/config/raspi-2-modular.json
  .github/workflows/evergreen_staging.yaml
  cobalt/devinfra/kokoro/bin/dind_build.sh
  cobalt/devinfra/kokoro/bin/dind_py/dind_common.py
  cobalt/devinfra/kokoro/build/evergreen/arm-hardfp-raspi/common.gcl
  cobalt/devinfra/kokoro/build/evergreen/arm-hardfp-raspi/sbversion-18_gold.gcl
  cobalt/devinfra/kokoro/build/evergreen/arm-hardfp-raspi/sbversion-18_qa.gcl
  cobalt/docker/raspi/Dockerfile
  docker-compose.yaml
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #11221: media: Defer read counter decrement in bypass bridge
  .github/AUTOROLL
  media/mojo/clients/starboard/starboard_renderer_client_unittest.cc
  media/mojo/common/BUILD.gn
  media/mojo/common/starboard/mojo_renderer_bypass_bridge.cc
  media/mojo/common/starboard/mojo_renderer_bypass_bridge.h
  media/mojo/common/starboard/mojo_renderer_bypass_bridge_unittest.cc
Due: clang-format, cpplint

Cherry pick PR #11170: media: Area based buffer budget experiment
  .github/AUTOROLL
  starboard/android/shared/media_get_video_buffer_budget.cc
  starboard/extension/feature_config.h
Due: clang-format, cpplint

Cherry pick PR #11037: [Profiling] Create in-process heap profiling symbolizer
  .github/AUTOROLL
  cobalt/BUILD.gn
  cobalt/tools/performance/memory/symbolize_in_process_heap.py
  cobalt/tools/performance/memory/symbolize_in_process_heap_unittest.cc
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check, gn-format

Cherry pick PR #11218: Revert "westerossink: set stop-keep-frame property to true (#11040)"
  .github/AUTOROLL
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/player/player_internal.cc
Due: none

Cherry pick PR #11124: media: Fix race condition in audio teardown
  .github/AUTOROLL
  media/audio/android/starboard_audio_input_stream.cc
Due: none

Cherry pick PR #11223: [cobalt] Set default force-gpu-mem-available-mb to 64MB
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
  cobalt/app/cobalt_switch_defaults_starboard.cc
  cobalt/app/cobalt_switch_defaults_starboard_test.cc
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

Cherry pick PR #11161: cobalt: Disable MemoryCacheStrongReference by default on Starboard
  .github/AUTOROLL
  cobalt/app/cobalt_switch_defaults_starboard.cc
  cobalt/app/cobalt_switch_defaults_starboard_test.cc
Due: clang-format, cpplint

Cherry pick PR #11210: Remove unused env var from nightly devel build
  .github/AUTOROLL
  cobalt/devinfra/kokoro/build/tvos/arm64/devel.gcl
Due: none

Cherry pick PR #11093: android: Extract BrowserStarboardBridge from StarboardBridge
  .github/AUTOROLL
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/app/java/dev/cobalt/app/CobaltApplication.java
  cobalt/android/apk/app/src/app/java/dev/cobalt/app/MainActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/BrowserStarboardBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/CobaltActivityTest.java
  cobalt/testing/browser_tests/browsertests_apk/src/org/chromium/content_browsertests_apk/ContentShellBrowserTestActivity.java
Due: gcheckstyle, gn-format, check-java-strings-have-locale

fix warning
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: gcheckstyle, check-java-strings-have-locale

RESOLVED Cherry pick PR #11174: [starboard] Deprecate Raspberry Pi 2: Clean up CI and infrastructure
  .github/AUTOROLL
  .github/workflows/raspi-2-modular_27.lts.yaml
Due: none

Cherry pick PR #11029: Enable stack sanitization for Android TV
  .github/AUTOROLL
  cobalt/app/cobalt_crash_reporter_client.cc
  cobalt/app/cobalt_crash_reporter_client.h
  components/crash/core/app/crashpad_android.cc
Due: clang-format, cpplint

Cherry pick PR #11078: android: Remove hard code 4kb page size for arm 32 bit devices
  .github/AUTOROLL
  base/allocator/partition_allocator/src/partition_alloc/address_pool_manager_bitmap.h
  base/allocator/partition_allocator/src/partition_alloc/address_pool_manager_unittest.cc
  base/allocator/partition_allocator/src/partition_alloc/address_space_randomization.h
  base/allocator/partition_allocator/src/partition_alloc/page_allocator_constants.h
  base/allocator/partition_allocator/src/partition_alloc/partition_address_space.cc
Due: none

Cherry pick PR #11183: net: Enforce restricted HTTP caching by default
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/shell/common/shell_switches.cc
  cobalt/shell/common/shell_switches.h
  net/http/http_cache_transaction.cc
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

Cherry pick PR #11166: Cleanup formatting for devsite and re-generate
  .github/AUTOROLL
  cobalt/site/docs/codelabs/starboard_extensions/codelab.md
  cobalt/site/docs/development/reference/supported-features.md
  cobalt/site/docs/development/reference/troubleshooting.md
  cobalt/site/docs/development/setup-android.md
  cobalt/site/docs/development/setup-docker.md
  cobalt/site/docs/development/setup-rdk.md
  cobalt/site/docs/gen/starboard/doc/eap/25_to_27.md
  cobalt/site/docs/gen/starboard/doc/eap/crashpad_integration.md
  cobalt/site/docs/gen/starboard/doc/evergreen/symbolizing_minidumps.md
  cobalt/site/docs/overview.md
  cobalt/site/docs/releases/2025-lts-rc.md
  cobalt/site/docs/releases/26.EAP.md
  cobalt/site/docs/releases/27.LTS.1.md
  cobalt/site/docs/starboard/porting.md
  cobalt/site/docs/starboard/testing.md
  starboard/doc/eap/25_to_27.md
  starboard/doc/eap/crashpad_integration.md
  starboard/doc/evergreen/symbolizing_minidumps.md
Due: none

Cherry pick PR #11139: Add build config of devel for tvOS nightly
  .github/AUTOROLL
  cobalt/devinfra/kokoro/build/tvos/arm64/devel.gcl
Due: none

Cherry pick PR #11063: copied_base: Delegate JNI to jni_zero
  .github/AUTOROLL
  copied_base/base/BUILD.gn
  copied_base/base/android/base_jni_onload.cc
  copied_base/base/android/java/src/org/chromium/base/JniAndroid.java
  copied_base/base/android/jni_android.cc
  copied_base/base/android/jni_android.h
  copied_base/base/debug/cobalt_unwind_stubs.cc
  copied_base/base/system/sys_info_android.cc
Due: none

Cherry pick PR #11179: Add autoroll-format pre-commit check.
  .github/AUTOROLL
  .pre-commit-config.yaml
  cobalt/precommit/autoroll_check.py
Due: yapf, pylint, python3-compatibility-check

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
