Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)

Cherry pick PR #12463: starboard: Fix type in SbFeatureParamExt
  .github/AUTOROLL
  starboard/android/shared/BUILD.gn
  starboard/shared/starboard/feature_list.h
  starboard/shared/starboard/feature_list_test.cc
Due: clang-format, cpplint, gn-format

FIXES Cherry pick PR #12410: cobalt/metrics: Add Android process exit reason tracking via stability PMA
  cobalt/browser/cobalt_browser_main_parts.cc
Due: clang-format, cpplint

FIXES CONFLICTED Cherry pick PR #12202: Check ExperimentConfigManager before applying experiment configs in JavaSwitches (#12633)
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
Due: gcheckstyle, check-java-strings-have-locale

Cherry pick PR #12464: ci: Handle empty test requests gracefully in ODT gateway client
  .github/AUTOROLL
  cobalt/tools/on_device_tests_gateway_client.py
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #12471: ci: Fix CI Shepherd PR resolution for fork pull requests
  .github/AUTOROLL
  .github/workflows/ci_shepherd.yml
Due: none

Cherry pick PR #11162: android: Migrate Android lifecycle handling to AppEventDelegate
  .github/AUTOROLL
  base/message_loop/message_pump_android.cc
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/AppEventBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/BaseCobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/BaseStarboardBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/NetworkStatus.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/CobaltActivityTest.java
  cobalt/android/app_event_bridge.cc
  cobalt/app/app_event_runner.cc
  cobalt/browser/performance/performance_impl.cc
  cobalt/shell/browser/shell_browser_main_parts.cc
  cobalt/shell/browser/shell_platform_delegate.cc
  cobalt/shell/browser/shell_platform_delegate_android.cc
  cobalt/testing/filters/tvos-arm64-simulator/cobalt_browsertests_filter.json
  components/crash/core/app/BUILD.gn
  content/app/android/library_loader_hooks.cc
  content/browser/browser_main_loop.cc
  content/browser/browser_main_loop.h
  content/browser/network_service_instance_impl.cc
  content/public/app/content_main.h
  content/public/browser/network_service_instance.h
  starboard/android/shared/BUILD.gn
  starboard/aosp/shared/BUILD.gn
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

Cherry pick PR #12208: android: enable custom fonts.xml file by default
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/util/JavaSwitchesTest.java
  content/browser/font_unique_name_lookup/font_unique_name_lookup_android.cc
  skia/ext/font_utils.cc
  third_party/blink/renderer/platform/fonts/font_fallback_iterator.cc
  third_party/blink/renderer/platform/fonts/font_fallback_iterator_test.cc
Due: gcheckstyle, check-java-strings-have-locale

Cherry pick PR #12263: docs: Update Android environment setup guide following setup-linux.md…
  .github/AUTOROLL
  cobalt/site/docs/codelabs/starboard_extensions/codelab.md
  cobalt/site/docs/development/index.md
  cobalt/site/docs/development/setup-aosp.md
  cobalt/site/docs/overview.md
Due: none

Cherry pick PR #12390: cobalt: Eliminate startup and resume white/red flashes
  .github/AUTOROLL
  components/viz/service/display_embedder/image_context_impl.cc
  content/browser/renderer_host/render_widget_host_view_base.cc
Due: none

Cherry pick PR #12402: media: Remove storage_type from DecodedAudio
  .github/AUTOROLL
  starboard/shared/starboard/player/decoded_audio_internal.cc
  starboard/shared/starboard/player/decoded_audio_internal.h
  starboard/shared/starboard/player/decoded_audio_test_internal.cc
  starboard/shared/starboard/player/filter/audio_renderer_pcm_internal.cc
  starboard/shared/starboard/player/filter/audio_resampler_impl.cc
  starboard/shared/starboard/player/filter/testing/decoded_audio_benchmark.cc
Due: clang-format, cpplint

Cherry pick PR #12219: Expose low memory event via web API
  .github/AUTOROLL
  cobalt/BUILD.gn
  cobalt/app/app_event_runner.cc
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_interface_binders.cc
  cobalt/browser/h5vcc_memory/BUILD.gn
  cobalt/browser/h5vcc_memory/h5vcc_memory_impl.cc
  cobalt/browser/h5vcc_memory/h5vcc_memory_impl.h
  cobalt/browser/h5vcc_memory/low_memory_manager.cc
  cobalt/browser/h5vcc_memory/low_memory_manager.h
  cobalt/browser/h5vcc_memory/low_memory_manager_unittest.cc
  cobalt/browser/h5vcc_memory/public/mojom/BUILD.gn
  cobalt/browser/h5vcc_memory/public/mojom/h5vcc_memory.mojom
  cobalt/browser/h5vcc_memory_browsertest.cc
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/cobalt_browsertests_loader_filter.json
  content/web_test/BUILD.gn
  third_party/blink/renderer/bindings/generated_in_modules.gni
  third_party/blink/renderer/bindings/idl_in_modules.gni
  third_party/blink/renderer/core/events/event_type_names.json5
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/cobalt/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_memory/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_memory/h_5_vcc_memory.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_memory/h_5_vcc_memory.h
  third_party/blink/renderer/modules/cobalt/h5vcc_memory/h_5_vcc_memory.idl
  third_party/blink/renderer/modules/cobalt/h_5_vcc.cc
  third_party/blink/renderer/modules/cobalt/h_5_vcc.h
  third_party/blink/renderer/modules/cobalt/h_5_vcc.idl
  third_party/blink/renderer/modules/event_target_modules_names.json5
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-memory/h5vcc-memory-onLowMemory.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-memory/resources/automation.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-memory/resources/mock-h5vcc-memory.js
Due: clang-format, cpplint, gn-format

Cherry pick PR #12253: Add web API to expose the low memory kill signal
  .github/AUTOROLL
  cobalt/browser/h5vcc_system/h5vcc_system_impl_android.cc
  cobalt/browser/h5vcc_system/h5vcc_system_impl_base.h
  cobalt/browser/h5vcc_system/h5vcc_system_impl_starboard.cc
  cobalt/browser/h5vcc_system/h5vcc_system_impl_tvos.mm
  cobalt/browser/h5vcc_system/public/mojom/h5vcc_system.mojom
  cobalt/browser/h5vcc_system_browsertest.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_system/h_5_vcc_system.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_system/h_5_vcc_system.h
  third_party/blink/renderer/modules/cobalt/h5vcc_system/h_5_vcc_system.idl
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-system/h5vcc-system-wasLowMemoryKilled.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-system/resources/mock-h5vcc-system.js
Due: clang-format, cpplint

Cherry pick PR #12401: media: Remove storage_type() from DecodedAudio
  .github/AUTOROLL
  starboard/shared/starboard/player/decoded_audio_internal.cc
  starboard/shared/starboard/player/decoded_audio_internal.h
  starboard/shared/starboard/player/decoded_audio_test_internal.cc
  starboard/shared/starboard/player/filter/adaptive_audio_decoder_internal.cc
  starboard/shared/starboard/player/filter/adaptive_audio_decoder_internal.h
  starboard/shared/starboard/player/filter/audio_channel_layout_mixer.h
  starboard/shared/starboard/player/filter/audio_channel_layout_mixer_impl.cc
  starboard/shared/starboard/player/filter/audio_renderer_pcm_internal.cc
  starboard/shared/starboard/player/filter/audio_renderer_pcm_internal.h
  starboard/shared/starboard/player/filter/decoded_audio_queue.cc
  starboard/shared/starboard/player/filter/testing/audio_channel_layout_mixer_test.cc
  starboard/shared/starboard/player/filter/testing/audio_decoder_test.cc
Due: clang-format, cpplint

Cherry pick PR #12362: starboard: Remove kUseStubAudioSink command line switch
  .github/AUTOROLL
  starboard/extension/feature_config.h
  starboard/shared/starboard/audio_sink/audio_sink_internal.cc
Due: clang-format, cpplint

Cherry pick PR #12438: android: Use WindowSurface for UI rendering by default
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/util/JavaSwitchesTest.java
  cobalt/shell/android/java/src/dev/cobalt/shell/ContentViewRenderView.java
Due: gcheckstyle, check-java-strings-have-locale

Cherry pick PR #12445: Add libcobalt.zst to softfp and arm64 package.
  .github/AUTOROLL
  cobalt/build/evergreen-arm-softfp/package.json
  cobalt/build/evergreen-arm-softfp/package_qa.json
  cobalt/build/evergreen-arm64/package.json
  cobalt/build/evergreen-arm64/package_qa.json
Due: none

Cherry pick PR #12213: android: Enable seamless switch when Bluetooth speaker is connected
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioOutputManager.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/audio_output_manager.cc
  starboard/android/shared/audio_output_manager.h
  starboard/android/shared/audio_renderer_passthrough.cc
  starboard/android/shared/audio_renderer_passthrough.h
  starboard/android/shared/audio_track.h
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type_test.cc
  starboard/android/shared/audio_track_bridge.cc
  starboard/android/shared/audio_track_bridge.h
  starboard/android/shared/fake_audio_track.cc
  starboard/android/shared/fake_audio_track.h
  starboard/android/shared/ndk_audio_track.cc
  starboard/android/shared/ndk_audio_track.h
  starboard/android/shared/player_components_factory.cc
  starboard/shared/starboard/experimental_features.h
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

Cherry pick PR #12430: starboard: Remove preallocated media buffer pools
  .github/AUTOROLL
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/media_codec_video_decoder.h
  starboard/android/shared/player_components_factory.cc
  starboard/shared/starboard/experimental_features.h
  starboard/shared/starboard/player/buffer_internal.cc
  starboard/shared/starboard/player/buffer_internal.h
  starboard/shared/starboard/player/buildfiles.gni
  starboard/shared/starboard/player/player_tests.gni
  starboard/shared/starboard/player/pooled_allocator.cc
  starboard/shared/starboard/player/pooled_allocator.h
  starboard/shared/starboard/player/pooled_allocator_test.cc
Due: clang-format, cpplint, gn-format

Cherry pick PR #12443: media: Remove background memory release for DecoderBuffer
  .github/AUTOROLL
  content/renderer/media/renderer_web_media_player_delegate.cc
  media/starboard/decoder_buffer_allocator.cc
  media/starboard/decoder_buffer_allocator.h
Due: clang-format, cpplint

Cherry pick PR #12407: Check GL_RENDERER for ANGLE when querying requestable extensions
  .github/AUTOROLL
  ui/gl/gl_implementation.cc
Due: none

Cherry pick PR #12410: cobalt/metrics: Add Android process exit reason tracking via stability PMA
  .github/AUTOROLL
  cobalt/BUILD.gn
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
  cobalt/browser/metrics/cobalt_stability_metrics_helper.cc
  cobalt/browser/metrics/cobalt_stability_metrics_helper.h
  cobalt/browser/metrics/cobalt_stability_metrics_helper_unittest.cc
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: clang-format, cpplint, gn-format

Cherry pick PR #12456: tvos: Build test targets on non-release configs
  .github/AUTOROLL
  cobalt/devinfra/kokoro/bin/common.sh
  cobalt/devinfra/kokoro/bin/presubmit_build_mac.sh
Due: none

Cherry pick PR #12202: Check ExperimentConfigManager before applying experiment configs in JavaSwitches
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/util/JavaSwitchesTest.java
  cobalt/browser/constants/cobalt_pref_names.h
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

Cherry pick PR #12389: media: Increase VideoFrameTracker capacity
  .github/AUTOROLL
  starboard/android/shared/media_codec_video_decoder.cc
Due: clang-format, cpplint

Cherry pick PR #12453: gpu: Fix EGL context restore and teardown crashes on Android suspend/resume
  .github/AUTOROLL
Due: none

Cherry pick PR #12452: starboard: Fix broken tvos build and filter failing android browsertest
  .github/AUTOROLL
  cobalt/testing/filters/android-arm/cobalt_browsertests_filter.json
  starboard/tvos/shared/BUILD.gn
Due: gn-format

Cherry pick PR #12358: starboard: Add unit tests for AudioRendererPassthrough
  .github/AUTOROLL
  starboard/android/shared/BUILD.gn
  starboard/android/shared/audio_renderer_passthrough.cc
  starboard/android/shared/audio_renderer_passthrough.h
  starboard/android/shared/audio_renderer_passthrough_test.cc
Due: clang-format, cpplint, gn-format

Cherry pick PR #12333: ci: Implement CI Shepherd PR status
  .github/AUTOROLL
  .github/workflows/ci_shepherd.yml
  .github/workflows/main.yaml
Due: none

Cherry pick PR #9347: Run telemetry against cobalt browser
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
  tools/perf/page_sets/system_health/cobalt/__init__.py
  tools/perf/page_sets/system_health/cobalt/livingroom_stories.py
Due: yapf, pylint, python3-compatibility-check, gcheckstyle, check-java-strings-have-locale

Cherry pick PR #12474: android: Eliminate runtime JNI build type queries using java_cpp_template
  .github/AUTOROLL
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/BaseCobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/BaseStarboardBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltBuildInfo.tmpl
  starboard/android/shared/base_starboard_bridge.cc
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

Cherry pick PR #11799: build: Use llvm-strip for hermetic Linux builds
  .github/AUTOROLL
  cobalt/build/toolchain/linux/strip.gni
Due: gn-format

Cherry pick PR #12488: Revert "android: enable custom fonts.xml file by default"
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/util/JavaSwitchesTest.java
  content/browser/font_unique_name_lookup/font_unique_name_lookup_android.cc
  skia/ext/font_utils.cc
  third_party/blink/renderer/platform/fonts/font_fallback_iterator.cc
  third_party/blink/renderer/platform/fonts/font_fallback_iterator_test.cc
Due: gcheckstyle, check-java-strings-have-locale

Cherry pick PR #12478: media: Remove GetMediaAudioStorageTypeName()
  .github/AUTOROLL
  starboard/common/media.cc
  starboard/common/media.h
Due: clang-format, cpplint

Cherry pick PR #12374: cobalt: Fix OSPlatformName regression in UserAgent logic
  .github/AUTOROLL
  base/system/sys_info_starboard.cc
  base/system/sys_info_starboard.h
  base/system/sys_info_starboard_unittest.cc
  cobalt/browser/user_agent/user_agent_platform_info.cc
Due: clang-format, cpplint

Cherry pick PR #12480: tvos: Remove unused and orphaned media files
  .github/AUTOROLL
  starboard/tvos/shared/media/audio_queue_buffer.h
  starboard/tvos/shared/media/audio_queue_buffer.mm
  starboard/tvos/shared/media/audio_sink_get_max_channels.mm
  starboard/tvos/shared/media/audio_sink_get_nearest_supported_sample_frequency.mm
  starboard/tvos/shared/media/audio_sink_is_audio_frame_storage_type_supported.mm
  starboard/tvos/shared/media/audio_sink_is_audio_sample_type_supported.mm
  starboard/tvos/shared/media/player_get_preferred_output_mode.mm
  starboard/tvos/shared/media_get_audio_configuration.mm
Due: clang-format, cpplint

Cherry pick PR #12451: [rdk] Implement SbSystemGetLocaleId via UserPreferences and UserSettings
  .github/AUTOROLL
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/nplb_loader_filter.json
  content/browser/speech/tts_starboard.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/BUILD.gn
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/application_rdk.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/application_rdk.h
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/rdkservices.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/rdkservices.h
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/system/system_get_locale_id.cc
Due: none

Cherry pick PR #12493: cobalt: Fallback to OOP-R for unsupported images
  .github/AUTOROLL
  gpu/command_buffer/client/raster_implementation.cc
  gpu/command_buffer/client/raster_implementation.h
Due: none
