Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)

media: Cache bounds to reduce SbPlayerSetBounds calls
  media/starboard/starboard_renderer.cc
Due: clang-format, cpplint

android/jni-zero: Rename methods
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  starboard/android/shared/audio_track_bridge.cc
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

Update cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
Due: gcheckstyle, check-java-strings-have-locale

android: Use safe base::android helpers in DRM and Capabilities
  starboard/android/shared/media_capabilities_cache.cc
  starboard/android/shared/media_drm_bridge.cc
Due: clang-format, cpplint

Address comments
  starboard/android/shared/BUILD.gn
  starboard/android/shared/media_capabilities_cache.cc
  starboard/android/shared/media_drm_bridge.cc
  starboard/android/shared/safe_jni.cc
  starboard/android/shared/safe_jni.h
  starboard/android/shared/safe_jni_test.cc
Due: clang-format, cpplint, gn-format

Add JavaByteBufferToSpan
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/safe_jni.cc
  starboard/android/shared/safe_jni.h
  starboard/android/shared/safe_jni_test.cc
Due: clang-format, cpplint

Fix build
  starboard/android/shared/BUILD.gn
Due: gn-format

Fix SafeJniTest crash using base::android helper and remove deprecated is_null
  starboard/android/shared/safe_jni.cc
Due: clang-format, cpplint

Make JavaByteBufferToSpan robust against invalid types using LazyGetClass
  starboard/android/shared/safe_jni.cc
Due: clang-format, cpplint

Rename GetByteBufferClass to java_nio_ByteBuffer_clazz to match JNI generator style
  starboard/android/shared/safe_jni.cc
Due: clang-format, cpplint

Use base::android::JavaByteBufferToMutableSpan
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/safe_jni.cc
  starboard/android/shared/safe_jni.h
  starboard/android/shared/safe_jni_test.cc
Due: clang-format, cpplint

no legacy JNI in platform_service.cc
  starboard/android/shared/platform_service.cc
Due: clang-format, cpplint

jni_zero way
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltService.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecUtil.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/media_capabilities_cache.cc
  starboard/android/shared/media_capabilities_cache.h
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_drm_bridge.cc
  starboard/android/shared/media_drm_bridge.h
  starboard/android/shared/platform_service.cc
  starboard/android/shared/safe_jni.cc
  starboard/android/shared/safe_jni.h
  starboard/android/shared/safe_jni_test.cc
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

Replace env->NewLocalRef
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/media_codec_video_decoder.h
Due: clang-format, cpplint

safe_jni
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/VideoSurfaceTexture.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/safe_jni.h
  starboard/android/shared/video_surface_texture_bridge.cc
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

Move methods to safe_jni.h
  starboard/android/shared/audio_track_bridge.cc
  starboard/android/shared/safe_jni.h
Due: clang-format, cpplint

Add new JNI zero best practices
  third_party/jni_zero/skills/jni-zero/references/jobject_subclass_examples.md
Due: none

media: Reduce redundant SbPlayerSetBounds calls
  media/starboard/starboard_renderer.cc
Due: clang-format, cpplint

skip flaky test
  cobalt/testing/filters/tvos-arm64-simulator/cobalt_browsertests_filter.json
Due: none

android: Add java switch to disable font src local matching
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
Due: gcheckstyle, check-java-strings-have-locale

fix build
  starboard/android/shared/BUILD.gn
Due: gn-format

fix more indents for chromium diff
  build/config/android/rules.gni
Due: none

move chromium_milestone
  .gn
  cobalt/build/configs/cobalt.gni
  cobalt/build/configs/shared/BUILD.gn
Due: gn-format

resolve merge conflicts
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/app/cobalt_switch_defaults_starboard.cc
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

re-add gles-egl for ozone
  cobalt/app/cobalt_switch_defaults_starboard.cc
Due: clang-format, cpplint

Shed meory when going background
  content/renderer/media/renderer_web_media_player_delegate.cc
  measure_bg_memory.sh
  media/starboard/decoder_buffer_allocator.cc
  media/starboard/decoder_buffer_allocator.h
Due: clang-format, cpplint

android/jni-zero: Rename methods (#10958)
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  starboard/android/shared/audio_track_bridge.cc
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

Update Cobalt CI test targets outputs
  .github/workflows/main.yaml
Due: none

Fix the cobalt stacktrace symbolization issue (#10782)
  copied_base/base/third_party/symbolize/symbolize.cc
Due: none

Cherry pick PR #10941: Revert "cobalt: Fix EGL destruction crash on Shield"
  ui/gl/gl_context_egl.cc
Due: none

Cherry pick PR #10780: android: Move AudioTrackBridge array allocation to Java to avoid direct env->New* calls
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioOutputManager.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  starboard/android/shared/audio_output_manager.cc
  starboard/android/shared/audio_output_manager.h
  starboard/android/shared/audio_track_bridge.cc
  starboard/android/shared/audio_track_bridge.h
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

Cherry pick PR #10958: android/jni-zero: Rename methods
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  starboard/android/shared/audio_track_bridge.cc
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

Add new JNI zero best practices (#10960)
  third_party/jni_zero/skills/jni-zero/references/jobject_subclass_examples.md
Due: none

android: Add java switch to disable font src local matching (#10961)
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
Due: gcheckstyle, check-java-strings-have-locale

media: Reduce redundant SbPlayerSetBounds calls (#10956)
  media/starboard/starboard_renderer.cc
Due: clang-format, cpplint

Cherry pick PR #10782: Fix the cobalt stacktrace symbolization issue
  copied_base/base/third_party/symbolize/symbolize.cc
Due: none

Cherry pick PR #10960: Add new JNI zero best practices
  third_party/jni_zero/skills/jni-zero/references/jobject_subclass_examples.md
Due: none

Cherry pick PR #10961: android: Add java switch to disable font src local matching
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
Due: gcheckstyle, check-java-strings-have-locale

Cherry pick PR #10956: media: Reduce redundant SbPlayerSetBounds calls
  media/starboard/starboard_renderer.cc
Due: clang-format, cpplint

android: Fix indentation in upstream GN code for minimal Chromium Diffing (#10962)
  build/config/android/rules.gni
Due: none
