Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==17.0.1

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

Expose precise memory info (#7232)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/CommandLineOverrideHelperTest.java
  cobalt/app/cobalt_switch_defaults_starboard.cc
Due: clang-format, google-java-format, gcheckstyle

starboard: Flatten `starboard::shared::starboard::audio_sink` namespace (#7213)
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type.h
  starboard/android/shared/continuous_audio_track_sink.h
  starboard/android/shared/player_components_factory.cc
  starboard/android/shared/starboard_bridge.cc
  starboard/linux/shared/audio_sink_type_dispatcher.cc
  starboard/raspi/shared/application_dispmanx.cc
  starboard/raspi/shared/audio_sink_type_dispatcher.cc
  starboard/shared/alsa/alsa_audio_sink_type.cc
  starboard/shared/alsa/alsa_audio_sink_type.h
  starboard/shared/alsa/alsa_util.cc
  starboard/shared/alsa/alsa_util.h
  starboard/shared/pulse/pulse_audio_sink_type.cc
  starboard/shared/pulse/pulse_audio_sink_type.h
  starboard/shared/pulse/pulse_dynamic_load_dispatcher.cc
  starboard/shared/pulse/pulse_dynamic_load_dispatcher.h
  starboard/shared/starboard/audio_sink/audio_sink_create.cc
  starboard/shared/starboard/audio_sink/audio_sink_destroy.cc
  starboard/shared/starboard/audio_sink/audio_sink_internal.cc
  starboard/shared/starboard/audio_sink/audio_sink_internal.h
  starboard/shared/starboard/audio_sink/audio_sink_is_valid.cc
  starboard/shared/starboard/audio_sink/stub_audio_sink_type.cc
  starboard/shared/starboard/audio_sink/stub_audio_sink_type.h
  starboard/shared/starboard/player/filter/audio_renderer_sink_impl.cc
  starboard/shared/x11/application_x11.cc
Due: clang-format

starboard: Flatten `starboard::shared::starboard::media` namespace (#7149)
  starboard/shared/openh264/openh264_video_decoder.cc
  starboard/shared/openh264/openh264_video_decoder.h
  starboard/shared/starboard/media/avc_util.cc
  starboard/shared/starboard/media/avc_util.h
  starboard/shared/starboard/media/avc_util_test.cc
  starboard/shared/starboard/media/codec_util.cc
  starboard/shared/starboard/media/codec_util.h
  starboard/shared/starboard/media/codec_util_test.cc
  starboard/shared/starboard/media/parsed_mime_info.cc
  starboard/shared/starboard/media/vp9_util.cc
  starboard/shared/starboard/media/vp9_util.h
  starboard/shared/starboard/media/vp9_util_test.cc
Due: clang-format

starboard: Flatten various shared namespaces (#7250)
  starboard/client_porting/wrap_main/wrap_main.h
  starboard/extension/enhanced_audio_test.cc
  starboard/extension/extension_test.cc
  starboard/nplb/maximum_player_configuration_explorer.cc
  starboard/nplb/maximum_player_configuration_explorer.h
  starboard/nplb/maximum_player_configuration_explorer_test.cc
  starboard/nplb/media_set_audio_write_duration_test.cc
  starboard/nplb/multiple_player_test.cc
  starboard/nplb/player_create_test.cc
  starboard/nplb/player_get_audio_configuration_test.cc
  starboard/nplb/player_get_media_time_test.cc
  starboard/nplb/player_test_fixture.cc
  starboard/nplb/player_test_fixture.h
  starboard/nplb/player_write_sample_test.cc
  starboard/nplb/vertical_video_test.cc
  starboard/shared/deviceauth/deviceauth_internal.cc
  starboard/shared/deviceauth/deviceauth_internal.h
  starboard/shared/starboard/player/filter/testing/player_components_test.cc
  starboard/shared/starboard/player/filter/testing/video_decoder_test.cc
  starboard/shared/starboard/player/filter/testing/video_decoder_test_fixture.cc
  starboard/shared/starboard/player/filter/testing/video_decoder_test_fixture.h
  starboard/testing/fake_graphics_context_provider.cc
  starboard/testing/fake_graphics_context_provider.h
Due: clang-format

Map the SbKey values to DOM keyboard events. (#7268)
  cobalt/build/testing/targets/evergreen-x64/test_targets.json
  ui/events/BUILD.gn
  ui/events/keycodes/keyboard_code_conversion_starboard.cc
  ui/events/keycodes/keyboard_code_conversion_starboard.h
  ui/events/keycodes/keyboard_code_conversion_starboard_unittest.cc
  ui/events/ozone/BUILD.gn
  ui/ozone/platform/starboard/platform_event_source_starboard.cc
Due: none

Add UMA histogram for measuring libcobalt.so decompression time (#7216)
  cobalt/BUILD.gn
  cobalt/app/cobalt.cc
  cobalt/browser/loader_app_metrics.cc
  cobalt/browser/loader_app_metrics.h
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: clang-format, gn-format

Refactor method in loader_app_metrics.cc (#7284)
  cobalt/browser/loader_app_metrics.cc
  cobalt/browser/loader_app_metrics.h
Due: clang-format

Remove content shell config from Cobalt CIs (#7252)
  .github/config/android-arm.json
  .github/config/android-arm64.json
  .github/config/android-x86.json
  .github/config/evergreen-x64.json
  .github/config/linux-modular.json
  .github/config/linux-web-tests.json
  .github/config/linux.json
Due: none

starboard: Flatten remaining namespaces (#7283)
  starboard/android/shared/audio_renderer_tunnel.cc
  starboard/android/shared/audio_renderer_tunnel.h
  starboard/shared/enhanced_audio/enhanced_audio.cc
  starboard/shared/enhanced_audio/enhanced_audio.h
  starboard/shared/enhanced_audio/enhanced_audio_player_write_samples.cc
  starboard/shared/enhanced_audio/enhanced_audio_player_write_samples.h
  starboard/shared/speechd/speechd_internal.cc
  starboard/shared/speechd/speechd_internal.h
Due: clang-format

starbord: Introduce ScopedTimer for performance measurement (#7274)
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/common/BUILD.gn
  starboard/common/scoped_timer.cc
  starboard/common/scoped_timer.h
  starboard/elf_loader/elf_loader.cc
Due: clang-format, gn-format

evergreen: Fix autoplay video with startup url (#7289)
  cobalt/app/cobalt_switch_defaults_starboard.cc
Due: clang-format

starboard: Remove unnecessary starboard:: prefixes (#7282)
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/features_extension.cc
  starboard/android/shared/get_home_directory.cc
  starboard/android/shared/log_internal.cc
  starboard/android/shared/media_is_audio_supported.cc
  starboard/android/shared/media_is_video_supported.cc
  starboard/android/shared/player_components_factory.cc
  starboard/android/shared/player_set_max_video_input_size.cc
  starboard/linux/shared/system_get_path.cc
  starboard/raspi/shared/media_is_video_supported.cc
  starboard/shared/starboard/file_storage/storage_internal.h
  starboard/shared/starboard/get_home_directory.h
  starboard/shared/starboard/once.cc
  starboard/shared/starboard/player/filter/player_components.cc
Due: clang-format

Add lz4 build targets for Evergreen build (#7269)
  cobalt/build/modular_executable.gni
  cobalt/build/toolchain/linux/BUILD.gn
  starboard/evergreen/arm/hardfp/toolchain/BUILD.gn
  starboard/evergreen/arm/shared/install_target.gni
  starboard/evergreen/arm/shared/toolchain/strip.gni
  starboard/evergreen/arm/softfp/toolchain/BUILD.gn
  starboard/evergreen/arm64/install_target.gni
  starboard/evergreen/arm64/toolchain/BUILD.gn
  starboard/evergreen/arm64/toolchain/strip.gni
  starboard/evergreen/shared/lz4_compress_install_target.gni
  starboard/evergreen/shared/strip_install_target.gni
  starboard/evergreen/x64/install_target.gni
  starboard/evergreen/x64/toolchain/BUILD.gn
  starboard/evergreen/x64/toolchain/strip.gni
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/lz4_compress/lz4_compress.cc
  third_party/lz4_lib/BUILD.gn
Due: clang-format, yapf, pylint, python3-compatibility-check, gn-format

cobalt: Introduce tvOS user_agent and //base logic (#7146)
  base/system/sys_info_starboard.cc
  base/system/sys_info_starboard_unittest.cc
  cobalt/browser/user_agent/user_agent_platform_info.cc
  cobalt/browser/user_agent/user_agent_platform_info.h
Due: clang-format

POSIX: Add setpriority and getpriority to Starboard (#7096)
  starboard/CHANGELOG.md
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_priority_test.cc
  starboard/shared/modular/BUILD.gn
  starboard/shared/modular/cobalt_layer_posix_resource_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_resource_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_resource_abi_wrappers.h
  starboard/shared/modular/starboard_layer_posix_signal_abi_wrappers.h
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/api_leak_detector/evergreen/dev_manifest
  starboard/tools/api_leak_detector/evergreen/manifest
Due: clang-format, yapf, pylint, python3-compatibility-check, gn-format

android: Remove unused trace_util.h (#7478)
  starboard/android/shared/BUILD.gn
  starboard/android/shared/trace_util.h
Due: clang-format, gn-format

media: Refine AdjustForDiscardedDurations
  starboard/shared/starboard/player/decoded_audio_internal.cc
Due: clang-format

Rebase refresh on 2025-10-09 for m138.
  chrome/VERSION
Due: none

Cherry pick PR #6885: android: allow overflow audio samples for tunnel mode (#7481)
  starboard/android/shared/player_components_factory.cc
  starboard/shared/starboard/player/filter/audio_frame_tracker.cc
  starboard/shared/starboard/player/filter/audio_frame_tracker.h
  starboard/shared/starboard/player/filter/audio_renderer_internal_pcm.cc
  starboard/shared/starboard/player/filter/audio_renderer_sink.h
Due: clang-format

common: Remove codec libraries pulled from //media (#7053)
  cobalt/build/configs/common.gn
  cobalt/build/configs/linux-x64x11-modular/args.gn
  media/base/supported_types_unittest.cc
  media/cdm/library_cdm/clear_key_cdm/cdm_video_decoder.cc
Due: gn-format

Fix the touch panel crash (#7214)
  cobalt/layout/topmost_event_target.cc
Due: clang-format

Playing around with some LOGs to see what's allocated by graphics.
  cc/slim/layer_tree_cc_wrapper.cc
  cc/trees/layer_tree_host_impl.cc
  cobalt/android/apk/app/build.gradle
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
  third_party/blink/renderer/platform/widget/compositing/layer_tree_settings.cc
Due: google-java-format, gcheckstyle

Remove SurfaceJniCache
  starboard/android/shared/decode_target.cc
Due: clang-format

Streamline object creation
  starboard/android/shared/decode_target.cc
Due: clang-format

starboard: Add starboard_platform_tests to CI
  cobalt/build/testing/targets/android-arm/test_targets.json
  cobalt/build/testing/targets/android-arm64/test_targets.json
  cobalt/testing/filters/android-arm/starboard_platform_tests_filter.json
  cobalt/testing/filters/android-arm64/starboard_platform_tests_filter.json
  starboard/android/shared/BUILD.gn
Due: gn-format

moving setup-raspi.md to ./starboard/doc/
  starboard/doc/setup-raspi.md
Due: none

Linearization refresh on 2025-10-09.
  automated_commits_m114.json
Due: none

Add cherry picks from last two days
  commits_m114_part2.json
Due: none

blink/renderer: Stub Context Menu Controller (#7243)
  third_party/blink/renderer/core/BUILD.gn
  third_party/blink/renderer/core/page/context_menu_controller.h
  third_party/blink/renderer/core/page/page.cc
  third_party/blink/renderer/core/page/stub_context_menu_controller.cc
  third_party/blink/renderer/core/page/stub_context_menu_controller.h
Due: none

Add deep links for 3p (#7184)
  cobalt/BUILD.gn
  cobalt/app/cobalt.cc
  starboard/linux/x64x11/run_starboard_main.cc
  starboard/linux/x64x11/shared/BUILD.gn
  starboard/nplb/posix_compliance/posix_directory_get_next_readdir_test.cc
  starboard/shared/starboard/link_receiver.cc
  starboard/shared/starboard/link_receiver.h
Due: clang-format, gn-format

starboard: Fix the crash in AudioRendererSinkImpl callbacks (#7313)
  starboard/android/shared/audio_track_audio_sink_type.cc
Due: clang-format

Enable basic crash reporting for evergreen-x64 (#7280)
  .github/config/linux.json
  base/process/internal_linux.h
  build/build_config.h
  build/config/c++/c++.gni
  cobalt/BUILD.gn
  cobalt/build/configs/BUILD.gn
  starboard/crashpad_wrapper/BUILD.gn
  starboard/crashpad_wrapper/wrapper.cc
  starboard/elf_loader/BUILD.gn
  starboard/elf_loader/elf_loader_sandbox.cc
  starboard/linux/shared/BUILD.gn
  starboard/linux/x64x11/run_starboard_main.cc
  starboard/linux/x64x11/shared/platform_configuration/BUILD.gn
  starboard/loader_app/BUILD.gn
  starboard/loader_app/loader_app.cc
  third_party/crashpad/crashpad/build/crashpad_buildconfig.gni
  third_party/crashpad/crashpad/client/BUILD.gn
  third_party/crashpad/crashpad/client/crashpad_client.h
  third_party/crashpad/crashpad/client/crashpad_client_linux.cc
  third_party/crashpad/crashpad/handler/handler_main.cc
  third_party/crashpad/crashpad/handler/linux/capture_snapshot.cc
  third_party/crashpad/crashpad/handler/linux/crash_report_exception_handler.cc
  third_party/crashpad/crashpad/handler/linux/crash_report_exception_handler.h
  third_party/crashpad/crashpad/handler/linux/exception_handler_server.cc
  third_party/crashpad/crashpad/handler/linux/exception_handler_server.h
  third_party/crashpad/crashpad/snapshot/BUILD.gn
  third_party/crashpad/crashpad/snapshot/linux/process_snapshot_linux.cc
  third_party/crashpad/crashpad/snapshot/linux/process_snapshot_linux.h
  third_party/crashpad/crashpad/snapshot/module_snapshot_evergreen.cc
  third_party/crashpad/crashpad/snapshot/module_snapshot_evergreen.h
  third_party/crashpad/crashpad/util/linux/exception_handler_client.cc
  third_party/crashpad/crashpad/util/linux/exception_handler_client.h
  third_party/crashpad/crashpad/util/linux/exception_handler_protocol.cc
  third_party/crashpad/crashpad/util/linux/exception_handler_protocol.h
  third_party/crashpad/crashpad/util/net/tls.gni
Due: clang-format, gn-format

Fix missing ssl/ subdirectory in linux packages (#7335)
  cobalt/build/linux/package.json
Due: none

Cleanup the keycode hacks (#7323)
  ui/events/keycodes/dom/keycode_converter.cc
Due: none

Rename KEY_SUBTITLES to VKEY_SUBTITLES (#7322)
  ui/events/keycodes/cobalt/keyboard_code_conversion_android_cobalt.cc
  ui/events/keycodes/keyboard_code_conversion_starboard.cc
  ui/events/keycodes/keyboard_codes_posix.h
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  yapf: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  pylint: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  python3-compatibility-check: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  google-java-format: any of: \.java$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java
)
) and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  gn-format: any of: .*\.gni?$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

