Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, internal-file-check, gn-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^internal/starboard/shared/uikit/.*\.h$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  yapf: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  pylint: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  google-java-format: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gcheckstyle: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not ((?x)^(
    .pre-commit-config.yaml$|
    cobalt/media/|
    cobalt/layout_tests/testdata/|
    nb/|
    starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.cc$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.h$|
    starboard/shared/starboard/player/filter/wsola_internal.cc$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  check-if-starboard-interface-changed: any of: ^starboard/[^/]+\.h$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  test-python3-compatibility: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  internal-file-check: any of: not ((^docker-compose-windows(-internal)?.yml|EXCLUDE\.FILES(\.RECURSIVE)?|codereview\.settings)$), but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gn-format: any of: .*\.gni?$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)


Remove evergreen as bb test from required checks
  tools/update_required_branch_checks.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

[XB1] expand resolution of VP9 playback to 4K on Xbox One X
  starboard/shared/uwp/media_is_video_supported.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Add some INFO logging to telemetry
  cobalt/browser/application.cc
  cobalt/browser/metrics/cobalt_metrics_services_manager.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

clang-format fixes
  cobalt/browser/application.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Add some INFO logging to telemetry (#970)
  cobalt/browser/application.cc
  cobalt/browser/metrics/cobalt_metrics_services_manager.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Another webp build fix (#948)
  third_party/libwebp/BUILD.gn
Due: none

Add starboard with main target
  starboard/BUILD.gn
  starboard/linux/shared/BUILD.gn
  starboard/linux/x64x11/BUILD.gn
  starboard/loader_app/BUILD.gn
  starboard/shared/starboard/player/filter/testing/BUILD.gn
  starboard/shared/starboard/player/filter/tools/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

[XB1] Fix mismatched method signatures between header and cc files
  starboard/xb1/shared/video_decoder_uwp.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Cherry pick PR #970: Add some INFO logging to telemetry (#971)
  cobalt/browser/application.cc
  cobalt/browser/metrics/cobalt_metrics_services_manager.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Pass default testdata server port
  cobalt/black_box_tests/bbt_settings.py
  cobalt/black_box_tests/black_box_tests.py
  cobalt/black_box_tests/threaded_web_server.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

[XB1] expand resolution of VP9 playback to 4K on Xbox One X (#969)
  starboard/shared/uwp/media_is_video_supported.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Another webp build fix (#948) (#972)
  third_party/libwebp/BUILD.gn
Due: none

Update libwebp_dsp_enc_sources
  third_party/libwebp/libwebp.gni
Due: none

Add GN configuration for libwebp_sharpyuv
  third_party/libwebp/BUILD.gn
  third_party/libwebp/libwebp.gni
Due: none

Ignore warnings
  third_party/libwebp/BUILD.gn
Due: none

Starboardize asserts
  third_party/libwebp/src/dsp/cost_neon.c
  third_party/libwebp/src/dsp/lossless_common.h
Due: none

[XB1] Fix mismatched method signatures between header and cc files (#974)
  starboard/xb1/shared/video_decoder_uwp.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Simplify PersistentSetting initialization. (#935)
  cobalt/persistent_storage/persistent_settings.cc
  cobalt/persistent_storage/persistent_settings.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Make gQUIC a persistent setting. (#954)
  cobalt/h5vcc/h5vcc_settings.cc
  cobalt/network/network_module.cc
  cobalt/network/network_module.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Simplify PersistentSetting initialization. (#935) (#980)
  cobalt/persistent_storage/persistent_settings.cc
  cobalt/persistent_storage/persistent_settings.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Make gQUIC a persistent setting. (#954) (#981)
  cobalt/h5vcc/h5vcc_settings.cc
  cobalt/network/network_module.cc
  cobalt/network/network_module.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Fix epoch mixup in gtest
  third_party/googletest/src/googletest/src/gtest.cc
Due: none

Add explaining comment
  third_party/googletest/src/googletest/src/gtest.cc
Due: none

Fix timing bug in compile time check script
  tools/windows/win_compile_time_check.ps1
Due: check-copyright-year, internal-file-check

Fix epoch mixup in gtest (#966)
  third_party/googletest/src/googletest/src/gtest.cc
Due: none

Cherry pick PR #966: Fix epoch mixup in gtest (#987)
  third_party/googletest/src/googletest/src/gtest.cc
Due: none

Make sure Brotli files are kept
  third_party/brotli/.gitattributes
Due: none

Make sure Brotli files are kept (#968)
  third_party/brotli/.gitattributes
Due: none

Make sure Brotli files are kept (#968) (#991)
  third_party/brotli/.gitattributes
Due: none

Add more checks in Worker::Obtain
  cobalt/worker/worker.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

evdns: fix searching empty hostnames
  third_party/libevent/evdns.c
Due: none
