Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==17.0.1

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

Remove EGL/GLES from linux package (#5419)
  cobalt/build/linux/package.json
Due: none

Remove implementation for GetDisplaySettings() (#5314)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/accessibility_get_display_settings.cc
Due: clang-format, google-java-format, gcheckstyle

Update DecoderBuffer memory budget on format change (#5421)
  media/filters/source_buffer_stream.cc
Due: none

Add logs to track deeplink urls (#5417)
  starboard/android/shared/starboard_bridge.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/h_5_vcc_runtime.cc
Due: clang-format

[media] Optimize DecoderBufferAllocator (#5412)
  media/starboard/decoder_buffer_allocator.cc
  starboard/common/allocator.h
  starboard/common/reuse_allocator_base.cc
  starboard/common/reuse_allocator_base.h
Due: clang-format

Fix lastchange calculation for Cobalt (#5395)
  DEPS
Due: none

Change cobalt to shlib for hermetic builds (#5380)
  cobalt/BUILD.gn
Due: gn-format

Remove invalid rendered frames when calculating dropped frames (#5313)
  starboard/android/shared/video_frame_tracker.cc
Due: clang-format

Add license gen to Kokoro build as well (#5436)
  cobalt/devinfra/kokoro/bin/dind_build.sh
Due: none

Follow-up Kokoro license build fix (#5438)
  cobalt/devinfra/kokoro/bin/build.sh
  cobalt/devinfra/kokoro/bin/dind_build.sh
Due: none

[android] Support multiple punchout players via video holes (#5422)
  components/viz/common/BUILD.gn
  components/viz/common/features.cc
  components/viz/service/display/starboard/overlay_strategy_underlay_starboard.cc
  components/viz/service/display/starboard/overlay_strategy_underlay_starboard.h
Due: none

Re-enable SbAudioSinkTest (#5431)
  cobalt/testing/filters/linux-x64x11-evergreen/nplb_filter.json
Due: none

Migrate MediaCodec (#5405)
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridgeBuilder.java
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
Due: clang-format, google-java-format, gcheckstyle, gn-format

Re-enable PosixFileRead for linux-evergreen-nplb tests (#5435)
  cobalt/testing/filters/linux-x64x11-evergreen/nplb_filter.json
Due: none

Remove crashpad dependency from Cobalt.apk (#5430)
  cobalt/android/BUILD.gn
Due: gn-format

Fix generated license path (#5445)
  .github/actions/build/action.yaml
  cobalt/devinfra/kokoro/bin/build.sh
  cobalt/devinfra/kokoro/bin/dind_build.sh
Due: none

Remove unused Kokoro scripts (#5450)
  cobalt/devinfra/kokoro/bin/build.sh
  cobalt/devinfra/kokoro/bin/common.sh
Due: none

Add the web-tests test job (#5267)
  .github/actions/build/action.yaml
  .github/actions/depot_tools/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
  .github/actions/web_tests/action.yaml
  .github/workflows/main.yaml
  BUILD.gn
  cobalt/build/archive_test_artifacts.py
  cobalt/docker/linux/Dockerfile
  cobalt/docker/webtest/Dockerfile
  docker-compose.yaml
  third_party/blink/tools/blinkpy/web_tests/port/factory.py
Due: yapf, pylint, python3-compatibility-check

Add debugging log for navigation redirects (#5429)
  cobalt/browser/cobalt_web_contents_observer.cc
Due: clang-format

Abstract allocator out of DecoderBufferAllocator (#5454)
  media/starboard/BUILD.gn
  media/starboard/bidirectional_fit_reuse_allocator.cc
  media/starboard/bidirectional_fit_reuse_allocator.h
  media/starboard/decoder_buffer_allocator.cc
  media/starboard/decoder_buffer_allocator.h
  media/starboard/decoder_buffer_allocator_strategy.cc
  media/starboard/decoder_buffer_allocator_strategy.h
  media/starboard/decoder_buffer_allocator_test.cc
  starboard/common/reuse_allocator_base.h
Due: clang-format, gn-format

Disable Pepper API for linux builds (#5461)
  cobalt/build/configs/linux_common.gn
  cobalt/build/testing/targets/linux-x64x11/test_targets.json
Due: gn-format

[Cobalt ]Updating license gen to text-only file (#5458)
  .github/actions/build/action.yaml
  cobalt/devinfra/kokoro/bin/dind_build.sh
Due: none

Allow media session title to be empty (#5428)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltMediaSession.java
  content/browser/media/session/media_session_impl.cc
Due: google-java-format, gcheckstyle

Fix nplb SbPlayerTest* (#5468)
  cobalt/testing/filters/linux-x64x11-evergreen/nplb_filter.json
  cobalt/testing/filters/linux-x64x11/nplb_filter.json
  starboard/shared/egl/system_egl.cc
  starboard/testing/fake_graphics_context_provider.cc
Due: clang-format

Fix broken web tests configuration (#5475)
  content/browser/media/session/media_session_impl.cc
Due: none

Migrate to MessagePumpEpoll and remove MessagePumpLibevent (#5420)
  base/features.cc
  base/message_loop/message_pump_epoll_unittest.cc
  chromecast/tracing/tracing_service_main.cc
Due: none

Add Global Features class. (#5477)
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/cobalt_browser_main_parts.h
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/browser/global_features.cc
  cobalt/browser/global_features.h
Due: clang-format, gn-format

starboard/nplb: Ignore X errors on shutdown (#5478)
  starboard/shared/x11/application_x11.cc
Due: clang-format

Turn off D-Bus support (#5484)
  cobalt/build/configs/linux_common.gn
  cobalt/build/testing/targets/linux-x64x11/test_targets.json
Due: gn-format

[Ozone] Updating Bounds on Resize via SetBoundsInPixels() (#5336)
  cobalt/BUILD.gn
  cobalt/cobalt.cc
  ui/aura/window_tree_host.cc
  ui/ozone/platform/starboard/BUILD.gn
  ui/ozone/platform/starboard/platform_event_observer_starboard.h
  ui/ozone/platform/starboard/platform_event_source_starboard.cc
  ui/ozone/platform/starboard/platform_event_source_starboard.h
  ui/ozone/platform/starboard/platform_window_starboard.cc
  ui/ozone/platform/starboard/platform_window_starboard.h
  ui/platform_window/stub/stub_window.h
Due: clang-format, gn-format

Add sandbox related symbol stubs to build cobalt (#5472)
  cobalt/testing/filters/linux-x64x11-evergreen/base_unittests_filter.json
  sandbox/policy/BUILD.gn
  sandbox/policy/linux/sandbox_linux_stub.cc
Due: none

Update MediaSession state via setLifecycleCallback (#5482)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltMediaSession.java
Due: google-java-format, gcheckstyle

Return app start duration for performance.getAppStartupTime() (#5488)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  cobalt/browser/performance/performance_impl.cc
  starboard/android/shared/starboard_bridge.cc
  starboard/android/shared/starboard_bridge.h
Due: clang-format, google-java-format, gcheckstyle

[media] Reset ended status on seek (#5501)
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.cc
Due: clang-format

[Ozone] Remove stub_window Dependency from Platform_starboard_window (#5491)
  ui/ozone/platform/starboard/platform_window_starboard.cc
  ui/ozone/platform/starboard/platform_window_starboard.h
  ui/platform_window/stub/stub_window.h
Due: none

[android] Fix crashes on accessing RRO values (#5492)
  starboard/android/shared/BUILD.gn
  starboard/android/shared/application_android.cc
  starboard/android/shared/application_android.h
  starboard/android/shared/audio_sink_get_min_buffer_size_in_frames.cc
  starboard/android/shared/graphics.cc
  starboard/android/shared/media_get_video_buffer_budget.cc
  starboard/android/shared/runtime_resource_overlay.cc
  starboard/android/shared/runtime_resource_overlay.h
Due: clang-format, gn-format

Add media changes to build cobalt hermetically (#5499)
  content/utility/utility_main.cc
  media/capture/BUILD.gn
  media/capture/video/linux/video_capture_device_factory_linux_stub.cc
Due: none

Fix missing dependency (#5510)
  cobalt/BUILD.gn
  ui/ozone/platform/starboard/BUILD.gn
Due: gn-format

Fixing unusable app after network error popup (#5513)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/PlatformError.java
  cobalt/browser/BUILD.gn
Due: google-java-format, gcheckstyle, gn-format

[media] Refine ReuseAllocatorBase statistics (#5507)
  starboard/common/reuse_allocator_base.cc
Due: clang-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  yapf: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  pylint: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  python3-compatibility-check: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  google-java-format: any of: \.java$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java
)
) and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  gn-format: any of: .*\.gni?$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

