Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

chromium-pre-commit:
  name: Chromium presubmit bridge
  entry: ./third_party/depot_tools/vpython3 --vpython-spec=./third_party/depot_tools/.vpython3 ./cobalt/precommit/run_chromium_presubmits.py
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==21.1.0

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=5
  - --quiet
  additional_dependencies:
  - cpplint==2.0.2

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

check-java-strings-have-locale:
  name: Check Java String.format includes Locale
  entry: python3 ./cobalt/precommit/check_java_strings_have_locale.py
  language: python

Add back comment
  cobalt/updater/updater_module.h
Due: clang-format, cpplint

Fix comment formatting in updater_module.h
  cobalt/updater/updater_module.h
Due: clang-format, cpplint

Fix more lints in test files
  cobalt/tools/junit_xml_utils_test.py
  cobalt/tools/run_device_tests_test.py
  cobalt/tools/run_host_tests_test.py
Due: yapf, pylint, python3-compatibility-check

[evergreen] Clean up delegate include and utilize atomic exchange in destructor
  cobalt/app/app_event_delegate.cc
  cobalt/updater/updater_module.cc
Due: clang-format, cpplint

refactor(starboard/player): Extract BufferPool into a separate, generic utility
  starboard/shared/starboard/player/buffer_internal.cc
  starboard/shared/starboard/player/buffer_pool.cc
  starboard/shared/starboard/player/buffer_pool.h
  starboard/shared/starboard/player/buffer_pool_test.cc
  starboard/shared/starboard/player/buffer_test_internal.cc
  starboard/shared/starboard/player/buildfiles.gni
  starboard/shared/starboard/player/player_tests.gni
Due: clang-format, cpplint, gn-format

Apply formatting fixes from yapf
  cobalt/tools/run_device_tests_test.py
  cobalt/tools/run_host_tests.py
  cobalt/tools/run_host_tests_test.py
Due: yapf, pylint, python3-compatibility-check

Parse the exported symbols list
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/api_leak_detector/api_leak_detector_test.py
  starboard/tools/api_leak_detector/evergreen/dev_manifest
  starboard/tools/api_leak_detector/evergreen/manifest
Due: yapf, pylint, python3-compatibility-check

fix(ci): fix test_targets_json_file path in main.yaml
  .github/workflows/main.yaml
Due: none

Cherry pick PR #8615: Mojo implementation for updater APIs (#10666)
  cobalt/browser/h5vcc_updater/h5vcc_updater_impl.cc
Due: clang-format, cpplint

Conditionally add binding in mojo for sideloading APIs (#8803)
  cobalt/browser/cobalt_browser_interface_binders.cc
  cobalt/browser/h5vcc_updater/BUILD.gn
  cobalt/browser/h5vcc_updater/h5vcc_updater_impl.cc
  cobalt/browser/h5vcc_updater/h5vcc_updater_impl.h
  cobalt/browser/h5vcc_updater/h5vcc_updater_sideloading_impl.cc
  cobalt/browser/h5vcc_updater/h5vcc_updater_sideloading_impl.h
  cobalt/browser/h5vcc_updater/public/mojom/h5vcc_updater.mojom
  third_party/blink/renderer/modules/cobalt/h5vcc_updater/h_5_vcc_updater.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_updater/h_5_vcc_updater.h
Due: clang-format, cpplint, gn-format

Cherry pick PR #8615: Mojo implementation for updater APIs (#10666) (#10710)
  cobalt/browser/h5vcc_updater/h5vcc_updater_impl.cc
Due: clang-format, cpplint

fix: Add missing semicolon in starboard_renderer_unittest (#10697)
  media/starboard/starboard_renderer_unittest.cc
Due: clang-format, cpplint

Revert packaging changes
  cobalt/shell/android/javatests/AndroidManifest.xml
  cobalt/testing/browser_tests/BUILD.gn
Due: gn-format

Disable memfd_create
  starboard/tools/api_leak_detector/api_leak_detector.py
  v8/src/wasm/wasm-objects.cc
Due: yapf, pylint, python3-compatibility-check

Support multiple branch autorolling.
  .github/scripts/autoroll_lts.py
  .github/workflows/autoroll_lts.yaml
  .github/workflows/sync_chromium_branches.yaml
Due: yapf, pylint, python3-compatibility-check

Add nplb tests for `alarm`
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_alarm_test.cc
Due: clang-format, cpplint, gn-format

Rebase refresh on 2026-05-30 for m144.
  DEPS
  chrome/browser/bad_message.h
  chrome/browser/password_manager/chrome_password_manager_client_unittest.cc
  chrome/browser/printing/print_browsertest.cc
  chrome/browser/printing/print_view_manager.cc
  chromeos/CHROMEOS_LKGM
  chromeos/ash/experiences/arc/net/DEPS
  chromeos/ash/experiences/arc/net/arc_net_host_impl.cc
  components/password_manager/core/browser/field_info_manager.cc
  components/password_manager/core/browser/field_info_manager.h
  components/password_manager/core/browser/field_info_manager_unittest.cc
  components/password_manager/core/browser/password_form_manager.cc
  components/password_manager/core/browser/password_form_manager.h
  components/password_manager/core/browser/password_form_manager_unittest.cc
  components/password_manager/core/browser/password_manager.cc
  components/password_manager/core/browser/password_manager.h
  gpu/command_buffer/service/gles2_cmd_decoder_passthrough_doers.cc
  gpu/command_buffer/service/gles2_cmd_decoder_passthrough_unittest_buffers.cc
  services/network/trust_tokens/trust_token_request_issuance_helper.cc
  third_party/blink/renderer/platform/heap/heap_barrier_callback.h
  tools/metrics/histograms/metadata/stability/enums.xml
  ui/accessibility/ax_node_id_forward.h
  ui/accessibility/mojom/ax_node_data_mojom_traits.cc
  ui/accessibility/mojom/ax_tree_update_mojom_traits.cc
  ui/accessibility/platform/browser_accessibility.h
  ui/accessibility/platform/browser_accessibility_manager.cc
Due: none

Fix unsigned int comparison
  starboard/nplb/posix_compliance/posix_alarm_test.cc
Due: clang-format, cpplint

Experiment for static analysis in PRs
  .github/actions/build/action.yaml
  .github/actions/check_pruned/action.yaml
  .github/actions/on_host_tests/action.yaml
  .github/actions/test_targets_json/action.yaml
  .github/workflows/main.yaml
Due: none

Test noop change
  cobalt/build/README.md
Due: none

Meaningful change
  cobalt/browser/cobalt_web_contents_observer.h
Due: clang-format, cpplint

Cherry pick PR #8803: Conditionally add binding in mojo for sideloading APIs (#10667)
  cobalt/browser/cobalt_browser_interface_binders.cc
  cobalt/browser/h5vcc_updater/BUILD.gn
  cobalt/browser/h5vcc_updater/h5vcc_updater_impl.cc
  cobalt/browser/h5vcc_updater/h5vcc_updater_impl.h
  cobalt/browser/h5vcc_updater/h5vcc_updater_sideloading_impl.cc
  cobalt/browser/h5vcc_updater/h5vcc_updater_sideloading_impl.h
  cobalt/browser/h5vcc_updater/public/mojom/h5vcc_updater.mojom
  third_party/blink/renderer/modules/cobalt/h5vcc_updater/h_5_vcc_updater.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_updater/h_5_vcc_updater.h
Due: clang-format, cpplint, gn-format

Web tests for h5vcc updater (#8637)
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/h5vcc-updater-getAllowSelfSignedPackages.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/h5vcc-updater-getInstallationIndex.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/h5vcc-updater-getLibrarySha256.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/h5vcc-updater-getRequireNetworkEncryption.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/h5vcc-updater-getUpdateServerUrl.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/h5vcc-updater-getUpdateStatus.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/h5vcc-updater-getUpdaterChannel.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/h5vcc-updater-setAllowSelfSignedPackages.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/h5vcc-updater-setRequireNetworkEncryption.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/h5vcc-updater-setUpdateServerUrl.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/h5vcc-updater-setUpdaterChannel.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/resources/automation.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/resources/mock-h5vcc-updater.js
Due: none

starboard: Convert media info structs to classes
  starboard/android/shared/audio_renderer_passthrough.cc
  starboard/android/shared/media_codec_audio_decoder.cc
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_decoder.cc
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/player_components_factory.cc
  starboard/linux/shared/player_components_factory.cc
  starboard/nplb/player_create_test.cc
  starboard/nplb/player_creation_param_helpers.cc
  starboard/nplb/player_test_util.cc
  starboard/shared/ffmpeg/ffmpeg_audio_decoder_impl.cc
  starboard/shared/opus/opus_audio_decoder.cc
  starboard/shared/starboard/media/codec_util.cc
  starboard/shared/starboard/media/media_util.cc
  starboard/shared/starboard/media/media_util.h
  starboard/shared/starboard/player/filter/adaptive_audio_decoder_internal.cc
  starboard/shared/starboard/player/filter/audio_frame_discarder.cc
  starboard/shared/starboard/player/filter/audio_renderer_internal_pcm.cc
  starboard/shared/starboard/player/filter/audio_renderer_sink_impl.cc
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.cc
  starboard/shared/starboard/player/filter/player_components.cc
  starboard/shared/starboard/player/filter/player_components.h
  starboard/shared/starboard/player/filter/stub_audio_decoder.cc
  starboard/shared/starboard/player/filter/stub_video_decoder.cc
  starboard/shared/starboard/player/input_buffer_internal.cc
  starboard/shared/starboard/player/input_buffer_internal.h
  starboard/shared/starboard/player/player_internal.cc
  starboard/shared/starboard/player/video_dmp_common.cc
  starboard/shared/starboard/player/video_dmp_reader.cc
  starboard/shared/starboard/player/video_dmp_reader.h
  starboard/shared/starboard/player/video_dmp_writer.cc
Due: clang-format, cpplint

Allow crash for h5vcc updater tests temporarily
  third_party/blink/web_tests/TestExpectations
Due: none

Deprecate SbFileAtomicReplace
  base/logging.cc
  cobalt/common/icu_init/init.cc
  cobalt/updater/util.cc
  components/update_client/cobalt_slot_management.cc
  copied_base/base/logging.cc
  net/cert/internal/trust_store_in_memory_starboard.cc
  starboard/BUILD.gn
  starboard/CHANGELOG.md
  starboard/android/shared/BUILD.gn
  starboard/common/BUILD.gn
  starboard/common/file.cc
  starboard/common/file.h
  starboard/common/file_atomic_replace_test.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/BUILD.gn
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/audio_sink/gstreamer_audio_sink_type.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/system/system_sign_with_certification_secret_key.cc
  starboard/elf_loader/exported_symbols.cc
  starboard/file.h
  starboard/linux/shared/BUILD.gn
  starboard/loader_app/installation_manager.cc
  starboard/loader_app/installation_manager_test.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_lstat_test.cc
  starboard/nplb/posix_compliance/posix_rename_test.cc
  starboard/nplb/posix_compliance/posix_stdio_test.cc
  starboard/raspi/shared/BUILD.gn
  starboard/shared/posix/file_atomic_replace.cc
  starboard/shared/starboard/file_atomic_replace_write_file.cc
  starboard/shared/starboard/file_atomic_replace_write_file.h
  starboard/shared/stub/file_atomic_replace.cc
  starboard/stub/BUILD.gn
  third_party/googletest/src/googletest/include/gtest/internal/gtest-port.h
Due: clang-format, cpplint, gn-format

Implement base MemoryContext TLS mapping and Allocator Observers (#10539)
  base/BUILD.gn
  base/memory/cobalt_memory_attribution_observer.cc
  base/memory/cobalt_memory_attribution_observer.h
  base/memory/cobalt_memory_context.cc
  base/memory/cobalt_memory_context.h
Due: none

fix(ci): filter GUnit targets in shared test_targets_json action
  .github/actions/on_device_tests/action.yaml
  .github/actions/test_targets_json/action.yaml
Due: none

tvos: Enable URL player build support for HLS playback
  starboard/tvos/shared/BUILD.gn
  starboard/tvos/shared/configuration_public.h
Due: clang-format, cpplint, gn-format

tvos: Remove window_manager.h usage from URL player
  starboard/tvos/shared/media/url_player_create.mm
Due: none

media: Fix URL player build errors in SbPlayerBridge
  media/starboard/sbplayer_bridge.cc
  media/starboard/sbplayer_bridge.h
Due: clang-format, cpplint

Cherry pick PR #8637: Web tests for h5vcc updater (#10668)
  third_party/blink/web_tests/TestExpectations
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/h5vcc-updater-getAllowSelfSignedPackages.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/h5vcc-updater-getInstallationIndex.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/h5vcc-updater-getLibrarySha256.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/h5vcc-updater-getRequireNetworkEncryption.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/h5vcc-updater-getUpdateServerUrl.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/h5vcc-updater-getUpdateStatus.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/h5vcc-updater-getUpdaterChannel.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/h5vcc-updater-setAllowSelfSignedPackages.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/h5vcc-updater-setRequireNetworkEncryption.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/h5vcc-updater-setUpdateServerUrl.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/h5vcc-updater-setUpdaterChannel.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/resources/automation.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/resources/mock-h5vcc-updater.js
Due: none

cobalt: Register dummy H5vccUpdater binders (#9868)
  cobalt/browser/cobalt_browser_interface_binders.cc
Due: clang-format, cpplint

media: Add URL player for HLS playback on tvOS
  cobalt/renderer/cobalt_content_renderer_client.cc
  cobalt/renderer/cobalt_content_renderer_client.h
  cobalt/shell/browser/shell_platform_delegate_ios.mm
  media/base/demuxer.h
  media/base/media_resource.cc
  media/base/media_resource.h
  media/mojo/clients/starboard/starboard_renderer_client.cc
  media/mojo/clients/starboard/starboard_renderer_client_unittest.cc
  media/mojo/mojom/media_types.mojom
  media/mojo/mojom/media_types_enum_mojom_traits.h
  media/mojo/mojom/renderer_extensions.mojom
  media/mojo/services/starboard/starboard_renderer_wrapper.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.h
  media/starboard/BUILD.gn
  media/starboard/starboard_renderer.cc
  media/starboard/starboard_renderer.h
  media/starboard/url_player_demuxer.cc
  media/starboard/url_player_demuxer.h
  media/starboard/url_player_demuxer_unittest.cc
  third_party/blink/renderer/platform/media/web_media_player_impl.cc
  tools/metrics/histograms/enums.xml
Due: clang-format, cpplint, gn-format

Cherry pick PR #9868: cobalt: Register dummy H5vccUpdater binders (#10694)
  cobalt/browser/cobalt_browser_interface_binders.cc
Due: clang-format, cpplint

h5vcc: Re-enable passing web tests
  third_party/blink/web_tests/TestExpectations
Due: none

Rebase refresh on 2026-05-31 for m144.
  chrome/VERSION
  components/openscreen_platform/udp_socket.cc
  components/viz/service/surfaces/surface_allocation_group.cc
  components/viz/service/surfaces/surface_unittest.cc
  ui/aura/window_event_dispatcher.cc
  ui/aura/window_event_dispatcher_unittest.cc
Due: none

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
