Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, internal-file-check, gn-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^internal/starboard/shared/uikit/.*\.h$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  yapf: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  pylint: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  google-java-format: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gcheckstyle: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not ((?x)^(
    .pre-commit-config.yaml$|
    cobalt/media/|
    cobalt/layout_tests/testdata/|
    nb/|
    starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.cc$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.h$|
    starboard/shared/starboard/player/filter/wsola_internal.cc$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  check-if-starboard-interface-changed: any of: ^starboard/[^/]+\.h$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  test-python3-compatibility: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  internal-file-check: any of: not ((^docker-compose-windows(-internal)?.yml|EXCLUDE\.FILES(\.RECURSIVE)?|codereview\.settings)$), but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gn-format: any of: .*\.gni?$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)


[media] Enable Cobalt support of IAMF (#2297)
  cobalt/media/sandbox/format_guesstimator.cc
  starboard/shared/starboard/media/codec_util.cc
  third_party/chromium/media/base/starboard_utils.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Cherry pick PR #2007: Remove leftover _env.py (#2315)
  cobalt/bindings/_env.py
  cobalt/bindings/code_generator_cobalt.py
  cobalt/bindings/contexts.py
  cobalt/bindings/flatten_idls_test.py
  cobalt/bindings/generate_conversion_header.py
  cobalt/bindings/idl_compiler_cobalt.py
  cobalt/bindings/path_generator_test.py
  cobalt/bindings/run_cobalt_bindings_tests.py
  cobalt/bindings/v8c/_env.py
  cobalt/bindings/v8c/generate_conversion_header_v8c.py
  cobalt/bindings/v8c/idl_compiler_v8c.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Cherry pick PR #1917: Fix broken PATH in Windows container build. (#2318)
  docker/windows/base/build/Dockerfile
Due: check-copyright-year, internal-file-check

Add ErrorAction to Win Dockerfiles. (#1919)
  docker/windows/base/build/Dockerfile
  docker/windows/base/visualstudio2022/Dockerfile
Due: check-copyright-year, internal-file-check

Stop using imp python module. (#2011)
  starboard/build/platform_configuration.py
  starboard/tools/build.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Enable cpp17 audit for all platforms (#2288)
  starboard/linux/x64x11/clang/3.9/platform_configuration/configuration.gni
  starboard/linux/x64x11/gcc/6.3/platform_configuration/configuration.gni
  starboard/win/shared/platform_configuration/configuration.gni
Due: check-copyright-year, internal-file-check, gn-format

[XB1] Add XB1 container for external builds
  docker-compose-windows.yml
  docker/windows/runner/Dockerfile
  docker/windows/runner/runner.ps1
  docker/windows/xb1/Dockerfile
Due: check-copyright-year, internal-file-check

Cherry pick PR #1919: Add ErrorAction to Win Dockerfiles. (#2322)
  docker/windows/base/build/Dockerfile
  docker/windows/base/visualstudio2022/Dockerfile
Due: check-copyright-year, internal-file-check

Add Posix compliance test for setsockopt
  starboard/nplb/posix_compliance/posix_socket_set_options_test.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Cherry pick PR #2011: Stop using imp python module. (#2323)
  starboard/build/platform_configuration.py
  starboard/tools/build.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Update "Set up your environment - Linux" link (#2260)
  cobalt/site/docs/development/setup-android.md
Due: internal-file-check

Pause player when demuxer is underflow
  cobalt/media/base/pipeline.h
  cobalt/media/base/sbplayer_pipeline.cc
  cobalt/media/media_module.cc
  cobalt/media/media_module.h
  cobalt/media/player/web_media_player_impl.cc
  cobalt/media/player/web_media_player_impl.h
  cobalt/media/progressive/demuxer_extension_wrapper.cc
  cobalt/media/progressive/demuxer_extension_wrapper.h
  cobalt/media/progressive/progressive_demuxer.h
  third_party/chromium/media/base/demuxer.h
  third_party/chromium/media/filters/chunk_demuxer.cc
  third_party/chromium/media/filters/chunk_demuxer.h
Due: clang-format, cpplint, internal-file-check

Format the change
  cobalt/media/base/sbplayer_pipeline.cc
Due: clang-format, cpplint, internal-file-check

Add Kokoro build images (#1742)
  docker-compose-windows-internal.yml
Due: check-copyright-year

[android] cleanup unused includes for setting KEY_MAX_INPUT_SIZE
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/shared/player_components_factory.h
  starboard/extension/player_set_max_video_input_size.h
Due: clang-format, cpplint, google-java-format, gcheckstyle, check-copyright-year, internal-file-check

[android] cleanup unused includes for setting KEY_MAX_INPUT_SIZE (#2321)
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/shared/player_components_factory.h
  starboard/extension/player_set_max_video_input_size.h
Due: clang-format, cpplint, google-java-format, gcheckstyle, check-copyright-year, internal-file-check

Add checksum for install jdk17.
  docker/linux/android/Dockerfile
Due: check-copyright-year, internal-file-check

Cherry pick PR #1742: Add Kokoro build images (#2324)
  docker-compose-windows-internal.yml
Due: check-copyright-year

Fix remaining cobalt.dev links
  cobalt/doc/voice_search.md
  cobalt/site/docs/development/setup-raspi.md
  cobalt/site/docs/starboard/porting.md
  starboard/build/doc/migrating_gyp_to_gn.md
  starboard/doc/evergreen/cobalt_evergreen_reference_port_raspi2.md
Due: internal-file-check

Adapt ODT action to new service
  .github/actions/on_device_tests/action.yaml
Due: check-copyright-year, internal-file-check

Adapt ODT action to new service (#2328)
  .github/actions/on_device_tests/action.yaml
Due: check-copyright-year, internal-file-check

Replace flag -std=c99 with -std=c11
  starboard/linux/shared/platform_configuration/BUILD.gn
  starboard/linux/x64x11/clang/3.9/platform_configuration/BUILD.gn
  starboard/linux/x64x11/gcc/6.3/platform_configuration/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Fix merge conflict and a spelling error
  .github/actions/on_device_tests/action.yaml
  .github/workflows/main.yaml
Due: check-copyright-year, internal-file-check

Cherry pick PR #2328: Adapt ODT action to new service (#2330)
  .github/workflows/main.yaml
Due: check-copyright-year, internal-file-check

Cherry pick PR #2321: [android] cleanup unused includes for setting KEY_MAX_INPUT_SIZE (#2326)
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/shared/player_components_factory.h
  starboard/extension/player_set_max_video_input_size.h
Due: clang-format, cpplint, google-java-format, gcheckstyle, check-copyright-year, internal-file-check

Set default standard to c11
  starboard/linux/shared/platform_configuration/BUILD.gn
  starboard/linux/x64x11/clang/3.9/platform_configuration/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Cherry pick PR #2328: Adapt ODT action to new service (#2329)
  .github/actions/on_device_tests/action.yaml
Due: check-copyright-year, internal-file-check

Cherry pick PR #2328: Adapt ODT action to new service (#2331)
  .github/workflows/main.yaml
Due: check-copyright-year, internal-file-check

WIP: Introduce socket APIs.
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_socket_accept_test.cc
  starboard/nplb/posix_compliance/posix_socket_bind_test.cc
  starboard/nplb/posix_compliance/posix_socket_connect_test.cc
  starboard/nplb/posix_compliance/posix_socket_create_test.cc
  starboard/nplb/posix_compliance/posix_socket_listen_test.cc
  starboard/nplb/posix_compliance/posix_socket_receive_from_test.cc
  starboard/nplb/posix_compliance/posix_socket_send_to_test.cc
  starboard/nplb/socket_accept_test.cc
  starboard/nplb/socket_bind_test.cc
  starboard/nplb/socket_connect_test.cc
  starboard/nplb/socket_create_test.cc
  starboard/nplb/socket_helpers.cc
  starboard/nplb/socket_helpers.h
  starboard/nplb/socket_listen_test.cc
  starboard/nplb/socket_receive_from_test.cc
  starboard/nplb/socket_send_to_test.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Deprecate SBDirectoryCreate
  third_party/musl/BUILD.gn
  third_party/musl/src/starboard/sys/stat.c
Due: none

Deprecate SbDirectoryCreate
  base/files/file_util_starboard.cc
  cobalt/browser/splash_screen_cache.cc
  cobalt/cache/memory_capped_directory.cc
  cobalt/updater/utils_test.cc
  starboard/android/shared/android_main.cc
  starboard/android/shared/system_get_path.cc
  starboard/directory.h
  starboard/elf_loader/exported_symbols.cc
  starboard/linux/shared/system_get_path.cc
  starboard/loader_app/app_key_files_test.cc
  starboard/loader_app/drain_file_test.cc
  starboard/loader_app/installation_manager.cc
  starboard/loader_app/installation_manager_test.cc
  starboard/loader_app/reset_evergreen_update_test.cc
  starboard/loader_app/slot_management_test.cc
  starboard/nplb/directory_create_test.cc
  starboard/nplb/file_delete_recursive_test.cc
  starboard/nplb/file_delete_test.cc
  starboard/nplb/system_get_path_test.cc
  starboard/shared/posix/directory_create.cc
  starboard/shared/stub/directory_create.cc
  starboard/shared/win32/directory_create.cc
  starboard/win/shared/system_get_path.cc
  starboard/xb1/shared/system_get_path.cc
  third_party/crashpad/wrapper/wrapper.cc
  third_party/googletest/src/googletest/include/gtest/internal/gtest-port.h
Due: clang-format, cpplint, check-copyright-year, check-if-starboard-interface-changed, internal-file-check

Deprecate SbDirectoryCreate
  cobalt/updater/utils_test.cc
  starboard/loader_app/app_key_files_test.cc
  starboard/loader_app/drain_file_test.cc
  starboard/loader_app/installation_manager_test.cc
  starboard/loader_app/reset_evergreen_update_test.cc
  starboard/loader_app/slot_management_test.cc
  starboard/nplb/file_delete_recursive_test.cc
  starboard/nplb/file_delete_test.cc
  starboard/nplb/system_get_path_test.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Deprecate SbDirectoryCreate
  base/files/file_util_starboard.cc
  cobalt/browser/splash_screen_cache.cc
  cobalt/cache/memory_capped_directory.cc
  cobalt/updater/utils_test.cc
  starboard/android/shared/android_main.cc
  starboard/linux/shared/system_get_path.cc
  starboard/loader_app/drain_file_test.cc
  starboard/loader_app/installation_manager.cc
  starboard/loader_app/reset_evergreen_update_test.cc
  starboard/loader_app/slot_management_test.cc
  starboard/nplb/file_delete_recursive_test.cc
  starboard/nplb/file_delete_test.cc
  starboard/nplb/system_get_path_test.cc
  third_party/googletest/src/googletest/include/gtest/internal/gtest-port.h
  third_party/musl/src/starboard/sys/stat.c
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Deprecate SbDirectoryCreate
  starboard/nplb/system_get_path_test.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Deprecate SbDirectoryCreate
  third_party/musl/src/starboard/sys/stat.c
Due: none
