Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)

Cherry pick PR #9773: build: Don't assume that is_starboard is Linux-only
  copied_base/base/BUILD.gn
Due: none

Cherry pick PR #9866: media: Use OpenSL ES for microphone input
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/CommandLineOverrideHelperTest.java
  cobalt/build/configs/android_common.gn
Due: gcheckstyle, gn-format, check-java-strings-have-locale

Cherry pick PR #9822: build/android: Propagate errors from package script
  cobalt/build/android/package.py
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #9838: [Cherry-pick #8488] Standardize and secure application startup time measurement
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  cobalt/app/app_lifecycle_delegate.cc
  cobalt/app/app_lifecycle_delegate.h
  cobalt/app/app_lifecycle_delegate_unittest.cc
  cobalt/app/cobalt_main_delegate.cc
  cobalt/app/cobalt_main_delegate.h
  cobalt/browser/cobalt_browser_interface_binders.cc
  cobalt/browser/cobalt_browser_interface_binders.h
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/browser/performance/performance_impl.cc
  cobalt/browser/performance/performance_impl.h
  cobalt/browser/performance/public/mojom/performance.mojom
  cobalt/testing/browser_tests/content_browser_test_content_browser_client.cc
  starboard/android/shared/starboard_bridge.cc
  starboard/android/shared/starboard_bridge.h
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.cc
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.h
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.idl
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

Cherry pick PR #9697: fix: Guard ANGLE-extension DCHECKs behind Cobalt/Starboard build flags
  ui/gl/gl_context_egl.cc
Due: none

Cherry pick PR #9799: build: Fix base/BUILD.gn source exclusions
  base/BUILD.gn
Due: none

Cherry pick PR #9771: Test: Fix lsan leak in POSIX locale test
  starboard/nplb/posix_compliance/posix_locale_thread_test.cc
Due: clang-format, cpplint

Cherry pick PR #9869: cobalt/metrics: [Mojo] Define generic transport
  services/resource_coordinator/public/mojom/BUILD.gn
  services/resource_coordinator/public/mojom/memory_instrumentation/memory_instrumentation.mojom
Due: none

Cherry pick PR #9728: ci: Clarify crash reporting
  .github/actions/process_test_results/action.yaml
  .github/workflows/main.yaml
  cobalt/build/packager.py
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #9870: Add UMA metric for media encoded buffer
  cobalt/BUILD.gn
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
  cobalt/browser/metrics/cobalt_metrics_service_client_test.cc
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: clang-format, cpplint, gn-format

Cherry pick PR #9889: [tvOS] Add Kokoro qa and gold configs
  cobalt/devinfra/kokoro/build/tvos/arm64/common.gcl
  cobalt/devinfra/kokoro/build/tvos/arm64/gold.gcl
  cobalt/devinfra/kokoro/build/tvos/arm64/qa.gcl
Due: none

Cherry pick PR #9840: tvOS: Fix warnings and enable treat_warnings_as_errors in GN
  cobalt/build/configs/tvos_common.gn
  starboard/tvos/shared/storage_close_record.mm
  starboard/tvos/shared/storage_read_record.mm
  starboard/tvos/shared/system_get_path.mm
  starboard/tvos/shared/system_get_property.mm
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.cc
Due: clang-format, cpplint, gn-format

Cherry pick PR #9408: tvOS: Add Crash Annotator implementation
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/crash_annotator/BUILD.gn
  cobalt/browser/crash_annotator/crash_annotator_impl_starboard.cc
  cobalt/browser/crash_annotator/crash_annotator_impl_tvos.cc
  starboard/tvos/shared/crash_handler.h
  starboard/tvos/shared/crash_handler.mm
  starboard/tvos/shared/system_get_extensions.cc
Due: clang-format, cpplint, gn-format

Cherry pick PR #9826: Cherry pick PR #8515: Fix: Introduce backpressure to curb mapped memory growth
  gpu/command_buffer/client/implementation_base.cc
  gpu/command_buffer/client/mapped_memory.cc
  gpu/command_buffer/client/mapped_memory.h
  gpu/command_buffer/client/shared_memory_limits.h
Due: none

Cherry pick PR #9762: cobalt: Rework storage migration for early execution (#9418)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/cobalt_browser_main_parts.h
  cobalt/shell/android/java/src/dev/cobalt/shell/ShellManager.java
  cobalt/shell/android/shell_manager.cc
  cobalt/shell/browser/migrate_storage_record/BUILD.gn
  cobalt/shell/browser/migrate_storage_record/migration_manager.cc
  cobalt/shell/browser/migrate_storage_record/migration_manager.h
  cobalt/shell/browser/migrate_storage_record/migration_manager_unittest.cc
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell_browser_main_parts.cc
  cobalt/shell/browser/shell_browser_main_parts.h
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

Cherry pick PR #9895: Support in-memory CRX updates
  components/update_client/op_download.cc
  components/update_client/op_download.h
  components/update_client/pipeline.h
Due: none

Cherry pick PR #9448: media: Add Starboard microphone input support (#8554)
  base/sync_socket_posix.cc
  base/task/sequenced_task_runner.h
  media/audio/BUILD.gn
  media/audio/linux/audio_manager_linux.cc
  media/audio/starboard/audio_input_stream_starboard.cc
  media/audio/starboard/audio_input_stream_starboard.h
  media/audio/starboard/audio_manager_starboard.cc
  media/audio/starboard/audio_manager_starboard.h
  media/media_options.gni
  starboard/linux/shared/BUILD.gn
  starboard/linux/shared/microphone/microphone_impl.cc
  starboard/nplb/microphone_open_test.cc
  starboard/nplb/microphone_read_test.cc
  starboard/shared/alsa/alsa_util.cc
Due: clang-format, cpplint, gn-format

Cherry pick PR #9907: ci: Add authentication for GoB
  .github/actions/depot_tools/action.yaml
Due: none

Cherry pick PR #9932: cherry pick main sync
  DEPS
  PRESUBMIT.py
  base/callback_list.h
  base/callback_list_unittest.cc
  chrome/VERSION
  chrome/browser/extensions/api/declarative_content/chrome_content_rules_registry.cc
  chrome/browser/extensions/api/declarative_content/chrome_content_rules_registry_unittest.cc
  chromeos/CHROMEOS_LKGM
  extensions/browser/api/declarative/rules_registry.cc
  gpu/command_buffer/service/common_decoder.cc
  gpu/command_buffer/service/common_decoder_unittest.cc
  gpu/ipc/service/shared_image_stub.cc
  services/network/shared_dictionary/shared_dictionary_on_disk.cc
  services/network/shared_dictionary/shared_dictionary_on_disk_unittest.cc
  third_party/blink/renderer/bindings/core/v8/native_value_traits_impl.cc
  third_party/blink/renderer/bindings/core/v8/native_value_traits_impl.h
  third_party/blink/renderer/bindings/core/v8/native_value_traits_impl_test.cc
  third_party/blink/renderer/bindings/core/v8/pass_as_span.h
  third_party/blink/renderer/bindings/scripts/bind_gen/blink_v8_bridge.py
  third_party/blink/renderer/modules/webgl/webgl_context_object_support.cc
  third_party/blink/renderer/modules/webgl/webgl_context_object_support.h
  third_party/blink/renderer/modules/webgl/webgl_object.cc
  third_party/blink/renderer/modules/webgl/webgl_object.h
  third_party/blink/renderer/modules/webgl/webgl_rendering_context_base.h
  third_party/blink/renderer/modules/webmidi/midi_port_map.h
  third_party/blink/renderer/platform/fonts/shaping/case_mapping_harfbuzz_buffer_filler.cc
  third_party/blink/web_tests/external/wpt/encoding/textdecoder-arguments.any.js
Due: none

Cherry pick PR #9882: Leak detector updates
  starboard/tools/api_leak_detector/api_leak_detector.py
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #9901: starboard: Change extension error to warning
  cobalt/common/features/starboard_features_initialization.cc
Due: clang-format

Cherry pick PR #9928: ci: Fix permissions issues in autoroll workflow
  .github/scripts/autoroll_lts.py
  .github/workflows/autoroll_lts.yaml
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #9910: media: Enable IAMF by default
  media/media_options.gni
Due: none

Cherry pick PR #9950: ci: Remove cache argument to gclient config
  .github/actions/depot_tools/action.yaml
Due: none

Cherry pick PR #9953: ci: Move main fetch to after branch switch
  .github/scripts/autoroll_lts.py
  .github/workflows/autoroll_lts.yaml
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #9896: Cherry pick PR #9878: android: Skip Java crashpad handler on old ATV
  components/crash/core/app/crashpad_android.cc
Due: none

Cherry pick PR #9911: In-memory crx verification
  components/crx_file/crx_verifier.cc
  components/crx_file/crx_verifier.h
  components/update_client/pipeline.h
  components/update_client/unpacker.cc
Due: none

Cherry pick PR #9922: build: Remove unused toolchain definitions
  build/toolchain/linux/BUILD.gn
  cobalt/build/toolchain/linux/BUILD.gn
  cobalt/build/toolchain/linux/strip.gni
  starboard/build/toolchain/linux/BUILD.gn
  starboard/build/toolchain/mac/BUILD.gn
  starboard/build/toolchain/mac/variables.gni
Due: gn-format

Cherry pick PR #9924: player: Stop defining kLogIntervalUs in release builds
  starboard/shared/starboard/media/decoder_state_tracker.cc
Due: clang-format, cpplint

Cherry pick PR #9727: [POSIX] Support getuid
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/posix_compliance/posix_process_test.cc
  starboard/shared/modular/cobalt_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.h
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/api_leak_detector/evergreen/dev_manifest
  starboard/tools/api_leak_detector/evergreen/manifest
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check

Cherry pick PR #9632: ci: Update required branch checks
  .github/scripts/update_required_branch_checks.py
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #9877: media: Add UMA metric for MediaCodec output buffer
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecOutputTracker.java
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: gcheckstyle, gn-format, check-java-strings-have-locale

Cherry pick PR #9957: Cherry pick PR #9906: cobalt: Enable dark mode by default
  cobalt/app/cobalt_switch_defaults_starboard.cc
Due: clang-format, cpplint

Address review comments and fix SetLatestChannel consistency
  components/update_client/persisted_data.cc
Due: none

add logs, expand milestone
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  cobalt/app/cobalt_main_delegate.cc
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/shell/android/java/src/dev/cobalt/shell/StartupGuardNavigationObserver.java
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/splash_screen_web_contents_observer.cc
  content/browser/renderer_host/navigation_request.cc
  net/dns/host_resolver_manager_job.cc
  net/quic/quic_session_pool_direct_job.cc
  net/socket/transport_connect_job.cc
  net/url_request/url_request.cc
  starboard/android/shared/starboard_bridge.cc
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale
