Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [pre-commit]

default_language_version:
    python: python3

files: |
    (?x)^(
        .github/|
        chrobalt/|
        starboard/|
        .pre-commit-config.yaml|
        docker-compose.yaml
    )

repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-case-conflict
    -   id: check-xml
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace

-   repo: https://cobalt.googlesource.com/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        name: Spell Check
        args: [-x, chrobalt/precommit/.codespellignorelines,
               # The --ignore-words-list argument has a bug where it needs to
               # be lowercase, see
               # https://github.com/codespell-project/codespell/issues/1390
               --ignore-words-list, "atleast,varius",
               ]
        exclude: |
            (?x)^(
                starboard/content/ssl/certs/|
                starboard/loader_app/app_key_test.cc|
                starboard/shared/starboard/player/testdata
            )

-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: clang-format
        language: python
        types: [c++]
        args: [-i, -style=file]
        additional_dependencies: ['clang-format']
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: python
        types: [c++]
        args: [--verbose=4, --quiet]
        additional_dependencies: ['cpplint']
    -   id: yapf
        name: yapf
        entry: yapf
        language: python
        types: [python]
        args: [-i, -vv]
        additional_dependencies: ['yapf']
    -   id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [python]
        args: [-d W0201]
        additional_dependencies: ['pylint']
    -   id: python3-compatibility-check
        name: Python 3 Compatibility Check
        entry: python3 ./chrobalt/precommit/python3_check.py
        language: python
        types: [python]
    -   id: google-java-format
        name: google-java-format
        entry: python3 ./chrobalt/precommit/google_java_format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: python3 ./chrobalt/precommit/gcheckstyle_wrapper.py
        language: python
        types: [java]
    -   id: gn-format
        name: gn-format
        entry: gn format
        language: system
        files: '.*\.gni?$'

Removing h5vcc.storage, no longer needed for YTS tests.
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_interface_binders.cc
  cobalt/browser/h5vcc_storage/testing/BUILD.gn
  cobalt/browser/h5vcc_storage/testing/h5vcc_storage_for_testing_impl.cc
  cobalt/browser/h5vcc_storage/testing/h5vcc_storage_for_testing_impl.h
  cobalt/browser/h5vcc_storage/testing/public/mojom/BUILD.gn
  cobalt/browser/h5vcc_storage/testing/public/mojom/h5vcc_storage_for_testing.mojom
  third_party/blink/renderer/bindings/generated_in_modules.gni
  third_party/blink/renderer/bindings/idl_in_modules.gni
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/cobalt/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_storage/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_storage/h_5_vcc_storage.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_storage/h_5_vcc_storage.h
  third_party/blink/renderer/modules/cobalt/h5vcc_storage/h_5_vcc_storage.idl
  third_party/blink/renderer/modules/cobalt/h5vcc_storage/testing/h_5_vcc_storage.idl
  third_party/blink/renderer/modules/cobalt/h5vcc_storage/testing/h_5_vcc_storage_for_testing.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_storage/testing/h_5_vcc_storage_for_testing.h
  third_party/blink/renderer/modules/cobalt/h_5_vcc.cc
  third_party/blink/renderer/modules/cobalt/h_5_vcc.h
  third_party/blink/renderer/modules/cobalt/h_5_vcc.idl
Due: none

Fix order for apt packages
  cobalt/docker/unittest/Dockerfile
Due: none

Add parameter to optinally disable gclient sync
  .github/actions/depot_tools/action.yaml
Due: none

Remove curlies
  .github/actions/depot_tools/action.yaml
Due: none

Add flags to enable logging and disable sandbox
  .github/actions/web_tests/action.yaml
Due: none

Disable gclient sync in web-tests
  .github/workflows/main.yaml
Due: none

Cherry pick PR #5260: Run 5K+ media_unittests during PR submit (#5348)
  cobalt/testing/filters/linux-x64x11/media_unittests_filter.json
  media/test/run_all_unittests.cc
Due: none

Cherry pick PR #5264: [media] Replace std::size_t with size_t (#5349)
  starboard/common/allocator.h
  starboard/common/fixed_no_free_allocator.cc
  starboard/common/fixed_no_free_allocator.h
  starboard/common/fixed_no_free_allocator_test.cc
  starboard/common/memory_pool.h
  starboard/common/reuse_allocator_base.cc
  starboard/common/reuse_allocator_base.h
Due: clang-format, cpplint

[media] Refactor StarboardRenderer with StarboardRendererTraits (#5350)
  media/mojo/services/gpu_mojo_media_client.cc
  media/mojo/services/gpu_mojo_media_client.h
  media/mojo/services/starboard/gpu_mojo_media_client_starboard.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.h
Due: none

[CONFLICT] Original Commit: fb5058b97d749758224e92c8c36bc859be13269b
  media/mojo/services/gpu_mojo_media_client.cc
  media/mojo/services/gpu_mojo_media_client.h
  media/mojo/services/starboard/gpu_mojo_media_client_starboard.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.h
Due: none

Initialize Finch (#5187)
  cobalt/BUILD.gn
  cobalt/android/BUILD.gn
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/cobalt_main_delegate.cc
  cobalt/cobalt_main_delegate.h
  cobalt/renderer/cobalt_content_renderer_client.h
Due: none

Add thread annotations (#5224)
  media/starboard/decoder_buffer_allocator.h
  media/starboard/sbplayer_bridge.h
  media/starboard/sbplayer_set_bounds_helper.h
  media/starboard/starboard_renderer.h
Due: none

Cherry pick PR #5334: Disable NSS certificates (#5343)
  cobalt/build/configs/linux_common.gn
  net/BUILD.gn
  net/cert/internal/system_trust_store_starboard.cc
Due: none

Add h5vcc experiment APIs.
  cobalt/browser/BUILD.gn
  cobalt/browser/h5vcc_experiments/BUILD.gn
  cobalt/browser/h5vcc_experiments/h5vcc_experiments_impl.cc
  cobalt/browser/h5vcc_experiments/h5vcc_experiments_impl.h
  cobalt/browser/h5vcc_experiments/public/mojom/BUILD.gn
  cobalt/browser/h5vcc_experiments/public/mojom/h5vcc_experiments.mojom
  third_party/blink/renderer/bindings/generated_in_modules.gni
  third_party/blink/renderer/bindings/idl_in_modules.gni
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/cobalt/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/h_5_vcc_experiments.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/h_5_vcc_experiments.h
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/h_5_vcc_experiments.idl
  third_party/blink/renderer/modules/cobalt/h_5_vcc.cc
  third_party/blink/renderer/modules/cobalt/h_5_vcc.h
Due: none

Remove verbose option from tar command
  .github/actions/web_tests/action.yaml
Due: none

[media] Support decode-to-texture mode
  base/BUILD.gn
  base/threading/thread_restrictions.h
  content/renderer/media/media_factory.cc
  gpu/command_buffer/service/BUILD.gn
  gpu/command_buffer/service/starboard/starboard_surface_texture_gl_owner.cc
  gpu/command_buffer/service/starboard/starboard_surface_texture_gl_owner.h
  media/base/BUILD.gn
  media/base/starboard/starboard_rendering_mode.h
  media/gpu/BUILD.gn
  media/gpu/android/codec_output_buffer_renderer.cc
  media/gpu/android/codec_output_buffer_renderer.h
  media/gpu/starboard/starboard_gpu_factory.cc
  media/gpu/starboard/starboard_gpu_factory.h
  media/mojo/clients/starboard/starboard_renderer_client.cc
  media/mojo/clients/starboard/starboard_renderer_client.h
  media/mojo/clients/starboard/starboard_renderer_client_factory.cc
  media/mojo/clients/starboard/starboard_renderer_client_factory.h
  media/mojo/mojom/BUILD.gn
  media/mojo/mojom/renderer_extensions.mojom
  media/mojo/mojom/starboard/starboard_rendering_mode_mojom_traits.h
  media/mojo/services/BUILD.gn
  media/mojo/services/gpu_mojo_media_client.cc
  media/mojo/services/gpu_mojo_media_client.h
  media/mojo/services/starboard/starboard_renderer_wrapper.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.h
  media/starboard/sbplayer_bridge.cc
  media/starboard/starboard_renderer.cc
  media/starboard/starboard_renderer.h
  starboard/android/shared/decode_target.cc
  starboard/android/shared/decode_target.h
  starboard/decode_target.h
  starboard/egl_and_gles/BUILD.gn
  starboard/linux/shared/decode_target_internal.cc
  starboard/shared/starboard/player/filter/cpu_video_frame.cc
  starboard/shared/starboard/player/filter/cpu_video_frame.h
Due: clang-format, cpplint, gn-format

Fix results collection
  .github/actions/web_tests/action.yaml
Due: none

Move audio input permission check to getUserMedia().
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/browser/cobalt_web_contents_delegate.cc
  cobalt/browser/cobalt_web_contents_delegate.h
  content/shell/browser/shell.cc
  content/shell/browser/shell.h
Due: none

Cherry pick PR #5224: Add thread annotations (#5347)
  media/starboard/decoder_buffer_allocator.h
  media/starboard/sbplayer_bridge.h
  media/starboard/sbplayer_set_bounds_helper.h
  media/starboard/starboard_renderer.h
Due: none

Add tests for epoll
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_epoll_test.cc
Due: clang-format, cpplint, gn-format

Cherry pick PR #5235: Bringing back network disconnected error dialog popup (#5274)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/PlatformError.java
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_web_contents_observer.cc
  cobalt/browser/cobalt_web_contents_observer.h
Due: none

[media] Improve DecoderBufferAllocator logging (#5036)
  media/base/decoder_buffer.cc
  media/base/decoder_buffer.h
  media/base/stream_parser_buffer.cc
  media/starboard/BUILD.gn
  media/starboard/decoder_buffer_allocator.cc
  media/starboard/decoder_buffer_allocator.h
  media/starboard/decoder_buffer_allocator_test.cc
  media/starboard/starboard_memory_allocator.h
  media/test/data/starboard/allocations_1La4QzGeaaQ.txt
  starboard/common/allocator.h
  starboard/common/fixed_no_free_allocator.cc
  starboard/common/fixed_no_free_allocator.h
  starboard/common/reuse_allocator_base.cc
  starboard/common/reuse_allocator_base.h
  starboard/tools/media/allocation_extractor.py
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check

Move audio input permission check to getUserMedia(). (#5296)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/browser/cobalt_web_contents_delegate.cc
  cobalt/browser/cobalt_web_contents_delegate.h
  content/shell/browser/shell.cc
  content/shell/browser/shell.h
Due: none

Cherry pick PR #5036: [media] Improve DecoderBufferAllocator logging (#5355)
  media/base/decoder_buffer.cc
  media/base/decoder_buffer.h
  media/base/stream_parser_buffer.cc
  media/starboard/BUILD.gn
  media/starboard/decoder_buffer_allocator.cc
  media/starboard/decoder_buffer_allocator.h
  media/starboard/decoder_buffer_allocator_test.cc
  media/starboard/starboard_memory_allocator.h
  media/test/data/starboard/allocations_1La4QzGeaaQ.txt
  starboard/common/allocator.h
  starboard/common/fixed_no_free_allocator.cc
  starboard/common/fixed_no_free_allocator.h
  starboard/common/reuse_allocator_base.cc
  starboard/common/reuse_allocator_base.h
  starboard/tools/media/allocation_extractor.py
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check

Set retry_level to ERROR
  cobalt/tools/on_device_tests_gateway_client.py
Due: none

Remove padding/alignment from DecoderBufferAllocator
  media/base/decoder_buffer.cc
  starboard/nplb/media_buffer_test.cc
Due: clang-format, cpplint

Ensure localStorage is flushed at most 1 second after mutation.
  cobalt/cobalt_main_delegate.cc
  cobalt/cobalt_main_delegate.h
Due: none

Improve starboard::shared::starboard::media::AvcParameterSets class to handle optional parameters
  starboard/shared/starboard/media/avc_util.cc
  starboard/shared/starboard/media/avc_util.h
  starboard/shared/starboard/media/avc_util_test.cc
Due: clang-format, cpplint

Correct file read offset to prevent infinite loop
  net/log/file_net_log_observer.cc
Due: none

baseTime: Fix #if BUILDFLAG(IS_APPLE) usage
  base/time/time.h
Due: none

Enable kForceFlushDecoderDuringReset and add more logging
  starboard/android/shared/player_components_factory.h
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_frame_tracker.cc
Due: clang-format, cpplint

Add log
  starboard/android/shared/video_frame_tracker.cc
Due: clang-format, cpplint

Removed not-rendeded timestamp
  starboard/android/shared/video_frame_tracker.cc
  starboard/android/shared/video_frame_tracker.h
Due: clang-format, cpplint

Revert "Enable kForceFlushDecoderDuringReset and add more logging"
  starboard/android/shared/player_components_factory.h
  starboard/android/shared/video_decoder.cc
Due: clang-format, cpplint

Delete debugging log
  starboard/android/shared/video_frame_tracker.cc
Due: clang-format, cpplint

Change RemoveInvalidRenderedFrames to local method
  starboard/android/shared/video_frame_tracker.cc
  starboard/android/shared/video_frame_tracker.h
Due: clang-format, cpplint
