Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)

Revert "Revert "media: Remove unused //media/capture dependency" (#11371)"
  content/public/android/BUILD.gn
  media/capture/BUILD.gn
  services/video_capture/video_capture_service_impl.cc
Due: none

ci: Build docker images in all kokoro jobs
  cobalt/devinfra/kokoro/bin/dind_build.sh
  cobalt/devinfra/kokoro/bin/dind_builder_runner.sh
  cobalt/devinfra/kokoro/bin/dind_py/main_build_image_and_run.py
  cobalt/devinfra/kokoro/bin/dind_py/main_pull_image_and_run.py
  cobalt/devinfra/kokoro/bin/dind_runner.sh
Due: yapf, pylint, python3-compatibility-check

Stub out DevToolsBackgroundServicesContextImpl
  content/browser/BUILD.gn
  content/browser/devtools/devtools_background_services_context_impl.cc
  content/browser/devtools/devtools_background_services_context_impl.h
  content/browser/storage_partition_impl.cc
Due: none

cobalt: Make HangWatcher config dynamically updatable (#11105)
  base/threading/hang_watcher.cc
  base/threading/hang_watcher.h
  cobalt/BUILD.gn
  cobalt/browser/global_features.cc
  cobalt/browser/global_features.h
  cobalt/browser/global_features_unittest.cc
  cobalt/browser/hang_watcher_delegate_impl.cc
  cobalt/browser/hang_watcher_delegate_impl.h
  cobalt/browser/hang_watcher_delegate_impl_unittest.cc
Due: clang-format, cpplint, gn-format

media: Improve mime type check in IsSDRVideo()
  starboard/shared/starboard/media/media_util.cc
  starboard/shared/starboard/media/media_util_test.cc
Due: clang-format, cpplint

Fix comment
  starboard/android/shared/BUILD.gn
  starboard/android/shared/audio_track_bridge.cc
  starboard/android/shared/base_starboard_bridge.cc
  starboard/android/shared/media_drm_bridge.cc
  starboard/android/shared/media_resource_tracker.h
  starboard/android/shared/player_create.cc
  starboard/android/shared/player_destroy.cc
  starboard/android/shared/starboard_bridge.h
Due: clang-format, cpplint, gn-format

Disable UpdateClientTest.DiskFull and DiskFullDiff on Starboard
  components/update_client/update_client_unittest.cc
Due: none

Cherry pick PR #11105: cobalt: Make HangWatcher config dynamically updatable
  .github/AUTOROLL
  base/threading/hang_watcher.cc
  base/threading/hang_watcher.h
  cobalt/BUILD.gn
  cobalt/browser/global_features.cc
  cobalt/browser/global_features.h
  cobalt/browser/global_features_unittest.cc
  cobalt/browser/hang_watcher_delegate_impl.cc
  cobalt/browser/hang_watcher_delegate_impl.h
  cobalt/browser/hang_watcher_delegate_impl_unittest.cc
Due: clang-format, cpplint, gn-format

discard memory instead of decommit
  v8/src/wasm/wasm-code-manager.cc
Due: none

starboard/media: Consolidate IsSDRVideo() implementations and expand unit tests
  starboard/shared/starboard/media/media_util.cc
  starboard/shared/starboard/media/media_util_test.cc
Due: clang-format, cpplint

comment
  v8/src/wasm/wasm-code-manager.cc
Due: none

ci: Build docker images in all kokoro jobs (#11379)
  cobalt/devinfra/kokoro/bin/dind_build.sh
  cobalt/devinfra/kokoro/bin/dind_builder_runner.sh
  cobalt/devinfra/kokoro/bin/dind_py/main_build_image_and_run.py
  cobalt/devinfra/kokoro/bin/dind_py/main_pull_image_and_run.py
  cobalt/devinfra/kokoro/bin/dind_runner.sh
Due: yapf, pylint, python3-compatibility-check

media/capture: Add null check for VideoCaptureDeviceFactory on Cobalt
  media/capture/video/video_capture_system_impl.cc
Due: none

Cherry pick PR #11379: ci: Build docker images in all kokoro jobs
  .github/AUTOROLL
  cobalt/devinfra/kokoro/bin/dind_build.sh
  cobalt/devinfra/kokoro/bin/dind_builder_runner.sh
  cobalt/devinfra/kokoro/bin/dind_py/main_build_image_and_run.py
  cobalt/devinfra/kokoro/bin/dind_py/main_pull_image_and_run.py
  cobalt/devinfra/kokoro/bin/dind_runner.sh
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #11295: media: Support external memory allocator
  .github/AUTOROLL
  cobalt/renderer/cobalt_content_renderer_client.cc
  cobalt/renderer/cobalt_content_renderer_client.h
  media/base/decoder_buffer.cc
  media/base/decoder_buffer.h
  media/base/media_client.h
  media/base/media_switches.cc
  media/base/media_switches.h
  media/base/starboard/experimental_features.h
  media/base/stream_parser_buffer.cc
  media/formats/mp4/mp4_stream_parser.cc
  media/starboard/BUILD.gn
  media/starboard/starboard_media_external_memory_allocator.cc
  media/starboard/starboard_media_external_memory_allocator.h
  media/starboard/starboard_media_external_memory_allocator_unittest.cc
Due: clang-format, cpplint, gn-format

Cherry pick PR #11329: media: Fix missing mime type in mojo bypass
  .github/AUTOROLL
  media/base/mock_filters.cc
  media/base/mock_filters.h
  media/mojo/common/starboard/mojo_renderer_bypass_bridge.cc
  media/mojo/common/starboard/mojo_renderer_bypass_bridge.h
  media/mojo/common/starboard/mojo_renderer_bypass_bridge_unittest.cc
  media/mojo/services/mojo_renderer_service.cc
Due: clang-format, cpplint

Cherry pick PR #11224: media: Remove unused //media/capture dependency
  .github/AUTOROLL
  content/public/android/BUILD.gn
  media/capture/BUILD.gn
  services/video_capture/video_capture_service_impl.cc
Due: none

Cherry pick PR #11354: media: Fix missing space in log message
  .github/AUTOROLL
  starboard/android/shared/video_frame_tracker.cc
Due: clang-format, cpplint

Cherry pick PR #11325: Implement dynamic refactoring-immune class aggregation and timeline verification in diff_in_process_heaps.py.
  .github/AUTOROLL
  cobalt/tools/performance/memory/diff_in_process_heaps.py
  cobalt/tools/performance/memory/diff_in_process_heaps_unittest.py
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #11308: Add tvos_tests_passing to tvos workflow
  .github/AUTOROLL
  .github/workflows/tvos_27.lts.yaml
Due: none

Cherry pick PR #11284: BACKPORT: tvos: Prevent double-tap gesture events on tvOS
  .github/AUTOROLL
  content/browser/renderer_host/render_widget_host_view_tvos.h
  content/browser/renderer_host/render_widget_host_view_tvos.mm
  content/browser/renderer_host/render_widget_host_view_tvos_uiview.mm
Due: none

Cherry pick PR #11024: aosp: Fix GTest output on AOSP
  .github/AUTOROLL
  third_party/musl/src/stdio/__stdio_write.c
Due: none

Cherry pick PR #11347: android: Restore Java formatting broken by #11318
  .github/AUTOROLL
  cobalt/android/apk/app/src/app/java/dev/cobalt/app/CobaltApplication.java
  cobalt/android/apk/app/src/app/java/dev/cobalt/app/MainActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/BaseStarboardBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltService.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/CobaltActivityTest.java
Due: gcheckstyle, check-java-strings-have-locale

Cherry pick PR #11315: android: Remove dead cobalt_shell_test_apk targets
  .github/AUTOROLL
  cobalt/shell/android/BUILD.gn
  cobalt/shell/android/shell_test_library_loader.cc
Due: clang-format, cpplint, gn-format

Cherry pick PR #11203: starboard: Fix compiler warnings to build starboard_unittests again
  .github/AUTOROLL
  starboard/common/bidirectional_fit_reuse_allocator_test.cc
  starboard/common/memory_test.cc
  starboard/common/queue_test.cc
  starboard/shared/starboard/player/filter/testing/adaptive_audio_decoder_test.cc
  starboard/shared/starboard/player/filter/testing/player_components_test.cc
  starboard/shared/starboard/player/filter/testing/wsola_internal_test.cc
Due: clang-format, cpplint

Cherry pick PR #11163: android: Use @CalledByNativeUnchecked for media teardown JNI resilience
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java
Due: gcheckstyle, check-java-strings-have-locale

Cherry pick PR #11364: android: Remove unused variables across dev.cobalt.coat
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/AudioPermissionRequester.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/javabridge/HTMLMediaElementExtension.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/libraries/services/clientloginfo/ClientLogInfo.java
Due: gcheckstyle, check-java-strings-have-locale

Cherry pick PR #11359: starboard: Remove dead needResetSurface allowlist and JNI code
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/VideoSurfaceView.java
  starboard/android/shared/video_window.cc
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

Cherry pick PR #11370: Revert "[CI] Disable E2E tests on RDK"
  .github/AUTOROLL
  .github/config/evergreen-arm-hardfp-rdk.json
Due: none

Cherry pick PR #11264: cobalt: Remove logging prefixes from Crashpad handlers
  .github/AUTOROLL
  components/crash/core/app/crashpad_android.cc
  third_party/crashpad/crashpad/handler/handler_main.cc
  third_party/crashpad/crashpad/handler/linux/crash_report_exception_handler.cc
Due: none

Cherry pick PR #11280: Set Dolby Vision policy to 1 before running on RDK
  .github/AUTOROLL
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk.py
Due: none

Cherry pick PR #11321: fix: Preserve siginfo when Crashpad re-raises sig
  .github/AUTOROLL
  third_party/crashpad/crashpad/util/posix/signals.cc
Due: none

Cherry pick PR #11371: Revert "media: Remove unused //media/capture dependency"
  .github/AUTOROLL
  content/public/android/BUILD.gn
  media/capture/BUILD.gn
  services/video_capture/video_capture_service_impl.cc
Due: none
