Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

chromium-pre-commit:
  name: Chromium presubmit bridge
  entry: ./third_party/depot_tools/vpython3 --vpython-spec=./third_party/depot_tools/.vpython3 ./cobalt/precommit/run_chromium_presubmits.py
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==21.1.0

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=5
  - --quiet
  additional_dependencies:
  - cpplint==2.0.2

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

check-java-strings-have-locale:
  name: Check Java String.format includes Locale
  entry: python3 ./cobalt/precommit/check_java_strings_have_locale.py
  language: python

agents: Format pr-shepherd markdown documentation to 80 chars limit
  .agent/skills/pr-shepherd/SKILL.md
  .agent/skills/pr-shepherd/resources/triage_agent.md
  .agent/skills/pr-shepherd/scripts/shepherd_pr.py
  .agent/skills/pr-shepherd/scripts/shepherd_pr_test.py
Due: none

agents: Add cobalt-ci reviewer to critic-review skill
  .agent/skills/critic_review/SKILL.md
  .agent/skills/critic_review/resources/reviewers/cobalt-ci-reviewer.md
Due: none

ci: Align .filter parsing and pre-commit check with Chromium test launcher
  cobalt/devinfra/github/test_filter.py
  cobalt/devinfra/github/test_filter_test.py
  cobalt/precommit/filter_format_check.py
  cobalt/precommit/filter_format_check_test.py
Due: yapf, pylint, python3-compatibility-check

ci: Upgrade Git to 2.46.2 in Dockerfiles and unpin depot_tools
  .github/actions/depot_tools/action.yaml
  .github/actions/overlay_workspace/action.yaml
  cobalt/docker/linux/Dockerfile
  cobalt/docker/rdk/Dockerfile
  cobalt/docker/unittest/Dockerfile
  cobalt/docker/webtest/Dockerfile
Due: none

ci: Download on-host test artifacts on demand using test filters
  .github/actions/on_host_tests/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
  cobalt/build/archive_test_artifacts.py
  cobalt/build/test_archive_test_artifacts.py
Due: yapf, pylint, python3-compatibility-check

starboard: Fix player testdata resolution for on-host per-target packaging
  starboard/shared/starboard/player/file_cache_reader.cc
Due: clang-format, cpplint

build: Fix and enable binary stripping for host test packaging
  .github/actions/upload_test_artifacts/action.yaml
  cobalt/build/archive_test_artifacts.py
  cobalt/build/test_archive_test_artifacts.py
Due: yapf, pylint, python3-compatibility-check

tvos: Rewrite relative --gtest_output paths to cache directory in test_main
  starboard/common/test_main.cc
Due: clang-format, cpplint

tvos: Use kSbFileMaxPath buffer size for cache directory path in test_main
  starboard/common/test_main.cc
Due: clang-format, cpplint

tvos: Use named constant for --gtest_output=xml: prefix in test_main
  starboard/common/test_main.cc
Due: clang-format, cpplint

Fix kSbFileMaxPath usage
  starboard/common/test_main.cc
Due: clang-format, cpplint

media: Migrate software video decoder control from mimetype to h5vcc (#12571)
  starboard/android/shared/BUILD.gn
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/media_codec_video_decoder_helpers.cc
  starboard/android/shared/media_codec_video_decoder_helpers.h
  starboard/android/shared/media_codec_video_decoder_helpers_test.cc
  starboard/android/shared/media_is_video_supported.cc
  starboard/shared/starboard/experimental_features.h
Due: clang-format, cpplint, gn-format

Cherry pick PR #12571: media: Migrate software video decoder control from mimetype to h5vcc
  .github/AUTOROLL
  starboard/android/shared/BUILD.gn
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/media_codec_video_decoder_helpers.cc
  starboard/android/shared/media_codec_video_decoder_helpers.h
  starboard/android/shared/media_codec_video_decoder_helpers_test.cc
  starboard/android/shared/media_is_video_supported.cc
  starboard/shared/starboard/experimental_features.h
Due: clang-format, cpplint, gn-format

android: Drain the video codec before an HDR/SDR color space change
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/media_codec_video_decoder.h
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

ci: Remove test attempts from browser test configs (#12556)
  .github/actions/linux_browser_tests/action.yaml
  .github/actions/on_host_tests/action.yaml
  .github/config/android-arm.json
  .github/config/linux.json
  .github/scripts/generate_crash_report.py
  cobalt/tools/on_device_tests_gateway_client.py
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #12556: ci: Remove test attempts from browser test configs
  .github/AUTOROLL
  .github/actions/linux_browser_tests/action.yaml
  .github/actions/on_host_tests/action.yaml
  .github/config/android-arm.json
  .github/config/linux.json
  .github/scripts/generate_crash_report.py
  cobalt/tools/on_device_tests_gateway_client.py
Due: yapf, pylint, python3-compatibility-check

doc: update setup-rdk.md for Cobalt 27 Starboard-only build and AH212 deployment
  cobalt/site/docs/development/setup-rdk.md
Due: none

[BACKPORT] tvos: Support key auto-repeat for held D-pad presses
  content/browser/renderer_host/render_widget_host_view_tvos_uiview.mm
Due: none

Cherry pick PR #12720: [tvOS] build: Update src/cobalt/internal hash in DEPS to df6d44
  .github/AUTOROLL
  DEPS
Due: none

Cherry pick PR #12701: cobalt/browser: Initialize non-blocking local PMA and defer file cleanup
  .github/AUTOROLL
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/metrics/cobalt_metrics_service_client.cc
  cobalt/browser/metrics/cobalt_stability_metrics_helper.cc
  cobalt/browser/metrics/cobalt_stability_metrics_helper.h
  cobalt/browser/metrics/cobalt_stability_metrics_helper_unittest.cc
  cobalt/tools/verify_pma_disk_usage.py
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check

TEMP: Pin depot_tools to 4a978d8f1f3 (partial #12717 cherry-pick)
  .github/actions/depot_tools/action.yaml
Due: none

SkFontMgr_cobalt_unittest.cc: Adapt to https://crrev.com/c/7067794
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFontMgr_cobalt_unittest.cc
Due: clang-format, cpplint

components/update_client/unpacker_unittest.cc: Pass prod_id to Unpacker::Unpack
  components/update_client/unpacker_unittest.cc
Due: none

ci: Enable the API leak detector for aosp
  .github/workflows/evergreen.yaml
Due: none

starboard: Add documentation comments and bug links to experimental features
  media/base/starboard/experimental_features.h
  starboard/shared/starboard/experimental_features.h
Due: clang-format, cpplint

M143.7499: fix conflicts, builds and tests (#12733)
  .github/AUTOROLL_CHROMIUM
  .github/actions/depot_tools/action.yaml
  DEPS
  base/BUILD.gn
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFontMgr_cobalt_unittest.cc
  components/update_client/component.h
  components/update_client/network.h
  components/update_client/op_install.cc
  components/update_client/unpacker.cc
  components/update_client/unpacker.h
  components/update_client/unpacker_unittest.cc
  components/update_client/update_client_unittest.cc
  components/update_client/url_fetcher_downloader.cc
  components/update_client/url_fetcher_downloader.h
  gpu/BUILD.gn
  gpu/command_buffer/client/raster_implementation.cc
  gpu/command_buffer/service/shared_image/ozone_image_backing_factory.cc
  media/mojo/mojom/renderer_extensions.mojom
  media/webrtc/BUILD.gn
  media/webrtc/helpers.cc
  mojo/core/channel.cc
  mojo/core/embedder/embedder.cc
  mojo/core/node_channel.cc
  services/network/BUILD.gn
  services/network/public/cpp/features.cc
  services/network/public/cpp/features.h
  services/on_device_model/ml/BUILD.gn
  services/on_device_model/ml/DEPS
  services/on_device_model/ml/ts_model.cc
  third_party/blink/renderer/core/html/parser/html_document_parser.cc
  third_party/blink/renderer/modules/cobalt_modules_stubs.cc
  third_party/blink/renderer/platform/instrumentation/memory_pressure_listener.cc
  third_party/blink/web_tests/TestExpectations
  third_party/skia/include/core/SkStream.h
  third_party/skia/src/core/SkStream.cpp
  third_party/skia/src/text/gpu/Glyph.h
  tools/licenses/licenses.py
  tools/metrics/common/xml_utils.py
  tools/metrics/histograms/extract_histograms.py
Due: clang-format, cpplint

ci: Add manual trigger to CI Shepherd workflow
  .github/workflows/ci_shepherd.yml
Due: none

aosp: route Android Activity lifecycle into the Starboard event queue
  cobalt/aosp/apk/app/java/dev/cobalt/app/MainActivity.java
  starboard/aosp/shared/BUILD.gn
  starboard/aosp/shared/application_aosp.cc
  starboard/aosp/shared/application_aosp.h
  starboard/aosp/shared/main_activity.cc
  starboard/aosp/shared/window_get_platform_handle.cc
  starboard/aosp/shared/window_get_size.cc
  starboard/aosp/shared/window_internal.cc
  starboard/aosp/shared/window_internal.h
  starboard/aosp/shared/window_surface.cc
  starboard/aosp/shared/window_surface.h
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

android: Pre-create the replacement codec during a color space drain
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/shared/media_codec.h
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_codec_decoder.cc
  starboard/android/shared/media_codec_decoder.h
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/media_codec_video_decoder.h
  starboard/shared/stub/media_can_change_type.cc
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

Define MIME parameter name constants in MimeType::Param
  starboard/android/shared/media_codec_video_decoder_helpers.cc
  starboard/android/shared/media_is_video_supported.cc
  starboard/android/shared/player_components_factory.cc
  starboard/shared/starboard/media/mime_type.h
  starboard/shared/starboard/media/mime_type_test.cc
  starboard/shared/starboard/media/mime_util.cc
  starboard/shared/starboard/media/parsed_mime_info.cc
  starboard/tvos/shared/media_can_play_mime_and_key_system.mm
  starboard/tvos/shared/media_is_video_supported.mm
Due: clang-format, cpplint

starboard: Introduce MimeParam class for strongly-typed MIME parameter handling
  starboard/android/shared/media_codec_video_decoder_helpers.cc
  starboard/android/shared/media_is_key_system_supported.cc
  starboard/android/shared/media_is_video_supported.cc
  starboard/android/shared/player_components_factory.cc
  starboard/shared/starboard/media/BUILD.gn
  starboard/shared/starboard/media/media_tests.gni
  starboard/shared/starboard/media/mime_param.cc
  starboard/shared/starboard/media/mime_param.h
  starboard/shared/starboard/media/mime_param_test.cc
  starboard/shared/starboard/media/mime_type.cc
  starboard/shared/starboard/media/mime_type.h
  starboard/shared/starboard/media/mime_type_test.cc
  starboard/shared/starboard/media/mime_util.cc
  starboard/shared/starboard/media/parsed_mime_info.cc
  starboard/shared/widevine/drm_system_widevine.cc
  starboard/tvos/shared/media_can_play_mime_and_key_system.mm
  starboard/tvos/shared/media_is_video_supported.mm
Due: clang-format, cpplint, gn-format

Address comments
  starboard/shared/starboard/media/mime_param.h
  starboard/shared/starboard/media/mime_param_test.cc
Due: clang-format, cpplint

ci: Introduce shared base container with Git 2.46.2 and unpin depot_tools
  .github/actions/depot_tools/action.yaml
  .github/actions/docker/action.yaml
  .github/actions/overlay_workspace/action.yaml
  .github/workflows/main.yaml
  cobalt/docker/base/Dockerfile
  cobalt/docker/linux/Dockerfile
  cobalt/docker/rdk/Dockerfile
  cobalt/docker/unittest/Dockerfile
  cobalt/docker/webtest/Dockerfile
  docker-compose.yaml
Due: none

[Kokoro] Pin depot_tools to workaround gclient git incompatibility
  cobalt/devinfra/kokoro/bin/build_mac.sh
  cobalt/devinfra/kokoro/bin/dind_build.sh
  cobalt/devinfra/kokoro/bin/presubmit_build_mac.sh
  cobalt/devinfra/kokoro/docker-compose.yaml
Due: none

Make consumeLine a function from lamda
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
Due: clang-format, cpplint

agents: Prohibit autonomous GitHub commenting in pr-shepherd skill
  .agent/skills/pr-shepherd/SKILL.md
  .agent/skills/pr-shepherd/resources/triage_agent.md
Due: none

partition_alloc: Avoid thread_local TID caching on Starboard to prevent emutls reentrancy
  base/allocator/partition_allocator/src/partition_alloc/partition_alloc_base/threading/platform_thread_posix.cc
Due: none

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
