Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

chromium-pre-commit:
  name: Chromium presubmit bridge
  entry: ./third_party/depot_tools/vpython3 --vpython-spec=./third_party/depot_tools/.vpython3 ./cobalt/precommit/run_chromium_presubmits.py
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==21.1.0

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=5
  - --quiet
  additional_dependencies:
  - cpplint==2.0.2

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

check-java-strings-have-locale:
  name: Check Java String.format includes Locale
  entry: python3 ./cobalt/precommit/check_java_strings_have_locale.py
  language: python

Cherry pick PR #9652: IWYU clean up for cobalt/app
  cobalt/app/app_lifecycle_delegate.cc
  cobalt/app/app_lifecycle_delegate_unittest.cc
  cobalt/app/cobalt.cc
  cobalt/app/cobalt_crash_reporter_client.cc
  cobalt/app/cobalt_main_delegate.cc
  cobalt/app/cobalt_main_delegate.h
  cobalt/app/cobalt_switch_defaults.cc
  cobalt/app/cobalt_switch_defaults_starboard.cc
  cobalt/app/cobalt_switch_defaults_starboard_test.cc
Due: clang-format, cpplint

Cherry pick PR #9750: ci: Update autoroll LTS branch handling and PR links
  .github/scripts/autoroll_lts.py
  .github/workflows/autoroll_lts.yaml
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #9382: tvOS: Enable Crashpad integration in Cobalt Shell
  cobalt/BUILD.gn
  cobalt/app/tvos/main.mm
Due: gn-format

Cherry pick PR #9641: tvOS: Initialize Application for browser tests
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/browser_tests/content_test_launcher.cc
Due: clang-format, cpplint, gn-format

Cherry pick PR #9629: Cherry pick PR #9031: skia: Add Skia font file data cache
  content/public/common/content_features.cc
  content/public/common/content_features.h
  content/renderer/render_thread_impl.cc
  third_party/skia/include/core/SkStream.h
  third_party/skia/src/core/SkStream.cpp
Due: none

Cherry pick PR #9738: build: Update copied_base/ for AOSP Arm platform
  copied_base/base/BUILD.gn
  copied_base/base/allocator/partition_allocator/BUILD.gn
  copied_base/base/android/jni_generator/BUILD.gn
  copied_base/base/test/BUILD.gn
Due: none

Cherry pick PR #9453: Support cobalt_browsertests on Evergreen
  cobalt/testing/browser_tests/cobalt_browser_tests_main.cc
Due: clang-format, cpplint

Cherry pick PR #9759: ci: Fix CLA for autoroll workflow
  .github/scripts/autoroll_lts.py
  .github/workflows/autoroll_lts.yaml
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #9685: BACKPORT: Make sure we are getting the correct atlas for glyph mask f…
  third_party/skia/gn/tests.gni
  third_party/skia/src/gpu/ganesh/text/GrAtlasManager.cpp
  third_party/skia/src/gpu/graphite/text/TextAtlasManager.cpp
  third_party/skia/src/text/gpu/Glyph.h
  third_party/skia/src/text/gpu/GlyphVector.cpp
  third_party/skia/src/text/gpu/GlyphVector.h
  third_party/skia/src/text/gpu/StrikeCache.cpp
  third_party/skia/src/text/gpu/StrikeCache.h
  third_party/skia/src/text/gpu/SubRunContainer.cpp
  third_party/skia/tests/AtlasOobTest.cpp
Due: none

Cherry pick PR #9392: Cherry pick PR #9137: Extend performance API to expose VM and swap memory usage
  base/process/process_metrics.h
  base/process/process_metrics_linux.cc
  cobalt/browser/performance/performance_impl.cc
  cobalt/browser/performance/performance_impl.h
  cobalt/browser/performance/public/mojom/performance.mojom
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.cc
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.h
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.idl
Due: clang-format, cpplint

Cherry pick PR #9770: ci: Add commit to autoroll skip list
  .github/scripts/autoroll_lts.py
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #9763: build: Don't assume that hermetic builds are Linux-only
  copied_base/base/BUILD.gn
  testing/test.gni
Due: none

Cherry pick PR #9706: cobalt: Set migrated cookie source type to kOther
  cobalt/shell/browser/migrate_storage_record/migration_manager.cc
Due: clang-format, cpplint

Cherry pick PR #9721: [tvOS] Add simple_packager.py for tvOS
  cobalt/devinfra/kokoro/build/tvos/simple_packager.py
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #9555: Refactor cobalt_browsertest on Linux
  .github/actions/linux_browser_tests/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
  .github/config/linux.json
  .github/workflows/main.yaml
  cobalt/build/testing/targets/linux-x64x11/test_targets.json
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/browser_tests/tools/collect_test_artifacts.py
  cobalt/testing/filters/linux-x64x11/cobalt_browsertests_filter.json
  testing/test.gni
Due: yapf, pylint, python3-compatibility-check, gn-format

Cherry pick PR #9660: UMA: Track libchrobalt.so PSS and RSS in memory metrics
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
  services/resource_coordinator/memory_instrumentation/queued_request_dispatcher.cc
  services/resource_coordinator/public/cpp/memory_instrumentation/os_metrics_linux.cc
  services/resource_coordinator/public/mojom/BUILD.gn
  services/resource_coordinator/public/mojom/memory_instrumentation/memory_instrumentation.mojom
Due: clang-format, cpplint

Cherry pick PR #9656: metrics: Add fragmentation metrics for BlinkGC
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_metrics_service_client_test.cc
  cobalt/browser/metrics/font_metrics_browsertest.cc
Due: clang-format, cpplint

Cherry pick PR #9717: cobalt: Add UMA histograms for storage metrics
  tools/metrics/histograms/metadata/cobalt/enums.xml
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: none

Cherry pick PR #9600: nplb test: Change stack allocation size from 4Mb to 1MB (#9030)
  starboard/nplb/posix_compliance/posix_thread_attr_test.cc
Due: clang-format, cpplint

Cherry pick PR #9674: Add perf tests splash browser tests
  cobalt/shell/browser/h5vcc_scheme_url_loader_factory_browsertest.cc
Due: clang-format, cpplint

Cherry pick PR #9729: Log as Info for splash screen cache miss
  cobalt/shell/browser/h5vcc_scheme_url_loader_factory.cc
Due: clang-format, cpplint

Cherry pick PR #9627: cobalt: Add tvOS support to CobaltCrashReporterClient, enable by default
  cobalt/app/cobalt_crash_reporter_client.cc
  cobalt/app/cobalt_main_delegate.cc
Due: clang-format, cpplint

Cherry pick PR #9720: android: Explain input buffer state after flush
  starboard/android/shared/video_decoder.cc
Due: clang-format, cpplint

Cherry pick PR #9778: Cherry pick PR #9258: cobalt/metrics: Expose vm metrics to UMA data stream
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
  services/resource_coordinator/memory_instrumentation/queued_request_dispatcher.cc
  services/resource_coordinator/public/mojom/memory_instrumentation/memory_instrumentation.mojom
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: clang-format, cpplint

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
