Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)

Cite RDK-measured memory cost in cc-image-cache-limit-items comment
  cc/tiles/image_decode_cache_utils.cc
Due: none

Make cc-image-cache-limit-items comment read as prose
  cc/tiles/image_decode_cache_utils.cc
Due: none

Shorten cc-image-cache-limit-items comment to one line
  cc/tiles/image_decode_cache_utils.cc
Due: none

cobalt: Default Starboard CC image cache limit to 15 items
  cc/tiles/image_decode_cache_utils.cc
Due: none

cobalt: Clarify rationale for 15-item CC image cache default
  cc/tiles/image_decode_cache_utils.cc
Due: none

WIP: AI automated rebase partial progress (build unverified)
  third_party/blink/renderer/core/BUILD.gn
  ui/gfx/BUILD.gn
Due: none

Resolve PR #12621 Layering Violations and ICU Override
  cobalt/common/icu_init/init.cc
  starboard/nplb/BUILD.gn
Due: clang-format, cpplint, gn-format

Cherry pick PR #12740: [Kokoro] Pin depot_tools to workaround gclient git incompatibility
  .github/AUTOROLL
  cobalt/devinfra/kokoro/bin/build_mac.sh
  cobalt/devinfra/kokoro/bin/dind_build.sh
  cobalt/devinfra/kokoro/bin/presubmit_build_mac.sh
  cobalt/devinfra/kokoro/docker-compose.yaml
Due: none

[WIP] cobalt: Conceal preload launches with launch=preload URL param and retain SbWindow handle
  cobalt/app/app_event_delegate.cc
  cobalt/shell/browser/shell_browser_main_parts.cc
  ui/ozone/platform/starboard/platform_window_starboard.cc
Due: clang-format, cpplint

Address comments
  starboard/android/shared/aaudio_audio_sink.cc
  starboard/android/shared/aaudio_audio_sink.h
  starboard/extension/feature_config.h
Due: clang-format, cpplint

aosp: Disable AOSP on-device tests in platform config
  .github/config/evergreen-arm-softfp-aosp.json
Due: none

media: Enable External Memory Allocator
  cobalt/renderer/cobalt_content_renderer_client.cc
  media/base/media_switches.cc
Due: clang-format, cpplint

[Memory] Add metrics to measure virtual address (VA) space fragmentation (#12578)
  cobalt/BUILD.gn
  cobalt/browser/features.cc
  cobalt/browser/features.h
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.h
  cobalt/browser/metrics/cobalt_memory_metrics_emitter_unittest.cc
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: clang-format, cpplint, gn-format

cobalt: Gate V8 and GPU memory runtime flags with base::Feature (#12595)
  base/features.cc
  base/features.h
  cobalt/app/cobalt_switch_defaults_starboard.cc
  cobalt/app/cobalt_switch_defaults_starboard_test.cc
  gin/v8_initializer.cc
  gpu/command_buffer/service/service_utils.cc
  third_party/blink/renderer/platform/widget/compositing/layer_tree_settings.cc
  third_party/blink/renderer/platform/widget/compositing/layer_tree_settings_unittest.cc
Due: clang-format, cpplint

starboard: Default CC image cache limit to 15 items (#12704)
  cc/tiles/image_decode_cache_utils.cc
Due: none

Synthesize artificial test results for internal on-device tests
  .github/actions/internal_tests/action.yaml
  cobalt/tools/on_device_tests_gateway_client.py
  cobalt/tools/on_device_tests_gateway_client_test.py
Due: yapf, pylint, python3-compatibility-check

docker: Add xauth to test images and remove redundant base image build steps
  .github/actions/docker/action.yaml
  .github/workflows/main.yaml
  cobalt/docker/Dockerfile
Due: none

Cherry pick PR #12578: [Memory] Add metrics to measure virtual address (VA) space fragmentation
  .github/AUTOROLL
  cobalt/BUILD.gn
  cobalt/browser/features.cc
  cobalt/browser/features.h
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.h
  cobalt/browser/metrics/cobalt_memory_metrics_emitter_unittest.cc
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: clang-format, cpplint, gn-format

Cherry pick PR #12595: cobalt: Gate V8 and GPU memory runtime flags with base::Feature
  .github/AUTOROLL
  base/features.cc
  base/features.h
  cobalt/app/cobalt_switch_defaults_starboard.cc
  cobalt/app/cobalt_switch_defaults_starboard_test.cc
  gin/v8_initializer.cc
  gpu/command_buffer/service/service_utils.cc
  third_party/blink/renderer/platform/widget/compositing/layer_tree_settings.cc
  third_party/blink/renderer/platform/widget/compositing/layer_tree_settings_unittest.cc
Due: clang-format, cpplint

Cherry pick PR #12704: starboard: Default CC image cache limit to 15 items
  .github/AUTOROLL
  cc/tiles/image_decode_cache_utils.cc
Due: none

aosp: Route deep links through the Starboard event queue
  cobalt/aosp/apk/app/java/dev/cobalt/app/MainActivity.java
  starboard/android/shared/base_starboard_bridge.cc
  starboard/aosp/shared/BUILD.gn
  starboard/aosp/shared/application_aosp.cc
  starboard/aosp/shared/application_aosp.h
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

aosp: Address review comments
  cobalt/aosp/apk/app/java/dev/cobalt/app/MainActivity.java
  starboard/aosp/shared/application_aosp.h
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

fix(rebase): stop stuck_count from aborting runs that are making progress
  .github/rebase/autoninja.py
  .github/rebase/base_resolver.py
  .github/rebase/gn_gen.py
  .github/rebase/reasoning_engine/skills/compiler_healing.md
  .github/rebase/test_rebase_suite.py
Due: yapf, pylint, python3-compatibility-check

android: Define ANDROID_ABI for starboard_platform
  starboard/android/shared/BUILD.gn
Due: gn-format

rdk: Add bounded wait and safe semaphore lifetime in RequestAndWait
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/libcobalt.cc
Due: none

rdk: Reset HangMonitor on suspend and recreate on resume
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/application_rdk.cc
Due: none

RESOLVED: AI automated rebase conflict healing
  cc/layers/heads_up_display_layer_impl.cc
  cobalt/browser/client_hint_headers/cobalt_trusted_header_client.cc
  cobalt/browser/client_hint_headers/cobalt_trusted_header_client.h
  cobalt/shell/browser/shell_devtools_bindings.cc
  components/services/storage/dom_storage/leveldb/dom_storage_batch_operation_leveldb.cc
  components/services/storage/dom_storage/leveldb/dom_storage_database_leveldb.cc
  content/browser/browser_interface_binders.cc
  content/browser/renderer_host/navigation_request.cc
  content/browser/renderer_host/navigation_throttle_registry_impl.cc
  gpu/command_buffer/service/image_reader_gl_owner.cc
  services/network/network_service.cc
  services/network/network_service.h
  services/on_device_model/ml/ts_model.cc
  skia/ext/font_utils.cc
  third_party/blink/renderer/platform/network/mime/content_type.h
  third_party/perfetto/src/base/periodic_task.cc
  ui/gfx/BUILD.gn
Due: clang-format, cpplint

media: Enable external memory allocator by default (#12741)
  cobalt/renderer/cobalt_content_renderer_client.cc
  media/base/media_switches.cc
Due: clang-format, cpplint

Changelog entry
  starboard/CHANGELOG.md
Due: none

Cherry pick PR #12741: media: Enable external memory allocator by default
  .github/AUTOROLL
  cobalt/renderer/cobalt_content_renderer_client.cc
  media/base/media_switches.cc
Due: clang-format, cpplint

cobalt: Gate compositor skewport target time with base::Feature
  base/features.cc
  base/features.h
  third_party/blink/renderer/platform/widget/compositing/layer_tree_settings.cc
Due: none

cobalt: Gate compositor skewport target time with base::Feature (#12664)
  base/features.cc
  base/features.h
  third_party/blink/renderer/platform/widget/compositing/layer_tree_settings.cc
Due: none

cobalt: Gate compositor prepaint memory budget with base::Feature
  base/features.cc
  base/features.h
  third_party/blink/renderer/platform/widget/compositing/layer_tree_settings.cc
Due: none

Cherry pick PR #12664: cobalt: Gate compositor skewport target time with base::Feature
  .github/AUTOROLL
  base/features.cc
  base/features.h
  third_party/blink/renderer/platform/widget/compositing/layer_tree_settings.cc
Due: none

Adjust hash of Revert Cobalt commit for easier cherry-picking
  DEPS
  cc/layers/heads_up_display_layer_impl.cc
  components/permissions/BUILD.gn
  components/services/storage/dom_storage/leveldb/dom_storage_batch_operation_leveldb.cc
  components/services/storage/dom_storage/leveldb/dom_storage_database_leveldb.cc
  components/update_client/url_fetcher_downloader.cc
  content/browser/browser_interface_binders.cc
  content/browser/renderer_host/navigation_request.cc
  content/browser/storage_partition_impl_unittest.cc
  content/shell/android/BUILD.gn
  gpu/command_buffer/service/image_reader_gl_owner.cc
  gpu/command_buffer/service/shared_image/ozone_image_backing_factory.cc
  services/network/BUILD.gn
  services/network/network_context.cc
  services/network/network_service.cc
  services/network/network_service.h
  services/on_device_model/ml/ts_model.cc
  skia/BUILD.gn
  skia/ext/font_utils.cc
  third_party/android_deps/build.gradle
  third_party/blink/renderer/core/BUILD.gn
  third_party/blink/renderer/core/html/media/html_media_element.cc
  third_party/blink/web_tests/TestExpectations
  third_party/freetype/BUILD.gn
  third_party/perfetto/src/base/periodic_task.cc
  ui/gfx/BUILD.gn
Due: none

DEPS: Fix conflicts
  DEPS
Due: none

skia: Adapt to https://crrev.com/c/6986341
  skia/BUILD.gn
  skia/ext/font_utils.cc
Due: none

Remove CONFLICTED marker from AUTOROLL_CHROMIUM
  .github/AUTOROLL_CHROMIUM
Due: none
