Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

chromium-pre-commit:
  name: Chromium presubmit bridge
  entry: ./third_party/depot_tools/vpython3 --vpython-spec=./third_party/depot_tools/.vpython3 ./cobalt/precommit/run_chromium_presubmits.py
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==21.1.0

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=5
  - --quiet
  additional_dependencies:
  - cpplint==2.0.2

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

check-java-strings-have-locale:
  name: Check Java String.format includes Locale
  entry: python3 ./cobalt/precommit/check_java_strings_have_locale.py
  language: python

tvos: Convert DrmSystemPlatform to pure abstract interface
  starboard/tvos/shared/media/drm_system_platform.h
  starboard/tvos/shared/media/drm_system_platform.mm
Due: clang-format, cpplint

autoroll: Ignore PR changing deleted files
  .github/scripts/autoroll_lts.py
Due: yapf, pylint, python3-compatibility-check

Add coment about fork()
  starboard/shared/starboard/thread_checker.h
Due: clang-format, cpplint

autoroll: Ignore PR changing deleted files (#10249)
  .github/scripts/autoroll_lts.py
Due: yapf, pylint, python3-compatibility-check

android: Use Lowercase for AndroidOverlay switch (#10233)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: gcheckstyle, check-java-strings-have-locale

Cherry pick PR #10021: build: Reuse //base:build_date_internal for //copied_base/base:build_date
  copied_base/base/BUILD.gn
Due: none

Cherry pick PR #10194: rdk: Update kokoro targets
  cobalt/devinfra/kokoro/build/evergreen/arm-hardfp-rdk/common.gcl
Due: none

Cherry pick PR #10178: aosp: Use android_toolchain in missing places
  gin/BUILD.gn
  services/media_session/public/cpp/android/BUILD.gn
  url/BUILD.gn
Due: none

Cherry pick PR #9879: cobalt/LASTCHANGE.chromium: correct the commit hash format
  cobalt/LASTCHANGE.chromium
Due: none

Cherry pick PR #10141: Resolve circular dependency for updater
  cobalt/browser/switches.h
  cobalt/updater/BUILD.gn
  cobalt/updater/configurator.cc
  cobalt/updater/configurator.h
  cobalt/updater/network_fetcher.cc
  cobalt/updater/updater_module.cc
  cobalt/updater/updater_module.h
  components/update_client/cobalt_slot_management.cc
  components/update_client/component.cc
  components/update_client/network.h
  components/update_client/request_sender.cc
  components/update_client/update_checker.cc
  components/update_client/url_fetcher_downloader.cc
  components/update_client/utils.cc
  components/update_client/utils.h
Due: clang-format, cpplint, gn-format

Cherry pick PR #10190: build: Add copied_base to libxml visibility filter
  third_party/libxml/BUILD.gn
Due: none

android: Fix SbDecodeTarget memory corruption and GL crash during seek
  starboard/android/shared/video_decoder.cc
Due: clang-format, cpplint

Working Linux Impl, Not Android
  media/starboard/sbplayer_bridge.cc
  media/starboard/starboard_renderer.cc
Due: clang-format, cpplint

allow blocking in recordCpuMetrics
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
Due: clang-format, cpplint

Add comment
  build/build_config.h
Due: none

Fix deadlock when recording a second time
  media/audio/android/starboard_audio_input_stream.cc
Due: none

enable for linux and android
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
Due: clang-format, cpplint

media: Remove COBALT_MEDIA_ENABLE_IAMF_SUPPORT macro (#10237)
  media/starboard/BUILD.gn
  media/starboard/starboard_utils.cc
Due: clang-format, cpplint, gn-format

android: Fix SbDecodeTarget memory corruption and GL crash during seek (#10248)
  starboard/android/shared/video_decoder.cc
Due: clang-format, cpplint

Plumb collect_test_artifacts for tvOS
  cobalt/testing/browser_tests/tools/collect_test_artifacts.py
Due: yapf, pylint, python3-compatibility-check

Add script to deploy laoder_app executable to device
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk_executable.sh
Due: none

Fix rdk plugin patch
  rdk_plugin_temporary.patch
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk.py
Due: none

rdk: Fix REPO_DIR detection fallback and improve output documentation
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk_executable.sh
Due: none

Update starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk.py
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk.py
Due: none

rdk: Enhance deployment script with robust launch logic and testing
  rdk_plugin_temporary.patch
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk.py
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk_executable.sh
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk_test.py
Due: none

Fix errors while running
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk.py
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk_test.py
Due: none

Add plugin target
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk.py
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk_test.py
Due: none

Fix plugin run command
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk.py
Due: none

Depend on runtime_deps files
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk.py
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk_test.py
Due: none

fix
  cobalt/app/cobalt_main_delegate.cc
  cobalt/app/cobalt_main_delegate.h
  cobalt/shell/app/shell_main_delegate.cc
  cobalt/shell/browser/migrate_storage_record/migration_manager.cc
  cobalt/shell/browser/shell_browser_main_parts.cc
  cobalt/shell/browser/web_test/cobalt_web_test_browser_main_runner.cc
  cobalt/shell/browser/web_test/cobalt_web_test_browser_main_runner.h
  cobalt/shell/common/shell_switches.cc
Due: clang-format, cpplint

Rebase refresh on 2026-04-28 for m144.
  chrome/VERSION
  extensions/common/BUILD.gn
  extensions/common/manifest_handlers/input_components_handler.cc
  extensions/common/manifest_handlers/input_components_handler_unittest.cc
  ui/events/ozone/layout/xkb/xkb_keyboard_layout_engine.cc
  ui/events/ozone/layout/xkb/xkb_keyboard_layout_engine_unittest.cc
Due: none

metrics: add detailed malloc and partition_alloc breakdown
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_metrics_service_client_test.cc
Due: clang-format, cpplint

metrics: Refine memory metrics breakdown implementation
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_metrics_service_client_test.cc
Due: clang-format, cpplint

Verify PartitionAlloc breakdown histograms and fix Android test crash
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: clang-format, cpplint

Add verified PartitionAlloc histograms to histograms.xml
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: none

Fix CobaltMetricsBrowserTest.RecordCpuMetrics (#10251)
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
Due: clang-format, cpplint

rdk: Pythonic deployment tool (#9914)
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk.py
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk_test.py
Due: none

CL1: Add interfaces and stubs for granular memory tracking in Cobalt.
  services/resource_coordinator/public/cpp/memory_instrumentation/detailed_metrics_delegate.h
  services/resource_coordinator/public/cpp/memory_instrumentation/memory_instrumentation.h
  services/resource_coordinator/public/cpp/memory_instrumentation/os_metrics.h
  services/resource_coordinator/public/cpp/memory_instrumentation/os_metrics_linux.cc
  services/resource_coordinator/public/mojom/memory_instrumentation/memory_instrumentation.mojom
Due: none

Fix histogram duplicates and missing units, add owner
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: none

Fix build by removing unused functions
  services/resource_coordinator/public/cpp/memory_instrumentation/os_metrics_linux.cc
Due: none

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
