Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [pre-commit]

default_language_version:
    python: python3

files: |
    (?x)^(
        .github/|
        cobalt/|
        media/starboard/|
        starboard/|
        .pre-commit-config.yaml|
        .pylintrc|
        docker-compose.yaml
    )

repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-case-conflict
    -   id: check-xml
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace

-   repo: https://cobalt.googlesource.com/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        name: Spell Check
        args: [-x, cobalt/precommit/.codespellignorelines,
               # The --ignore-words-list argument has a bug where it needs to
               # be lowercase, see
               # https://github.com/codespell-project/codespell/issues/1390
               --ignore-words-list, "atleast,varius,assertIn,requestor",
               ]
        exclude: |
            (?x)^(
                starboard/content/ssl/certs/|
                starboard/shared/starboard/player/testdata/|
                starboard/android/apk/app/src/app/assets/web/link_android_splash_screen.html
            )

-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: clang-format
        language: python
        types: [c++]
        args: [-i, -style=file]
        additional_dependencies: ['clang-format==17.0.1']
    -   id: yapf
        name: yapf
        entry: yapf
        language: python
        types: [python]
        args: [-i, -vv]
        additional_dependencies: ['yapf==0.40.2']
    -   id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [python]
        args: [-d W0201]
        additional_dependencies: ['pylint==3.3.1']
    -   id: python3-compatibility-check
        name: Python 3 Compatibility Check
        entry: python3 ./cobalt/precommit/python3_check.py
        language: python
        types: [python]
    -   id: google-java-format
        name: google-java-format
        entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
        language: python
        exclude: |
            (?x)^(
                starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java
            )
        types: [java]
    -   id: gn-format
        name: gn-format
        entry: gn format
        language: system
        files: '.*\.gni?$'

Adding WebContents Listener to CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/shell/android/java/src/dev/cobalt/shell/Shell.java
  cobalt/shell/android/java/src/dev/cobalt/shell/ShellManager.java
Due: google-java-format, gcheckstyle

Add max cache size in cobalt
  cobalt/browser/cobalt_content_browser_client.cc
Due: clang-format

Add 'nogncheck' to address include issues
  components/translate/core/language_detection/language_detection_model.cc
  components/translate/core/language_detection/language_detection_model.h
  components/translate/core/language_detection/language_detection_util.cc
  gpu/command_buffer/service/dawn_context_provider.cc
  gpu/command_buffer/service/dawn_context_provider.h
  services/passage_embeddings/passage_embeddings_service.cc
  services/passage_embeddings/passage_embeddings_service.h
Due: none

Rebase refresh on 2025-09-18 for m132.
  chrome/VERSION
Due: none

POSIX: Register realpath as Starboard Symbol (#7188)
  starboard/CHANGELOG.md
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_realpath_test.cc
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/api_leak_detector/evergreen/dev_manifest
  starboard/tools/api_leak_detector/evergreen/manifest
Due: clang-format, yapf, pylint, python3-compatibility-check, gn-format

[DNS] Refactor MediaCapabilitiesCache as interface
  starboard/android/shared/BUILD.gn
  starboard/android/shared/media_capabilities_cache.h
  starboard/android/shared/media_capabilities_cache_singleton.cc
  starboard/android/shared/media_capabilities_cache_singleton.h
Due: clang-format, gn-format

POSIX: Register getcwd as Starboard Symbol (#7181)
  starboard/CHANGELOG.md
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_getcwd_test.cc
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/api_leak_detector/evergreen/dev_manifest
  starboard/tools/api_leak_detector/evergreen/manifest
Due: clang-format, yapf, pylint, python3-compatibility-check, gn-format

Use bundled SSL certs for Starboard (#7170)
  cobalt/build/configs/linux_common.gn
  cobalt/build/modular_executable.gni
  net/BUILD.gn
  net/cert/cert_verifier.cc
  net/cert/cert_verify_proc.cc
  net/cert/cert_verify_proc.h
  net/cert/internal/system_trust_store.cc
  net/cert/internal/system_trust_store_cobalt.cc
  net/cert/internal/trust_store_in_memory_starboard.cc
  net/cert/internal/trust_store_in_memory_starboard.h
  services/cert_verifier/cert_verifier_creation.cc
  starboard/content/ssl/BUILD.gn
  starboard/nplb/BUILD.gn
Due: gn-format

starboard: Move RequestRecordAudioPermission into flattened namespace (#7201)
  cobalt/browser/cobalt_web_contents_delegate.cc
  starboard/android/shared/audio_permission_requester.cc
  starboard/android/shared/audio_permission_requester.h
Due: clang-format

[Rebase M138] Add 'nogncheck' to address include issues (#7207)
  components/translate/core/language_detection/language_detection_model.cc
  components/translate/core/language_detection/language_detection_model.h
  components/translate/core/language_detection/language_detection_util.cc
  gpu/command_buffer/service/dawn_context_provider.cc
  gpu/command_buffer/service/dawn_context_provider.h
  services/passage_embeddings/passage_embeddings_service.cc
  services/passage_embeddings/passage_embeddings_service.h
Due: none

starboard: Move `DecodedAudio` and `Buffer` into flattened namespace (#7197)
  starboard/android/shared/audio_decoder.cc
  starboard/android/shared/audio_renderer_passthrough.h
  starboard/shared/ffmpeg/ffmpeg_audio_decoder_impl.cc
  starboard/shared/libfdkaac/fdk_aac_audio_decoder.cc
  starboard/shared/opus/opus_audio_decoder.cc
  starboard/shared/starboard/player/buffer_internal.h
  starboard/shared/starboard/player/buffer_test_internal.cc
  starboard/shared/starboard/player/decoded_audio_internal.cc
  starboard/shared/starboard/player/decoded_audio_internal.h
  starboard/shared/starboard/player/filter/audio_channel_layout_mixer.h
  starboard/shared/starboard/player/filter/audio_decoder_internal.h
  starboard/shared/starboard/player/filter/audio_resampler.h
  starboard/shared/starboard/player/filter/decoded_audio_queue.h
Due: clang-format

starboard: Move mime-handling classes into flattened namespace
  starboard/android/shared/audio_output_manager.cc
  starboard/android/shared/media_capabilities_cache.cc
  starboard/android/shared/player_components_factory.cc
  starboard/android/shared/video_decoder.cc
  starboard/shared/starboard/media/key_system_supportability_cache.cc
  starboard/shared/starboard/media/key_system_supportability_cache.h
  starboard/shared/starboard/media/media_can_play_mime_and_key_system.cc
  starboard/shared/starboard/media/media_support_internal.h
  starboard/shared/starboard/media/media_util.cc
  starboard/shared/starboard/media/mime_supportability_cache.cc
  starboard/shared/starboard/media/mime_supportability_cache.h
  starboard/shared/starboard/media/mime_type.cc
  starboard/shared/starboard/media/mime_type.h
  starboard/shared/starboard/media/mime_type_test.cc
  starboard/shared/starboard/media/mime_util.cc
  starboard/shared/starboard/media/mime_util.h
  starboard/shared/starboard/media/mime_util_test.cc
  starboard/shared/starboard/media/parsed_mime_info.cc
  starboard/shared/starboard/media/parsed_mime_info.h
  starboard/shared/starboard/media/parsed_mime_info_test.cc
  starboard/shared/starboard/player/filter/testing/test_util.cc
  starboard/shared/starboard/player/player_create.cc
  starboard/shared/widevine/drm_system_widevine.cc
Due: clang-format

Revert not-necessary change
  starboard/android/shared/audio_output_manager.cc
Due: clang-format

Fix RDK build
  starboard/shared/starboard/media/key_system_supportability_cache.h
  starboard/shared/starboard/media/media_support_internal.h
  starboard/shared/starboard/media/mime_supportability_cache.h
  starboard/shared/starboard/media/mime_type.h
Due: clang-format

starboard: Move mime-handling classes into flattened namespace (#7210)
  starboard/android/shared/audio_output_manager.cc
  starboard/android/shared/media_capabilities_cache.cc
  starboard/android/shared/player_components_factory.cc
  starboard/android/shared/video_decoder.cc
  starboard/shared/starboard/media/key_system_supportability_cache.cc
  starboard/shared/starboard/media/key_system_supportability_cache.h
  starboard/shared/starboard/media/media_can_play_mime_and_key_system.cc
  starboard/shared/starboard/media/media_support_internal.h
  starboard/shared/starboard/media/media_util.cc
  starboard/shared/starboard/media/mime_supportability_cache.cc
  starboard/shared/starboard/media/mime_supportability_cache.h
  starboard/shared/starboard/media/mime_type.cc
  starboard/shared/starboard/media/mime_type.h
  starboard/shared/starboard/media/mime_type_test.cc
  starboard/shared/starboard/media/mime_util.cc
  starboard/shared/starboard/media/mime_util.h
  starboard/shared/starboard/media/mime_util_test.cc
  starboard/shared/starboard/media/parsed_mime_info.cc
  starboard/shared/starboard/media/parsed_mime_info.h
  starboard/shared/starboard/media/parsed_mime_info_test.cc
  starboard/shared/starboard/player/filter/testing/test_util.cc
  starboard/shared/starboard/player/player_create.cc
  starboard/shared/widevine/drm_system_widevine.cc
Due: clang-format

starboard: Move player filter classes into flattened namespace
  starboard/android/shared/audio_renderer_passthrough.h
  starboard/android/shared/player_components_factory.cc
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
  starboard/android/shared/video_render_algorithm.h
  starboard/raspi/shared/video_renderer_sink_impl.h
  starboard/shared/starboard/player/filter/media_time_provider.h
  starboard/shared/starboard/player/filter/media_time_provider_impl.cc
  starboard/shared/starboard/player/filter/media_time_provider_impl.h
  starboard/shared/starboard/player/filter/player_components.h
  starboard/shared/starboard/player/filter/video_render_algorithm.h
  starboard/shared/starboard/player/filter/video_renderer_internal.h
  starboard/shared/starboard/player/filter/video_renderer_internal_impl.cc
  starboard/shared/starboard/player/filter/video_renderer_internal_impl.h
  starboard/shared/starboard/player/filter/video_renderer_sink.h
Due: clang-format

update filter files of unit test for linux-x64x11-modular
  cobalt/testing/filters/linux-x64x11-modular/base_perftests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/blink_platform_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/cc_perftests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/google_apis_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/gpu_benchmark_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/media_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/mojo_perftests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/mojo_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/trace_processor_minimal_smoke_tests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/viz_perftests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/zlib_unittests_loader_filter.json
Due: none

update filter files of unit test for linux-x64x11-modular (#7124)
  cobalt/testing/filters/linux-x64x11-modular/base_perftests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/blink_platform_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/cc_perftests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/google_apis_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/gpu_benchmark_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/media_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/mojo_perftests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/mojo_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/trace_processor_minimal_smoke_tests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/viz_perftests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/zlib_unittests_loader_filter.json
Due: none

Fix: prevent a touch panel crash
  cobalt/ui_navigation/scroll_engine/scroll_engine.cc
Due: clang-format

prevent element_to_scroll->GetUiNavItem() nullptr being utilized by other function and crash
  cobalt/layout/topmost_event_target.cc
Due: clang-format

Fix: return when element_to_scroll->GetUiNavItem() is invalid
  cobalt/layout/topmost_event_target.cc
Due: clang-format

Linearization refresh on 2025-09-18.
  automated_commits_m114.json
Due: none

Revert "starboard: Do not set RPATH in "starboard" GN config" (#7203)
  starboard/build/config/BUILD.gn
Due: gn-format

Remove /starboard LD_LIBRARY_PATH in CI
  .github/actions/on_host_tests/action.yaml
  starboard/build/config/BUILD.gn
Due: gn-format

Use GTEST_HAS_DEATH_TEST macro
  third_party/perfetto/src/base/paged_memory_unittest.cc
Due: none

Add cache directory
  cobalt/browser/cobalt_content_browser_client.cc
Due: clang-format

starboard: Move VideoRenderer classes into flattened namespace (#7209)
  starboard/android/shared/audio_renderer_passthrough.h
  starboard/android/shared/player_components_factory.cc
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
  starboard/android/shared/video_render_algorithm.h
  starboard/raspi/shared/video_renderer_sink_impl.h
  starboard/shared/starboard/player/filter/media_time_provider.h
  starboard/shared/starboard/player/filter/media_time_provider_impl.cc
  starboard/shared/starboard/player/filter/media_time_provider_impl.h
  starboard/shared/starboard/player/filter/player_components.h
  starboard/shared/starboard/player/filter/video_render_algorithm.h
  starboard/shared/starboard/player/filter/video_renderer_internal.h
  starboard/shared/starboard/player/filter/video_renderer_internal_impl.cc
  starboard/shared/starboard/player/filter/video_renderer_internal_impl.h
  starboard/shared/starboard/player/filter/video_renderer_sink.h
Due: clang-format

Initial gn fixes. Lots of nogncheck plus removal of unused gn args.
  base/BUILD.gn
  base/allocator/partition_allocator/BUILD.gn
  base/test/BUILD.gn
  buildtools/third_party/libc++abi/BUILD.gn
  cobalt/build/configs/common.gn
  cobalt/build/configs/linux_common.gn
  cobalt/build/gn.py
  cobalt/shell/BUILD.gn
  components/cdm/renderer/BUILD.gn
  starboard/android/shared/BUILD.gn
  starboard/android/shared/toolchain/toolchain.gni
  starboard/build/config/base_configuration.gni
  starboard/linux/shared/BUILD.gn
  starboard/raspi/shared/BUILD.gn
  third_party/blink/renderer/platform/media/BUILD.gn
  ui/ozone/platform/starboard/BUILD.gn
Due: yapf, pylint, python3-compatibility-check, gn-format

PR feedback
  cobalt/build/configs/common.gn
  components/cdm/renderer/BUILD.gn
  content/public/common/features.gni
Due: gn-format

Initial gn fixes. Lots of nogncheck plus removal of unused gn args.
  cobalt/build/configs/common.gn
  components/cdm/renderer/BUILD.gn
Due: gn-format

Fix Variable Length Array errors (disable check)
  build/config/cobalt/BUILD.gn
  build/config/compiler/BUILD.gn
Due: none
