Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, yapf, pylint, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, gn-format

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

yapf:
  name: yapf
  description: Run yapf (the python formatter) in-place on changed files.
  entry: yapf
  language: system
  args:
  - -i
  - -vv

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

google-java-format:
  name: google-java-format
  entry: python ./precommit_hooks/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: Lint Java With gcheckstyle
  entry: python ./precommit_hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-copyright-year:
  name: check copyright year
  entry: python ./precommit_hooks/check_copyright_year.py
  language: python
  stages:
  - push
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: python ./precommit_hooks/warn_that_starboard_interface_changed_wrapper.py
  language: python
  stages:
  - push

test-python3-compatibility:
  name: Test Python 3 Compatibility
  description: Checks that scripts can be run in Python 3
  entry: python precommit_hooks/python3_check.py
  language: python
  verbose: true

gn-format:
  name: GN format
  entry: gn format
  language: system

Disable Tzset/Timezone.* on Android
  cobalt/testing/filters/android-arm/cobalt_unittests_filter.json
  cobalt/testing/filters/android-arm64/cobalt_unittests_filter.json
Due: check-copyright-year

feat: Exclude tzset and environment from Android builds
  cobalt/common/libc/BUILD.gn
Due: check-copyright-year, gn-format

Refactor: improve readability of ParseDateRule
  cobalt/common/libc/tz/parse_posix_tz.cc
Due: cpplint, check-copyright-year

Refactor: use early returns in parsing functions
  cobalt/common/libc/tz/parse_posix_tz.cc
Due: cpplint, check-copyright-year

Refactor: use std::find_if_not for parsing
  cobalt/common/libc/tz/parse_posix_tz.cc
Due: cpplint, check-copyright-year

Refactor: Clean up ParsePosixTz logic
  cobalt/common/libc/tz/parse_posix_tz.cc
Due: cpplint, check-copyright-year

Cherry pick PR #6579: cobalt: Remove --force-gpu-mem-available-mb startup flag (#6599)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/CommandLineOverrideHelperTest.java
Due: google-java-format, gcheckstyle, check-copyright-year

Cherry pick PR #6423: cobalt: Remove leftover dependency on //chrome/common (#6487)
  cobalt/BUILD.gn
  cobalt/DEPS
Due: check-copyright-year, gn-format

ODT gateway - increase test_attempts on e2e smoke tests
  .github/config/android-arm.json
  .github/config/android-arm64.json
Due: check-copyright-year

Address comments
  cobalt/common/libc/tz/parse_posix_tz.cc
  third_party/.gitignore
  third_party/icu/BUILD.gn
Due: cpplint, check-copyright-year

refactor: Remove deprecated SbMediaGetMaxBufferCapacity
  starboard/CHANGELOG.md
  starboard/android/shared/media_get_max_buffer_capacity.cc
  starboard/elf_loader/exported_symbols.cc
  starboard/media.h
  starboard/nplb/media_buffer_test.cc
  starboard/shared/starboard/media/media_get_max_buffer_capacity.cc
  starboard/shared/stub/media_get_max_buffer_capacity.cc
Due: cpplint, check-copyright-year, check-if-starboard-interface-changed

[Ozone] Fix crash in monolithic QA build
  ui/ozone/platform/starboard/gl_ozone_egl_starboard.cc
Due: none

update build.gn
  starboard/android/shared/BUILD.gn
  starboard/linux/shared/BUILD.gn
  starboard/raspi/shared/BUILD.gn
  starboard/stub/BUILD.gn
Due: check-copyright-year, gn-format

[POSIX] Remove dlopen and friends from Starboard (#6488)
  base/BUILD.gn
  base/debug/elf_reader_unittest.cc
  base/files/scoped_file_linux.cc
  base/native_library_starboard.cc
  content/browser/BUILD.gn
  content/browser/speech/tts_platform_impl.cc
  content/utility/BUILD.gn
  content/utility/utility_main.cc
  media/gpu/sandbox/BUILD.gn
  media/mojo/services/BUILD.gn
  services/audio/BUILD.gn
  services/resource_coordinator/public/cpp/memory_instrumentation/BUILD.gn
  services/resource_coordinator/public/cpp/memory_instrumentation/client_process_impl.cc
  starboard/tools/api_leak_detector/evergreen/manifest
  v8/src/base/build_config.h
  v8/src/base/platform/platform-posix.cc
Due: check-copyright-year

Revert "Cherry pick PR #6592: Clean up redundant android shell resources (#6595)"
  cobalt/shell/android/BUILD.gn
  cobalt/shell/android/shell_apk/res/layout/content_shell_activity.xml
  cobalt/shell/android/shell_apk/res/values/strings.xml
Due: check-copyright-year, gn-format

Revert "Clean up redundant android shell resources (#6592)"
  cobalt/shell/android/BUILD.gn
  cobalt/shell/android/shell_apk/res/layout/content_shell_activity.xml
  cobalt/shell/android/shell_apk/res/values/strings.xml
Due: check-copyright-year, gn-format

Logging and limiting render
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: google-java-format, gcheckstyle, check-copyright-year

Add frame tracker
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/shared/starboard/media/BUILD.gn
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
  starboard/shared/starboard/media/frame_tracker_test.cc
  starboard/shared/starboard/media/media_tests.gni
Due: cpplint, check-copyright-year, gn-format

changes to frame_tracker
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

Add ReleaseTimeAt
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

Return boolean
  starboard/android/shared/media_decoder.cc
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

revert MediaCodecBridge
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: google-java-format, gcheckstyle, check-copyright-year

Update media_decoder
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
Due: cpplint, check-copyright-year

Implement ReleaseFrameAt
  starboard/android/shared/video_decoder.cc
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

making FrameTracker work with MediaDecoder
  starboard/android/shared/media_decoder.cc
Due: cpplint, check-copyright-year

Remove deferred buffer methods from FrameTracker
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

feat: Add decoding time statistics to FrameTracker
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

Make FrameTracker log
  starboard/android/shared/media_decoder.cc
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

feat: Add frame released callback to FrameTracker
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

refactor: Rename `last_30_decoding_times_us_` to `previous_decoding_times_us_`
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
Due: cpplint, check-copyright-year

refactor: Remove FrameTracker::Reset()
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

refactor: Simplify FrameTracker by removing the frames array
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

test: Use ASSERT for test setup in FrameTracker tests
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

feat: Add logging and warnings to FrameTracker
  starboard/android/shared/media_decoder.cc
  starboard/shared/starboard/media/frame_tracker.cc
Due: cpplint, check-copyright-year

feat: Improve FrameTracker logging and test readability
  starboard/android/shared/media_decoder.cc
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

Update starboard/shared/starboard/media/frame_tracker.h
  starboard/shared/starboard/media/frame_tracker.h
Due: cpplint, check-copyright-year

refactor: Remove unused FrameTracker::ReleaseFrame method
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

Apply suggestion from @gemini-code-assist[bot]
  starboard/android/shared/media_decoder.cc
Due: cpplint, check-copyright-year

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^starboard/shared/uikit/.*\.h$
)
) and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  yapf: any of: \.py$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  pylint: any of: \.py$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  google-java-format: any of: \.java$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  gcheckstyle: any of: \.java$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not ((?x)^(
    .pylintrc$|
    .pre-commit-config.yaml$|
    cobalt/base/unicode/|
    cobalt/demos/content/|
    cobalt/layout_tests/testdata/|
    cobalt/math/|
    cobalt/media/|
    cobalt/streams/|
    cobalt/webdriver/screencast/|
    cobalt/websocket/|
    components/crx_file/|
    content/|
    internal/starboard/shared/glimp/|
    starboard/contrib/RDK/|
    nb/|
    starboard/content/fonts/LICENSES.txt |
    starboard/android/apk/gradlew|
    starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.cc$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.h$|
    starboard/shared/starboard/player/testdata/licences/|
    starboard/shared/starboard/player/filter/wsola_internal.cc$
)
) and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  check-if-starboard-interface-changed: any of: ^starboard/[^/]+\.h$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  test-python3-compatibility: any of: \.py$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
