Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

chromium-pre-commit:
  name: Chromium presubmit bridge
  entry: ./third_party/depot_tools/vpython3 --vpython-spec=./third_party/depot_tools/.vpython3 ./cobalt/precommit/run_chromium_presubmits.py
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==21.1.0

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=5
  - --quiet
  additional_dependencies:
  - cpplint==2.0.2

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

check-java-strings-have-locale:
  name: Check Java String.format includes Locale
  entry: python3 ./cobalt/precommit/check_java_strings_have_locale.py
  language: python

Cherry pick PR #12578: [Memory] Add metrics to measure virtual address (VA) space fragmentation
  .github/AUTOROLL
  cobalt/BUILD.gn
  cobalt/browser/features.cc
  cobalt/browser/features.h
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.h
  cobalt/browser/metrics/cobalt_memory_metrics_emitter_unittest.cc
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: clang-format, cpplint, gn-format

WIP: AI automated rebase partial progress (build unverified)
  services/network/network_service.h
  third_party/cpuinfo/src/src/api.c
  third_party/cpuinfo/src/src/arm/windows/init-by-logical-sys-info.c
  third_party/cpuinfo/src/src/arm/windows/init.c
  third_party/cpuinfo/src/src/arm/windows/windows-arm-init.h
Due: none

coat: Add CobaltProcessStateSummary Java JNI bridge
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/BaseStarboardBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltProcessStateSummary.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/CobaltProcessStateSummaryTest.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/util/StartupGuardTest.java
  cobalt/android/cobalt_process_state_summary_jni.cc
  cobalt/shell/android/java/src/dev/cobalt/shell/StartupGuard.java
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

cobalt/metrics: Add CobaltProcessStateSummaryManager for peak memory tracking
  cobalt/browser/BUILD.gn
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_process_state_summary_manager.cc
  cobalt/browser/metrics/cobalt_process_state_summary_manager.h
  cobalt/browser/metrics/cobalt_process_state_summary_manager_stub.cc
Due: clang-format, cpplint, gn-format

cobalt/metrics: Add Android process state summary synchronization and tests
  cobalt/BUILD.gn
  cobalt/browser/BUILD.gn
  cobalt/browser/metrics/cobalt_process_state_summary_manager_android.cc
  cobalt/browser/metrics/cobalt_process_state_summary_manager_unittest.cc
Due: clang-format, cpplint, gn-format

cobalt/metrics: Add prior-session memory attribution histograms
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
  cobalt/browser/metrics/cobalt_process_state_summary_browsertest.cc
  cobalt/browser/metrics/cobalt_stability_metrics_helper.cc
  cobalt/browser/metrics/cobalt_stability_metrics_helper.h
  cobalt/browser/metrics/cobalt_stability_metrics_helper_unittest.cc
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/tools/verify_android_exit_reasons.py
  tools/metrics/histograms/metadata/cobalt/enums.xml
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check, gn-format

android: Initialize audio sink in test environment and enable fast NPLB media suites
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/BaseStarboardBridge.java
  cobalt/testing/filters/android-arm/nplb_filter.json
  cobalt/testing/filters/android-arm64/nplb_filter.json
  starboard/android/shared/BUILD.gn
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/starboard_test_environment.cc
  starboard/android/shared/starboard_test_environment.h
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

aosp: Switch on-device unit tests to aosp_devices
  .github/config/evergreen-arm-softfp-aosp.json
Due: none

androidOsSignalEvaluator
  base/android/java/src/org/chromium/base/memory/MemoryPressureMonitor.java
  base/android/memory_pressure_listener_android.cc
  base/android/memory_pressure_listener_android.h
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/cobalt_browser_main_parts.h
  cobalt/memory/BUILD.gn
  cobalt/memory/android_os_signal_evaluator.cc
  cobalt/memory/android_os_signal_evaluator.h
  components/memory_pressure/memory_pressure_voter.cc
  components/memory_pressure/memory_pressure_voter.h
  components/memory_pressure/multi_source_memory_pressure_monitor.cc
  components/memory_pressure/multi_source_memory_pressure_monitor.h
  content/browser/browser_main_loop.cc
Due: clang-format, cpplint, gn-format

initialize UMA before registering callbacks
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: gcheckstyle, check-java-strings-have-locale

android: Fix uninitialized MemoryPressureMonitor callbacks in CobaltActivity (#12817)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: gcheckstyle, check-java-strings-have-locale

Cherry pick PR #12817: android: Fix uninitialized MemoryPressureMonitor callbacks in CobaltActivity
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: gcheckstyle, check-java-strings-have-locale

android: Initialize audio sink in test environment (#12826)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/BaseStarboardBridge.java
  cobalt/testing/filters/android-arm/nplb_filter.json
  cobalt/testing/filters/android-arm64/nplb_filter.json
  starboard/android/shared/BUILD.gn
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/starboard_test_environment.cc
  starboard/android/shared/starboard_test_environment.h
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

Cherry pick PR #12826: android: Initialize audio sink in test environment
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/BaseStarboardBridge.java
  cobalt/testing/filters/android-arm/nplb_filter.json
  cobalt/testing/filters/android-arm64/nplb_filter.json
  starboard/android/shared/BUILD.gn
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/starboard_test_environment.cc
  starboard/android/shared/starboard_test_environment.h
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

Cherry pick PR #12740: [Kokoro] Pin depot_tools to workaround gclient git incompatibility
  .github/AUTOROLL
  cobalt/devinfra/kokoro/bin/build_mac.sh
  cobalt/devinfra/kokoro/bin/dind_build.sh
  cobalt/devinfra/kokoro/bin/presubmit_build_mac.sh
  cobalt/devinfra/kokoro/docker-compose.yaml
Due: none

CONFLICTED Cherry pick PR #12595: cobalt: Gate V8 and GPU memory runtime flags with base::Feature
  .github/AUTOROLL
  base/features.cc
  base/features.h
  cobalt/app/cobalt_switch_defaults_starboard.cc
  cobalt/app/cobalt_switch_defaults_starboard_test.cc
  gin/v8_initializer.cc
  gpu/command_buffer/service/service_utils.cc
  third_party/blink/renderer/platform/widget/compositing/layer_tree_settings.cc
  third_party/blink/renderer/platform/widget/compositing/layer_tree_settings_unittest.cc
Due: clang-format, cpplint

[Starboard] Remove trim_dmp.py from the PR
  starboard/tools/trim_dmp.py
Due: yapf, pylint, python3-compatibility-check

Adjust hash of Revert Cobalt commit for easier cherry-picking
  DEPS
  base/allocator/partition_alloc_features.cc
  base/allocator/partition_alloc_features.h
  base/logging.cc
  base/task/thread_pool/job_task_source.h
  build/config/c++/BUILD.gn
  build/config/sysroot.gni
  cc/tiles/gpu_image_decode_cache.cc
  cc/tiles/gpu_image_decode_cache.h
  components/services/on_device_translation/BUILD.gn
  content/browser/BUILD.gn
  content/browser/browser_interface_binders.cc
  content/browser/renderer_host/render_widget_host_view_tvos_uiview.mm
  gpu/ipc/service/gpu_init.cc
  media/base/BUILD.gn
  services/network/network_context.cc
  services/network/network_context.h
  services/network/network_service.cc
  services/network/network_service.h
  services/on_device_model/ml/BUILD.gn
  services/resource_coordinator/public/cpp/memory_instrumentation/os_metrics_linux.cc
  third_party/blink/renderer/core/dom/range.cc
  third_party/blink/renderer/core/execution_context/execution_context.cc
  third_party/blink/renderer/core/execution_context/execution_context.h
  third_party/blink/renderer/core/frame/local_dom_window.cc
  third_party/blink/renderer/core/frame/local_dom_window.h
  third_party/blink/renderer/core/frame/local_frame_view.cc
  third_party/blink/renderer/core/highlight/highlight_registry.cc
  third_party/blink/renderer/core/html/canvas/html_canvas_element_test.cc
  third_party/blink/renderer/modules/media_capabilities/media_capabilities.cc
  third_party/blink/renderer/modules/mediarecorder/BUILD.gn
  third_party/blink/renderer/modules/mediastream/media_stream_track_transfer_test.cc
  third_party/blink/renderer/modules/service_worker/service_worker_global_scope.cc
  third_party/blink/renderer/platform/instrumentation/memory_pressure_listener.cc
  third_party/blink/web_tests/TestExpectations
  third_party/jni_zero/jni_zero.cc
  third_party/libc++/src/include/__locale_dir/messages.h
Due: none

DEPS: fix conflicts
  DEPS
Due: none

AUTOROLL_CHROMIUM: remove CONFLICTED marker
  .github/AUTOROLL_CHROMIUM
Due: none

base/allocator: adapt to https://crrev.com/c/7201387
  base/allocator/partition_alloc_features.cc
  base/allocator/partition_alloc_features.h
Due: none

base/logging.cc: adapt to https://crrev.com/c/7160150
  base/logging.cc
Due: none

base/../job_task_source.h: adapt to https://crrev.com/c/7168984
  base/task/thread_pool/job_task_source.h
Due: none

build/config/sysroot.gni: adapt to https://crrev.com/c/7165369
  build/config/sysroot.gni
  build/toolchain/sysroot.gni
Due: none

build/config/c++/BUILD.gn: adapt to https://crrev.com/c/7206069
  build/config/c++/BUILD.gn
Due: none

components/services/on_device_translation: adapt to https://crrev.com/c/7043443
  components/services/on_device_translation/BUILD.gn
Due: none

cc/tiles/gpu_image_decode_cache.{cc,h}: Adapt to https://crrev.com/c/7180260
  cc/tiles/gpu_image_decode_cache.cc
  cc/tiles/gpu_image_decode_cache.h
Due: none

content/browser/BUILD.gn: adapt to https://crrev.com/c/7155287
  content/browser/BUILD.gn
Due: none

content/browser/browser_interface_binders.cc: adapt to https://crrev.com/c/7180141
  content/browser/browser_interface_binders.cc
Due: none

render_widget_host_view_tvos_uiview.mm: keep our side of the conflicts
  content/browser/renderer_host/render_widget_host_view_tvos_uiview.mm
Due: none

media/base/BUILD.gn: adapt to https://crrev.com/c/7167230
  media/base/BUILD.gn
Due: none

gpu/ipc/service/gpu_init.cc: adapt to https://crrev.com/c/7206374
  gpu/ipc/service/gpu_init.cc
Due: none

services/network/network_service.cc: adapt to https://crrev.com/c/7190134
  services/network/network_service.cc
Due: none

services/network: adapt to https://crrev.com/c/7156894
  services/network/network_context.cc
  services/network/network_context.h
  services/network/network_service.cc
  services/network/network_service.h
Due: none

services/../os_metrics_linux.cc: Adapt to https://crrev.com/c/7167230
  services/resource_coordinator/public/cpp/memory_instrumentation/os_metrics_linux.cc
Due: none

services/on_device_model/ml: adapt to https://crrev.com/c/7185063
  services/on_device_model/ml/BUILD.gn
Due: none

third_party/blink: adapt to https://crrev.com/c/7168908
  third_party/blink/renderer/modules/cobalt/cobalt_lifecycle_controller.h
  third_party/blink/renderer/modules/cobalt/crash_log/crash_log.h
  third_party/blink/renderer/modules/cobalt/dial/dial_server_manager.h
  third_party/blink/renderer/modules/cobalt/h_5_vcc.h
  third_party/blink/renderer/modules/cobalt/on_screen_keyboard/on_screen_keyboard.h
Due: clang-format, cpplint

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
