Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, internal-file-check, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

yapf:
  name: yapf
  description: Run yapf (the python formatter) in-place on changed files.
  entry: yapf
  language: system
  args:
  - -i
  - -vv

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

google-java-format:
  name: google-java-format
  entry: python ./precommit_hooks/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: Lint Java With gcheckstyle
  entry: python ./precommit_hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-copyright-year:
  name: check copyright year
  entry: python ./precommit_hooks/check_copyright_year.py
  language: python
  stages:
  - push
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: python ./precommit_hooks/warn_that_starboard_interface_changed_wrapper.py
  language: python
  stages:
  - push

test-python3-compatibility:
  name: Test Python 3 Compatibility
  description: Checks that scripts can be run in Python 3
  entry: python precommit_hooks/python3_check.py
  language: python
  verbose: true

internal-file-check:
  name: Internal File Check
  entry: python precommit_hooks/internal_file_check_wrapper.py
  language: python

gn-format:
  name: GN format
  entry: gn format
  language: system

Use clang++ front end for linking Evergreen builds.
  build/toolchain/gcc_toolchain.gni
  starboard/build/toolchain/linux/BUILD.gn
  starboard/build/toolchain/linux/clang_lld_toolchain.gni
  starboard/evergreen/arm/hardfp/platform_configuration/BUILD.gn
  starboard/evergreen/arm/hardfp/toolchain/BUILD.gn
  starboard/evergreen/arm/softfp/platform_configuration/BUILD.gn
  starboard/evergreen/arm/softfp/toolchain/BUILD.gn
  starboard/evergreen/arm64/platform_configuration/BUILD.gn
  starboard/evergreen/arm64/toolchain/BUILD.gn
  starboard/evergreen/shared/platform_configuration/BUILD.gn
  starboard/evergreen/x64/platform_configuration/BUILD.gn
  starboard/evergreen/x64/toolchain/BUILD.gn
  starboard/evergreen/x86/toolchain/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Remove leftover sb_allows_memory_tracking flag
  starboard/build/config/BUILDCONFIG.gn
Due: check-copyright-year, internal-file-check, gn-format

Bring back the clang_ll_toolchain as it is used by the modular builds.
  starboard/build/toolchain/linux/clang_lld_toolchain.gni
Due: check-copyright-year, internal-file-check, gn-format

Remove unused files (#924)
  components/metrics/BUILD.gn
  components/variations/BUILD.gn
Due: none

Removed clang_lld and added clang_target instead.
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/toolchain/linux/BUILD.gn
  starboard/build/toolchain/linux/clang_lld_toolchain.gni
Due: check-copyright-year, internal-file-check, gn-format

Add check for VS install directory environment variable (#902)
  build/config/win/visual_studio_version.gni
Due: none

Move the toolchain to starboard/build/toolchain.
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/toolchain/BUILD.gn
  starboard/evergreen/x86/platform_configuration/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Set clang_base_path explicitly.
  starboard/build/toolchain/BUILD.gn
  starboard/evergreen/arm/hardfp/toolchain/BUILD.gn
  starboard/evergreen/arm/softfp/toolchain/BUILD.gn
  starboard/evergreen/arm64/toolchain/BUILD.gn
  starboard/evergreen/x64/toolchain/BUILD.gn
  starboard/evergreen/x86/toolchain/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Cherry pick PR #902: Add check for VS install directory environment variable (#934)
  build/config/win/visual_studio_version.gni
Due: none

Proxy BBT fetch requests on Android using adb reverse (#599)
  cobalt/black_box_tests/black_box_cobalt_runner.py
  cobalt/black_box_tests/black_box_tests.py
  cobalt/black_box_tests/threaded_web_server.py
  cobalt/black_box_tests/web_platform_test_server.py
  cobalt/tools/automated_testing/cobalt_runner.py
  starboard/android/shared/launcher.py
  starboard/tools/abstract_launcher.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Revert "Enable cpp17 audit on windows (#897)"
  starboard/build/config/win/BUILD.gn
  starboard/win/shared/platform_configuration/configuration.gni
Due: check-copyright-year, internal-file-check, gn-format

Revert "Enable cpp17 audit on windows (#897)" b/288332442
  starboard/build/config/win/BUILD.gn
  starboard/win/shared/platform_configuration/configuration.gni
Due: check-copyright-year, internal-file-check, gn-format

Patch up the build
  third_party/libwebp/BUILD.gn
  third_party/libwebp/libwebp.gni
  third_party/libwebp/src/dsp/lossless_common.h
Due: none

Work around win build
  third_party/libwebp/BUILD.gn
Due: none

Make Evergreen API leak detector happy
  third_party/libwebp/BUILD.gn
Due: none

Revert "Enable cpp17 audit on windows (#897)" (#940)
  starboard/build/config/win/BUILD.gn
  starboard/win/shared/platform_configuration/configuration.gni
Due: check-copyright-year, internal-file-check, gn-format

Remove call sites to Memory Reporter
  starboard/CHANGELOG.md
  starboard/memory.h
  starboard/memory_reporter.h
  starboard/shared/posix/memory_map.cc
  starboard/shared/posix/memory_unmap.cc
  starboard/shared/starboard/memory.cc
  starboard/shared/starboard/memory_reporter_internal.h
  starboard/shared/starboard/thread_local_storage_internal.cc
  starboard/shared/win32/memory_map.cc
  starboard/shared/win32/memory_unmap.cc
  starboard/shared/win32/thread_create_local_key.cc
  starboard/shared/win32/thread_destroy_local_key.cc
Due: clang-format, cpplint, check-copyright-year, check-if-starboard-interface-changed, internal-file-check

Remove unused Nanobase parts
  cobalt/script/BUILD.gn
  cobalt/script/util/stack_trace_helpers.h
  cobalt/script/v8c/BUILD.gn
  cobalt/script/v8c/stack_trace_helpers.cc
  nb/BUILD.gn
  nb/bit_cast.h
  nb/concurrent_map.h
  nb/concurrent_map_test.cc
  nb/concurrent_ptr.h
  nb/concurrent_ptr_test.cc
  nb/hash.cc
  nb/hash.h
  nb/memory_pool.h
  nb/move.h
  nb/multipart_allocator.cc
  nb/multipart_allocator.h
  nb/multipart_allocator_test.cc
  nb/ref_counted.h
  nb/rewindable_vector.h
  nb/rewindable_vector_test.cc
  nb/scoped_ptr.h
  nb/simple_profiler.cc
  nb/simple_profiler.h
  nb/simple_profiler_test.cc
  nb/simple_thread.cc
  nb/simple_thread.h
  nb/std_allocator.h
  nb/std_allocator_test.cc
  nb/string_interner.cc
  nb/string_interner.h
  nb/string_interner_test.cc
  nb/test_thread.h
  nb/thread_collision_warner.cc
  nb/thread_local_boolean.h
  nb/thread_local_object.h
  nb/thread_local_object_test.cc
  nb/thread_local_pointer.h
  net/base/file_stream_context.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Migrate from scoped_ptr
  nb/bidirectional_fit_reuse_allocator_test.cc
  nb/first_fit_reuse_allocator_test.cc
Due: clang-format, cpplint, internal-file-check

Remove "internal build" flag from win32
  starboard/win/win32/args.gn
Due: check-copyright-year, internal-file-check, gn-format

Remove unused Nanobase parts (#926)
  cobalt/script/BUILD.gn
  cobalt/script/util/stack_trace_helpers.h
  cobalt/script/v8c/BUILD.gn
  cobalt/script/v8c/stack_trace_helpers.cc
  nb/BUILD.gn
  nb/bit_cast.h
  nb/concurrent_map.h
  nb/concurrent_map_test.cc
  nb/concurrent_ptr.h
  nb/concurrent_ptr_test.cc
  nb/hash.cc
  nb/hash.h
  nb/memory_pool.h
  nb/move.h
  nb/multipart_allocator.cc
  nb/multipart_allocator.h
  nb/multipart_allocator_test.cc
  nb/ref_counted.h
  nb/rewindable_vector.h
  nb/rewindable_vector_test.cc
  nb/scoped_ptr.h
  nb/simple_profiler.cc
  nb/simple_profiler.h
  nb/simple_profiler_test.cc
  nb/simple_thread.cc
  nb/simple_thread.h
  nb/std_allocator.h
  nb/std_allocator_test.cc
  nb/string_interner.cc
  nb/string_interner.h
  nb/string_interner_test.cc
  nb/test_thread.h
  nb/thread_collision_warner.cc
  nb/thread_local_boolean.h
  nb/thread_local_object.h
  nb/thread_local_object_test.cc
  nb/thread_local_pointer.h
  net/base/file_stream_context.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Use clang++ front end for linking Evergreen builds. (#932)
  build/toolchain/gcc_toolchain.gni
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/toolchain/BUILD.gn
  starboard/build/toolchain/linux/BUILD.gn
  starboard/evergreen/arm/hardfp/platform_configuration/BUILD.gn
  starboard/evergreen/arm/hardfp/toolchain/BUILD.gn
  starboard/evergreen/arm/softfp/platform_configuration/BUILD.gn
  starboard/evergreen/arm/softfp/toolchain/BUILD.gn
  starboard/evergreen/arm64/platform_configuration/BUILD.gn
  starboard/evergreen/arm64/toolchain/BUILD.gn
  starboard/evergreen/shared/platform_configuration/BUILD.gn
  starboard/evergreen/x64/platform_configuration/BUILD.gn
  starboard/evergreen/x64/toolchain/BUILD.gn
  starboard/evergreen/x86/platform_configuration/BUILD.gn
  starboard/evergreen/x86/toolchain/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Revert "Remove unused Nanobase parts (#926)"
  cobalt/script/BUILD.gn
  cobalt/script/util/stack_trace_helpers.h
  cobalt/script/v8c/BUILD.gn
  cobalt/script/v8c/stack_trace_helpers.cc
  nb/BUILD.gn
  nb/bit_cast.h
  nb/concurrent_map.h
  nb/concurrent_map_test.cc
  nb/concurrent_ptr.h
  nb/concurrent_ptr_test.cc
  nb/hash.cc
  nb/hash.h
  nb/memory_pool.h
  nb/move.h
  nb/multipart_allocator.cc
  nb/multipart_allocator.h
  nb/multipart_allocator_test.cc
  nb/ref_counted.h
  nb/rewindable_vector.h
  nb/rewindable_vector_test.cc
  nb/scoped_ptr.h
  nb/simple_profiler.cc
  nb/simple_profiler.h
  nb/simple_profiler_test.cc
  nb/simple_thread.cc
  nb/simple_thread.h
  nb/std_allocator.h
  nb/std_allocator_test.cc
  nb/string_interner.cc
  nb/string_interner.h
  nb/string_interner_test.cc
  nb/test_thread.h
  nb/thread_collision_warner.cc
  nb/thread_local_boolean.h
  nb/thread_local_object.h
  nb/thread_local_object_test.cc
  nb/thread_local_pointer.h
  net/base/file_stream_context.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Revert "Remove unused Nanobase parts (#926)" (#944)
  cobalt/script/BUILD.gn
  cobalt/script/util/stack_trace_helpers.h
  cobalt/script/v8c/BUILD.gn
  cobalt/script/v8c/stack_trace_helpers.cc
  nb/BUILD.gn
  nb/bit_cast.h
  nb/concurrent_map.h
  nb/concurrent_map_test.cc
  nb/concurrent_ptr.h
  nb/concurrent_ptr_test.cc
  nb/hash.cc
  nb/hash.h
  nb/memory_pool.h
  nb/move.h
  nb/multipart_allocator.cc
  nb/multipart_allocator.h
  nb/multipart_allocator_test.cc
  nb/ref_counted.h
  nb/rewindable_vector.h
  nb/rewindable_vector_test.cc
  nb/scoped_ptr.h
  nb/simple_profiler.cc
  nb/simple_profiler.h
  nb/simple_profiler_test.cc
  nb/simple_thread.cc
  nb/simple_thread.h
  nb/std_allocator.h
  nb/std_allocator_test.cc
  nb/string_interner.cc
  nb/string_interner.h
  nb/string_interner_test.cc
  nb/test_thread.h
  nb/thread_collision_warner.cc
  nb/thread_local_boolean.h
  nb/thread_local_object.h
  nb/thread_local_object_test.cc
  nb/thread_local_pointer.h
  net/base/file_stream_context.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Update 24 LTS minor version to 3
  cobalt/version.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Update 24 LTS minor version to 3 (#945)
  cobalt/version.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Fix dependabot issues (#918)
  docker/pytest/requirements.in
  docker/pytest/requirements.txt
Due: check-copyright-year, internal-file-check

[WIP] enable arm tests in black_box_test
  cobalt/black_box_tests/black_box_tests.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Another webp build fix
  third_party/libwebp/BUILD.gn
Due: none

Use clang++ front end for linking Evergreen builds. (#932) (#946)
  build/toolchain/gcc_toolchain.gni
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/toolchain/BUILD.gn
  starboard/build/toolchain/linux/BUILD.gn
  starboard/evergreen/arm/hardfp/platform_configuration/BUILD.gn
  starboard/evergreen/arm/hardfp/toolchain/BUILD.gn
  starboard/evergreen/arm/softfp/platform_configuration/BUILD.gn
  starboard/evergreen/arm/softfp/toolchain/BUILD.gn
  starboard/evergreen/arm64/platform_configuration/BUILD.gn
  starboard/evergreen/arm64/toolchain/BUILD.gn
  starboard/evergreen/shared/platform_configuration/BUILD.gn
  starboard/evergreen/x64/platform_configuration/BUILD.gn
  starboard/evergreen/x64/toolchain/BUILD.gn
  starboard/evergreen/x86/platform_configuration/BUILD.gn
  starboard/evergreen/x86/toolchain/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Shrink Visual Studio base image for windows images
  docker/windows/base/visualstudio2022/Dockerfile
Due: check-copyright-year, internal-file-check

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^internal/starboard/shared/uikit/.*\.h$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  yapf: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  pylint: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  google-java-format: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gcheckstyle: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not ((?x)^(
    .pre-commit-config.yaml$|
    cobalt/media/|
    cobalt/layout_tests/testdata/|
    nb/|
    starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.cc$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.h$|
    starboard/shared/starboard/player/filter/wsola_internal.cc$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  check-if-starboard-interface-changed: any of: ^starboard/[^/]+\.h$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  test-python3-compatibility: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  internal-file-check: any of: not ((^docker-compose-windows(-internal)?.yml|EXCLUDE\.FILES(\.RECURSIVE)?|codereview\.settings)$), but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gn-format: any of: .*\.gni?$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

