Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

chromium-pre-commit:
  name: Chromium presubmit bridge
  entry: ./third_party/depot_tools/vpython3 --vpython-spec=./third_party/depot_tools/.vpython3 ./cobalt/precommit/run_chromium_presubmits.py
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==21.1.0

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=5
  - --quiet
  additional_dependencies:
  - cpplint==2.0.2

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

check-java-strings-have-locale:
  name: Check Java String.format includes Locale
  entry: python3 ./cobalt/precommit/check_java_strings_have_locale.py
  language: python

agents: Harden gh-stack against single-change stacks and improve tooling
  .agent/skills/gh-stack/SKILL.md
Due: none

Revert "Run telemetry against cobalt browser" (#12498)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
  tools/perf/page_sets/system_health/cobalt/__init__.py
  tools/perf/page_sets/system_health/cobalt/livingroom_stories.py
Due: yapf, pylint, python3-compatibility-check, gcheckstyle, check-java-strings-have-locale

media: Remove audio storage type from audio sink and 1P player (#12449)
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type.h
  starboard/android/shared/player_components_factory.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/audio_sink/gstreamer_audio_sink_type.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/audio_sink/gstreamer_audio_sink_type.h
  starboard/shared/alsa/alsa_audio_sink_type.cc
  starboard/shared/pulse/pulse_audio_sink_type.cc
  starboard/shared/starboard/audio_sink/audio_sink_create.cc
  starboard/shared/starboard/audio_sink/audio_sink_internal.cc
  starboard/shared/starboard/audio_sink/audio_sink_internal.h
  starboard/shared/starboard/audio_sink/stub_audio_sink_type.cc
  starboard/shared/starboard/audio_sink/stub_audio_sink_type.h
  starboard/shared/starboard/player/filter/audio_renderer_sink_impl.cc
  starboard/shared/starboard/player/filter/audio_renderer_sink_impl.h
  starboard/tvos/shared/media/audio_queue_audio_sink_type.mm
Due: clang-format, cpplint

[ci] Enable RDK test_e2e after SbSystemGetLocaleId fix. (#12455)
  .github/config/evergreen-arm-hardfp-rdk.json
Due: none

Revert "android: enable custom fonts.xml file by default" (#12488)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/util/JavaSwitchesTest.java
  content/browser/font_unique_name_lookup/font_unique_name_lookup_android.cc
  skia/ext/font_utils.cc
  third_party/blink/renderer/platform/fonts/font_fallback_iterator.cc
  third_party/blink/renderer/platform/fonts/font_fallback_iterator_test.cc
Due: gcheckstyle, check-java-strings-have-locale

Reland: android: enable custom fonts.xml file by default (#12208)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/util/JavaSwitchesTest.java
  content/browser/font_unique_name_lookup/font_unique_name_lookup_android.cc
  skia/ext/font_utils.cc
  third_party/blink/renderer/platform/fonts/font_fallback_iterator.cc
  third_party/blink/renderer/platform/fonts/font_fallback_iterator_test.cc
Due: gcheckstyle, check-java-strings-have-locale

Cherry pick PR #12263: docs: Update Android environment setup guide following setup-linux.md…
  .github/AUTOROLL
  cobalt/site/docs/codelabs/starboard_extensions/codelab.md
  cobalt/site/docs/development/index.md
  cobalt/site/docs/development/setup-aosp.md
  cobalt/site/docs/overview.md
Due: none

Cherry pick PR #12390: cobalt: Eliminate startup and resume white/red flashes
  .github/AUTOROLL
  components/viz/service/display_embedder/image_context_impl.cc
  content/browser/renderer_host/render_widget_host_view_base.cc
Due: none

Cherry pick PR #12402: media: Remove storage_type from DecodedAudio
  .github/AUTOROLL
  starboard/shared/starboard/player/decoded_audio_internal.cc
  starboard/shared/starboard/player/decoded_audio_internal.h
  starboard/shared/starboard/player/decoded_audio_test_internal.cc
  starboard/shared/starboard/player/filter/audio_renderer_pcm_internal.cc
  starboard/shared/starboard/player/filter/audio_resampler_impl.cc
  starboard/shared/starboard/player/filter/testing/decoded_audio_benchmark.cc
Due: clang-format, cpplint

Cherry pick PR #12219: Expose low memory event via web API
  .github/AUTOROLL
  cobalt/BUILD.gn
  cobalt/app/app_event_runner.cc
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_interface_binders.cc
  cobalt/browser/h5vcc_memory/BUILD.gn
  cobalt/browser/h5vcc_memory/h5vcc_memory_impl.cc
  cobalt/browser/h5vcc_memory/h5vcc_memory_impl.h
  cobalt/browser/h5vcc_memory/low_memory_manager.cc
  cobalt/browser/h5vcc_memory/low_memory_manager.h
  cobalt/browser/h5vcc_memory/low_memory_manager_unittest.cc
  cobalt/browser/h5vcc_memory/public/mojom/BUILD.gn
  cobalt/browser/h5vcc_memory/public/mojom/h5vcc_memory.mojom
  cobalt/browser/h5vcc_memory_browsertest.cc
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/cobalt_browsertests_loader_filter.json
  content/web_test/BUILD.gn
  third_party/blink/renderer/bindings/generated_in_modules.gni
  third_party/blink/renderer/bindings/idl_in_modules.gni
  third_party/blink/renderer/core/events/event_type_names.json5
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/cobalt/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_memory/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_memory/h_5_vcc_memory.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_memory/h_5_vcc_memory.h
  third_party/blink/renderer/modules/cobalt/h5vcc_memory/h_5_vcc_memory.idl
  third_party/blink/renderer/modules/cobalt/h_5_vcc.cc
  third_party/blink/renderer/modules/cobalt/h_5_vcc.h
  third_party/blink/renderer/modules/cobalt/h_5_vcc.idl
  third_party/blink/renderer/modules/event_target_modules_names.json5
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-memory/h5vcc-memory-onLowMemory.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-memory/resources/automation.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-memory/resources/mock-h5vcc-memory.js
Due: clang-format, cpplint, gn-format

Cherry pick PR #12253: Add web API to expose the low memory kill signal
  .github/AUTOROLL
  cobalt/browser/h5vcc_system/h5vcc_system_impl_android.cc
  cobalt/browser/h5vcc_system/h5vcc_system_impl_base.h
  cobalt/browser/h5vcc_system/h5vcc_system_impl_starboard.cc
  cobalt/browser/h5vcc_system/h5vcc_system_impl_tvos.mm
  cobalt/browser/h5vcc_system/public/mojom/h5vcc_system.mojom
  cobalt/browser/h5vcc_system_browsertest.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_system/h_5_vcc_system.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_system/h_5_vcc_system.h
  third_party/blink/renderer/modules/cobalt/h5vcc_system/h_5_vcc_system.idl
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-system/h5vcc-system-wasLowMemoryKilled.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-system/resources/mock-h5vcc-system.js
Due: clang-format, cpplint

Cherry pick PR #12401: media: Remove storage_type() from DecodedAudio
  .github/AUTOROLL
  starboard/shared/starboard/player/decoded_audio_internal.cc
  starboard/shared/starboard/player/decoded_audio_internal.h
  starboard/shared/starboard/player/decoded_audio_test_internal.cc
  starboard/shared/starboard/player/filter/adaptive_audio_decoder_internal.cc
  starboard/shared/starboard/player/filter/adaptive_audio_decoder_internal.h
  starboard/shared/starboard/player/filter/audio_channel_layout_mixer.h
  starboard/shared/starboard/player/filter/audio_channel_layout_mixer_impl.cc
  starboard/shared/starboard/player/filter/audio_renderer_pcm_internal.cc
  starboard/shared/starboard/player/filter/audio_renderer_pcm_internal.h
  starboard/shared/starboard/player/filter/decoded_audio_queue.cc
  starboard/shared/starboard/player/filter/testing/audio_channel_layout_mixer_test.cc
  starboard/shared/starboard/player/filter/testing/audio_decoder_test.cc
Due: clang-format, cpplint

Cherry pick PR #12362: starboard: Remove kUseStubAudioSink command line switch
  .github/AUTOROLL
  starboard/extension/feature_config.h
  starboard/shared/starboard/audio_sink/audio_sink_internal.cc
Due: clang-format, cpplint

Cherry pick PR #12438: android: Use WindowSurface for UI rendering by default
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/util/JavaSwitchesTest.java
  cobalt/shell/android/java/src/dev/cobalt/shell/ContentViewRenderView.java
Due: gcheckstyle, check-java-strings-have-locale

Cherry pick PR #12445: Add libcobalt.zst to softfp and arm64 package.
  .github/AUTOROLL
  cobalt/build/evergreen-arm-softfp/package.json
  cobalt/build/evergreen-arm-softfp/package_qa.json
  cobalt/build/evergreen-arm64/package.json
  cobalt/build/evergreen-arm64/package_qa.json
Due: none

Cherry pick PR #12213: android: Enable seamless switch when Bluetooth speaker is connected
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioOutputManager.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/audio_output_manager.cc
  starboard/android/shared/audio_output_manager.h
  starboard/android/shared/audio_renderer_passthrough.cc
  starboard/android/shared/audio_renderer_passthrough.h
  starboard/android/shared/audio_track.h
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type_test.cc
  starboard/android/shared/audio_track_bridge.cc
  starboard/android/shared/audio_track_bridge.h
  starboard/android/shared/fake_audio_track.cc
  starboard/android/shared/fake_audio_track.h
  starboard/android/shared/ndk_audio_track.cc
  starboard/android/shared/ndk_audio_track.h
  starboard/android/shared/player_components_factory.cc
  starboard/shared/starboard/experimental_features.h
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

Cherry pick PR #12430: starboard: Remove preallocated media buffer pools
  .github/AUTOROLL
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/media_codec_video_decoder.h
  starboard/android/shared/player_components_factory.cc
  starboard/shared/starboard/experimental_features.h
  starboard/shared/starboard/player/buffer_internal.cc
  starboard/shared/starboard/player/buffer_internal.h
  starboard/shared/starboard/player/buildfiles.gni
  starboard/shared/starboard/player/player_tests.gni
  starboard/shared/starboard/player/pooled_allocator.cc
  starboard/shared/starboard/player/pooled_allocator.h
  starboard/shared/starboard/player/pooled_allocator_test.cc
Due: clang-format, cpplint, gn-format

Cherry pick PR #12443: media: Remove background memory release for DecoderBuffer
  .github/AUTOROLL
  content/renderer/media/renderer_web_media_player_delegate.cc
  media/starboard/decoder_buffer_allocator.cc
  media/starboard/decoder_buffer_allocator.h
Due: clang-format, cpplint

Cherry pick PR #12407: Check GL_RENDERER for ANGLE when querying requestable extensions
  .github/AUTOROLL
  ui/gl/gl_implementation.cc
Due: none

Cherry pick PR #12410: cobalt/metrics: Add Android process exit reason tracking via stability PMA
  .github/AUTOROLL
  cobalt/BUILD.gn
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
  cobalt/browser/metrics/cobalt_stability_metrics_helper.cc
  cobalt/browser/metrics/cobalt_stability_metrics_helper.h
  cobalt/browser/metrics/cobalt_stability_metrics_helper_unittest.cc
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: clang-format, cpplint, gn-format

Cherry pick PR #12456: tvos: Build test targets on non-release configs
  .github/AUTOROLL
  cobalt/devinfra/kokoro/bin/common.sh
  cobalt/devinfra/kokoro/bin/presubmit_build_mac.sh
Due: none

android: use --use-custom-android-fonts-xml by default for optimized font loading
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/CommandLineOverrideHelperTest.java
  content/browser/font_unique_name_lookup/font_unique_name_lookup_android.cc
  skia/ext/font_utils.cc
  third_party/blink/renderer/platform/fonts/font_fallback_iterator.cc
  third_party/blink/renderer/platform/fonts/font_fallback_iterator_test.cc
Due: gcheckstyle, check-java-strings-have-locale

media: Remove audio_write_duration plumbing and use experimental_features
  cobalt/renderer/cobalt_content_renderer_client.cc
  media/base/ipc/media_param_traits_macros.h
  media/base/media_switches.cc
  media/base/media_switches.h
  media/base/starboard/experimental_features.h
  media/base/starboard/renderer_factory_traits.h
  media/base/starboard/starboard_renderer_config.cc
  media/base/starboard/starboard_renderer_config.h
  media/base/starboard/starboard_renderer_config_unittest.cc
  media/mojo/clients/starboard/starboard_renderer_client_factory.cc
  media/mojo/clients/starboard/starboard_renderer_client_factory.h
  media/mojo/services/gpu_mojo_media_client.cc
  media/mojo/services/gpu_mojo_media_client.h
  media/mojo/services/starboard/starboard_renderer_wrapper.cc
  media/mojo/services/starboard/starboard_renderer_wrapper_unittest.cc
  media/starboard/starboard_renderer.cc
  media/starboard/starboard_renderer.h
  media/starboard/starboard_renderer_unittest.cc
Due: clang-format, cpplint

cobalt/gardener: Update flaky test filters from CSV
  cobalt/testing/filters/android-arm/base_unittests_filter.json
  cobalt/testing/filters/android-arm/blink_heap_unittests_filter.json
  cobalt/testing/filters/android-arm/boringssl_crypto_tests_filter.json
  cobalt/testing/filters/android-arm/cobalt_unittests_filter.json
  cobalt/testing/filters/android-arm/mojo_unittests_filter.json
  cobalt/testing/filters/android-arm/perfetto_unittests_filter.json
  cobalt/testing/filters/android-arm/sql_unittests_filter.json
  cobalt/testing/filters/android-arm/url_perftests_filter.json
  cobalt/testing/filters/android-arm/zlib_unittests_filter.json
  cobalt/testing/filters/android-arm64/skia_unittests_filter.json
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/cobalt_browsertests_loader_filter.json
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/nplb_loader_filter.json
  cobalt/testing/filters/linux-x64x11/blink_platform_unittests_filter.json
  cobalt/testing/filters/linux-x64x11/cobalt_browsertests_filter.json
Due: none

coat: Make CommandLineOverrideHelper flavor-agnostic
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/CobaltActivityTest.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/CommandLineOverrideHelperTest.java
Due: gcheckstyle, check-java-strings-have-locale

feat(rebase): add omniscient change trajectory tracking and Gemini 3.8 expert model
  .github/rebase/autoninja.py
  .github/rebase/base_resolver.py
  .github/rebase/calculate_jaccard.py
  .github/rebase/conflicts.py
  .github/rebase/engine_client.py
  .github/rebase/gclient_sync.py
  .github/rebase/gn_gen.py
  .github/rebase/reasoning_engine/engine.py
  .github/rebase/run_rebase_pipeline.py
  .github/rebase/test_rebase_suite.py
Due: yapf, pylint, python3-compatibility-check

android: fix dual activity leaks (#12095)
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/BaseCobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/BaseStarboardBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltService.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/VideoSurfaceView.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/Holder.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/BaseStarboardBridgeTest.java
  cobalt/browser/h5vcc_platform_service/platform_service_impl.cc
  cobalt/browser/h5vcc_platform_service/platform_service_impl.h
  starboard/android/shared/base_starboard_bridge.cc
  starboard/android/shared/platform_service.cc
  starboard/android/shared/starboard_bridge.h
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

cobalt: Scope use_relative_vtables_abi evergreen override to starboard (#12503)
  build/config/compiler/compiler.gni
Due: none

RESOLVED: AI automated rebase conflict healing
  DEPS
  base/allocator/partition_allocator/partition_alloc.gni
  build/config/android/config.gni
  chrome/browser/permissions/BUILD.gn
  cobalt/shell/android/content_view_render_view.h
  cobalt/shell/browser/shell.h
  cobalt/shell/browser/shell_javascript_dialog.h
  cobalt/shell/browser/shell_platform_delegate.h
  cobalt/shell/browser/shell_platform_delegate_ios.mm
  components/update_client/url_fetcher_downloader.cc
  components/viz/common/features.cc
  content/browser/renderer_host/media/media_stream_dispatcher_host.cc
  content/browser/renderer_host/render_widget_host_view_tvos_uiview.mm
  gpu/ipc/service/gpu_channel_manager.h
  services/network/url_loader.cc
  third_party/blink/renderer/core/frame/build.gni
  third_party/blink/renderer/modules/canvas/canvas2d/base_rendering_context_2d.h
  third_party/blink/web_tests/TestExpectations
Due: clang-format, cpplint

android: remove unused ENABLE_OPTIMIZED_FONT_LOADING Java switch
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/util/JavaSwitchesTest.java
Due: gcheckstyle, check-java-strings-have-locale

blink: guard FontFallbackIteratorTest with BUILDFLAG(IS_COBALT)
  third_party/blink/renderer/platform/fonts/font_fallback_iterator_test.cc
Due: none

coat: Make CommandLineOverrideHelper flavor-agnostic (#12475)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/CobaltActivityTest.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/CommandLineOverrideHelperTest.java
Due: gcheckstyle, check-java-strings-have-locale

ci: add AI rebase agent workflow (#12416)
  .github/workflows/ai_rebase_resolver.yaml
Due: none

RESOLVED: AI automated rebase conflict healing
  DEPS
  base/features.cc
  base/features.h
  build/android/gyp/java_cpp_features.py
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/app/app_event_runner.cc
  cobalt/shell/android/java/src/dev/cobalt/shell/ContentViewRenderView.java
  components/crash/core/app/crashpad_ios.mm
  components/os_crypt/sync/BUILD.gn
  content/browser/browser_main_loop.cc
  content/browser/renderer_host/render_widget_host_view_tvos_uiview.mm
  content/public/common/content_features.cc
  content/shell/app/shell_main_delegate.h
  gpu/ipc/service/gpu_memory_buffer_factory.cc
  net/http/http_stream_factory_job_controller.cc
  third_party/blink/renderer/modules/cobalt_modules_stubs.cc
  third_party/blink/web_tests/TestExpectations
  third_party/cpuinfo/src/src/api.c
  third_party/perfetto/src/base/paged_memory_unittest.cc
  third_party/perfetto/src/base/periodic_task.cc
  third_party/perfetto/src/base/unix_socket.cc
  third_party/perfetto/src/base/vm_sockets.h
  third_party/perfetto/src/profiling/symbolizer/filesystem_posix.cc
  third_party/webrtc/BUILD.gn
  third_party/webrtc/media/BUILD.gn
  third_party/webrtc/media/engine/internal_decoder_factory.cc
  third_party/webrtc/media/engine/internal_encoder_factory_starboard_stub.cc
  third_party/webrtc/rtc_base/physical_socket_server.cc
  third_party/webrtc/rtc_base/platform_thread_types.cc
  third_party/webrtc/rtc_tools/BUILD.gn
  third_party/webrtc/sdk/android/BUILD.gn
  third_party/webrtc/test/BUILD.gn
  third_party/webrtc/test/testsupport/ivf_video_frame_generator.cc
  ui/events/keycodes/keyboard_code_conversion_ios.mm
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

Fix conflict markers for easier cherry-picking
  DEPS
  base/allocator/partition_allocator/partition_alloc.gni
  build/config/android/config.gni
  chrome/browser/permissions/BUILD.gn
  components/update_client/url_fetcher_downloader.cc
  components/viz/common/features.cc
  content/browser/renderer_host/media/media_stream_dispatcher_host.cc
  content/browser/renderer_host/render_widget_host_view_tvos_uiview.mm
  gpu/ipc/service/gpu_channel_manager.h
  services/network/url_loader.cc
  third_party/blink/renderer/core/frame/build.gni
  third_party/blink/renderer/modules/canvas/canvas2d/base_rendering_context_2d.h
  third_party/blink/web_tests/TestExpectations
Due: none

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
