Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

chromium-pre-commit:
  name: Chromium presubmit bridge
  entry: ./third_party/depot_tools/vpython3 --vpython-spec=./third_party/depot_tools/.vpython3 ./cobalt/precommit/run_chromium_presubmits.py
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==21.1.0

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=5
  - --quiet
  additional_dependencies:
  - cpplint==2.0.2

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

check-java-strings-have-locale:
  name: Check Java String.format includes Locale
  entry: python3 ./cobalt/precommit/check_java_strings_have_locale.py
  language: python

Cherry pick PR #9901: starboard: Change extension error to warning
  cobalt/common/features/starboard_features_initialization.cc
Due: clang-format

Cherry pick PR #9928: ci: Fix permissions issues in autoroll workflow
  .github/scripts/autoroll_lts.py
  .github/workflows/autoroll_lts.yaml
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #9910: media: Enable IAMF by default
  media/media_options.gni
Due: none

cobalt: Add avoid CC resource reuse switch (#9899)
  cc/base/switches.cc
  cc/base/switches.h
  cc/resources/resource_pool.cc
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/util/JavaSwitchesTest.java
Due: gcheckstyle, check-java-strings-have-locale

Move ready check earlier
  starboard/android/shared/drm_system.cc
  starboard/android/shared/drm_system.h
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_drm_bridge.cc
  starboard/android/shared/media_drm_bridge.h
Due: clang-format, cpplint

Add debugging, r flag
  .github/actions/depot_tools/action.yaml
Due: none

Update comment wording
  starboard/android/shared/media_codec_bridge.cc
Due: clang-format, cpplint

Cherry pick PR #9950: ci: Remove cache argument to gclient config
  .github/actions/depot_tools/action.yaml
Due: none

Cherry pick PR #9953: ci: Move main fetch to after branch switch
  .github/scripts/autoroll_lts.py
  .github/workflows/autoroll_lts.yaml
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #9932: cherry pick main sync (#9933)
  DEPS
  PRESUBMIT.py
  base/callback_list.h
  base/callback_list_unittest.cc
  chrome/VERSION
  chrome/browser/extensions/api/declarative_content/chrome_content_rules_registry.cc
  chrome/browser/extensions/api/declarative_content/chrome_content_rules_registry_unittest.cc
  chromeos/CHROMEOS_LKGM
  extensions/browser/api/declarative/rules_registry.cc
  gpu/command_buffer/service/common_decoder.cc
  gpu/command_buffer/service/common_decoder_unittest.cc
  gpu/ipc/service/shared_image_stub.cc
  services/network/shared_dictionary/shared_dictionary_on_disk.cc
  services/network/shared_dictionary/shared_dictionary_on_disk_unittest.cc
  third_party/blink/renderer/bindings/core/v8/native_value_traits_impl.cc
  third_party/blink/renderer/bindings/core/v8/native_value_traits_impl.h
  third_party/blink/renderer/bindings/core/v8/native_value_traits_impl_test.cc
  third_party/blink/renderer/bindings/core/v8/pass_as_span.h
  third_party/blink/renderer/bindings/scripts/bind_gen/blink_v8_bridge.py
  third_party/blink/renderer/modules/webgl/webgl_context_object_support.cc
  third_party/blink/renderer/modules/webgl/webgl_context_object_support.h
  third_party/blink/renderer/modules/webgl/webgl_object.cc
  third_party/blink/renderer/modules/webgl/webgl_object.h
  third_party/blink/renderer/modules/webgl/webgl_rendering_context_base.h
  third_party/blink/renderer/modules/webmidi/midi_port_map.h
  third_party/blink/renderer/platform/fonts/shaping/case_mapping_harfbuzz_buffer_filler.cc
  third_party/blink/web_tests/external/wpt/encoding/textdecoder-arguments.any.js
Due: none

Reload is unnecessary if OnIPAddressChanged is called after OnConnectionChanged
  cobalt/app/app_event_runner.cc
Due: clang-format, cpplint

Fix format
  components/crx_file/crx_verifier.cc
  components/crx_file/crx_verifier.h
  components/update_client/pipeline.h
  components/update_client/unpacker.cc
Due: none

Verify crx
  components/update_client/unpacker.cc
Due: none

Cherry pick PR #9910: media: Enable IAMF by default (#9949)
  media/media_options.gni
Due: none

media: Make InPlace allocator default
  media/starboard/decoder_buffer_allocator.cc
  media/starboard/decoder_buffer_allocator.h
  third_party/blink/renderer/modules/cobalt/h5vcc_settings/h_5_vcc_settings.cc
Due: clang-format, cpplint

Starboard/WPE plugin: infer launch and utm_content for menu launches
  starboard/contrib/rdk/plugin/CobaltImplementation.cpp
Due: none

Add more packagin artifacts
  cobalt/build/evergreen-arm-hardfp-rdk/package.json
Due: none

runtime: defer deep-link read to accessor
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/h_5_vcc_runtime.cc
Due: clang-format, cpplint

shell: preserve YTS session across navigations
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell.h
  cobalt/shell/embedded_resources/cobalt_java_script_polyfill/yts_session_bridge.js
Due: clang-format, cpplint

Rebase refresh on 2026-04-09 for m138.
  DEPS
  third_party/blink/renderer/bindings/core/v8/native_value_traits_impl.h
  third_party/blink/renderer/bindings/core/v8/native_value_traits_impl_test.cc
  third_party/blink/renderer/bindings/core/v8/pass_as_span.h
  third_party/blink/renderer/bindings/scripts/bind_gen/blink_v8_bridge.py
  third_party/blink/renderer/bindings/scripts/bind_gen/interface.py
  third_party/blink/renderer/core/css/invalidation/pending_invalidations.cc
  third_party/blink/renderer/core/css/invalidation/pending_invalidations.h
  third_party/blink/renderer/core/css/invalidation/style_invalidator.cc
  third_party/blink/renderer/core/css/resolver/style_cascade.cc
  third_party/blink/renderer/core/css/rule_set.cc
  third_party/blink/renderer/core/css/rule_set.h
  third_party/blink/web_tests/external/wpt/css/selectors/hash-collision-cssom.html
  third_party/blink/web_tests/external/wpt/encoding/textdecoder-arguments.any.js
  third_party/blink/web_tests/wpt_internal/webgpu/fast_api/crashtests/GPURenderPassEncode.setBindGroup.https.html
Due: none

Cherry pick PR #9896: Cherry pick PR #9878: android: Skip Java crashpad handler on old ATV
  components/crash/core/app/crashpad_android.cc
Due: none

encoded buffer uma
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: gcheckstyle, check-java-strings-have-locale

delete comment
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: gcheckstyle, check-java-strings-have-locale

rename
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: gcheckstyle, check-java-strings-have-locale

separate output tracker
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecOutputTracker.java
Due: gcheckstyle, gn-format, check-java-strings-have-locale

fix
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecOutputTracker.java
Due: gcheckstyle, check-java-strings-have-locale

rename
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecOutputTracker.java
Due: gcheckstyle, check-java-strings-have-locale

comments
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecOutputTracker.java
Due: gcheckstyle, check-java-strings-have-locale

consistent locks
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecOutputTracker.java
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: gcheckstyle, check-java-strings-have-locale

commments
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecOutputTracker.java
Due: gcheckstyle, check-java-strings-have-locale

media: Make InPlace allocator the default (#9955)
  media/starboard/decoder_buffer_allocator.cc
  media/starboard/decoder_buffer_allocator.h
  third_party/blink/renderer/modules/cobalt/h5vcc_settings/h_5_vcc_settings.cc
Due: clang-format, cpplint

fix rebase
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecOutputTracker.java
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: gcheckstyle, check-java-strings-have-locale

cobalt: Enable dark mode by default (#9906)
  cobalt/app/cobalt_switch_defaults_starboard.cc
Due: clang-format, cpplint

Cherry pick PR #9911: In-memory crx verification
  components/crx_file/crx_verifier.cc
  components/crx_file/crx_verifier.h
  components/update_client/pipeline.h
  components/update_client/unpacker.cc
Due: none

Revert "Cherry pick PR #9932: cherry pick main sync (#9933)"
  DEPS
  PRESUBMIT.py
  base/callback_list.h
  base/callback_list_unittest.cc
  chrome/VERSION
  chrome/browser/extensions/api/declarative_content/chrome_content_rules_registry.cc
  chrome/browser/extensions/api/declarative_content/chrome_content_rules_registry_unittest.cc
  chromeos/CHROMEOS_LKGM
  extensions/browser/api/declarative/rules_registry.cc
  gpu/command_buffer/service/common_decoder.cc
  gpu/command_buffer/service/common_decoder_unittest.cc
  gpu/ipc/service/shared_image_stub.cc
  services/network/shared_dictionary/shared_dictionary_on_disk.cc
  services/network/shared_dictionary/shared_dictionary_on_disk_unittest.cc
  third_party/blink/renderer/bindings/core/v8/native_value_traits_impl.cc
  third_party/blink/renderer/bindings/core/v8/native_value_traits_impl.h
  third_party/blink/renderer/bindings/core/v8/native_value_traits_impl_test.cc
  third_party/blink/renderer/bindings/core/v8/pass_as_span.h
  third_party/blink/renderer/bindings/scripts/bind_gen/blink_v8_bridge.py
  third_party/blink/renderer/modules/webgl/webgl_context_object_support.cc
  third_party/blink/renderer/modules/webgl/webgl_context_object_support.h
  third_party/blink/renderer/modules/webgl/webgl_object.cc
  third_party/blink/renderer/modules/webgl/webgl_object.h
  third_party/blink/renderer/modules/webgl/webgl_rendering_context_base.h
  third_party/blink/renderer/modules/webmidi/midi_port_map.h
  third_party/blink/renderer/platform/fonts/shaping/case_mapping_harfbuzz_buffer_filler.cc
  third_party/blink/web_tests/external/wpt/encoding/textdecoder-arguments.any.js
Due: none

tvOS: Introduce new browser tests for IFA
  cobalt/browser/h5vcc_system/h5vcc_system_impl_base.h
  cobalt/browser/h5vcc_system/h5vcc_system_impl_tvos.mm
  cobalt/browser/h5vcc_system_browsertest.cc
  cobalt/testing/browser_tests/BUILD.gn
Due: clang-format, cpplint, gn-format

tvOS: Respect --disable-splash-screen, change initialization flow
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell_platform_delegate_ios.mm
Due: clang-format, cpplint

Be more defensive when accessing RWHV
  cobalt/shell/browser/shell_platform_delegate_ios.mm
Due: none

Restore Linux toolchain
  cobalt/build/toolchain/linux/BUILD.gn
Due: gn-format

Move strip.gni to cobalt/
  build/toolchain/linux/BUILD.gn
  cobalt/build/toolchain/linux/BUILD.gn
  cobalt/build/toolchain/linux/strip.gni
Due: gn-format

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
