Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [pre-commit]

default_language_version:
    python: python3

files: |
    (?x)^(
        .github/|
        cobalt/|
        media/starboard/|
        starboard/|
        .pre-commit-config.yaml|
        .pylintrc|
        docker-compose.yaml
    )

repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-case-conflict
    -   id: check-xml
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace

-   repo: https://cobalt.googlesource.com/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        name: Spell Check
        args: [-x, cobalt/precommit/.codespellignorelines,
               # The --ignore-words-list argument has a bug where it needs to
               # be lowercase, see
               # https://github.com/codespell-project/codespell/issues/1390
               --ignore-words-list, "atleast,varius,assertIn,requestor",
               ]
        exclude: |
            (?x)^(
                starboard/content/ssl/certs/|
                starboard/shared/starboard/player/testdata/|
                starboard/android/apk/app/src/app/assets/web/link_android_splash_screen.html
            )

-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: clang-format
        language: python
        types: [c++]
        args: [-i, -style=file]
        additional_dependencies: ['clang-format==17.0.1']
    -   id: yapf
        name: yapf
        entry: yapf
        language: python
        types: [python]
        args: [-i, -vv]
        additional_dependencies: ['yapf==0.40.2']
    -   id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [python]
        args: [-d W0201]
        additional_dependencies: ['pylint==3.3.1']
    -   id: python3-compatibility-check
        name: Python 3 Compatibility Check
        entry: python3 ./cobalt/precommit/python3_check.py
        language: python
        types: [python]
    -   id: google-java-format
        name: google-java-format
        entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
        language: python
        exclude: |
            (?x)^(
                starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java
            )
        types: [java]
    -   id: gn-format
        name: gn-format
        entry: gn format
        language: system
        files: '.*\.gni?$'

Disable Dawn graphics backend (#5088)
  cobalt/build/configs/common.gn
Due: gn-format

[Ozone] Disable all non-starboard backends (#4987)
  cobalt/build/configs/linux-x64x11-evergreen/args.gn
  cobalt/build/configs/linux-x64x11/args.gn
  cobalt/build/configs/linux_common.gn
  cobalt/build/gn.py
  cobalt/build/testing/targets/linux-x64x11/test_targets.json
  cobalt/cobalt_switch_defaults.cc
  cobalt/cobalt_switch_defaults_test.cc
  cobalt/testing/filters/linux-x64x11/cc_unittests_filter.json
  cobalt/testing/filters/linux-x64x11/viz_unittests_filter.json
  ui/ozone/platform/starboard/ozone_platform_starboard.cc
Due: clang-format, yapf, pylint, python3-compatibility-check, gn-format

Load EGL and GLES through Angle (#5092)
  ui/ozone/platform/starboard/gl_ozone_egl_starboard.cc
  ui/ozone/platform/starboard/gl_ozone_egl_starboard.h
Due: none

Disable Swiftshader for Linux (#5078)
  cobalt/build/configs/linux_common.gn
Due: gn-format

Remove special focus handling from ContentShell (#5094)
  cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java
Due: google-java-format, gcheckstyle

Remove Swiftshader binaries from package (#5098)
  cobalt/build/linux/package.json
Due: none

Update cpp-httplib to 6a848b1a1643
  third_party/crashpad/crashpad/third_party/cpp-httplib/README.crashpad
  third_party/crashpad/crashpad/third_party/cpp-httplib/cpp-httplib/README.md
  third_party/crashpad/crashpad/third_party/cpp-httplib/cpp-httplib/httplib.h
  third_party/crashpad/crashpad/util/net/http_transport_test_server.cc
Due: none

Add sync advertising properties (#5082)
  cobalt/browser/h5vcc_system/h5vcc_system_impl.cc
  cobalt/browser/h5vcc_system/h5vcc_system_impl.h
  cobalt/browser/h5vcc_system/public/mojom/h5vcc_system.mojom
  third_party/blink/renderer/modules/cobalt/h5vcc_system/h_5_vcc_system.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_system/h_5_vcc_system.h
  third_party/blink/renderer/modules/cobalt/h5vcc_system/h_5_vcc_system.idl
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-system/h5vcc-system-advertisingId.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-system/h5vcc-system-getTrackingAuthorizationStatus.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-system/h5vcc-system-limitAdTracking.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-system/h5vcc-system-trackingAuthorizationStatus.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-system/resources/mock-h5vcc-system.js
Due: clang-format

Remove SbEvents unsupported on 3P. (#5095)
  cobalt/cobalt.cc
  starboard/CHANGELOG.md
  starboard/event.h
Due: clang-format

Remove libvulkan.so from package (#5099)
  cobalt/build/linux/package.json
Due: none

Remove implicit 60fps vsync in NativeViewGLSurfaceEGL (#5093)
  ui/ozone/platform/starboard/gl_ozone_egl_starboard.cc
Due: none

Remove condition for angle_use_x11 flag (#5097)
  cobalt/build/configs/linux-x64x11-evergreen/args.gn
  cobalt/build/configs/linux-x64x11/args.gn
Due: gn-format

Re-add PosixFile tests (#5072)
  cobalt/testing/filters/linux-x64x11-evergreen/nplb_filter.json
Due: none

Fix CobaltLocationSrc crash (#5103)
  third_party/blink/renderer/core/frame/csp/content_security_policy.cc
Due: none

Revert "Load EGL and GLES through Angle" (#5104)
  ui/ozone/platform/starboard/gl_ozone_egl_starboard.cc
  ui/ozone/platform/starboard/gl_ozone_egl_starboard.h
Due: none

Add h5vcc.storage.writeTest() and verifyTest() for YTS cache tests. (#5051)
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_interface_binders.cc
  cobalt/browser/h5vcc_storage/testing/BUILD.gn
  cobalt/browser/h5vcc_storage/testing/h5vcc_storage_for_testing_impl.cc
  cobalt/browser/h5vcc_storage/testing/h5vcc_storage_for_testing_impl.h
  cobalt/browser/h5vcc_storage/testing/public/mojom/BUILD.gn
  cobalt/browser/h5vcc_storage/testing/public/mojom/h5vcc_storage_for_testing.mojom
  third_party/blink/renderer/bindings/generated_in_modules.gni
  third_party/blink/renderer/bindings/idl_in_modules.gni
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_storage/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_storage/h_5_vcc_storage.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_storage/h_5_vcc_storage.h
  third_party/blink/renderer/modules/cobalt/h5vcc_storage/h_5_vcc_storage.idl
  third_party/blink/renderer/modules/cobalt/h5vcc_storage/testing/h_5_vcc_storage.idl
  third_party/blink/renderer/modules/cobalt/h5vcc_storage/testing/h_5_vcc_storage_for_testing.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_storage/testing/h_5_vcc_storage_for_testing.h
  third_party/blink/renderer/modules/cobalt/h_5_vcc.cc
  third_party/blink/renderer/modules/cobalt/h_5_vcc.h
Due: clang-format, gn-format

Add Android package.py (#5108)
  cobalt/build/android/package.py
  cobalt/build/packager.py
Due: yapf, pylint, python3-compatibility-check

Add initialDeepLink as sync property (#5100)
  cobalt/browser/h5vcc_runtime/h5vcc_runtime_impl.cc
  cobalt/browser/h5vcc_runtime/h5vcc_runtime_impl.h
  cobalt/browser/h5vcc_runtime/public/mojom/h5vcc_runtime.mojom
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/h_5_vcc_runtime.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/h_5_vcc_runtime.h
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/h_5_vcc_runtime.idl
Due: clang-format

Import platform args.gn instead of copying it and refactor gn.py (#5111)
  cobalt/build/gn.py
Due: yapf, pylint, python3-compatibility-check

Add workflow triggers for 26.android (#5118)
  .github/workflows/nightly_trigger_26.android.yaml
Due: none

Add cherry pick workflow fo 26.android (#5120)
  .github/workflows/label-cherry-pick.yaml
Due: none

blink: Add H5vccMetrics IDL, Blink implementation and Mojom (#5047)
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_interface_binders.cc
  cobalt/browser/h5vcc_metrics/BUILD.gn
  cobalt/browser/h5vcc_metrics/h5vcc_metrics_impl.cc
  cobalt/browser/h5vcc_metrics/h5vcc_metrics_impl.h
  cobalt/browser/h5vcc_metrics/public/mojom/BUILD.gn
  cobalt/browser/h5vcc_metrics/public/mojom/h5vcc_metrics.mojom
  third_party/blink/renderer/bindings/generated_in_modules.gni
  third_party/blink/renderer/bindings/idl_in_modules.gni
  third_party/blink/renderer/core/events/event_type_names.json5
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_metrics/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_metrics/h_5_vcc_metrics.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_metrics/h_5_vcc_metrics.h
  third_party/blink/renderer/modules/cobalt/h5vcc_metrics/h_5_vcc_metrics.idl
  third_party/blink/renderer/modules/cobalt/h5vcc_metrics/metrics_event.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_metrics/metrics_event.h
  third_party/blink/renderer/modules/cobalt/h5vcc_metrics/metrics_event.idl
  third_party/blink/renderer/modules/cobalt/h_5_vcc.cc
  third_party/blink/renderer/modules/cobalt/h_5_vcc.h
  third_party/blink/renderer/modules/event_target_modules_names.json5
Due: clang-format, gn-format

Remove third_party/rust gnrt dependencies
  third_party/blink/perf_tests/speedometer21/resources/todomvc/dependency-examples/flight/flight/node_modules/requirejs-text/LICENSE
  third_party/rust/anyhow/v1/crate/.gitignore
  third_party/rust/anyhow/v1/crate/LICENSE-APACHE
  third_party/rust/anyhow/v1/crate/LICENSE-MIT
  third_party/rust/base64/v0_13/crate/LICENSE-APACHE
  third_party/rust/font_types/v0_4/crate/Cargo.toml
  third_party/rust/getrandom/v0_2/crate/LICENSE-APACHE
  third_party/rust/getrandom/v0_2/crate/LICENSE-MIT
  third_party/rust/hex/v0_4/BUILD.gn
  third_party/rust/hex_literal/v0_4/BUILD.gn
  third_party/rust/hex_literal/v0_4/crate/LICENSE-APACHE
  third_party/rust/hex_literal/v0_4/crate/LICENSE-MIT
  third_party/rust/log/v0_4/crate/.gitignore
  third_party/rust/log/v0_4/crate/LICENSE-MIT
  third_party/rust/ppv_lite86/v0_2/crate/LICENSE-APACHE
  third_party/rust/ppv_lite86/v0_2/crate/LICENSE-MIT
  third_party/rust/rand_chacha/v0_3/crate/LICENSE-APACHE
  third_party/rust/rand_core/v0_6/crate/Cargo.toml
  third_party/rust/rand_pcg/v0_3/BUILD.gn
  third_party/rust/rand_pcg/v0_3/crate/LICENSE-APACHE
  third_party/rust/rustc_demangle/v0_1/crate/.github/dependabot.yml
  third_party/rust/rustc_demangle/v0_1/crate/.github/workflows/main.yml
  third_party/rust/rustc_demangle/v0_1/crate/.gitignore
  third_party/rust/rustc_demangle/v0_1/crate/LICENSE-APACHE
  third_party/rust/rustc_demangle/v0_1/crate/LICENSE-MIT
  third_party/rust/syn/v2/crate/LICENSE-APACHE
  third_party/rust/syn/v2/crate/LICENSE-MIT
  third_party/rust/wycheproof/v0_4/crate/.gitignore
Due: none

Remove ML modules from linux (#5110)
  cobalt/build/configs/linux_common.gn
Due: gn-format

Strip cobalt binary
  cobalt/BUILD.gn
Due: gn-format

Fix the format of window-size spec in switches (#5129)
  cobalt/cobalt_switch_defaults.cc
  cobalt/cobalt_switch_defaults_test.cc
Due: clang-format

Remove build failures related to //sandbox (#5128)
  content/gpu/BUILD.gn
  sandbox/features.gni
  sandbox/policy/BUILD.gn
Due: none

Add debug and stripped cobalts to release package (#5132)
  cobalt/build/linux/package.json
Due: none

Use TrustedHeaderClient to add Cobalt Client Hint header (#5102)
  cobalt/browser/BUILD.gn
  cobalt/browser/client_hint_headers/BUILD.gn
  cobalt/browser/client_hint_headers/cobalt_header_value_provider.cc
  cobalt/browser/client_hint_headers/cobalt_header_value_provider.h
  cobalt/browser/client_hint_headers/cobalt_trusted_header_client.cc
  cobalt/browser/client_hint_headers/cobalt_trusted_header_client.h
  cobalt/browser/client_hint_headers/cobalt_trusted_url_loader_header_client.cc
  cobalt/browser/client_hint_headers/cobalt_trusted_url_loader_header_client.h
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  services/network/url_loader.cc
Due: clang-format, gn-format

Fix hermetic build errors caused due to pci library (#5134)
  cobalt/build/configs/linux_common.gn
Due: gn-format

Use include_dirs instead of BUILDFLAG for musl includes (#5126)
  build/config/c++/BUILD.gn
  third_party/musl/include/pthread.h
  third_party/musl/src/starboard/include/pthread.h
Due: none

Revert "Import platform args.gn instead of copying it and refactor gn.py" (#5143)
  cobalt/build/gn.py
Due: yapf, pylint, python3-compatibility-check

Revert "Remove condition for angle_use_x11 flag" (#5142)
  cobalt/build/configs/linux-x64x11-evergreen/args.gn
  cobalt/build/configs/linux-x64x11/args.gn
Due: gn-format

Revert dynamic test target calculation (#5130)
  .github/actions/build/action.yaml
  cobalt/build/testing/targets/android-arm/test_targets.json
  cobalt/build/testing/targets/android-arm64/test_targets.json
  cobalt/build/testing/targets/linux-x64x11/test_targets.json
  cobalt/testing/filters/linux-x64x11/wm_unittests_filter.json
Due: none

Implement metric for free cpu memory (#5116)
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_interface_binders.cc
  cobalt/browser/performance/BUILD.gn
  cobalt/browser/performance/performance_impl.cc
  cobalt/browser/performance/performance_impl.h
  cobalt/browser/performance/public/mojom/BUILD.gn
  cobalt/browser/performance/public/mojom/performance.mojom
  third_party/blink/public/mojom/BUILD.gn
  third_party/blink/renderer/bindings/idl_in_core.gni
  third_party/blink/renderer/core/BUILD.gn
  third_party/blink/renderer/core/cobalt/build.gni
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.cc
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.h
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.idl
Due: clang-format, gn-format

Standardize Launch URL to Kabuki Home (#5148)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: google-java-format, gcheckstyle

Enable an is_cobalt build of content_shell (#5123)
  cobalt/build/configs/linux-x64x11-no-starboard/args.gn
  cobalt/build/gn.py
  content/public/common/BUILD.gn
  content/web_test/BUILD.gn
  media/base/cdm_context.h
  media/base/mime_util_internal.cc
  media/media_options.gni
  media/starboard/BUILD.gn
  starboard/shared/toolchain/overridable_gcc_toolchain.gni
  third_party/blink/renderer/bindings/idl_in_modules.gni
  third_party/blink/renderer/core/html/media/html_media_element.cc
  third_party/blink/renderer/modules/cobalt/BUILD.gn
  third_party/blink/renderer/modules/cobalt/encryptedmedia/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_metrics/h_5_vcc_metrics.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_storage/h_5_vcc_storage.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_storage/testing/h_5_vcc_storage_for_testing.cc
  third_party/blink/renderer/modules/cobalt/mediasource/BUILD.gn
  third_party/blink/renderer/modules/mediasource/media_source.cc
  third_party/blink/renderer/platform/media/key_system_config_selector.cc
  third_party/blink/web_tests/wpt_internal/cobalt/crash-log/resources/automation.js
  ui/ozone/BUILD.gn
Due: yapf, pylint, python3-compatibility-check, gn-format

Remove obsolete TODO comments (#5149)
  ui/ozone/platform/starboard/gl_ozone_egl_starboard.cc
  ui/ozone/platform/starboard/ozone_platform_starboard.cc
Due: none

Workaround issue with calling SB configuration extension function for… (#5151)
  cobalt/configuration/configuration.cc
Due: clang-format

Allow localhost ws connection (#5152)
  third_party/blink/renderer/core/frame/csp/local_ip.cc
Due: none
