Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=4
  - --quiet
  additional_dependencies:
  - cpplint

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./chrobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./chrobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./chrobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

Update drm_system.cc
  starboard/android/shared/drm_system.cc
Due: clang-format, cpplint

app-level provisioning
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java
  starboard/android/shared/drm_system.cc
  starboard/android/shared/drm_system.h
  starboard/android/shared/media_drm_bridge.cc
  starboard/android/shared/media_drm_bridge.h
Due: clang-format, cpplint

fix crash
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java
  starboard/android/shared/drm_system.cc
  starboard/android/shared/media_drm_bridge.cc
Due: clang-format, cpplint

Remove catopen symbols by modifying libc++ locale file
  buildtools/third_party/libc++/trunk/include/locale
Due: none

Cherry pick PR #6343: [Refactor] Replace starboard::Mutex with std::mutex (#6346)
  starboard/android/shared/drm_system.cc
  starboard/android/shared/drm_system.h
  starboard/android/shared/media_capabilities_cache.cc
  starboard/android/shared/media_capabilities_cache.h
  starboard/raspi/shared/open_max/open_max_component.cc
  starboard/raspi/shared/open_max/open_max_component.h
  starboard/shared/openh264/openh264_video_decoder.cc
  starboard/shared/openh264/openh264_video_decoder.h
  starboard/shared/pthread/thread_sampler_internal.cc
  starboard/shared/starboard/player/filter/audio_renderer_internal_pcm.cc
  starboard/shared/starboard/player/filter/audio_renderer_internal_pcm.h
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.cc
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.h
  starboard/shared/starboard/player/filter/media_time_provider_impl.cc
  starboard/shared/starboard/player/filter/media_time_provider_impl.h
  starboard/shared/starboard/player/filter/video_renderer_internal_impl.cc
  starboard/shared/starboard/player/filter/video_renderer_internal_impl.h
  starboard/shared/x11/application_x11.cc
  starboard/shared/x11/application_x11.h
Due: clang-format, cpplint

Enable sanitizers for linux builds
  build/config/sanitizers/sanitizers.gni
  buildtools/third_party/libc++/BUILD.gn
  buildtools/third_party/libc++abi/BUILD.gn
  cobalt/build/configs/initialize_variables.gni
  cobalt/build/configs/variables.gni
  third_party/llvm-project/libunwind/BUILD.gn
Due: none

Do not obfuscate java classes
  cobalt/android/apk/app/proguard-rules.pro
Due: none

Fix styling
  base/android/jni_android.cc
  base/android/jni_android.h
Due: none

Remove redundant UI dependencies from cobalt shell
  cobalt/shell/BUILD.gn
  cobalt/shell/app/shell_main_delegate.cc
  cobalt/shell/app/shell_main_delegate.h
  cobalt/shell/browser/shell_browser_main_parts.cc
Due: none

cobalt/android: Simplify command-line overrides
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/CommandLineOverrideHelperTest.java
Due: none

Added choiced to --retry_level arg + TODO msg
  cobalt/tools/on_device_tests_gateway_client.py
Due: none

Remove EXPECT_DEATH tests
  third_party/blink/renderer/platform/bindings/parkable_string_test.cc
  third_party/blink/renderer/platform/wtf/vector_test.cc
Due: none

base::Feature flags can have keys and values applied. Adding tests for features with values to ensure they are retained when parsing them from he command line.
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/CommandLineOverrideHelperTest.java
  cobalt/android/docs/COBALT_COMMAND_LINE_ARGS.md
Due: none

Remove functions from manifest
  starboard/tools/api_leak_detector/evergreen/manifest
Due: none

On Android we now check for failed or errored tests in xml. On Android and Linux an xml presence check is added, verifying that all test xml are present.
  .github/actions/on_device_tests/action.yaml
  .github/actions/on_host_tests/action.yaml
  .github/actions/print_logs/action.yaml
  .github/actions/process_test_results/action.yaml
  .github/scripts/generate_crash_report.py
  .github/workflows/main.yaml
Due: yapf, pylint, python3-compatibility-check

Not renaming test results + device_family options modification
  .github/workflows/main.yaml
  cobalt/tools/on_device_tests_gateway_client.py
Due: none

Avoid using hardcoded expectations and instead use the getters with the APK's overrides.
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/CommandLineOverrideHelperTest.java
Due: none

Add .style.yapf for .github folder
  .github/.style.yapf
Due: none

Fix pylint error due to device_type
  cobalt/tools/on_device_tests_gateway_client.py
Due: none

Remove template("content_shell_apk_tmpl") in BUILD.gn (#6335)
  cobalt/android/BUILD.gn
Due: none

Add source-branch param for commits logic
  main.py
Due: none

BACKPORT: Android U: Add SDK 34 packages to CIPD (#6321)
  infra/config/generated/luci/cr-buildbucket.cfg
  infra/config/subprojects/chromium/ci/chromium.infra.star
  third_party/android_sdk/cipd/build-tools/34.0.0.yaml
  third_party/android_sdk/cipd/platforms/android-34.yaml
  third_party/android_sdk/cipd/system_images/android-34/google_apis/x86_64.yaml
  third_party/android_sdk/cipd/system_images/android-34/google_apis_playstore/x86_64.yaml
Due: none

add IS_COBALT macro
  base/android/jni_android.cc
Due: none

Add tests for poll, ppoll, select
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_poll_test.cc
  starboard/nplb/posix_compliance/posix_ppoll_test.cc
  starboard/nplb/posix_compliance/posix_select_test.cc
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/api_leak_detector/evergreen/manifest
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check, gn-format

Wrapper for poll
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_ppoll_test.cc
  starboard/shared/modular/BUILD.gn
  starboard/shared/modular/cobalt_layer_posix_poll_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_poll_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_poll_abi_wrappers.h
  starboard/tools/api_leak_detector/api_leak_detector.py
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check, gn-format

Address comments
  starboard/shared/modular/cobalt_layer_posix_poll_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_poll_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_poll_abi_wrappers.h
Due: clang-format, cpplint

reduce the gap
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java
  starboard/android/shared/media_drm_bridge.cc
Due: clang-format, cpplint

Add missing histogram.xml to action
  components/metrics/generate_expired_histograms_array.gni
Due: none

Add crash and failure detection to test actions (#5789)
  .github/.style.yapf
  .github/actions/on_device_tests/action.yaml
  .github/actions/on_host_tests/action.yaml
  .github/actions/print_logs/action.yaml
  .github/actions/process_test_results/action.yaml
  .github/scripts/generate_crash_report.py
  .github/workflows/main.yaml
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #6335: Remove template("content_shell_apk_tmpl") in BUILD.gn (#6354)
  cobalt/android/BUILD.gn
Due: none

Apply code review suggestions
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/experiments/experiment_config_manager.h
  cobalt/browser/global_features.cc
  cobalt/browser/h5vcc_experiments/h5vcc_experiments_impl.cc
Due: none

Informative JNI crash message (#6337)
  base/android/jni_android.cc
  base/android/jni_android.h
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  yapf: any of: \.py$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  pylint: any of: \.py$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  python3-compatibility-check: any of: \.py$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  google-java-format: any of: \.java$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  gcheckstyle: any of: \.java$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  gn-format: any of: .*\.gni?$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

