Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [pre-commit]

default_language_version:
    python: python3

files: |
    (?x)^(
        .github/|
        cobalt/|
        media/starboard/|
        starboard/|
        .pre-commit-config.yaml|
        .pylintrc|
        docker-compose.yaml
    )

repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-case-conflict
    -   id: check-xml
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace

-   repo: https://cobalt.googlesource.com/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        name: Spell Check
        args: [-x, cobalt/precommit/.codespellignorelines,
               # The --ignore-words-list argument has a bug where it needs to
               # be lowercase, see
               # https://github.com/codespell-project/codespell/issues/1390
               --ignore-words-list, "atleast,varius,assertIn,requestor",
               ]
        exclude: |
            (?x)^(
                starboard/content/ssl/certs/|
                starboard/shared/starboard/player/testdata/|
                starboard/android/apk/app/src/app/assets/web/link_android_splash_screen.html
            )

-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: clang-format
        language: python
        types: [c++]
        args: [-i, -style=file]
        additional_dependencies: ['clang-format==17.0.1']
    -   id: yapf
        name: yapf
        entry: yapf
        language: python
        types: [python]
        args: [-i, -vv]
        additional_dependencies: ['yapf==0.40.2']
    -   id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [python]
        args: [-d W0201]
        additional_dependencies: ['pylint==3.3.1']
    -   id: python3-compatibility-check
        name: Python 3 Compatibility Check
        entry: python3 ./cobalt/precommit/python3_check.py
        language: python
        types: [python]
    -   id: google-java-format
        name: google-java-format
        entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
        language: python
        exclude: |
            (?x)^(
                starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java
            )
        types: [java]
    -   id: gn-format
        name: gn-format
        entry: gn format
        language: system
        files: '.*\.gni?$'

Add @youtube/cobalt-web-api code owners coverage (#5327)
  .github/CODEOWNERS
Due: none

Resolve crashpad-related linker errors with stubs (#5379)
  third_party/crashpad/crashpad/client/BUILD.gn
  third_party/crashpad/crashpad/client/cobalt/crash_report_database_hermetic_stub.cc
  third_party/crashpad/crashpad/client/cobalt/crashpad_client_hermetic_stub.cc
  third_party/crashpad/crashpad/client/cobalt/simulate_crash_hermetic_stub.h
  third_party/crashpad/crashpad/client/crashpad_info.cc
  third_party/crashpad/crashpad/client/simulate_crash.h
Due: none

Fix compiler error building cobalt (#5365)
  content/browser/BUILD.gn
Due: none

[media] Retrieve RRO values on the same thread without mutex lock (#5371)
  starboard/android/shared/application_android.cc
  starboard/android/shared/application_android.h
  starboard/android/shared/audio_sink_get_min_buffer_size_in_frames.cc
  starboard/android/shared/graphics.cc
  starboard/android/shared/media_get_video_buffer_budget.cc
Due: clang-format

Install missing libs and unfilter net_unittests (#5370)
  cobalt/docker/unittest/Dockerfile
  cobalt/testing/filters/linux-x64x11/net_unittests_filter.json
Due: none

[blink_unittests] Fix unimplemented CreateStarboardRenderer (#5384)
  third_party/blink/renderer/modules/webcodecs/audio_decoder_broker_test.cc
  third_party/blink/renderer/modules/webcodecs/video_decoder_broker_test.cc
Due: none

[media] Acquire GpuChannelToken for StarboardRenderer (#5320)
  content/renderer/media/media_factory.cc
  media/BUILD.gn
  media/mojo/clients/starboard/starboard_renderer_client.cc
  media/mojo/clients/starboard/starboard_renderer_client.h
  media/mojo/clients/starboard/starboard_renderer_client_factory.cc
  media/mojo/clients/starboard/starboard_renderer_client_factory.h
  media/mojo/mojom/renderer_extensions.mojom
  media/mojo/services/starboard/starboard_renderer_wrapper.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.h
Due: none

Bump lint workflow timeout (#5390)
  .github/workflows/lint.yaml
Due: none

starboard: Create starboard_unittest_wrapper (#5031)
  cobalt/build/archive_test_artifacts.py
  cobalt/build/testing/targets/linux-x64x11/test_targets.json
  starboard/BUILD.gn
  starboard/elf_loader/lz4_file_impl_test.cc
Due: clang-format, yapf, pylint, python3-compatibility-check, gn-format

Fix white screen on CoAT launch (#5383)
  cobalt/android/apk/app/src/app/AndroidManifest.xml.jinja2
Due: none

CobaltA11yHelper requests focus on WebContents (#5388)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltA11yHelper.java
Due: google-java-format, gcheckstyle

Add support for stereo wav file to Audio Decoder (#5345)
  cobalt/media/audio/audio_decoder.cc
Due: clang-format

Replace pattern used to find last valid commit for build timestamp (#5404)
  DEPS
Due: none

ODT gateway change (#5401)
  cobalt/tools/on_device_tests_gateway.proto
  cobalt/tools/on_device_tests_gateway_client.py
Due: yapf, pylint, python3-compatibility-check

[media] Simplify initializing StarboardRenderer (#5400)
  media/mojo/clients/starboard/starboard_renderer_client.cc
Due: none

[Cobalt] Add license file generation to builds (#5381)
  .github/actions/build/action.yaml
  cobalt/build/android/package.json
Due: none

[media] Refine DecoderBufferAllocatorTest (#5394)
  media/starboard/decoder_buffer_allocator_test.cc
  media/test/data/starboard/allocations_8k.txt
  media/test/data/starboard/allocations_PMwaIrjiz8w.txt
  starboard/tools/media/allocation_extractor.py
Due: clang-format, yapf, pylint, python3-compatibility-check

starboard: roll up the remaining unittest targets (#5127)
  starboard/BUILD.gn
  starboard/android/shared/BUILD.gn
  starboard/contrib/cast/cast_starboard_api/samples/BUILD.gn
  starboard/linux/shared/BUILD.gn
  starboard/linux/shared/player_components_factory.cc
  starboard/loader_app/BUILD.gn
  starboard/loader_app/installation_manager_test.cc
  starboard/loader_app/pending_restart_test.cc
  starboard/raspi/shared/BUILD.gn
  starboard/shared/starboard/media/media_util.cc
  starboard/shared/starboard/media/media_util.h
  starboard/shared/starboard/media/media_util_test.cc
  starboard/shared/starboard/player/file_cache_reader.cc
  starboard/shared/starboard/player/filter/testing/BUILD.gn
  starboard/shared/starboard/player/filter/testing/adaptive_audio_decoder_test.cc
  starboard/shared/starboard/player/filter/testing/audio_decoder_test.cc
  starboard/shared/starboard/player/filter/testing/player_components_test.cc
Due: clang-format, gn-format

Fix occaional crash after StarboardRenderer is destroyed (#5392)
  media/starboard/starboard_renderer.cc
  media/starboard/starboard_renderer.h
Due: clang-format

Focus output of print logs steps on test logs (#5407)
  .github/actions/print_logs/action.yaml
  .github/actions/process_test_results/action.yaml
Due: none

Rename libcobalt_content_shell_content_view (#5382)
  cobalt/android/BUILD.gn
  cobalt/build/android/package.json
Due: gn-format

Remove EGL/GLES from linux package (#5419)
  cobalt/build/linux/package.json
Due: none

Remove implementation for GetDisplaySettings() (#5314)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/accessibility_get_display_settings.cc
Due: clang-format, google-java-format, gcheckstyle

Update DecoderBuffer memory budget on format change (#5421)
  media/filters/source_buffer_stream.cc
Due: none

Add logs to track deeplink urls (#5417)
  starboard/android/shared/starboard_bridge.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/h_5_vcc_runtime.cc
Due: clang-format

[media] Optimize DecoderBufferAllocator (#5412)
  media/starboard/decoder_buffer_allocator.cc
  starboard/common/allocator.h
  starboard/common/reuse_allocator_base.cc
  starboard/common/reuse_allocator_base.h
Due: clang-format

Fix lastchange calculation for Cobalt (#5395)
  DEPS
Due: none

Change cobalt to shlib for hermetic builds (#5380)
  cobalt/BUILD.gn
Due: gn-format

Remove invalid rendered frames when calculating dropped frames (#5313)
  starboard/android/shared/video_frame_tracker.cc
Due: clang-format

Add license gen to Kokoro build as well (#5436)
  cobalt/devinfra/kokoro/bin/dind_build.sh
Due: none

Follow-up Kokoro license build fix (#5438)
  cobalt/devinfra/kokoro/bin/build.sh
  cobalt/devinfra/kokoro/bin/dind_build.sh
Due: none

[android] Support multiple punchout players via video holes (#5422)
  components/viz/common/BUILD.gn
  components/viz/common/features.cc
  components/viz/service/display/starboard/overlay_strategy_underlay_starboard.cc
  components/viz/service/display/starboard/overlay_strategy_underlay_starboard.h
Due: none

Re-enable SbAudioSinkTest (#5431)
  cobalt/testing/filters/linux-x64x11-evergreen/nplb_filter.json
Due: none

Migrate MediaCodec (#5405)
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridgeBuilder.java
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
Due: clang-format, google-java-format, gcheckstyle, gn-format

Re-enable PosixFileRead for linux-evergreen-nplb tests (#5435)
  cobalt/testing/filters/linux-x64x11-evergreen/nplb_filter.json
Due: none

Remove crashpad dependency from Cobalt.apk (#5430)
  cobalt/android/BUILD.gn
Due: gn-format

Fix generated license path (#5445)
  .github/actions/build/action.yaml
  cobalt/devinfra/kokoro/bin/build.sh
  cobalt/devinfra/kokoro/bin/dind_build.sh
Due: none

Remove unused Kokoro scripts (#5450)
  cobalt/devinfra/kokoro/bin/build.sh
  cobalt/devinfra/kokoro/bin/common.sh
Due: none

Add the web-tests test job (#5267)
  .github/actions/build/action.yaml
  .github/actions/depot_tools/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
  .github/actions/web_tests/action.yaml
  .github/workflows/main.yaml
  BUILD.gn
  cobalt/build/archive_test_artifacts.py
  cobalt/docker/linux/Dockerfile
  cobalt/docker/webtest/Dockerfile
  docker-compose.yaml
  third_party/blink/tools/blinkpy/web_tests/port/factory.py
Due: yapf, pylint, python3-compatibility-check

Add debugging log for navigation redirects (#5429)
  cobalt/browser/cobalt_web_contents_observer.cc
Due: clang-format
