Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

chromium-pre-commit:
  name: Chromium presubmit bridge
  entry: ./third_party/depot_tools/vpython3 --vpython-spec=./third_party/depot_tools/.vpython3 ./cobalt/precommit/run_chromium_presubmits.py
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==21.1.0

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=5
  - --quiet
  additional_dependencies:
  - cpplint==2.0.2

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

check-java-strings-have-locale:
  name: Check Java String.format includes Locale
  entry: python3 ./cobalt/precommit/check_java_strings_have_locale.py
  language: python

android: Add test environment for platform tests (#10162)
  cobalt/testing/filters/android-arm/starboard_platform_tests_filter.json
  cobalt/testing/filters/android-arm64/starboard_platform_tests_filter.json
  starboard/BUILD.gn
  starboard/android/shared/BUILD.gn
  starboard/android/shared/starboard_test_environment.cc
  starboard/android/shared/starboard_test_environment.h
  starboard/common/test_main.cc
Due: clang-format, cpplint, gn-format

media: Allow to post GPU tasks from StarboardRenderer (#10182)
  base/BUILD.gn
  base/threading/thread_restrictions.h
  media/gpu/BUILD.gn
  media/gpu/starboard/starboard_gpu_factory.h
  media/gpu/starboard/starboard_gpu_factory_impl.cc
  media/gpu/starboard/starboard_gpu_factory_impl.h
  media/mojo/services/BUILD.gn
  media/mojo/services/starboard/starboard_renderer_wrapper.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.h
  media/mojo/services/starboard/starboard_renderer_wrapper_unittest.cc
  media/starboard/sbplayer_bridge.cc
  media/starboard/sbplayer_bridge.h
  media/starboard/starboard_renderer.cc
  media/starboard/starboard_renderer.h
  media/starboard/starboard_renderer_unittest.cc
Due: clang-format, cpplint

Cherry pick PR #10162: android: Add test environment for platform tests
  cobalt/testing/filters/android-arm/starboard_platform_tests_filter.json
  cobalt/testing/filters/android-arm64/starboard_platform_tests_filter.json
  starboard/BUILD.gn
  starboard/android/shared/BUILD.gn
  starboard/android/shared/starboard_test_environment.cc
  starboard/android/shared/starboard_test_environment.h
  starboard/common/test_main.cc
Due: clang-format, cpplint, gn-format

Cherry pick PR #10182: media: Allow to post GPU tasks from StarboardRenderer
  base/BUILD.gn
  base/threading/thread_restrictions.h
  media/gpu/BUILD.gn
  media/gpu/starboard/starboard_gpu_factory.h
  media/gpu/starboard/starboard_gpu_factory_impl.cc
  media/gpu/starboard/starboard_gpu_factory_impl.h
  media/mojo/services/BUILD.gn
  media/mojo/services/starboard/starboard_renderer_wrapper.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.h
  media/mojo/services/starboard/starboard_renderer_wrapper_unittest.cc
  media/starboard/sbplayer_bridge.cc
  media/starboard/sbplayer_bridge.h
  media/starboard/starboard_renderer.cc
  media/starboard/starboard_renderer.h
  media/starboard/starboard_renderer_unittest.cc
Due: clang-format, cpplint

Add H5VccCircularBuffer feature and description
  cobalt/BUILD.gn
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_interface_binders.cc
  cobalt/browser/h5vcc_circular_buffer/BUILD.gn
  cobalt/browser/h5vcc_circular_buffer/demo.html
  cobalt/browser/h5vcc_circular_buffer/demo_e2e.html
  cobalt/browser/h5vcc_circular_buffer/h5vcc_circular_buffer_impl.cc
  cobalt/browser/h5vcc_circular_buffer/h5vcc_circular_buffer_impl.h
  cobalt/browser/h5vcc_circular_buffer/public/mojom/BUILD.gn
  cobalt/browser/h5vcc_circular_buffer/public/mojom/h5vcc_circular_buffer.mojom
  cobalt/storage/BUILD.gn
  cobalt/storage/circular_buffer.cc
  cobalt/storage/circular_buffer.h
  cobalt/storage/circular_buffer_test.cc
  cobalt/tools/test_circular_buffer.sh
  cobalt/updater/unzipper.cc
  components/update_client/cobalt_slot_management.cc
  third_party/blink/renderer/bindings/generated_in_modules.gni
  third_party/blink/renderer/bindings/idl_in_modules.gni
  third_party/blink/renderer/modules/cobalt/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_circular_buffer/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_circular_buffer/h_5_vcc_circular_buffer.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_circular_buffer/h_5_vcc_circular_buffer.h
  third_party/blink/renderer/modules/cobalt/h5vcc_circular_buffer/h_5_vcc_circular_buffer.idl
Due: clang-format, cpplint, gn-format

[DNS] changeType
  media/starboard/sbplayer_bridge.cc
  media/starboard/sbplayer_bridge.h
  media/starboard/starboard_renderer.cc
  media/starboard/starboard_renderer.h
Due: clang-format, cpplint

Working Android
  media/starboard/starboard_renderer.cc
Due: clang-format, cpplint

Audio and Container support
  media/starboard/sbplayer_bridge.h
  media/starboard/starboard_renderer.cc
  media/starboard/starboard_renderer.h
Due: clang-format, cpplint

Cherry pick PR #10142: Use feature flag for cobalt metrics collection
  cobalt/browser/BUILD.gn
  cobalt/browser/features.cc
  cobalt/browser/features.h
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
  cobalt/browser/metrics/cobalt_metrics_service_client.cc
  cobalt/browser/metrics/cobalt_metrics_service_client_test.cc
  cobalt/browser/metrics/font_metrics_browsertest.cc
Due: clang-format, cpplint, gn-format

Cherry pick PR #10169: Remove USE_M114_FUNCTIONS
  components/update_client/BUILD.gn
  components/update_client/component.cc
  components/update_client/component.h
Due: none

Cherry pick PR #10195: autoroll: Ignore changes to nightly trigger
  .github/scripts/autoroll_lts.py
  .github/workflows/autoroll_lts.yaml
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #9775: cobalt/metrics: Update tests for CobaltMetricsServiceClient and CobaltCpuMetricsEmitter class
  cobalt/browser/metrics/cobalt_cpu_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_cpu_metrics_emitter.h
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
  cobalt/browser/metrics/cobalt_metrics_service_client.cc
  cobalt/browser/metrics/cobalt_metrics_service_client.h
  cobalt/browser/metrics/cobalt_metrics_service_client_test.cc
  cobalt/browser/metrics/font_metrics_browsertest.cc
Due: clang-format, cpplint

Cherry pick PR #10148: aosp: fix JNI headers include path for copied_base
  copied_base/base/BUILD.gn
Due: none

aosp: Add missing jni_android.h includes (#10177)
  copied_base/base/android/callback_android.cc
  copied_base/base/android/early_trace_event_binding.cc
  copied_base/base/android/event_log.cc
  copied_base/base/android/int_string_callback.cc
  copied_base/base/android/java_heap_dump_generator.cc
  copied_base/base/android/java_runtime.cc
  copied_base/base/android/task_scheduler/post_task_android.cc
  copied_base/base/android/task_scheduler/task_runner_android.cc
  copied_base/base/android/trace_event_binding.cc
  copied_base/base/power_monitor/power_monitor_device_source_android.cc
  copied_base/base/profiler/stack_sampling_profiler_java_test_util.cc
  copied_base/base/test/android/java_handler_thread_helpers.cc
  copied_base/base/test/android/url_utils.cc
Due: none

Cherry pick PR #10177: aosp: Add missing jni_android.h includes
  copied_base/base/android/callback_android.cc
  copied_base/base/android/early_trace_event_binding.cc
  copied_base/base/android/event_log.cc
  copied_base/base/android/int_string_callback.cc
  copied_base/base/android/java_heap_dump_generator.cc
  copied_base/base/android/java_runtime.cc
  copied_base/base/android/task_scheduler/post_task_android.cc
  copied_base/base/android/task_scheduler/task_runner_android.cc
  copied_base/base/android/trace_event_binding.cc
  copied_base/base/power_monitor/power_monitor_device_source_android.cc
  copied_base/base/profiler/stack_sampling_profiler_java_test_util.cc
  copied_base/base/test/android/java_handler_thread_helpers.cc
  copied_base/base/test/android/url_utils.cc
Due: none

Cherry pick PR #9733: cobalt: Accurate memory metrics and performance analysis tools (#10166)
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
  cobalt/browser/metrics/cobalt_metrics_service_client_test.cc
  cobalt/testing/browser_tests/tools/test_collect_test_artifacts.py
  cobalt/tools/performance/memory/README.md
  cobalt/tools/performance/memory/analyze_cumulative_memory.py
  cobalt/tools/performance/memory/compare_histograms.py
  cobalt/tools/performance/smaps/smaps_capture.py
  cobalt/tools/performance/smaps/smaps_capture_test.py
  services/resource_coordinator/memory_instrumentation/queued_request_dispatcher.cc
  services/resource_coordinator/public/cpp/memory_instrumentation/os_metrics_linux.cc
  services/resource_coordinator/public/mojom/BUILD.gn
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check

Cherry pick PR #9990: Build RDK plugin related binaries (#10197)
  .github/config/evergreen-arm-hardfp-rdk.json
  cobalt/build/evergreen-arm-hardfp-rdk/package.json
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/BUILD.gn
  starboard/loader_app/BUILD.gn
Due: gn-format

Cherry pick PR #10166: Cherry pick PR #9733: cobalt: Accurate memory metrics and performance analysis tools
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
  cobalt/browser/metrics/cobalt_metrics_service_client_test.cc
  cobalt/testing/browser_tests/tools/test_collect_test_artifacts.py
  cobalt/tools/performance/memory/README.md
  cobalt/tools/performance/memory/analyze_cumulative_memory.py
  cobalt/tools/performance/memory/compare_histograms.py
  cobalt/tools/performance/smaps/smaps_capture.py
  cobalt/tools/performance/smaps/smaps_capture_test.py
  services/resource_coordinator/memory_instrumentation/queued_request_dispatcher.cc
  services/resource_coordinator/public/cpp/memory_instrumentation/os_metrics_linux.cc
  services/resource_coordinator/public/mojom/BUILD.gn
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check

Re remove kCobaltDecoderBufferAllocatorWithInPlaceMetadata
  media/base/media_switches.cc
  media/base/media_switches.h
Due: none

Fix dirty-CP
  media/mojo/services/gpu_mojo_media_client.cc
  media/mojo/services/gpu_mojo_media_client.h
  media/mojo/services/starboard/starboard_renderer_wrapper_unittest.cc
Due: clang-format, cpplint

add GUARDED_BY annotations and ensure lock_ is used where appropriate
  media/audio/android/starboard_audio_input_stream.cc
  media/audio/android/starboard_audio_input_stream.h
  media/media_options.gni
Due: none

add GUARDED_BY annotations and ensure lock_ is used where appropriate
  media/audio/android/starboard_audio_input_stream.cc
  media/audio/android/starboard_audio_input_stream.h
Due: none

Return use_starboard_media option
  media/media_options.gni
Due: none

remove optimization_guide from cobalt/browser
  content/browser/BUILD.gn
  content/browser/ai/echo_ai_language_model.cc
  content/browser/ai/echo_ai_manager_impl.cc
  content/browser/browser_interface_binders.cc
Due: none

apply remove skill
  cobalt/tools/apply-remove/SKILL.md
  cobalt/tools/apply-remove/scripts/gemini_remove.py
Due: yapf, pylint, python3-compatibility-check

cobalt/LASTCHANGE.chromium: correct the commit hash format
  cobalt/LASTCHANGE.chromium
Due: none

media: Remove Progressive playback implementation (#10188)
  media/base/decoder_buffer.h
  media/base/media_switches.cc
  media/base/media_switches.h
  media/filters/demuxer_manager.cc
  media/filters/demuxer_manager.h
  media/starboard/BUILD.gn
  media/starboard/progressive/avc_access_unit.cc
  media/starboard/progressive/avc_access_unit.h
  media/starboard/progressive/avc_parser.cc
  media/starboard/progressive/avc_parser.h
  media/starboard/progressive/data_source_reader.cc
  media/starboard/progressive/data_source_reader.h
  media/starboard/progressive/demuxer_fuzzer.cc
  media/starboard/progressive/endian_util.h
  media/starboard/progressive/mock_data_source_reader.h
  media/starboard/progressive/mp4_map.cc
  media/starboard/progressive/mp4_map.h
  media/starboard/progressive/mp4_map_unittest.cc
  media/starboard/progressive/mp4_parser.cc
  media/starboard/progressive/mp4_parser.h
  media/starboard/progressive/progressive_demuxer.cc
  media/starboard/progressive/progressive_demuxer.h
  media/starboard/progressive/progressive_parser.cc
  media/starboard/progressive/progressive_parser.h
  media/starboard/progressive/rbsp_stream.cc
  media/starboard/progressive/rbsp_stream.h
  media/starboard/progressive/rbsp_stream_unittest.cc
  third_party/blink/renderer/core/html/media/html_media_element.cc
  third_party/blink/renderer/core/html/media/html_media_element_test.cc
Due: clang-format, cpplint, gn-format

media: Fix crash at null AndroidOverlayMojoFactoryCB
  media/mojo/services/gpu_mojo_media_client.cc
  media/mojo/services/gpu_mojo_media_client.h
  media/mojo/services/starboard/starboard_renderer_wrapper_unittest.cc
Due: clang-format, cpplint

found some unguarded changes
  third_party/blink/renderer/modules/mediastream/user_media_processor.cc
  third_party/blink/renderer/modules/mediastream/webaudio_media_stream_audio_sink.cc
  third_party/blink/renderer/modules/webaudio/audio_context.cc
  third_party/blink/renderer/modules/webaudio/media_stream_audio_source_handler.cc
  third_party/blink/renderer/modules/webaudio/media_stream_audio_source_node.cc
Due: none

Cherry pick PR #10188: media: Remove Progressive playback implementation
  media/base/decoder_buffer.h
  media/base/media_switches.cc
  media/base/media_switches.h
  media/filters/demuxer_manager.cc
  media/filters/demuxer_manager.h
  media/starboard/BUILD.gn
  media/starboard/progressive/avc_access_unit.cc
  media/starboard/progressive/avc_access_unit.h
  media/starboard/progressive/avc_parser.cc
  media/starboard/progressive/avc_parser.h
  media/starboard/progressive/data_source_reader.cc
  media/starboard/progressive/data_source_reader.h
  media/starboard/progressive/demuxer_fuzzer.cc
  media/starboard/progressive/endian_util.h
  media/starboard/progressive/mock_data_source_reader.h
  media/starboard/progressive/mp4_map.cc
  media/starboard/progressive/mp4_map.h
  media/starboard/progressive/mp4_map_unittest.cc
  media/starboard/progressive/mp4_parser.cc
  media/starboard/progressive/mp4_parser.h
  media/starboard/progressive/progressive_demuxer.cc
  media/starboard/progressive/progressive_demuxer.h
  media/starboard/progressive/progressive_parser.cc
  media/starboard/progressive/progressive_parser.h
  media/starboard/progressive/rbsp_stream.cc
  media/starboard/progressive/rbsp_stream.h
  media/starboard/progressive/rbsp_stream_unittest.cc
  third_party/blink/renderer/core/html/media/html_media_element.cc
  third_party/blink/renderer/core/html/media/html_media_element_test.cc
Due: clang-format, cpplint, gn-format

build: Reuse //base:build_date_internal for //copied_base/base:build_date (#10021)
  copied_base/base/BUILD.gn
Due: none

rdk: Update kokoro targets (#10194)
  cobalt/devinfra/kokoro/build/evergreen/arm-hardfp-rdk/common.gcl
Due: none

ci: Optimize git checkout where source tree not required (#9593)
  .github/workflows/diff_chromium_branches.yaml
  .github/workflows/label-cherry-pick.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly_trigger.yaml
  .github/workflows/nightly_trigger_24.lts.1+.yaml
  .github/workflows/nightly_trigger_25.lts.1+.yaml
  .github/workflows/nightly_trigger_26.android.yaml
  .github/workflows/nightly_trigger_27.lts.yaml
  .github/workflows/nightly_trigger_main.yaml
Due: none

starboard/tests: add shared wrapper mains
  starboard/testing/sbeventhandle_from_main_no_args.cc
  starboard/testing/sbeventhandle_from_main_with_args.cc
Due: clang-format, cpplint

starboard/tests: wire absl_hardening_tests
  third_party/abseil-cpp/absl/base/BUILD.gn
Due: none

starboard/tests: wire storage_unittests
  storage/BUILD.gn
Due: none

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
