Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=4
  - --quiet
  additional_dependencies:
  - cpplint

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./chrobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./chrobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./chrobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

Change file name
  starboard/nplb/BUILD.gn
Due: gn-format

Add comment
  starboard/nplb/posix_compliance/malloc_usable_size_test.cc
Due: clang-format, cpplint

Add to exported symbols and api leak detector
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/posix_compliance/malloc_usable_size_test.cc
  starboard/tools/api_leak_detector/api_leak_detector.py
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check

Add missing import
  starboard/elf_loader/exported_symbols.cc
Due: clang-format, cpplint

Fix merge conflicts
  starboard/nplb/posix_compliance/malloc_usable_size_test.cc
Due: clang-format, cpplint

Fix pointer
  starboard/shared/modular/starboard_layer_posix_directory_abi_wrappers.cc
Due: clang-format, cpplint

Use cpp convention
  starboard/nplb/posix_compliance/posix_directory_get_next_readdir_test.cc
Due: clang-format, cpplint

Add REAMDE.md
  third_party/ffmpeg_includes/README.md
Due: none

csv script
  cobalt/tools/mem_stats.py
Due: none

Add custom web API to render a site to an image.
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/h5vcc_runtime/BUILD.gn
  cobalt/browser/h5vcc_runtime/h5vcc_runtime_impl.cc
  cobalt/browser/h5vcc_runtime/h5vcc_runtime_impl.h
  cobalt/browser/h5vcc_runtime/public/mojom/h5vcc_runtime.mojom
  cobalt/testing/h5vcc_runtime/stub_h5vcc_runtime_impl.cc
  cobalt/testing/h5vcc_runtime/stub_h5vcc_runtime_impl.h
  content/browser/renderer_host/render_widget_host_view_aura.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/h_5_vcc_runtime.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/h_5_vcc_runtime.h
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/h_5_vcc_runtime.idl
Due: none

Fix merge conflict
  cobalt/BUILD.gn
Due: none

minor format fix
  third_party/ffmpeg_includes/README.md
Due: none

Cherry pick PR #5246: Add unit tests for cobalt_trusted_header_client (#5694)
  cobalt/BUILD.gn
  cobalt/browser/client_hint_headers/cobalt_header_value_provider_test.cc
  cobalt/browser/client_hint_headers/cobalt_trusted_header_client_test.cc
  cobalt/browser/client_hint_headers/cobalt_trusted_url_loader_header_client_test.cc
Due: none

address pr feedback
  ui/ozone/platform/starboard/platform_screen_starboard.cc
  ui/ozone/platform/starboard/platform_screen_starboard.h
Due: none

Add tests for malloc_usable_size (#5618)
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/malloc_usable_size_test.cc
  starboard/tools/api_leak_detector/api_leak_detector.py
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check, gn-format

address pr feedback
  ui/ozone/platform/starboard/ozone_platform_starboard.cc
  ui/ozone/platform/starboard/platform_screen_starboard.cc
  ui/ozone/platform/starboard/platform_screen_starboard.h
Due: none

Make nplb_evergreen_compat_tests discoverable with sb_is_evergreen
  starboard/BUILD.gn
Due: gn-format

[media] Recapture DecoderBufferAllocator test files
  media/test/data/starboard/allocations_1La4QzGeaaQ.txt
  media/test/data/starboard/allocations_PMwaIrjiz8w.txt
Due: none

Delete unused header files in lib57
  third_party/ffmpeg_includes/ffmpeg.57.107.100/libavcodec/vda.h
Due: none

[android] Refine video preroll condition for tunnel mode
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/shared/audio_decoder.h
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
Due: clang-format, cpplint, google-java-format, gcheckstyle

[media] Recapture DecoderBufferAllocator test files (#5701)
  media/test/data/starboard/allocations_1La4QzGeaaQ.txt
  media/test/data/starboard/allocations_PMwaIrjiz8w.txt
Due: none

Cherry pick PR #5701: [media] Recapture DecoderBufferAllocator test files (#5703)
  media/test/data/starboard/allocations_1La4QzGeaaQ.txt
  media/test/data/starboard/allocations_PMwaIrjiz8w.txt
Due: none

fix readme.md
  third_party/ffmpeg_includes/README.md
Due: none

Add ffmpeg config
  starboard/shared/ffmpeg/BUILD.gn
  starboard/shared/ffmpeg/ffmpeg_audio_decoder_impl.cc
  starboard/shared/ffmpeg/ffmpeg_dynamic_load_audio_decoder_impl.cc
  starboard/shared/ffmpeg/ffmpeg_dynamic_load_video_decoder_impl.cc
  starboard/shared/ffmpeg/ffmpeg_video_decoder_impl.cc
  starboard/shared/ffmpeg/ffmpeg_video_decoder_impl.h
Due: clang-format, cpplint, gn-format

revert minor thing
  starboard/shared/ffmpeg/ffmpeg_video_decoder_impl.h
Due: clang-format, cpplint

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  yapf: any of: \.py$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  pylint: any of: \.py$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  python3-compatibility-check: any of: \.py$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  google-java-format: any of: \.java$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  gcheckstyle: any of: \.java$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

  gn-format: any of: .*\.gni?$ and (?x)^(
    .github/|
    chrobalt/|
    starboard/|
    .pre-commit-config.yaml|
    docker-compose.yaml
)

