Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==17.0.1

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

BACKPORT: Android: Fix crash when DisplayInfo.getMode() is called with modeId=-1 (#7018)
  ui/android/java/src/org/chromium/ui/display/PhysicalDisplayAndroid.java
Due: none

Add OnMemoryPressure logging
  third_party/blink/renderer/platform/instrumentation/memory_pressure_listener.cc
Due: none

refactor: Improve the readablilty of CommandLine log (#7019)
  cobalt/browser/cobalt_content_browser_client.cc
Due: clang-format

Bring 25.lts.1+ base customizations to trunk (#4800)
  base/BUILD.gn
  base/functional/unretained_traits.h
  base/i18n/break_iterator_unittest.cc
  base/immediate_crash.h
  base/logging.cc
  base/task/thread_pool/thread_pool_instance.cc
  base/test/BUILD.gn
  base/third_party/nspr/prtime.cc
  base/threading/post_task_and_reply_impl.cc
  base/time/pr_time_unittest.cc
  base/time/time.h
  base/time/time_now_starboard.cc
  base/time/time_starboard.cc
  base/time/time_unittest.cc
  base/trace_event/malloc_dump_provider.cc
  build/toolchain/linux/BUILD.gn
  cobalt/testing/filters/linux-x64x11/base_unittests_filter.json
  starboard/BUILD.gn
Due: gn-format

Re-enable OSSF scorecard upload (#4803)
  .github/workflows/scorecards.yaml
Due: none

[android] Fix sdk_utils.py path (#4702)
  cobalt/android/apk/app/build.gradle
Due: none

cobalt/browser: trivially extend ShellBrowserMainParts logic (#4808)
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
Due: clang-format

Add build_info.json to archives
  cobalt/build/android/package.py
  cobalt/build/linux/package.py
Due: yapf, pylint, python3-compatibility-check

Fix test result job failing if tests were not run (#4814)
  .github/workflows/main.yaml
Due: none

Point startup url to tv/splash (#4793)
  cobalt/android/apk/app/src/app/AndroidManifest.xml.jinja2
Due: none

Use the Starboard message pump. (#4772)
  base/BUILD.gn
  base/message_loop/message_pump_for_ui.h
  base/message_loop/message_pump_ui_starboard.cc
  base/message_loop/message_pump_ui_starboard.h
  base/run_loop.h
  base/task/current_thread.cc
  base/task/current_thread.h
  base/task/sequence_manager/sequence_manager_impl.cc
  base/task/sequence_manager/thread_controller.h
  base/task/sequence_manager/thread_controller_impl.cc
  base/task/sequence_manager/thread_controller_impl.h
  base/task/sequence_manager/thread_controller_with_message_pump_impl.cc
  base/task/sequence_manager/thread_controller_with_message_pump_impl.h
  base/test/BUILD.gn
  base/test/test_suite.cc
  base/test/test_support_starboard.cc
  base/test/test_support_starboard.h
  base/threading/thread_restrictions.h
  build/config/ozone.gni
  cobalt/BUILD.gn
  cobalt/build/configs/linux-x64x11/args.gn
  cobalt/cobalt.cc
  cobalt/cobalt_main_delegate.cc
  cobalt/cobalt_main_delegate.h
  cobalt/platform_event_source_starboard.cc
  cobalt/platform_event_source_starboard.h
  content/app/content_main.cc
  content/app/content_main_runner_impl.cc
  content/shell/app/shell_main_delegate.cc
  content/shell/browser/shell.cc
  content/zygote/zygote_main_linux.cc
  device/BUILD.gn
  ui/ozone/platform/starboard/BUILD.gn
  ui/ozone/platform/starboard/ozone_platform_starboard.cc
Due: clang-format, gn-format

Cherry pick PR #7018: BACKPORT: Android: Fix crash when DisplayInfo.getMode() is called with modeId=-1 (#7030)
  ui/android/java/src/org/chromium/ui/display/PhysicalDisplayAndroid.java
Due: none

Remove symbols for #6642 and #6443 from leaks.
  cobalt/common/libc/syslog/syslog.cc
  starboard/tools/api_leak_detector/evergreen/manifest
  third_party/musl/BUILD.gn
Due: clang-format

Fix race condition in TimeZoneState initialization
  cobalt/common/libc/time/icu_time_support.cc
  cobalt/common/libc/time/time_zone_state.cc
  cobalt/common/libc/time/time_zone_state.h
  cobalt/common/libc/time/time_zone_state_test.cc
Due: clang-format

Refactor TimeZoneState to use std::shared_ptr and atomic operations
  cobalt/common/libc/time/icu_time_support.cc
  cobalt/common/libc/time/time_zone_state.cc
  cobalt/common/libc/time/time_zone_state.h
  cobalt/common/libc/time/time_zone_state_test.cc
Due: clang-format

add logging
  base/android/java/src/org/chromium/base/MemoryPressureListener.java
  third_party/blink/renderer/platform/instrumentation/memory_pressure_listener.cc
Due: none

Fix fread calls
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkStream_cobalt.cc
Due: clang-format

Update StarboardBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
Due: google-java-format, gcheckstyle

Migrate to MessagePumpEpoll and remove MessagePumpLibevent (#5420)
  base/BUILD.gn
  base/DEPS
  base/features.cc
  base/message_loop/fd_watch_controller_posix_unittest.cc
  base/message_loop/message_pump_epoll.cc
  base/message_loop/message_pump_epoll.h
  base/message_loop/message_pump_epoll_unittest.cc
  base/message_loop/message_pump_for_io.h
  base/message_loop/message_pump_for_ui.h
  base/message_loop/message_pump_libevent.cc
  base/message_loop/message_pump_libevent.h
  base/message_loop/message_pump_unittest.cc
  base/task/current_thread.h
  build/android/pylib/gtest/filter/base_unittests_disabled
  chrome/app/chrome_main_delegate.cc
  chromecast/tracing/system_tracer.cc
  chromecast/tracing/system_tracer.h
  chromecast/tracing/tracing_service_main.cc
  components/exo/wayland/test/test_wayland_client_thread.cc
  components/exo/wayland/test/test_wayland_client_thread.h
  testing/variations/fieldtrial_testing_config.json
  tools/clang/rewrite_raw_ptr_fields/manual-fields-to-ignore.txt
  ui/events/ozone/evdev/event_converter_evdev_impl.h
  ui/events/ozone/evdev/tablet_event_converter_evdev.h
  ui/events/ozone/evdev/touch_event_converter_evdev.h
  ui/ozone/platform/drm/gpu/drm_device.cc
  ui/ozone/platform/wayland/test/test_wayland_server_thread.cc
  ui/ozone/platform/wayland/test/test_wayland_server_thread.h
Due: none

Add Global Features class. (#5477)
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/cobalt_browser_main_parts.h
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/browser/global_features.cc
  cobalt/browser/global_features.h
Due: clang-format, gn-format

Add the missing ENABLE_VALIDATING_COMMAND_DECODER build flag (#5439)
  ui/gl/gl_features.cc
Due: none

starboard/nplb: Ignore X errors on shutdown (#5478)
  starboard/shared/x11/application_x11.cc
Due: clang-format

Turn off D-Bus support (#5484)
  cobalt/build/configs/linux_common.gn
  cobalt/build/testing/targets/linux-x64x11/test_targets.json
Due: gn-format

[Ozone] Updating Bounds on Resize via SetBoundsInPixels() (#5336)
  cobalt/BUILD.gn
  cobalt/cobalt.cc
  ui/aura/window_tree_host.cc
  ui/ozone/platform/starboard/BUILD.gn
  ui/ozone/platform/starboard/platform_event_observer_starboard.h
  ui/ozone/platform/starboard/platform_event_source_starboard.cc
  ui/ozone/platform/starboard/platform_event_source_starboard.h
  ui/ozone/platform/starboard/platform_window_starboard.cc
  ui/ozone/platform/starboard/platform_window_starboard.h
  ui/platform_window/stub/stub_window.h
Due: clang-format, gn-format

Add sandbox related symbol stubs to build cobalt (#5472)
  cobalt/testing/filters/linux-x64x11-evergreen/base_unittests_filter.json
  sandbox/policy/BUILD.gn
  sandbox/policy/linux/sandbox_linux_stub.cc
Due: none

Update MediaSession state via setLifecycleCallback (#5482)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltMediaSession.java
Due: google-java-format, gcheckstyle

Return app start duration for performance.getAppStartupTime() (#5488)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  cobalt/browser/performance/performance_impl.cc
  starboard/android/shared/starboard_bridge.cc
  starboard/android/shared/starboard_bridge.h
Due: clang-format, google-java-format, gcheckstyle

[media] Reset ended status on seek (#5501)
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.cc
Due: clang-format

[Ozone] Remove stub_window Dependency from Platform_starboard_window (#5491)
  ui/ozone/platform/starboard/platform_window_starboard.cc
  ui/ozone/platform/starboard/platform_window_starboard.h
  ui/platform_window/stub/stub_window.h
Due: none

[android] Fix crashes on accessing RRO values (#5492)
  starboard/android/shared/BUILD.gn
  starboard/android/shared/application_android.cc
  starboard/android/shared/application_android.h
  starboard/android/shared/audio_sink_get_min_buffer_size_in_frames.cc
  starboard/android/shared/graphics.cc
  starboard/android/shared/media_get_video_buffer_budget.cc
  starboard/android/shared/runtime_resource_overlay.cc
  starboard/android/shared/runtime_resource_overlay.h
Due: clang-format, gn-format

Add media changes to build cobalt hermetically (#5499)
  content/utility/utility_main.cc
  media/capture/BUILD.gn
  media/capture/video/linux/video_capture_device_factory_linux_stub.cc
Due: none

BACKPORT: Pass HTMLMediaElement identifier to ::media::Renderer (#5463)
  content/public/renderer/content_renderer_client.cc
  content/public/renderer/content_renderer_client.h
  content/renderer/media/media_factory.cc
  content/renderer/media/media_factory.h
  fuchsia_web/webengine/renderer/web_engine_content_renderer_client.cc
  fuchsia_web/webengine/renderer/web_engine_content_renderer_client.h
  third_party/blink/public/platform/web_media_player_client.h
  third_party/blink/renderer/core/exported/web_media_player_impl_unittest.cc
  third_party/blink/renderer/core/html/media/html_media_element.h
  third_party/blink/renderer/modules/mediastream/web_media_player_ms_test.cc
Due: none

Fix missing dependency (#5510)
  cobalt/BUILD.gn
  ui/ozone/platform/starboard/BUILD.gn
Due: gn-format

Fixing unusable app after network error popup (#5513)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/PlatformError.java
  cobalt/browser/BUILD.gn
Due: google-java-format, gcheckstyle, gn-format

[media] Refine ReuseAllocatorBase statistics (#5507)
  starboard/common/reuse_allocator_base.cc
Due: clang-format

content/ changes to build cobalt (#5517)
  content/browser/BUILD.gn
  content/browser/network_service_client.cc
  content/browser/sandbox_ipc_linux.cc
  content/utility/BUILD.gn
Due: none

Add base/ changes to build cobalt hermetically (#5514)
  base/BUILD.gn
  base/process/launch_posix.cc
  base/process/process_metrics_posix_stub.cc
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  yapf: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  pylint: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  python3-compatibility-check: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  google-java-format: any of: \.java$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java
)
) and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  gn-format: any of: .*\.gni?$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

