Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)

Update the api_process doc
  starboard/doc/api_process.md
Due: none

fix: Remove problematic ~H5vccPlatformService (#10864)
  third_party/blink/renderer/modules/cobalt/h5vcc_platform_service/h_5_vcc_platform_service.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_platform_service/h_5_vcc_platform_service.h
Due: clang-format, cpplint

android: Use JavaRef for Starboard JNI boundaries (#10862)
  starboard/android/shared/BUILD.gn
  starboard/android/shared/drm_system.h
  starboard/android/shared/fake_media_codec.cc
  starboard/android/shared/fake_media_codec.h
  starboard/android/shared/media_codec.cc
  starboard/android/shared/media_codec.h
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_codec_decoder.cc
  starboard/android/shared/media_codec_decoder.h
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/media_codec_video_decoder_test.cc
  starboard/android/shared/media_drm_bridge.h
  starboard/android/shared/player_components_factory.cc
  starboard/android/shared/video_window.cc
  starboard/android/shared/video_window.h
Due: clang-format, cpplint, gn-format

Update the Starboard style documentation
  starboard/doc/style.md
Due: none

Update the Starboard principles document
  starboard/doc/principles.md
Due: none

media: Draw punch hole when native player is in presenting state
  media/starboard/starboard_renderer.cc
  media/starboard/starboard_renderer.h
Due: clang-format, cpplint

Cherry pick PR #10864: fix: Remove problematic ~H5vccPlatformService
  third_party/blink/renderer/modules/cobalt/h5vcc_platform_service/h_5_vcc_platform_service.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_platform_service/h_5_vcc_platform_service.h
Due: clang-format, cpplint

Cherry pick PR #10862: android: Use JavaRef for Starboard JNI boundaries
  starboard/android/shared/BUILD.gn
  starboard/android/shared/drm_system.h
  starboard/android/shared/fake_media_codec.cc
  starboard/android/shared/fake_media_codec.h
  starboard/android/shared/media_codec.cc
  starboard/android/shared/media_codec.h
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_codec_decoder.cc
  starboard/android/shared/media_codec_decoder.h
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/media_codec_video_decoder_test.cc
  starboard/android/shared/media_drm_bridge.h
  starboard/android/shared/player_components_factory.cc
  starboard/android/shared/video_window.cc
  starboard/android/shared/video_window.h
Due: clang-format, cpplint, gn-format

Updated Starboard POSIX documentation
  starboard/doc/starboard_17_posix.md
  starboard/doc/starboard_posix.md
Due: none

Fix: previously visible web contents cleanup (#10875)
  cobalt/shell/browser/shell_platform_delegate.cc
  cobalt/shell/browser/shell_platform_delegate.h
  cobalt/shell/browser/shell_platform_delegate_views.cc
Due: clang-format, cpplint

Update comments on lifecycle delegate management
  cobalt/app/cobalt.cc
Due: clang-format, cpplint

Update SbEventHandle to check lifecycle delegate
  cobalt/app/cobalt.cc
Due: clang-format, cpplint

Update starboard/doc/api_process.md
  starboard/doc/api_process.md
Due: none

Update starboard/doc/starboard_posix.md
  starboard/doc/starboard_posix.md
Due: none

Update starboard/doc/principles.md
  starboard/doc/principles.md
Due: none

Address comments by gemini-review
  starboard/elf_loader/lz4_file_impl.cc
  starboard/elf_loader/naive_zstd_file_impl.cc
  starboard/elf_loader/naive_zstd_file_impl.h
Due: clang-format, cpplint

sync symbolize.cc in copied_base to base
  copied_base/base/third_party/symbolize/symbolize.cc
Due: none

Adjust code to improve readability
  copied_base/base/third_party/symbolize/symbolize.cc
Due: none

fix process_test_results
  .github/actions/process_test_results/action.yaml
Due: none

android: Add java switch to force angle OpenGL ES
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
Due: gcheckstyle, check-java-strings-have-locale

fix lint error
  .github/workflows/tvos.yaml
Due: none

Update starboard/nplb/posix_compliance/posix_file_unlinkat_test.cc
  starboard/nplb/posix_compliance/posix_file_unlinkat_test.cc
Due: clang-format, cpplint

enable v8 concurrent marking
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/build/configs/common.gn
Due: gcheckstyle, gn-format, check-java-strings-have-locale

Apply suggestions from code review
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
Due: gcheckstyle, check-java-strings-have-locale

Cherry pick PR #10875: Fix: previously visible web contents cleanup
  cobalt/shell/browser/shell_platform_delegate.cc
  cobalt/shell/browser/shell_platform_delegate.h
  cobalt/shell/browser/shell_platform_delegate_views.cc
Due: clang-format, cpplint

[CI] Add target_branch label
  .github/actions/internal_tests/action.yaml
  .github/actions/on_device_tests/action.yaml
Due: none

cobalt/memory: Implement memory attribution system (#10850)
  base/memory/cobalt_memory_context.h
  cobalt/BUILD.gn
  cobalt/android/cobalt_library_loader.cc
  cobalt/app/cobalt_main_delegate.cc
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/features.cc
  cobalt/browser/features.h
  cobalt/memory/BUILD.gn
  cobalt/memory/cobalt_memory_attribution_manager.cc
  cobalt/memory/cobalt_memory_attribution_manager.h
  cobalt/memory/cobalt_memory_attribution_manager_unittest.cc
  cobalt/shell/app/shell_main_delegate.cc
Due: clang-format, cpplint, gn-format

feat(starboard/tools): Support RDK log format in symbolize.py
  starboard/tools/symbolize/symbolize.py
Due: yapf, pylint, python3-compatibility-check

address PR comments
  .github/actions/on_host_tests/action.yaml
  build/android/test_runner.py
  build/config/android/rules.gni
  cobalt/build/archive_test_artifacts.py
  cobalt/docker/unittest/Dockerfile
Due: yapf, pylint, python3-compatibility-check

Fix hang on exit by timing out on GPU connection
  services/viz/public/cpp/gpu/gpu.cc
Due: none

cleanup
  .github/actions/upload_test_artifacts/action.yaml
Due: none

Addresss comments
  starboard/android/shared/BUILD.gn
  starboard/android/shared/frame_rate_estimator.cc
  starboard/android/shared/frame_rate_estimator.h
  starboard/android/shared/frame_rate_estimator_test.cc
  starboard/android/shared/media_codec.cc
  starboard/android/shared/ndk_media_codec.cc
  starboard/android/shared/ndk_media_codec.h
  starboard/extension/feature_config.h
Due: clang-format, cpplint, gn-format

Fix ordering of shutdown events to prevent crash (#10906)
  cobalt/app/cobalt.cc
  cobalt/browser/lifecycle/cobalt_lifecycle_manager.cc
  cobalt/browser/lifecycle/cobalt_lifecycle_manager.h
Due: clang-format, cpplint

fix tvos test result processing
  .github/actions/process_test_results/action.yaml
Due: none

Add scrolling scenarios and interactive simulation to rdk_memory_benchmark.sh
  cobalt/tools/performance/memory/README.md
  cobalt/tools/performance/memory/rdk_memory_benchmark.sh
Due: none
