Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, yapf, pylint, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, gn-format

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

yapf:
  name: yapf
  description: Run yapf (the python formatter) in-place on changed files.
  entry: yapf
  language: system
  args:
  - -i
  - -vv

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

google-java-format:
  name: google-java-format
  entry: python ./precommit_hooks/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: Lint Java With gcheckstyle
  entry: python ./precommit_hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-copyright-year:
  name: check copyright year
  entry: python ./precommit_hooks/check_copyright_year.py
  language: python
  stages:
  - push
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: python ./precommit_hooks/warn_that_starboard_interface_changed_wrapper.py
  language: python
  stages:
  - push

test-python3-compatibility:
  name: Test Python 3 Compatibility
  description: Checks that scripts can be run in Python 3
  entry: python precommit_hooks/python3_check.py
  language: python
  verbose: true

gn-format:
  name: GN format
  entry: gn format
  language: system

Return boolean
  starboard/android/shared/media_decoder.cc
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

revert MediaCodecBridge
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: google-java-format, gcheckstyle, check-copyright-year

Update media_decoder
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
Due: cpplint, check-copyright-year

Implement ReleaseFrameAt
  starboard/android/shared/video_decoder.cc
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

making FrameTracker work with MediaDecoder
  starboard/android/shared/media_decoder.cc
Due: cpplint, check-copyright-year

Remove deferred buffer methods from FrameTracker
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

Make FrameTracker log
  starboard/android/shared/media_decoder.cc
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

feat: Add decoding time statistics to FrameTracker
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

feat: Add frame released callback to FrameTracker
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

refactor: Rename `last_30_decoding_times_us_` to `previous_decoding_times_us_`
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
Due: cpplint, check-copyright-year

refactor: Simplify FrameTracker by removing the frames array
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

refactor: Remove FrameTracker::Reset()
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

test: Use ASSERT for test setup in FrameTracker tests
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

feat: Add logging and warnings to FrameTracker
  starboard/android/shared/media_decoder.cc
  starboard/shared/starboard/media/frame_tracker.cc
Due: cpplint, check-copyright-year

Update starboard/shared/starboard/media/frame_tracker.h
  starboard/shared/starboard/media/frame_tracker.h
Due: cpplint, check-copyright-year

feat: Improve FrameTracker logging and test readability
  starboard/android/shared/media_decoder.cc
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

Apply suggestion from @gemini-code-assist[bot]
  starboard/android/shared/media_decoder.cc
Due: cpplint, check-copyright-year

refactor: Decouple FrameTracker interface from implementation
  starboard/android/shared/media_decoder.cc
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
Due: cpplint, check-copyright-year

refactor: Remove unused FrameTracker::ReleaseFrame method
  starboard/shared/starboard/media/frame_tracker.cc
  starboard/shared/starboard/media/frame_tracker.h
  starboard/shared/starboard/media/frame_tracker_test.cc
Due: cpplint, check-copyright-year

refactor: Rename FrameTracker to DecoderFlowControl
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/video_decoder.cc
  starboard/shared/starboard/media/BUILD.gn
  starboard/shared/starboard/media/decoder_flow_control.cc
  starboard/shared/starboard/media/decoder_flow_control.h
  starboard/shared/starboard/media/decoder_flow_control_test.cc
  starboard/shared/starboard/media/frame_tracker_test.cc
  starboard/shared/starboard/media/media_tests.gni
Due: cpplint, check-copyright-year, gn-format

refactor: Rename DecoderFlowControlImpl to ThrottlingDecoderFlowControl
  starboard/android/shared/media_decoder.cc
  starboard/shared/starboard/media/decoder_flow_control.cc
  starboard/shared/starboard/media/decoder_flow_control.h
  starboard/shared/starboard/media/decoder_flow_control_test.cc
Due: cpplint, check-copyright-year

feat: Set DecoderFlowControl based on resolution
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/shared/starboard/media/decoder_flow_control.cc
  starboard/shared/starboard/media/decoder_flow_control.h
  starboard/shared/starboard/media/decoder_flow_control_test.cc
Due: cpplint, check-copyright-year

refactor: Improve DecoderFlowControl API and logging
  starboard/android/shared/media_decoder.cc
  starboard/shared/starboard/media/decoder_flow_control.cc
  starboard/shared/starboard/media/decoder_flow_control.h
  starboard/shared/starboard/media/decoder_flow_control_test.cc
Due: cpplint, check-copyright-year

starboard/nplb: Clarify media/not sources and what's built where (#6494)
  cobalt/testing/filters/linux-x64x11/blink_unittests_filter.json
  starboard/nplb/BUILD.gn
Due: check-copyright-year, gn-format

posix: Add tests for lstat
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/posix_compliance/posix_lstat_test.cc
  starboard/shared/modular/starboard_layer_posix_stat_abi_wrappers.cc
  starboard/tools/api_leak_detector/evergreen/manifest
Due: cpplint, check-copyright-year

Add to api_leak_detector
  starboard/tools/api_leak_detector/api_leak_detector.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility

Refactor
  starboard/nplb/posix_compliance/posix_lstat_test.cc
Due: cpplint, check-copyright-year

Resolve merge conflicts
  starboard/nplb/posix_compliance/posix_lstat_test.cc
Due: cpplint, check-copyright-year

copy all of the fields of stat
  starboard/shared/modular/starboard_layer_posix_stat_abi_wrappers.cc
Due: cpplint, check-copyright-year

Fix merge conflicts.
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_lstat_test.cc
Due: cpplint, check-copyright-year, gn-format

posix: Add tests for readlink
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_readlink_test.cc
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/api_leak_detector/evergreen/manifest
Due: cpplint, yapf, pylint, check-copyright-year, test-python3-compatibility, gn-format

Monitor Active Cobalt Processes without restart (#6531)
  cobalt/tools/performance/README.md
  cobalt/tools/performance/android_monitor.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility

Provide build option to disable xr in blink
  build/BUILD.gn
  build/config/lightweight.gni
  third_party/blink/renderer/bindings/generated_in_modules.gni
  third_party/blink/renderer/bindings/generated_in_modules_excluded.gni
  third_party/blink/renderer/bindings/idl_in_modules.gni
  third_party/blink/renderer/bindings/idl_in_modules_excluded.gni
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/submodules_excluded.gni
  third_party/blink/renderer/modules/video_rvfc/BUILD.gn
  third_party/blink/renderer/modules/video_rvfc/video_frame_callback_requester_impl.cc
  third_party/blink/renderer/modules/video_rvfc/video_frame_callback_requester_impl.h
  third_party/blink/renderer/modules/video_rvfc/video_frame_callback_requester_impl_test.cc
  third_party/blink/renderer/modules/webgl/BUILD.gn
  third_party/blink/renderer/modules/webgl/webgl_rendering_context_base.cc
  third_party/blink/renderer/modules/webgl/webgl_rendering_context_base.h
  third_party/blink/renderer/modules/xr/BUILD.gn
Due: none

Remove v8_context_snapshot.bin from packaging json
  cobalt/build/linux/package.json
Due: check-copyright-year

Address 1st round of comments
  cobalt/common/features/features.cc
  cobalt/common/features/features.h
  cobalt/common/features/starboard_features_initialization.cc
  starboard/extension/feature_config.h
  starboard/extension/features.h
  starboard/shared/starboard/feature_list.cc
  starboard/shared/starboard/feature_list.h
  starboard/shared/starboard/features.cc
  starboard/shared/starboard/features.h
Due: cpplint, check-copyright-year

Remove android-specific build dep
  cobalt/common/features/BUILD.gn
Due: check-copyright-year, gn-format

Remove v8_context_snapshot.bin from linux package.json (#6557)
  cobalt/build/linux/package.json
Due: check-copyright-year

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^starboard/shared/uikit/.*\.h$
)
) and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  yapf: any of: \.py$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  pylint: any of: \.py$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  google-java-format: any of: \.java$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  gcheckstyle: any of: \.java$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not ((?x)^(
    .pylintrc$|
    .pre-commit-config.yaml$|
    cobalt/base/unicode/|
    cobalt/demos/content/|
    cobalt/layout_tests/testdata/|
    cobalt/math/|
    cobalt/media/|
    cobalt/streams/|
    cobalt/webdriver/screencast/|
    cobalt/websocket/|
    components/crx_file/|
    content/|
    internal/starboard/shared/glimp/|
    starboard/contrib/RDK/|
    nb/|
    starboard/content/fonts/LICENSES.txt |
    starboard/android/apk/gradlew|
    starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.cc$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.h$|
    starboard/shared/starboard/player/testdata/licences/|
    starboard/shared/starboard/player/filter/wsola_internal.cc$
)
) and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  check-if-starboard-interface-changed: any of: ^starboard/[^/]+\.h$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  test-python3-compatibility: any of: \.py$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
