Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

chromium-pre-commit:
  name: Chromium presubmit bridge
  entry: ./third_party/depot_tools/vpython3 --vpython-spec=./third_party/depot_tools/.vpython3 ./cobalt/precommit/run_chromium_presubmits.py
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==21.1.0

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=5
  - --quiet
  additional_dependencies:
  - cpplint==2.0.2

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

check-java-strings-have-locale:
  name: Check Java String.format includes Locale
  entry: python3 ./cobalt/precommit/check_java_strings_have_locale.py
  language: python

Cherry pick PR #9721: [tvOS] Add simple_packager.py for tvOS
  cobalt/devinfra/kokoro/build/tvos/simple_packager.py
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #9674: Add perf tests splash browser tests
  cobalt/shell/browser/h5vcc_scheme_url_loader_factory_browsertest.cc
Due: clang-format, cpplint

Cherry pick PR #9729: Log as Info for splash screen cache miss
  cobalt/shell/browser/h5vcc_scheme_url_loader_factory.cc
Due: clang-format, cpplint

Cherry pick PR #9652: IWYU clean up for cobalt/app
  cobalt/app/app_lifecycle_delegate.cc
  cobalt/app/app_lifecycle_delegate_unittest.cc
  cobalt/app/cobalt.cc
  cobalt/app/cobalt_crash_reporter_client.cc
  cobalt/app/cobalt_main_delegate.cc
  cobalt/app/cobalt_main_delegate.h
  cobalt/app/cobalt_switch_defaults.cc
  cobalt/app/cobalt_switch_defaults_starboard.cc
  cobalt/app/cobalt_switch_defaults_starboard_test.cc
Due: clang-format, cpplint

Cherry pick PR #9750: ci: Update autoroll LTS branch handling and PR links
  .github/scripts/autoroll_lts.py
  .github/workflows/autoroll_lts.yaml
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #9382: tvOS: Enable Crashpad integration in Cobalt Shell
  cobalt/BUILD.gn
  cobalt/app/tvos/main.mm
Due: gn-format

Cherry pick PR #9641: tvOS: Initialize Application for browser tests
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/browser_tests/content_test_launcher.cc
Due: clang-format, cpplint, gn-format

Cherry pick PR #9629: Cherry pick PR #9031: skia: Add Skia font file data cache
  content/public/common/content_features.cc
  content/public/common/content_features.h
  content/renderer/render_thread_impl.cc
  third_party/skia/include/core/SkStream.h
  third_party/skia/src/core/SkStream.cpp
Due: none

Cherry pick PR #9738: build: Update copied_base/ for AOSP Arm platform
  copied_base/base/BUILD.gn
  copied_base/base/allocator/partition_allocator/BUILD.gn
  copied_base/base/android/jni_generator/BUILD.gn
  copied_base/base/test/BUILD.gn
Due: none

Cherry pick PR #9453: Support cobalt_browsertests on Evergreen
  cobalt/testing/browser_tests/cobalt_browser_tests_main.cc
Due: clang-format, cpplint

Cherry pick PR #9759: ci: Fix CLA for autoroll workflow
  .github/scripts/autoroll_lts.py
  .github/workflows/autoroll_lts.yaml
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #9685: BACKPORT: Make sure we are getting the correct atlas for glyph mask f…
  third_party/skia/gn/tests.gni
  third_party/skia/src/gpu/ganesh/text/GrAtlasManager.cpp
  third_party/skia/src/gpu/graphite/text/TextAtlasManager.cpp
  third_party/skia/src/text/gpu/Glyph.h
  third_party/skia/src/text/gpu/GlyphVector.cpp
  third_party/skia/src/text/gpu/GlyphVector.h
  third_party/skia/src/text/gpu/StrikeCache.cpp
  third_party/skia/src/text/gpu/StrikeCache.h
  third_party/skia/src/text/gpu/SubRunContainer.cpp
  third_party/skia/tests/AtlasOobTest.cpp
Due: none

Cherry pick PR #9392: Cherry pick PR #9137: Extend performance API to expose VM and swap memory usage
  base/process/process_metrics.h
  base/process/process_metrics_linux.cc
  cobalt/browser/performance/performance_impl.cc
  cobalt/browser/performance/performance_impl.h
  cobalt/browser/performance/public/mojom/performance.mojom
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.cc
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.h
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.idl
Due: clang-format, cpplint

Cherry pick PR #9770: ci: Add commit to autoroll skip list
  .github/scripts/autoroll_lts.py
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #9763: build: Don't assume that hermetic builds are Linux-only
  copied_base/base/BUILD.gn
  testing/test.gni
Due: none

Cherry pick PR #9706: cobalt: Set migrated cookie source type to kOther
  cobalt/shell/browser/migrate_storage_record/migration_manager.cc
Due: clang-format, cpplint

Cherry pick PR #9778: Cherry pick PR #9258: cobalt/metrics: Expose vm metrics to UMA data stream
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
  services/resource_coordinator/memory_instrumentation/queued_request_dispatcher.cc
  services/resource_coordinator/public/mojom/memory_instrumentation/memory_instrumentation.mojom
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: clang-format, cpplint

Cherry pick PR #9783: build: redirect partner toolchains to copied_base
  base/BUILD.gn
  base/allocator/allocator.gni
  base/allocator/partition_allocator/partition_alloc.gni
  base/debug/debug.gni
  base/test/BUILD.gn
  base/trace_event/tracing.gni
  build/config/c++/c++.gni
  build/config/compiler/BUILD.gn
  starboard/build/config/toolchain_variables.gni
  third_party/crashpad/crashpad/third_party/mini_chromium/BUILD.gn
Due: gn-format

Cherry pick PR #9772: build: Add use_full_mte to copied_base
  copied_base/base/allocator/partition_allocator/partition_alloc.gni
Due: none

Cherry pick PR #9771: Test: Fix lsan leak in POSIX locale test
  starboard/nplb/posix_compliance/posix_locale_thread_test.cc
Due: clang-format, cpplint

Cherry pick PR #9773: build: Don't assume that is_starboard is Linux-only
  copied_base/base/BUILD.gn
Due: none

Cherry pick PR #9697: fix: Guard ANGLE-extension DCHECKs behind Cobalt/Starboard build flags
  ui/gl/gl_context_egl.cc
Due: none

Cherry pick PR #9761: nplb tests: Fix hang with `SbAudioSinkCreateTest.MultiSink` (#9243)
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/nplb_loader_filter.json
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/audio_sink/gstreamer_audio_sink_type.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/audio_sink/gstreamer_audio_sink_type.h
Due: none

Cherry pick PR #9758: android: Adding retry param to URL after network dialog Retry
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/PlatformError.java
Due: gcheckstyle, check-java-strings-have-locale

Cherry pick PR #9799: build: Fix base/BUILD.gn source exclusions
  base/BUILD.gn
Due: none

Cherry pick PR #9021: doc: Fix evergreen content/lib paths
  starboard/CHANGELOG.md
  starboard/doc/eap/25_to_26.md
  starboard/doc/eap/getting_started.md
  starboard/doc/evergreen/cobalt_evergreen_overview.md
  starboard/doc/starboard_17_posix.md
  starboard/elf_loader/BUILD.gn
Due: gn-format

Cherry pick PR #9623: Cherry pick PR #8492: cobalt: Support synchronous MSE init segment append
  third_party/blink/renderer/modules/cobalt/h5vcc_settings/h_5_vcc_settings.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_settings/h_5_vcc_settings.h
  third_party/blink/renderer/modules/mediasource/BUILD.gn
  third_party/blink/renderer/modules/mediasource/DEPS
  third_party/blink/renderer/modules/mediasource/source_buffer.cc
  third_party/blink/renderer/modules/mediasource/source_buffer.h
Due: clang-format, cpplint

Cherry pick PR #9818: Cherry pick PR #9801: skia: always enable Skia font file data cache
  content/public/common/content_features.cc
  content/public/common/content_features.h
  content/renderer/render_thread_impl.cc
  third_party/skia/include/core/SkStream.h
  third_party/skia/src/core/SkStream.cpp
Due: none

Cherry pick PR #9819: Cherry pick PR #8654: Revert "cobalt: Support synchronous MSE init segment append"
  third_party/blink/renderer/modules/cobalt/h5vcc_settings/h_5_vcc_settings.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_settings/h_5_vcc_settings.h
  third_party/blink/renderer/modules/mediasource/BUILD.gn
  third_party/blink/renderer/modules/mediasource/DEPS
  third_party/blink/renderer/modules/mediasource/source_buffer.cc
  third_party/blink/renderer/modules/mediasource/source_buffer.h
Due: clang-format, cpplint

Cherry pick PR #9823: ci: Use cobalt-github-releaser-bot credentials in autoroll workflow
  .github/workflows/autoroll_lts.yaml
Due: none

Cherry pick PR #9811: cobalt: Fix tvOS build after recent performance and metrics cherry-picks
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/performance/performance_impl.cc
Due: clang-format, cpplint

Cherry pick PR #9829: ci: Use cobalt-github-releaser-bot credentials to create autoroll PR
  .github/workflows/autoroll_lts.yaml
Due: none

Cherry pick PR #9815: Cherry pick PR #9675: Monitoring network connection status after app start
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/application_rdk.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/rdkservices.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/rdkservices.h
Due: none

Cherry pick PR #9728: ci: Clarify crash reporting
  .github/actions/process_test_results/action.yaml
  .github/workflows/main.yaml
  cobalt/build/packager.py
Due: yapf, pylint, python3-compatibility-check

Fix sign comparison error in MediaBufferPoolBidirectionalReuseAllocator
  starboard/common/experimental/media_buffer_pool_bidirectional_reuse_allocator.h
Due: clang-format, cpplint

Cherry pick PR #9841: Add C25->C26 Crashpad integration migration guide
  starboard/doc/crash_handlers.md
  starboard/doc/eap/25_to_26.md
  starboard/doc/eap/crashpad_integration.md
  starboard/doc/evergreen/cobalt_evergreen_overview.md
Due: none

Cherry pick PR #9844: Cherry pick PR #8617: cobalt: Improve web content load during startup
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell.h
  cobalt/shell/browser/splash_screen_unittest.cc
  cobalt/shell/browser/splash_screen_web_contents_observer.cc
  cobalt/shell/browser/splash_screen_web_contents_observer.h
Due: clang-format, cpplint

Cherry pick PR #9825: Cherry pick PR #8796: cobalt: Reland "Support synchronous MSE init segment append"
  third_party/blink/renderer/modules/cobalt/h5vcc_settings/h_5_vcc_settings.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_settings/h_5_vcc_settings.h
  third_party/blink/renderer/modules/mediasource/BUILD.gn
  third_party/blink/renderer/modules/mediasource/DEPS
  third_party/blink/renderer/modules/mediasource/source_buffer.cc
  third_party/blink/renderer/modules/mediasource/source_buffer.h
Due: clang-format, cpplint

Cherry pick PR #9822: build/android: Propagate errors from package script
  cobalt/build/android/package.py
Due: yapf, pylint, python3-compatibility-check

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
