Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)

Address comments
  starboard/android/shared/BUILD.gn
Due: gn-format

Add missing files
  starboard/android/shared/features_extension_test.cc
Due: clang-format, cpplint

starboard: Move experiment features (#10766)
  media/starboard/sbplayer_bridge.cc
  starboard/android/shared/system_get_extensions.cc
  starboard/extension/experimental/README.md
  starboard/extension/experimental/experimental_features.h
  starboard/extension/extension_test.cc
  starboard/shared/starboard/experimental_features.cc
  starboard/shared/starboard/experimental_features.h
Due: clang-format, cpplint

feat: Enable hang reporting via Crashpad for 3P
  base/BUILD.gn
  base/threading/hang_watcher.cc
  cobalt/app/cobalt_main_delegate.cc
  cobalt/browser/BUILD.gn
  cobalt/shell/BUILD.gn
  starboard/crashpad_wrapper/wrapper.cc
  starboard/crashpad_wrapper/wrapper.h
  starboard/extension/crash_handler.h
  starboard/shared/starboard/crash_handler.cc
Due: clang-format, cpplint, gn-format

Add `getpriority` to allowed symbols list (#10768)
  starboard/tools/api_leak_detector/api_leak_detector.py
Due: yapf, pylint, python3-compatibility-check

Remove dlopen and dlsym by removing tflite (#10683)
  components/autofill/core/browser/BUILD.gn
  components/language_detection/core/BUILD.gn
  components/translate/core/browser/BUILD.gn
  components/translate/core/common/BUILD.gn
  starboard/tools/api_leak_detector/evergreen/dev_manifest
  starboard/tools/api_leak_detector/evergreen/manifest
  third_party/blink/renderer/bindings/bindings.gni
  third_party/blink/renderer/bindings/modules/v8/BUILD.gn
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/cobalt_modules_stubs.cc
  third_party/blink/renderer/modules/exported/BUILD.gn
  third_party/blink/renderer/platform/BUILD.gn
Due: none

android: Fix Java heap leak in AudioTrackBridge JNI (#10745)
  starboard/android/shared/audio_track_bridge.cc
Due: clang-format, cpplint

Update Docker documentation for 27 LTS and create legacy instructions
  cobalt/site/docs/development/setup-docker-legacy.md
  cobalt/site/docs/development/setup-docker.md
Due: none

adjust documentation for clarity
  cobalt/site/docs/development/setup-docker-legacy.md
  cobalt/site/docs/development/setup-docker.md
Due: none

adjust documentation for clarity
  cobalt/site/docs/development/setup-docker-legacy.md
Due: none

fix docs
  cobalt/site/docs/development/setup-docker-legacy.md
Due: none

fix docs
  cobalt/site/docs/development/setup-docker.md
Due: none

Enable leak detector on nplb in CI
  .github/actions/api_leak_detector/action.yaml
  starboard/tools/api_leak_detector/api_leak_detector.py
Due: yapf, pylint, python3-compatibility-check

Address PR feedback: Use printf and jq space-separated string
  .github/actions/on_host_tests/action.yaml
  .github/actions/test_targets_json/action.yaml
Due: none

Address PR feedback: Add early exit and rename
  .github/actions/on_host_tests/action.yaml
Due: none

Address PR feedback: Reword exit log and remove comment
  .github/actions/on_host_tests/action.yaml
Due: none

android: Clean up JNI code to avoid unsafe env->New* calls
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/VideoSurfaceTexture.java
  starboard/android/shared/audio_track_bridge.cc
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/speech_synthesis_speak.cc
  starboard/android/shared/video_surface_texture_bridge.cc
  starboard/android/shared/video_surface_texture_bridge.h
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

revert GetTransformMatrix
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/VideoSurfaceTexture.java
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/video_surface_texture_bridge.cc
  starboard/android/shared/video_surface_texture_bridge.h
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

media: Disable WetRtc processing for Cobalt (#10471)
  media/BUILD.gn
  media/base/audio_processing.h
Due: none

Additional changes
  starboard/android/shared/audio_track_bridge.cc
Due: clang-format, cpplint

Address PR feedback: Factor out filter logic, remove early exit
  .github/actions/on_host_tests/action.yaml
  .github/actions/test_targets_json/action.yaml
Due: none

Samsung FIFO logs
  media/audio/audio_input_device.cc
  third_party/blink/renderer/modules/mediastream/webaudio_media_stream_audio_sink.cc
Due: none

Bring sync chromium branches logic into autoroll. (#10186)
  .github/scripts/autoroll_lts.py
  .github/workflows/autoroll_lts.yaml
  .github/workflows/sync_chromium_branches.yaml
Due: yapf, pylint, python3-compatibility-check

docs: Update experimental extension README.md
  starboard/extension/experimental/README.md
Due: none

Refactor on_host_tests to use dynamically passed test executables (#10767)
  .github/actions/on_host_tests/action.yaml
  .github/actions/test_targets_json/action.yaml
  .github/workflows/main.yaml
Due: none

media: Erase id_to_mime_map_ entry on RemoveId
  media/filters/chunk_demuxer.cc
Due: none

starboard: Add ScopedFeatureList for testing (#10754)
  starboard/BUILD.gn
  starboard/android/shared/BUILD.gn
  starboard/android/shared/features_extension_test.cc
  starboard/android/shared/media_capabilities_cache_test.cc
  starboard/shared/starboard/BUILD.gn
  starboard/shared/starboard/feature_list.cc
  starboard/shared/starboard/feature_list.h
  starboard/shared/starboard/feature_list_test.cc
  starboard/testing/scoped_feature_list.cc
  starboard/testing/scoped_feature_list.h
  starboard/testing/scoped_feature_list_test.cc
Due: clang-format, cpplint, gn-format

Fix macro placement and log strings, and rename CobaltLifecycleObserver methods to use On prefix
  cobalt/app/app_event_delegate.cc
  cobalt/app/app_event_delegate.h
  cobalt/app/app_event_delegate_unittest.cc
  cobalt/app/app_event_runner.cc
  cobalt/app/app_event_runner_unittest.cc
  cobalt/app/cobalt.cc
  cobalt/browser/cobalt_web_contents_observer.cc
  cobalt/browser/cobalt_web_contents_observer_unittest.cc
  cobalt/browser/lifecycle/cobalt_lifecycle_manager.cc
  cobalt/browser/lifecycle/cobalt_lifecycle_manager.h
  cobalt/browser/lifecycle/cobalt_lifecycle_manager_unittest.cc
  cobalt/browser/lifecycle/public/mojom/cobalt_lifecycle.mojom
  cobalt/doc/lifecycle_internals.md
  cobalt/shell/browser/shell_platform_delegate.cc
  cobalt/shell/browser/shell_platform_delegate.h
  cobalt/shell/browser/shell_platform_delegate_android.cc
  cobalt/shell/browser/shell_platform_delegate_ios.mm
  cobalt/shell/browser/shell_test_support.h
  third_party/blink/renderer/modules/cobalt/cobalt_lifecycle_controller.cc
Due: clang-format, cpplint

android: Optimize GetTransformMatrix to avoid Java heap allocations
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/VideoSurfaceTexture.java
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/video_surface_texture_bridge.cc
  starboard/android/shared/video_surface_texture_bridge.h
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

Address comments
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/VideoSurfaceTexture.java
Due: gcheckstyle, check-java-strings-have-locale

Address comments
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/VideoSurfaceTexture.java
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/video_surface_texture_bridge.cc
  starboard/android/shared/video_surface_texture_bridge.h
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

Rebase refresh on 2026-06-05 for m144.
  DEPS
  chrome/browser/ui/web_applications/tabbed_web_app_navigation_throttle.cc
  ui/ozone/platform/x11/test/x11_window_unittest.cc
  ui/ozone/platform/x11/x11_window.cc
  ui/ozone/platform/x11/x11_window.h
  ui/ozone/platform/x11/x11_window_ozone_unittest.cc
Due: none

media: Erase id_to_mime_map_ entry on RemoveId (#10776)
  media/filters/chunk_demuxer.cc
Due: none

Rename disable to enable
  content/browser/BUILD.gn
  content/browser/browser_interface_binders.cc
  content/browser/loader/subresource_proxying_url_loader.cc
  content/browser/loader/subresource_proxying_url_loader_service.cc
  content/browser/renderer_host/navigation_request.cc
  content/browser/renderer_host/render_frame_host_impl.cc
  content/browser/storage_partition_impl.cc
  content/browser/storage_partition_impl.h
  content/public/browser/storage_partition.h
  content/public/common/BUILD.gn
  content/public/common/features.gni
  content/public/test/test_storage_partition.cc
  content/public/test/test_storage_partition.h
  content/test/BUILD.gn
  third_party/blink/public/BUILD.gn
  third_party/blink/renderer/core/fetch/fetch_manager.cc
  third_party/blink/renderer/core/fetch/fetch_request_data.cc
  third_party/blink/renderer/core/fetch/fetch_request_data.h
  third_party/blink/renderer/core/fetch/request.cc
  third_party/blink/renderer/core/html/html_iframe_element.cc
  third_party/blink/renderer/core/html/parser/html_preload_scanner.cc
  third_party/blink/renderer/core/html/parser/preload_request.cc
  third_party/blink/renderer/core/html/parser/preload_request.h
  third_party/blink/renderer/core/loader/image_loader.cc
Due: none

Follow starboard header way of enum definition
  starboard/nplb/sabi/signedness_and_size_of_enum_test.cc
Due: clang-format, cpplint

Add platform dialog option for 3p
  cobalt/browser/cobalt_web_contents_observer.cc
  cobalt/browser/cobalt_web_contents_observer.h
Due: clang-format, cpplint

Fix error
  cobalt/browser/cobalt_web_contents_observer.h
Due: clang-format, cpplint
