Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

chromium-pre-commit:
  name: Chromium presubmit bridge
  entry: ./third_party/depot_tools/vpython3 --vpython-spec=./third_party/depot_tools/.vpython3 ./cobalt/precommit/run_chromium_presubmits.py
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==21.1.0

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=5
  - --quiet
  additional_dependencies:
  - cpplint==2.0.2

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

check-java-strings-have-locale:
  name: Check Java String.format includes Locale
  entry: python3 ./cobalt/precommit/check_java_strings_have_locale.py
  language: python

Fix comments
  starboard/android/shared/fake_media_codec.h
Due: clang-format, cpplint

Use ContentMainRunnerImplBrowserTest.StartupSequence
  cobalt/tools/on_device_tests_gateway_client.py
Due: yapf, pylint, python3-compatibility-check

Remove unnecessary code
  starboard/shared/starboard/player/buffer_internal.cc
Due: clang-format, cpplint

Cherry pick PR #10644: Prune WebNN to reduce android binary size
  third_party/blink/renderer/bindings/bindings.gni
  third_party/blink/renderer/bindings/modules/v8/BUILD.gn
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/cobalt_modules_stubs.cc
Due: none

Cherry pick PR #9947: [POSIX] Add sched_setscheduler, sched_getscheduler, sched_getparam, sched_set_param to Starboard
  starboard/CHANGELOG.md
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_sched_getparam_test.cc
  starboard/nplb/posix_compliance/posix_sched_getscheduler_test.cc
  starboard/nplb/posix_compliance/posix_sched_setparam_test.cc
  starboard/nplb/posix_compliance/posix_sched_setscheduler_test.cc
  starboard/shared/modular/cobalt_layer_posix_sched_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_pthread_abi_wrappers.h
  starboard/shared/modular/starboard_layer_posix_sched_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_sched_abi_wrappers.h
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/api_leak_detector/evergreen/dev_manifest
  starboard/tools/api_leak_detector/evergreen/manifest
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check, gn-format

Cherry pick PR #10331: AOSP cpp17 fixes
  copied_base/base/BUILD.gn
  copied_base/base/android/jni_android.cc
  copied_base/base/android/scoped_java_ref.cc
  copied_base/base/android/scoped_java_ref.h
  third_party/jni_zero/default_conversions.h
  third_party/jni_zero/type_conversions.h
Due: none

Cherry pick PR #10649: Prune WebXR to reduce android binary size
  third_party/blink/renderer/bindings/bindings.gni
  third_party/blink/renderer/bindings/modules/v8/BUILD.gn
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/cobalt_modules_stubs.cc
  third_party/blink/renderer/modules/video_rvfc/BUILD.gn
  third_party/blink/renderer/modules/webgl/BUILD.gn
Due: none

Cherry pick PR #10645: Remove the c99 file from the api leak detection
  starboard/doc/c99.md
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/api_leak_detector/api_leak_detector_test.py
  starboard/tools/api_leak_detector/evergreen/dev_manifest
  starboard/tools/api_leak_detector/evergreen/manifest
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #10652: Deprecate raspi on device tests
  .github/config/evergreen-arm-hardfp-raspi.json
  .github/config/raspi-2-modular.json
Due: none

Cherry pick PR #10417: ci: Add aosp-arm
  .github/config/aosp-arm.json
  .github/workflows/aosp.yaml
Due: none

Cherry pick PR #10658: Revert "Prune WebXR to reduce android binary size"
  third_party/blink/renderer/bindings/bindings.gni
  third_party/blink/renderer/bindings/modules/v8/BUILD.gn
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/cobalt_modules_stubs.cc
  third_party/blink/renderer/modules/video_rvfc/BUILD.gn
  third_party/blink/renderer/modules/webgl/BUILD.gn
Due: none

Cherry pick PR #10647: Add missing fputwc implementation
  starboard/tools/api_leak_detector/evergreen/dev_manifest
  starboard/tools/api_leak_detector/evergreen/manifest
  third_party/musl/BUILD.gn
  third_party/musl/src/stdio/fputwc.c
Due: none

Cherry pick PR #10657: Cherry pick PR #8034: Skeleton changes for h5vcc updater
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_interface_binders.cc
  cobalt/browser/h5vcc_updater/BUILD.gn
  cobalt/browser/h5vcc_updater/h5vcc_updater_impl.cc
  cobalt/browser/h5vcc_updater/h5vcc_updater_impl.h
  cobalt/browser/h5vcc_updater/public/mojom/BUILD.gn
  cobalt/browser/h5vcc_updater/public/mojom/h5vcc_updater.mojom
  content/web_test/BUILD.gn
  third_party/blink/renderer/bindings/generated_in_modules.gni
  third_party/blink/renderer/bindings/idl_in_modules.gni
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_updater/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_updater/h_5_vcc_updater.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_updater/h_5_vcc_updater.h
  third_party/blink/renderer/modules/cobalt/h5vcc_updater/h_5_vcc_updater.idl
  third_party/blink/renderer/modules/cobalt/h_5_vcc.cc
  third_party/blink/renderer/modules/cobalt/h_5_vcc.h
  third_party/blink/renderer/modules/cobalt/h_5_vcc.idl
  third_party/blink/web_tests/TestExpectations
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/h5vcc-updater-getUpdateServerUrl.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/resources/automation.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-updater/resources/mock-h5vcc-updater.js
Due: clang-format, cpplint, gn-format

test: add flaky tests to cobalt/testing/filters (#10648)
  cobalt/testing/filters/android-arm/base_unittests_filter.json
  cobalt/testing/filters/android-arm/perfetto_unittests_filter.json
  cobalt/testing/filters/android-arm/wtf_unittests_filter.json
  cobalt/testing/filters/android-arm64/perfetto_unittests_filter.json
  cobalt/testing/filters/android-arm64/wtf_unittests_filter.json
  cobalt/testing/filters/evergreen-arm-hardfp-raspi/nplb_loader_filter.json
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/nplb_loader_filter.json
  cobalt/testing/filters/evergreen-x64/base_unittests_loader_filter.json
  cobalt/testing/filters/evergreen-x64/boringssl_crypto_tests_loader_filter.json
  cobalt/testing/filters/evergreen-x64/mojo_unittests_loader_filter.json
  cobalt/testing/filters/evergreen-x64/nplb_loader_filter.json
  cobalt/testing/filters/evergreen-x64/perfetto_unittests_loader_filter.json
  cobalt/testing/filters/evergreen-x64/wtf_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/base_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/boringssl_crypto_tests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/mojo_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/nplb_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/perfetto_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11/base_unittests_filter.json
  cobalt/testing/filters/linux-x64x11/cobalt_browsertests_filter.json
  cobalt/testing/filters/linux-x64x11/mojo_unittests_filter.json
  cobalt/testing/filters/linux-x64x11/nplb_filter.json
  cobalt/testing/filters/linux-x64x11/wtf_unittests_filter.json
  cobalt/testing/filters/linux-x64x11/zlib_unittests_filter.json
  cobalt/testing/filters/raspi-2-modular/nplb_loader_filter.json
Due: none

cleanup: De-templatize media wrapper classes (#10672)
  starboard/shared/starboard/media/media_util.cc
  starboard/shared/starboard/media/media_util.h
  starboard/shared/starboard/player/input_buffer_internal.cc
  starboard/shared/starboard/player/input_buffer_internal.h
Due: clang-format, cpplint

Add platform dialog option for 3p
  cobalt/browser/cobalt_web_contents_observer.cc
  cobalt/browser/cobalt_web_contents_observer.h
Due: clang-format, cpplint

fix: Add missing semicolon in starboard_renderer_unittest
  media/starboard/starboard_renderer_unittest.cc
Due: clang-format, cpplint

fix(ci): revert shared test_targets_json action and harden on_device_tests
  .github/actions/on_device_tests/action.yaml
  .github/actions/test_targets_json/action.yaml
  .github/workflows/main.yaml
Due: none

Rename SbPriorityToNice, SbThreadPriorityToRelativeSchedPriority to specify they are not starboard APIs
  starboard/android/shared/media_codec_decoder.cc
  starboard/common/thread.cc
  starboard/common/thread.h
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/audio_sink/gstreamer_audio_sink_type.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/hang_detector.cc
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/player/player_internal.cc
  starboard/nplb/posix_compliance/posix_priority_test.cc
  starboard/raspi/shared/open_max/video_decoder.cc
Due: clang-format, cpplint

fix lint errros
  starboard/android/shared/media_codec_decoder.cc
  starboard/common/thread.cc
  starboard/raspi/shared/open_max/video_decoder.cc
Due: clang-format, cpplint

fix(ci): make Failed Tests step robust to missing XML results when pruned
  .github/workflows/main.yaml
Due: none

fix3
  cobalt/tools/on_device_tests_gateway_client.py
Due: yapf, pylint, python3-compatibility-check

Fix error
  cobalt/browser/cobalt_web_contents_observer.h
Due: clang-format, cpplint

Cherry pick PR #8774: Conditionally bind H5vccUpdater service (#10665)
  cobalt/browser/cobalt_browser_interface_binders.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_updater/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_updater/h_5_vcc_updater.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_updater/h_5_vcc_updater.h
  third_party/blink/renderer/modules/cobalt/h5vcc_updater/h_5_vcc_updater.idl
Due: clang-format, cpplint, gn-format

Mojo implementation for updater APIs (#8615)
  cobalt/browser/h5vcc_updater/h5vcc_updater_impl.cc
Due: clang-format, cpplint

feat(ci): implement CI Dry-Run framework using 'ci-dry-run' label
  .github/actions/build/action.yaml
  .github/actions/on_host_tests/action.yaml
  .github/workflows/main.yaml
Due: none

"Posix": Register ioctl (#10481)
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_ioctl_test.cc
  starboard/shared/modular/BUILD.gn
  starboard/shared/modular/cobalt_layer_posix_ioctl_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_ioctl_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_ioctl_abi_wrappers.h
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/api_leak_detector/evergreen/dev_manifest
  starboard/tools/api_leak_detector/evergreen/manifest
  third_party/musl/arch/generic/bits/ioctl_fix.h
  third_party/musl/include/sys/ioctl.h
  third_party/musl/src/starboard/include/syscall_arch.h
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check, gn-format

remove logs
  cobalt/app/app_event_delegate.cc
Due: clang-format, cpplint

include utility and fix includes order
  third_party/blink/renderer/modules/cobalt_modules_stubs.cc
Due: none

fix(ci): skip API leak detector during a dry-run
  .github/workflows/main.yaml
Due: none

Remove the libraries from the ignore list (#10691)
  starboard/tools/api_leak_detector/libraries_to_ignore
Due: none

cobalt: Fix EGL destruction crash on Shield (#10690)
  ui/gl/gl_context_egl.cc
Due: none

fix(ci): mock test targets list during a dry-run
  .github/actions/test_targets_json/action.yaml
Due: none

fix(ci): generate mock test logs during a dry-run
  .github/actions/on_host_tests/action.yaml
Due: none

fix 4
  .github/config/android-arm.json
  cobalt/tools/on_device_tests_gateway_client.py
Due: yapf, pylint, python3-compatibility-check

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
