Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)

media: Remove redundant checks and simplify code (#11583)
  media/starboard/starboard_renderer.cc
Due: clang-format, cpplint

devtools: Implement StorageHandler::GetStorageKey pure virtual in M139
  content/browser/devtools/protocol/storage_handler.cc
  content/browser/devtools/protocol/storage_handler.h
Due: none

devtools: Enable SerializeStorageKey under BUILDFLAG(IS_COBALT) in M139
  content/browser/devtools/protocol/storage_handler.cc
  content/browser/devtools/protocol/storage_handler.h
Due: none

android: Add RequestStop helper to send test completion signal (#11577)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/BaseStarboardBridge.java
  starboard/android/shared/base_starboard_bridge.cc
  starboard/android/shared/starboard_bridge.h
  starboard/android/shared/system_request_stop.cc
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

Clear GL error state in FAIL_INIT_IF_NOT macro for Cobalt.
  gpu/command_buffer/service/gles2_cmd_decoder_passthrough.cc
Due: none

Flush log real time
  cobalt/testing/browser_tests/run_browser_tests.py
Due: yapf, pylint, python3-compatibility-check

Add recurring debounced memory-pressure reclaim to CobaltWebContentsObserver
  cobalt/browser/cobalt_web_contents_observer.cc
  cobalt/browser/cobalt_web_contents_observer.h
Due: clang-format, cpplint

starboard: Add dlopen and dlsym to evergreen api leak manifests
  starboard/tools/api_leak_detector/evergreen/arm64_dev_manifest
  starboard/tools/api_leak_detector/evergreen/arm64_manifest
  starboard/tools/api_leak_detector/evergreen/arm_dev_manifest
  starboard/tools/api_leak_detector/evergreen/arm_manifest
  starboard/tools/api_leak_detector/evergreen/x64_dev_manifest
  starboard/tools/api_leak_detector/evergreen/x64_manifest
Due: none

Cherry pick PR #11583: media: Remove redundant checks and simplify code
  .github/AUTOROLL
  media/starboard/starboard_renderer.cc
Due: clang-format, cpplint

Cherry pick PR #11577: android: Add RequestStop helper to send test completion signal
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/BaseStarboardBridge.java
  starboard/android/shared/base_starboard_bridge.cc
  starboard/android/shared/starboard_bridge.h
  starboard/android/shared/system_request_stop.cc
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

media: Guard GetFallbackDeviceNameForType with !BUILDFLAG(USE_STARBOARD_MEDIA)
  media/audio/android/audio_manager_android.cc
Due: none

Add null checks for extension queries and run presentation callbacks on all frames.
  gpu/command_buffer/service/gles2_cmd_decoder_passthrough.cc
  gpu/command_buffer/service/gles2_cmd_decoder_passthrough.h
  third_party/blink/renderer/platform/widget/compositing/layer_tree_view.cc
  ui/gl/gl_implementation.cc
Due: none

Place include back in original location
  third_party/blink/renderer/modules/media_capabilities/media_capabilities.cc
Due: none

android: Remove unused function GetVideoWindowSize
  starboard/android/shared/video_window.cc
  starboard/android/shared/video_window.h
Due: clang-format, cpplint

starboard: Add dlerror, dlclose, dladdr to evergreen api leak manifests
  starboard/tools/api_leak_detector/evergreen/arm64_dev_manifest
  starboard/tools/api_leak_detector/evergreen/arm64_manifest
  starboard/tools/api_leak_detector/evergreen/arm_dev_manifest
  starboard/tools/api_leak_detector/evergreen/arm_manifest
  starboard/tools/api_leak_detector/evergreen/x64_dev_manifest
  starboard/tools/api_leak_detector/evergreen/x64_manifest
Due: none

Address review comments
  cobalt/testing/browser_tests/navigation_browsertest.cc
  content/browser/devtools/devtools_agent_host_impl_stub.cc
  third_party/blink/renderer/core/BUILD.gn
  third_party/blink/renderer/core/exported/BUILD.gn
Due: clang-format, cpplint

Restore the original comment
  services/network/network_context.h
Due: none

Prune fenced frame and Private state tokens
  content/browser/BUILD.gn
  services/network/BUILD.gn
Due: none

Gate Private state token and fenced frames
  content/browser/client_hints/client_hints.cc
  content/browser/renderer_host/ancestor_throttle.cc
  content/browser/renderer_host/frame_tree.cc
  content/browser/renderer_host/frame_tree_node.cc
  content/browser/renderer_host/frame_tree_node.h
  content/browser/renderer_host/navigation_request.cc
  content/browser/renderer_host/navigation_request.h
  content/browser/renderer_host/page_impl.h
  content/browser/renderer_host/render_frame_host_impl.cc
  content/browser/renderer_host/render_frame_host_impl.h
  services/network/cors/cors_url_loader.cc
  services/network/network_context.cc
  services/network/network_context.h
  services/network/network_service.cc
  services/network/network_service.h
  services/network/oblivious_http_request_handler.cc
  services/network/oblivious_http_request_handler.h
  services/network/url_loader.cc
  services/network/url_loader.h
  services/network/url_loader_factory.cc
Due: none

remove CHROMIUM_MILESTONE_LE_138
  content/browser/client_hints/client_hints.cc
  content/browser/renderer_host/ancestor_throttle.cc
  content/browser/renderer_host/frame_tree.cc
  content/browser/renderer_host/frame_tree_node.cc
  content/browser/renderer_host/frame_tree_node.h
  content/browser/renderer_host/navigation_request.cc
  content/browser/renderer_host/navigation_request.h
  content/browser/renderer_host/page_impl.h
  content/browser/renderer_host/render_frame_host_impl.cc
  content/browser/renderer_host/render_frame_host_impl.h
  services/network/cors/cors_url_loader.cc
  services/network/network_context.cc
  services/network/network_context.h
  services/network/network_service.cc
  services/network/network_service.h
  services/network/oblivious_http_request_handler.cc
  services/network/oblivious_http_request_handler.h
  services/network/url_loader.cc
  services/network/url_loader.h
  services/network/url_loader_factory.cc
Due: none

Fix build error after rebase
  services/network/url_loader.h
Due: none

Fix test build error
  cobalt/testing/browser_tests/navigation_browsertest.cc
  cobalt/testing/browser_tests/site_per_process_browsertest.cc
  cobalt/testing/browser_tests/web_contents_impl_browsertest.cc
  content/public/test/test_renderer_host.h
  content/test/BUILD.gn
  content/test/test_render_frame_host.cc
  content/test/test_render_frame_host.h
Due: clang-format, cpplint

Add br tests to ensure fensed frames and private tokens are disabled
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/browser_tests/privacy_sandbox_disabled_browsertest.cc
  content/child/runtime_features.cc
Due: clang-format, cpplint, gn-format

Fix GL_INVALID_ENUM mock expectations in TestHelper for non-ES3 contexts.
  gpu/command_buffer/service/test_helper.cc
Due: none

cobalt: Remove weak symbol attribute from SbEventHandle
  cobalt/app/sb_event_handle.cc
Due: clang-format, cpplint

Fix Android V8 snapshot build and add ANGLE TLS symbols to Evergreen manifests
  content/browser/v8_snapshot_files.cc
  starboard/tools/api_leak_detector/evergreen/arm64_dev_manifest
  starboard/tools/api_leak_detector/evergreen/arm64_manifest
  starboard/tools/api_leak_detector/evergreen/arm_dev_manifest
  starboard/tools/api_leak_detector/evergreen/arm_manifest
  starboard/tools/api_leak_detector/evergreen/x64_dev_manifest
  starboard/tools/api_leak_detector/evergreen/x64_manifest
Due: none

Add GetError() expectation in GPUInfoCollectorTest for non-ES3 contexts.
  gpu/config/gpu_info_collector_unittest.cc
Due: none

cobalt: Clean up CommandLinePreprocessor (#11409)
  cobalt/app/cobalt_switch_defaults.cc
Due: clang-format, cpplint

cobalt: Adjust mocked functions in MockShellPlatformDelegate (#11435)
  cobalt/shell/browser/shell_platform_delegate.h
  cobalt/shell/browser/shell_test_support.h
  cobalt/testing/filters/tvos-arm64-simulator/cobalt_unittests_filter.json
Due: clang-format, cpplint

Cherry pick PR #11409: cobalt: Clean up CommandLinePreprocessor
  .github/AUTOROLL
  cobalt/app/cobalt_switch_defaults.cc
Due: clang-format, cpplint

Cherry pick PR #11435: cobalt: Adjust mocked functions in MockShellPlatformDelegate
  .github/AUTOROLL
  cobalt/shell/browser/shell_platform_delegate.h
  cobalt/shell/browser/shell_test_support.h
  cobalt/testing/filters/tvos-arm64-simulator/cobalt_unittests_filter.json
Due: clang-format, cpplint

feat: Enable system libcurl for crashpad in cobalt
  starboard/build/config/base_configuration.gni
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/platform_configuration/configuration.gni
  starboard/linux/shared/platform_configuration/configuration.gni
  third_party/crashpad/crashpad/util/BUILD.gn
  third_party/crashpad/crashpad/util/net/http_transport_libcurl.cc
  third_party/crashpad/crashpad/util/net/tls.gni
Due: gn-format

android: Remove unused GetVideoWindowSize (#11634)
  starboard/android/shared/video_window.cc
  starboard/android/shared/video_window.h
Due: clang-format, cpplint

starboard: Replace URL player config macro with tvOS buildflag
  media/starboard/sbplayer_bridge.cc
  media/starboard/sbplayer_bridge.h
  media/starboard/sbplayer_interface.cc
  media/starboard/sbplayer_interface.h
  media/starboard/starboard_renderer_unittest.cc
  starboard/nplb/url_player_create_test.cc
  starboard/tvos/shared/configuration_public.h
Due: clang-format, cpplint

starboard: Use common AlignUp implementation from pointer_arithmetic.h
  starboard/android/shared/player_components_factory.cc
  starboard/shared/ffmpeg/ffmpeg_video_decoder_impl.cc
  starboard/shared/starboard/media/media_util.cc
  starboard/shared/starboard/media/media_util.h
  starboard/shared/starboard/player/filter/audio_renderer_sink_impl.cc
Due: clang-format, cpplint

Check GetGLImplementation() == kGLImplementationEGLANGLE in GetRequestableGLExtensionsFromCurrentContext.
  ui/gl/gl_implementation.cc
Due: none

Fix CHROMIUM_MILESTONE_LE_138
  content/browser/renderer_host/navigation_request.cc
  content/browser/renderer_host/page_impl.h
  content/browser/renderer_host/render_frame_host_impl.cc
Due: none
