Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, internal-file-check, gn-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^internal/starboard/shared/uikit/.*\.h$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  yapf: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  pylint: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  google-java-format: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gcheckstyle: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not ((?x)^(
    .pre-commit-config.yaml$|
    cobalt/media/|
    cobalt/layout_tests/testdata/|
    nb/|
    starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.cc$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.h$|
    starboard/shared/starboard/player/filter/wsola_internal.cc$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  check-if-starboard-interface-changed: any of: ^starboard/[^/]+\.h$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  test-python3-compatibility: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  internal-file-check: any of: not ((^docker-compose-windows(-internal)?.yml|EXCLUDE\.FILES(\.RECURSIVE)?|codereview\.settings)$), but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gn-format: any of: .*\.gni?$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)


[android] Avoid underrun if audio output changes (#1737)
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Cherry pick PR #1737: [android] Avoid underrun if audio output changes (#1823)
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

[android] Remove AudioTrack creation loop (#1770)
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
Due: google-java-format, gcheckstyle, check-copyright-year, internal-file-check

[NX] Fix bundle content steps for modular builds (#1822)
  starboard/build/config/bundle_content.gni
Due: check-copyright-year, internal-file-check, gn-format

[XB1] Add support for extended interface of AbstractLauncher. (#915)
  starboard/tools/abstract_launcher.py
  starboard/tools/testing/test_runner.py
  starboard/xb1/launcher.py
  starboard/xb1/tools/xb1_launcher.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Cherry pick PR #1806: [XB1] Fix non-internal builds (#1814)
  starboard/shared/uwp/extended_resources_manager.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Cherry pick PR #357: Add synchronization to wait extended resources acquiring (#1298)
  starboard/shared/starboard/player/filter/testing/test_util.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Fix install path error (#1824)
  starboard/build/config/BUILDCONFIG.gn
Due: check-copyright-year, internal-file-check, gn-format

Use -std=c++17 in android GN configuration
  starboard/android/shared/platform_configuration/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Fix bug in rdk launcher.py (#1821)
  starboard/rdk/launcher.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Add NetLog record method to Cobalt panel in Devtools (#1798)
  cobalt/browser/idl_files.gni
  cobalt/h5vcc/BUILD.gn
  cobalt/h5vcc/h5vcc.cc
  cobalt/h5vcc/h5vcc.h
  cobalt/h5vcc/h5vcc.idl
  cobalt/h5vcc/h5vcc_net_log.cc
  cobalt/h5vcc/h5vcc_net_log.h
  cobalt/h5vcc/h5vcc_net_log.idl
  cobalt/network/cobalt_net_log.cc
  cobalt/network/cobalt_net_log.h
  cobalt/network/network_module.cc
  cobalt/network/network_module.h
  third_party/devtools/front_end/cobalt/cobalt.js
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Cherry pick PR #1798: Add NetLog record method to Cobalt panel in Devtools (#1828)
  cobalt/browser/idl_files.gni
  cobalt/h5vcc/BUILD.gn
  cobalt/h5vcc/h5vcc.cc
  cobalt/h5vcc/h5vcc.h
  cobalt/h5vcc/h5vcc.idl
  cobalt/h5vcc/h5vcc_net_log.cc
  cobalt/h5vcc/h5vcc_net_log.h
  cobalt/h5vcc/h5vcc_net_log.idl
  cobalt/network/cobalt_net_log.cc
  cobalt/network/cobalt_net_log.h
  cobalt/network/network_module.cc
  cobalt/network/network_module.h
  third_party/devtools/front_end/cobalt/cobalt.js
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Revert "[android] Remove AudioTrack creation loop (#1770)"
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
Due: google-java-format, gcheckstyle, check-copyright-year, internal-file-check

[XB1] Release DX extended resources before Cobalt exit
  starboard/shared/starboard/application.cc
  starboard/shared/uwp/application_uwp.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

[XB1] Release DX extended resources before Cobalt exit
  starboard/shared/uwp/application_uwp.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Update LTS minor version to 14
  cobalt/version.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

[XB1] Add required arg to function call
  starboard/tools/testing/test_runner.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Update LTS minor version to 14 (#1833)
  cobalt/version.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Revert "[android] Remove AudioTrack creation loop" (#1830)
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
Due: google-java-format, gcheckstyle, check-copyright-year, internal-file-check

Give required arg a default value
  starboard/tools/testing/test_runner.py
  starboard/xb1/tools/xb1_launcher.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Starboardize internal Timer class in GTEST
  third_party/googletest/src/googletest/src/gtest.cc
Due: none

Clean up implementation
  third_party/googletest/src/googletest/src/gtest.cc
Due: none

Starboardize internal Timer class in GTEST (#1836)
  third_party/googletest/src/googletest/src/gtest.cc
Due: none

[nplb] Re-enable win-win32 media tests
  starboard/shared/win32/video_decoder.cc
  starboard/win/win32/test_filters.py
Due: clang-format, cpplint, yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Fix data_deps in modular loader executable install
  starboard/build/config/BUILDCONFIG.gn
Due: check-copyright-year, internal-file-check, gn-format

Perma-launch Client Hint Headers
  cobalt/h5vcc/h5vcc_settings.cc
  cobalt/network/network_module.cc
  cobalt/network/network_module.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

DNS: Try work around application_x11.cc
  starboard/shared/x11/application_x11.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Update BUILD.gn
  starboard/linux/shared/platform_configuration/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

[android] Improve multi-encrypted-video demo
  cobalt/demos/content/multi-encrypted-video/multi-encrypted-video.html
  cobalt/demos/content/multi-encrypted-video/multi-encrypted-video.js
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecUtil.java
  starboard/android/shared/media_capabilities_cache.cc
  starboard/android/shared/media_capabilities_cache.h
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_is_audio_supported.cc
  starboard/android/shared/player_components_factory.h
Due: clang-format, cpplint, google-java-format, gcheckstyle, check-copyright-year, internal-file-check

Perma-launch Client Hint Headers (#1839)
  cobalt/h5vcc/h5vcc_settings.cc
  cobalt/network/network_module.cc
  cobalt/network/network_module.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Disable 'register' warning
  starboard/linux/x64x11/shared/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Fix OOB write in BuildHuffmanTable.
  third_party/libwebp/src/dec/vp8l_dec.c
  third_party/libwebp/src/dec/vp8li_dec.h
  third_party/libwebp/src/utils/huffman_utils.c
  third_party/libwebp/src/utils/huffman_utils.h
Due: none

Cherry pick PR #1839: Perma-launch Client Hint Headers (#1842)
  cobalt/h5vcc/h5vcc_settings.cc
  cobalt/network/network_module.cc
  cobalt/network/network_module.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Fix data_deps in modular loader executable install (#1838)
  starboard/build/config/BUILDCONFIG.gn
Due: check-copyright-year, internal-file-check, gn-format
