Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==17.0.1

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

Add flag for temporary, hacky cobalt changes (#4755)
  build/build_config.h
  cobalt/build/configs/BUILD.gn
  cobalt/build/configs/hacks.gni
Due: gn-format

Migrate class MediaCodecBridge$GetOutputFormatResult to jni_generator (#4759)
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
Due: clang-format, google-java-format, gcheckstyle, gn-format

Migrate JNI to jni_generator for class CobaltTextToSpeechHelper (#4710)
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltTextToSpeechHelper.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/accessibility_get_text_to_speech_settings.cc
  starboard/android/shared/speech_synthesis_cancel.cc
  starboard/android/shared/speech_synthesis_internal.cc
  starboard/android/shared/speech_synthesis_speak.cc
  starboard/android/shared/starboard_bridge.cc
  starboard/android/shared/starboard_bridge.h
Due: clang-format, google-java-format, gcheckstyle, gn-format

Merge Ozone prototype commits into main (#4727)
  cobalt/cobalt.cc
  gpu/config/gpu_util.cc
  mojo/core/test/BUILD.gn
  starboard/shared/linux/system_network_status.cc
  starboard/testing/run_all_unittests_starboard.cc
  ui/ozone/platform/starboard/BUILD.gn
  ui/ozone/platform/starboard/gl_ozone_egl_starboard.cc
  ui/ozone/platform/starboard/gl_ozone_egl_starboard.h
  ui/ozone/platform/starboard/ozone_platform_starboard.cc
  ui/ozone/platform/starboard/platform_event_source_starboard.cc
  ui/ozone/platform/starboard/platform_event_source_starboard.h
  ui/ozone/platform/starboard/platform_screen_starboard.cc
  ui/ozone/platform/starboard/platform_window_starboard.cc
  ui/ozone/platform/starboard/platform_window_starboard.h
  ui/ozone/platform/starboard/surface_factory_starboard.cc
  ui/ozone/platform/starboard/test/platform_window_starboard_unittest.cc
  ui/ozone/platform/starboard/test/starboard_test_helper.h
  ui/ozone/platform/starboard/test/surface_factory_starboard_unittest.cc
Due: clang-format

Bringing the Cobalt 25 Starboard message pump. (#4767)
  base/message_loop/message_pump_ui_starboard.cc
  base/message_loop/message_pump_ui_starboard.h
Due: none

Remove unused idl files (#4762)
  third_party/blink/renderer/modules/cobalt/crash_annotator/window_crash_annotator.idl
Due: none

Rename CrashAnnotatorService as CrashAnnotatorImpl (#4768)
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_interface_binders.cc
  cobalt/browser/crash_annotator/BUILD.gn
  cobalt/browser/crash_annotator/crash_annotator_impl.cc
  cobalt/browser/crash_annotator/crash_annotator_impl.h
  cobalt/browser/crash_annotator/public/mojom/BUILD.gn
  cobalt/browser/crash_annotator/public/mojom/crash_annotator.mojom
  third_party/blink/renderer/modules/cobalt/crash_annotator/BUILD.gn
  third_party/blink/renderer/modules/cobalt/crash_annotator/crash_annotator.cc
  third_party/blink/renderer/modules/cobalt/crash_annotator/crash_annotator.h
  third_party/blink/web_tests/external/wpt/cobalt/crash-annotator/README.md
  third_party/blink/web_tests/external/wpt/cobalt/crash-annotator/resources/automation.js
  third_party/blink/web_tests/external/wpt/resources/chromium/cobalt/fake-crash-annotator-impl.js
Due: clang-format, gn-format

Make is_starboard a global variable (#4774)
  build/config/ozone_extra.gni
  cobalt/build/configs/cobalt.gni
  cobalt/build/configs/initialize_variables.gni
  mojo/core/test/BUILD.gn
  starboard/android/arm/toolchain/BUILD.gn
  starboard/android/arm64/toolchain/BUILD.gn
Due: gn-format

Fix test expectations after change to Angle (#4773)
  ui/ozone/platform/starboard/test/surface_factory_starboard_unittest.cc
Due: none

Package Cobalt for Linux (#4760)
  cobalt/build/linux/package.py
  cobalt/devinfra/kokoro/bin/common.sh
Due: yapf, pylint, python3-compatibility-check

Add H5vccSystem web interface, set it as window.h5vcc.system (#4763)
  .pre-commit-config.yaml
  third_party/blink/renderer/bindings/generated_in_modules.gni
  third_party/blink/renderer/bindings/idl_in_modules.gni
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/cobalt/crash_annotator/crash_annotator.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_system/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_system/h_5_vcc_system.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_system/h_5_vcc_system.h
  third_party/blink/renderer/modules/cobalt/h5vcc_system/h_5_vcc_system.idl
  third_party/blink/renderer/modules/cobalt/h_5_vcc.cc
  third_party/blink/renderer/modules/cobalt/h_5_vcc.h
  third_party/blink/web_tests/external/wpt/cobalt/h5vcc-system/h5vcc-system.https.sub.html
Due: none

Add Chromedriver binaries to Linux builds (#4778)
  .github/config/chromium_linux.json
  .github/config/linux.json
Due: none

Stop building webview in CI (#4781)
  .github/config/android-arm.json
  .github/config/android-arm64.json
  .github/config/android-x86.json
Due: none

Add flag to ignore gpu blocklist for Cobalt (#4782)
  cobalt/cobalt.cc
  gpu/config/gpu_util.cc
Due: clang-format

Embed v8 snapshot blob in built binary (#4775)
  cobalt/build/configs/android_common.gn
  gin/BUILD.gn
Due: gn-format

Add ozone_unittests target to be build and run on CI (#4783)
  cobalt/build/testing/targets/linux-x64x11/test_targets.json
  ui/ozone/platform/starboard/test/platform_window_starboard_unittest.cc
  ui/ozone/platform/starboard/test/starboard_test_helper.h
Due: none

Fix typo in vertical video tests (#4784) (#4788)
  starboard/nplb/vertical_video_test.cc
Due: clang-format

Link angle statically (#4789)
  cobalt/build/configs/linux-x64x11/args.gn
Due: gn-format

Add check-json to pre-commit (#4792)
  .github/actions/build/action.yaml
  .pre-commit-config.yaml
Due: none

Package Cobalt for Android
  cobalt/build/android/package.py
  cobalt/devinfra/kokoro/bin/common.sh
Due: yapf, pylint, python3-compatibility-check

Extract common packaging code
  cobalt/build/android/package.py
  cobalt/build/linux/package.py
  cobalt/build/packaging.py
  cobalt/devinfra/kokoro/bin/common.sh
Due: yapf, pylint, python3-compatibility-check

Remove artifact upload due to failure (#4802)
  .github/workflows/scorecards.yaml
Due: none

Remove COBALT_MEDIA_ENABLE_SIDE_DATA (#4801)
  media/starboard/BUILD.gn
  media/starboard/sbplayer_bridge.cc
Due: clang-format, gn-format

Refactor release packaging (#4804)
  cobalt/build/android/package.py
  cobalt/build/linux/package.py
  cobalt/devinfra/kokoro/bin/common.sh
  cobalt/devinfra/kokoro/build/android/simple_packager.py
  cobalt/devinfra/kokoro/build/evergreen/simple_packager.py
Due: yapf, pylint, python3-compatibility-check

Add proguard rules to avoid stripping JNI-needed symbols (#4780)
  cobalt/android/apk/app/proguard-rules.pro
Due: none

Revert commit 4edeeef8
  cobalt/build/android/package.py
  cobalt/build/linux/package.py
  cobalt/devinfra/kokoro/bin/common.sh
  cobalt/devinfra/kokoro/build/android/simple_packager.py
  cobalt/devinfra/kokoro/build/evergreen/simple_packager.py
Due: yapf, pylint, python3-compatibility-check

Add on-device tests (#4739)
  .github/actions/on_device_tests/action.yaml
  .github/actions/on_host_tests/action.yaml
  .github/actions/process_test_results/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
  .github/config/android-arm.json
  .github/config/chromium_android-arm.json
  .github/config/chromium_android-arm64.json
  .github/config/chromium_android-x86.json
  .github/workflows/main.yaml
  cobalt/build/archive_test_artifacts.py
  cobalt/build/testing/targets/android-arm/test_targets.json
  cobalt/build/testing/targets/linux-x64x11/test_targets.json
  cobalt/testing/filters/android-arm/sql_unittests_filter.json
  cobalt/tools/on_device_tests_gateway.proto
  cobalt/tools/on_device_tests_gateway_client.py
  cobalt/tools/requirements.in
  cobalt/tools/requirements.txt
Due: yapf, pylint, python3-compatibility-check

Don't apply /*FALLTHROUGH*/ edit to gperf 3.2 output
  third_party/blink/renderer/build/scripts/gperf.py
Due: none

Update CODEOWNERS for Chrobalt
  .github/CODEOWNERS
Due: none

Update the Starboard CHANGELOG.md (#4181)
  starboard/CHANGELOG.md
Due: none

starboard/types.h: Replace kSbInt32Max with std::numeric_limits equivalents (#4187)
  starboard/shared/posix/storage_write_record.cc
  starboard/shared/starboard/file_atomic_replace_write_file.cc
  starboard/shared/starboard/file_storage/storage_read_record.cc
  starboard/shared/starboard/localized_strings.cc
  starboard/types.h
Due: clang-format

Add BUILD_STATUS.md to Chrobalt. (#4192)
  chrobalt/BUILD_STATUS.md
Due: none

Add nightly trigger workflows (#4203)
  .github/workflows/nightly_trigger.yaml
  .github/workflows/nightly_trigger_24.lts.1+.yaml
  .github/workflows/nightly_trigger_25.lts.1+.yaml
Due: none

Update README.md (#4196)
  README.md
Due: none

Update README.md (#4208)
  README.md
Due: none

starboard/types.h: Remove unused kSbInt64Min, kSbUInt64Max (#4200)
  starboard/types.h
Due: clang-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  yapf: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  pylint: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  python3-compatibility-check: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  google-java-format: any of: \.java$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java
)
) and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  gn-format: any of: .*\.gni?$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

