Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, run-py2-tests, internal-file-check, gn-format

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  description: Run yapf (the python formatter) in-place on changed files.
  entry: yapf
  language: system
  args:
  - -i
  - -vv

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: python ./precommit_hooks/clang_format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: python ./precommit_hooks/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: Lint Java With gcheckstyle
  entry: python ./precommit_hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-copyright-year:
  name: check copyright year
  entry: python ./precommit_hooks/check_copyright_year.py
  language: python
  stages:
  - push

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: python ./precommit_hooks/warn_that_starboard_interface_changed_wrapper.py
  language: python
  stages:
  - push

test-python3-compatibility:
  name: Test Python 3 Compatibility
  description: Checks that scripts can be run in Python 3
  entry: python precommit_hooks/python3_check.py
  language: python
  verbose: true

run-py2-tests:
  name: Run Python 2 Tests
  description: Run Python 2 unittests
  entry: python precommit_hooks/run_python2_unittests.py
  language: python
  language_version: python2
  additional_dependencies:
  - mock

internal-file-check:
  name: Internal File Check
  entry: python precommit_hooks/internal_file_check_wrapper.py
  language: python

gn-format:
  name: GN format
  entry: gn format
  language: system

[XB1] Fix memory leak in GetDirectXForHardwareDecoding
  starboard/shared/win32/dx_context_video_decoder.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Add SB_MODULAR_BUILD to starboard/configuration.h
  starboard/CHANGELOG.md
  starboard/android/shared/android_main.cc
  starboard/android/shared/application_android.cc
  starboard/android/shared/application_android.h
  starboard/configuration.h
  starboard/contrib/linux/stadia/main.cc
  starboard/event.h
  starboard/linux/x64x11/main.cc
  starboard/raspi/shared/application_dispmanx.h
  starboard/raspi/shared/main.cc
  starboard/shared/starboard/application.cc
  starboard/shared/starboard/application.h
  starboard/shared/starboard/queue_application.h
  starboard/shared/win32/application_win32.cc
  starboard/shared/win32/application_win32.h
  starboard/shared/win32/starboard_main.cc
  starboard/shared/x11/application_x11.cc
  starboard/shared/x11/application_x11.h
  starboard/stub/application_stub.cc
  starboard/stub/application_stub.h
  starboard/stub/main.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Define native_target toolchain for x64x11 variants
  starboard/linux/x64x11/egl/toolchain/BUILD.gn
  starboard/linux/x64x11/skia/toolchain/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Split starboard/atomic.h to separate C and C++ headers
  .pre-commit-config.yaml
  cobalt/browser/memory_tracker/tool/malloc_logger_tool.cc
  cobalt/browser/memory_tracker/tool/malloc_logger_tool.h
  cobalt/browser/web_module.h
  cobalt/media/decoder_buffer_allocator.h
  cobalt/updater/configurator.h
  cobalt/watchdog/watchdog.h
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
  cobalt/worker/service_worker_object.h
  nb/analytics/memory_tracker_helpers.h
  nb/concurrent_ptr.h
  nb/concurrent_ptr_test.cc
  nb/simple_thread.h
  nb/thread_local_object_test.cc
  starboard/CHANGELOG.md
  starboard/android/shared/media_decoder.h
  starboard/atomic.h
  starboard/common/atomic.h
  starboard/common/thread.cc
  starboard/configuration.h
  starboard/nplb/atomic_base_test.cc
  starboard/nplb/atomic_test.cc
  starboard/nplb/player_test_util.cc
  starboard/nplb/player_write_sample_test.cc
  starboard/nplb/thread_sampler_test.cc
  starboard/nplb/thread_test.cc
  starboard/shared/pulse/pulse_audio_sink_type.cc
  starboard/shared/starboard/link_receiver.cc
  starboard/shared/starboard/net_log.cc
  starboard/shared/starboard/player/filter/audio_renderer_internal_pcm.h
  starboard/shared/starboard/player/filter/punchout_video_renderer_sink.h
  starboard/shared/starboard/player/filter/video_renderer_internal_impl.h
  starboard/shared/widevine/drm_system_widevine.h
  starboard/shared/win32/audio_decoder_thread.h
  starboard/shared/win32/socket_internal.h
  third_party/angle/src/common/angle_hdr.cpp
Due: cpplint, cpplint_test, clang-format, check-copyright-year, internal-file-check

Ensure NavItem is disabled before destruction
  cobalt/ui_navigation/nav_item.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

[android] Fix SbPlayerTest.MultiPlayer failures
  starboard/android/shared/player_create.cc
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
  starboard/shared/starboard/player/player_internal.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Enable the evergreen_tests.
  starboard/evergreen/testing/run_all_tests.sh
Due: check-copyright-year, internal-file-check

Start registered service worker before navigate.
  cobalt/browser/browser_module.cc
  cobalt/browser/service_worker_registry.cc
  cobalt/browser/service_worker_registry.h
  cobalt/cache/cache.cc
  cobalt/web/cache.cc
  cobalt/web/cache_utils.cc
  cobalt/worker/fetch_event.cc
  cobalt/worker/fetch_event.h
  cobalt/worker/service_worker_global_scope.cc
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
  cobalt/worker/service_worker_registration_map.cc
  cobalt/xhr/xml_http_request.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Make sure unzipped files are flushed to storage.
  third_party/zlib/google/zip_reader.cc
  third_party/zlib/google/zip_reader.h
  third_party/zlib/google/zip_reader_unittest.cc
Due: none

[android] Add a lookup table for max output buffers
  starboard/android/shared/BUILD.gn
  starboard/android/shared/max_output_buffers_lookup_table.cc
  starboard/android/shared/max_output_buffers_lookup_table.h
  starboard/android/shared/media_is_video_supported.cc
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check, gn-format

[player] Refine VideoDmpReader::video_stream_info()
  starboard/shared/starboard/player/video_dmp_reader.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Remove redundant SB_DCHECK
  starboard/android/shared/video_decoder.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Clamp scroll animation to sane values
  cobalt/ui_navigation/scroll_engine/scroll_engine.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Respect pointer-events: none in scroll engine
  cobalt/layout/topmost_event_target.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Fix WaitForAsynchronousExtensions
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Support activation of multiple service workers.
  cobalt/browser/service_worker_registry.cc
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
  cobalt/worker/service_worker_registration_object.cc
  cobalt/worker/service_worker_registration_object.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Fix heap use after free when shutting down during fetch intercept.
  cobalt/loader/fetch_interceptor_coordinator.cc
  cobalt/loader/fetch_interceptor_coordinator.h
  cobalt/loader/net_fetcher.cc
  cobalt/loader/net_fetcher.h
  cobalt/worker/fetch_event.cc
  cobalt/worker/fetch_event.h
  cobalt/worker/service_worker_global_scope.cc
  cobalt/worker/service_worker_global_scope.h
  cobalt/xhr/xml_http_request.cc
  cobalt/xhr/xml_http_request.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

[android] Report error on null output buffer
  starboard/android/shared/audio_decoder.cc
  starboard/android/shared/audio_decoder.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Clarify that SbLog/SbLogRaw must not be called with NULL message.
  starboard/log.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Clarify that SbUiNavGetInterface should not be called with NULL.
  starboard/ui_navigation.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Clarify the non-null parameters for SbSystemGetExtension and SbSystemSignWithCertificationSecretKey.
  starboard/system.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Extend lifetime of promises and ExtendableEvent until promises have all resolved.
  cobalt/worker/extendable_event.cc
  cobalt/worker/extendable_event.h
  cobalt/worker/extendable_event.idl
  cobalt/worker/extendable_message_event.cc
  cobalt/worker/extendable_message_event.h
  cobalt/worker/extendable_message_event.idl
  cobalt/worker/fetch_event.cc
  cobalt/worker/service_worker_jobs.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Add a SetupFinished to explicitly signal when a web::Context is ready.
  cobalt/audio/audio_node_input_output_test.cc
  cobalt/browser/web_module.cc
  cobalt/dom/navigator_licenses_test.cc
  cobalt/dom/testing/stub_window.h
  cobalt/web/agent.cc
  cobalt/web/context.h
  cobalt/web/testing/stub_web_context.h
  cobalt/websocket/web_socket_impl_test.cc
  cobalt/worker/service_worker_object.cc
  cobalt/worker/testing/test_with_javascript.h
  cobalt/worker/worker.cc
Due: cpplint, cpplint_test, clang-format, check-copyright-year, internal-file-check

Fix ExtendableMessageEventTest.
  cobalt/worker/extendable_message_event_test.cc
  cobalt/worker/testing/test_with_javascript.h
Due: cpplint, cpplint_test, clang-format, check-copyright-year, internal-file-check

Clarify the decode_target.h and image.h documentation.
  starboard/decode_target.h
  starboard/image.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Update SSL certs.
  cobalt/content/ssl/certs/5273a94c.0
  cobalt/network/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Create first-pass Cobalt Console Images for VS2022
  docker-compose-windows.yml
  docker/windows/base/visualstudio2022/Dockerfile
Due: check-copyright-year, internal-file-check

H5vccStorage ClearCache Fix
  cobalt/black_box_tests/testdata/service_worker_cache_keys_test.html
  cobalt/black_box_tests/testdata/service_worker_controller_activation_test_script.js
  cobalt/black_box_tests/testdata/service_worker_csp_test.html
  cobalt/black_box_tests/testdata/service_worker_fetch_test.html
  cobalt/black_box_tests/testdata/service_worker_get_registrations_test.html
  cobalt/black_box_tests/testdata/service_worker_message_test.html
  cobalt/black_box_tests/testdata/service_worker_persist_test_script.js
  cobalt/black_box_tests/testdata/service_worker_test_script.js
  cobalt/cache/cache.cc
  cobalt/h5vcc/BUILD.gn
  cobalt/h5vcc/h5vcc_storage.cc
  cobalt/h5vcc/h5vcc_storage.h
  cobalt/h5vcc/h5vcc_storage.idl
  cobalt/worker/service_worker_consts.cc
  cobalt/worker/service_worker_consts.h
  cobalt/worker/service_worker_persistent_settings.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check, gn-format

Fix memory leak in scroll engine
  cobalt/ui_navigation/scroll_engine/scroll_engine.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Don't listen to new scroll requests during active scroll
  cobalt/ui_navigation/scroll_engine/scroll_engine.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Run persisted ServiceWorker
  cobalt/black_box_tests/testdata/service_worker_test_persisted_worker.js
  cobalt/browser/browser_module.cc
  cobalt/browser/service_worker_registry.cc
  cobalt/browser/service_worker_registry.h
  cobalt/layout_tests/web_platform_tests.cc
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
  cobalt/worker/service_worker_persistent_settings.cc
  cobalt/worker/service_worker_persistent_settings.h
  cobalt/worker/service_worker_registration_object.cc
  cobalt/worker/service_worker_registration_object.h
Due: cpplint, cpplint_test, clang-format, check-copyright-year, internal-file-check

Cancel free scroll when it is manually set
  cobalt/browser/web_module.cc
  cobalt/dom/html_element.cc
  cobalt/dom/testing/stub_window.h
  cobalt/dom/window.cc
  cobalt/dom/window.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Move Evergreen platform-specific ldflags to config
  starboard/evergreen/arm/hardfp/platform_configuration/BUILD.gn
  starboard/evergreen/arm/hardfp/toolchain/BUILD.gn
  starboard/evergreen/arm/softfp/platform_configuration/BUILD.gn
  starboard/evergreen/arm/softfp/toolchain/BUILD.gn
  starboard/evergreen/arm64/platform_configuration/BUILD.gn
  starboard/evergreen/arm64/toolchain/BUILD.gn
  starboard/evergreen/x64/platform_configuration/BUILD.gn
  starboard/evergreen/x64/toolchain/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

[BG] Avoid player creation of audioless content in background mode
  cobalt/media/base/sbplayer_pipeline.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

[media] Remove version suffixes from SbPlayer functions
  cobalt/media/base/sbplayer_bridge.cc
  cobalt/media/base/sbplayer_interface.cc
  cobalt/media/base/sbplayer_interface.h
  starboard/CHANGELOG.md
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/media_set_audio_write_duration_test.cc
  starboard/nplb/player_write_sample_test.cc
  starboard/player.h
  starboard/shared/starboard/player/buildfiles.gni
  starboard/shared/starboard/player/player_get_info.cc
  starboard/shared/starboard/player/player_internal.cc
  starboard/shared/starboard/player/player_internal.h
  starboard/shared/starboard/player/player_seek.cc
  starboard/shared/stub/player_get_info.cc
  starboard/shared/stub/player_seek.cc
  starboard/stub/BUILD.gn
Due: cpplint, cpplint_test, clang-format, check-copyright-year, internal-file-check, gn-format

[media] Remove redundant descriptions
  starboard/CHANGELOG.md
Due: internal-file-check

Remove unsed speech_recognizer code.
  starboard/shared/starboard/speech_recognizer/speech_recognizer_cancel.cc
  starboard/shared/starboard/speech_recognizer/speech_recognizer_create.cc
  starboard/shared/starboard/speech_recognizer/speech_recognizer_destroy.cc
  starboard/shared/starboard/speech_recognizer/speech_recognizer_internal.h
  starboard/shared/starboard/speech_recognizer/speech_recognizer_is_supported.cc
  starboard/shared/starboard/speech_recognizer/speech_recognizer_start.cc
  starboard/shared/starboard/speech_recognizer/speech_recognizer_stop.cc
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Remove the sb_evergreen_compatible_enable_lite flag.
  starboard/android/shared/BUILD.gn
  starboard/build/config/BUILD.gn
  starboard/build/config/base_configuration.gni
  starboard/build/config/build_assertions.gni
  starboard/build/doc/migration_changes.md
  starboard/linux/shared/BUILD.gn
  starboard/loader_app/BUILD.gn
  starboard/nplb/nplb_evergreen_compat_tests/BUILD.gn
  starboard/raspi/shared/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Rewrite cache.match() to carefully manage the traced references.
  cobalt/web/cache.cc
  cobalt/web/cache_utils.cc
  cobalt/web/cache_utils.h
Due: cpplint, clang-format, check-copyright-year, internal-file-check

Remove the icu_test from nplb_evergreen_compat_tests.
  starboard/nplb/nplb_evergreen_compat_tests/BUILD.gn
  starboard/nplb/nplb_evergreen_compat_tests/icu_test.cc
Due: cpplint_test, clang-format, check-copyright-year, internal-file-check, gn-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((^cobalt/bindings/(templates|generated)/|tests?.(cc|h)$)) and not (^(base|build|testing|third_party|tools/gyp)/)
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^(base|build|testing|third_party|tools/gyp)/)
  yapf: any of: \.py$ and not (\.gypi?$) and not (^(base|build|testing|third_party|tools/gyp)/)
  pylint: any of: \.py$ and not (\.gypi?$) and not (^(base|build|testing|third_party|tools/gyp)/)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(base|build|testing|third_party|tools/gyp)/
  google-java-format: any of: \.java$, but not: ^(base|build|testing|third_party|tools/gyp)/
  gcheckstyle: any of: \.java$, but not: ^(base|build|testing|third_party|tools/gyp)/
  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not (^cobalt/layout_tests/testdata/) and not (^(base|build|testing|third_party|tools/gyp)/)
  check-if-starboard-interface-changed: any of: ^starboard/*.h$, but not: ^(base|build|testing|third_party|tools/gyp)/
  test-python3-compatibility: any of: \.py$, but not: ^(base|build|testing|third_party|tools/gyp)/
  run-py2-tests: any of: \.py$, but not: ^(base|build|testing|third_party|tools/gyp)/
  internal-file-check: any of: not (EXCLUDE\.FILES(\.RECURSIVE)?$), but not: ^(base|build|testing|third_party|tools/gyp)/
  gn-format: any of: .*\.gni?$, but not: ^(base|build|testing|third_party|tools/gyp)/
