Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)

cobalt/metrics: Add pre-JNI Java UMA Persistence
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/shell/StartupGuardPersistenceTest.java
  cobalt/shell/android/java/src/dev/cobalt/shell/StartupGuard.java
  cobalt/shell/browser/shell_browser_main_parts.cc
  tools/metrics/histograms/metadata/cobalt/enums.xml
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

android: Enable WindowSurface for UI rendering by default
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/util/JavaSwitchesTest.java
  cobalt/shell/android/java/src/dev/cobalt/shell/ContentViewRenderView.java
Due: gcheckstyle, check-java-strings-have-locale

Cobalt override for GetCacheQuotaSettings
  cobalt/BUILD.gn
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/browser/cobalt_content_browser_client_unittest.cc
Due: clang-format, cpplint, gn-format

media: Remove storage_type() from DecodedAudio (#12401)
  starboard/shared/starboard/player/decoded_audio_internal.cc
  starboard/shared/starboard/player/decoded_audio_internal.h
  starboard/shared/starboard/player/decoded_audio_test_internal.cc
  starboard/shared/starboard/player/filter/adaptive_audio_decoder_internal.cc
  starboard/shared/starboard/player/filter/adaptive_audio_decoder_internal.h
  starboard/shared/starboard/player/filter/audio_channel_layout_mixer.h
  starboard/shared/starboard/player/filter/audio_channel_layout_mixer_impl.cc
  starboard/shared/starboard/player/filter/audio_renderer_pcm_internal.cc
  starboard/shared/starboard/player/filter/audio_renderer_pcm_internal.h
  starboard/shared/starboard/player/filter/decoded_audio_queue.cc
  starboard/shared/starboard/player/filter/testing/audio_channel_layout_mixer_test.cc
  starboard/shared/starboard/player/filter/testing/audio_decoder_test.cc
Due: clang-format, cpplint

starboard: Remove kUseStubAudioSink command line switch (#12362)
  starboard/extension/feature_config.h
  starboard/shared/starboard/audio_sink/audio_sink_internal.cc
Due: clang-format, cpplint

Cherry pick PR #12401: media: Remove storage_type() from DecodedAudio
  .github/AUTOROLL
  starboard/shared/starboard/player/decoded_audio_internal.cc
  starboard/shared/starboard/player/decoded_audio_internal.h
  starboard/shared/starboard/player/decoded_audio_test_internal.cc
  starboard/shared/starboard/player/filter/adaptive_audio_decoder_internal.cc
  starboard/shared/starboard/player/filter/adaptive_audio_decoder_internal.h
  starboard/shared/starboard/player/filter/audio_channel_layout_mixer.h
  starboard/shared/starboard/player/filter/audio_channel_layout_mixer_impl.cc
  starboard/shared/starboard/player/filter/audio_renderer_pcm_internal.cc
  starboard/shared/starboard/player/filter/audio_renderer_pcm_internal.h
  starboard/shared/starboard/player/filter/decoded_audio_queue.cc
  starboard/shared/starboard/player/filter/testing/audio_channel_layout_mixer_test.cc
  starboard/shared/starboard/player/filter/testing/audio_decoder_test.cc
Due: clang-format, cpplint

Cherry pick PR #12362: starboard: Remove kUseStubAudioSink command line switch
  .github/AUTOROLL
  starboard/extension/feature_config.h
  starboard/shared/starboard/audio_sink/audio_sink_internal.cc
Due: clang-format, cpplint

fix bug of not plyaing
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type_test.cc
Due: clang-format, cpplint

media: Remove background memory release for DecoderBuffer
  content/renderer/media/renderer_web_media_player_delegate.cc
  media/starboard/decoder_buffer_allocator.cc
  media/starboard/decoder_buffer_allocator.h
Due: clang-format, cpplint

ci, aosp: Fix AOSP and Android builds on staging
  .github/actions/depot_tools/action.yaml
  .github/workflows/aosp_staging.yaml
  build/config/android/internal_rules.gni
  cobalt/browser/metrics/cobalt_metrics_service_client.cc
  cobalt/build/modular_executable.gni
  copied_base/base/BUILD.gn
  copied_base/base/android/java/src/org/chromium/base/DeviceInfo.java
  copied_base/base/android/jni_bytebuffer.cc
  copied_base/base/android/jni_bytebuffer.h
  copied_base/base/android/jni_string.cc
  copied_base/base/android/jni_string.h
  copied_base/base/android/native_uma_recorder.cc
  copied_base/base/android/task_scheduler/task_runner_android.cc
  copied_base/base/android/task_scheduler/task_runner_android.h
  copied_base/base/android/trace_event_binding.cc
  third_party/jni_zero/common_apis.h
  third_party/jni_zero/default_conversions.h
  third_party/jni_zero/java_refs.h
  third_party/jni_zero/type_conversions.h
Due: clang-format, cpplint, gn-format

android: Use WindowSurface for UI rendering by default (#12438)
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/util/JavaSwitchesTest.java
  cobalt/shell/android/java/src/dev/cobalt/shell/ContentViewRenderView.java
Due: gcheckstyle, check-java-strings-have-locale

Cherry pick PR #12438: android: Use WindowSurface for UI rendering by default
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/util/JavaSwitchesTest.java
  cobalt/shell/android/java/src/dev/cobalt/shell/ContentViewRenderView.java
Due: gcheckstyle, check-java-strings-have-locale

Fix Omaha version spoofing vulnerability by parsing manifest.json
  components/update_client/component.cc
  components/update_client/op_install.cc
  components/update_client/op_install.h
  components/update_client/pipeline.cc
  components/update_client/pipeline.h
Due: none

Remove unnecessary blank line in op_install.cc
  components/update_client/op_install.cc
Due: none

fix cobaltactivitytest
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/CobaltActivityTest.java
Due: gcheckstyle, check-java-strings-have-locale

RESOLVED: AI automated rebase conflict healing
  BUILD.gn
  DEPS
  build/android/gyp/java_cpp_features.py
  build/config/android/internal_rules.gni
  build/config/siso/configure_siso.py
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/testing/browser_tests/BUILD.gn
  components/autofill/core/browser/foundations/autofill_manager.cc
  components/viz/test/test_in_process_context_provider.cc
  content/browser/browser_context.cc
  content/browser/renderer_host/render_widget_host_view_tvos_uiview.mm
  content/browser/storage_partition_impl.h
  media/audio/android/audio_manager_android.cc
  media/base/decoder_buffer.h
  media/base/ipc/media_param_traits.cc
  media/base/ipc/media_param_traits.h
  services/network/network_context.cc
  services/network/public/cpp/content_security_policy/content_security_policy.cc
  skia/ext/font_utils.cc
  third_party/blink/renderer/controller/highest_pmf_reporter.cc
  third_party/blink/renderer/controller/highest_pmf_reporter.h
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/experiments_utils.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/experiments_utils.h
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/h_5_vcc_experiments.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/h_5_vcc_experiments.h
  third_party/blink/renderer/modules/cobalt/h5vcc_metrics/h_5_vcc_metrics.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_metrics/h_5_vcc_metrics.h
  third_party/blink/renderer/modules/cobalt/h5vcc_platform_service/h_5_vcc_platform_service.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_platform_service/h_5_vcc_platform_service.h
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/h_5_vcc_runtime.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_runtime/h_5_vcc_runtime.h
  third_party/blink/renderer/modules/cobalt/h5vcc_settings/h_5_vcc_settings.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_settings/h_5_vcc_settings.h
  third_party/blink/web_tests/TestExpectations
  third_party/boringssl/src/crypto/internal.h
  third_party/cpuinfo/src/src/api.c
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

android: Delay V8 Write Using PostDelayedIdleTask
  third_party/blink/renderer/bindings/core/v8/v8_script_runner.cc
Due: none

Add libcobalt.zst to softfp and arm64 package.
  cobalt/build/evergreen-arm-softfp/package.json
  cobalt/build/evergreen-arm-softfp/package_qa.json
  cobalt/build/evergreen-arm64/package.json
  cobalt/build/evergreen-arm64/package_qa.json
Due: none

aosp: Fix devil helper binaries for on-device testing
  build/android/BUILD.gn
  buildtools/third_party/libunwind/BUILD.gn
  tools/android/devil_util/BUILD.gn
Due: none

[cobalt] Defensively handle null/unsupported locale in TTS GetVoices
  content/browser/speech/tts_starboard.cc
Due: none

Add libcobalt.zst to softfp and arm64 package. (#12445)
  cobalt/build/evergreen-arm-softfp/package.json
  cobalt/build/evergreen-arm-softfp/package_qa.json
  cobalt/build/evergreen-arm64/package.json
  cobalt/build/evergreen-arm64/package_qa.json
Due: none

android: Enable seamless switch when Bluetooth speaker is connected (#12213)
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioOutputManager.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/audio_output_manager.cc
  starboard/android/shared/audio_output_manager.h
  starboard/android/shared/audio_renderer_passthrough.cc
  starboard/android/shared/audio_renderer_passthrough.h
  starboard/android/shared/audio_track.h
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type_test.cc
  starboard/android/shared/audio_track_bridge.cc
  starboard/android/shared/audio_track_bridge.h
  starboard/android/shared/fake_audio_track.cc
  starboard/android/shared/fake_audio_track.h
  starboard/android/shared/ndk_audio_track.cc
  starboard/android/shared/ndk_audio_track.h
  starboard/android/shared/player_components_factory.cc
  starboard/shared/starboard/experimental_features.h
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

cobalt/metrics: Add Android process exit reason tracking via stability PMA
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: clang-format, cpplint, gn-format

cobalt/metrics: Refine Android exit tracking and add test suite
  cobalt/BUILD.gn
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/metrics/cobalt_stability_metrics_helper.cc
  cobalt/browser/metrics/cobalt_stability_metrics_helper.h
  cobalt/browser/metrics/cobalt_stability_metrics_helper_unittest.cc
Due: clang-format, cpplint, gn-format

CI Shepherd: Add top-level read permissions and revert validation job names to _tests_passing
  .github/workflows/ci_shepherd.yml
  .github/workflows/main.yaml
  .github/workflows/tvos.yaml
Due: none

ui/gl: Check GL_RENDERER for ANGLE when querying requestable extensions
  ui/gl/gl_implementation.cc
Due: none

gemini feedback for thread safety and race conditions
  cobalt/android/apk/app/src/test/java/dev/cobalt/shell/StartupGuardPersistenceTest.java
  cobalt/shell/android/java/src/dev/cobalt/shell/StartupGuard.java
  cobalt/shell/browser/shell_browser_main_parts.cc
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

Prebuilt settings for cobalt
  cobalt/BUILD.gn
  cobalt/build/modular_executable.gni
  cobalt/prebuilt.gni
Due: gn-format

starboard: Remove preallocated media buffer pools (#12430)
  starboard/android/shared/media_codec_video_decoder.cc
  starboard/android/shared/media_codec_video_decoder.h
  starboard/android/shared/player_components_factory.cc
  starboard/shared/starboard/experimental_features.h
  starboard/shared/starboard/player/buffer_internal.cc
  starboard/shared/starboard/player/buffer_internal.h
  starboard/shared/starboard/player/buildfiles.gni
  starboard/shared/starboard/player/player_tests.gni
  starboard/shared/starboard/player/pooled_allocator.cc
  starboard/shared/starboard/player/pooled_allocator.h
  starboard/shared/starboard/player/pooled_allocator_test.cc
Due: clang-format, cpplint, gn-format

Prebuilt settings for cobalt (Evergreen and AOSP)
  cobalt/BUILD.gn
  cobalt/aosp/modular_apk.gni
  cobalt/build/configs/initialize_variables.gni
  cobalt/build/modular_executable.gni
Due: gn-format

media: Remove background memory release for DecoderBuffer (#12443)
  content/renderer/media/renderer_web_media_player_delegate.cc
  media/starboard/decoder_buffer_allocator.cc
  media/starboard/decoder_buffer_allocator.h
Due: clang-format, cpplint

address gemini feedback
  third_party/blink/renderer/bindings/core/v8/v8_script_runner.cc
Due: none

Cherry pick PR #12445: Add libcobalt.zst to softfp and arm64 package.
  .github/AUTOROLL
  cobalt/build/evergreen-arm-softfp/package.json
  cobalt/build/evergreen-arm-softfp/package_qa.json
  cobalt/build/evergreen-arm64/package.json
  cobalt/build/evergreen-arm64/package_qa.json
Due: none

Cherry pick PR #12213: android: Enable seamless switch when Bluetooth speaker is connected
  .github/AUTOROLL
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioOutputManager.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/audio_output_manager.cc
  starboard/android/shared/audio_output_manager.h
  starboard/android/shared/audio_renderer_passthrough.cc
  starboard/android/shared/audio_renderer_passthrough.h
  starboard/android/shared/audio_track.h
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type_test.cc
  starboard/android/shared/audio_track_bridge.cc
  starboard/android/shared/audio_track_bridge.h
  starboard/android/shared/fake_audio_track.cc
  starboard/android/shared/fake_audio_track.h
  starboard/android/shared/ndk_audio_track.cc
  starboard/android/shared/ndk_audio_track.h
  starboard/android/shared/player_components_factory.cc
  starboard/shared/starboard/experimental_features.h
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

fix build error
  third_party/blink/renderer/bindings/core/v8/v8_script_runner.cc
Due: none
