Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)

Update LASTCHANGE.chromium for m138.
  cobalt/LASTCHANGE.chromium
Due: none

nplb: Use consistent temporary directory for tests (#9962)
  starboard/nplb/file_helpers.cc
  starboard/nplb/file_helpers.h
  starboard/nplb/posix_compliance/posix_file_get_info_test.cc
  starboard/nplb/posix_compliance/posix_lstat_test.cc
  starboard/nplb/posix_compliance/posix_mkdir_test.cc
  starboard/nplb/posix_compliance/posix_readlink_test.cc
  starboard/nplb/posix_compliance/posix_realpath_test.cc
  starboard/nplb/posix_compliance/posix_stat_test.cc
Due: clang-format, cpplint

Revert "media: Implement flow control for MediaDecoder (#8185)" (#9663)
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
  starboard/shared/starboard/media/BUILD.gn
  starboard/shared/starboard/media/decoder_state_tracker_test.cc
  starboard/shared/starboard/media/media_tests.gni
Due: clang-format, cpplint, gn-format

Cherry pick PR #10075: ci: Add max-commits option to autoroll workflow
  .github/scripts/autoroll_lts.py
  .github/workflows/autoroll_lts.yaml
Due: yapf, pylint, python3-compatibility-check

Cherry pick PR #10047: Cherry pick PR #9821: Cobalt: Update lifecycle terminology to Activating/Deactivating for clarity
  base/message_loop/message_pump_ui_starboard.cc
  cobalt/app/app_event_delegate.cc
  cobalt/app/app_event_delegate.h
Due: clang-format, cpplint

Cherry pick PR #10062: Cherry pick PR #9630: media: Connect teardown optimization to H5VCC
  cobalt/renderer/cobalt_content_renderer_client.cc
  media/base/ipc/media_param_traits_macros.h
  media/base/starboard/starboard_renderer_config.cc
  media/base/starboard/starboard_renderer_config.h
  media/starboard/sbplayer_bridge.cc
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
  starboard/extension/experimental_features.h
  starboard/shared/starboard/experimental_features.cc
  starboard/shared/starboard/experimental_features.h
  starboard/shared/starboard/player/filter/video_decoder_internal.h
  starboard/shared/starboard/player/filter/video_renderer_internal_impl.cc
Due: clang-format, cpplint

Get windows compiling
  cobalt/shell/browser/shell_browser_main_parts.cc
Due: clang-format, cpplint

Don't refresh job status when labels other than runtest are added
  .github/workflows/main.yaml
Due: none

fix conflicts
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/video_decoder.cc
  starboard/shared/starboard/media/BUILD.gn
  starboard/shared/starboard/media/decoder_state_tracker.cc
  starboard/shared/starboard/media/decoder_state_tracker.h
  starboard/shared/starboard/media/media_tests.gni
Due: clang-format, cpplint, gn-format

Instrument Worker lifecycle and postMessage handling with detailed logging
  third_party/blink/renderer/bindings/core/v8/v8_initializer.cc
  third_party/blink/renderer/bindings/core/v8/v8_script_runner.cc
  third_party/blink/renderer/core/workers/dedicated_worker_object_proxy.cc
  third_party/blink/renderer/core/workers/worker_global_scope.cc
Due: none

android: Add experiment setup for video decoder threading (#9484)
  cobalt/renderer/cobalt_content_renderer_client.cc
  media/base/ipc/media_param_traits_macros.h
  media/base/starboard/starboard_renderer_config.cc
  media/base/starboard/starboard_renderer_config.h
  media/starboard/sbplayer_bridge.cc
  starboard/android/shared/player_components_factory.cc
  starboard/android/shared/video_decoder.cc
  starboard/extension/experimental_features.h
  starboard/shared/starboard/experimental_features.cc
  starboard/shared/starboard/experimental_features.h
Due: clang-format, cpplint

Fix conflicts
  media/base/ipc/media_param_traits_macros.h
  media/base/starboard/starboard_renderer_config.cc
  media/base/starboard/starboard_renderer_config.h
  media/starboard/sbplayer_bridge.cc
  starboard/android/shared/player_components_factory.cc
  starboard/android/shared/video_decoder.cc
Due: clang-format, cpplint

revert unnecessary changes
  media/starboard/sbplayer_bridge.cc
  starboard/android/shared/player_components_factory.cc
Due: clang-format, cpplint

Fix Trusted Types deserialization and surface Worker console logs
  third_party/blink/renderer/bindings/core/v8/serialization/v8_script_value_deserializer.cc
  third_party/blink/renderer/core/workers/threaded_messaging_proxy_base.cc
  third_party/blink/renderer/core/workers/worker_global_scope.cc
Due: none

Cherry pick PR #10064: android: Fix crash at VideoSurfaceTextureBridge::CreateSurface
  starboard/android/shared/decode_target.cc
  starboard/android/shared/decode_target.h
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_surface_texture_bridge.cc
  starboard/android/shared/video_surface_texture_bridge.h
Due: clang-format, cpplint

android: Refactor video decoder threading (#9711)
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
Due: clang-format, cpplint

fix conflict: main uses factory
  starboard/android/shared/video_decoder.cc
Due: clang-format, cpplint

fix media_decoder.h: due to signature changes inn main
  starboard/android/shared/media_decoder.h
Due: clang-format, cpplint

tvOS: Add stub decode_target_get_info.cc to the build
  starboard/tvos/shared/BUILD.gn
Due: gn-format

resolve conflict due to std::mutex
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
Due: clang-format, cpplint

resovle conflict due to using sb:Thread
  starboard/android/shared/media_decoder.cc
Due: clang-format, cpplint

resolve DecoderThreadEntryPoint: class name change in main
  starboard/android/shared/media_decoder.cc
Due: clang-format, cpplint

Cherry pick PR #10098: Cherry pick PR #9663: Revert "media: Implement flow control for MediaDecoder (#8185)"
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
  starboard/shared/starboard/media/BUILD.gn
  starboard/shared/starboard/media/decoder_state_tracker.cc
  starboard/shared/starboard/media/decoder_state_tracker.h
  starboard/shared/starboard/media/decoder_state_tracker_test.cc
  starboard/shared/starboard/media/media_tests.gni
Due: clang-format, cpplint, gn-format

Cherry pick PR #10024: Cherry pick PR #9808: zlib: Fix GzipCompress invalid pointer crash
  cobalt/testing/filters/evergreen-x64/cobalt_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/cobalt_unittests_loader_filter.json
  third_party/zlib/google/compression_utils.cc
Due: none

Fix conflicts in InputThreadFunc and OutputThreadFunc - class name change
  starboard/android/shared/media_decoder.cc
Due: clang-format, cpplint

Add network_error to StartupGuard
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  cobalt/browser/cobalt_web_contents_observer.cc
  cobalt/shell/android/java/src/dev/cobalt/shell/StartupGuard.java
  content/browser/renderer_host/navigation_request.cc
  net/dns/host_resolver_manager_job.cc
  net/quic/quic_session_pool_direct_job.cc
  net/socket/transport_connect_job.cc
  net/url_request/url_request.cc
  starboard/android/shared/starboard_bridge.cc
  starboard/android/shared/starboard_bridge.h
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

fix build
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/video_decoder.cc
Due: clang-format, cpplint

evergreen: Render texture in red channel
  starboard/CHANGELOG.md
  starboard/linux/shared/decode_target_internal.cc
Due: clang-format, cpplint

Relocate GranularMemoryBrowsertest to cobalt/testing/browser_tests
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/browser_tests/granular_memory_browsertest.cc
Due: clang-format, cpplint, gn-format

media: Deprecate CobaltReportBufferingStateDuringFlush switch
  media/base/media_switches.cc
  media/base/media_switches.h
  media/starboard/starboard_renderer.cc
Due: clang-format, cpplint

comments
  cobalt/browser/metrics/cobalt_cpu_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_metrics_service_client.cc
Due: clang-format, cpplint

build: only add NetworkChangeNotifierLinux if it's not an hermetic build
  net/BUILD.gn
Due: none

android: Respect VideoDecoderInitialPrerollCount config (#9852)
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
Due: clang-format, cpplint

Review comments
  .github/scripts/update_required_branch_checks.py
  .github/workflows/main.yaml
Due: yapf, pylint, python3-compatibility-check

refactor common method
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/test/java/dev/cobalt/shell/StartupGuardTest.java
  cobalt/browser/cobalt_web_contents_observer.cc
  cobalt/shell/android/java/src/dev/cobalt/shell/StartupGuard.java
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

Cherry pick PR #10093: Send runner info to cloud logging for troubleshooting
  .github/actions/overlay_workspace/action.yaml
Due: none

Cherry pick PR #10101: Cherry pick PR #9711: android: Refactor video decoder threading
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
Due: clang-format, cpplint

Flush prefs writes
  components/update_client/persisted_data.cc
Due: none

Address review comments and fix SetLatestChannel consistency
  components/update_client/persisted_data.cc
Due: none

Fix
  components/update_client/persisted_data.cc
Due: none
