Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==17.0.1

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

Update json with latest automated commits
  commits_m114_part2.json
Due: none

Add backend config for siso
  build/config/siso/backend_config/backend.star
Due: none

Comment out siso config from gclient DEPS hooks
  DEPS
Due: none

rebase: Address build issues for SbFeatureParam
  cobalt/common/features/features.cc
  cobalt/common/features/features.h
Due: clang-format

android: Migrate DisplayUtil::nativeOnDisplayChanged to JNI generator
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/DisplayUtil.java
  starboard/android/shared/media_capabilities_cache.cc
Due: clang-format, google-java-format, gcheckstyle, gn-format

android: Migrate display DPI JNI to generator
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/DisplayUtil.java
  starboard/android/shared/window_get_diagonal_size_in_inches.cc
Due: clang-format, google-java-format, gcheckstyle

Gemini comments
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/DisplayUtil.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/window_get_diagonal_size_in_inches.cc
Due: clang-format, google-java-format, gcheckstyle, gn-format

Refactoring
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/DisplayUtil.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/media_capabilities_cache.cc
  starboard/android/shared/window_get_diagonal_size_in_inches.cc
Due: clang-format, google-java-format, gcheckstyle, gn-format

Add new files
  starboard/android/shared/BUILD.gn
  starboard/android/shared/display_util.cc
  starboard/android/shared/display_util.h
Due: clang-format, gn-format

android: Add thread checker to DrmSystem on Android TV (#7501)
  starboard/android/shared/drm_system.cc
  starboard/android/shared/drm_system.h
Due: clang-format

rebase: Address build issues for SbFeatureParam (#7520)
  cobalt/common/features/features.cc
  cobalt/common/features/features.h
Due: clang-format

Rename Dpi members
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/DisplayUtil.java
  starboard/android/shared/display_util.cc
  starboard/android/shared/display_util.h
  starboard/android/shared/window_get_diagonal_size_in_inches.cc
Due: clang-format, google-java-format, gcheckstyle

Gemini - cleanup includes
  starboard/android/shared/display_util.cc
Due: clang-format

Add missing header
  starboard/android/shared/display_util.h
Due: clang-format

Fix cobalt_unittests
  cobalt/app/cobalt_switch_defaults_starboard_test.cc
Due: clang-format

Style
  cobalt/app/cobalt_switch_defaults_starboard.cc
Due: clang-format

android: Remove unused legacy JNI for audio permissions (#7509)
  starboard/android/shared/microphone_impl.cc
Due: clang-format

android: Migrate DisplayUtil to JNI generator (#7524)
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/DisplayUtil.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/display_util.cc
  starboard/android/shared/display_util.h
  starboard/android/shared/media_capabilities_cache.cc
  starboard/android/shared/window_get_diagonal_size_in_inches.cc
Due: clang-format, google-java-format, gcheckstyle, gn-format

android: Fix Build Error with ShellManagerTest
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/ShellManagerTest.java
Due: google-java-format, gcheckstyle

[Rebase M138] Comment out siso config from gclient DEPS hooks (#7519)
  DEPS
Due: none

android: Migrate ApplicationAndroid to JNI generator
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltSystemConfigChangeReceiver.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/javabridge/HTMLMediaElementExtension.java
  starboard/android/shared/application_android.cc
Due: clang-format, google-java-format, gcheckstyle, gn-format

Minor fixes - remove unused headers
  starboard/android/shared/application_android.cc
Due: clang-format

Use ConvertUTF8ToJavaString
  starboard/android/shared/application_android.cc
Due: clang-format

android: Migrate GetDeviceResolution to JNI generator
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/starboard_bridge.cc
  starboard/android/shared/starboard_bridge.h
  starboard/android/shared/window_get_size.cc
Due: clang-format, google-java-format, gcheckstyle

reuse method
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/starboard_bridge.cc
Due: clang-format, google-java-format, gcheckstyle

[Rebase M138 Android] - fixes for gn.py
  cobalt/android/BUILD.gn
  cobalt/shell/android/BUILD.gn
  cobalt/testing/browser_tests/BUILD.gn
  third_party/android_deps/BUILD.gn
Due: gn-format

Remove Jni Cache
  starboard/android/shared/decode_target.cc
  starboard/android/shared/decode_target.h
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
  starboard/android/shared/video_surface_texture_bridge.h
Due: clang-format

implement expiration
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/global_features.cc
  cobalt/browser/h5vcc_experiments/h5vcc_experiments_impl.cc
Due: clang-format

add feature flag and umas and new setFinchParameter api
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/constants/cobalt_experiment_names.h
  tools/metrics/histograms/metadata/cobalt/enums.xml
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: clang-format

undo remove kExperimentConfigExpIds const and register kFinchParameters
  cobalt/browser/constants/cobalt_experiment_names.h
  cobalt/browser/global_features.cc
Due: clang-format

register finch params as dict
  cobalt/browser/global_features.cc
Due: clang-format

check config exp feature enabled before init feature list
  cobalt/browser/cobalt_content_browser_client.cc
Due: clang-format

move feature flag to new central location
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/features.cc
  cobalt/browser/features.h
Due: clang-format

add feature.hh and feature.cc to build file
  cobalt/browser/BUILD.gn
Due: gn-format

refactor empty config creation
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/experiments/experiment_config_manager.cc
Due: clang-format

remove config type check from set up
  cobalt/browser/cobalt_content_browser_client.cc
Due: clang-format

try removing again
  cobalt/browser/cobalt_content_browser_client.cc
Due: clang-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  yapf: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  pylint: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  python3-compatibility-check: any of: \.py$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  google-java-format: any of: \.java$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java
)
) and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

  gn-format: any of: .*\.gni?$ and (?x)^(
    .github/|
    cobalt/|
    media/starboard/|
    starboard/|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml
)

