Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, internal-file-check, gn-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^internal/starboard/shared/uikit/.*\.h$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  yapf: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  pylint: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  google-java-format: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gcheckstyle: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not ((?x)^(
    .pre-commit-config.yaml$|
    cobalt/media/|
    cobalt/layout_tests/testdata/|
    nb/|
    starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.cc$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.h$|
    starboard/shared/starboard/player/filter/wsola_internal.cc$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  check-if-starboard-interface-changed: any of: ^starboard/[^/]+\.h$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  test-python3-compatibility: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  internal-file-check: any of: not ((^docker-compose-windows(-internal)?.yml|EXCLUDE\.FILES(\.RECURSIVE)?|codereview\.settings)$), but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gn-format: any of: .*\.gni?$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)


Add build_info json to the out directory root. (#1793)
  tools/copy_and_filter_out_dir.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

[GN] Pass shared library name to exe install steps
  starboard/build/config/BUILDCONFIG.gn
Due: check-copyright-year, internal-file-check, gn-format

remove debug print
  starboard/build/config/BUILDCONFIG.gn
Due: check-copyright-year, internal-file-check, gn-format

Undo the rename of actual_target_name
  starboard/build/config/BUILDCONFIG.gn
Due: check-copyright-year, internal-file-check, gn-format

fix formatting
  starboard/build/config/BUILDCONFIG.gn
Due: check-copyright-year, internal-file-check, gn-format

Move dial_server to cobalt/network
  cobalt/h5vcc/BUILD.gn
  cobalt/h5vcc/dial/dial_http_response.h
  cobalt/h5vcc/dial/dial_server.cc
  cobalt/h5vcc/dial/dial_server.h
  cobalt/network/BUILD.gn
  cobalt/network/dial/README.md
  cobalt/network/dial/dial_http_server.cc
  cobalt/network/dial/dial_http_server.h
  cobalt/network/dial/dial_http_server_unittest.cc
  cobalt/network/dial/dial_service.cc
  cobalt/network/dial/dial_service.h
  cobalt/network/dial/dial_service_handler.h
  cobalt/network/dial/dial_service_unittest.cc
  cobalt/network/dial/dial_system_config.cc
  cobalt/network/dial/dial_system_config.h
  cobalt/network/dial/dial_system_config_starboard.cc
  cobalt/network/dial/dial_test_helpers.h
  cobalt/network/dial/dial_udp_server.cc
  cobalt/network/dial/dial_udp_server.h
  cobalt/network/dial/dial_udp_server_unittests.cc
  cobalt/network/dial/dial_udp_socket_factory.cc
  cobalt/network/dial/dial_udp_socket_factory.h
  cobalt/network/network_module.cc
  cobalt/network/network_module.h
  net/BUILD.gn
  net/dial/README.md
  net/dial/dial_service_handler.h
  net/dial/dial_test_helpers.h
  net/dial/dial_udp_server.h
  net/dial/dial_udp_server_unittests.cc
  net/dial/dial_udp_socket_factory.cc
  net/dial/dial_udp_socket_factory.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

[media] Align AudioDevice output buffer size
  cobalt/audio/audio_device.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Cherry pick PR #1793: Add build_info json to the out directory root. (#1794)
  tools/copy_and_filter_out_dir.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Cherry pick PR #1793: Add build_info json to the out directory root. (#1796)
  tools/copy_and_filter_out_dir.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Add support for `getrandom`.
  .gitignore
  README.md
  codereview.settings
  linux_syscall_support.h
  tests/.gitignore
  tests/Makefile
  tests/README.md
  tests/fallocate.c
  tests/getrandom.c
  tests/sigaction.c
  tests/sigtimedwait.c
  tests/test_skel.h
  tests/unlink.c
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Cherry pick PR #1708: [XB1] Add more cleanup steps to test launcher (#1789)
  starboard/xb1/tools/xb1_launcher.py
  starboard/xb1/tools/xb1_network_api.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

[android] Avoid exceptions in MediaCodecBridge.
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: google-java-format, gcheckstyle, check-copyright-year, internal-file-check

[nplb] Discard infinite audio durations in tests (#1762)
  starboard/nplb/player_write_sample_test.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

[media] Align AudioDevice output buffer size (#1799)
  cobalt/audio/audio_device.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Add pointer event test on cropped element
  cobalt/black_box_tests/black_box_tests.py
  cobalt/black_box_tests/testdata/pointer_event_on_cropped_element_test.html
  cobalt/black_box_tests/tests/pointer_event_on_cropped_element_test.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Cherry pick PR #1799: [media] Align AudioDevice output buffer size (#1802)
  cobalt/audio/audio_device.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Cherry pick PR #1762: [nplb] Discard infinite audio durations in tests (#1801)
  starboard/nplb/player_write_sample_test.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Move dial_server to cobalt/network (#1797)
  cobalt/h5vcc/BUILD.gn
  cobalt/h5vcc/dial/dial_http_response.h
  cobalt/h5vcc/dial/dial_server.cc
  cobalt/h5vcc/dial/dial_server.h
  cobalt/network/BUILD.gn
  cobalt/network/dial/README.md
  cobalt/network/dial/dial_http_server.cc
  cobalt/network/dial/dial_http_server.h
  cobalt/network/dial/dial_http_server_unittest.cc
  cobalt/network/dial/dial_service.cc
  cobalt/network/dial/dial_service.h
  cobalt/network/dial/dial_service_handler.h
  cobalt/network/dial/dial_service_unittest.cc
  cobalt/network/dial/dial_system_config.cc
  cobalt/network/dial/dial_system_config.h
  cobalt/network/dial/dial_system_config_starboard.cc
  cobalt/network/dial/dial_test_helpers.h
  cobalt/network/dial/dial_udp_server.cc
  cobalt/network/dial/dial_udp_server.h
  cobalt/network/dial/dial_udp_server_unittests.cc
  cobalt/network/dial/dial_udp_socket_factory.cc
  cobalt/network/dial/dial_udp_socket_factory.h
  cobalt/network/network_module.cc
  cobalt/network/network_module.h
  net/BUILD.gn
  net/dial/README.md
  net/dial/dial_service_handler.h
  net/dial/dial_test_helpers.h
  net/dial/dial_udp_server.h
  net/dial/dial_udp_server_unittests.cc
  net/dial/dial_udp_socket_factory.cc
  net/dial/dial_udp_socket_factory.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

[nplb] Add benchmark log suppression switch (#1784)
  starboard/nplb/performance_helpers.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Add pointer event test for cropped element (#1723)
  cobalt/black_box_tests/black_box_tests.py
  cobalt/black_box_tests/testdata/pointer_event_on_cropped_element_test.html
  cobalt/black_box_tests/tests/pointer_event_on_cropped_element_test.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, internal-file-check

Cherry pick PR #1784: [nplb] Add benchmark log suppression switch (#1804)
  starboard/nplb/performance_helpers.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Turn off Evergreen tests until new SB 16 binaries published (#1792)
  starboard/evergreen/testing/run_all_tests.sh
Due: check-copyright-year, internal-file-check

Deprecate SbImage APIs (#1791)
  cobalt/doc/performance_tuning.md
  cobalt/loader/BUILD.gn
  cobalt/loader/image/image_decoder.cc
  cobalt/loader/image/image_decoder_starboard.cc
  cobalt/loader/image/image_decoder_starboard.h
  cobalt/site/docs/gen/cobalt/doc/performance_tuning.md
  starboard/CHANGELOG.md
  starboard/decode_target.h
  starboard/elf_loader/exported_symbols.cc
  starboard/image.h
  starboard/nplb/extern_c_test.cc
  starboard/nplb/image_test.cc
  starboard/nplb/include_all.c
  starboard/raspi/shared/open_max/image_decode.cc
  starboard/raspi/shared/open_max/image_is_decode_supported.cc
  starboard/shared/libjpeg/image_decode.cc
  starboard/shared/libjpeg/image_is_decode_supported.cc
  starboard/shared/stub/image_decode.cc
  starboard/shared/stub/image_is_decode_supported.cc
Due: clang-format, cpplint, check-copyright-year, check-if-starboard-interface-changed, internal-file-check, gn-format

[android] Avoid exceptions in MediaCodecBridge. (#1800)
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: google-java-format, gcheckstyle, check-copyright-year, internal-file-check

Mark shared_library_target_name as not_needed for all platforms that build shared library with loaders
  starboard/android/shared/install_target.gni
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/install/install_target.gni
  starboard/evergreen/arm/shared/install_target.gni
  starboard/evergreen/arm64/install_target.gni
  starboard/evergreen/x64/install_target.gni
  starboard/evergreen/x86/install_target.gni
  starboard/raspi/shared/install_target.gni
  starboard/xb1/install_target.gni
Due: check-copyright-year, internal-file-check, gn-format

Fix broken formatting
  starboard/android/shared/install_target.gni
  starboard/build/install/install_target.gni
  starboard/evergreen/arm/shared/install_target.gni
  starboard/evergreen/arm64/install_target.gni
  starboard/evergreen/x64/install_target.gni
  starboard/evergreen/x86/install_target.gni
Due: check-copyright-year, internal-file-check, gn-format

Fix formatting on files
  starboard/android/shared/install_target.gni
  starboard/build/install/install_target.gni
  starboard/evergreen/arm/shared/install_target.gni
  starboard/evergreen/arm64/install_target.gni
  starboard/evergreen/x64/install_target.gni
  starboard/evergreen/x86/install_target.gni
Due: check-copyright-year, internal-file-check, gn-format

Increase SbMediaConfigurationTest perf requirement
  starboard/nplb/media_configuration_test.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

fix comment formatting
  starboard/build/config/BUILDCONFIG.gn
Due: check-copyright-year, internal-file-check, gn-format

fix file formatting
  starboard/android/shared/install_target.gni
  starboard/raspi/shared/install_target.gni
  starboard/xb1/install_target.gni
Due: check-copyright-year, internal-file-check, gn-format

fix typo in reformatting commits
  starboard/build/config/BUILDCONFIG.gn
Due: check-copyright-year, internal-file-check, gn-format

Ensure cache quotas are read and written from same thread. (#1724)
  cobalt/browser/application.cc
  cobalt/cache/cache.cc
  cobalt/cache/cache.h
  cobalt/h5vcc/h5vcc_storage.cc
  cobalt/network/url_request_context.cc
  cobalt/persistent_storage/persistent_settings.cc
  net/BUILD.gn
  net/disk_cache/cobalt/cobalt_backend_impl.cc
  net/disk_cache/cobalt/cobalt_backend_impl.h
  net/disk_cache/cobalt/resource_type.cc
  net/disk_cache/cobalt/resource_type.h
  net/disk_cache/disk_cache.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Cherry pick PR #1681: Add 'memoryLimit' attribute to SourceBuffer. (#1788)
  cobalt/demos/content/configure-source-buffer-memory/configure-source-buffer-memory.html
  cobalt/demos/content/configure-source-buffer-memory/configure-source-buffer-memory.js
  cobalt/demos/content/configure-source-buffer-memory/vp9-720p.webm
  cobalt/dom/source_buffer.cc
  cobalt/dom/source_buffer.h
  cobalt/dom/source_buffer.idl
  third_party/chromium/media/filters/chunk_demuxer.cc
  third_party/chromium/media/filters/chunk_demuxer.h
  third_party/chromium/media/filters/source_buffer_state.cc
  third_party/chromium/media/filters/source_buffer_state.h
  third_party/chromium/media/filters/source_buffer_stream.cc
  third_party/chromium/media/filters/source_buffer_stream.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Cherry pick PR #1787: Fixing histogram bug, off by one error on check (#1790)
  cobalt/media/base/metrics_provider.cc
Due: clang-format, cpplint, internal-file-check

Cherry pick PR #1800: [android] Avoid exceptions in MediaCodecBridge. (#1805)
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: google-java-format, gcheckstyle, check-copyright-year, internal-file-check
