Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)

Update JavaDocs
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/ExoPlayerBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/ExoPlayerDrmBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/ExoPlayerManager.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/ExoPlayerMediaPeriod.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/ExoPlayerMediaSample.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/ExoPlayerMediaSource.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/ExoPlayerSampleStream.java
Due: gcheckstyle, check-java-strings-have-locale

remove threadlocal use
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/ExoPlayerDrmBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/ExoPlayerMediaSample.java
Due: gcheckstyle, check-java-strings-have-locale

clean up frivolous code
  starboard/android/shared/exoplayer/drm_system_exoplayer.cc
  starboard/android/shared/exoplayer/drm_system_exoplayer.h
  starboard/android/shared/exoplayer/exoplayer_bridge.cc
  starboard/android/shared/exoplayer/exoplayer_player_worker_handler.cc
  starboard/android/shared/exoplayer/exoplayer_player_worker_handler.h
Due: clang-format, cpplint

Add experiment switch for v8 --nowasm-code-gc (#9241)
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/util/JavaSwitchesTest.java
Due: gcheckstyle, check-java-strings-have-locale

Gemini assisted clean up and optimizations
  starboard/android/shared/exoplayer/drm_system_exoplayer.cc
  starboard/android/shared/exoplayer/drm_system_exoplayer.h
  starboard/android/shared/exoplayer/exoplayer_bridge.cc
  starboard/android/shared/exoplayer/exoplayer_bridge.h
  starboard/android/shared/exoplayer/exoplayer_player_worker_handler.h
Due: clang-format, cpplint

Gemini assisted clean up and Threadlocal removal
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/ExoMediaDrmWrapper.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/ExoPlayerBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/ExoPlayerDrmBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/ExoPlayerManager.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/ExoPlayerMediaPeriod.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/ExoPlayerMediaSample.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/ExoPlayerMediaSource.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/ExoPlayerSampleStream.java
Due: gcheckstyle, check-java-strings-have-locale

player: Remove CreateInstance() from some player classes
  starboard/android/shared/player_create.cc
  starboard/shared/starboard/player/player_create.cc
  starboard/shared/starboard/player/player_internal.cc
  starboard/shared/starboard/player/player_internal.h
  starboard/shared/starboard/player/player_worker.cc
  starboard/shared/starboard/player/player_worker.h
Due: clang-format, cpplint

Clean up Android SbPlayerCreate implementation
  starboard/android/shared/player_create.cc
Due: clang-format, cpplint

Fix SplashScreen crash
  cobalt/base/token.cc
Due: clang-format, cpplint

tvOS: Remove vpx_loop_filter_manager.*
  starboard/tvos/shared/media/vpx_loop_filter_manager.cc
  starboard/tvos/shared/media/vpx_loop_filter_manager.h
Due: clang-format, cpplint

tvos: Update VP9 header include path
  starboard/tvos/shared/BUILD.gn
  starboard/tvos/shared/media/av_video_sample_buffer_builder.mm
Due: gn-format

Remove std::bind usage
  starboard/shared/starboard/player/player_internal.cc
Due: clang-format, cpplint

Use std::make_unique
  starboard/android/shared/player_create.cc
  starboard/shared/starboard/player/player_create.cc
Due: clang-format, cpplint

Move Docker image job conditions back to job level
  .github/workflows/main.yaml
Due: none

Remove incorrect comment for disabled tests.
  cobalt/testing/browser_tests/navigation_browsertest.cc
Due: clang-format, cpplint

android: use l1 drm system when secure pipeline is required (#9231)
  starboard/android/shared/video_decoder.cc
Due: clang-format, cpplint

metrics: Enable font and glyph cache memory metrics in Cobalt
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
  cobalt/browser/metrics/cobalt_metrics_service_client.cc
  cobalt/browser/metrics/font_metrics_browsertest.cc
  cobalt/docs/font_metrics.md
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/tools/uma/memory_histograms.txt
Due: clang-format, cpplint, gn-format

metrics: Explicitly request allocator dumps to avoid filtering
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
  cobalt/browser/metrics/font_metrics_browsertest.cc
  cobalt/tools/uma/memory_histograms.txt
Due: clang-format, cpplint

metrics: Improve precision and robustness of font memory metrics
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/metrics/cobalt_metrics_service_client_test.cc
  cobalt/browser/metrics/font_metrics_browsertest.cc
  cobalt/docs/font_metrics.md
Due: clang-format, cpplint

Fix copyright year to current year for new file.
  cobalt/browser/metrics/font_metrics_browsertest.cc
Due: clang-format, cpplint

metrics: Fix build error in tests and apply formatting
  cobalt/browser/metrics/cobalt_metrics_service_client_test.cc
  cobalt/browser/metrics/font_metrics_browsertest.cc
Due: clang-format, cpplint

metrics: Fix experimental memory histogram naming hierarchical structure
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/metrics/font_metrics_browsertest.cc
Due: clang-format, cpplint

Remove unused include
  cobalt/browser/metrics/cobalt_metrics_service_client.cc
Due: clang-format, cpplint

Fix CI failure: merge individual browser test XML results into a single file
  cobalt/testing/browser_tests/run_browser_tests.py
  cobalt/testing/browser_tests/test_run_browser_tests.py
Due: yapf, pylint, python3-compatibility-check

cobalt: Disable resource load throttling (#9203)
  third_party/blink/renderer/platform/loader/BUILD.gn
  third_party/blink/renderer/platform/loader/fetch/resource_load_scheduler.cc
Due: none

fix merge conflict
  third_party/blink/renderer/platform/loader/BUILD.gn
Due: none

Clean up commented out gcloud install step.
  .github/actions/sccache/action.yaml
Due: none

Refactor RunMigrationTasks
  cobalt/shell/browser/migrate_storage_record/migration_manager.cc
  cobalt/shell/browser/migrate_storage_record/migration_manager.h
Due: clang-format, cpplint

Fix use-after-destruction crash in SbPlayerPrivateImpl
  starboard/android/shared/player_android.h
  starboard/shared/starboard/player/player_internal.h
Due: clang-format, cpplint

Update comments
  starboard/shared/starboard/player/player_internal.h
Due: clang-format, cpplint

Disable failing linux test
  cobalt/testing/filters/linux-x64x11/cobalt_browsertests_runner_filter.json
Due: none

Implement native DRM
  starboard/android/shared/BUILD.gn
  starboard/android/shared/drm_common.h
  starboard/android/shared/drm_create_system.cc
  starboard/android/shared/exoplayer/drm_system_exoplayer.cc
  starboard/android/shared/exoplayer/drm_system_exoplayer.h
  starboard/android/shared/exoplayer/exoplayer_bridge.cc
  starboard/android/shared/exoplayer/exoplayer_bridge.h
  starboard/android/shared/exoplayer/exoplayer_player_worker_handler.cc
  starboard/android/shared/exoplayer/exoplayer_player_worker_handler.h
  starboard/android/shared/exoplayer/exoplayer_util.cc
  starboard/android/shared/exoplayer/exoplayer_util.h
  starboard/android/shared/media_common.h
  starboard/android/shared/media_drm_bridge.cc
  starboard/android/shared/player_create.cc
  starboard/android/shared/video_decoder.cc
Due: clang-format, cpplint, gn-format

Log TTFF
  media/starboard/starboard_renderer.cc
  starboard/android/shared/video_decoder.cc
Due: clang-format, cpplint

Set test values
  cobalt/browser/h5vcc_settings/h5vcc_settings_impl.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_settings/h_5_vcc_settings.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_settings/h_5_vcc_settings.h
Due: clang-format, cpplint

Log dropped frames
  starboard/android/shared/video_render_algorithm.cc
Due: clang-format, cpplint

android: Fix DialogOverlay crash when app resumes
  content/public/android/java/src/org/chromium/content/browser/androidoverlay/DialogOverlayImpl.java
Due: none

Check cookie yt-dev.storage-integrity before migration
  cobalt/shell/browser/migrate_storage_record/migration_manager.cc
Due: clang-format, cpplint

ci: Make browser tests required to pass
  .github/workflows/main.yaml
Due: none
