Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

chromium-pre-commit:
  name: Chromium presubmit bridge
  entry: ./third_party/depot_tools/vpython3 --vpython-spec=./third_party/depot_tools/.vpython3 ./cobalt/precommit/run_chromium_presubmits.py
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==21.1.0

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=5
  - --quiet
  additional_dependencies:
  - cpplint==2.0.2

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

check-java-strings-have-locale:
  name: Check Java String.format includes Locale
  entry: python3 ./cobalt/precommit/check_java_strings_have_locale.py
  language: python

ci: Parameterize docker_image_name in upload_test_artifacts
  .github/actions/upload_test_artifacts/action.yaml
Due: none

ci: Use jq for robust target checking in upload_test_artifacts
  .github/actions/upload_test_artifacts/action.yaml
Due: none

ci: Use exact match for cobalt_browsertests in jq query
  .github/actions/upload_test_artifacts/action.yaml
Due: none

ci: Harden and parameterize upload_test_artifacts
  .github/actions/upload_test_artifacts/action.yaml
Due: none

ci: Pass Docker image tag through test gateway
  .github/actions/internal_tests/action.yaml
  .github/actions/on_device_tests/action.yaml
  .github/workflows/main.yaml
  cobalt/tools/on_device_tests_gateway_client.py
Due: yapf, pylint, python3-compatibility-check

ci: Harden test actions against command injection
  .github/actions/internal_tests/action.yaml
  .github/actions/on_device_tests/action.yaml
Due: none

ci: Fix 'docker not found' error by moving build to host job
  .github/actions/upload_test_artifacts/action.yaml
  .github/workflows/main.yaml
Due: none

ci: Skip failing docker-browsertests-image platforms
  .github/workflows/main.yaml
Due: none

ci: Fix Dockerfile path and sparse-checkout in docker-browsertests-image
  .github/workflows/main.yaml
Due: none

Refactor browser test execution to use specialized actions and configuration-driven inclusion.
  .github/actions/browser_tests/action.yaml
  .github/actions/build/action.yaml
  .github/actions/docker_browsertests/action.yaml
  .github/config/android-arm.json
  .github/config/android-arm64.json
  .github/config/android-x86.json
  .github/config/chromium_android-arm.json
  .github/config/chromium_android-arm64.json
  .github/config/chromium_android-x86.json
  .github/config/chromium_diffing.json
  .github/config/chromium_linux.json
  .github/config/evergreen-arm-hardfp-raspi.json
  .github/config/evergreen-arm-hardfp-rdk.json
  .github/config/evergreen-arm-softfp.json
  .github/config/evergreen-arm64.json
  .github/config/evergreen-x64.json
  .github/config/linux-modular.json
  .github/config/linux-web-tests.json
  .github/config/linux.json
  .github/config/raspi-2-modular.json
  .github/config/tvos-arm64-simulator.json
  .github/workflows/main.yaml
Due: none

Remove cobalt_browsertests from source test target files and cleanup build action logic.
  .github/actions/build/action.yaml
  cobalt/build/testing/targets/android-arm/test_targets.json
  cobalt/build/testing/targets/android-arm64/test_targets.json
  cobalt/build/testing/targets/linux-x64x11/test_targets.json
Due: none

Separate Linux and Android browser test execution in consolidated browsertest job.
  .github/actions/upload_test_artifacts/action.yaml
  .github/config/linux.json
  .github/workflows/main.yaml
  cobalt/build/testing/targets/linux-x64x11/test_targets.json
Due: none

Clean up internal_tests action by removing redundant docker_tag logic.
  .github/actions/internal_tests/action.yaml
Due: none

Revert labels to original unquoted style to reduce diff delta.
  .github/actions/browser_tests/action.yaml
  .github/actions/internal_tests/action.yaml
  .github/actions/on_device_tests/action.yaml
Due: none

Clean up and revert labels/logic in generic test actions to minimize diff.
  .github/actions/internal_tests/action.yaml
  .github/actions/on_device_tests/action.yaml
Due: none

Final cleanup to minimize diff delta against origin/main.
  .github/actions/internal_tests/action.yaml
  .github/config/android-arm.json
  .github/config/android-arm64.json
  .github/config/android-x86.json
  .github/config/chromium_android-arm.json
  .github/config/chromium_android-arm64.json
  .github/config/chromium_android-x86.json
  .github/config/chromium_diffing.json
  .github/config/chromium_linux.json
  .github/config/evergreen-arm-hardfp-raspi.json
  .github/config/evergreen-arm-hardfp-rdk.json
  .github/config/evergreen-arm-softfp.json
  .github/config/evergreen-arm64.json
  .github/config/evergreen-x64.json
  .github/config/linux-modular.json
  .github/config/linux-web-tests.json
  .github/config/linux.json
  .github/config/raspi-2-modular.json
  .github/config/tvos-arm64-simulator.json
Due: none

Restore necessary environment variables in generic test actions.
  .github/actions/on_device_tests/action.yaml
Due: none

Final cleanup of browser test separation: remove from source targets and revert redundant filters.
  .github/actions/on_device_tests/action.yaml
  cobalt/build/testing/targets/linux-x64x11/test_targets.json
Due: none

Minimal browser test integration: consolidate execution and update platform configs.
  .github/config/android-arm.json
  .github/config/android-arm64.json
  .github/config/android-x86.json
  .github/config/chromium_android-arm.json
  .github/config/chromium_android-arm64.json
  .github/config/chromium_android-x86.json
  .github/config/chromium_diffing.json
  .github/config/chromium_linux.json
  .github/config/evergreen-arm-hardfp-raspi.json
  .github/config/evergreen-arm-hardfp-rdk.json
  .github/config/evergreen-arm-softfp.json
  .github/config/evergreen-arm64.json
  .github/config/evergreen-x64.json
  .github/config/linux-modular.json
  .github/config/linux-web-tests.json
  .github/config/linux.json
  .github/config/raspi-2-modular.json
  .github/config/tvos-arm64-simulator.json
Due: none

Revert on_device_tests targets argument to original style.
  .github/actions/on_device_tests/action.yaml
Due: none

Consolidate archive_test_artifacts calls in upload_test_artifacts action.
  .github/actions/upload_test_artifacts/action.yaml
Due: none

Fix missing backslashes in multi-line shell commands in browser_tests action.
  .github/actions/browser_tests/action.yaml
Due: none

Explicitly add browser test targets to platform build configurations.
  .github/config/android-arm.json
  .github/config/android-arm64.json
  .github/config/linux.json
Due: none

Fix test-results strategy evaluation when all test jobs are skipped.
  .github/workflows/main.yaml
Due: none

Simplify test-results matrix evaluation to prevent strategy errors.
  .github/workflows/main.yaml
Due: none

Use actions/download-artifact for Linux browser tests to fix GH CLI dependency.
  .github/workflows/main.yaml
Due: none

Run Linux browser tests inside unittest container for environmental consistency.
  .github/workflows/main.yaml
Due: none

Enable browser tests by updating filters and moving to odt-runner.
  .github/workflows/main.yaml
  cobalt/testing/filters/android-arm/cobalt_browsertests_filter.json
  cobalt/testing/filters/android-arm64/cobalt_browsertests_filter.json
  cobalt/tools/on_device_tests_gateway_client.py
Due: yapf, pylint, python3-compatibility-check

Fix archive portability and prevent CI job skipping for browser tests.
  .github/workflows/main.yaml
  cobalt/build/archive_test_artifacts.py
  cobalt/build/test_archive_test_artifacts.py
  cobalt/testing/browser_tests/tools/collect_test_artifacts.py
  cobalt/testing/browser_tests/tools/test_collect_test_artifacts.py
Due: yapf, pylint, python3-compatibility-check

Stabilize browser tests on Starboard and fix artifact naming.
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
  cobalt/build/archive_test_artifacts.py
  cobalt/testing/browser_tests/navigation_browsertest.cc
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check

Skip failing browser tests on Linux.
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
  cobalt/testing/browser_tests/navigation_browsertest.cc
Due: clang-format, cpplint

Cleanup: Use MAYBE_ pattern for metrics tests and restore navigation tests.
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
  cobalt/testing/browser_tests/navigation_browsertest.cc
Due: clang-format, cpplint

Update Dockerfile to use new artifact naming convention.
  cobalt/testing/browser_tests/tools/Dockerfile
Due: none

Disable crashing navigation test on Starboard.
  cobalt/testing/browser_tests/navigation_browsertest.cc
Due: clang-format, cpplint

ci: apply gtest filters from JSON for linux browser tests
  .github/workflows/main.yaml
Due: none

Change to browser test type
  .github/actions/browser_tests/action.yaml
Due: none

Cache samples before Java is ready
  starboard/android/shared/exoplayer/exoplayer_bridge.cc
  starboard/android/shared/exoplayer/exoplayer_bridge.h
Due: clang-format, cpplint

Add ASAN_OPTIONS to disable asan exit code
  starboard/rdk/generate_runfile.py
Due: yapf, pylint, python3-compatibility-check

starboard/tvos: Fix system_properties include path to use keyboxes-dev
  starboard/tvos/shared/system_get_property.mm
Due: none

tvOS: Revert most accessibility changes from #8611
  cobalt/shell/BUILD.gn
  cobalt/shell/browser/shell_platform_delegate_ios.mm
Due: gn-format

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
