Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, yapf, pylint, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, gn-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^starboard/shared/uikit/.*\.h$
)
) and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  yapf: any of: \.py$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  pylint: any of: \.py$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  google-java-format: any of: \.java$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  gcheckstyle: any of: \.java$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not ((?x)^(
    .pylintrc$|
    .pre-commit-config.yaml$|
    cobalt/base/unicode/|
    cobalt/demos/content/|
    cobalt/layout_tests/testdata/|
    cobalt/math/|
    cobalt/media/|
    cobalt/streams/|
    cobalt/webdriver/screencast/|
    cobalt/websocket/|
    components/crx_file/|
    content/|
    internal/starboard/shared/glimp/|
    starboard/contrib/RDK/|
    nb/|
    starboard/content/fonts/LICENSES.txt |
    starboard/android/apk/gradlew|
    starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.cc$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.h$|
    starboard/shared/starboard/player/testdata/licences/|
    starboard/shared/starboard/player/filter/wsola_internal.cc$
)
) and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  check-if-starboard-interface-changed: any of: ^starboard/[^/]+\.h$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  test-python3-compatibility: any of: \.py$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (
        .github|
        cobalt|
        docker|
        internal|
        precommit_hooks|
        starboard|
        tools/metrics/actions/cobalt|
        tools/metrics/histograms/metadata/cobalt|
        tools/testing|
    )/
    | ^[^/]+$  # files in the root
)
 and not ((?x)^(
    (
        internal/kokoro/third-party|
        internal/starboard/shared/glimp/include|
        internal/starboard/shared/playstation/glimp/shaders|
        starboard/contrib/RDK|
    )/
    |
    .*_pb2\.py$ |
    .*\.pb\.cc$ |
    .*\.pb\.h$ |
    .*\.patch$ |
    .*Proto.java$|
    .*\.sig$
)
)

[CONFLICT] Original Commit: 11f52fe6f8a948dc08b3776149e39862457cbacd
  content/renderer/media/media_factory.cc
  content/renderer/media/media_factory.h
  fuchsia_web/webengine/renderer/web_engine_content_renderer_client.cc
  third_party/blink/public/platform/web_media_player_client.h
  third_party/blink/renderer/core/dom/node.cc
  third_party/blink/renderer/core/dom/node.h
  third_party/blink/renderer/core/exported/web_media_player_impl_unittest.cc
  third_party/blink/renderer/core/html/media/html_media_element.h
Due: none

Temporary workaround to get raspi2 to render (#6521)
  third_party/blink/renderer/core/frame/web_frame_widget_impl.cc
Due: none

This change lets users monitor an active Cobalt process without restarting it
  cobalt/tools/performance/README.md
  cobalt/tools/performance/android_monitor.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility

Enable Zero-copy rasterizer on ATV
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/CommandLineOverrideHelperTest.java
  cobalt/app/cobalt_switch_defaults_starboard.cc
Due: cpplint, google-java-format, gcheckstyle, check-copyright-year

Rebase refresh on 2025-07-22 for m138.
  DEPS
  chrome/VERSION
  chromeos/CHROMEOS_LKGM
  infra/config/generated/luci/cr-buildbucket.cfg
  infra/config/generated/luci/project.cfg
  infra/config/subprojects/chromium/try/tryserver.chromium.dawn.star
  third_party/blink/renderer/modules/mediastream/media_stream_track_impl.cc
  third_party/blink/renderer/modules/mediastream/media_stream_track_impl.h
  third_party/blink/renderer/modules/mediastream/media_stream_track_impl_test.cc
Due: check-copyright-year

Change all of Cobalt crbug.com links to buganizer links.
  cobalt/testing/browser_tests/navigation_browsertest.cc
Due: cpplint, check-copyright-year

Attempt to fix android packaging
  .github/actions/upload_test_artifacts/action.yaml
  cobalt/build/archive_test_artifacts.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility

disabling all touch input context menu
  third_party/blink/renderer/core/input/event_handler.cc
  third_party/blink/renderer/core/page/context_menu_controller.cc
Due: none

Files in the runtime deps file are always using out dir as root
  cobalt/build/archive_test_artifacts.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility

add logging
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
Due: cpplint, check-copyright-year

android: Remove some test targets from _EXCLUDE_TESTS_PREFIX
  cobalt/build/test_targets.py
  starboard/android/shared/model_year_test.cc
Due: cpplint, yapf, pylint, check-copyright-year, test-python3-compatibility

Refactor and add/refine comments to make code clearer
  cobalt/build/archive_test_artifacts.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility

Use static json file for web tests, comment out unused code
  .github/actions/build/action.yaml
Due: check-copyright-year

Reintroduce cd to src/
  .github/actions/build/action.yaml
Due: check-copyright-year

Filter all of blink_platform_unittests
  cobalt/testing/filters/linux-x64x11/blink_platform_unittests_filter.json
Due: check-copyright-year

Add missing test_targets.json for web tests
  cobalt/build/testing/targets/linux-x64x11-no-starboard/test_targets.json
Due: check-copyright-year

linux: Enable more warnings in the no_pedantic_warnings config
  starboard/elf_loader/dynamic_section.cc
  starboard/elf_loader/dynamic_section.h
  starboard/elf_loader/program_table_test.cc
  starboard/linux/shared/platform_configuration/BUILD.gn
  starboard/shared/starboard/player/filter/mock_audio_renderer_sink.h
Due: cpplint, check-copyright-year, gn-format

Filter the tests
  cobalt/testing/filters/linux-x64x11/blink_platform_unittests_filter.json
  cobalt/testing/filters/linux-x64x11/blink_unittests_filter.json
Due: check-copyright-year

[POSIX] Remove mremap calls
  starboard/tools/api_leak_detector/evergreen/manifest
  third_party/sqlite/BUILD.gn
  v8/src/base/page-allocator.cc
  v8/src/base/platform/platform-linux.cc
Due: check-copyright-year

refactor: Remove SbPlayerBridge::Suspend
  media/starboard/sbplayer_bridge.cc
  media/starboard/sbplayer_bridge.h
Due: none

Add tests for poll, ppoll, select
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_poll_test.cc
  starboard/nplb/posix_compliance/posix_ppoll_test.cc
  starboard/nplb/posix_compliance/posix_select_test.cc
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/api_leak_detector/evergreen/manifest
Due: cpplint, yapf, pylint, check-copyright-year, test-python3-compatibility, gn-format

Wrapper for poll
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_ppoll_test.cc
  starboard/shared/modular/BUILD.gn
  starboard/shared/modular/cobalt_layer_posix_poll_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_poll_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_poll_abi_wrappers.h
  starboard/tools/api_leak_detector/api_leak_detector.py
Due: cpplint, yapf, pylint, check-copyright-year, test-python3-compatibility, gn-format

Address comments
  starboard/shared/modular/cobalt_layer_posix_poll_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_poll_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_poll_abi_wrappers.h
Due: cpplint, check-copyright-year

Add test for multiple events
  starboard/nplb/posix_compliance/posix_poll_test.cc
Due: cpplint, check-copyright-year

fix error
  starboard/nplb/posix_compliance/posix_poll_test.cc
Due: cpplint, check-copyright-year

Fix linux build error
  starboard/nplb/posix_compliance/posix_poll_test.cc
Due: cpplint, check-copyright-year

[POSIX] Remove sendfile
  base/files/file_util.cc
  base/files/file_util.h
  base/files/file_util_posix.cc
  base/files/file_util_unittest.cc
  starboard/tools/api_leak_detector/evergreen/manifest
Due: check-copyright-year

Fix Cobalt.apk upload
  .github/actions/upload_test_artifacts/action.yaml
Due: check-copyright-year

Fix PR comments
  starboard/shared/modular/starboard_layer_posix_poll_abi_wrappers.cc
Due: cpplint, check-copyright-year

posix: Add symlink tests
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_symlink_test.cc
  starboard/tools/api_leak_detector/evergreen/manifest
Due: cpplint, check-copyright-year, gn-format

Add to api_leak_detector
  starboard/tools/api_leak_detector/api_leak_detector.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility

starboard: Rename target_platform to starboard_target_platform
  build/toolchain/android/BUILD.gn
  cobalt/build/configs/evergreen-arm-hardfp-raspi/args.gn
  cobalt/devinfra/kokoro/bin/common.sh
  starboard/android/arm/args.gn
  starboard/android/arm64/args.gn
  starboard/android/x86/args.gn
  starboard/build/platform_path.gni
  starboard/evergreen/arm/hardfp/args.gn
  starboard/evergreen/arm/softfp/args.gn
  starboard/evergreen/arm64/args.gn
  starboard/evergreen/x64/args.gn
  starboard/linux/x64x11/args.gn
  starboard/linux/x64x11/clang/3.9/args.gn
  starboard/linux/x64x11/egl/args.gn
  starboard/linux/x64x11/gcc/6.3/args.gn
  starboard/linux/x64x11/skia/args.gn
  starboard/raspi/2/args.gn
  starboard/raspi/2/skia/args.gn
  starboard/shared/ffmpeg/BUILD.gn
  starboard/stub/args.gn
Due: check-copyright-year, gn-format

refactor
  starboard/nplb/posix_compliance/posix_symlink_test.cc
Due: cpplint, check-copyright-year

Implement Miguel's suggestions
  starboard/android/shared/model_year_test.cc
Due: cpplint, check-copyright-year

Use nullptr instead
  starboard/nplb/posix_compliance/posix_symlink_test.cc
Due: cpplint, check-copyright-year

Fix alphabetization in BUILD.gn
  starboard/nplb/BUILD.gn
Due: check-copyright-year, gn-format

Fix pattern for broken DataDog upload (#6523)
  .github/actions/process_test_results/action.yaml
  cobalt/testing/filters/linux-x64x11/blink_unittests_filter.json
Due: check-copyright-year
