Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [pre-commit]

default_language_version:
    python: python3

files: |
    (?x)^(
        .github/|
        cobalt/|
        media/starboard/|
        starboard/|
        .pre-commit-config.yaml|
        .pylintrc|
        docker-compose.yaml
    )

repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-case-conflict
    -   id: check-xml
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace

-   repo: https://cobalt.googlesource.com/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        name: Spell Check
        args: [-x, cobalt/precommit/.codespellignorelines,
               # The --ignore-words-list argument has a bug where it needs to
               # be lowercase, see
               # https://github.com/codespell-project/codespell/issues/1390
               --ignore-words-list, "atleast,varius,assertIn,requestor",
               ]
        exclude: |
            (?x)^(
                starboard/content/ssl/certs/|
                starboard/shared/starboard/player/testdata/|
                starboard/android/apk/app/src/app/assets/web/link_android_splash_screen.html
            )

-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: clang-format
        language: python
        types: [c++]
        args: [-i, -style=file]
        additional_dependencies: ['clang-format==17.0.1']
    -   id: yapf
        name: yapf
        entry: yapf
        language: python
        types: [python]
        args: [-i, -vv]
        additional_dependencies: ['yapf==0.40.2']
    -   id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [python]
        args: [-d W0201]
        additional_dependencies: ['pylint==3.3.1']
    -   id: python3-compatibility-check
        name: Python 3 Compatibility Check
        entry: python3 ./cobalt/precommit/python3_check.py
        language: python
        types: [python]
    -   id: google-java-format
        name: google-java-format
        entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
        language: python
        exclude: |
            (?x)^(
                starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java
            )
        types: [java]
    -   id: gn-format
        name: gn-format
        entry: gn format
        language: system
        files: '.*\.gni?$'

Allow current line endings in certain files
  starboard/.gitattributes
  third_party/.gitattributes
Due: none

Persist UMA enablement state across app lifecycles. (#5646)
  cobalt/BUILD.gn
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/global_features.cc
  cobalt/browser/global_features.h
  cobalt/browser/h5vcc_metrics/h5vcc_metrics_impl.cc
  cobalt/browser/metrics/cobalt_enabled_state_provider.cc
  cobalt/browser/metrics/cobalt_enabled_state_provider.h
  cobalt/browser/metrics/cobalt_enabled_state_provider_test.cc
  cobalt/browser/metrics/cobalt_metrics_services_manager_client.cc
Due: clang-format, gn-format

Switch Android to use passthrough command decoder (#5661)
  cobalt/cobalt_switch_defaults.cc
Due: clang-format

[media] Refactor initializing StarboardRenderer via StarboardRendererConfig (#5473)
  content/browser/media/frameless_media_interface_proxy.cc
  content/browser/media/frameless_media_interface_proxy.h
  content/browser/media/media_interface_proxy.cc
  content/browser/media/media_interface_proxy.h
  content/renderer/media/media_interface_factory.cc
  content/renderer/media/media_interface_factory.h
  media/base/BUILD.gn
  media/base/ipc/BUILD.gn
  media/base/ipc/media_param_traits_macros.h
  media/base/starboard/starboard_renderer_config.cc
  media/base/starboard/starboard_renderer_config.h
  media/base/starboard/starboard_renderer_config_unittest.cc
  media/mojo/clients/mojo_renderer_factory.cc
  media/mojo/clients/mojo_renderer_factory.h
  media/mojo/clients/starboard/starboard_renderer_client_factory.cc
  media/mojo/mojom/BUILD.gn
  media/mojo/mojom/interface_factory.mojom
  media/mojo/mojom/starboard/starboard_renderer_config.mojom
  media/mojo/services/gpu_mojo_media_client.cc
  media/mojo/services/gpu_mojo_media_client.h
  media/mojo/services/interface_factory_impl.cc
  media/mojo/services/interface_factory_impl.h
  media/mojo/services/media_service_unittest.cc
  media/mojo/services/mojo_media_client.cc
  media/mojo/services/mojo_media_client.h
  media/mojo/services/test_mojo_media_client.cc
  media/mojo/services/test_mojo_media_client.h
  third_party/blink/renderer/modules/webcodecs/audio_decoder_broker_test.cc
  third_party/blink/renderer/modules/webcodecs/video_decoder_broker_test.cc
Due: none

[android] Ensure to setOverlayVideoMode() after WebContents is created (#5683)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: google-java-format, gcheckstyle

[POSIX] Register mkdtemp, mkstemp, and mkostemp in Starboard API (#5669)
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_file_temp_test.cc
Due: clang-format, gn-format

[media] Delay player seek while media sample read are in progress (#5467)
  media/starboard/starboard_renderer.cc
Due: clang-format

Remove log typo
  media/filters/chunk_demuxer.cc
Due: none

posix: add tests for fstat (#6809)
  starboard/nplb/posix_compliance/posix_file_get_info_test.cc
Due: clang-format

Remove zygote processes (#5680)
  base/BUILD.gn
  base/process/process_metrics_posix_starboard_stub.cc
  base/starboard/debugger_starboard.cc
  content/browser/BUILD.gn
  content/browser/browser_child_process_host_impl.cc
  content/browser/child_process_launcher_helper_starboard.cc
  content/public/common/zygote/features.gni
  content/zygote/BUILD.gn
  third_party/blink/common/chrome_debug_urls.cc
Due: none

[POSIX] Register pread and pwrite in Starboard API (#5681)
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/posix_compliance/posix_file_read_test.cc
  starboard/nplb/posix_compliance/posix_file_write_test.cc
Due: clang-format

Rename as generate
  .github/workflows/gemini-commit-message.yml
Due: none

[Posix] Implement fcntl wrapper (#6499)
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_fcntl_test.cc
  starboard/shared/modular/BUILD.gn
  starboard/shared/modular/cobalt_layer_posix_fcntl_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_fcntl_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_fcntl_abi_wrappers.h
  third_party/musl/include/fcntl.h
Due: clang-format, gn-format

cobalt/test: Fix Navigation Browser Tests for Android (#6837)
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/browser_tests/navigation_browsertest.cc
Due: clang-format, gn-format

ci: Rename commit message trigger command (#6788)
  .github/workflows/gemini-commit-message.yml
Due: none

Rebase refresh on 2025-08-15 for m138.
  android_webview/test/BUILD.gn
  android_webview/tools/run_cts.py
  chrome/VERSION
  chrome/build/android-arm64.pgo.txt
  chrome/build/mac-arm.pgo.txt
  chrome/build/mac.pgo.txt
  chrome/build/win32.pgo.txt
  chrome/build/win64.pgo.txt
Due: none

Rebase refresh on 2025-08-15 for m132.
  chrome/VERSION
  sandbox/linux/seccomp-bpf-helpers/baseline_policy.cc
  sandbox/linux/seccomp-bpf-helpers/baseline_policy_unittest.cc
  sandbox/linux/seccomp-bpf-helpers/syscall_parameters_restrictions.cc
  sandbox/linux/seccomp-bpf-helpers/syscall_parameters_restrictions.h
  sandbox/linux/seccomp-bpf-helpers/syscall_sets.cc
  sandbox/linux/seccomp-bpf-helpers/syscall_sets.h
  sandbox/policy/linux/bpf_network_policy_linux.cc
Due: none

refactor: Use const DecodedAudio& instead of const scoped_refptr<DecodedAudio>&
  starboard/shared/starboard/player/decoded_audio_test_internal.cc
  starboard/shared/starboard/player/filter/adaptive_audio_decoder_internal.cc
  starboard/shared/starboard/player/filter/audio_channel_layout_mixer.h
  starboard/shared/starboard/player/filter/audio_channel_layout_mixer_impl.cc
  starboard/shared/starboard/player/filter/audio_renderer_internal_pcm.cc
  starboard/shared/starboard/player/filter/audio_time_stretcher.cc
  starboard/shared/starboard/player/filter/audio_time_stretcher.h
  starboard/shared/starboard/player/filter/decoded_audio_queue.cc
  starboard/shared/starboard/player/filter/decoded_audio_queue.h
  starboard/shared/starboard/player/filter/testing/audio_channel_layout_mixer_test.cc
Due: clang-format

update tools
  __pycache__/common.cpython-312.pyc
  linear_main_commit_mapping.json
Due: none

update tools
  rebase_tools/bin/Activate.ps1
  rebase_tools/bin/activate
  rebase_tools/bin/activate.csh
  rebase_tools/bin/activate.fish
  rebase_tools/bin/pip
  rebase_tools/bin/pip3
  rebase_tools/bin/python
  rebase_tools/bin/python3
  rebase_tools/bin/python3.12
  rebase_tools/lib64
  rebase_tools/pyvenv.cfg
  requirements.txt
Due: none

update tools
  linear_main_commit_mapping_old.json
Due: none

fix typo
  main.py
Due: none

handle same file name patches
  linear_main_commit_mapping.json
  main.py
Due: none

Conflict Resolutions 763 of 1046. Minor mod to main.py and removal of third_party DEPS imports from commits.json
  commits_old.json
  m114_to_m120_conflicts/2bfb5e8/conflict/buildtools/reclient_cfgs/fetch_reclient_cfgs.py
  m114_to_m120_conflicts/2bfb5e8/patch/buildtools/reclient_cfgs/fetch_reclient_cfgs.patch
  m114_to_m120_conflicts/5d0c46b/conflict/media/base/decoder_buffer.h
  m114_to_m120_conflicts/5d0c46b/patch/media/base/decoder_buffer.patch
  m114_to_m120_conflicts/5d0c46b/resolved/media/base/decoder_buffer.h
  m114_to_m120_conflicts/cab6934/conflict/base/BUILD.gn
  m114_to_m120_conflicts/cab6934/conflict/base/allocator/partition_allocator/BUILD.gn
  m114_to_m120_conflicts/cab6934/conflict/base/allocator/partition_allocator/src/partition_alloc/shim/allocator_shim_override_libc_symbols.h
  m114_to_m120_conflicts/cab6934/conflict/base/debug/stack_trace_posix.cc
  m114_to_m120_conflicts/cab6934/conflict/buildtools/third_party/libc++abi/BUILD.gn
  m114_to_m120_conflicts/cab6934/conflict/third_party/boringssl/BUILD.gn
  m114_to_m120_conflicts/cab6934/patch/base/BUILD.patch
  m114_to_m120_conflicts/cab6934/patch/base/allocator/partition_allocator/BUILD.patch
  m114_to_m120_conflicts/cab6934/patch/base/allocator/partition_allocator/src/partition_alloc/shim/allocator_shim_override_libc_symbols.patch
  m114_to_m120_conflicts/cab6934/patch/base/debug/stack_trace_posix.patch
  m114_to_m120_conflicts/cab6934/patch/buildtools/third_party/libc++abi/BUILD.patch
  m114_to_m120_conflicts/cab6934/patch/third_party/boringssl/BUILD.patch
  m114_to_m120_conflicts/cab6934/resolved/base/BUILD.gn
  m114_to_m120_conflicts/cab6934/resolved/base/allocator/partition_allocator/BUILD.gn
  m114_to_m120_conflicts/cab6934/resolved/buildtools/third_party/libc++abi/BUILD.gn
  m114_to_m120_conflicts/d9b50f8/patch/third_party/blink/renderer/platform/widget/compositing/layer_tree_settings.patch
  m114_to_m120_conflicts/d9b50f8/resolved/third_party/blink/renderer/platform/widget/compositing/layer_tree_settings.cc
  main.py
Due: none

fix patch logic
  m120_to_m126_conflicts/4ad91d6/patch/media/filters/chunk_demuxer_cc.patch
  m120_to_m126_conflicts/4ad91d6/patch/media/filters/chunk_demuxer_h.patch
  m120_to_m126_conflicts/8e96e41/conflict/base/android/jni_android.cc
  m120_to_m126_conflicts/ccead89/patch/media/base/decoder_buffer_cc.patch
  m120_to_m126_conflicts/ccead89/patch/media/base/decoder_buffer_h.patch
  main.py
Due: none

m120 to 324 bbe8151
  m114_to_m120_conflicts/3be9afd/conflict/BUILD.gn
  m114_to_m120_conflicts/3be9afd/patch/BUILD.patch
  m114_to_m120_conflicts/3be9afd/resolved/BUILD.gn
Due: none

m120 to 324 bbe8151
  m114_to_m120_conflicts/064f570/conflict/base/BUILD.gn
  m114_to_m120_conflicts/064f570/patch/base/BUILD.patch
  m114_to_m120_conflicts/064f570/resolved/base/BUILD.gn
Due: none

Don't apply /*FALLTHROUGH*/ edit to gperf 3.2 output
  third_party/blink/renderer/build/scripts/gperf.py
Due: none

add feature/linear_main's commits_m114.json
  README
  commits_m114.json
  main.py
Due: none

Update CODEOWNERS for Chrobalt
  .github/CODEOWNERS
Due: none

Update the Starboard CHANGELOG.md (#4181)
  starboard/CHANGELOG.md
Due: none
