Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

chromium-pre-commit:
  name: Chromium presubmit bridge
  entry: ./third_party/depot_tools/vpython3 --vpython-spec=./third_party/depot_tools/.vpython3 ./cobalt/precommit/run_chromium_presubmits.py
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==21.1.0

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=5
  - --quiet
  additional_dependencies:
  - cpplint==2.0.2

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

check-java-strings-have-locale:
  name: Check Java String.format includes Locale
  entry: python3 ./cobalt/precommit/check_java_strings_have_locale.py
  language: python

V8 Cache: Increase size to 5MB by Default (#11950)
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
  cobalt/browser/cobalt_content_browser_client.cc
  content/browser/code_cache/generated_code_cache.cc
Due: clang-format, cpplint, gcheckstyle, check-java-strings-have-locale

pylint
  .github/rebase/resolve_conflicts.py
  .github/rebase/run_rebase_pipeline.py
Due: yapf, pylint, python3-compatibility-check

use gcloud storage
  .github/rebase/rebase_memory.py
Due: yapf, pylint, python3-compatibility-check

media: Query testing SbPlayerInterface dynamically on each call
  media/starboard/starboard_renderer.cc
  media/starboard/starboard_renderer.h
Due: clang-format, cpplint

media: Cache active SbPlayerInterface pointer during StarboardRenderer construction
  media/starboard/starboard_renderer.cc
  media/starboard/starboard_renderer.h
Due: clang-format, cpplint

media: Load testing interface once in StarboardRenderer constructor body
  media/starboard/starboard_renderer.cc
Due: clang-format, cpplint

media: Resolve SbPlayerInterface dynamically in GetSbPlayerInterface
  media/starboard/starboard_renderer.cc
  media/starboard/starboard_renderer.h
Due: clang-format, cpplint

ci(docker): Allow system-wide pip packages in linux builder
  cobalt/docker/linux/Dockerfile
Due: none

media: Include base/time/time.h directly in mock_sbplayer_interface.h
  media/starboard/mock_sbplayer_interface.h
Due: clang-format, cpplint

Narrow DevTools extension host permissions to localhost and loopback (#12041)
  cobalt/tools/devtools_extension/manifest.json
Due: none

ci(docker): Install python runner dependencies in linux builder
  .github/actions/internal_tests/action.yaml
  .github/actions/on_device_tests/action.yaml
  cobalt/docker/linux/Dockerfile
Due: none

ci(docker): Install python-is-python3 in linux builder
  cobalt/docker/linux/Dockerfile
Due: none

docs: add GitHub releases URL for prebuilt CRX packages
  cobalt/site/docs/development/index.md
  cobalt/site/docs/development/setup-linux.md
Due: none

ci: Add diagnostics to find gcloud on host
  .github/actions/on_device_tests/action.yaml
Due: none

ci: Install gcloud on the fly for on-device tests
  .github/actions/on_device_tests/action.yaml
Due: none

tvos: Reuse content_test_bundle_data for cobalt_browsertests (#11863)
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/browser_tests/cobalt_test_bundle_data.globlist
  cobalt/testing/browser_tests/cobalt_test_bundle_data_ios.filelist
  content/test/content_test_bundle_data.filelist
Due: gn-format

Fix window resizing and Starboard window size synchronization
  starboard/shared/x11/window_internal.cc
  ui/aura/window_tree_host.cc
  ui/ozone/platform/starboard/platform_window_starboard.cc
  ui/ozone/platform/starboard/test/platform_window_starboard_unittest.cc
Due: clang-format, cpplint

ci: Bump and pin GitHub Actions to full commit SHAs (24.lts.1+)
  .github/actions/docker/action.yaml
  .github/actions/docker_win/action.yaml
  .github/actions/on_device_tests/action.yaml
  .github/actions/on_host_test/action.yaml
  .github/actions/pre_commit/action.yaml
  .github/workflows/android_24.lts.1+.yaml
  .github/workflows/gradle_24.lts.1+.yaml
  .github/workflows/label-cherry-pick.yaml
  .github/workflows/main.yaml
  .github/workflows/main_win.yaml
  .github/workflows/pytest_24.lts.1+.yaml
Due: none

fix(worker): Resolve race condition in Worker::Abort
  cobalt/worker/worker.cc
Due: clang-format, cpplint

ci(23.lts): Bypass retired windows-2019 runner for docker build
  .github/workflows/main_win.yaml
Due: none

ci: Bump and pin GitHub Actions to full commit SHAs (23.lts.1+)
  .github/actions/docker/action.yaml
  .github/actions/docker_win/action.yaml
  .github/workflows/label-cherry-pick.yaml
  .github/workflows/main.yaml
  .github/workflows/main_win.yaml
Due: none

ci(21.lts): Use marketplace.gcr.io as default base image registry
  docker/linux/base/Dockerfile
Due: none

ci: Bump and pin GitHub Actions to full commit SHAs (21.lts.1+)
  .github/actions/docker/action.yaml
  .github/workflows/label-cherry-pick.yaml
  .github/workflows/main.yaml
Due: none

ci(21.lts): Fix upload-artifact, download-artifact, and login-action commit SHAs
  .github/actions/docker/action.yaml
  .github/workflows/label-cherry-pick.yaml
  .github/workflows/main.yaml
Due: none

ci(rc_11): Remove verbose flag from tar in Raspberry Pi Dockerfile
  docker/linux/raspi/Dockerfile
Due: none

ci(rc_11): Fix tj-actions/changed-files commit SHA for v47.0.6
  .github/actions/docker/action.yaml
Due: none

ci: Bump and pin GitHub Actions to full commit SHAs (rc-11)
  .github/actions/docker/action.yaml
  .github/workflows/label-cherry-pick.yaml
  .github/workflows/main.yaml
Due: none

ci(rc_11): Fix upload-artifact, download-artifact, and login-action commit SHAs
  .github/actions/docker/action.yaml
  .github/workflows/label-cherry-pick.yaml
  .github/workflows/main.yaml
Due: none

ci(27.lts): Add 27.lts to auto-label-kokoro branches
  .github/workflows/auto_label_kokoro.yaml
Due: none

ci(26.eap): Remove setup-gcloud and configure gcloud in base image
  .github/actions/docker/action.yaml
  .github/actions/e2e_tests/action.yaml
  .github/actions/on_device_tests/action.yaml
  .github/actions/print_logs/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
Due: none

ci(26.eap): Run on-device and e2e tests in docker build container
  .github/workflows/main.yaml
Due: none

ci(docker): Add python3-pip to raspi and rdk build images
  cobalt/docker/raspi/Dockerfile
  cobalt/docker/rdk/Dockerfile
Due: none

ci: Bump and pin GitHub Actions to full commit SHAs (26.eap)
  .github/actions/build/action.yaml
  .github/actions/on_device_tests/action.yaml
  .github/actions/on_host_tests/action.yaml
  .github/actions/process_test_results/action.yaml
  .github/actions/test_targets_json/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
  .github/actions/web_tests/action.yaml
  .github/workflows/gemini-commit-message.yml
  .github/workflows/label-cherry-pick.yaml
  .github/workflows/lint.yaml
  .github/workflows/main.yaml
Due: none

Fix git ownership issue in build action
  .github/actions/build/action.yaml
Due: none

ci: Increase fetch-depth to 100 for PRs in build job
  .github/workflows/main.yaml
Due: none

ci(26.eap): Run on-device and e2e tests on host, install gcloud on the fly for E2E
  .github/actions/e2e_tests/action.yaml
  .github/workflows/main.yaml
Due: none

ci(26.eap): Bump and pin GitHub Actions to full commit SHAs
  .github/actions/build/action.yaml
  .github/actions/e2e_tests/action.yaml
  .github/actions/on_device_tests/action.yaml
  .github/actions/on_host_tests/action.yaml
  .github/actions/process_test_results/action.yaml
  .github/actions/test_targets_json/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
  .github/actions/web_tests/action.yaml
  .github/workflows/gemini-commit-message.yml
  .github/workflows/label-cherry-pick.yaml
  .github/workflows/lint.yaml
  .github/workflows/main.yaml
  cobalt/docker/raspi/Dockerfile
  cobalt/docker/rdk/Dockerfile
Due: none

test(black_box_tests): Disable signal_handler_doesnt_crash on 22.lts.1+
  cobalt/black_box_tests/black_box_tests.py
Due: yapf, pylint, python3-compatibility-check

ci: Bump and pin GitHub Actions to full commit SHAs (22.lts.1+)
  .github/actions/docker/action.yaml
  .github/workflows/label-cherry-pick.yaml
  .github/workflows/main.yaml
Due: none

[NPLB] Remove unused beneath_the_canopy_136_avc test asset
  starboard/shared/starboard/player/testdata/beneath_the_canopy_136_avc.dmp.sha1
  starboard/shared/starboard/player/testdata/sha1_files.gni
Due: gn-format

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
