Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [pre-commit]

default_language_version:
    python: python3

files: |
    (?x)^(
        .github/|
        chrobalt/|
        starboard/|
        .pre-commit-config.yaml|
        docker-compose.yaml
    )

repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-case-conflict
    -   id: check-xml
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace

-   repo: https://cobalt.googlesource.com/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        name: Spell Check
        args: [-x, chrobalt/precommit/.codespellignorelines,
               # The --ignore-words-list argument has a bug where it needs to
               # be lowercase, see
               # https://github.com/codespell-project/codespell/issues/1390
               --ignore-words-list, "atleast,varius",
               ]
        exclude: |
            (?x)^(
                starboard/content/ssl/certs/|
                starboard/loader_app/app_key_test.cc|
                starboard/shared/starboard/player/testdata
            )

-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: clang-format
        language: python
        types: [c++]
        args: [-i, -style=file]
        additional_dependencies: ['clang-format']
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: python
        types: [c++]
        args: [--verbose=4, --quiet]
        additional_dependencies: ['cpplint']
    -   id: yapf
        name: yapf
        entry: yapf
        language: python
        types: [python]
        args: [-i, -vv]
        additional_dependencies: ['yapf']
    -   id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [python]
        args: [-d W0201]
        additional_dependencies: ['pylint']
    -   id: python3-compatibility-check
        name: Python 3 Compatibility Check
        entry: python3 ./chrobalt/precommit/python3_check.py
        language: python
        types: [python]
    -   id: google-java-format
        name: google-java-format
        entry: python3 ./chrobalt/precommit/google_java_format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: python3 ./chrobalt/precommit/gcheckstyle_wrapper.py
        language: python
        types: [java]
    -   id: gn-format
        name: gn-format
        entry: gn format
        language: system
        files: '.*\.gni?$'

Add logging
  starboard/android/shared/audio_stream.cc
  starboard/android/shared/audio_stream.h
Due: clang-format, cpplint

address gemini comment
  media/starboard/starboard_cdm.cc
Due: none

CSP Headers enforcement
  cobalt/browser/cobalt_https_only_navigation_throttle.cc
  cobalt/browser/cobalt_https_only_navigation_throttle.h
Due: none

Update media/starboard/starboard_cdm.cc
  media/starboard/starboard_cdm.cc
Due: none

Fix potential alignment issue in the pthread wrappers
  starboard/shared/modular/starboard_layer_posix_pthread_abi_wrappers.cc
Due: clang-format, cpplint

Add tests for h_5_vcc_experiments. (#5773)
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/constants/BUILD.gn
  cobalt/browser/constants/cobalt_experiment_names.h
  cobalt/browser/global_features.cc
  cobalt/browser/h5vcc_experiments/h5vcc_experiments_impl.cc
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/experiments_utils.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/experiments_utils.h
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/experiments_utils_test.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/h_5_vcc_experiments.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/h_5_vcc_experiments.h
Due: none

git cl format
  media/starboard/starboard_cdm.cc
Due: none

Make aaudio work
  starboard/android/shared/audio_stream.cc
Due: clang-format, cpplint

Cherry pick PR #5862: cobalt: Move //cobalt/user_agent to //cobalt/browser/user_agent (#5867)
  cobalt/BUILD.gn
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/user_agent/BUILD.gn
  cobalt/browser/user_agent/user_agent_platform_info.cc
  cobalt/browser/user_agent/user_agent_platform_info.h
  cobalt/browser/user_agent/user_agent_platform_info_test.cc
Due: none

Improve starboard::shared::starboard::media::AvcParameterSets class to handle optional parameters (#5590)
  starboard/shared/starboard/media/avc_util.cc
  starboard/shared/starboard/media/avc_util.h
  starboard/shared/starboard/media/avc_util_test.cc
Due: clang-format, cpplint

Use normal mode
  starboard/android/shared/audio_stream.cc
Due: clang-format, cpplint

Fix Skia memory management for Starboard (#5866)
  skia/ext/SkMemory_new_handler.cpp
Due: none

Add ability to add new branches if milestones are missing to sync chromium workflow.
  .github/workflows/sync_chromium_branches.yaml
Due: none

Restore CONTRIBUTING.md (#5881)
  CONTRIBUTING.md
Due: none

Tests and ABI wrap for readdir
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_directory_get_next_readdir_r_test.cc
  starboard/nplb/posix_compliance/posix_directory_get_next_readdir_test.cc
  starboard/shared/modular/cobalt_layer_posix_directory_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_directory_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_directory_abi_wrappers.h
  starboard/tools/api_leak_detector/api_leak_detector.py
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check, gn-format

Add ability to add new branches if milestones are missing to sync chromium workflow. (#5811)
  .github/workflows/sync_chromium_branches.yaml
Due: none

Correct Java format to set V8 flags (#5875)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: none

Fix potential alignment issue in the pthread wrappers (#5880)
  starboard/shared/modular/starboard_layer_posix_pthread_abi_wrappers.cc
Due: clang-format, cpplint

(DNS) Allocator dumper
  base/BUILD.gn
  base/allocator/partition_allocator/shim/allocator_dumper.cc
  base/allocator/partition_allocator/shim/allocator_dumper.h
  base/allocator/partition_allocator/shim/allocator_shim.cc
  cobalt/tools/memory/allocation_analyzer.py
  media/starboard/starboard_renderer.cc
Due: none

Update CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: none

[POSIX] Fix pthread deadlock
  starboard/shared/modular/starboard_layer_posix_pthread_abi_wrappers.cc
Due: clang-format, cpplint

Adding binding between browser and renderer for page load metrics
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/renderer/BUILD.gn
  cobalt/renderer/cobalt_content_renderer_client.cc
Due: none

Moving metrics init to //cobalt/browser/metrics
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/metrics/page_load_metrics_initialize.cc
  cobalt/browser/metrics/page_load_metrics_initialize.h
  cobalt/browser/metrics/page_load_metrics_memory_tracker_factory.cc
  cobalt/browser/metrics/page_load_metrics_memory_tracker_factory.h
Due: none

Fix ninja targets in modular build
  .github/config/linux-modular.json
Due: none

Adding not implemented and reasoning for this.
  cobalt/browser/metrics/page_load_metrics_initialize.cc
Due: none

Inlining stubbed PageLoadMetricsEmbedder methods that just return false.
  cobalt/browser/metrics/page_load_metrics_initialize.cc
Due: none

Moving PageLoadMetricsMemoryTrackerFactory to anonymous namespace
  cobalt/browser/BUILD.gn
  cobalt/browser/metrics/page_load_metrics_initialize.cc
  cobalt/browser/metrics/page_load_metrics_memory_tracker_factory.cc
  cobalt/browser/metrics/page_load_metrics_memory_tracker_factory.h
Due: none

Set use_custom_libcxx only for chromium toolchains
  cobalt/build/configs/starboard.gni
Due: none

Addressing comments from #5766
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_https_only_navigation_throttle.h
Due: none
