Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)

build: Wire up h5vcc_native_stability:unit_tests (#13146)
  cobalt/BUILD.gn
Due: gn-format

starboard: Remove _LIBUNWIND_HAS_STARBOARD_THREADS (#13139)
  third_party/llvm-project/libunwind/BUILD.gn
  third_party/llvm-project/libunwind/src/RWMutex.hpp
Due: none

cleanup: Remove stale GYP references (#13150)
  cobalt/docker/rdk/Dockerfile
  starboard/README.md
  starboard/build/config/BUILD.gn
  starboard/content/fonts/README.md
  starboard/content/fonts/scripts/filter_fonts.py
  starboard/doc/crash_handlers.md
  starboard/doc/starboard_split.md
  starboard/extension/configuration.h
  starboard/extension/graphics.h
  starboard/sabi/generate_sabi_id.py
  starboard/tools/paths.py
Due: clang-format, cpplint, yapf, pylint, python3-compatibility-check, gn-format

refactor(autoroll): streamline plumbing engine and remove standalone test file
  .github/scripts/autoroll_lib.py
  .github/scripts/autoroll_lib_test.py
Due: yapf, pylint, python3-compatibility-check

cobalt: Improve PendingAck and SbPlayerBridge warning logs
  cobalt/app/app_event_runner.cc
  cobalt/browser/lifecycle/cobalt_lifecycle_manager.cc
  cobalt/browser/lifecycle/cobalt_lifecycle_manager.h
  media/starboard/sbplayer_bridge.cc
Due: clang-format, cpplint

ci: Remove redundant bare git mirror logic from checkout and depot_tools
  .github/actions/checkout/action.yaml
  .github/actions/depot_tools/action.yaml
Due: none

media: Add SbPlayerDestroy lifecycle tests
  cobalt/shell/browser/lifecycle_unittest.cc
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/browser_tests/media_source_browsertest.cc
  cobalt/tools/test_lifecycle.sh
  media/starboard/sbplayer_bridge_test.cc
  media/starboard/starboard_renderer_unittest.cc
  third_party/blink/renderer/platform/graphics/video_frame_submitter_test.cc
Due: clang-format, cpplint, gn-format

media: Suspend active players on app conceal
  content/public/renderer/render_frame_media_playback_options.cc
  third_party/blink/renderer/platform/media/web_media_player_impl.cc
Due: none

media: Add SbPlayerDestroy conceal counter-tests
  cobalt/shell/browser/lifecycle_unittest.cc
  cobalt/testing/browser_tests/media_source_browsertest.cc
  cobalt/tools/test_lifecycle.sh
  third_party/blink/renderer/core/exported/web_media_player_impl_unittest.cc
Due: clang-format, cpplint

cobalt: Add foreground-filtered exit reason detection on Android (#13049)
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/BaseStarboardBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/ProcessExitReasonHelper.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/BaseStarboardBridgeTest.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/util/ProcessExitReasonHelperTest.java
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/metrics/cobalt_stability_metrics_helper.cc
  cobalt/browser/metrics/cobalt_stability_metrics_helper.h
  cobalt/browser/metrics/cobalt_stability_metrics_helper_unittest.cc
  tools/metrics/histograms/metadata/cobalt/histograms.xml
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

android: Use SurfaceControl for display compositor output (#12981)
  cobalt/shell/BUILD.gn
  cobalt/shell/android/content_view_render_view.cc
  cobalt/shell/android/content_view_render_view.h
  cobalt/shell/android/java/src/dev/cobalt/shell/ContentViewRenderView.java
  components/viz/service/display/overlay_processor_surface_control.cc
  content/browser/renderer_host/compositor_impl_android.cc
  content/browser/renderer_host/compositor_impl_android.h
  content/public/browser/android/compositor.h
  content/public/browser/gpu_utils.cc
  gpu/config/gpu_finch_features.cc
  gpu/config/gpu_finch_features.h
  gpu/ipc/service/image_transport_surface_android.cc
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

nplb: Name an mmap()ed page in PosixPrctlTest.SetVmaAnonName (#13148)
  starboard/nplb/posix_compliance/posix_prctl_test.cc
Due: clang-format, cpplint

nplb: Fix prctl perf events skip and socket test port handling
  starboard/nplb/posix_compliance/posix_prctl_test.cc
  starboard/nplb/posix_compliance/posix_socket_bind_test.cc
  starboard/nplb/posix_compliance/posix_socket_helpers.cc
Due: clang-format, cpplint

android: Implement Single-Layer Video in Viz
  components/viz/service/display/direct_renderer.cc
  components/viz/service/display/direct_renderer.h
  components/viz/service/display/skia_renderer.cc
  components/viz/service/display/starboard/overlay_strategy_underlay_starboard.cc
  components/viz/service/display/starboard/overlay_strategy_underlay_starboard.h
  ui/gl/gl_surface_egl_surface_control.cc
Due: clang-format, cpplint

media: Fix crash in Decode-to-Texture pipeline
  media/gpu/starboard/starboard_gpu_factory.cc
  media/gpu/starboard/starboard_gpu_factory.h
  media/gpu/starboard/starboard_gpu_factory_impl.cc
  media/gpu/starboard/starboard_gpu_factory_impl.h
  media/mojo/services/starboard/starboard_renderer_wrapper.cc
  media/mojo/services/starboard/starboard_renderer_wrapper_unittest.cc
  starboard/android/shared/decode_target.cc
  starboard/android/shared/decode_target.h
  starboard/android/shared/media_codec_video_decoder.cc
Due: clang-format, cpplint

review updates
  media/mojo/services/starboard/starboard_renderer_wrapper.cc
  starboard/android/shared/decode_target.cc
  starboard/android/shared/decode_target.h
  starboard/android/shared/media_codec_video_decoder.cc
Due: clang-format, cpplint

prefer CHECK over DCHECK
  starboard/android/shared/decode_target.cc
  starboard/android/shared/media_codec_video_decoder.cc
Due: clang-format, cpplint

Temporarily drop nogncheck
  cobalt/browser/cobalt_browser_main_parts.cc
Due: clang-format, cpplint

android: Suspend app on back key for network dialog (#13062)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/ErrorDialog.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/PlatformError.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/PlatformErrorTest.java
Due: gcheckstyle, check-java-strings-have-locale

cobalt: Disable CobaltSystemMemoryPressureEvaluator code in the staging branch (#13154)
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/memory/BUILD.gn
Due: clang-format, cpplint, gn-format

aosp: Report the model as the friendly name
  starboard/android/shared/system_get_property.cc
Due: clang-format, cpplint

media: Fix crash in Decode-to-Texture pipeline (#13114)
  media/gpu/starboard/starboard_gpu_factory.cc
  media/gpu/starboard/starboard_gpu_factory.h
  media/gpu/starboard/starboard_gpu_factory_impl.cc
  media/gpu/starboard/starboard_gpu_factory_impl.h
  media/mojo/services/starboard/starboard_renderer_wrapper.cc
  media/mojo/services/starboard/starboard_renderer_wrapper_unittest.cc
  starboard/android/shared/decode_target.cc
  starboard/android/shared/decode_target.h
  starboard/android/shared/media_codec_video_decoder.cc
Due: clang-format, cpplint

Clear cache dir contents instead of deleting the whole thing
  cobalt/browser/h5vcc_storage/h5vcc_storage_impl.cc
Due: clang-format, cpplint

kokoro: Authenticate git access to googlesource.com (#13112)
  cobalt/devinfra/kokoro/bin/build_mac.sh
  cobalt/devinfra/kokoro/bin/common.sh
  cobalt/devinfra/kokoro/bin/dind_build.sh
  cobalt/devinfra/kokoro/bin/presubmit_build_mac.sh
Due: none

infra: initialize CI Shepherd anchor comment in PR automation workflow
  .github/workflows/pull_request.yml
Due: none

infra: reset existing CI statuses on PR synchronize
  .github/workflows/pull_request.yml
Due: none

infra: consolidate status and deflaking jobs in CI Shepherd
  .github/workflows/ci_shepherd.yml
Due: none

infra: include closed and merged PRs in CI Shepherd PR search
  .github/workflows/ci_shepherd.yml
Due: none

Reject a zero alignment in the aligned_alloc polyfill
  starboard/android/shared/posix_emu/stdlib.cc
Due: clang-format, cpplint

cobalt/metrics: Complete initial HighestPmfReporter cycle before FG
  cobalt/browser/metrics/highest_pmf_reporter_browsertest.cc
  third_party/blink/renderer/controller/highest_pmf_reporter.cc
  third_party/blink/renderer/controller/highest_pmf_reporter.h
  third_party/blink/renderer/controller/highest_pmf_reporter_test.cc
Due: clang-format, cpplint

refactor(autoroll): adopt minimal sparse checkout and restore unmodified autoroll_lib
  .github/scripts/autoroll_lib.py
Due: yapf, pylint, python3-compatibility-check

ci: Verify signed golden workspace manifest and configure Kokoro upload
  .github/actions/overlay_workspace/action.yaml
  .github/security/golden-workspace-pubkey.pem
  cobalt/devinfra/kokoro/bin/build_mac.sh
  cobalt/devinfra/kokoro/bin/common.sh
  cobalt/devinfra/kokoro/bin/dind_builder_runner.sh
  cobalt/devinfra/kokoro/bin/dind_runner.sh
  cobalt/devinfra/kokoro/build/common.gcl
  cobalt/devinfra/kokoro/build/tvos/arm64/common.gcl
Due: none

android: Add finch feature flag to re-enable GPU Shader Cache with delayed write
  cobalt/BUILD.gn
  cobalt/app/cobalt_main_delegate.cc
  components/viz/host/gpu_host_impl.cc
  gpu/command_buffer/service/gr_cache_controller.cc
  gpu/command_buffer/service/gr_shader_cache.cc
  gpu/command_buffer/service/gr_shader_cache.h
  gpu/command_buffer/service/gr_shader_cache_unittest.cc
  gpu/command_buffer/service/shared_context_state.cc
  gpu/command_buffer/service/shared_context_state.h
  gpu/config/gpu_finch_features.cc
  gpu/config/gpu_finch_features.h
  gpu/config/gpu_preferences.cc
  gpu/config/gpu_preferences_unittest.cc
  gpu/ipc/service/gpu_channel_manager.cc
Due: clang-format, cpplint, gn-format

aosp: Report the model as the friendly name (#13110)
  starboard/android/shared/system_get_property.cc
Due: clang-format, cpplint

android: Fix WebGL rendering on Tegra devices
  third_party/angle/src/libANGLE/renderer/gl/renderergl_utils.cpp
Due: none

review comments
  third_party/angle/src/libANGLE/renderer/gl/renderergl_utils.cpp
Due: none

cobalt: Add cobalt-frame PerformanceObserver for core UMAs and EGL swap timings
  third_party/blink/renderer/bindings/generated_in_core.gni
  third_party/blink/renderer/bindings/idl_in_core.gni
  third_party/blink/renderer/core/cobalt/build.gni
  third_party/blink/renderer/core/cobalt/performance/cobalt_frame_timing.cc
  third_party/blink/renderer/core/cobalt/performance/cobalt_frame_timing.h
  third_party/blink/renderer/core/cobalt/performance/cobalt_frame_timing.idl
  third_party/blink/renderer/core/frame/web_frame_widget_impl.cc
  third_party/blink/renderer/core/frame/web_frame_widget_impl.h
  third_party/blink/renderer/core/timing/performance.cc
  third_party/blink/renderer/core/timing/performance_entry.cc
  third_party/blink/renderer/core/timing/performance_entry.h
  third_party/blink/renderer/core/timing/performance_entry_names.json5
  third_party/blink/renderer/core/timing/performance_observer.cc
  third_party/blink/renderer/core/timing/window_performance.cc
  third_party/blink/renderer/core/timing/window_performance.h
  third_party/blink/renderer/core/timing/window_performance_test.cc
  third_party/blink/renderer/platform/runtime_enabled_features.json5
  third_party/blink/renderer/platform/widget/compositing/layer_tree_view.cc
  third_party/blink/renderer/platform/widget/compositing/layer_tree_view_delegate.h
  third_party/blink/renderer/platform/widget/widget_base.cc
  third_party/blink/renderer/platform/widget/widget_base.h
  third_party/blink/renderer/platform/widget/widget_base_client.h
  third_party/blink/web_tests/cobalt/performance/cobalt-frame-observer.html
Due: clang-format, cpplint, gn-format

ci: Route golden workspace storage to cobalt-internal-build-artifacts
  .github/actions/depot_tools/action.yaml
  .github/actions/overlay_workspace/action.yaml
  .github/workflows/main.yaml
  cobalt/devinfra/kokoro/bin/common.sh
Due: none

cobalt/metrics: Complete initial HighestPmfReporter cycle before foreground metrics (#13160)
  cobalt/browser/metrics/highest_pmf_reporter_browsertest.cc
  third_party/blink/renderer/controller/highest_pmf_reporter.cc
  third_party/blink/renderer/controller/highest_pmf_reporter.h
  third_party/blink/renderer/controller/highest_pmf_reporter_test.cc
Due: clang-format, cpplint
