Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

chromium-pre-commit:
  name: Chromium presubmit bridge
  entry: ./third_party/depot_tools/vpython3 --vpython-spec=./third_party/depot_tools/.vpython3 ./cobalt/precommit/run_chromium_presubmits.py
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==21.1.0

cpplint:
  name: cpplint
  entry: cpplint
  language: python
  args:
  - --verbose=5
  - --quiet
  additional_dependencies:
  - cpplint==2.0.2

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

check-java-strings-have-locale:
  name: Check Java String.format includes Locale
  entry: python3 ./cobalt/precommit/check_java_strings_have_locale.py
  language: python

Add --deeplink support to deploy_rdk.py CLI (#11450)
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk.py
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk_test.py
Due: none

aosp: wrap pread and pwrite (#11215)
  starboard/elf_loader/exported_symbols.cc
  starboard/shared/modular/cobalt_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.h
Due: clang-format, cpplint

tvos: Support events from GCControllerDirectionPad (#11207)
  components/input/web_input_event_builders_ios.h
  components/input/web_input_event_builders_ios.mm
  content/browser/renderer_host/render_widget_host_view_tvos_uiview.mm
Due: none

Cherry pick PR #11450: Add --deeplink support to deploy_rdk.py CLI
  .github/AUTOROLL
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk.py
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/scripts/deploy_rdk_test.py
Due: none

Cherry pick PR #11215: aosp: wrap pread and pwrite
  .github/AUTOROLL
  starboard/elf_loader/exported_symbols.cc
  starboard/shared/modular/cobalt_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.h
Due: clang-format, cpplint

Cherry pick PR #11207: tvos: Support events from GCControllerDirectionPad
  .github/AUTOROLL
  components/input/web_input_event_builders_ios.h
  components/input/web_input_event_builders_ios.mm
  content/browser/renderer_host/render_widget_host_view_tvos_uiview.mm
Due: none

window creation v1
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltPictureInPictureActivity.java
  cobalt/browser/BUILD.gn
  cobalt/browser/android/overlay/cobalt_video_overlay_window.cc
  cobalt/browser/android/overlay/cobalt_video_overlay_window.h
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/shell/android/shell_apk/AndroidManifest.xml.jinja2
  pip_test.html
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

cobalt: allow to run PiP demo
  cobalt/build/configs/common.gn
  cobalt/renderer/cobalt_content_renderer_client.cc
  test.html
  test.md
Due: clang-format, cpplint, gn-format

successfully create window
  cobalt/shell/browser/shell.cc
Due: clang-format, cpplint

connect shell.cc to pip_window_manager
  cobalt/browser/picture_in_picture/picture_in_picture_window_manager.cc
  cobalt/browser/picture_in_picture/picture_in_picture_window_manager.h
  cobalt/shell/browser/shell.cc
Due: clang-format, cpplint

fix window close, implement in shell.cc now
  cobalt/browser/picture_in_picture/picture_in_picture_window_manager.cc
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell.h
Due: clang-format, cpplint

complete exit pip
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltPictureInPictureActivity.java
  cobalt/browser/BUILD.gn
  cobalt/browser/android/overlay/cobalt_video_overlay_window.cc
  cobalt/browser/picture_in_picture/picture_in_picture_window_manager.cc
  cobalt/shell/browser/shell.cc
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

render video v1
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltPictureInPictureActivity.java
  cobalt/browser/BUILD.gn
  cobalt/browser/android/overlay/cobalt_video_overlay_window.cc
  cobalt/browser/android/overlay/cobalt_video_overlay_window.h
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

fix copyright and update demo
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltPictureInPictureActivity.java
  cobalt/browser/BUILD.gn
  cobalt/browser/android/overlay/cobalt_video_overlay_window.cc
  cobalt/browser/android/overlay/cobalt_video_overlay_window.h
  cobalt/browser/picture_in_picture/picture_in_picture_window_manager.cc
  cobalt/browser/picture_in_picture/picture_in_picture_window_manager.h
  cobalt/build/configs/common.gn
  cobalt/renderer/cobalt_content_renderer_client.cc
  cobalt/shell/browser/shell.cc
  pip_test.html
  test.html
  test.md
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

add readme
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltPictureInPictureActivity.java
  cobalt/browser/BUILD.gn
  cobalt/browser/android/overlay/cobalt_video_overlay_window.cc
  cobalt/browser/android/overlay/cobalt_video_overlay_window.h
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/shell/BUILD.gn
  cobalt/shell/browser/picture_in_picture/README.md
  cobalt/shell/browser/picture_in_picture/picture_in_picture_window_manager.cc
  cobalt/shell/browser/picture_in_picture/picture_in_picture_window_manager.h
  cobalt/shell/browser/shell.cc
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

posix: fix sigismember() checking
  starboard/shared/modular/starboard_layer_posix_signal_abi_wrappers.cc
Due: clang-format, cpplint

Add flag to enable retry load url
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/JavaSwitches.java
Due: gcheckstyle, check-java-strings-have-locale

Fix refactor bug
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/PlatformError.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/PlatformErrorTest.java
Due: gcheckstyle, check-java-strings-have-locale

Stub out ShellDevToolsManagerDelegate
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/shell/BUILD.gn
  cobalt/shell/browser/shell_browser_main_parts.cc
  cobalt/shell/browser/shell_content_browser_client.cc
  cobalt/shell/browser/shell_content_browser_client.h
  cobalt/shell/browser/shell_devtools_manager_delegate.cc
Due: clang-format, cpplint, gn-format

aosp: return the result from musl's __clock_gettime (#11341)
  third_party/musl/src/include/time.h
Due: none

Remove raspi-2 status from BUILD_STATUS.md (#11473)
  cobalt/BUILD_STATUS.md
Due: none

Remove Cobalt skia
  third_party/skia/gn/tests.gni
  third_party/skia/include/core/SkStream.h
  third_party/skia/resources/skottie/skottie-sksl-effect-2.json
  third_party/skia/src/core/SkStream.cpp
  third_party/skia/src/gpu/ganesh/text/GrAtlasManager.cpp
  third_party/skia/src/gpu/graphite/text/TextAtlasManager.cpp
  third_party/skia/src/text/gpu/Glyph.h
  third_party/skia/src/text/gpu/GlyphVector.cpp
  third_party/skia/src/text/gpu/GlyphVector.h
  third_party/skia/src/text/gpu/StrikeCache.cpp
  third_party/skia/src/text/gpu/StrikeCache.h
  third_party/skia/src/text/gpu/SubRunContainer.cpp
  third_party/skia/tests/AtlasOobTest.cpp
Due: none

Add updated skia
  third_party/skia/include/utils/SkEventTracer.h
  third_party/skia/modules/skcms/skcms.cc
  third_party/skia/relnotes/event_tracer_leaking.md
  third_party/skia/src/codec/SkJpegMultiPicture.cpp
  third_party/skia/src/core/SkDescriptor.cpp
  third_party/skia/src/utils/SkEventTracer.cpp
  third_party/skia/tests/DescriptorTest.cpp
Due: none

Cherry pick PR #11341: aosp: return the result from musl's __clock_gettime
  .github/AUTOROLL
  third_party/musl/src/include/time.h
Due: none

Cherry pick PR #11473: Remove raspi-2 status from BUILD_STATUS.md
  .github/AUTOROLL
  cobalt/BUILD_STATUS.md
Due: none

add
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/PlatformError.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/PlatformErrorTest.java
Due: gcheckstyle, check-java-strings-have-locale

Revert "Remove Cobalt skia"
  third_party/skia/gn/tests.gni
  third_party/skia/include/core/SkStream.h
  third_party/skia/src/core/SkStream.cpp
  third_party/skia/src/gpu/ganesh/text/GrAtlasManager.cpp
  third_party/skia/src/gpu/graphite/text/TextAtlasManager.cpp
  third_party/skia/src/text/gpu/Glyph.h
  third_party/skia/src/text/gpu/GlyphVector.cpp
  third_party/skia/src/text/gpu/GlyphVector.h
  third_party/skia/src/text/gpu/StrikeCache.cpp
  third_party/skia/src/text/gpu/StrikeCache.h
  third_party/skia/src/text/gpu/SubRunContainer.cpp
  third_party/skia/tests/AtlasOobTest.cpp
Due: none

Filter failing vertical video tests on linux modular builds
  cobalt/testing/filters/linux-x64x11-modular/nplb_loader_filter.json
Due: none

Add more stubs for
  content/browser/devtools/dedicated_worker_devtools_agent_host.h
  content/browser/devtools/devtools_agent_host_impl.h
  content/browser/devtools/protocol/page_handler.h
  content/browser/devtools/render_frame_devtools_agent_host.h
  content/browser/devtools/service_worker_devtools_agent_host.h
  content/browser/devtools/service_worker_devtools_manager.h
  content/browser/devtools/shared_storage_worklet_devtools_manager.h
  content/browser/devtools/shared_worker_devtools_agent_host.h
  content/browser/devtools/shared_worker_devtools_manager.h
  content/browser/devtools/worker_devtools_manager.h
  content/browser/devtools_stubs.cc
  content/browser/fenced_frame/fenced_frame_reporter.cc
  content/browser/indexed_db/indexed_db_internals_ui.cc
  content/browser/preloading/prefetch/prefetch_service.cc
  content/browser/preloading/prerender/prerender_host_registry.cc
  content/browser/renderer_host/render_frame_host_manager.cc
  content/browser/renderer_host/render_widget_host_view_android.cc
  content/browser/service_worker/embedded_worker_instance.cc
  content/browser/service_worker/service_worker_fetch_dispatcher.cc
  content/browser/service_worker/service_worker_internals_ui.cc
  content/browser/web_contents/web_contents_impl.cc
  content/browser/worker_host/dedicated_worker_host.cc
  content/browser/worker_host/shared_worker_service_impl.cc
Due: none

decouple
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
Due: gcheckstyle, check-java-strings-have-locale

refactor
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/PlatformError.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/PlatformErrorTest.java
Due: gcheckstyle, check-java-strings-have-locale

shorten code
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/PlatformError.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
Due: gcheckstyle, check-java-strings-have-locale

Revert redunant changes
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/shell/browser/shell_browser_main_parts.cc
  cobalt/shell/browser/shell_content_browser_client.cc
  cobalt/shell/browser/shell_content_browser_client.h
  content/browser/fenced_frame/fenced_frame_reporter.cc
  content/browser/storage_partition_impl.h
  content/browser/web_contents/web_contents_impl.cc
  content/browser/worker_host/dedicated_worker_host.cc
  content/browser/worker_host/shared_worker_service_impl.cc
  content/browser/worker_host/worker_script_fetcher.cc
Due: clang-format, cpplint

remove
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/PlatformError.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/PlatformErrorTest.java
Due: gcheckstyle, check-java-strings-have-locale

nplb: Increate media time difference in vertical video tests
  starboard/nplb/vertical_video_test.cc
Due: clang-format, cpplint

add
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: gcheckstyle, check-java-strings-have-locale

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
