Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, run-py2-tests, internal-file-check, gn-format

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  description: Run yapf (the python formatter) in-place on changed files.
  entry: yapf
  language: system
  args:
  - -i
  - -vv

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: python ./precommit_hooks/clang_format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: python ./precommit_hooks/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: Lint Java With gcheckstyle
  entry: python ./precommit_hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-copyright-year:
  name: check copyright year
  entry: python ./precommit_hooks/check_copyright_year.py
  language: python
  stages:
  - push

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: python ./precommit_hooks/warn_that_starboard_interface_changed_wrapper.py
  language: python
  stages:
  - push

test-python3-compatibility:
  name: Test Python 3 Compatibility
  description: Checks that scripts can be run in Python 3
  entry: python precommit_hooks/python3_check.py
  language: python
  verbose: true

run-py2-tests:
  name: Run Python 2 Tests
  description: Run Python 2 unittests
  entry: python precommit_hooks/run_python2_unittests.py
  language: python
  language_version: python2
  additional_dependencies:
  - mock

internal-file-check:
  name: Internal File Check
  entry: python precommit_hooks/internal_file_check_wrapper.py
  language: python

gn-format:
  name: GN format
  entry: gn format
  language: system

Update workflows permissions
  .github/workflows/android.yaml
  .github/workflows/evergreen.yaml
  .github/workflows/linux.yaml
  .github/workflows/main.yaml
  .github/workflows/main_win.yaml
  .github/workflows/raspi-2.yaml
  .github/workflows/stub.yaml
Due: check-copyright-year, internal-file-check

Add pre-commit workflow
  .github/workflows/lint.yaml
Due: check-copyright-year, internal-file-check

Don't use pre-commit action for lint workflow
  .github/workflows/lint.yaml
Due: check-copyright-year, internal-file-check

Edit SOURCE env var
  .github/workflows/lint.yaml
Due: check-copyright-year, internal-file-check

Abstract pre-commit
  .github/actions/pre_commit/action.yaml
  .github/workflows/lint.yaml
Due: check-copyright-year, internal-file-check

Edit to ref
  .github/actions/pre_commit/action.yaml
Due: check-copyright-year, internal-file-check

Change from ref
  .github/workflows/lint.yaml
Due: check-copyright-year, internal-file-check

Test another base sha
  .github/actions/pre_commit/action.yaml
  .github/workflows/lint.yaml
Due: check-copyright-year, internal-file-check

Set fetch-depth to 0
  .github/workflows/lint.yaml
Due: check-copyright-year, internal-file-check

Try a different way of setting base_ref
  .github/workflows/lint.yaml
Due: check-copyright-year, internal-file-check

Add concurrency settings
  .github/workflows/lint.yaml
Due: check-copyright-year, internal-file-check

Add on-device tests
  .github/actions/on_host_test/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
  .github/config/android-arm.json
  .github/config/android-arm64.json
  .github/config/android-x86.json
  .github/config/evergreen-arm-hardfp.json
  .github/config/raspi-2.json
  .github/workflows/main.yaml
  tools/on_device_tests_gateway.proto
  tools/on_device_tests_gateway_client.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, run-py2-tests, internal-file-check

Add on-device tests
  .github/actions/on_host_test/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
  .github/config/android-arm.json
  .github/config/android-arm64.json
  .github/config/android-x86.json
  .github/config/raspi-2.json
  .github/workflows/main.yaml
  tools/on_device_tests_gateway.proto
  tools/on_device_tests_gateway_client.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, run-py2-tests, internal-file-check

Fix on-device arguments
  .github/config/android-arm64.json
  .github/config/android-x86.json
  .github/config/evergreen-arm-hardfp.json
  .github/config/raspi-2.json
  .github/workflows/main.yaml
  tools/on_device_tests_gateway.proto
  tools/on_device_tests_gateway_client.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, run-py2-tests, internal-file-check

Add on-device tests
  .github/actions/on_host_test/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
  .github/config/evergreen-arm-hardfp.json
  .github/config/raspi-2.json
  .github/workflows/main.yaml
  tools/on_device_tests_gateway.proto
  tools/on_device_tests_gateway_client.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, run-py2-tests, internal-file-check

Refactor ODT
  .github/actions/on_device_tests/action.yaml
  .github/workflows/main.yaml
Due: check-copyright-year, internal-file-check

Adding tarfile member sanitization to extractall()
  third_party/boringssl/src/util/bot/go/bootstrap.py
Due: none

Introduce shards
  .github/actions/on_device_tests/action.yaml
  .github/config/android-arm.json
  .github/config/android-arm64.json
  .github/config/android-x86.json
  .github/config/raspi-2.json
  .github/workflows/main.yaml
  tools/on_device_tests_gateway.proto
  tools/on_device_tests_gateway_client.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, run-py2-tests, internal-file-check

Update README.md
  README.md
Due: internal-file-check

Update action.yaml
  .github/actions/on_device_tests/action.yaml
Due: check-copyright-year, internal-file-check

Install pip packages in lint.yaml
  .github/workflows/lint.yaml
Due: check-copyright-year, internal-file-check

Download clang-format dependencies in lint workflow
  .github/workflows/lint.yaml
Due: check-copyright-year, internal-file-check

Download GN in lint workflow
  .github/workflows/lint.yaml
Due: check-copyright-year, internal-file-check

Testing escape character.
  docker/windows/runner/Dockerfile
Due: check-copyright-year, internal-file-check

Restrict workflow permissions
  .github/workflows/lint.yaml
  .github/workflows/main_win.yaml
  .github/workflows/nightly_trigger.yaml
  .github/workflows/win32.yaml
Due: check-copyright-year, internal-file-check

Restrict workflow permissions
  .github/workflows/main.yaml
  .github/workflows/main_win.yaml
  .github/workflows/win32_23.lts.1+.yaml
Due: check-copyright-year, internal-file-check

Restrict workflow permissions
  .github/workflows/main.yaml
Due: check-copyright-year, internal-file-check

Hardcode toplevel directory in bootstrap
  cobalt/bindings/mozjs/bootstrap_path.py
  docker-compose.yml
  docker/linux/android/Dockerfile
  docker/linux/base/Dockerfile
  docker/linux/base/build/Dockerfile
  docker/linux/clang-3-6/Dockerfile
  docker/linux/evergreen/Dockerfile
  docker/linux/linux-x64x11/Dockerfile
  docker/linux/raspi/Dockerfile
  docker/linux/stub/Dockerfile
  docker/linux/unittest/Dockerfile
  tools/copy_and_filter_out_dir.py
  tools/create_archive.py
  tools/download_from_gcs.py
  tools/worker_tools.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, run-py2-tests, internal-file-check

Bring docker and CI related files from GitHub.
  docker-compose.yml
  docker/linux/android/Dockerfile
  docker/linux/base/Dockerfile
  docker/linux/base/build/Dockerfile
  docker/linux/clang-3-6/Dockerfile
  docker/linux/evergreen/Dockerfile
  docker/linux/linux-x64x11/Dockerfile
  docker/linux/raspi/Dockerfile
  docker/linux/stub/Dockerfile
  docker/linux/unittest/Dockerfile
  tools/copy_and_filter_out_dir.py
  tools/create_archive.py
  tools/worker_tools.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, run-py2-tests, internal-file-check

Bring GitHub CI changes.
  docker/linux/unittest/Dockerfile
  tools/download_from_gcs.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, run-py2-tests, internal-file-check

Remove executable bit from pre-commit hooks
  precommit_hooks/clang_format_wrapper.py
  precommit_hooks/gcheckstyle_wrapper.py
  precommit_hooks/google_java_format_wrapper.py
  precommit_hooks/sync_keyboxes_wrapper.py
  tools/on_device_tests_gateway.proto
  tools/on_device_tests_gateway_client.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, run-py2-tests, internal-file-check

Add on device testing scripts for 21.lts.1+
  tools/on_device_tests_gateway.proto
  tools/on_device_tests_gateway_client.py
Due: yapf, pylint, check-copyright-year, test-python3-compatibility, run-py2-tests, internal-file-check

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((^cobalt/bindings/(templates|generated)/|tests?.(cc|h)$)) and not (^(base|build|testing|third_party|tools/gyp)/)
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^(base|build|testing|third_party|tools/gyp)/)
  yapf: any of: \.py$ and not (\.gypi?$) and not (^(base|build|testing|third_party|tools/gyp)/)
  pylint: any of: \.py$ and not (\.gypi?$) and not (^(base|build|testing|third_party|tools/gyp)/)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(base|build|testing|third_party|tools/gyp)/
  google-java-format: any of: \.java$, but not: ^(base|build|testing|third_party|tools/gyp)/
  gcheckstyle: any of: \.java$, but not: ^(base|build|testing|third_party|tools/gyp)/
  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not (^cobalt/layout_tests/testdata/) and not (^(base|build|testing|third_party|tools/gyp)/)
  check-if-starboard-interface-changed: any of: ^starboard/*.h$, but not: ^(base|build|testing|third_party|tools/gyp)/
  test-python3-compatibility: any of: \.py$, but not: ^(base|build|testing|third_party|tools/gyp)/
  run-py2-tests: any of: \.py$, but not: ^(base|build|testing|third_party|tools/gyp)/
  internal-file-check: any of: not (EXCLUDE\.FILES(\.RECURSIVE)?$), but not: ^(base|build|testing|third_party|tools/gyp)/
  gn-format: any of: .*\.gni?$, but not: ^(base|build|testing|third_party|tools/gyp)/
