Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: chromium-pre-commit, clang-format, cpplint, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format, check-java-strings-have-locale

Path conditions:
  chromium-pre-commit: any of: ^.*$ and not ((?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^cobalt/common/features/starboard_features_initialization.cc$|
    ^cobalt/shell/app/resource.h$|
    ^starboard/shared/uikit/.*\.h$|
    ^starboard/shared/starboard/starboard_feature_test.cc$|
    ^starboard/shared/starboard/link_receiver.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)
  check-java-strings-have-locale: any of: \.java$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
        starboard/contrib/rdk|
    )/
)
)

ci: skip the whole pipeline for documentation-only pull requests
  .github/actions/evaluate_ci_prune/action.yaml
  .github/workflows/main.yaml
Due: none

ci: add a ci-dry-run label to exercise CI orchestration without building
  .github/actions/build/action.yaml
  .github/actions/on_host_tests/action.yaml
  .github/workflows/main.yaml
Due: none

Cherry pick PR #12649: Remove unused COBALT_PENDING_CLEAN_UP check
  .github/AUTOROLL
  base/functional/unretained_traits.h
Due: none

ci: let the ci-dry-run label trigger a rerun
  .github/workflows/workflow_dispatcher.yaml
Due: none

ci: prune per-platform builds with gn analyze
  .github/actions/build/action.yaml
  .github/actions/check_pruned/action.yaml
  .github/workflows/main.yaml
Due: none

Platform-specific mime param
  starboard/android/shared/BUILD.gn
  starboard/android/shared/media_is_video_supported.cc
  starboard/android/shared/mime_param.h
  starboard/android/shared/player_components_factory.cc
  starboard/shared/starboard/media/mime_param.h
  starboard/shared/starboard/media/mime_param_test.cc
  starboard/shared/starboard/media/mime_type_test.cc
  starboard/tvos/shared/media_is_video_supported.mm
Due: clang-format, cpplint, gn-format

IWYU
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.h
  cobalt/browser/metrics/cobalt_memory_metrics_emitter_unittest.cc
Due: clang-format, cpplint

ci: Resolve workflow run ID for manual trigger in CI Shepherd
  .github/workflows/ci_shepherd.yml
Due: none

agents: Remove stacked PRs and workspace isolation protocol sections
  .agent/skills/pr-shepherd/SKILL.md
  .agent/skills/pr-shepherd/resources/triage_agent.md
Due: none

starboard: Do not dereference the address to symbolize
  cobalt/site/docs/reference/starboard/modules/18/system.md
  cobalt/site/docs/reference/starboard/modules/system.md
  starboard/nplb/system_symbolize_test.cc
  starboard/shared/linux/system_symbolize.cc
  starboard/system.h
Due: clang-format, cpplint

[AI] Checkpoint: Resolved Phase 1 merge conflicts
  DEPS
  cc/layers/heads_up_display_layer_impl.cc
  components/permissions/BUILD.gn
  components/services/storage/dom_storage/leveldb/dom_storage_batch_operation_leveldb.cc
  components/services/storage/dom_storage/leveldb/dom_storage_database_leveldb.cc
  components/update_client/url_fetcher_downloader.cc
  content/browser/browser_interface_binders.cc
  content/browser/renderer_host/navigation_request.cc
  content/browser/storage_partition_impl_unittest.cc
  content/shell/android/BUILD.gn
  gpu/command_buffer/service/image_reader_gl_owner.cc
  gpu/command_buffer/service/shared_image/ozone_image_backing_factory.cc
  services/network/BUILD.gn
  services/network/network_context.cc
  services/network/network_service.cc
  services/network/network_service.h
  services/on_device_model/ml/ts_model.cc
  skia/BUILD.gn
  skia/ext/font_utils.cc
  third_party/android_deps/build.gradle
  third_party/blink/renderer/core/BUILD.gn
  third_party/blink/renderer/core/html/media/html_media_element.cc
  third_party/blink/web_tests/TestExpectations
  third_party/freetype/BUILD.gn
  third_party/perfetto/src/base/periodic_task.cc
  ui/gfx/BUILD.gn
Due: none

incognito mode for test
  gpu/command_buffer/service/gr_shader_cache_unittest.cc
Due: none

agents: Address code review feedback for CODEOWNERS resolver
  .agent/skills/critic_review/scripts/resolve_codeowners.py
Due: none

cobalt: wire CobaltSystemMemoryPressureEvaluator with dynamic media capacity
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_main_parts.cc
  cobalt/browser/cobalt_browser_main_parts.h
  cobalt/browser/features.cc
  cobalt/browser/features.h
  cobalt/memory/BUILD.gn
  cobalt/memory/cobalt_system_memory_pressure_evaluator.cc
  cobalt/memory/cobalt_system_memory_pressure_evaluator.h
  cobalt/memory/cobalt_system_memory_pressure_evaluator_unittest.cc
Due: clang-format, cpplint, gcheckstyle, gn-format, check-java-strings-have-locale

Resolve review comments x 2
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_memory_metrics_emitter_unittest.cc
  cobalt/browser/metrics/cobalt_metrics_browsertest.cc
Due: clang-format, cpplint

docker: Consolidate multi-stage Dockerfile and inline base builds
  .github/actions/docker/action.yaml
  .github/workflows/main.yaml
  cobalt/docker/Dockerfile
  cobalt/docker/base/Dockerfile
  cobalt/docker/linux/Dockerfile
  cobalt/docker/pre-commit/Dockerfile
  cobalt/docker/rdk/Dockerfile
  cobalt/docker/unittest/Dockerfile
  cobalt/docker/webtest/Dockerfile
  docker-compose.yaml
Due: none

build: Disable memory tagging for all Cobalt builds in copied_base
  copied_base/base/allocator/partition_allocator/partition_alloc_config.h
Due: none

agents: Add AGENTS.md with mandatory CODEOWNERS review policy
  .agent/AGENTS.md
Due: none

agents: Simplify Source Code Control Policy in AGENTS.md
  .agent/AGENTS.md
Due: none

cobalt: Wire kSbMaxSystemPathCacheDirectorySize to default HTTP cache size
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/browser/cobalt_content_browser_client_unittest.cc
Due: clang-format, cpplint

Add finch flag
  cobalt/browser/features.cc
  cobalt/browser/features.h
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
Due: clang-format, cpplint

agents: Move cobalt-ci-reviewer to codeowners and update placeholder reviewer prompts
  .agent/skills/critic_review/resources/reviewers/codeowners/cobalt-3p-reviewer.md
  .agent/skills/critic_review/resources/reviewers/codeowners/cobalt-androidtv-reviewer.md
  .agent/skills/critic_review/resources/reviewers/codeowners/cobalt-build-reviewer.md
  .agent/skills/critic_review/resources/reviewers/codeowners/cobalt-ci-reviewer.md
  .agent/skills/critic_review/resources/reviewers/codeowners/cobalt-media-reviewer.md
  .agent/skills/critic_review/resources/reviewers/codeowners/cobalt-starboard-reviewer.md
  .agent/skills/critic_review/resources/reviewers/codeowners/cobalt-tvos-reviewer.md
  .agent/skills/critic_review/resources/reviewers/codeowners/cobalt-web-api-reviewer.md
  .agent/skills/critic_review/resources/reviewers/codeowners/starboard-rdk-reviewer.md
Due: none

linux: Expose Evergreen libraries to ASan
  starboard/elf_loader/BUILD.gn
  starboard/elf_loader/dl_iterate_phdr_override.cc
  starboard/elf_loader/dl_iterate_phdr_override.h
  starboard/elf_loader/dl_iterate_phdr_override_test.cc
Due: clang-format, cpplint, gn-format

Fixing gclient
  cobalt/devinfra/kokoro/bin/build_mac.sh
  cobalt/devinfra/kokoro/bin/dind_build.sh
  cobalt/devinfra/kokoro/bin/presubmit_build_mac.sh
  cobalt/devinfra/kokoro/docker-compose.yaml
Due: none

CONFLICTED Cherry pick PR #12548: Remove DecimalTest.Remainder from cobalt_unittests filter
  .github/AUTOROLL
  cobalt/testing/filters/android-arm64/cobalt_unittests_filter.json
Due: none

WIP: AI automated rebase partial progress (build unverified)
  cc/layers/heads_up_display_layer_impl.cc
  cobalt/browser/client_hint_headers/cobalt_trusted_header_client.cc
  cobalt/browser/client_hint_headers/cobalt_trusted_header_client.h
  cobalt/shell/browser/shell_devtools_bindings.cc
  components/services/storage/dom_storage/leveldb/dom_storage_batch_operation_leveldb.cc
  components/services/storage/dom_storage/leveldb/dom_storage_database_leveldb.cc
  content/browser/BUILD.gn
  content/browser/renderer_host/navigation_request.cc
  services/network/network_service.cc
  services/network/network_service.h
  services/on_device_model/ml/ts_model.cc
  skia/ext/font_utils.cc
  third_party/blink/renderer/core/BUILD.gn
  third_party/blink/renderer/platform/network/mime/content_type.h
  third_party/perfetto/src/base/paged_memory_unittest.cc
  third_party/perfetto/src/base/periodic_task.cc
  third_party/perfetto/src/base/unix_socket.cc
  third_party/perfetto/src/base/vm_sockets.h
  third_party/perfetto/src/profiling/symbolizer/filesystem_posix.cc
Due: clang-format, cpplint

RESOLVED Cherry pick PR #12548: Remove DecimalTest.Remainder from cobalt_unittests filter
  .github/AUTOROLL
  cobalt/testing/filters/android-arm64/cobalt_unittests_filter.json
Due: none

CONFLICTED Cherry pick PR #12548: Remove DecimalTest.Remainder from cobalt_unittests filter (#12752)
  .github/AUTOROLL
  cobalt/testing/filters/android-arm64/cobalt_unittests_filter.json
Due: none

agents: Move codeowners folder to resources/codeowners
  .agent/skills/critic_review/SKILL.md
  .agent/skills/critic_review/references/arbiter.md
  .agent/skills/critic_review/resources/codeowners/cobalt-3p-reviewer.md
  .agent/skills/critic_review/resources/codeowners/cobalt-androidtv-reviewer.md
  .agent/skills/critic_review/resources/codeowners/cobalt-build-reviewer.md
  .agent/skills/critic_review/resources/codeowners/cobalt-ci-reviewer.md
  .agent/skills/critic_review/resources/codeowners/cobalt-media-reviewer.md
  .agent/skills/critic_review/resources/codeowners/cobalt-starboard-reviewer.md
  .agent/skills/critic_review/resources/codeowners/cobalt-tvos-reviewer.md
  .agent/skills/critic_review/resources/codeowners/cobalt-web-api-reviewer.md
  .agent/skills/critic_review/resources/codeowners/starboard-rdk-reviewer.md
Due: none

Handle the last line without newline-terminates
  cobalt/browser/metrics/cobalt_memory_metrics_emitter.cc
  cobalt/browser/metrics/cobalt_memory_metrics_emitter_unittest.cc
Due: clang-format, cpplint

agents: Remove redundant .style.yapf from critic_review skill
  .agent/skills/critic_review/.style.yapf
Due: none

CONFLICTED Cherry pick PR #12707: ci: Move the aosp evergreen build under evergreen-arm-softfp
  .github/AUTOROLL
  .github/actions/build/action.yaml
  .github/actions/depot_tools/action.yaml
  .github/config/evergreen-arm-softfp-aosp.json
  .github/workflows/aosp_staging.yaml
  .github/workflows/evergreen_staging.yaml
  cobalt/build/configs/evergreen-arm-softfp-aosp/args.gn
  cobalt/build/gn.py
  cobalt/build/testing/targets/evergreen-arm-softfp-aosp/test_targets.json
  cobalt/site/docs/development/setup-aosp.md
  cobalt/testing/filters/evergreen-arm-softfp-aosp/nplb_loader_filter.json
Due: yapf, pylint, python3-compatibility-check, gn-format

agents: Remove arbiter role from critic-review skill
  .agent/skills/critic_review/SKILL.md
  .agent/skills/critic_review/references/arbiter.md
Due: none

RESOLVED Cherry pick PR #12707: ci: Move the aosp evergreen build under evergreen-arm-softfp
  .github/AUTOROLL
  .github/actions/depot_tools/action.yaml
Due: none
