Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf, pylint, google-java-format, gcheckstyle, check-copyright-year, check-if-starboard-interface-changed, test-python3-compatibility, internal-file-check, gn-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^cobalt/bindings/(templates|generated)/|
    ^internal/starboard/shared/uikit/.*\.h$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  yapf: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  pylint: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  google-java-format: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gcheckstyle: any of: \.java$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  check-copyright-year: any of: not (\.(md|markdown|mdown)$) and not ((?x)^(
    .pre-commit-config.yaml$|
    cobalt/media/|
    cobalt/layout_tests/testdata/|
    nb/|
    starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.cc$|
    starboard/shared/starboard/player/filter/decoded_audio_queue.h$|
    starboard/shared/starboard/player/filter/wsola_internal.cc$
)
) and not ((?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)
)
  check-if-starboard-interface-changed: any of: ^starboard/[^/]+\.h$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  test-python3-compatibility: any of: \.py$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  internal-file-check: any of: not ((^docker-compose-windows(-internal)?.yml|EXCLUDE\.FILES(\.RECURSIVE)?|codereview\.settings)$), but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)

  gn-format: any of: .*\.gni?$, but not: (?x)^(
    (
        base|
        build|
        buildtools|
        components/crash/core/common|
        components/metrics|
        components/metrics_services_manager|
        components/ukm|
        components/variations|
        components/version_info|
        crypto|
        extensions/buildflags|
        net|
        internal/starboard/shared/playstation/glimp/shaders|
        testing|
        third_party|
        tools/gyp|
        url
    )/
    |
    components/update_client/((?!cobalt).)*$
    |
    .*\.sig$
)


Add TODO for all_dependent_configs
  base/BUILD.gn
  cobalt/network/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Have linter ignore //ui
  .pre-commit-config.yaml
Due: internal-file-check

Have linter ignore //media
  .pre-commit-config.yaml
Due: internal-file-check

Add linter newline
  cobalt/network/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Fix a few cert tests
  net/BUILD.gn
  net/cert/cert_verify_proc_unittest.cc
  net/cert/pki/crl.cc
  net/cert/pki/revocation_util.cc
  net/cert/pki/revocation_util.h
  net/cert/test_root_certs_unittest.cc
  net/der/encode_values.cc
  third_party/boringssl/src/include/openssl/time.h
Due: none

Fix spdy/* tests
  net/BUILD.gn
  net/spdy/fuzzing/hpack_fuzz_util_test.cc
Due: none

Cherry pick PR #1527: Cleanup mime attribute of forceimprovedsupportcheck (#2630)
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecUtil.java
  starboard/android/shared/media_capabilities_cache.cc
  starboard/android/shared/media_capabilities_cache.h
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/media_is_video_supported.cc
  starboard/android/shared/player_components_factory.h
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
Due: clang-format, cpplint, google-java-format, gcheckstyle, check-copyright-year, internal-file-check

Cleanup mime attribute of decoder_cache_ttl_ms (#1537)
  starboard/android/shared/media_is_video_supported.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Cherry pick PR #1966: [XB1] Replace mft av1 decoder by sw dav1d based decoder in XBOX Series (#2603)
  starboard/shared/uwp/extended_resources_manager.cc
  starboard/shared/uwp/media_is_video_supported.cc
  starboard/xb1/shared/video_decoder_uwp.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

[XB1] Improve readability (#2607)
  starboard/xb1/shared/video_decoder_uwp.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Install pre-commit requirements with hashes
  .github/workflows/lint.yaml
  precommit_hooks/requirements.in
  precommit_hooks/requirements.txt
Due: check-copyright-year, internal-file-check

[CVE-2024-25062] xmlreader: Don't expand XIncludes when backtracking
  third_party/libxml/src/xmlreader.c
Due: none

Add Identifier messages to METADATA file
  third_party/angle/METADATA
Due: none

Update LTS minor version to 31
  cobalt/version.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Publish DEPS for Chromium 66.0.3359.203
  BUILD.gn
  DEPS
  EGL/egl.h
  EGL/eglext.h
  EGL/eglplatform.h
  GLES2/gl2.h
  GLES2/gl2ext.h
  GLES2/gl2platform.h
  GLES3/gl3.h
  GLES3/gl31.h
  GLES3/gl32.h
  GLES3/gl3platform.h
  KHR/khrplatform.h
  LICENSE
  OWNERS
  README.chromium
  noninclude/GL/glext.h
  noninclude/GL/glxext.h
  noninclude/GL/wglext.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Update LTS minor version to 31 (#2639)
  cobalt/version.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Add Identifier messages to METADATA file
  third_party/mini_chromium/METADATA
Due: none

Cherry pick PR #1537: Cleanup mime attribute of decoder_cache_ttl_ms (#2634)
  starboard/android/shared/media_is_video_supported.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Add musl socket APIs for pre-SB16
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/posix_compliance/posix_file_close_test.cc
  starboard/nplb/posix_compliance/posix_file_open_test.cc
  starboard/nplb/posix_compliance/posix_socket_accept_test.cc
  starboard/nplb/posix_compliance/posix_socket_listen_test.cc
  third_party/musl/BUILD.gn
  third_party/musl/src/starboard/network/socket.c
Due: clang-format, cpplint, check-copyright-year, internal-file-check

base unittests building with many disabled
  base/BUILD.gn
  base/bits.h
  base/compiler_specific.h
  base/component_export.h
  base/files/file_util_starboard.cc
  base/functional/callback_tags.h
  base/functional/function_ref_unittest.cc
  base/logging.cc
  base/metrics/persistent_memory_allocator.cc
  base/notreached.h
  base/parameter_pack.h
  base/pickle_unittest.cc
  base/power_monitor/battery_level_provider_unittest.cc
  base/profiler/stack_copier_suspend_unittest.cc
  base/profiler/stack_sampling_profiler_test_util.cc
  base/sampling_heap_profiler/sampling_heap_profiler.cc
  base/security_unittest.cc
  base/strings/string_util_starboard.cc
  base/strings/string_util_starboard.h
  base/substring_set_matcher/substring_set_matcher.h
  base/task/sequence_manager/hierarchical_timing_wheel.h
  base/task/single_thread_task_executor_unittest.cc
  base/task/thread_pool/test_utils.cc
  base/task/thread_pool/test_utils.h
  base/test/BUILD.gn
  base/test/power_monitor_test_utils.cc
  base/test/test_suite.cc
  base/third_party/double_conversion/BUILD.gn
  base/third_party/nspr/prtime.cc
  base/values.h
  starboard/win/win32/platform_configuration/BUILD.gn
  third_party/abseil-cpp/absl/log/internal/BUILD.gn
  third_party/abseil-cpp/absl/log/internal/log_sink_set.cc
  third_party/abseil-cpp/absl/random/internal/BUILD.gn
  third_party/abseil-cpp/absl/random/internal/pool_urbg.cc
Due: check-copyright-year, internal-file-check, gn-format

changes for net
  base/BUILD.gn
  base/containers/flat_tree.h
  base/export_template.h
  base/logging.h
  base/metrics/histogram_macros.h
  base/metrics/histogram_macros_local.h
  base/test/native_library_test_utils.h
  net/BUILD.gn
  net/base/ip_endpoint.h
  net/base/network_interfaces.cc
  net/base/port_util.cc
  net/base/sys_addrinfo.h
  net/base/trace_event_stub.h
  net/cert/cert_verify_proc_builtin.cc
  net/cert/internal/revocation_checker.h
  net/disk_cache/disk_cache_backend.cc
  net/disk_cache/simple/simple_index.cc
  net/dns/BUILD.gn
  net/dns/address_info.cc
  net/dns/host_resolver_internal_result.cc
  net/dns/host_resolver_manager.cc
  net/dns/mock_host_resolver.h
  net/dns/public/BUILD.gn
  net/quic/platform/impl/quic_test_flags_utils.cc
  net/test/embedded_test_server/request_handler_util.h
  net/third_party/quiche/BUILD.gn
  net/third_party/quiche/overrides/quiche_platform_impl/quiche_default_proof_providers_impl.cc
  net/third_party/quiche/overrides/quiche_platform_impl/quiche_iovec_impl.h
  net/third_party/quiche/overrides/quiche_platform_impl/quiche_logging_impl.h
  net/third_party/quiche/src/quiche/common/platform/default/quiche_platform_impl/quiche_flags_impl.cc
  net/third_party/quiche/src/quiche/quic/core/frames/quic_frame.h
  starboard/win/win32/platform_configuration/BUILD.gn
  third_party/googletest/src/googlemock/include/gmock/gmock-nice-strict.h
  url/gurl_unittest.cc
Due: check-copyright-year, internal-file-check, gn-format

Windows compiling all target
  base/compiler_specific.h
  cobalt/base/console_log.h
  cobalt/browser/browser_module.cc
  cobalt/layout_tests/web_platform_tests.cc
  cobalt/network/url_request_context.cc
  crypto/secure_hash_unittest.cc
  starboard/win/win32/platform_configuration/BUILD.gn
  third_party/icu/BUILD.gn
Due: clang-format, cpplint, check-copyright-year, internal-file-check, gn-format

Centralize removal of problematic Windows macros
  starboard/shared/win32/posix_emu/include/_remove_problematic_windows_macros.h
  starboard/shared/win32/posix_emu/include/arpa/inet.h
  starboard/shared/win32/posix_emu/include/pthread.h
  starboard/shared/win32/posix_emu/include/sys/socket.h
  starboard/shared/win32/posix_emu/include/sys/time.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Enable win32 gha
  .github/workflows/win32.yaml
Due: check-copyright-year, internal-file-check

Fixes after rebase
  cobalt/network/url_request_context.cc
  net/dns/BUILD.gn
  net/dns/context_host_resolver_unittest.cc
  net/dns/dns_names_util_unittest.cc
  net/third_party/quiche/src/quiche/common/quiche_ip_address.h
  starboard/shared/win32/posix_emu/include/_remove_problematic_windows_macros.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Changes for other configs/platforms
  base/threading/thread_restrictions.h
  net/base/sys_addrinfo.h
  starboard/win/win32/platform_configuration/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Fixes for posix platforms
  base/strings/string_util_starboard.cc
  net/base/sys_addrinfo.h
  net/dns/host_resolver_manager.cc
Due: none

Fix win debug build
  starboard/win/win32/platform_configuration/BUILD.gn
Due: check-copyright-year, internal-file-check, gn-format

Clang-format files
  cobalt/base/console_log.h
Due: clang-format, cpplint, check-copyright-year, internal-file-check

Revert changes to crypto unittest
  crypto/BUILD.gn
  crypto/secure_hash_unittest.cc
Due: none

Fix battery level test
  base/power_monitor/battery_level_provider_unittest.cc
Due: none

Add missing comma to battery test
  base/power_monitor/battery_level_provider_unittest.cc
Due: none

Address comments
  base/export_template.h
  base/logging.cc
  base/metrics/persistent_memory_allocator.cc
  net/cert/cert_verify_proc_builtin.cc
  net/cert/internal/revocation_checker.h
  net/disk_cache/disk_cache_backend.cc
  net/dns/dns_names_util_unittest.cc
  third_party/abseil-cpp/absl/random/internal/BUILD.gn
  third_party/googletest/src/googlemock/include/gmock/gmock-nice-strict.h
  third_party/icu/BUILD.gn
Due: none

Add 3-arg histogram
  starboard/common/stats.h
  starboard/common/stats_test.cc
Due: clang-format, cpplint, check-copyright-year, internal-file-check
